[2015-12-29 10:01] staehler commented on #3618
Moved to openhab.android

[2015-12-29 10:01] #3618 closed

[2015-12-29 11:44] drewwaite opened #3619 "Add to Z-Wave Database"
Please add these z-wave devices to the database:

1. Fibaro System  ID:3000 Type:c00
Fibaro Smoke Sensor
New: FGSS001
Appears to be identical to FGSS101

2. Aeon Labs ID:59 Type:202
Recessed Door Sensor - ZW089-B
Identical to the ZW089 already in the database.

Thanks,
Andrew

[2015-12-29 11:52] drewwaite opened #3620 "Please add to Z-Wave Database-Remotec ZXT-120AU"
Can you please add the Remotec ZXT-120AU to the database. It already appears but with a differing ID and type.

[ID:8377, Type:102]

Thanks.

Andrew

[2015-12-29 13:17] vsaw commented on #1702
I'm facing a similar issue with my openHAB 1.7.1 installation at home. From time to time openHAB just snaps and consumes 100% CPU on two cores.

The interesting difference is that I don't have the my.openHAB plugin installed, in fact I have no plugin installed at all but I still get the feeling it's because of the Websocket connection used by the openHAB web interface. Because it only occurs when

[2015-12-29 13:29] akileos commented on #1702
Hello Valentin,

 Are you sure you have no plugins at all ? Having plugins in a subfolder
will still load them, double check that the directory is really empty!

Regards,

RB

On Tue, Dec 29, 2015 at 2:18 PM, Valentin <notifications@github.com> wrote:

[2015-12-29 13:32] TheNetStriker commented on #3523
The new version seams to run fine, no event has gone missing so far. But I had to restart my OpenHAB server a few times, so I'm not yet sure if the problem appears again after one week with no restart.

[2015-12-29 13:33] vsaw commented on #1702
@akileos Here's my **complete** addons folder

[code]

`README` is the stock text file that resides in the folder. So yeah there should be no plugins running.

[2015-12-29 16:06] steve-bate commented on #3579
@berndpfrommer I've created an initial prototype of the ramponoff feature. The prototype is working, but I have a few questions. The ramptime only supports discrete, specific values. Were you thinking of a table lookup that would translate a requested ramp time to the nearest supported time?

The reply message is a direct ack. I see the `MessageDispatcher` converts the cmd1 value (0x34 or 0x35) to

[2015-12-29 16:27] watou commented on #3579
An alternative to a multi-valued string item could be an action bundle.  An action call in a rule that triggered on an item receiving commands could be a clean solution.

[2015-12-29 17:07] berndpfrommer commented on #3579
@steve-bate , you are right that in this case the cmd1 key could be used to invoke the handler, but is overwritten by key=0x19. The majority of devices returns the (useless) database delta in cmd1, which is why the code is that way. I have yet to figure out what the database delta is good for.
Suggestion: write a message handler "RampOnOffSwitchHandler" and install it for key 0x19. Then inside the

[2015-12-29 21:20] mlukjani commented on #3383
I have same issue, but only when I tried to connect second system to Satel via integration option / Satel binding.
When I am connecting just one I got answer:
2015-12-29 21:30:41.781 [INFO ] [o.o.b.s.i.protocol.Ethm1Module] - Closing connection to ETHM-1 module
2015-12-29 21:30:42.781 [INFO ] [o.o.b.s.i.protocol.Ethm1Module] - Connecting to ETHM-1 module at 192.168.1.105:7094
2015-12-29 21:30:42.7

[2015-12-29 23:31] #3531 closed

[2015-12-30 08:49] watou opened #3626 "Jenkins build failing"
Please look at [console output](https://openhab.ci.cloudbees.com/job/openHAB/lastFailedBuild/console) for broken OH1 build.  A number of OH2 features seem to be pulled into OH1 during the build now, and it fails.  Why does the OH1 build need to pull in Karaf, for example?

Builds fail locally and on Jenkins now.

@kaikreuzer @teichsta

[2015-12-30 09:35] kaikreuzer commented on #3626
I'll have a look.
The dependency was introduced with https://github.com/openhab/openhab/pull/3614 - it is a preparation for the new openHAB distribution , which will become the main one after the 1.8 release.

[2015-12-30 09:59] kaikreuzer commented on #3626
Ok, build seems to be running again. The problem was indeed an accidental reference to version 2.0 instead of 1.8.

[2015-12-30 10:02] watou commented on #3626
Thank you, Kai!

[2015-12-30 10:20] watou commented on #3626
After #3627, build still fails locally and on Jenkins.  Local failure end:
[code]

[2015-12-30 10:22] #3626 closed

[2015-12-30 10:22] kaikreuzer commented on #3626
Next try ;-)

[2015-12-30 10:36] dafal opened #3629 "KNX binding via NAT"
Hi,

I have just migrated my openhab server at home from a centos server to a docker container. Everything just works fine except the KNX binding. I found the reason for this. I see in the code (KNXConnection.java) that the KNXNetworLink method return a KNXNetworkLinkIP with by default the useNat param set to false (line 263). However, when you use openhab in a docker you have to use NAT (managed

[2015-12-30 11:16] robertoinberlin commented on #3611
oops, my fault.
got confused by default users.cfg file:
<code>user=password,user,role</code>

[2015-12-30 11:18] markusmazurczak opened #3631 "Philips Hue Binding: Osram PAR16 60 TW Workaround"
Osram PAR16 50 TW bulbs are having a firmware issue which prevents the lights from turning off and on correctly.
By turning off, the lights will just get dimmed down but not really shut down and if you try to turn it back on to full brightness it will not work.

The change I've done was tested in my environment and has been tested also by Arsur: https://community.openhab.org/t/osram-par16-50-tw-on

[2015-12-30 11:20] watou commented on #3611
I will re-open this issue to correct the default users.cfg file so it doesn't mislead others.  Thanks for reporting the resolution for you.

[2015-12-30 11:34] markusmazurczak commented on #3631
Opened PR https://github.com/openhab/openhab/pull/3633

[2015-12-30 11:40] julesbike opened #3635 "RFXcom binding crashing on XP"
I have setup the RFXtrx433e on an old XP platform and using the RFXmanager tool I can program and control Somfy shutters.   I have added the binding and configured the COM port in .cfg as per the instructions but when Openhab loads I get a Java error which I have attached.   Any idea what this might be.  To be certain it was not a Sitemap or Items issue I removed all references to it and it still

[2015-12-30 12:06] watou opened #3638 "Stale Bundle-Versions"
Which of these needs to be updated to `1.8.0.qualifier`, @teichsta?
[code]

[2015-12-30 15:44] dominicdesu opened #3643 "Convert GoogleTTS binding into general WebServiceTTS binding"
As the GoogleTTS doesn't seem to work anymore (see [here](https://community.openhab.org/t/googletts-responding-with-503-error-even-after-the-url-fix/3385)), I would propose to replace it with a general binding for calling an HTTP "webservice". This way it should be possible to use e.g. [VoiceRSS](http://www.voicerss.org).

If you agree that this makes sense I would check what has to be adjusted an

[2015-12-30 15:56] SuneBielefeldt opened #3644 "Multiple Raspberry Pi units as OpenHAB nodes"
I am inexperienced in OpenHab, but studied it a lot about it in recent months.

My question deals with OpenHAB architecture / infrastructure.

I want to set up a OpenHAB server based on Raspberry Pi 2, or a dedicated Linux server.

I want to use network connected Raspberry Pi units for management and control of lighting, garage doors, temperature measurement, thermal management, monitoring pellet

[2015-12-30 16:01] watou commented on #3644
Hi @SuneBielefeldt, please use the community forum at https://community.openhab.org for questions.  There is a way to tie together multiple openHAB instances using the MQTT Event Bus binding, and possibly other ways, but please create a topic at the community forum to continue this subject where others can join in.  Thank you!

[2015-12-30 16:01] #3644 closed

[2015-12-30 16:58] watou commented on #3643
Would it be better to flesh this out in a discussion at https://community.openhab.org ?  I would be interested to see there the objectives, and advantages and disadvantages of different approaches.  Please close this and start a topic there if you agree.  Thanks.

[2015-12-30 17:29] MrMerlino commented on #2863
Hello!
Don't know if can be useful anyway i try extract data from my tablet.
On the app there is:
libopenssl2 library
rootcert.pem
rootkey.pem
cert.rsa and cert.sf file
Not sure but the app lookslike just a webapp.
Thanks in advance

[2015-12-30 20:41] RemcoteWinkel commented on #2863
Could be interesting, if the tablet is able to access the AC through SSL. I am still trying to convince Samsung to fix the problem.Their last remark on this issue is "We will improve the function and quality of our procudt step by step based on your opinion.". Once again it will help if others complain as well. For instance by mailing the company that is in your service manual.

[2015-12-30 20:42] SkynetHome commented on #3619
How do I get rid of all of the other fing commits. They are showing up in the new request I was about to pull?

[2015-12-30 20:55] teichsta commented on #1340
PR has been merged so we can close this issue.

[2015-12-30 20:55] #1340 closed

[2015-12-30 20:56] teichsta commented on #875
merged with #3386

[2015-12-30 20:56] #875 closed

[2015-12-30 20:58] teichsta commented on #1527
@digitaldan could you help to get this done, finally (very soon since today is the last chance :-))?

[2015-12-30 20:59] teichsta commented on #1643
any news @digitaldan?

[2015-12-30 21:01] kaikreuzer commented on #3643
My suggestion is to continue this discussion at https://github.com/eclipse/smarthome/issues/584 - with this, I anyhow plan to decouple the TTS audio stream generation from playing the stream, so that not all the bindings (like Sonos, Squeezebox etc.) have to implement the TTS support over and over again, but only have to be an "audio sink", so that text is spoken independently of which TTS engine

[2015-12-30 21:01] #3643 closed

[2015-12-30 21:05] cdjackson commented on #3619
It’s probably easiest to just change to master and create a new branch and make the change there since it’s only a small change.

[2015-12-30 21:06] teichsta commented on #2968
this issue can be closed is guess as both referenced PRs has been merged meanwhile

[2015-12-30 21:06] #2968 closed

[2015-12-30 21:10] SkynetHome commented on #3619
Thats what I did but every time I go to pull it yanks all these commits from branches that I have deleted
just did git reset --hard and git -f -d and now things look good on my end I guess I just push that back up and hopefully it gets rid of those unwanted commits

[2015-12-30 21:13] teichsta commented on #3101
any update on this? @Speederc did you send a PR meanwhile? Admittedly i didn't remember …

[2015-12-30 21:14] SkynetHome commented on #3619
nothing I do gets rid of these unwanted commits. And here I though was going to come on here and make a quick PR and get back to work.

[2015-12-30 21:15] cdjackson commented on #3619
Have you made these changes directly into master, or merged them into master already? Somehow you presumably need to get a clean master branch...

[2015-12-30 21:18] SkynetHome commented on #3619
I fetched and merged earlier today because the commits I made last night couldnt be merged. Then I changed branches committed and pulled. Thats when I noticed all of the crap I waded through last night got pulled into today's request. I try to rebase but only the latest commit shows up.  I try to just create a different branch from master and make changes there but for some reason nothing updates

[2015-12-30 21:19] hlat commented on #3335
Chris?

[2015-12-30 21:20] SkynetHome commented on #3619
I guess at some point changes were made to master

[2015-12-30 21:20] cdjackson commented on #3619
It sounds like you merged your changes into master, rather than master into your new branch. You might need to roll back, although this might be a bess… might be better to download again to reset...

[2015-12-30 21:21] SkynetHome commented on #3619
by download again do you mean reclone my fork and reset eclipse with that

[2015-12-30 21:22] cdjackson commented on #3335
Sorry - I’d suggest to close this and open another for the relay… When you open the new issue, please provide the type/id of the device and also the XML if there is one...

[2015-12-30 21:38] #3335 closed

[2015-12-30 21:39] SkynetHome commented on #3619
I just deleted my fork and reforked...will clone and start over from there

[2015-12-30 22:10] digitaldan commented on #1527
Yep, working on it now ;-)

[2015-12-30 22:33] Speederc commented on #3101
As I didn't get any feedback from Tscherno and I don't have this sensor to test the modification, I didn't create a PR. We can bet to win and add it directly. What do you think ?

[2015-12-30 22:45] digitaldan commented on #1527
@teichsta I just created a PR with the updated Jar.  Since we have updated our atmosphere version since forking the atmosphere project can you bring the openhab version up to date?  I created a branch in my repo based off the tag "atmosphere-project-2.2.5" here:
https://github.com/digitaldan/atmosphere/tree/atmosphere-project-2.2.5-patched

Do you want to create a branch based of this tag and then

[2015-12-30 22:49] digitaldan commented on #1643
Nope :-( There was not a easy solution to this and I did not pursue a fix.

[2015-12-30 23:31] MrMerlino commented on #2863
The connection is a normal encrypted connection;
lookslike that works like this:
AC send request to tablet
tablet answer with a certificate (AC14K_M-KeyStore.bks).
The file is a bouncy castle -> https://en.wikipedia.org/wiki/Bouncy_Castle_(cryptography)

[2015-12-31 00:36] vsaw commented on #2748
I just gave the [influxdb1](https://github.com/openhab/openhab/issues/2748#issuecomment-153140747) addon by @theoweiss a try against InfluxDB 0.9.6.1. While I got data into InfluxDB using this plugin `restoreOnStartup` is not working for me.

Looking at the traces I see the following

[code]

Trying the query string directly in `influx` results in

[code]

Looking at [`InfluxDBPersistenceService.j

[2015-12-31 03:41] robnielsen commented on #3579
Good News, I grabbed Steve's PR branch and updated the my dimmer switch and it works! Here's how it looks now:
[code]
Steve, can you add ramponoff for the 2466D to your PR? I'll try the KeypadLink's tomorrow, along with my LED bulb. The KeypadLink will require new features.

Rob

[2015-12-31 04:46] SkynetHome commented on #3514
What is the Type and ID of your device? Are you saying that openHAB is reading it as indoor plug and applying the 05483 parameters to it or that the 05483 parameters are correct and just mislabeled as Outdoor?

[2015-12-31 05:04] SkynetHome commented on #3446
I have myself mistakenly wasted time tinkering with openHAB when I simply forgot to add the binding. I am not sure the admins are interested in having logs for everything a user might forget to do but I am working on the core binding on my fork now to implement a warning when an item is present that has no binding.

Is this a feature admins are interested in adding? If so I will issue a PR when I

[2015-12-31 05:34] SkynetHome commented on #3289
As your title suggests the file you referenced is for controlling lighting. I assume that you want to use the Rollershutter item for curtains or shutters. There is no relay value currently defined in the RFXComCurtains or RFXComBlinds files but there is support for OPEN/CLOSE/STOP I do not see why this cannot be mapped to a relay.  Whether using the current values or by adding a RFXComValueSelecto

[2015-12-31 05:50] SkynetHome commented on #3215
I have several GE switches in my home. I might be able to pick up one of these controllers to test and send back :)  Before I do that though, you might read through some of the comments on this amazon link where many people explain how they got it to work. If that doesn't help, let me know and I'll see what I can do.  http://www.amazon.com/GE-45600-Z-Wave-Handheld-compatible/product-reviews/B0013V

[2015-12-31 05:52] SkynetHome commented on #3213
@vallon Did you ever get this sorted out. I have added a few leviton devices to the database for my home let me know if you need further help getting yours included!

[2015-12-31 05:53] SkynetHome commented on #3185
I dont suppose you can translate it can you?

[2015-12-31 09:15] spacemanspiff2007 commented on #3514
Manufacturer ID is 154
Device ID is 1
Device Type is 3

I think it might be mislabeled as "Outdoor".

[2015-12-31 10:58] ssalonen opened #3652 "Modbus binding: open/closed types are not written to registers"
Unlike On/Off, Open/closed item commands are not written to registers. Note that Open/Closed are supported when writing coils (see `ModbusSlave.translateCommand2Boolean`)

The bug is missing logic in `ModbusSlave.setRegister`

[2015-12-31 11:19] ssalonen opened #3654 "Modbus binding: changing value of an item bound to discrete input triggers update to coil"
When items that are bound to discrete inputs (by definition, these are read only) receive a command, the binding writes coils. We should ignore the command update.

Similar logic already applies with input register vs holding register.

[2015-12-31 15:47] slintes commented on #875
cool! thanks @ollie-dev for taking over!

[2015-12-31 20:31] SkynetHome commented on #3514
@cdjackson Should I just change this to Indoor/Outdoor it appears the switches are the same with exception of a spring loaded cover for the outdoor version
Ref Issue #3471
Ref Issue #3462

[2015-12-31 20:42] SkynetHome commented on #3331
This device is already in the database!

[2015-12-31 21:10] SkynetHome commented on #3222
First off: Your links above are label wrong...no big deal just a little confusing when you're trying to get to the right info!

This device will only send updates from the other switches if the controller supports multi-channel command class. I do not see a reference to the multi-instance class in the xml. I will add that and see if it solves your problem. Keep in mind this will only work if your

[2015-12-31 23:53] SkynetHome commented on #2177
Has anyone ever tested this? Does the change simply move problem from remote senor to main sensor or does this work?

[2016-01-01 09:56] binladin commented on #3597
Thanks!
I am added FT in my local database on last weekend, but decided to wait to resolve the issue #3595 because working with git for me is a novelty.

[2016-01-01 10:58] drewwaite opened #3662 "Add to Z-Wave Database"
It appears that I have found another one. It seems to be the AU versions!

Can you please add the Fibaro RGBW Controller to the database. The XML file is the same as fgrgbw.xml.

[ID:3000, Type:900]

If you can point in the direction of what to do I can probably add the information myself.

Thanks again.

Andrew

[2016-01-01 11:01] cdjackson commented on #3662
You need to update the products.xml file - open this file in the database folder (in the zwave binding) - search for the device - add an extra reference (should be obvious what to do as you’ll see the references there) - save, and generate a pull request on git so we can get it added to the binding…

If you don’t do this though, please say so so that we can update it (i.e. I’ll assume you’re going

[2016-01-01 13:39] drewwaite commented on #3662
Not sure I did this right... I think I have created a pull request but it seems to be wanting to change more than 1 file!

[2016-01-01 19:57] #3654 closed

[2016-01-01 20:20] boxerfahrer opened #3668 "Novelan Heat Pump binding / missing documentation"
The Novelan heatpump binding lists a few enhancements for the heating and warmwater operation mode in version 1.7. Missing are some enhancements regarding active/passiv cooling that I think Michael Fraefel put in about 9 months ago after discussions with me. Here are the missing items taken from my items file

Number   HeatPump__Cool_BA       "Betriebsart"                           <energy>

[2016-01-01 20:25] watou commented on #3668
Stefan, if those features are present in the binding and you could update the wiki page, would you mind?

[2016-01-01 21:22] teichsta commented on #3631
and merged meanwhile :-)

[2016-01-01 21:22] #3631 closed

[2016-01-01 21:23] teichsta commented on #3620
according PR #3649 seem to be merged

[2016-01-01 21:23] #3620 closed

[2016-01-01 22:30] teichsta commented on #3638
fixed with #3646 and #3670

[2016-01-01 22:30] #3638 closed

[2016-01-01 22:40] cdjackson commented on #3514
Sounds like a reasonable suggestion if there's no way to differentiate between them...

[2016-01-01 22:41] cdjackson commented on #3331
I htink I probably added this but forgot to link the PR... @mikeybs can this be closed?

[2016-01-01 22:45] mikeybs commented on #3331
Yes it can as far as I'm concerned
On Jan 1, 2016 5:41 PM, "Chris Jackson" <notifications@github.com> wrote:

[2016-01-01 22:58] teichsta commented on #3451
i'll close this issue for now. Please feel free to reopen @dasniko if this issue still apply.

[2016-01-01 22:58] #3451 closed

[2016-01-01 22:59] teichsta commented on #2945
since #782 has been merged meanwhile we can close this issue …

[2016-01-01 22:59] #2945 closed

[2016-01-01 23:04] teichsta commented on #3523
the permissions issue might be related to #3476 which has been merged meanwhile. Are you going to send a PR for the mentioned fix @querdenker2k? Would love to merge this into 1.8 …

[2016-01-01 23:06] cdjackson commented on #3331
Thanks.

[2016-01-01 23:06] #3331 closed

[2016-01-01 23:07] theoweiss commented on #2748
Hi @vsaw,

could you please post your item configuration for "All".

Regards,
Theo

[2016-01-01 23:16] #3652 closed

[2016-01-01 23:41] teichsta commented on #1527
2.2.x branch of the atmosphere fork is up to date now. Please send your PR against this fork. Thanks, Thomas E.-E.

[2016-01-01 23:44] #1527 closed

[2016-01-01 23:44] teichsta commented on #1527
@CWempe can you confirm the patch is working? Please feel free reopen if not :-)

[2016-01-02 04:35] Marty56 commented on #2524
Bug has occurred after about 8 days of operations. (Windows 10).

[2016-01-02 07:43] boxerfahrer commented on #3668
John, no problem. I have never actively contributed, so if you tell me the steps how to edit the wiki, I'll be happy to do that.

BR Stefan

[2016-01-02 08:31] msmcgillis opened #3673 "bindings/org.openhab.binding.zwave/database/aeon/dsc24.xml"
I'm looking to understand the history of this file. I don't think it is correct as outlined or at least a couple z-wave devices I have are getting identified as this but do not support the functionality outlined in this.

This is a dump of openzwave output of what it thinks about the devices from scanning it. Which is a fairly different set of items than what exists in the .xml.

[code]

Any thoug

[2016-01-02 09:51] nesys opened #3674 "Webview with SSL on iOS not working"
Hi Team,

I'm trying to implement
https://github.com/openhab/openhab/wiki/GoogleMap
using Owntracks 8.3.3 (some data are formatted as BigDecimal and not String).

Btw data are correctly displayed using as Items:

String  mqttPositionAndreaRaw       "Andrea Raw Data [%s]"  			(PresenceAndrea, Persistence) { mqtt="<[mosquitto:owntracks/nesys/andrea:state:default]" }
Number  mqttAndreaLatitude

[2016-01-02 11:03] cdjackson commented on #3222
Just a note that adding the multi instance class to the XML will make no difference to anything since this information isn't used for anything (unless there are additional elements inside the classes).

As discussed in the forum, this is something that we'll have to look into further as it will require some rethinking inside the binding...

[2016-01-02 11:06] watou commented on #3668
Hi Stefan, I went into the binding code and updated the wiki in an attempt to match the code for the list of values you can supply in the config binding string.  I changed the bullet list to a table, added the acceptable item type (`Number` or `String`), and copied the descriptions, but some descriptions are missing.

If you can supply any missing information to the wiki page, please [click here](

[2016-01-02 11:28] querdenker2k commented on #3523
fix is here: https://github.com/openhab/openhab/pull/3676

[2016-01-02 12:57] boxerfahrer commented on #3668
Hello John - thank you! I habe revisited the wiki page and added some info on configuration and items, All is fine now from my perspective. I will close this case. Thanks again for your help, much appreciated!

BR Stefan

[2016-01-02 13:03] watou commented on #3668
Hi Stefan, why did you delete the old wiki page and create a new one?  All of the history of the original page is now lost, and the sidebar menu is now a broken link!  Do you know how to undelete the old wiki page and edit it instead?

[2016-01-02 13:08] cdjackson commented on #3673
You don't actually say what you think the problem is - just that it's not correct?

[2016-01-02 13:24] boxerfahrer commented on #3668
Hi John, that certainly was not my intention. I opened the link you sent me, edited the page and pressed the save button. I did this two or three times to add more stuff, but I certainly did not hit any delete button. I am sorry but it seems I do not know my way around good enough to undelete the old wiki

[2016-01-02 13:28] watou commented on #3668
OK, Stefan.  I think the act of renaming the wiki page instructed github to delete the old page and create a new page, so sorry to suggest you pressed a Delete button.  Many thanks for updating the page.

I will update the sidebar menu to refer to your latest edit, and leave a note here for @teichsta to ask if he is interested in reverting commit fda6c498f8b3085661b5043e4666287aadedcf7d in openhab

[2016-01-02 13:47] teichsta commented on #3523
#3677 is merged we can close this issue …

[2016-01-02 13:47] #3523 closed

[2016-01-02 13:55] teichsta commented on #3668
no, i don't think this is necessary. Thanks guys!

[2016-01-02 13:55] #3668 closed

[2016-01-02 14:36] boxerfahrer commented on #3668
Thanks a lot John. Yes it must have been the act of renaming the page - since the binding works for any heat pump based on the Luxtronic controller I wanted to reflect that.

Happy new year to eveybody!

[2016-01-02 16:21] mbs38 opened #3683 "Modbus binding: serial mode does not support >1 devices"
Currently the Modbus binding's serial mode only works with one device (single slave ID).

When multiple devices are configured (multiple slave IDs) in openhab.cfg some kind of collision happens and we get:
[ERROR] [i.modbus.io.ModbusRTUTransport] - failed to read: Error reading response
[ERROR] [w.m.io.ModbusSerialTransaction] - execute try 1 error: I/O exception - failed to read

This problem has

[2016-01-02 16:26] robnielsen commented on #3579
Hi @steve-bate, I'm unable to get my 2672-222 LED bulb to work with rampdimmer. I've tried two different devices and neither work. Here's what's in the log:

2016-01-01 16:19:54 DEBUG o.o.b.i.i.device.InsteonDevice[:168]- processing command ON features: 5
2016-01-01 16:19:54 DEBUG o.o.b.i.i.d.CommandHandler[:585]- ramp encoding: time 15.0 insert 4 d1 8.5 d2 4.0 ramp 11
2016-01-01 16:19:54 INFO  o.

[2016-01-02 16:45] ssalonen opened #3685 "Modbus binding: coil commands are not written if the last read data matches the command"

[2016-01-02 16:48] ssalonen opened #3686 "Modbus binding: input/holding register values are not converted to ContactItems"

[2016-01-02 16:59] steve-bate commented on #3579
That's strange. I'm using both my 2672-222 (with 0x34/0x35) and 2674-222 (with 0x2E/0x2F) and not having problems. The 0x34/0x35 is what's documented for the 2672-222 in the developer documentation (with 0x2E and 0x2F assigned to different requests). I didn't find any documentation specifically for the 2674-222, but 0x34/0x35 didn't work and 0x2E/0x2F did when I tried it.

It's interesting that th

[2016-01-02 17:07] robnielsen commented on #3579
Mine and @berndpfrommer 2672-222 bulbs are about 2.5 years old. I know the age of @berndpfrommer also since i send one to him. Maybe it's an older rev of the firmware. In the bottom of the bulb, I have a sticker that says R2.5

[2016-01-02 17:08] ssalonen commented on #3683
For the record, related discussion on solving this [in the forums](https://community.openhab.org/t/connection-pooling-in-modbus-binding/5246).

No offence but why create new issue if one exists already?

[2016-01-02 17:11] steve-bate commented on #3579
That might be the issue. My bulb is a few months old. The sticker says R4.0. The documentation I'm using is for R3.0. Maybe something changed between R2.5 and R3.0?

[2016-01-02 17:24] robnielsen commented on #3579
It must be, I'm going to send a support request to Insteon and see what they say. It's really odd that your recessed light works with the old commands, maybe it also has older firmware?

[2016-01-02 17:27] steve-bate commented on #3579
The 2674-222 sticker says "R3.5S 3014" so the firmware does seem to be a bit older although I bought that bulb around the same time.

[2016-01-02 17:58] msmcgillis commented on #3673
Based on the above xml the supported command classes are: 32, 37, 39, 43, 50, 86, 112, 114, 130, 133, and 134.

Where as the dsc24.xml suggests the devices supports the command classes: 0x20=32, 0x25=37,  0x26=38, 0x27=39, 0x32=50, 0x70=112, 0x72=114, 0x82=130, 0x85=133, 0x86=134

Missing 86.

Then it is a little unclear how the various parameters in the dsc24.xml would line up with the supported

[2016-01-02 18:02] cdjackson commented on #3673
This information is not used by the binding so this won’t make any difference.

Please be specific about what you mean?  If there’s no list item, then it just means that the user can type in any number - you just need to refer to the user manual.

Firstly, these classes are not normally used, so unless you want to use them, you can ignore the errors. However it also means you are using an old bind

[2016-01-02 18:12] msmcgillis commented on #3673
Well I'm not going to stop you from closing the bug.

But to me the messages identified don't look good and suggest to me that something is attempting to do something that probably is not appropriate.

The bug to me is that the xml for the aeon dsc24.xml is not right and the parameters identified in that xml as supported are actually not supported by the device.

To me it seems like those things s

[2016-01-02 18:21] cdjackson commented on #3673
What message are you talking about? Do you mean the command class not supported message? If so, these are fine - as I said, they just warn that these classes aren’t supported, so you can’t use them. It’s not doing anything that is ‘not appropriate’.

Ok, then please identify the issues clearly - what parameters aren’t supported. If there are parameters that are incorrect, of course we want to get

[2016-01-02 19:01] msmcgillis commented on #3673
Well this is sort of like me asking openHAB to be clear on what exactly the format and meaning of the dsc24.xml file format is. I have been unable to find any "clear" documentation on what exactly is suppose to be in that file with "clear" details of what all is required .... Please point me to any documentation you feel that "clearly" describes these files that I may have missed.

1. Command Clas

[2016-01-02 19:27] cdjackson commented on #3673
Not really - if you’re saying it’s wrong, then you should be clear about what’s wrong. If you don’t know, then please say so. If you don’t know where something is, please ask. The documentation is here -:
https://github.com/cdjackson/HABmin2/wiki/Z-Wave-Product-Database <https://github.com/cdjackson/HABmin2/wiki/Z-Wave-Product-Database>

If you want to create a PR, then please do, but as I said, t

[2016-01-02 19:28] #3673 closed

[2016-01-02 19:50] msmcgillis commented on #3673
Don't have one but this is the device I have:
http://www.pepper1.net/zwavedb/device/774

[2016-01-02 19:53] russellchadwick opened #3689 "Add Trane XR524 support"
This device is not in the http://products.z-wavealliance.org/ or http://www.pepper1.net/zwavedb/

Product page: http://www.nexiahome.com/compatible-products/trane-xr524-zwave-thermostat/
User guide: http://www.nexiahome.com/wp-content/uploads/2015/01/Trane524UserGuide.pdf

Tried adding a new Reference -> Id that reuses the existing trane/tzemt400bb32maa.xml
It can pull thermostat_operating_state,

[2016-01-02 19:58] cdjackson commented on #3673
Again, please be clear about what is wrong if you think there’s a problem. If you think the parameters are incorrect, then please let us know which ones - I don’t have time to look through every device in the database (there are over 230!) so you are best positioned to provide any feedback, but we need to have clear information.

I would strongly suggest reading through the OH wiki if you’re uncle

[2016-01-02 20:03] russellchadwick commented on #3689
How habmin sees it
![screen shot 2016-01-02 at 12 02 16 pm](https://cloud.githubusercontent.com/assets/1666778/12075936/c5b138a6-b148-11e5-8338-03203e6435fb.JPG)

[2016-01-02 20:16] teichsta commented on #1531
since #1832 has been rejected (because the core is frozen and new core changes would have to be added to ESH) i am closing this issue as well. Please feel free to open an issue at https://github.com/eclipse/smarthome/issues. However thanks for your contribution, Thomas E.-E.

[2016-01-02 20:16] #1531 closed

[2016-01-02 20:18] teichsta commented on #968
unschedule from 1.8

[2016-01-02 20:24] #2742 closed

[2016-01-02 20:28] teichsta commented on #1435
ok, then let's close this issue in favour of spending the efforts for the ESH Designer

[2016-01-02 20:28] #1435 closed

[2016-01-02 20:47] vsaw commented on #2748
Hi @theoweiss it's like

[code]

I removed additional rooms and items from this to not swamp you. However the original grouping structure is the same as in my full `*.items` file

[2016-01-02 20:53] #3686 closed

[2016-01-02 20:56] pravussum commented on #2748
'ALL' is a keyword in InfluxDB, can you try renaming your group?
https://influxdb.com/docs/v0.9/query_language/spec.html

[2016-01-02 21:02] teichsta commented on #3683
as there is an ongoing discussion it would be indeed good to follow up on them … from our experience: posting issues here without having the maintainers engaged rarely leads to soling PRs :-)

[2016-01-02 21:02] #3683 closed

[2016-01-02 21:03] msmcgillis commented on #3673
Well from the above it sounds like your happy to take what ever someone throws into your software regardless of its accuracy. Good to understand about the developers.

Don't get me wrong I understand going over every detail takes time that often isn't worth yours.

My point is still accurate you current xml file for this device has a lot of issues and the history I asked for is now clear someone j

[2016-01-02 21:04] jesperrs opened #3691 "ZWave: tz68f Wall switch not working"
As I can see the device communicates but ends up being marked as dead.
I just can see why it is going wrong: Any ideas?

21:46:16.315 [INFO ] [.z.internal.ZWaveActiveBinding:325  ] - Update config, port = /dev/ttyACM0
21:46:16.317 [DEBUG] [.z.internal.ZWaveActiveBinding:282  ] - Initialising zwave binding
21:46:16.364 [INFO ] [.service.AbstractActiveService:169  ] - ZWave Refresh Service has been

[2016-01-02 21:06] russellchadwick commented on #3689
Trace log created as described here https://github.com/openhab/openhab/wiki/Z-Wave-Binding
[Issue_3689_Trace.txt](https://github.com/openhab/openhab/files/76395/Issue_3689_Trace.txt)

[2016-01-02 21:13] teichsta commented on #1613
@shb256 any news/updates (see my question above)

[2016-01-02 21:23] cdjackson commented on #3673
Not at all - I spend a LOT of time on this project, but it is a community effort, and it’s not possible for one person to keep up with every database entry. All I’m doing is asking for your support rather than you telling me there’s a problem and leaving me to work it all out for myself. At the moment, all you’ve done is provide a link to the manual, with a statement that it’s wrong. Please consid

[2016-01-02 21:24] cdjackson commented on #3691
The device is not talking to the controller. Currently the controller thinks that the device is DEAD which is normally quite a serious failure in communication. the communications that you can see is only between openHAB and the controller (i.e. the stick) not the device.

[2016-01-02 21:36] teichsta commented on #765
any news @oliver-M? If not i would tend indeed to close this issue as wont-fix

[2016-01-02 21:44] msmcgillis commented on #3673
Maybe I will have to decide if its worth my time as well in community projects everyone gets decide what important to them just like you. I have already contributed by pointing out the issue it is fairly obvious once reviewed.

Pointing things out and clearly identifying them is not enough you want the fix again all good we shall see if this is important enough to me to address, probably not, base

[2016-01-03 01:02] marclennox opened #3693 "DSC Binding: Serial TCP Server with IT-100"
I have a DSC alarm system with IT-100 serial interface, connected to my network through a serial TCP server in order that I can send and receive commands to it through a TCP socket.

Does the DSC Binding for openHAB support this configuration?

[2016-01-03 06:23] clach04 commented on #460
I know this is closed but for anyone finding this with a search. https://github.com/openhab/openhab/wiki/Mochad-X10-Binding supports control over X10 devices. This requires an X10 controller supported by Mochad, see http://sourceforge.net/projects/mochad/ and also https://bitbucket.org/clach04/mochad_firecracker which offers mochad protocol support for CM17A serial Firecracker transmitters.

[2016-01-03 10:18] cdjackson commented on #3673
Just for reference, I checked the OZW database and they don't include this device -:
`		<Product type="0003" id="0018" name="Smart Switch (2nd Edition)"/>`

[2016-01-03 10:25] SkynetHome commented on #3673
@cdjackson your patience is astounding!

[2016-01-03 10:27] sercasyr opened #3696 "Fibaro door sensor marked as FAILED after battery was depleted"
Hi,

I think this is a question for Chris, as he is the expert on Z-Wave nodes and network inclusion.

I have 4 Fibaro door sensors, and one of them (the one that I use the most) ran out of battery last week. OpenHAB console started to write this message:

NODE 10: BATTERY LOW!

But I didn't have a new battery replacement, so I ignored it because the device was still working... However the device

[2016-01-03 10:34] SkynetHome commented on #3696
Have you tried moving the device closer to the controller and then waking it up?

[2016-01-03 10:53] randomname872634 commented on #736
I'm also struggling with this bug.
I'm running on linux (raspberry pi) using the latest snapshot build as of yesterday.

Any advice on what to do?
- Combining rules files to one big file seems no option for me
- Switching to OH2, but not sure it will fix them problem
- Applying one of the suggested fixed using a lockfile

[2016-01-03 11:04] sercasyr commented on #3696
No, because it is not easy to unhang. Although I tried to wake it up as it is pretty close already (3-4 meters)... It should work but it doesn't.

[2016-01-03 12:33] cdjackson commented on #3696
I’m afraid I don’t have any really nice ideas, but a few things to try. If the controller says it’s dead, this is definitely a bad sign as it indicates failures in low level communications that is well out of the control of openhab (or any other software I believe).

I know these door sensors can be temperamental - I’ve had trouble with them here myself :(

So, what to suggest…  What controller do

[2016-01-03 13:10] sercasyr commented on #3696
The controller is the Aeon Labs one. It works fine with all Fibaro devices but the door sensors are indeed very temperamental.

I thought about putting the controller into inclusion mode, but I had my doubts, because I remember (although maybe I did it after a reset of the door sensor) to do this same thing last year, and I ended up being in a big mess and unable to make it work any longer. The on

[2016-01-03 14:29] plajjan commented on #3487
I am seeing the same behaviour, i.e. OpenHAB reporting that /dev/ttyACM0 does not exist and for me it appears rather erratic with it working sometimes and sometimes it doesn't. It usually takes me a few tries to start OpenHAB. Just an hour ago I had to restart upwards of 15 times before it established a connection. I am not running OpenHAB in a container and I don't see a pattern in when it works

[2016-01-03 15:36] teichsta commented on #3693
please ask technical questions at https://community.openhab.org.

Thanks, Thomas E.-E.

[2016-01-03 15:36] #3693 closed

[2016-01-03 15:53] cdjackson commented on #3487
No - that was my previous point in the other thread (I think). From what I’ve seen, it completely bombs, so it must be a very low level issue. Currently we catch all exceptions and restart the threads if there’s been an exception within the send/receive thread. This doesn’t catch this issue which is why I believe it’s likely in the driver (i.e. outside of openhab).

I think that in general, if you

[2016-01-03 16:34] SkynetHome commented on #3696
One thing that has worked for me is to exclude the device in habmin then shutdown openhab system and remove the aeon stick. Move to the device, put the aeon in include mode then turn on/wake up device. Plug back in aeon and boot up openhab. For whatever reason it to took two exclusions and re adds to get all my non fibaro door sensors working but once up they have been flawless and always come rig

[2016-01-03 16:40] sercasyr commented on #3696
Was your device also a Fibaro door sensor?

I don't understand the part when you say
"it took two exclusions and re adds to get all my non fibaro door sensors working"

Did the exclusion make other devices stop working??

[2016-01-03 16:52] SkynetHome commented on #3696
No my most finicky devices have been door sensors re labeled and sold under another brand, although I did have trouble with my fibaro eyeball motion sensor, fgms I think is the model. The method above has worked for sorting out inclusion problems with both wired and battery devices. I don't know if there is any technological reason for it to work or if it's just an electronic placebo effect of sor

[2016-01-03 16:57] sercasyr commented on #3696
Ok. Thanks for the info.

The procedure makes sense. It is what I had thought, but Chris has suggested to perform the inclusion first, and this makes me hesitate...

[2016-01-03 17:09] SkynetHome commented on #3696
Excluding a device through habmin should always be fine, the above method could be problematic if inadvertently put the z stick in exclude mode manually and then move about your home interacting with devices. This will remove each devices as you wake up or in the instance of wall switches sometimes just turn on and off. I think best bet us to exclude the problem device in habmin then follow zstick

[2016-01-03 17:57] buzink commented on #2900
For me the slider in the (iPhone) app does something, but it is not suited to change volume (increases unexpectedly to very loud upon touching the slider). The up/down arrows in Classic UI in Chrome, Firefox and Safari look more promising, but do nothing (also not if I keep the mouse button down longer than 200 ms). I use the slider as shown in an example on the [Frontier Silicon Radio Binding] (h

[2016-01-03 18:02] buzink opened #3698 "Classic UI slider doesn't work for volume item Frontier Silicon Radio Binding"
The up/down arrows of the Slider item type in Classic UI do not change my volume (also not if I keep the mouse button down longer than 200 ms). I use the slider as shown in an example on the Frontier Silicon Radio Binding page:

item:
Number RadioVolDimmer "Radio Volume [%d %%]" (gRadio) { frontiersiliconradio="radio:VOLUME" }

sitemap:
Slider visibility=[RadioPower==ON] item=RadioVolDimmer

log f

[2016-01-03 19:37] wdriessen opened #3700 "Popp (POPE004001) Z-Wave Smoke Detector and Siren"
Please add the folowing device to the database:
http://www.pepper1.net/zwavedb/device/725

[2016-01-03 20:27] NCO3 commented on #736
I removed all "when System started" from my rules and did not see the issue since a few days now.

[2016-01-03 21:14] Speederc commented on #3101
In fact, it is already merged by PR #3137 with other new messages.
It wasn't really clear for me neither...

[2016-01-03 21:16] Speederc commented on #3099
It was merged by PR #3137 with other new messages.
Can be closed if we consider that PR #3137 really work...

[2016-01-03 21:17] Speederc commented on #2772
Can be closed

[2016-01-03 21:18] teichsta commented on #2772
Appreciate your feedback @Speederc!

[2016-01-03 21:18] #2772 closed

[2016-01-03 21:21] teichsta commented on #3099
ok, feel free to reopen @Tscherno if @Speederc assumption isn't correct.

[2016-01-03 21:21] #3099 closed

[2016-01-03 21:22] teichsta commented on #3101
ok, feel free to reopen @Tscherno if @Speederc assumption isn't correct.

[2016-01-03 21:22] #3101 closed

[2016-01-04 05:56] steintore commented on #2863
Is it possible to extract the AC14K_M-KeyStore.bks-file? In that case we might be able to use it to avoid the handshake exception.

[2016-01-04 06:03] RemcoteWinkel commented on #2863
I did already. It is in the .apk file of the app, downloadable from the Samsung site. It is also possible to extract the certificates. I will drop you an email.

Stein Tore <notifications@github.com>schreef:

Is it possible to extract the AC14K_M-KeyStore.bks-file? In that case we might be able to use it to avoid the handshake exception.

---
Reply to this email directly or view it on GitHub:
http

[2016-01-04 07:52] PBrou commented on #1531
Ok. This will also force me to start the switch to ESH.

Peter B

[2016-01-04 07:53] teichsta commented on #1531
which is not bad at all :-)

[2016-01-04 08:27] MrMerlino commented on #2863
Perfect :)

[2016-01-04 08:49] vsaw commented on #2748
@pravussum Yep that's it!

Looking at https://github.com/openhab/openhab/issues/2748#issuecomment-168427088 I noticed I'm using `All` and `gAll` by mistake. Switching to `gAll` works. Here's the renamed items query

[code]

Using `All` produces the error I mentioned in https://github.com/openhab/openhab/issues/2748#issuecomment-168100306

[2016-01-04 10:46] plajjan commented on #3487
@cdjackson, if it is some external factor preventing OpenHAB to open the serial device then yes, I agree that I should have that fixed but to me it looks like it's OpenHAB having issues.

No point in arguing based on guesses so I'm running some tests right now. I put together a dirty little shell script that continuously restarts openhab and tails the log files looking for failure/success of the z

[2016-01-04 14:00] plajjan commented on #3487
Here's the comparison of 50 starts between having just the zwave module and all my modules, which are the following:
[code]

And the result:
[code]

I think we can conclude that there is a problem between modules since just using zwave is 100% success. I have yet to single out the module (if there is one) that is causing the conflict.. will do as soon as I have some time :)

For reference, here's

[2016-01-04 14:05] cdjackson commented on #3487
This might still be the same issue with the s rial driver that caused the race condition previously as I don't think that was ever properly solved.

I'll see how hard it is to add the retry over the next week or so.

Serial ports under Java are a problem :(

Sent from my iPhone

[2016-01-04 14:06] plajjan commented on #3487
Just googling for a few permutations of "rxtx", "crash", "java serial" and similar I see quite a few recommendations to use jSSC and there are examples of other projects, like Arduino, switching from rxtx to jssc due to the unmaintained and bad shape rxtx is in. Is this something we would consider as well?

[2016-01-04 14:18] cdjackson commented on #3487
I'd need to check the constraints but I looked at a number of options about 12 months back and there isn't an ideal solution. Many libraries have compatibility issues (ie only supported on certain platforms) or aren't maintained, or have license issues...

I'll have another look at jSSC as I'm not against changing if there's a better solution.

Sent from my iPhone

[2016-01-04 14:18] BoJanisch commented on #3200
How's the progress of this feature request? I would like to use a Samsung's H-Series TV with OpenHAB for evaluation purposes in my final thesis. steve-bate do you got any information? Yours sincerely, BoJanisch

[2016-01-04 15:03] plajjan commented on #3487
I ran another test series, this time with the zwave binding and benq;
[code]

So we can see that using benq together with zwave certainly lowers the odds of success but not as much as with all the modules. This is roughly 50/50. These are the only two modules I'm using that I have configured to speak over serial devices but perhaps one of the other modules include some serial snippet that starts t

[2016-01-04 18:04] petrklus commented on #736
it would be great if @kaikreuzer or @teichsta could comment if this issue is present in the OH2!

@NCO3 if this works for you, then great! However, the issue can come back when you introduce persistence services that initialise values on startup etc.

[2016-01-04 18:52] querdenker2k commented on #736
@NCO3 And how did you do some startup actions?

[2016-01-04 19:02] LKuech commented on #736
I did find a different workaround that seems to work for me.
I reduce the "when System started" to just one. Inside I have created a timer which is doing the action I would like to be done at startup.
The timer is running in a different thread. As long as it is delayed long enough, the issue is not occurring.

But it is still just a workaround...

[2016-01-04 19:53] gijoecool commented on #1209
I'm also interested in helping make this happen!

[2016-01-04 21:06] buzink commented on #3698
WORKAROUND: use SetPoint instead of Slider

I tried to use SetPoint instead of slider as a workaround. That control works on all platforms, BUT the binding reports the wrong (much higher) volume number. After I use setpoint again after it has been updated to the new incorrect value, it sets the volume to extremely loud.  I suspect that this problem is also the cause for the slider not working in t

[2016-01-04 21:30] buzink opened #3705 "Volume property of Frontier Silicon Radio Binding reports wrong volume"
The Volume property of Frontier Silicon Radio Binding reports the wrong volume for my Revo Superconnect radio. Unfortunately the reported number is much higher, resulting in sudden super high volume while using the slider or setpoint elements in a sitemap.

In my log file I see that i set the volume to 11, that it updates to 34 (while the radio is still on 11) and that the setpoint element starts

[2016-01-04 21:35] buzink opened #3706 "Slider item type sends different commands from classic UI and IOS app"
The Slider item type sends increase/decrease commands from classic UI while its sends numbers from the IOS app.

The effect is that the up/down arrows of the Slider item type in Classic UI do not change my volume, but the slider is the iphone app does. I use the slider as shown in an example on the Frontier Silicon Radio Binding page:

item:
Number RadioVolDimmer "Radio Volume [%d %%]" (gRadio) {

[2016-01-04 22:06] twisniew1976 commented on #736
I use workaround (which I've published in this thread) for quite 1 year, and this is working on 100% error of openHAB.

I know, that is not "pretty simple", but it is working every day for in home with 38 Z-Wave devices, many own-made (including RF-433) - it is more then 190 items.

(if You have any questions, please let me know)

Updated scripts:

openHAB-daemon-start.sh

    #!/bin/bash

    PAT

[2016-01-04 22:15] leutholl opened #3707 "comfoair550 - outofoffice vs. automatic level"
Hi.
The comfoair binding is working perfectly for a 550. It even runs on RS232 if the CC Deluxe control panel is connect to RS485 and accepts commands from either side and updates the CC deluxe panel. I have a improvement about:
FAN_LEVEL {
        {
            key = "fan_level";
            data_type = DataTypeNumber.class;
            possible_values = new int[] { 0x01, 0x02, 0x03, 0x04 };

[2016-01-04 22:22] Speederc commented on #2621
PR created. Can be closed.

[2016-01-04 22:45] teichsta commented on #2621
Thanks @Speederc we'll close this Issue once the PR has been merged!

[2016-01-05 00:06] msmcgillis commented on #3673
https://aeotec.freshdesk.com/helpdesk/attachments/6009584528

[2016-01-05 03:59] rooflz commented on #1209
Very interested in making this happen as well.

[2016-01-05 10:52] cdjackson commented on #3487
Sounds like the same race condition to me - not surprising as it wasn't fixed previously.

Creating a retry in the zwave binding will potentially solve the issue for Zwave but of course won't fix the problem for other bindings using the serial services.

Really this needs a solution at source - either fix the driver or we all change to a new library....

Sent from my iPhone

[2016-01-05 12:30] brettyj commented on #3166
Sorry Steve, I think it's cause when I raised this I thought it might have only been happening to me due to some environmental issue, but it seems to be more of an issue. However the 2692 is open, so I'm happy for this to be closed and for that to take over (although it would be good to get a response to that issue!)

Thanks

[2016-01-05 16:57] bigbasec opened #3711 "Mvn build fails, clean checkout"
[ERROR] Failed to execute goal on project openhab-addons-verify: Could not resolve dependencies for project org.openhab.addons:openhab-addons-verify:pom:1.8.0-SNAPSHOT: Failure to find org.openhab.core:openhab-core:xml:features:2.0.0-SNAPSHOT in https://jcenter.bintray.com/ was cached in the local repository, resolution will not be reattempted until the update interval of jcenter has elapsed or up

[2016-01-05 17:08] mbs38 commented on #3558
masoud-omidvar:

Reference?

Modbus byteorder seems to be little-endian (Hi-byte transmitted first).

Found on page 31 in this document: http://modbus.org/docs/PI_MBUS_300.pdf
On the page there is also an example of a response to the "Read Input Registers" command:

Note that "Data Hi" (value 0x00) is transmitted first.

The example is followed by:

10 decimal.

Therefore: 0x000A, if interpreted a

[2016-01-05 19:41] bigbasec commented on #3492
Same issue here with both a CT30(with the newer Usnap module, which I think turns it into a CT32), and the CT101.  Neither one of them will actually "finish" the initialization, nor does it create an xml file.

[2016-01-05 19:44] cdjackson commented on #3492
Can you email me a log from your system?

[2016-01-05 20:26] airix1 commented on #3492
That jar you gave me to try has been working great so far Chris.

[2016-01-05 20:27] cdjackson commented on #3492
Thanks @airix1.

@bigbasec please confirm what version of the binding you're using?

[2016-01-05 21:48] bigbasec commented on #3711
Confirmed working, thank you!

[2016-01-05 21:52] #3711 closed

[2016-01-05 22:30] buzink commented on #3698
WORKAROUND 2: use Select instead of SetPoint or Slider:

Selection label="Radio Volume[%s]" item=RadioVolDimmer visibility=[RadioPower==ON] mappings=[6="Very low", 8="Low", 10="Normal", 12="Loud", 14="Very loud"]

[2016-01-05 22:30] #3698 closed

[2016-01-05 22:37] bakrus opened #3714 "NibeHeatPumpBinding NullPointerException caused by corrupt 32bit value from Nibe F750"
java.lang.NullPointerException
        at org.openhab.binding.nibeheatpump.internal.NibeHeatPumpBinding$NibeHeatPumpMessageListener.run(NibeHeatPumpBinding.java:186)

Nibe F750 (firmware 6468R7) has been observed corrupting the transmitted 32bit values after power outages. To restore normal behavior it has been necessary to (re)load the LOG.SET (originating from Nibe ModbusManager) file from a USB

[2016-01-05 22:51] bigbasec commented on #3492
Latest and greatest from git as of this afternoon.  Though I think I may have found a couple issues on my end, and one in the db.  The CT 101 has no configurable options w/ the default, though the pepper db shows it having the same options as the CT 32, so I updated the products.xml, and am waiting for the initialization to complete now to see if that made any difference.  I usually need to wait o

[2016-01-05 23:17] bigbasec commented on #3492
Not saying it's a problem, but I am seeing this for both thermostats :
2016-01-05 18:07:50.173 ERROR o.o.b.z.i.p.i.ZWaveNodeStageAdvancer[:316]- NODE 23: Node advancer: Retries exceeded at STATIC_VALUES
2016-01-05 18:07:50.174 DEBUG o.o.b.z.i.p.i.ZWaveNodeStageAdvancer[:329]- NODE 23: Retry timout: Can't advance

I guess I'll see if they ever complete.  They do both seem to be responding to comman

[2016-01-05 23:30] plajjan commented on #3487
I agree with this, but I would like to have reconnects as well since that would allow us to start working again after unplug/replug of USB stick (when doing Z-wave inclusion of new devices) :)

[2016-01-05 23:33] cdjackson commented on #3492
Please provide a debug log of what is happening prior to this message. You shoul see some repeating blocks of messages.

Sent from my iPhone

[2016-01-05 23:36] cdjackson commented on #3487
No. This won't work. When you unplug the stick oh crashes and needs to be restarted. This is will need to be solved first and I believe this is a bug in the serial driver.

Sent from my iPhone

[2016-01-06 10:26] watou commented on #3714
[This JAR](https://dl.dropboxusercontent.com/u/4286376/nibeheatpump-issue-3714/org.openhab.binding.nibeheatpump-1.8.0-SNAPSHOT.jar) attempts to catch the NullPointerException, print an error in the log file, and continue on attempting to process incoming data.

If you can test that your reported issue is resolved, and also works when the corrupted data problem is not present, please report back he

[2016-01-06 10:37] plajjan commented on #3487
I know it won't work *now* but once rxtx is fixed or replaced by jssc it will work :)

Just saying I want two activities:
 * fix rxtx crash or replace with jssc provided it looks better overall
 * do reconnect attempts whenever connection is lost

Did you have a chance to look at jssc? I might give it a shot to implement this for a module to try it out. Would probably start with the Benq projector

[2016-01-06 10:54] cdjackson commented on #3487
I think we should separate these out then as you're now asking for something quite different. Reconnecting after removing the stick to include more devices is not the same as retrying initial connection and will require more re initialisation of the binding.

I looked at jSSC briefly - I noted it was quite old ( note maintained for 2 years I think). I need to look at it further though...

Sent fro

[2016-01-06 12:06] cdjackson commented on #3696
I will close this - I think if there's further questions on this it's best to look at a discussion on the forum...

[2016-01-06 12:06] #3696 closed

[2016-01-06 12:07] cdjackson commented on #3619
Can this be closed?

[2016-01-06 12:08] cdjackson commented on #3662
I assume this is working and can be close?

[2016-01-06 12:10] cdjackson commented on #3226
Closing - this has been added and there's been no feedback for 6+ weeks...

[2016-01-06 12:10] #3226 closed

[2016-01-06 12:14] cdjackson commented on #3177
No feedback for 4 months - closing.

[2016-01-06 12:14] #3177 closed

[2016-01-06 12:15] cdjackson commented on #3064
Can this be closed - the device has now been added?

[2016-01-06 12:15] cdjackson commented on #3041
No feedback for 5 months so closing.

[2016-01-06 12:17] cdjackson commented on #3005
I think there have been further changes to the MS6 config - can we close this?

[2016-01-06 12:17] #2817 closed

[2016-01-06 12:18] cdjackson commented on #2651
Closing - no information for 6+ months.

[2016-01-06 12:18] #2651 closed

[2016-01-06 12:21] pabloNZ commented on #3005
I'm away from my setup for a couple of weeks I'm afraid so can't confirm if
recent nightly builds continue the good work you've been doing. If what I
saw late last year is anything to go by then you've got it covered.

[2016-01-06 12:46] cdjackson commented on #3487
I've had a read through the open issues with jSSC, and there are quite a few very worrying ones. It seems to me that there's no support - the maintainer made the following statement 1 year ago (but there have been no updates to code for 2 years it seems) -:

It seems that the support on linux is poor (ie it seems it uses polling) and I suspect if this is still the case (and I assume it is since th

[2016-01-06 13:37] dvanherbergen commented on #3487
AFIAK openHAB uses https://github.com/NeuronRobotics/nrjavaserial for the serial transport. This is an actively maintained fork from RXTX. If there is an issue, it can be raised there.
At the very least, you could try using the latest version 3.11.0. openHAB is still at version 3.9.3.

[2016-01-06 13:41] ssalonen commented on #3558
@mbs38 I think you found the reference yourself? In any case, here's the other reference quoted before

Please see the [examples section](https://en.wikipedia.org/wiki/Endianness) in wikipedia. In our case we have atomic element size of 16bits (=size of one register). Bits inside the "atomic element" must be in big endian format just like as you described. I find it unlike that we would find modbu

[2016-01-06 13:42] ssalonen commented on #3537
@masoud-omidvar are you willing to make a PR with a fix? :smile:

[2016-01-06 14:37] mbs38 commented on #3558
It does. Thanks a lot!

[2016-01-06 14:48] cdjackson commented on #3487
Yes, that's correct. The point that we're making here is we're looking for an alternative (as we did 12 months back) as there are problems with the existing library...

[2016-01-06 16:16] matrixagent opened #3715 "Plex binding is hardcoded to use http, fails to connect to server via https"
Hi there,

@idserda, after a quick glance at the code it seems to me that the Plex binding is building the URL to connect to the Plex server with a hardcoded "http". I've configured my server to require HTTPS:

<img width="1157" alt="7w39o2016mc12n016e95006ab7ii17irgod48" src="https://cloud.githubusercontent.com/assets/309726/12147212/0f0b085e-b498-11e5-8db4-5913270a053b.png">

If possible, I'd re

[2016-01-06 16:38] idserda commented on #3715
Thanks for looking into this! This definitely should be supported. The use of certificates looks 'interesting', I'll see what I can do.

[2016-01-06 18:45] bigbasec commented on #3492
Do you want the full log, or just a grep for that specific node?  Here is the most recent grep for the CT30 w/ the updated USNAP module :

2016-01-06 13:42:05.408 DEBUG o.o.b.z.i.p.ZWaveController$ZWaveSendThread[:1268]- NODE 23: Sending REQUEST Message = 01 0D 00 13 17 06 60 0D 01 01 85 05 25 1F 27
2016-01-06 13:42:05.421 DEBUG o.o.b.z.i.p.s.SendDataMessageClass[:38]- NODE 23: Sent Data successfu

[2016-01-06 19:14] Snickermicker commented on #3196
@MMOTX is this still an issue?
16.001 was implemented a while ago.
Could you provide a debug log?

[2016-01-06 20:25] bakrus commented on #3714
Since I'm not close to the actual heatpump at the moment, I have simply performed a test by sending some previous logged telegrams to a copy of my actual configuration. All seems to work well!

2016-01-06 21:24:20.856 [ERROR] [n.internal.NibeHeatPumpBinding] - Received bad data key=43144; skipping.
2016-01-06 21:24:20.892 [ERROR] [n.internal.NibeHeatPumpBinding] - Received bad data key=43305; skip

[2016-01-06 21:02] idserda commented on #3715
Seems it's possible to get the 'correct' URI for the server that corresponds with the certificate by requesting an URL at plex.tv. Commit that does this: https://github.com/idserda/openhab/commit/e1da11f5debbd933f54222d52b9a4454ec3b23cb

Here's an updated jar, would you test this? https://www.dropbox.com/s/yzijc1v5xvtane7/org.openhab.binding.plex_1.8.0.201601062158.jar?dl=0 . Thanks!

[2016-01-06 21:19] matrixagent commented on #3715
It definitely changed, looks like now the websocket is the problem. With 1.7.1 this was the first error in the log:

[code]

With 1.8.0 from your Dropbox-Link this is the error I'm getting:
[code]

I have attached the full log as well: [openhab.log.zip](https://github.com/openhab/openhab/files/80370/openhab.log.zip)

Thanks a lot for the blazing fast response! :+1:

[2016-01-06 22:26] idserda commented on #3715
Looks like you have both versions installed? If so, first remove the 1.7.1 version from the addons directory.

[2016-01-07 08:11] matrixagent commented on #3715
No, it's just 1.8.0:
[code]

The log just contains the entries from earlier of yesterday when I testes with 1.7.1 as well. You can see at the timestamps, it's only 1.8.0 after 22:00 and before that it was just 1.7.1

[2016-01-07 08:16] MrMontesa commented on #3366
Hey watou,
fully understand your point. I would donate 50 Euro (which is a quater of the device here in Germany) . Would be great if one of my feature requests could be implemented then.
I would like to bind a specific device power consumption to a number item. like:
[code]

[2016-01-07 08:19] idserda commented on #3715
Ah seems we also need to use the secure websocket URL (wss:// vs ws://). There's a new build at the dropbox link in the previous comment.

[2016-01-07 08:41] watou commented on #3366
It's a matter of timing.  I want exactly the same as you -- bind specific appliances to power consumption numbers, to see where it's all going over time.  I hope to be able to move on to this project in the springtime.

[2016-01-07 09:28] teichsta opened #3723 "Fritzbox TR064 to integrate into the maven build"
see https://github.com/openhab/openhab/pull/3675#issuecomment-168415193

[code]

[2016-01-07 09:31] maggu2810 commented on #3487
Hi @cdjackson, I have a look at the code of jSSC long time ago.
There has been memory leaks etc. in the native code for linux systems.
I tried to do some work on that, but as the projects seems to be unmaintained, I stopped any further work on this.

I also tried (that time) some work on nrjavaserial, but the code is very blown and I believe that this has historic reasons. Not easy to implement ne

[2016-01-07 09:36] maggu2810 commented on #3487
IIRC: I have also realized that jSSC don't use the select system call (or something similar) to read stuff from the serial line. So they waste a lot of CPU time using polling. I started to change that but I stopped it caused by the "dead" (or stalled) upstream development (and I could work on the native code of linux only).

[2016-01-07 09:38] plajjan commented on #3487
Okay, but then it should be a matter of opening a bug with nrserial. I don't know why I got the idea we are using rxtx.. sorry about that.

[2016-01-07 09:50] maggu2810 commented on #3487
Have you read https://dev.eclipse.org/mhonarc/lists/iot-wg/msg00366.html and the following replies e.g. https://dev.eclipse.org/mhonarc/lists/iot-wg/msg00369.html
I have not done any action here, but as this seems to be unmaintained to (but well licensed) we could fork the source code and create (perhaps) a new project to maintain this serial driver ourself. Don't know if someone would like to wor

[2016-01-07 11:00] casperleenheer opened #3724 "Popp Battery Wall Controller"
Hi,

I bought a POPP Battery Wall Controller. It's not recognized by Openhab and it's also not in the Pepper database. I added the manual for it. What can I do to get it added to the Zwave binding?
[z_wave_popp_wallcontroller_manual.pdf](https://github.com/openhab/openhab/files/81013/z_wave_popp_wallcontroller_manual.pdf)

[2016-01-07 11:24] watou opened #3725 "io.caldav bundle not in addons.zip"
Neither master or 1.8 builds are including `org.openhab.io.caldav-<version>.jar` in the addons.zip file.  See [forum comment here]().

[2016-01-07 12:05] cdjackson commented on #3487
I would certainly be keen to see something ESR compatible. I discussed with Kai a while ago trying to get a direct USB driver working, but this didn't work out. As you say though, the current solutions are not workable for ESH.

We "just" need to find @someone to work on it :)

[2016-01-07 12:23] maggu2810 commented on #3487
I have added the dk.comm stuff to a Github repo of my own, so I can build it as a separate project.
I did also some pom.xml and so Manifest cleanup etc.

Will see when I will find some time to do further testing, bugfix, etc.

[2016-01-07 12:27] matrixagent commented on #3715
Huh, still not working, I'm afraid. But now it is getting pretty odd. The error:
[code]

This now looked to me as if it should work, however I really can't connect to the host **192-168-2-44.9124ef18d3ae4c7c9dc12a4a47b1d5d3.plex.direct**:
[code]

The second one is using my WAN IP, i.e. the one my home router got from my provider for the internet connection. So it seems that the hostname thingy fro

[2016-01-07 13:02] idserda commented on #3715
Weird stuff, seems to resolve fine here:

[code]

Maybe there's a solution here? https://support.plex.tv/hc/en-us/articles/206225077-How-to-Use-Secure-Server-Connections

[2016-01-07 13:17] wn2012 commented on #3196
I've just found the same error with OpenHAB version 1.7.1 running on Synology NAS:

**openhab.log**
2016-01-07 10:44:29.719 [INFO ] [.o.b.k.i.dpt.KNXCoreTypeMapper] - Translator couldn't parse data for datapoint type â€˜16.001â€˜ (KNXIllegalArgumentException).
2016-01-07 10:49:07.440 [INFO ] [.o.b.k.i.dpt.KNXCoreTypeMapper] - Translator couldn't parse data for datapoint type â€˜16.001â€˜ (KNXIlleg

[2016-01-07 14:00] #3725 closed

[2016-01-07 15:26] matrixagent commented on #3715
That was it, my router prevented the *DNS Rebinding*, and once I added an exception for the plex.direct domain it worked. :see_no_evil:

Thanks again for all your help!

[2016-01-07 16:24] Snickermicker commented on #3196
@wn2012 Could you provide a debug log?

[2016-01-07 20:36] watou commented on #3714
@bakrus if you see any problems related to this change, please re-open this issue.  Thanks!

[2016-01-07 20:36] #3714 closed

[2016-01-07 20:40] teichsta commented on #765
as explained above … since the expertise for atmosphere is very rare we shouldn't too much efforts anymore. Thanks to all participating, discussing, helping on this issue!

[2016-01-07 20:40] #765 closed

[2016-01-07 21:50] vallon commented on #3215
I have tried various combinations of Setup-967, but no luck.  I have only tried trying to associate nodes with the GE controller (setup-add-switch), but the normal handshake does not work.

The controller was working with a Wink hub as a secondary controller.

A few months later, and there is no change in state.  One thing I noticed is that "All On/Off" works.  So, it seems the device is at least

[2016-01-07 22:38] wn2012 commented on #3196
@Snickermicker what exactly do you need? The snippets above are from the files named in bold. Should I start openHAB in debug mode with the according debug script? Currently it runs in regular mode. I could do it tomorrow....

[2016-01-08 00:11] bigbasec commented on #3492
Anything else I can do to help?

[2016-01-08 08:44] fabioz23 opened #3727 "Openhab --> Eibd --> USB Weinzierl 330 no communication"
Hi,

I've a problem with this configuration: Openhab --> Eibd --> USB Weinzierl 330

The trunk Eibd --> USB Weinzierl 330 is ok, from the shell I can launch without problems some write on the bus.
Eibd is listening on 6720 port on the localhost and openhab.cfg is configured in Tunnel mode pointing himself on localhost on the port 6720.

Attaching an ethernet/KNX gateway and configuring properly Op

[2016-01-08 09:13] watou opened #3728 "db4o persistence not working in 1.8 RC"
See discussion [here](https://community.openhab.org/t/db4o-persistence-broken-in-1-8/5889).  @teichsta  and @lewie?

[2016-01-08 09:20] Dennis650 commented on #3138
Hi,

I implemented this rule and use it on my system. It works without problems on my system.

It seems there is a problem with the item. Can you check yout items file, if OneWireClearCacheOneItem is in there?

Is this problem still there? Can it be closed?

Greetings
Dennis

[2016-01-08 09:23] Snickermicker commented on #3196
@wn2012 Yes, that's what could help. Need to know which string is not parsed correctly.

[2016-01-08 10:40] staehler commented on #3175
Unfortunately, I've the same problem. Only a few of my sendNotifications arrive at my.openhab, most of them disappear :-(
The events fire, as I can find them in my events.log, but they doesn't arrive my.openhab Account. The online/offline notifications work fine.
Is there any workaround meanwhile?

[2016-01-08 11:05] cdjackson commented on #3691
I propose to close this as there is no problem identified?

[2016-01-08 11:12] mnlipp commented on #3257
I've created an "upstream issue" for this https://github.com/NeuronRobotics/nrjavaserial/issues/60.

[2016-01-08 11:21] cdjackson commented on #3492
I need to see the block where it is itterating through the command classes at the STATIC stage. This should show something where it lists all command classes, and shows what it's sending

Please either email me the full log, or grep the log for node 23 and look for recurring block where it says `Node advancer: STATIC_VALUES - checking` and `Node advancer: STATIC_VALUES - found`

[2016-01-08 11:59] watou opened #3729 "[zwave] excessive BATTERY LOW! log messages"
The Z-Wave binding is very eager to log that one of my devices has a low battery.  Is it possible to decrease the logging for this message?  I could explicitly suppress this logger class, but it seems like a stock solution in the code might be better.  Below is just a small section of these stretches of messages.

[code]

node11.xml:

[code]
##

[2016-01-08 12:06] paulianttila commented on #765
Maybe wiki could contain "known issues" where this kind of behaviors are documented

[2016-01-08 12:27] cdjackson commented on #3729
I don't think we can change this without adding some sort of state machine, but I wouldn't want to do that. I can only think that this is being reported by the device itself, and the binding is just reporting the packet.

What would be interesting is to see the debug log. The interesting point is that the messages are duplicated - I assume that this means the message is received twice, and not jus

[2016-01-08 13:08] watou commented on #3729
Thanks for looking at this, Chris.  The one thing I can't do safely is turn on DEBUG logging, because the openHAB server and Z-Wave network are thousands of miles away from me, and logs write to the SD card, which I wore out at great inconvenience once already.

You are probably correct that the device is sending these messages itself, in which case the solutions I can think of are

1. don't log "

[2016-01-08 13:15] cdjackson commented on #3729
Ok - I was going to suggest to drop this logging down to debug and assume the monitoring should be done through the GUI - I think I'll do this. WARN really should be for software warnings I think...

[2016-01-08 13:29] xalopp opened #3730 "Souliss binding: T18 states are not mapped correctly"
I'm using Souliss and OpenHAB to control a latching switch (Typical T18).

Unfortunately the returned code from Souliss are 0x24 (OFF) & 0x23 (ON) as implemented in

https://github.com/souliss/souliss/blob/friariello/base/T1n.cpp#L878
https://github.com/souliss/souliss/blob/friariello/Typicals.h#L84

[2016-01-08 13:37] bigbasec commented on #3492
Emailed it to you Chris, thank you again!

[2016-01-08 13:47] watou commented on #3729
Agreed.

[2016-01-08 15:33] swell-d commented on #3311
Stil appear at version 1.8 =(

[2016-01-08 15:51] wn2012 commented on #3196
@Snickermicker below you find an excerpt of stdout where the error occurs.
I've changed the IP and group adresses to keep my privacy.
If you need it I can send it via mail.
Same pseudo number represents same IP or group adress.
All 16.001 errors occured during debug mode run are listed and some lines above and below.
If you need more data please let me know. The debug output for the last 4 hours i

[2016-01-08 17:00] lewie commented on #3728
@watou,
et voilà a quick Fix:

"org.openhab.persistence.db4o" was the "duplicated name".

In OSGI-INF/configuration.xml
changed
````org.openhab.persistence.db4o```` to ````org.openhab.persistence.db4o.configuration````

In \OSGI-INF\database-db4o.xml
changed
````xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0"```` to ````xmlns:scr="http://www.osgi.org/xmlns/scr/v1.2.0"````

or use this Patch:

[co

[2016-01-08 17:20] watou commented on #3728
Thanks, Helmut!  I will work up a PR and first ask the original reporters to try a new JAR.  I'm also removing the unneeded
[code]
from `database-db4o.xml` and fixing two logging lines.

[2016-01-08 17:31] lewie commented on #3104
Oh, sorry @teichsta, I just noticed this.

Can not do it jet.
Or in other words, it would take too long to incorporate me to dive deep.

For **DEFAULT RULES:** and its writing style problem, I think we need a xText specialist.
For **LocationItem** I do not know what to do yet.

For **CallItem** the first thing I think, is to integrate it correct:
One of the reasons is certainly that:

**org.openha

[2016-01-08 20:02] jesperrs commented on #3691
Thanks for your fast reply.
As I see it it detects node 2 as a binary switch (which it is), but maybe it do not to everything. It seems to say what type it is and whos the neighbor.
It is problem in OpenHAB, but do you have any suggestions on how I should troubleshoot the problem?

[2016-01-08 21:33] cdjackson commented on #3691
The information that it is getting is coming from the controller - it's not communicating at all with the device. The neighbours list also just comes from the controller, and then the controller states that it thinks the device is failed - the controller only puts a device into the failed list if it is not possible to communicate with it at the lowest protocol level.
It's not a problem in OH - whe

[2016-01-09 03:46] drewwaite commented on #3662
Yes.This issue can be closed.

[2016-01-09 04:36] woopelderly commented on #956
I see this issue is quite old, however, I am running OpenHAB runtime 1.7.1 with the org.openhab.io.dropbox-1.8.0-SNAPSHOT.jar addon.  I am getting this same error on my WIndows machine.  Is there somewhere I can go to download an addon that includes a fix for this?

[2016-01-09 05:36] bigbasec commented on #3492
Just making sure you got it?

[2016-01-09 09:10] #3662 closed

[2016-01-09 09:13] cdjackson commented on #3700
Please advise if this can be closed once tested.

[2016-01-09 09:15] cdjackson commented on #3492
Yep, thanks - just replied to you…

[2016-01-09 10:54] watou commented on #3728
[Test JAR](https://dl.dropboxusercontent.com/u/4286376/db4o-fixes/org.openhab.persistence.db4o-1.8.0-SNAPSHOT.jar)

[2016-01-09 12:08] jdembski commented on #3728
I can confirm that the db4o persistence is working with the JAR watou provided...

[2016-01-09 14:50] robnielsen commented on #3027
@cdeadlock have you had a chance to try 1.8 as @berndpfrommer suggested?

[2016-01-09 14:56] robnielsen commented on #3579
@steve-bate, I haven't heard back from Insteon, and I doubt I will. I wonder if we should add a feature for the 2672-222 that uses RampDimmer instead of RampDimmer_3435. @berndpfrommer what do you think? It's still odd that the 2674-222 is different from the documentation.

[2016-01-09 18:22] TrevorNewsome commented on #2150
Has anyone implemented the colour functionality for the Zipato RGBW blub? If so would you be so kind as to add an example of the bindings please.

Thank you for your time Trev

[2016-01-09 18:23] cdjackson commented on #2150
No - it is not available in the OH1 binding.

[2016-01-09 19:41] #3730 closed

[2016-01-09 22:26] derHeinz commented on #3175
Same issue here. Sometimes a notification arrives but most of the time it doesn't.
There also seems to be no difference between 1.7.x and 1.8. both suffer from this behavior.

However, I debugged a little and it seems that the openhab code works fine and does the Socket.emit thing always. Unfortunately I'm not very experienced with this websocket things.
Tried to update the socket.io to the latest

[2016-01-09 22:30] wep4you commented on #3225
Yes would be great to use the presence Information for the Home Automation!

[2016-01-09 23:09] madhephaestus commented on #3257
Hey folks, this is my fault, but i could use help fixing it if anyone here has a good idea of what the problem is.

[2016-01-09 23:35] #3723 closed

[2016-01-10 00:13] dirandad commented on #2855
Hello Everyone.

I just buy a z-Weather and I'm trying to include it in my OpenHAB 1.7.1 | HABmin | zwave binding 1.8.0.201508211938 installation (on Raspberry Pi 2 + Aeon Stick)

The node is created; but stay as UNKNOWN with nothing in the value column.
![image](https://cloud.githubusercontent.com/assets/16628700/12219168/22e80f38-b737-11e5-9aed-70cf32b332b7.png)

 During the different exclude/In

[2016-01-10 00:29] svenschaefer74 opened #3742 "Z-Wave node got lost with snapshot of z-wave binding of build #1120 from Cloudbees"
@cdjackson

I just tried the latest snapshot of the binding and after exchanging the JAR file and restarting the openhab service one of my mains powered nodes (node 32) wasn't existing anymore.

I'm using a Razberry board on a RPI2 w/o any issues so far.

I've attached the according xml file for the node from /var/lib/openhab/zwave
[node32.xml.txt](https://github.com/openhab/openhab/files/83889/no

[2016-01-10 01:14] kwave opened #3745 "Repository contains eclipse project files"
Usually it's bad practice to include IDE specific files in a repo.
I'd like to untrack any IDE specific file (in case of Eclipse these are .classpath, .settings/*). Is there any reason why these files _have to_ be tracked?

You might think this is not very relevant, but it is definitively a pain in the as if you load projects in eclipse, do not change anything, and afterwards have to discard hundr

[2016-01-10 04:12] lutzhomestead commented on #3689
I am experiencing the same problem. I have successfully update the the heat setpoint but have not tried to change modes.

[2016-01-10 09:17] svenschaefer74 commented on #3700
I just tested it with the latest binding from https://openhab.ci.cloudbees.com/job/openHAB/1121/. I excluded the sensor und re-included it but the log still states that there is no db entry.

    2016-01-10 10:05:29.471 [DEBUG] [.z.i.config.ZWaveConfiguration:276 ]- NODE 35: No database entry: POPP [ID:201,Type:100]

I've also attached the newly generated xml file:
[node35.xml.txt](https://github.

[2016-01-10 09:33] cdjackson commented on #3700
Please can you provide a log file on startup.  The 3 versus 4 characters won’t make any difference as the database interprets this as a number, not a string.

[2016-01-10 09:39] cdjackson commented on #3689
Th provided links don’t work - sorry.

[2016-01-10 10:43] sercasyr opened #3748 "Z-Wave binding "info" command class 5-second fixed rate"
In the z-Wave binding, the "info" command class update is performed at a fixed 5-second rate.

I think it would be best to use the "refresh_interval" value.
Right now, "refresh_interval=0" works for the "info" command class, but if you set a different value, it is ignored.

[2016-01-10 11:09] svenschaefer74 commented on #3700
Here is the log file:
[zwave.log.txt](https://github.com/openhab/openhab/files/84072/zwave.log.txt)

Additional info:
- With the snapshot binding from January 3rd everything was fine.
- The device that got lost is a Fibaro FGS222. The only related issue I've seen was #3710.

[2016-01-10 11:15] cdjackson commented on #3700
So this isn’t related to the POPP smoke detector then?  We probably should track the issue with the FGS222 separately…

[2016-01-10 11:21] sercasyr opened #3749 "Time cron expression not triggered at the right time"
I have a couple of periodic rules that I want to execute at specific time intervals.
I need the period to be reasonably consistent (I don't need a 1 second accuracy. A 30 second accuracy would be enough).
If the rules are not triggered at the right time, this can make them fail because I use them to launch events based on specific times.

The rules worked well in the past, but now I have noticed t

[2016-01-10 11:23] cdjackson commented on #3700
For the POPP, can you delete node35.xml and restart and resend the log please.

[2016-01-10 11:24] svenschaefer74 commented on #3700
Sorry. My fault.

The device we're talking here is a missing entry in the zwave db for the POPP 004001 smoke detector. I shouldn't have mentioned the FGS222 here. The FGS is related to issue #3742. I'll move the additional info from above to the right plave. Sorry again.

[2016-01-10 11:32] svenschaefer74 commented on #3700
Done.
[node35.xml.txt](https://github.com/openhab/openhab/files/84077/node35.xml.txt)

[2016-01-10 11:33] Snickermicker commented on #3196
Thx. It seems, that an empty string is being transmitted. I'll add more debug output to the KNX binding.
@wn2012 would you be willing to deploy that and post the debug log since none of my devices is using 16.001 .

[2016-01-10 15:23] berndpfrommer commented on #3579
Will try to do some more experiments with the LED bulbs today, but not sure I'll get to it. If we do find the behavior to be different with firmware revision, then let's make two separate devices, maybe 2672-222 and 2672-222-R4.0+.

[2016-01-10 18:56] teichsta commented on #3728
fixed with #3738

[2016-01-10 18:56] #3728 closed

[2016-01-10 18:59] teichsta commented on #1643
any suggestion how to proceed with this issue @cdjackson @digitaldan?

[2016-01-10 19:39] kaikreuzer opened #3754 "SagerCaster binding must not depend on org.openhab.core.persistence"
The SagerCaster binding imports `org.openhab.core.persistence` and `org.openhab.core.persistence.extensions`, which breaks the architecture, since bindings should not directly access the persistence services.
Specifically, this is incompatible with openHAB 2 and thus makes this binding incompatible.

[2016-01-10 19:45] teichsta commented on #3754
duplicate of #3358

[2016-01-10 19:45] #3754 closed

[2016-01-10 19:47] kaikreuzer commented on #3754
Oh, indeed. I didn't expect that issues marked critical were still open...

[2016-01-10 19:49] teichsta commented on #3754
unfortunately yes … hope to fix these kind of issues very soon after 1.8 and ship as 1.8.1

[2016-01-10 19:57] kaikreuzer opened #3756 "Xtend classes should be removed from URTSI binding"
The urtsi binding contains three small classes that are written in Xtend. Since the new openHAB IDE does not have Xtend plugins installed by default anymore, I would suggest to replace these classes by a Java version.

[2016-01-10 20:03] digitaldan commented on #1643
Just to refresh everyone's memory ( I had to go back and refresh mine).  The Zwave binding accepts Increase/Decrease types but the zwave protocol does not support this natively.  So we can not just forward the +/- to the device, we need to do the conversion of a increase or decrease of the item state to an actual value and send this to the device.  There is a class that does this, but it relies on

[2016-01-10 20:23] skycryer commented on #3525
Where and when can i get the updated version? The stuff in the 1.8 addons bundle is not working, so it is not the last version, right?

[2016-01-10 20:25] dirandad opened #3757 "Popp/Z-Wave.me Z-Weather (other manufacturer Nb) -> Product Database"
Hello,

This issue is linked to issue 2855 : https://github.com/openhab/openhab/issues/2855. I just notice that issue 2855 is closed, so I create this issue.

z-weather seems to have an other version with another supplier number :
http://www.pepper1.net/zwavedb/device/751

Is-it possible to add it in the product database ?

Thanks

[2016-01-10 20:27] tnemrap commented on #1814
I also have this in 1.8 RC1

[2016-01-10 20:40] svenschaefer74 commented on #3742
After a couple of useless tries I had to get the Switch working again since otherwise my wife wouldn't have been happy :grin:

I removed the wall switch, set the controller into inclusion mode and pushed the wakeup button of the FGS222 a couple of times. Finally the device reappeared in HABmin again as node32. From there on everything works fine again.

I added the according zwave.log beginning wi

[2016-01-10 20:46] dirandad opened #3758 "File binding ?"
Hello,

After having passing some time to find something equivalent, it seems that there is no way to create items linked to an internal variable with persistence of the value when openhab restart.

I my home automation project, I would like to add some parameters (sort of modes), that I can change with the UI (Switch,...), to use in rules.
Exemple :
Create Switch Item liked with Internal variable

[2016-01-10 22:41] robertesorensen commented on #3536
Did you ever figure this out? I am having the same issue?

[2016-01-10 23:01] cdjackson commented on #3757
Please provide the device ID and type that openhab is indicating

[2016-01-11 02:30] berndpfrommer commented on #3579
Experiments with my 2672-222 (not sure what revision, but same as Rob's) using Insteon Terminal:

1) with device off sent ramp rate on with 0x34, no reaction whatsoever.
2) with device on sent ramp rate off with 0x35, no response either.
3) using ramp rate on with command 0x2e worked, but as Rob said, it also sets the ramp up/down speeds for all future commands. So when I send a plain "off" 0x13 (

[2016-01-11 09:20] jowiho commented on #1003
The problem still persists in 1.8. I've been playing around with the code, and the issue is indeed caused by the Quartz jobs. To be more precise: by the the SendJob.

In the current implementation, the SendJob is a single-fire job that checks if there is are messages queued in the sendQueue, and sends those messages over the serial port to the plugwise Stick. Immediately after a SendJob finishes,

[2016-01-11 09:36] HubertusH commented on #1098
me , too ;-). i (will) use the window handle to switch on/off the heading. Is there room for hope?
BR
Hubertus

[2016-01-11 09:43] PolishBen commented on #3583
Cześć Zacofany :-)

Sorry for the long delay in replying, have been offline a lot over the holiday season.

1. I don't know what this is - not sure if it's a problem with my binding, theirs, or due to a combination of the bindings but I have a few suggestions - can you test and let me know please?
1.1 Have you configured the binding to allow a large number of snapshots? i.e. more than a few dozen?

[2016-01-11 10:59] steve-bate commented on #3579
@berndpfrommer, my 2672-222 has the same 0x11/0x13 and fast on/off behavior (using 0x34/0x35 for ramp) as you describe. I can't test the 2674-222 at this moment because someone is sleeping in that room, but my guess it that it will behave in a similar way (except for using 0x2e/0x2f for the ramping).

[2016-01-11 14:03] CrazyFIn commented on #3389
Gents, it was with great excitement I found this GitHub thread. :-)

I have been searching around on the web since 2013 for information and success stories about these beautifully designed switches that have horrible Z-Wave compatibility. Mine has model number 5072xx where xx is a number for different colors on the pads and 5072 is the dual paddle version while the 5071xx is the one paddle version

[2016-01-11 14:32] cdjackson commented on #3389
I believe that the 'special version' is now not so special - ie it's included in the master branch. It would be worth trying the latest (if you haven't already) to see how it works.

If you wanted to send me one to play with, that might also be useful, although I probably can't do anything for hte next few weeks at least as I'm very busy. Probably Mid Feb I will have more time...  I guess you are

[2016-01-11 15:32] CrazyFIn commented on #3389
Ok great. Let me see that I understand this correcty (have tried to read on the OpenHab pages):
1. I still need OZWCP to include devices to my Z-Wave.ME UZB stick?
2. I can then use HABmin to configure and associate devices?

I have waited for 2 years to get these wall ltransmitters to work in any Z-Wave platform so waiting a month or so for you to make a dedicated attempt is not a problem. :-)

W

[2016-01-11 15:37] cdjackson commented on #1643
Personally I would probably opt for not solving it in OH1.

I think the 'best' way to solve the issue though is to cache the values in the command class. The binding should always know the value (ie all changes will be reported, or configured, through the command class). The only time this wouldn't work is if the device doesn't report its status if changed manually, and in this case, nothing will

[2016-01-11 15:45] marcvk opened #3761 "Update nrjavaserial in order to get FreeBSD support"
nrjavaserial just merged my pull request for FreeBSD (10.2) support and the next release (3.12.0) should have this included. Please upgrade to the latest nrjavaserial once it's released.
##

[2016-01-11 16:04] idserda commented on #3525
This fix is incorporated in the 1.8 release. What's not working? There's a known issue with Plex servers that require https (#3715), I'll submit a pull request to fix this in the next few days.

[2016-01-11 16:15] vsaw opened #3762 "Bulk status updates via REST API"
Is there a way how I can make a bulk update of item states via the REST API?

E.g. combining those into a single `cURL` call

[code]

I'd like to reduce the amount of HTTP requests being done for performance reasons.

[2016-01-11 16:55] wn2012 commented on #3196
@Snickermicker Yes, shure. I'll do it. But not before Friday. I have to work until to earn some money to buy new home automation gadgets ;-)

[2016-01-11 17:24] hmerk opened #3763 "fritzboxtr064 binding missing in 1.8 release"
@teichsta the new fritzboxtr064 binding is missing. Is this intentionally ???

Best
Hans-Jörg

[2016-01-11 18:45] skycryer commented on #3525
ok sorry i missed that. After changing to prefered instead of recommended for secure connection i get status of the player, only sending is not working. Maybe it is because of the player (Plex Media Player on Raspberry)

[2016-01-11 18:54] ollie-dev opened #3764 "Add Power Control support to RWE Smarthome"
Add support for new devices to measure power consumption:
- RWE Smarthome Power Control
- RWE Smarthome Power Control Solar

[2016-01-11 18:59] staehler opened #3765 "Can't get running influxdb08 Bbinding"
Hi,
I'm running influxdb 0.8 and upgraded openhab to 1.8.0 snapshot 1121, which supports influxdb 0.9.
I added org.openhab.persistence.influxdb08-1.8.0-SNAPSHOT.jar to addons and configured openhab.cfg like described in wiki.

influxdb08:url=http://myIP:8086
influxdb08:user=openhab
influxdb08:password=<password>
influxdb08:db=openhab

As I wasn't sure, I tried both variants for persistence:default

[2016-01-11 19:10] idserda commented on #3525
I'm using Plex on a Raspberry Pi too, so that should work :smiley: Can you turn on debug logging for the binding and see what is going on? Please create a new issue for this and add the logs.

[2016-01-11 19:22] #3724 closed

[2016-01-11 19:22] casperleenheer commented on #3724
Opened this issue on the habmin forum

[2016-01-11 20:05] theoweiss commented on #3765
Meanwhile openhab 1.8.0 is released. Can you try it again using the bundles from bintray:
https://github.com/openhab/openhab/releases

[2016-01-11 20:49] dirandad commented on #3757
Where can i find it, since HABmin give me only UNKNOWN, and the node?.xml does not existe for this device ? (deleteted by openhab at startup ?)

![image](https://cloud.githubusercontent.com/assets/16628700/12246152/18ec481a-b8ad-11e5-8218-7eabbf5f4fa1.png)

[2016-01-11 20:52] cdjackson commented on #3757
It will be displayed instead of UNKNOWN once it is known…..

If HABmin displays UNKNOWN, it is not because the XML is not up to date. This is caused be the device not communicating wit the binding - you need to solve this problem first.

[2016-01-11 23:14] samden commented on #3389
@CrazyFIn I am happy to see that there are also other users interested to make the merten devices to work with openHAB! Hopefully it will be soon possible.

Searching on internet, I found the following site: http://board.homeseer.com/showthread.php?t=139256 especially post 14.
According to that forum, it might be possible to keep the registration and configuration of the Merten devices within the

[2016-01-12 00:41] watou commented on #2900
Possibly related [user report](https://community.openhab.org/t/more-then-one-slider-item-breaks-1-8-0-classic-ui/6091) on the forum.

[2016-01-12 01:31] robnielsen commented on #3579
My 2334-232 and 2466D don't exhibit the problems you describe. They both turn on/off normally.

[2016-01-12 01:32] robnielsen commented on #3579
BTW, I have them set up as dimmers, not as a switch. I only am using a switch for ramp.

[2016-01-12 01:44] madunixman opened #3766 "OpenHab not writing on MQTT queue"
Hello, I am not able to publish on MQTT broker here:

on MQTT (mosquitto) I am listening on any eventual message in the queue:

mosquitto_sub -h 10.10.10.103 -t /#

then I have the following switch:

Switch item=PiLED label="Pi LED"

that should be issuing the command:

Switch PiLED "Pi LED" (GF_Study) {mqtt=">[mosquitto:home/study/PiLED:command:on:ON],>[mosquitto:home/study/PiLED:command:off:OFF]

[2016-01-12 06:04] brutevinch opened #3767 "Failed to get local hostname. 1.8.0 RPi2"
Setup: RPI2, openhab 1.8.0, hostname is Home. is it bug?
Have this strange message after startup:

10:55:30,406 |-ERROR in ch.qos.logback.core.util.ContextUtil@5dd18d - Failed to get local hostname java.net.UnknownHostException: Home: Home: unknown error
	at java.net.UnknownHostException: Home: Home: unknown error
	at 	at java.net.InetAddress.getLocalHost(InetAddress.java:1484)
	at 	at ch.qos.logb

[2016-01-12 07:52] kaikreuzer commented on #3767
Looks like a duplicate of https://github.com/openhab/openhab/issues/1613. Can you confirm?

[2016-01-12 08:33] brutevinch commented on #3767
@kaikreuzer Yes the same problem. But i didn't understand  is there any solution?

[2016-01-12 08:35] kaikreuzer commented on #3767
I can't tell - please follow up on #1613.

[2016-01-12 08:35] #3767 closed

[2016-01-12 09:16] watou commented on #3766
Please open a topic at https://community.openhab.org with your question and configuration, and members there will help narrow down things to try.  Once/if you find that there is a bug in openHAB, please reopen this issue report.  Thanks for your understanding.

[2016-01-12 09:16] #3766 closed

[2016-01-12 09:23] watou commented on #2900
Another possibly related [user report](https://community.openhab.org/t/classic-ui-1-8-rc/5991) (flagged by @robnielsen).

[2016-01-12 10:02] CrazyFIn commented on #3389
@samden
Yes, I was heavily testing Homeseer 3 and tried to get them to fix the association/binding problems to work but no deeper efforts from Homeseer though. I did also read that post about using Merten ZWave stick to configure everything in Mertens ZWave software first.
However, I was not to excited about that solution since that would mean that one of my Merten wall controllers would act as a

[2016-01-12 11:52] HolgerHees opened #3771 "forEach does not work properly with java 8"
the following simple rule works properly with java 7

rule "Scene 1"
when
        Item Scene1 changed
then
        if( Scene1.state == ON )
        {
                Lights_FF.members.forEach(kreis|{
                        sendCommand(kreis, OFF)
                })
                postUpdate(Scene1, OFF)
        }
end

if I switch to java 8 I got the following error message

ERROR o.o.c.s.ScriptE

[2016-01-12 12:03] robbyb67 opened #3772 "MyOHClient: JSONObject["sitemap"] not a string"
Since v1.8.0 I have a lot of lines like

ERROR o.o.i.m.internal.MyOHClient[:326]- JSONObject["sitemap"] not a string.

in openhab.log
The access via my.openhab.org works as expected so I assume this error is "cosmetically" but nevertheless annoying.
##

[2016-01-12 12:08] dannyboyw commented on #3536
No, but I have not dug any further, except for this request and searching the interwebs.  I thought I meticulously followed all the documentation I could find, so I am hoping it is some little (undocumented) detail specific to the CM19A that I did not do.  I remember reading a couple threads w/ other saying they got CM19A working with this binding, so I was hoping they would chime in.

[2016-01-12 12:11] robbyb67 commented on #3577
In my setup a temperature format of [%.1f °C] works. You write youre playing around with "%1.f" ... typo ?

[2016-01-12 12:19] kaikreuzer commented on #3772
@belovictor Could you have a look?

[2016-01-12 12:55] HolgerHees commented on #3771
I wrote an additional comment to this closed ticket. #2586

[2016-01-12 13:50] cdjackson commented on #3389
@samden I’ll have a read of this when I get a chance. I don’t see why the Merten software should be needed, but maybe they have ‘non-standard’ ways to detect certain things about the devices to improve the configuration…

[2016-01-12 13:51] cdjackson commented on #3389
You shouldn’t. In theory, you should be able to do this in openHAB. openHAB does provide an inclusion mode, although in OH1/HABmin 1, due to constraints of the system, the feedback isn’t great, but it should work ok.

Yes.

Probably not. I guess that it is a standard Z-Wave API stick so it should (I assume?) work the same as other sticks.

Ok, cool. I’m on a flight at the moment, but I guess your

[2016-01-12 14:20] ssalonen commented on #3537
Putting an observation here for the record: SerialTransaction has [it already implemented in Java](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.modbus/src/main/java/net/wimpi/modbus/io/ModbusSerialTransaction.java#L183) but not exposed as openhab configuration. Perhaps we could implement that to TCP as well and expose the configuration parameter.

[2016-01-12 14:21] robnielsen commented on #2900
I replace Logic.min.js with Logic.js and here's the stack trace:

    at Slider.that.displayValue (https://192.168.1.2:8443/classicui/WebApp/Action/Logic.min.js:1850:27)
    at new Slider (https://192.168.1.2:8443/classicui/WebApp/Action/Logic.min.js:1854:8)
    at InitSlider (https://192.168.1.2:8443/classicui/WebApp/Action/Logic.min.js:1876:5)
    at InitForms (https://192.168.1.2:8443/classicui

[2016-01-12 14:30] robnielsen opened #3773 "Classic UI error message when loading an image"
The following appears in the chrome's console:

The unescaped version of the URL is:

[2016-01-12 14:47] Guycomesoutofthejungle commented on #3577
Hi robby67

this is same like my actual setup:
Number Temperature "Temperature [%.1f °C]" <temperature> {fritzaha="fritzbox,087610226840,temperature"}

I´m going crazy.
Because the Power is working still perfect.
Ok what is the difference between your setup and my setup?
FritzBox 7490, FW=OS 6.30 / Fritz!DECT 200, FW=03.37
Did you display the temperature over Text item?
Maybe you can post your con

[2016-01-12 14:47] robnielsen commented on #2900
Here's what `that.opt.parentNode.querySelectorAll("span")` contains:

0: span.options.optionsSlider
1: span.iSliderContainer
2: span.iSliderProgress
3: span.iSlider
length: 4
__proto__: NodeList

When inspecting it with chrome's debugger. The array contains 4 elements, not 5.

[2016-01-12 15:07] robbyb67 commented on #3577
Item:
Number AHA_1_Temp "Local outside [%.1f °C]" <temperature> {fritzaha="box,087610121924,temperature"}

sitemap:
Text item=AHA_1_Temp label="Außentemperatur [%.1f °C]"

FB (7490) firmware is 6.50 but it worked with 6.30 too. DECT200 firmware is current (3.59).

But I think I got it: Your sitemap label for Temp **overwrites** the label defined in the item. You should try "Temperatur [%.1f °C]" i

[2016-01-12 16:32] Guycomesoutofthejungle commented on #3577
solved!

The "Temperatur [%.1f °C]" in the sitemap label was the turn

A lot of thanks, im happy

[2016-01-12 16:36] robbyb67 commented on #3577
Please dont forget to close the issue.

[2016-01-12 16:38] albertovm opened #3775 "Raspberry pi problem"
Is there any way to solve this? It appears that BlueCove/Bluez has a BUG with latest Raspberry's Debian. It does not allow installation of both, but my bluetooth works perfectly.

13:52:25.324 ERROR o.o.b.b.i.BTDeviceDiscoveryService[:217]- Error while initializing local bluetooth device.
javax.bluetooth.BluetoothStateException: BlueCove com.intel.bluetooth.BluetoothStackBlueZ|com.intel.bluetooth.

[2016-01-12 16:45] #3577 closed

[2016-01-12 17:43] rkoshak opened #3776 "setpermissions.sh should not change the permissions for all files and folders in ~openhab"
The forum discussion is here: https://community.openhab.org/t/a-restart-of-openhab-causes-file-permissions-to-change-in-openhab-ssh/6121/7

Currently setpermissions.sh changes the permissions of all files and subfolders of ~openhab during an openhab restart. There are two problems with this.

1) It appears the intent is to set the permissions of the folders in /var/lib/openhab which include the De

[2016-01-12 18:08] tnemrap opened #3778 "Mqttitude 1.8"
The binding is subscribed before it has read its configuration and raise an error on startup.

[code]

See full log.

[code]
##

[2016-01-12 21:48] dirandad commented on #3757
Hello,

Here are the needed information :

![image](https://cloud.githubusercontent.com/assets/16628700/12277539/246c66c8-b97c-11e5-8a1b-851c14a19091.png)

[2016-01-12 21:51] sja commented on #2900
@robnielsen Thanks for your research. Yes, it should the iSlider, so index 3. Will fix that.

[2016-01-12 22:32] theoweiss commented on #3776
setpermissions is needed because the openhab execution user can be configured with /etc/default/openhab and it must be granted that this user has rw access to certain files.

I would suggest the following changes:
1) the OPENHAB_HOME_DIR value should be configurable in /etc/default/openhab
2) add a new variable to /etc/default/openhab SET_PERMISSIONS=yes|no with the default value "yes". If SET_PER

[2016-01-12 22:47] rkoshak commented on #3776
If I'm understanding the changes correctly the changes are an all or nothing sort of change, correct? 1) lets you deal with issue 1) above where ~openhab isn't at /var/lib/openhab. 2) addresses the problem of it changing the .ssh directory permissions by essentially turning off the script entirely.

So my questions is if running setpermissions.sh every time OH starts is important, won't turning it

[2016-01-12 23:00] watou commented on #3776
Would it not make sense to create the openhab user with a home directory in /home/openhab, so it becomes distinct from /var/lib/openhab?  In that case the
[code]
never touch the actual openhab user's home directory, which must be left undisturbed by setpermissions.sh so it can host .ssh and perhaps other files and executable scripts (there was another report of a user's script losing its executabl

[2016-01-12 23:08] svenschaefer74 commented on #3700
I reviewed the products.xml file again and found that I mixed up the type and the id of the device. *ugh* I patched my local binding and now the HABmin interface shows me the right information besides the device class which is GARAGE_DOOR but this might be correct in terms of zwave terminology.

If this is correct I could create a new PR. Should I include products.xml and 004001.xml in one new PR?

[2016-01-12 23:26] cdjackson commented on #3700
Don’t worry about the garage door thing - I need to rename this, but it’s something that is in the binding…

Yes - the updated products and the xml file in one PR would be great - thanks.

[2016-01-13 11:46] stefaanbolle opened #3781 "External authentication also requires credentials for internal network"
Below problem occurs with 1.7.1 and also with 1.8.0
I've setup openhab with ssl and authentication. I have a correct users.cfg file which is working.
When I try to connect from the internal LAN (using ssl - 8443 or no ssl - 8080) the credentials are always asked.
Possibly a bug?

Below my openhab.cfg settings
  security:option=EXTERNAL
  security:netmask=192.168.1.0/24

[2016-01-13 12:46] watou opened #3782 "[twitter] 1.8.0 did not find my existing twitter.token file from 1.7.1"
Problem noticed after upgrade to 1.8.0 over 1.7.1 using apt-get.  Older action code found my existing twitter.token file on server restart; after upgrade, action bundle did not find the existing twitter.token file (see https://github.com/openhab/openhab/pull/3551) and requested a new PIN authorization.

Also note that the log message instructs the user to "Create an empty file 'twitter.pin' in you

[2016-01-13 12:47] watou commented on #3782
Woah, hold on! :smile:

[2016-01-13 12:49] watou commented on #3782
That's better....

[2016-01-13 18:17] pinkkoff commented on #3293
Hello!
Now i try OpenHAB 1.8 and i have same issue. Can anyone explain what is it?

[2016-01-13 18:35] semperor commented on #3781
I can confirm that on 1.8.0 on Linux. I tried `security:netmask=192.168.1.0/24` and `security:netmask=255.255.255.0`. Both didn't worked.

[2016-01-13 18:53] pinkkoff commented on #3771
I think it is critical bug.
I try workaround like this:
[code]
and tis work for me now... Thanks @dhermanns in #3293

[2016-01-13 19:20] csowada commented on #2486
I use such an Item
``Number Temperature_FF_Bath		"Temperature [%.1f °C]"					<__temperature>		(Temperature, FF_Bath)		{serial="/dev/ttyUSB_HN@38400,REGEX(.*T:([0-9.]*),.*D:5.*)"}``
 and for me it works perfect.

Maybe an issue with the configuration encoding?

[2016-01-13 19:29] csowada opened #3784 "[serialbinding] Multiple serial items with regex causes warn messages "Unable to convert regex result ...""
If you use multiple items in your configuration with the new REGEX parameter then it causes warn messages like:

``20:14:28.684 WARN  o.o.b.s.internal.SerialDevice[:244] - Unable to convert regex result '%SERIALDATA%' for item %ITEMNAME% to number``

We have to check if the translation service input is unequal to the result or the serial binding. Without this check the item will be set with the or

[2016-01-13 19:51] pepijndejong opened #3786 "Add zwave-device to database: BeNext Molite Sensor"
Could you please add this device?
http://www.pepper1.net/zwavedb/device/265
http://www.benext.eu/static/manual/molitesensor.pdf

Got it up and running with the following config:

<?xml version="1.0" encoding="utf-8"?>
<Product>
	<Model>MoLite</Model>
	<Label lang="en">BeNext MoLite Sensor</Label>
	<CommandClasses>
		<Class>
			<id>0x30</id>
		</Class>
		<Class>
			<id>0x31</id>
		</Class>
		<Class

[2016-01-13 21:16] 4integration opened #3787 "Swedish åäö and ÅÄÖ not displayed correctly"
![image](https://cloud.githubusercontent.com/assets/11057350/12308015/243b9a30-ba43-11e5-9380-5509df115b4f.png)
![image](https://cloud.githubusercontent.com/assets/11057350/12308030/2f52c2ae-ba43-11e5-838b-51c036cb355b.png)

Swedish åäö/ÅÄÖ isn't displayed correctly

[2016-01-13 21:16] 4integration commented on #3787
It should be "Alingsås" in this case

[2016-01-13 22:09] gbirke opened #3788 "jdbc mariadb driver hangs, mysql driver works"
I've switched my persistence to jdbc and wanted to use the mariadb driver. However, this did not work as expected. After startup the log file contained several instances of the following message:

    2016-01-13 21:24:46.108 [WARN ] [p.j.internal.JdbcConfiguration] - JDBC::updateConfig: try to load JDBC-driverClass: 'org.mariadb.jdbc.Driver'
    2016-01-13 21:24:46.110 [WARN ] [o.o.p.jdbc.internal

[2016-01-14 03:01] lutzhomestead commented on #3689
Here is a copy of my log file and the node xml [zwave xml & log.zip](https://github.com/openhab/openhab/files/89803/zwave.xml.log.zip). The first part of the log was run with the following command.

Number	HVAC_Temperature	"Temperature [%.0f F]"	<temperature>	(HVAC_Chart)		{ zwave="2:1:command=sensor_multilevel,sensor_type=1,refresh_interval=60" }

at time stamp 2016-01-13 21:47:24.733 changed to

[2016-01-14 03:25] udo1toni commented on #3282
As a temporary workaround, one could double bind knx to the item:

    DateTime Date "Zeit [%1$tA, %1$td. %1$tB %1$tY %1$tT]" <calendar> (All) {ntp="Europe/Berlin:de_DE", knx="11.001:15/7/11", knx="10.001:15/7/10" }

[2016-01-14 06:37] udo1toni commented on #3758
You could make use of persistence to restore to the last state, e.G. mapDB should fullfill your needings without much overhead.

[2016-01-14 06:58] russellchadwick commented on #3689
The links are missing dots in the hostname in the email notification, but they look fine in the web ui, not sure

[2016-01-14 07:03] udo1toni commented on #3727
Yes openHAB is definitly capable to work with eibd.
Maybe you missed something to configure, I remember it's a bit tricky to get the connection to work, when eibd is at the same computer as openHAB, but it's a while since I changed to Weinzierl 730... :D

[2016-01-14 08:16] fabioz23 commented on #3727
Yesterday I've solved changing the Eibd listen port, if it listen on 6720 Openhab goes in timeout connection.
Setting to the port 3671 it works.

Strange but now works.

[2016-01-14 08:22] watou opened #3794 "[zwave] encodeValue rejects valid BigDecimals; precision bug"
Below is a proposed change to the Z-Wave binding that would allow it to encode decimal numbers with any number of digits after the decimal point.  The current code that converts `BigDecimal` numbers into the protocol format rejects them because of the number of digits, whereas it should only reject numbers that can't fit in 32 bits.

I don't know if [a change I suggested to Chris before 1.8](https

[2016-01-14 08:24] schmidtmic opened #3795 "Multiple Dimmer Items"
Hello
Right now you can have only one Dimmer item in a group.
If you have multiple dimmers in a room you are stucked.
Example:
Dimmer EG_Kitchen_clining_light "Light1" (EG_Kitchen) { knx="15/3/20+15/3/20, 15/3/21, 15/3/22" }
Dimmer EG_Kitchen_table_light "Light2" (EG_Kitchen) { knx="15/3/20+15/3/20, 15/3/21, 15/3/22" }

Each definition works fine if you use them separately.
If you use them togethe

[2016-01-14 08:28] watou commented on #3795
believe this is the same as #2900.

[2016-01-14 08:43] schmidtmic commented on #3795
I don't think it is the same issue. In my case the hole interface freeze no matter which browser I use. In issue #2900 the dimmer items are visible. Only the increase/decrease function is not working.

[2016-01-14 09:07] watou commented on #3795
If you open your browser's developer console and try to load the ClassicUI page with multiple dimmers, can you find any JavaScript errors like "cannot set property 'innerhtml' of undefined" or similar?  There seem to be a number of user reports of related problems with Sliders and Dimmers, and yours seems to be in the same "family" of issues that are slated (in #2900) to be fixed in 1.8.1.

[2016-01-14 09:41] schmidtmic commented on #3795
It seems there is a Problem with the innerhtml and it seems to belong the that "family" as you expected. (see screenshot)
![bildschirmfoto vom 2016-01-14 10-31-37](https://cloud.githubusercontent.com/assets/16699734/12320871/5c97ab22-baab-11e5-8085-0ea1e64a7856.png)

[2016-01-14 09:47] HolgerHees commented on #3771
thanks a lot. this workaround works for me too.!

[2016-01-14 10:03] watou commented on #3795
Thanks for checking, @schmidtmic.  Hopefully these issues will be sorted in 1.8.1 soon. :smile:

[2016-01-14 10:28] sja commented on #3795
I thing the problem is a Slider without a value-containing label. Can you check that? See https://community.openhab.org/t/classic-ui-1-8-rc/5991/8

[2016-01-14 11:12] albertovm commented on #1814
Me too... for TEXT from MQTT data.

[2016-01-14 11:23] schmidtmic commented on #3795
@sja
You where right. After adding [%s] to the lable field both dimmers showing up!!

Dimmer EG_Kitchen_clining_light "Light1  [%s]" (EG_Kitchen) { knx="15/3/20+15/3/20, 15/3/21, 15/3/22" }

THX

Michael Schmidt

[2016-01-14 11:31] watou commented on #1814
Reopening...

[2016-01-14 12:24] albertovm commented on #1814
In my research I found a "null point" problem related to this.
Maybe in my MQTT data I am sending something new, not expected in TEXT.

[2016-01-14 20:25] cniweb commented on #1989
@7Bit, can i help you?

[2016-01-14 20:27] kaikreuzer commented on #1989
@teichsta, this should probably now be moved over to https://github.com/openhab/openhab-distro/issues

[2016-01-14 20:30] cniweb commented on #1989
The project I did not even know, interesting!

[2016-01-14 20:31] kaikreuzer commented on #1989
Well, it is brand new, but now the new place for all openHAB distribution and packing stuff.

[2016-01-15 04:06] bigbasec opened #3799 "Fails to build"
Fresh checkout, fails to build :
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 05:26 min
[INFO] Finished at: 2016-01-14T23:04:33-05:00
[INFO] Final Memory: 333M/798M
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal org.eclipse.tycho:tycho-surefire-plugin:0.24.0:te

[2016-01-15 07:21] hakan42 commented on #3782
No real idea yet. I will check later today and provide a fix, or at least an entry in the wiki on how to upgrade.

The name of the file should not have changed though, only the directory it is being searched in.

[2016-01-15 07:32] mknet commented on #3723
Hey everybody,

I don't understand why the issue here was closed. I still have the exact problem while building the binding. The fixes I can see and which I also have now on my local machine, e.g. in commit 29de512, don't change anything in the class  Tr064Comm but this is where most of the errors occur.

Does the build work four you guys now?

I still got those errors:
[code]

[2016-01-15 10:30] stefaanbolle commented on #3788
I also have an issue with the MariaDB driver. The MySQL driver does work

[2016-01-15 10:33] watou commented on #3788
@lewie, could you take a look at this?  Any change needed to be included in 1.8.1?

[2016-01-15 10:33] lewie commented on #3788
Yes, I will have a look next Time.

[2016-01-15 10:36] watou commented on #3788
Thanks, Helmut.  I would assign this issue to you but you seem to have gone "unlisted". :confused:

[2016-01-15 14:59] lewie commented on #3788
What means "unlisted"?

[2016-01-15 15:11] lewie commented on #3788
AH wait, I have to switch back to openHAB master Branch! I have to update master. I will tell you when I should be back.

[2016-01-15 15:21] lewie commented on #3788
@watou, now master is back the main branch. So I should be back and listed?!

[2016-01-15 15:37] vgoldman commented on #3175
It seems there's a major improvement since  last changes of server side together with 1.8 release. At least my notifications seem to be mostly working again

[2016-01-15 15:49] watou commented on #3788
When trying to message you or assign this issue to you, github does not appear to list your name "lewie" as an available choice.  Did you change something in your github profile (not that I can see such a setting in my own account)?  Obviously you can still be addressed, but it's strange that your username doesn't auto-complete any more.

If you need to submit a PR for this issue, do so against th

[2016-01-15 15:58] vgoldman commented on #1209
@cdjackson ,  did you ever get to make some progress on this?
Most popular smart locks in the US are z-wave based. Others are either too expensive or use proprietory/bluetooth  technologies.

[2016-01-15 16:24] cdjackson commented on #1209
No - I'm not working on this, but others are. Please join the discussion on the OH forum.

[2016-01-15 16:27] brettyj opened #3802 "Classic UI Broken in 1.8?"
Since I've upgraded to 1.8 I can't load the Classic UI - I get the following errors in the developer console on the browser:

GET http://10.0.1.26:8080/images/text.png 404 (Not Found)
Logic.min.js:1 Uncaught TypeError: Cannot set property 'innerHTML' of undefinedSlider.that.displayValue @ Logic.min.js:1Slider @ Logic.min.js:1InitSlider @ Logic.min.js:1InitForms @ Logic.min.js:1Init @ Logic.min.js:

[2016-01-15 16:53] brettyj commented on #3773
I'm closing this as I can see it's been raised here https://github.com/openhab/openhab/issues/2900

[2016-01-15 16:54] brettyj commented on #3802
I'm closing this as it's raised here: https://github.com/openhab/openhab/issues/2900

[2016-01-15 16:54] #3802 closed

[2016-01-15 19:27] Vitchling commented on #2819
Hi spacemanspiff
I've been running OH 1.5.1 for the last year or so, with 4 x StellaZs and also wanted to use direct control but it wasn't supported until you raised this. I found a very clunky way to get around it but I always wanted a better solution.

I've now finally got OH 1.7.0 working and would love to go to direct valve control. I'm not a programmer though, so most of my efforts take forev

[2016-01-15 20:55] tecstuff commented on #3765
Hello,

I guess I had the same problem after 1.8.0 upgrade. In my case I forgot to rename the persistence file to influx08.persist .

HTH
Bernd

[2016-01-15 21:19] theoweiss commented on #3765
But now it is working?

[2016-01-15 21:28] sercasyr commented on #3749
I switched to OpenHAB 1.8 and I am still getting the same behavior.

I post a log to show how rule 2 misses to execute at 21:40

2016-01-15 21:34:41.695 [INFO ] - ReglaPeriodica2 (10 0/1) triggered
2016-01-15 21:35:12.984 [INFO ] - ReglaPeriodica2 (10 0/1) triggered
2016-01-15 21:36:28.676 [INFO ] - ReglaPeriodica2 (10 0/1) triggered
2016-01-15 21:37:10.528 [INFO ] - ReglaPeriodica2 (10 0/1) trigg

[2016-01-16 10:23] sercasyr opened #3803 "rrd4j does not persist during the night (Time Cron bug?)"
I have the weirdest issue...

For some reason, some (not all) of the items that I have configured to persist are not persisted during the night.

It usually stops working sometime between midnight and 1 am.
It resumes to work around 5-6 am.

I have noticed it because the graphs show strange straigth lines at night.
I have confirmed the problem by taking a look at the persisted  values through Habm

[2016-01-16 13:29] GENETX opened #3805 "[pilight] Pilight 1.8 with OH2b1 failing connect correctly"
Hi all,

I just gave OpenHAB 2b1 a test-drive. However, I seem to experience some problems with getting the old 1.x bindings to work out-of-the box. To be more specific: It seems that the openhab.cfg file does not get loaded correctly on startup. However, if I trigger a refresh by renaming this config file (e.g. to openhab1.cfg) then the 1.x bindings start to work. This is reproducable on each sta

[2016-01-16 13:31] stefaanbolle opened #3806 "Nikobus binding: switch states do not follow physical changes"
I have some syncing issues on a RPI2 running Raspbian and Openhab 1.8.0 with the Nikobus binding

I use both Nikobus switches and corresponding Mios switches to have synced states.
When I control my Nikobus lights through Openhab using a Mios or the Openhab GUI, the real Nikobus light does respond (light goes on or off)
However when I use the Nikobus physical buttons, the status is not reflected i

[2016-01-16 14:08] staehler commented on #3765
@theoweiss I'm going to try it this weekend. Hadn't time till now, so sorry for the delay.

[2016-01-16 15:38] robnielsen opened #3808 "MyQ binding fails to build to do to extra Unicode character"
The file bundles/binding/org.openhab.binding.myq/src/main/java/org/openhab/binding/myq/internal/MyqBinding.java has the Unicode character 0xfeff on line 9 that is causing the build to fail.

[2016-01-16 16:01] derabbink opened #3810 "Always `Unable to find table for query` when viewing chart"
I am running a minimal install of OpenHAB 1.8.0. I have configured the [Weather Binding][1] to use Wunderground.com, but I also want OpenHAB to be able to render e.g. a chart for the temperature and humidity.

However, whenever I attempt to load such a chart (by opening my "Dublin Weather" frame), I will see an empty one, and in the logs the following appears:

The only [explanation I have seen so

[2016-01-16 16:20] watou commented on #3810
I am able to chart groups of persisted Number items in openHAB 1.8.0 as you are attempting. Could you try

http://host:port/chart?groups=gWeather_Chart&period=W&random=1&h=800&w=1200

Please continue this, including your openhab.cfg contents and results of examining your MySQL database directly, at https://community.openhab.org, and if there it's discovered to be a bug, please reopen this issue.

[2016-01-16 16:20] #3810 closed

[2016-01-16 16:21] derHeinz commented on #3175
Works for me too. Great job to the guys fixing this.

[2016-01-16 18:33] schmidmuc opened #3811 "RRD4J persistence doesn't work after SW 1.8 update"
After update to 1.8 I face problems with RRD4J Persistence Service.
I've included some logging information below...
Does anybody else see similar problems?

2016-01-16 19:26:37.661 [ERROR] [OSGi                          ] - Could not bind a reference of component org.openhab.core.persistence.extensions. The reference is: Reference[name = PersistenceService, interface = org.openhab.core.persistence

[2016-01-16 18:57] watou commented on #3811
I believe you would have more assistance at the openHAB forum.  Would you mind creating this topic at https://community.openhab.org and closing this issue here, but reopen the issue if it's determined to be a bug, as opposed to a configuration or other problem?

[2016-01-16 20:08] derabbink commented on #3810
OK. In case anyone wants to read the follow-up, this is where I posted: https://community.openhab.org/t/always-unable-to-find-table-for-query-when-viewing-chart/6329

[2016-01-16 20:30] tlindener commented on #3799
Hi,
I experience the same problem. If you don't need the mentioned binding you can tell Maven to simply skip the tests.

[2016-01-16 22:01] svenschaefer74 commented on #3700
I've tested the latest build #1129 from cloudbees and it is working as expected.

[2016-01-16 22:58] #3808 closed

[2016-01-16 23:18] teichsta commented on #3799
fixed through #3809

[2016-01-16 23:18] #3799 closed

[2016-01-17 00:03] wep4you commented on #3225
Based on the Netatmo Binding i implemented a Binding for Netatmo Welcome. At the moment it will get all Informations from the Netatmo API GetHomeData. Till now i haven't pushed something to GIT so if somebody else is also interested i will try it.

[2016-01-17 08:31] ssalonen opened #3818 "Modbus binding should close TCP connection after every transaction"
During 1.8.0-SNAPSHOT development there was regression caused by my pull request [#3512](https://github.com/openhab/openhab/pull/3512) that broke down installation for some users (for details consult [this community discussion](https://community.openhab.org/t/modbus-connection-problem/6108)). In the PR I had removed the code that closes TCP connection after every modbus transaction, i.e. after eve

[2016-01-17 11:48] steve-bate opened #3821 "ExecUtil command execution raises exception when exitCode != 1"
The ```ExecUtil.executeCommandLineAndWaitResponse``` function specifies that the only valid exitCode is 1. Other exit codes cause an exception from the ```org.apache.commons.exec.Executor``` and results in a warning log message. I recommend we remove the code that is setting exit code == 1 as the only valid exit code.

@watou @kevin

[2016-01-17 12:07] watou commented on #3821
[Link to forum report](https://community.openhab.org/t/openhab-1-8-and-2-0-beta1-release-is-out/6025/27)

[2016-01-17 12:31] watou opened #3823 "[exec] Allow any item type to be updated, not just hardcoded list"
The exec binding can only update Number, Contact, Switch, Rollershutter and String items.  If it's any other item type, it attempts to post a StringType state to the item, regardless of whether the receiving item accepts them.

The exec ought to be able to update any item type without containing any hardcoded list.  Very similar in outcome to #3504 which produces no side effects or compatibility i

[2016-01-17 13:23] kaikreuzer commented on #3821
+1

[2016-01-17 13:38] cdjackson opened #3824 "Serial transport?"
@kaikreuzer, in this commit https://github.com/openhab/openhab/commit/3df021d2bd82797ff09b3c367a70ac583577cd06 you removed the io.transport.serial bundle - is that somewhere else now? I guess it might now be in the OH2 bundles, but I'm not sure where? Currently in my IDE the serial library can't be resolved.

[2016-01-17 13:45] cdjackson commented on #3824
Sorry - found it. It doesn't show up in the imports until the old oh1 addons one is removed!

[2016-01-17 13:45] #3824 closed

[2016-01-17 13:53] wn2012 commented on #3196
@Snickermicker I've just installed openHAB version 1.8. I'm getting the error also. If you want me to create more debug output for investigation please adapt binding for 1.8.

[2016-01-17 14:29] steve-bate commented on #3821
@watou has suggested we roll back this [commit](https://github.com/openhab/openhab/commit/49d0905581cec101a506a40a9dcdde3417ffbfcf). However, I'm not convinced yet that this is the best solution.

There are three contexts where this issue might arise. The exec binding, the exec action and the exec transformation. Only the action and the transformation use ```ExecUtil```, which was touched by the c

[2016-01-17 14:37] staehler commented on #3175
Hmmm, for me it doesn't work reliable, unfortunately. A lot of notifications just disappear.
I'm running OH 1.8. Is this problem solved and just me has the problem? Do I need to change anything in my configuration?

[2016-01-17 14:45] watou commented on #3821
What I said was: "I suggest either reverting that referenced commit, or changing logging to DEBUG so at least users can by default not have these messages logged."

However, if you can instead log WARN messages *only* in the case where the command was not executed at all like you mention above (permission denied, file not found and the like) across all supported OSs, but without assuming that any

[2016-01-17 15:02] steve-bate commented on #3821
I understand. Looking closely at the code, the failed command log messages should probably be at error level to be consistent with the existing code. For example,

        try {
            executor.execute(cmdLine, resultHandler);
            logger.debug("executed commandLine '{}'", commandLine);
        } catch (ExecuteException e) {
            logger.error("couldn't execute commandLine '" + c

[2016-01-17 16:08] brutevinch opened #3826 "Updating status to 100% for dimmer using Switch."
Openhab 1.8

sitemap:
Switch item=LightHallMainDimmer
Slider item=LightHallMainDimmer label="Dimmer [%d]" switchSupport

items:
Dimmer LightHallMainDimmer "Dimmer [%d]" <light> (gHall, gLightsHall, gLightsCounter, gLightsAll) {zwave="2:command=SWITCH_MULTILEVEL,restore_last_value=true"}

Log:
2016-01-17 21:02:38 - LightHallMainDimmer received command 11 (using slider)
2016-01-17 21:02:38 - LightHa

[2016-01-17 16:09] brutevinch commented on #3826
may here is the same problem https://groups.google.com/forum/#!topic/openhab/0q4GQb_Vs7g

[2016-01-17 16:15] watou commented on #3821
I don't think now would be a bad time to bring sensible consistency to logging levels, especially since you are adding a log line in 1.8.  Thomas has said before that ERROR should be reserved for a situation that affects system stability, which to me suggests that all three exceptions (ExecuteException, IOException and resultHandler.getException()) should log at WARN level.

[2016-01-17 16:22] staehler commented on #3765
@theoweiss I successfully tested your influxdb08 binding now. It works with the release from bintray.
Nevertheless, it could be helpfull to describe the changes, which are needed to activate influxdb08:
- changes in openhab.cfg (if needed persistence:default=influxdb08 as well) (I needed some time to find this out)
- rename or create a influxdb08.persist file (I needed some time to find this out)

[2016-01-17 16:23] steve-bate commented on #3821
Yes, that's why I made the new log message a WARN level. My understanding is that we want to minimize core changes at this point, right? I'm also not completely clear on the definition of "system stability". A failing exec binding, action or transformation could make the system seem unstable from a user perspective. However we decide to define it, I think we should do any logging level changes in

[2016-01-17 18:28] wdriessen commented on #3700
I have tested the latest version from cloudbees and it is working fine
Thanks for the support

[2016-01-17 18:28] #3700 closed

[2016-01-17 18:54] theoweiss commented on #3765
@staehler Thanks for the testing and your feedback. It would be great if you could adjust the wiki page accordingly?

[2016-01-17 19:32] sheppy99 commented on #3821
The error in question appeared when I upgraded to V1.8 final. Is it likely that I have something wrong with my command line that is causing the incorrect result code to trigger the log, and that level of logging didn't exist in previous versions?
The command runs 6 times with slightly different options every minute so there is quite a bit of log pollution, and I'm happy to explore changing it if i

[2016-01-17 19:47] cdjackson opened #3827 "A cycle was detected when generating the classpath..."
I get the following error when trying to export a binding out of eclipse - it seems to happen no matter what bundle I try to export.

`
A cycle was detected when generating the classpath org.openhab.binding.zwave_1.9.0.201601171928, org.openhab.core.compat1x_2.0.0.201601171928, org.eclipse.smarthome.core.autoupdate_0.8.0.201601171928, org.eclipse.smarthome.core_0.8.0.201601171928, org.eclipse.smar

[2016-01-17 19:48] steve-bate commented on #3821
@sheppy99. This isn't an issue with your command line. The current openHAB code causes an exception to be raised if a program exists with an error code other than 1 (which is wrong behavior for most operating systems). The exception message is being logged as a result. I've submitted a PR to change the code to not cause the exception to be raised, which addresses the log message indirectly.

Howev

[2016-01-17 20:07] kaikreuzer commented on #3827
It is not a problem with the runtime, only with the projects in the workspace. Best close the "runtime" projects in your workspace and the export should work.

[2016-01-17 20:07] #3827 closed

[2016-01-17 20:09] sheppy99 commented on #3821
@steve-bate Thanks for the clarification, logback edited.

[2016-01-17 20:10] cdjackson commented on #3827
Thanks - that fixed it :)

[2016-01-17 20:28] sercasyr commented on #3282
The workaround seems to work!
Thanks.

[2016-01-17 20:44] tarioch commented on #2358
Is anyone still looking at this? Otherwise I might be willing to do it as I need to this to be able to set the serial config for the intertechno binding, see https://community.openhab.org/t/intertechno-binding/4812/10

[2016-01-17 20:48] watou commented on #3282
Agreeing with @9037568's analysis, if a seasoned KNX binding maintainer were to sort out the logic around [this line](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.knx/src/main/java/org/openhab/binding/knx/internal/config/KNXGenericBindingProvider.java#L386), I believe this bug would be solved.

[2016-01-17 21:05] sihui62 opened #3828 "Tinkerforge binding 1.8.0 not working on OH2 Beta 1"
Official OH2 Beta 1, Tinkerforge binding 1.8.0 (included in distro), platform Raspberry Pi 2, operating system Raspbian Jessie:
At the OH2 starting console I get the following error message:
[code]

openhab.log shows:
[code]

[2016-01-17 22:46] kaikreuzer opened #3829 "Weather binding fails to start on openHAB 2"
On openHAB 2, I get the following exception:
[code]
The binding should allow that the activate() method is called multiple times (with deactivate inbetween of course).

[2016-01-18 04:22] z00tv opened #3830 "1.8 Classic UI Does not render properly"
Upgraded to 1.8 - classic ui looks to be a mess.  iOS app works.  I have not had time to get into it.  I am sure it is related to the classic UI slider bug, but it looks like more.

<img width="951" alt="screen shot 2016-01-17 at 11 21 06 pm" src="https://cloud.githubusercontent.com/assets/16226782/12383190/0adcffd0-bd71-11e5-9deb-dbe079619d45.png">

[2016-01-18 08:29] JSurf commented on #2358
I use ser2net as workaround to set baudrates. Changing the baudrate had some nasty bug with the java serial implementation anyways

[2016-01-18 09:41] #3765 closed

[2016-01-18 09:54] bipphilippe commented on #3185
Hi,

I do not know if it is still useful.
I have asked the user's manual of the device to Qubino.
Here it is.

Sincerely,

[Qubino_Flush pilot wire_PLUS_user manual_V1.1_eng.pdf](https://github.com/openhab/openhab/files/94061/Qubino_Flush.pilot.wire_PLUS_user.manual_V1.1_eng.pdf)

[2016-01-18 09:58] cdjackson commented on #3185
If you have this device and it's producing a nodeX.xml file in the /etc/zwave folder, please can you attach it here.

[2016-01-18 10:33] sihui62 commented on #3828
Upgraded to OH2 Snapshot #88, still same issue, debug log:

[code]

[2016-01-18 10:49] kaikreuzer commented on #3828
Is it? Before you showed 2 logs with exceptions, this time I cannot see them?
And btw, why does your log show org.openhab.binding.tinkerforge_1.8.0 , while the build 88 includes 1.9.0-SNAPSHOT?

[2016-01-18 11:20] Arsur commented on #3389
Nice to hear that someone cares about that topic. I have here also alot of this Merten Connect On Wall Switches (also the 2f version with two buttons).

[2016-01-18 12:02] bipphilippe commented on #3185
Hi,

Here it is.

Sincerely,

[node90.xml.zip](https://github.com/openhab/openhab/files/94207/node90.xml.zip)

[2016-01-18 12:13] resetnow commented on #3830
Could you please tell what browser you are using?

[2016-01-18 12:15] sihui62 commented on #3828
Maybe I wasn't clear enough: the Tinkerforge binding doesn't work, I don't know it it is exactly the same issue ...

My mistake, I just copied the snapshot files over the Beta 1, sorry about that.
I downloaded the latest snapshot 89 and tried again, Tinkerforge binding is not working, console output:
[code]

Tinkerforge debug log (disregard line numbers, I used a text editor to filter the relevant

[2016-01-18 13:27] pehon commented on #3591
can I do something to speed up this process?
Thanks,
Peter

[2016-01-18 13:47] z00tv commented on #3830
I have tried safari , chrome and Firefox.

Sent from my iPhone

[2016-01-18 13:48] resetnow commented on #3830
@z00tv what version of iOS do you have and could you confirm this is, in fact, iOS?

[2016-01-18 13:50] kaikreuzer commented on #3830
Is this possibly the same as https://community.openhab.org/t/solved-more-then-one-slider-item-breaks-1-8-0-classic-ui/6091?

[2016-01-18 14:06] z00tv commented on #3830
It's on Mac OS - but behaves the same on safari on iOS

Sent from my iPhone

[2016-01-18 14:14] cdjackson commented on #3591
Yes, but give me a day or so to sort everything out. I've been working on an online database editor that should make it easier for people to add data to the database.

[2016-01-18 14:41] steve-bate commented on #3806
You may get more feedback by discussing this at the [community forum](https://community.openhab.org/). Please update this issue once you have more information. Thanks.

[2016-01-18 14:44] steve-bate commented on #3803
You may get more feedback by discussing this at the [community forum](https://community.openhab.org/). Please update this issue once you have more information. Thanks.

[2016-01-18 14:56] steve-bate commented on #3775
You may get more feedback by discussing this at the [community forum](https://community.openhab.org/). Please update this issue once you have more information. Thanks.

[2016-01-18 15:00] sercasyr commented on #3803
Is it a known bug?
Is there a on going topic about this in the forum?

[2016-01-18 15:01] steve-bate commented on #3762
I don't know of a way to do that.

You may get more feedback by discussing this at the [community forum](https://community.openhab.org/). Please update this issue once you have more information. Thanks.

[2016-01-18 15:03] steve-bate commented on #3572
Is this a question, a bug report or something else. If it's a bug report can you give more specifics like the host hardware, operating system and openHAB version?

You may get more feedback by discussing this at the [community forum](https://community.openhab.org/). Please update this issue once you have more information. Thanks.

[2016-01-18 15:14] zzurich commented on #3373
I'm having the same problem with a -128 to +127 dimmer for the base adjustment of an amplifier.

[2016-01-18 15:19] Snickermicker commented on #3196
@wn2012 Please add a line similar to
`<logger name="tuwien.auto.calimero" level="DEBUG" />` to your logback.xml or better logback_debug.xml and start in debug mode. This should help pinpointing the issue.
Please see [https://github.com/openhab/openhab/wiki/KNX-Binding#knx-logging](https://github.com/openhab/openhab/wiki/KNX-Binding#knx-logging)

[2016-01-18 15:36] vsaw commented on #2748
Now that openHAB 1.8 has official support for InfluxDB 0.9 can this be closed? I'm using openHAB 1.8 and InfluxDB v0.9 for a couple of days now and it all seems to working as expected (except for the "All" keyword error)

[2016-01-18 16:11] teichsta commented on #2748
agreed!

[2016-01-18 16:11] #2748 closed

[2016-01-18 16:37] pehon commented on #3591
Hello Chris

Thanks for your answer! Good to know that someone is working on it.

Thanks,
Peter
-----Original message-----
From:	Chris Jackson <notifications@github.com>
Sent:	Mon 18-01-2016 15:15
Subject:	Re: [openhab] Add zwave device to database: Everspring HAC01 (#3591)
To:	openhab/openhab <openhab@noreply.github.com>;
CC:	pehon <honegger@legends.ch>;

[2016-01-18 18:17] mrx23dot commented on #3572
I think this is a perfomance issue. The delay is 7sec for:
 OpenHab: 1.8.0-SNAPSHOT, stock web interface
 HW: Raspberry Pi 1

Also tested on x64 Win7 i5, the first click delay is 2sec, but from the 2nd click it is instantaneous.

[2016-01-18 18:29] UglyBob79 opened #3834 "Wemo motion not working"
I have been waiting half a year for wemo motion to start working with the wemo binding and now with 1.8 it seemed as it would work as the binding now supports listening to the state of sensors etc. But after configuring it seems it is still as useless as before. The state of the sensor is only read periodically one time every minute. So of course it misses sporadic motion events and can't be used

[2016-01-18 18:35] spacemanspiff2007 commented on #2819
Hi,

of course I'll share my config.
Be aware that if you poll a lot of values, I found the wakeup and response of the device rather random and unreliable.
This is why I (after lots of anger) finally switched to normal application mode and set the temperature as desired.

This is what I got out of my repository:
[code]

[code]

[2016-01-18 18:58] teichsta commented on #3762
it seems you are going to realise scenes? Like "Coming Home" or alike? This can be realised through rules being configured in *.rules files but this should be discussed at https://community.openhab.org.

[2016-01-18 18:58] #3762 closed

[2016-01-18 19:05] teichsta commented on #3834
@hmerk could have a look at this one, please? Thanks, Thomas E.-E.

[2016-01-18 19:18] hmerk commented on #3834
@teichsta sure, nor problem.
@UglyBob79 there was no comment saying that 1.8 will support GENA events.
As I already posted in the forum, the usage of the event mechanism is introduced with my actual PR for eclipse smarthome. I then decided not to downport this to the 1.x version of the binding, so it will only be available for openhab 2.0 soon.
There are many reasons for that decision, mainly a la

[2016-01-18 19:30] UglyBob79 commented on #3834
Ok, then I look forward to testing this in version 2.0...

On Mon, Jan 18, 2016 at 8:19 PM, Hans-Jörg Merk <notifications@github.com>
wrote:

[2016-01-18 19:35] #3834 closed

[2016-01-18 19:42] tarioch commented on #2358
You mind describing the serial implementation bugs? In my test I basically hardcoded baudrate + parity to whatever I needed in CULSerialHandlerImpl so my thought was to basically clean things up that there is a way to allow to configure this from each binding using the cul transport instead of each cul binding having some own way to allow to configure baudrate.

[2016-01-18 19:46] schmidmuc commented on #3811
I think there is a bug because of which these failures occur. In the meantime I realized that the persistence module "healed itself" somehow not changing anything. But from my perspective there is some failure causing these failures at the beginning and prevent the module to work from start on.

[2016-01-18 19:50] theoweiss commented on #3765
Thanks @staehler !

[2016-01-18 20:18] Vitchling commented on #2819
Hi

Thanks for sharing your config.

It sounds like it didn't work reliably and you reverted to setting a target
temperature instead (which is what I do now).

That's disappointing as I hoped you had a cure for some of my own problems
with this. Hmph.

I have a test radiator with a StellaZ in a room I don't use, so I will try
out your ideas and see if I can learn from them.

For information, I fou

[2016-01-18 21:43] nygma2004 commented on #1886
Hi Henry7,

Can you tell me how you made that work? I am not expert in Linux. I created the shell script based tutorial above. It is not working for some reason. The last line prints the wert2 line instead of evaluating it. I tried working around it, sometimes I am getting permission denied for the w1-slave file.
Anyway, I am a bit  stuck and any help will be appreciated.

[2016-01-19 08:05] teichsta commented on #3834
@hmerk could you please add the link here for reference?

[2016-01-19 08:20] markusroth1 opened #3842 "Homematic binding 1.8.0 connection refused"
Hello all,
I have openhab and the homematic ccu2 (lxccu) running on a raspberry pi. For the last months the systems do its job quite well. Yesterday I updated the openhab from release 1.7.1 to 1.8.0. Now the homematic binding failed to connect to the BidCos-RF. I tried to downgrade openhab to 1.7.1 but the error is still there.
Has anyone an idea what caused this failure?
Here are the packages upd

[2016-01-19 10:25] hmerk commented on #3834
I might have been a bit unclear, but I was referencing this :
https://community.openhab.org/t/wemo-binding-support-for-led-bulbs/2499/7

I will update the WIKI Page to make clear that there will be no new features added to the 1.x Binding version.

[2016-01-19 10:29] s-simma opened #3843 "Karaf thows Exception on logout"
The exception only occurs if "ESP3Host" has been activated at least once.

java.lang.NullPointerException
	at org.openhab.core.events.EventPublisherDelegate.postUpdate(EventPublisherDelegate.java:58)[158:org.openhab.core.compat1x:2.0.0.201601151618]
	at org.openhab.binding.enocean.internal.profiles.StandardProfile.valueChanged(StandardProfile.java:81)[157:org.openhab.binding.enocean:1.9.0.20160119

[2016-01-19 11:04] UglyBob79 commented on #3834
Ok, good to know! Just for information, if I try the beta for 2.0, will the
wemo sensors currently work then or is it work in progress?

On Tue, Jan 19, 2016 at 11:26 AM, Hans-Jörg Merk <notifications@github.com>
wrote:

[2016-01-19 12:10] dirandad commented on #3757
Hello,

Can I do something to help you to integrate this new product in the database ?

Thank you

Adrien

[2016-01-19 12:12] markusroth1 commented on #3842
Found the porblem.....
It was a wrong IP address in the openhab.cfg file. I edited the wrong file :-(

[2016-01-19 12:12] #3842 closed

[2016-01-19 14:21] vsaw commented on #3762
@teichsta @steve-bate Thanks for your replies.

I'm not looking at scenes. I'm actually just importing a lot of sensor measurements into openHAB and was looking for a way to reduce the HTTP overhead. The sensors are home-made so there's no Binding to support them besides the REST API.

The other advantage I was hoping to get is the same timestamp on each item, as the measurements essentially occur

[2016-01-19 15:30] kaikreuzer opened #3845 "Invalid component declaration in rrd4j bundle"
The rrd4j service shows the following INFO log message on openHAB 2:
[code]
This seems to point at an invalid component descriptor.

[2016-01-19 15:56] teichsta commented on #3762
you could post all sensor data into one StringItem and implement a rule doing the parsing and dispatching … but i would consider this as "hacky". And again let's discuss such ideas at https://community.openhab.org in order to learn from others.

[2016-01-19 16:30] Vitchling opened #3847 "Sonos Documentation"
Hi

I've successfully implemented a play/pause control for Sonos on my 1.7.0 OH instance but I have no idea how to play a favorite or playlist and the documentation on this is weak. Can anyone please provide an example sitemap, items and rule for how I can play a favorite or playlist under program control?

Cheers
Andrew

[2016-01-19 20:26] stewie911 opened #3850 "Can't start designer"
![openhab designer](https://cloud.githubusercontent.com/assets/16785255/12430979/7d675006-befb-11e5-8c36-c3fb14f8aa4b.jpg)

Sorry if this is something obvious, but I can't seem to open OpenHAB designer.  I get an error as in the attached.
Currently running Java 8u66 and OpenHAB designer 1.8

[2016-01-20 00:16] siri69de opened #3851 "binding.knx-1.8.jar no tcp connection to eibd"
Hi,

I get no connection to eibd
check with wireshark on the openhab server
when knx.type tunnel is set a UDP connection to port 6720, but eibd seems to listen on tcp port 6720.
when knx.type route is set, there is no udp/tcp connection to the destination ip address.
bug/config?

Try with WIndows 7 & Oracle JRE 8u66
but also with Debian 8.2 & Oracle JRE 8.66 i get no connection

by
Siri
##

[2016-01-20 04:13] Shadow305 commented on #3850
I just had this happen, it had to do with 64bit vs 32bit Java.  I was able to get mine to work by uninstalling the 64bit verison and installing the 32 bit version instead.

[2016-01-20 04:19] Shadow305 opened #3852 "Unable to get Mochadx10 binding to function properly"
I'm having a difficult time functioning this binding.  I can check my hardware via a telnet prompt:

echo "rf a2 on" | nc localhost 1099

That works all day.  I've created an item and no luck getting it to function

Switch Light_GF_Living_Main			"ABC"			(GF_Living){mochadx10="a2:rf"}

I've tried setting the hostip in config to
localhost
127.0.0.1
with no luck.  If I start a tail, I get the followi

[2016-01-20 04:22] Shadow305 commented on #3852
I'll take this to the community forum

[2016-01-20 04:22] #3852 closed

[2016-01-20 11:41] lewie commented on #3851
Hi @siri69de,

in openHAB for knxd/eibd set typically:
knx:type=ROUTER
knx:port=6720

Other parameters leave without config!
They find each other by default multicast IP address 224.0.23.12 then.

If this doesn't work, please post your knxd/eibd configuration (IP-Router or useb or serial) and parameters.

Rgds
Helmut

[2016-01-20 12:24] stewie911 commented on #3850
Thanks, your solution worked.

[2016-01-20 12:24] #3850 closed

[2016-01-20 14:49] Jardland opened #3854 "RFXCOM Add binding support for OWL CM180i"
Is there a possibility that OWL - CM180i could be added to the RFXCOM binding.

2016-01-20 13:54:39.860 [ERROR] [.rfxcom.internal.RFXComBinding] - Error occured during packet receiving, data: 135B0111AE0000000C00A9003D000004F452E479
org.openhab.binding.rfxcom.internal.RFXComException: Message CURRENT_ENERGY not implemented

from rfxmngr the packet, is not taken at the same time so data is not corr

[2016-01-20 15:50] the-hhoefi opened #3855 "Onkyo Binding with multiple Receivers"
is not working correct.

just the first entry, eq. the first Receiver, can be controlled.
The second Receiver get no commands.

openhab-config:

[code]

for example: when doing a power on/off on x609 just turns on t646.
##

[2016-01-20 15:54] teichsta commented on #3852
great, thanks!

[2016-01-20 16:38] skycryer commented on #3225
I am interested, how hard is it to add new faces that have been detected?

[2016-01-20 18:24] crsprsp commented on #3830
same here.... Openhab does not even show the first page. switching back to 1.7.1 now.

[2016-01-20 19:37] watou commented on #3776
@rkoshak, is this a new issue that appeared in 1.8.0?

[2016-01-20 19:49] teichsta commented on #3830
@z00tv

can you confirm this issue still exists in the latest snapshot build (available [here](https://openhab-ci.innoq.io/jenkins/view/openHAB/job/openhab-1/))?

[2016-01-20 19:51] teichsta commented on #3855
@TheNetStriker or @paulianttila could you please have a look at this one?

[2016-01-20 19:52] stefaanbolle commented on #3806
Problem solved by feedback ftom openhab forum

[2016-01-20 19:52] #3806 closed

[2016-01-20 19:55] toreandre commented on #736
I have the same issue after a normal reeboot (RPi2 with OSMC)
Some of my items does not work anymore (gpio bindings).

In my logfile i have
[code]
20:36:05.788 [DEBUG] [.s.internal.SchedulerActivator:36   ] - Scheduler has been started.
20:36:06.380 [INFO ] [uartz.impl.StdSchedulerFactory:1175 ] - Using default implementation for ThreadExecutor
20:36:06.546 [INFO ] [rtz.core.SchedulerSignalerImpl:

[2016-01-20 20:16] wep4you commented on #3225
@skycryer What do you mean, in the netatmo app or in the API? If you mean the app, than its really easy, just tap the unknown face on the phone, click identify. Then you get all unknown faces, and could check them and say to witch user they belong or create a new one ...
Also have a look at the state of he implementation in the netatmo binding #3841

[2016-01-20 20:28] wn2012 commented on #3196
@Snickermicker  I've modified **logback_debug.xml** to:
[code]
started openHAB 1.8 with **start_debug_runtime.sh**
and got this output (with the same IP/group modifications as mentioned above)
[code]
I can't see that the logger's level change generated more output. Especially there is no additional DEBUG output for tuwien.auto.calimero.

[2016-01-20 21:16] petrklus commented on #736
Welcome to the club @toreandre . Unfortunately nobody seems to know how to fix it / the team is focused on OH2.0. On that note, has this issue been fixed in OH2?

[2016-01-20 21:18] petrklus commented on #736
I wish anyone from the core team commented on their view on this issues - as I consider it to be very serious. Is the position that this is going to stay as "known issue" for OH1? @kaikreuzer, @teichsta - care to comment?

[2016-01-20 21:40] kaikreuzer commented on #736
No, it's only me who focuses on OH2.0 and its a hell of a lot of work.. All others still maintain OH1 and I don't interfere here...

I cannot really tell, I haven't seen it there. Xtext has been upgraded to a newer version and some other things have changed as well, so with a bit of luck it has gone there.

[2016-01-20 21:57] petrklus commented on #736
Thank you for replying! I can imagine it being quite a bit of work! I thought more of the team were shifting towards OH2. Good to know OH1 is here to stay support-wise for a while.

[2016-01-20 22:01] teichsta commented on #736
unfortunately that is absolutely true @petrklus! Since our Xtext Know-How is very limited over all i doubt there will be an easy solution to this very silly problem. I would really hope the new Xtext versions solves or at least mitigates the problem but i cannot really tell … unfortunately.

[2016-01-20 22:06] toreandre commented on #736
Does a re-install (with old items and .cfg) solve this? Or do i have to start all over?

[2016-01-20 22:06] petrklus commented on #736
Do you think there could be somebody from the Xtext devs/forum members we can loop in? The problem has been bugging me for a while now and it's really the only thing stopping me from autonomous reboots/properly independent system

[2016-01-20 22:07] petrklus commented on #736
@toreandre no, nothing really stops it - sometimes it's there, sometimes it's not. Whenever you start OH, you need to check your logs for those error messages. Then, "touch" those files until they load properly.

[2016-01-20 22:13] teichsta commented on #736
every tried the OH2 runtime instead? Switching over should be quite seamless …

[2016-01-20 22:27] cdjackson commented on #3786
Please provide the device information that HABmin provides - ie the manufacturer name (BeNext I Guess), the Device Type and the ID.

[2016-01-20 22:27] petrklus commented on #736
No, I have not actually - maybe I will give it a go as i need to rebuild my zwave network soon anyway..

[2016-01-20 22:28] cdjackson commented on #3757
This should now be implemented. Please confirm it's working.

[2016-01-20 22:28] cdjackson commented on #3757
https://github.com/openhab/openhab/pull/3849

[2016-01-20 22:35] #3619 closed

[2016-01-20 22:36] cdjackson commented on #3597
This was added a few weeks back. Closing - if there are still issues, please reopen.

[2016-01-20 22:36] #3597 closed

[2016-01-20 22:37] cdjackson commented on #3595
It looks like this has been merged. Can this be closed?

[2016-01-20 22:40] cdjackson commented on #3591
Hi. We now have an online database editor - it would be really appreciated if you could take a look at this to see if you can add this device. The entry should be reasonably straight forward (although I can say that as I wrote it! :) ).

The information is here -: http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-database-guide

You will need to register and email me to

[2016-01-20 22:41] cdjackson commented on #3514
Database updated - closing.

[2016-01-20 22:41] #3514 closed

[2016-01-20 22:42] cdjackson commented on #3341
Hi. We now have an online database editor - it would be really appreciated if you could take a look at this to see if you can add this device. The entry should be reasonably straight forward (although I can say that as I wrote it! :) ).

The information is here -: http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-database-guide

You will need to register and email me to

[2016-01-20 22:44] cdjackson commented on #3213
Hi. We now have an online database editor - it would be really appreciated if you could take a look at this to see if you can add this device. The entry should be reasonably straight forward (although I can say that as I wrote it! :) ).

The information is here -: http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-database-guide

You will need to register and email me to

[2016-01-20 22:45] cdjackson commented on #3117
Database updated 4 weeks ago - closing.

[2016-01-20 22:48] cdjackson commented on #3018
@SkynetHome it looks like you have a branch but you've not generated a PR (I think)?

[2016-01-20 22:49] cdjackson commented on #2653
Can this be closed?

[2016-01-20 22:49] cdjackson commented on #2652
No feedback for 6+ months - closing

[2016-01-20 22:50] cdjackson commented on #2595
This is stale - if it's still relevant, please reopen.

[2016-01-20 22:51] XenonofArcticus commented on #2653
I think it can be closed now. It seems pretty reliable in recent builds.

[2016-01-20 22:51] cdjackson commented on #2653
Thanks.

[2016-01-20 22:51] #2653 closed

[2016-01-20 23:07] theoweiss commented on #3776
I will work on this issue as soon as I'm ready with the openHAB2 deb packaging.

[2016-01-20 23:10] buzink opened #3858 "Several LIGHTING4 commands not supported in RFXCOM binding"
I bought some cheap [contact](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.rfxcom/src/main/java/org/openhab/binding/rfxcom/internal/messages/RFXComLighting4Message.java) and motion sensors based on the 1527 chipset. I tried to use them with the RFXCOM binding. Unfortunately the devices do not send an ON command on contact, but a UNKNOWN command. Domoticz treat

[2016-01-20 23:27] rkoshak commented on #3776
@watou, I think that this was also a problem with 1.7.1 but I didn't manage to find time to really look into it until after 1.8 was installed. I set up openHAB to execute a script that runs ssh back in 1.7.1 and I thought I got it to work. Then I went away for awhile and discovered a week or so later that it wasn't working after all but didn't get time to debug why until 1.8 was installed. User @S

[2016-01-21 06:07] udo1toni commented on #3749
What's the duration of the rule? The logInfo differs from one run to the other, so I doubt that there is any regular timing at all. For instance, the gap at 21:40 could be explained with the more than late trigger at 21:39:55 (should be at 21:39:10, regarding to the rule)
Maybe openHAB is really busy all the time (should lead to massive logs in events.log and/or openhab.log) or windows 8 is not ca

[2016-01-21 08:27] mortommy opened #3860 "Yahoo weather API placefinder discontinued"
Hi,
according to this post: https://developer.yahoo.com/forums/#/discussion/7838/tahoo-geo-placefinder-does-not-work the placefinder service has been discontinued.

Could the API string be changed, maybe something like

SELECT * FROM weather.forecast WHERE u="c" AND woeid in (select woeid from geo.places where text="city name, city country")

in the conf file latitude and longitude can be used to

[2016-01-21 08:58] Snickermicker commented on #3196
Are you sure that your device is using 16.001? It seems your device is sending only one single byte: 0x00 or 0x01, which  both are not strings?

[2016-01-21 12:24] magnayn opened #3862 "JPA binding broken horribly in 1.8"
I cannot get JPA to work with postgres at all in 1.8. I have previously successfully used this in 1.7.

The instructions claim that you can add jar files into the classpath with modifying the start script

`
cp=$(echo lib/*.jar | tr ' ' ':'):$(find $eclipsehome -name "org.eclipse.equinox.launcher_*.jar" | sort | tail -1);
`

This seems erroneous, as the script start.sh does *not* use $cp for the c

[2016-01-21 12:31] watou commented on #3862
@mdbergmann, is this is bug or a documentation deficiency?

@magnayn, could you try one of the bundles helpfully referenced in the [JDBC persistence wiki](https://github.com/openhab/openhab/wiki/JDBC-Persistence#jdbc-driver-files)?

[2016-01-21 12:54] mdbergmann commented on #3862
What’s the problem with JPA in 1.8?
There have been some changes. For example that all but the embedded derby db bindings have been removed.
See here:
https://github.com/openhab/openhab/wiki/JPA-Persistence#notes-for-openhab-18

If that’s the problem. Let me know.

Manfred

[2016-01-21 13:09] mdbergmann commented on #3862
Sorry, just have seen your actual message. Wasn't visible in email.

You just have to drop the postgresql-xyz.jar file into addons folder and all will be good.

Extending the classpath using the script works as well. I've taken this as an example from the JSR223 bundle.

Btw: using the OSGi feature of the DB bindings I have taken from the JDBC db binding, they do it the same way and bundle no data

[2016-01-21 13:31] magnayn commented on #3862
Ok - this is weird.

I re-downloaded a postgres JDBC Jar - 9.4-1201.jar. Placing this JAR in /addons works.

If I replace it with the latest JAR (9.4.1207.jar), it does not work (class not found exception for the driver).

Is there some way in which the bundle is pinned to a highly precise version of the driver? I searched the sourcecode and I couldn't find anything that pointed that way

[2016-01-21 13:33] mdbergmann commented on #3862
No, not that I know of.
I use postgresql-9.4-1203.jdbc41.jar with success for a good while.

Manfred

[2016-01-21 13:36] magnayn commented on #3862
META-INF/MANIFEST.MF in the working postgres contains the line

Bundle-Classpath: .

In the non-working pgsql jdbc driver, it does not...

[2016-01-21 13:40] watou commented on #3862
It looks like, at minimum, the wiki page should have more detail added for known working configurations.  Is that correct?

[2016-01-21 13:50] mdbergmann commented on #3862
Well, the section "Notes for 1.8+" in the wiki actually says that a database driver must now be installed manually.
The problem here was that the PostgreSQL driver wasn't a proper OSGi bundle and didn't work.

[2016-01-21 14:03] watou commented on #3862
Would it not make sense to also give guidance to users as to where they can download specific, known working database drivers?

[2016-01-21 14:13] staehler commented on #3175
@derHeinz Did you have to change anything? For me it doesn't work, so I'm curios what to do, that it works again.

[2016-01-21 14:23] mdbergmann commented on #3862
Yeah, that's generally a good idea.
I can't provide much information there however.
The only driver I have used as drop-in is the PostgreSQL.

I have worked with other drivers using the classpath extension.
I will elaborate a little more on that in the wiki.

Manfred

[2016-01-21 14:24] watou commented on #3862
Very much appreciated, Manfred.

[2016-01-21 14:35] #3862 closed

[2016-01-21 14:35] lewie commented on #3862
I have tested *postgresql-9.4.1207* versions in JDBC binding yet, they are all broken!
*postgresql-9.4-1206-jdbc41.jar* works well.

[2016-01-21 14:40] curlyel opened #3863 "RFXcom Add Support for TEMPERATURE_RAIN"
I've implemented the TEMPERATURE_RAIN message for RFXCom binding. I'm currently only aware of Alecto WS1200 causing RFXtrx433 to issue this type of message (RFXCom subtype 1, TR1 - WS-1200)

Unfortunately, I'm currently not able to setup a IDE for recent openhab as described by @kaikreuzer.
Therefore I can't create a valid pull request for it :-(

Anyway, I'd like to share the result below. Probab

[2016-01-21 16:20] binladin commented on #3595
Yes, thanks.

[2016-01-21 17:30] derHeinz commented on #3175
Previously I used OH 1.7.1 with it's appropriate addons. I experienced problems with this version.

Currently Im also running OH 1.8 and the 1.8 addon and it looks really good to me (checked it just a few minutes ago).
I am using a statement with my email like so:
[code]

[2016-01-21 17:44] pyjamasam commented on #3829
The weather binding is being activated and deactivated multiple times.  The binding.xml wasn't updated with the immediate="true" fix when that was done on a bunch of bindings.  (weatherservlet.xml was updated but binding.xml wasn't).

Adding immediate="true" to the binding.xml file causes the binding to be only activated once and we don't get the duplicate id exception.

That being said I get the

[2016-01-21 18:00] watou commented on #3829
This might be similar to @kaikreuzer's PR #3861 earlier today.

[2016-01-21 18:49] sipvoip opened #3864 "[%s] in description breaks Colorpicker"
Adding [%s] in description breaks Colorpicker

https://community.openhab.org/t/work-around-for-slider-breaks-colorpicker/6580

![main menu](https://cloud.githubusercontent.com/assets/1250322/12490858/c1e285ca-c045-11e5-9a17-69d5b09baff6.png)

[2016-01-21 19:33] pyjamasam commented on #3829
Adding an implementation for addBindingProvider and removeBindingProvider as per that PR makes those errors go away, but so far I still don't have a working weather binding.

WeatherGenericBindingProvider::processBindingConfiguration doesn't ever seem to get called.

Also as a side note, if you start and stop the binding repeatdly you still get the duplicate key error.
Adding
```providerCommonIds.

[2016-01-21 19:45] pepijndejong commented on #3786
In HABmin I got this:

Manufacturer: BeNext
Model: MoLite BeNext MoLite sensor
Manufacturer ID: 8a
Device ID: 101
Device Type: 3
Version: 4

[2016-01-21 21:53] trulex opened #3869 "Demo does not work"
Located at http://demo.openhab.org:8080/openhab.app?sitemap=demo

[2016-01-22 00:32] Speederc commented on #3858
Hi buzink,

It seems that there are few typos in the RFXComLighting4Message.java that mishandle the RFXCOM messages for Lighting4. In order to see if this correction could help for your problem, can you send me the log file of RFXMngr for ON and OFF commands with your sensor ?

Thanks

[2016-01-22 01:20] arraylabs opened #3870 "Binding for Aeotec Doorbell"
Hello,

Would it be possible to have a binding added for the Aeotec Doorbell? OpenHAB1 sees it as ID 38, Type 104.

Here is the zwave-alliance page:
http://products.z-wavealliance.org/products/1307

Here is the link to the expanded manual with the parameters:
http://products.z-wavealliance.org/MarketCertification/File?folder=&filename=MarketCertificationFiles/1307/Doorbell%20manual(20150604).pdf

[2016-01-22 08:42] watou commented on #3821
Closed via #3825 and https://github.com/eclipse/smarthome/pull/896.

[2016-01-22 08:42] #3821 closed

[2016-01-22 08:51] watou commented on #3823
Closed via #3832 and confirmed externally by Rob B [here](https://community.openhab.org/t/display-time-only-from-datetime/6301/16?u=watou).

[2016-01-22 08:51] #3823 closed

[2016-01-22 11:18] Speederc commented on #1922
Already included in the binding, "wind speed" and "wind gust" are two different names (for RFXmngr and Openhab) but they describe the same field in the RFXCOM data.
Can be closed.

[2016-01-22 11:20] Speederc commented on #868
Added by #3137. Can be closed.

[2016-01-22 11:56] sihui62 commented on #3828
With the latest OH2 snapshot build #99 (22.01.16) the Tinkerforge binding is working as expected.
Thanks for fixing.

[2016-01-22 12:04] Speederc commented on #3058
Hi @AlexCPU,
I tried to generate a new version with this "Chime output" support : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601221259.jar .
Your item should look like : Number DoorbellSounder {rfxcom=">53:ChimeSound"} and you should provide it the chime sound index (for ByronSX it seems to be 1,2,3 or 5).
Can you test it and give me your feedback ?

[2016-01-22 12:07] Speederc commented on #3289
Hi @AlexCPU,
I tried to generate a new version with this RELAY status support : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601221259.jar .
It should work with the item command "Shutter".
Can you test it and give me your feedback ?
Thanks

[2016-01-22 12:10] kaikreuzer commented on #3828
great, thanks for the feedback!

[2016-01-22 12:10] #3828 closed

[2016-01-22 12:11] Speederc commented on #2557
Hi @notoriousbdg,
I tried to generate a new version with this TEMPERATURE_HUMIDITY_BAROMETRIC support : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601221259.jar .
It should work with the following item declarations :
Number temperature{rfxcom=">SensorId:Temperature"}
Number humidity {rfxcom=">SensorId:Humidity"}
String humidityStatus {rfxcom=">Sensor

[2016-01-22 12:14] Speederc commented on #1626
Hi @bhelm,
I tried to generate a new version with this DATE_TIME support : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601221259.jar .
It should work with the following item declarations :
DateTime dateTime {rfxcom=">SensorId:DateTime"}
Can you test it and give me your feedback ?
Thanks

[2016-01-22 12:16] Speederc commented on #3854
Hi @Jardland,
I compiled a new version with this OWL CM180i support : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601221259.jar .
It should work with the following rfxcom item ValueSelectors: Channel1Amps, Channel2Amps, Channel3Amps and TotalUsage
Can you test it and give me your feedback ?
Thanks

[2016-01-22 12:42] Speederc commented on #3863
Hi @curlyel,
I compiled a new version with this TEMPERATURE_RAIN support : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601221259.jar .
It should work with the following rfxcom item ValueSelectors: Temperature and RainTotal
Can you test it and give me your feedback ?
Thanks

[2016-01-22 13:10] curlyel commented on #3863
Hi @Speederc,
it works! You just made my day!

Items:
Number WS1200Rain          { rfxcom="<54272:RainTotal" }
Number WS1200Temp        { rfxcom="<54272:Temperature" }

openhab.log:
[DEBUG] [.b.r.internal.RFXComConnection:144  ] - Data received:
Raw data = 0A4F010AD40000DC006979
 - Packet type = TEMPERATURE_RAIN
 - Seq number = 10
 - Sub type = WS1200
 - Id = 54272
 - Temperature = 22.0
 - Rain to

[2016-01-22 13:14] curlyel commented on #3863
@Speederc, would you create a pull request for it?

[2016-01-22 14:27] skycryer commented on #3525
@idserda, sorry about my late answer. Tried it again and controls are working now. No idea why, they are hard to use but that is an openhab problem.

When and where can i get the updated binding for Plex Https Server? I use my Server in Https only mode.

[2016-01-22 16:42] ozel opened #3874 "PaperUI not reflecting mappings without reload"
After a postUpdate() change of a Number item, the PaperUI shows the new number instead of the mapped value. This occurs with item definitions like
Number exhibitionStatus 	"Exhibition is [MAP(status.map):%s]"
as well as when using the mappings= option for the same item in the sitemap.
The BasicUI and iOS app do the mapping immediatelly without requiring a manual page reload.
Tested with todays OH2

[2016-01-22 16:46] Speederc commented on #3863
Thanks for this feedback. I will create a pull request later with a group of new sensors when I will received the feedback for the other features.

[2016-01-22 16:52] kaikreuzer commented on #3874
Hm, OH2 does not even have the control tab of the Paper UI...?

This sounds to me as the same as https://github.com/eclipse/smarthome/issues/640.

[2016-01-22 16:52] #3874 closed

[2016-01-22 17:00] ozel commented on #3874
Yes, sorry, I meant the Basic UI.

[2016-01-22 18:52] watou commented on #3860
Could you explain the effects of this issue on openHAB?  I think I understand, but spelling it out here would be helpful.  Thank you!

[2016-01-22 19:12] McShannon commented on #3058
Hi @Speederc
Hope you don't mind, i downloaded the new binding and the input works great. I cannot get the output to work. I am unsure of the format. {rfxcom=">53:ChimeSound"} is what i have used but the output is looking for a second part like @AlexCPU showed before {rfxcom=">53.0:Chime.ByronSX:ChimeSound"}
Thanks for all your efforts thus far.

[2016-01-22 20:22] Jardland commented on #3854
Hi,
It works now.
Thanks for quick response and fix.
//Thomas

[2016-01-22 20:22] #3854 closed

[2016-01-22 22:16] Speederc commented on #3058
Hi @McShannon
I agree that "Chime.ByronSX:" has to be added in the item description but not the ".0" which is useless in that case. Can you try it ? Can you also send me the openhab log when you send the command ?

[2016-01-23 00:19] buzink commented on #3858
Hi Speederc,

The sensors give only one command (they are cheap :). This are the RFXMngr readings:

Motion sensor in openhab:

     Raw data = 091300AE8DB699018170
      - Packet type = LIGHTING4
      - Seq number = 174
      - Sub type = PT2262
      - Id = 9287177
      - Command = UNKNOWN
      - Pulse = 385

Motion sensor in RFXMngr:

     Packettype    = Lighting4
     subtype       = PT2262

[2016-01-23 08:52] dirandad commented on #3757
After building the new zwave binding, It's working perfectly !
Thank you!

[2016-01-23 09:12] sercasyr commented on #3803
I can give more information.
I have other items that don't update correctly. And not only at night.

If I don't use "everyUpdate, everyMinute" instead of "everyMinute", they don't persist at all.

Maybe it is just me, but Time-Cron persistence isn't reliable in my system.

[2016-01-23 09:19] sercasyr commented on #3749
The duration of the periodic rules should be short.
Yes, I use NTP, both in OpenHAB and the OS.
I don't have massive logs, either.

However, I have the feeling the problem is in some other rules that take too long to complete.
Is it possible that a "heavy" rule avoids Time Cron rules to run on time?

Are rules triggered in a parallel manner (with threads or something similar)?
Or are they launched

[2016-01-23 09:22] mknet commented on #920
Is it possible to set the mappings attribute also in the item definition directly? I'm asking since I want to add the Switch with a specific mapping to a group. If I do so, the mappings I set in the sitemap have no effect to the entry within the group and I get the default toggle button.

Many thanks

[2016-01-23 09:25] mknet opened #3876 "Mappings in connection with groups"
Is it possible to set the mappings attribute for switches also in the item definition directly? I'm asking since I want to add the switch with a specific mapping to a group. If I do so, the mappings I set in the sitemap have no effect to the entry within the group and I get the default toggle button.

Many thanks

[2016-01-23 09:25] watou commented on #920
No, sorry!  Mappings have to be spelled out explicitly in the sitemap, so `Group item=...` will not suffice.

[2016-01-23 09:27] watou commented on #3876
Please search or create a topic at https://community.openhab.org and others will suggest alternatives (or at last commiserate :) ).

[2016-01-23 09:27] #3876 closed

[2016-01-23 09:29] mknet commented on #920
Sorry, I just removed my comment to this closed issue and created an new one:
https://github.com/openhab/openhab/issues/3876

Which approach is the right one, now? ;)

[2016-01-23 09:30] mknet commented on #3876
Okay, thx for the answer.

[2016-01-23 09:42] mknet opened #3877 "fritzboxtr064 cannot be built"
It is (still) not possible to build fritzbox064.

Here's my maven error output:

[code]

I'll try to fix it and maybe I get back with a pull request. We'll see

[2016-01-23 09:49] McShannon commented on #3058
Hi @Speederc
Here is the item config.....

Switch 	DoorbellSounder {rfxcom=">53:Chime.ByronSX:ChimeSound"}

Here is the output when it reloads the items file....

09:43:51.332 [ERROR] [i.internal.GenericItemProvider:350  ] - Binding configuration of type 'rfxcom' of item ‘DoorbellSounder‘ could not be parsed correctly.
org.openhab.model.item.binding.BindingConfigParseException: Invalid packet type

[2016-01-23 10:13] wn2012 commented on #3196
@Snickermicker That's it! I've used a String as item and assigned a binary state which should be translated:
[code]
Thank you to give me the straight tip.
Now I'm using a Contact and created a rule to set the String when the Contact changes.

[2016-01-23 10:24] sercasyr opened #3878 "Delete ghost/duplicated nodes in Z-Wave"
I have a ghost node that I would like to delete.
It is not possible to delete it from my Aeon Labs Z-Wave controller.

It seems that only dead nodes can be deleted via habmin.
It would be good to be able to delete these ghost nodes also.

[2016-01-23 11:08] Snickermicker commented on #3196
Suggestion:close this topic

[2016-01-23 13:45] 9037568 opened #3879 "Build failure caused by ExecBinding"
After updating to the latest code, I attempted to build and got this failure:

[ERROR] Failed to execute goal org.eclipse.tycho:tycho-compiler-plugin:0.24.0:compile (default-compile) on project org.openhab.binding.exec: Compilation failure: Compilation failure:
[ERROR] X:\java\openhab.mine\openhab\bundles\binding\org.openhab.binding.exec\src\main\java\org\openhab\binding\exec\internal\ExecBinding.

[2016-01-23 13:49] 9037568 commented on #3869
It appears to be working fine today.

[2016-01-23 14:14] watou commented on #3879
On my copy of the master branch, if I
[code]
I see no errors.

[2016-01-23 14:59] 9037568 commented on #3879
Is this possibly a java version issue? I'm building with 1.8.0_45:

    Apache Maven 3.3.3 (7994120775791599e205a5524ec3e0dfe41d4a06;
2015-04-22T07:57:37-04:00)
    Maven home: c:\Program Files\Maven\3.3.3\bin\..
    Java version: 1.8.0_45, vendor: Oracle Corporation
    Java home: c:\Java\1.8\jre
    Default locale: en_US, platform encoding: Cp1252
    OS name: "windows 8.1", version: "6.3", arch

[2016-01-23 15:09] watou commented on #3879
That's probably it.
[code]

[2016-01-23 15:57] #3869 closed

[2016-01-23 16:17] 9037568 commented on #3879
Is that considered breakage that needs fixing?

I tried to find documentation of java version compatibility requirements
for the project, but don't see any so far... The IDE setup guide mentions
Java 8 being a "prerequisite", though.

On Sat, Jan 23, 2016 at 10:09 AM, John Cocula <notifications@github.com>
wrote:

[2016-01-23 16:30] watou commented on #3879
I don't know what code change would have broken 1.8 language rules.  My last commit didn't touch those methods.  Are you saying your build env didn't change, but a code change caused the error?  I would leave it for @kaikreuzer or @teichsta to say.  Java 8 is a requirement for OH2 runtime, but I don't know about build time.

[2016-01-23 16:54] 9037568 commented on #3879
Looks that way to me. See the code note above...

On Sat, Jan 23, 2016 at 11:31 AM, John Cocula <notifications@github.com>
wrote:

[2016-01-23 19:43] 9037568 commented on #3311
Looks like the joda jar's been removed from the latest master code (pull #3800 from @teichsta contains this change (5a845a94e02e7cf9daf7c0a40ecbdaf898190e43))

I have a fix that works on the old 1.8 code, but I can't figure out how (or if) Joda's supported on the latest master code...

[2016-01-23 21:31] kaikreuzer commented on #3879
https://openhab.ci.cloudbees.com/job/openHAB1-Addons/ is using Java 7 as well and this is also the requirement for openHAB 1 addons now.
I just ran the build with Java 8 and all is fine as well. Are you really sure that you are on the latest master? Maybe cleaning the local Maven repo makes a difference?

[2016-01-23 22:46] Speederc commented on #3058
It seems that the type and subtype have to be written in upper case. Please try with  {rfxcom=">53:CHIME.BYRONSX:ChimeSound"} . Can you also send me the openhab log when you send the command ?

[2016-01-23 23:46] Speederc commented on #3858
Hi @buzink ,
I compiled a new version to improve the lighting4 support : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601240042.jar .
According to different examples founded on the web, I did the following mapping :
   - OFF : 0,2,4,12
   - ON : 1,3,5
The rawdata string is also added.
Can you test it and give me your feedback ?
Thanks

[2016-01-24 00:15] 9037568 commented on #3879
I've run "mvn clean" several times; doesn't change anything.

I did retry the build with extra debugging enabled and the output appears to indicate the classpath is being populated with some jars from the 1.8 snapshot. That doesn't seem right...

[DEBUG] Classpath:
[...]
[DEBUG]  C:\Users\Jack\.m2\repository\org\openhab\core\org.openhab.core.library\1.8.0-SNAPSHOT\org.openhab.core.library-1.8.0-SN

[2016-01-24 01:29] SwissKid commented on #3579
I also am running into the issue with it "setting" the ramp permanently. I will play around with insteon terminal later to see if I can send some commands that do it the "temporary" way.... Hopefully it's not something we're stuck with.

[2016-01-24 16:05] dmize commented on #3297
@khendricks Were you able to resolve this?   This may be the same issue that I am currently experiencing https://community.openhab.org/t/aeon-labs-minimote-help/5714/5
Thanks,
Dan

[2016-01-24 18:08] arraylabs commented on #3870
I have created the item file by hand but not sure how to test it. How do i build a new jar file that includes this xml and updated products.xml? I've attached the item xml file but it is untested and I kinda guessed at the command class hex codes based on a few other products as I wasn't sure where those hex codes really come from.
[zw056.xml.zip](https://github.com/openhab/openhab/files/102477/zw

[2016-01-24 18:12] cdjackson commented on #3870
You either need to set up a compilation environment, or I'll add it to the binding now, and it will be available in tonights snapshot?

[2016-01-24 18:16] arraylabs commented on #3870
Ok, I can wait for the snaphost as its been a decade or so since I've compiled anything in java. :( Here is the relevant entry for the products.xml file under aeon

<Product>
			<Reference>
				<Type>0104</Type>
				<Id>0038</Id>
			</Reference>
			<Model>ZW056-A</Model>
			<Label lang="en">Doorbell</Label>
			<ConfigFile>aeon/zw056.xml</ConfigFile>
		</Product>

Thanks!

[2016-01-24 18:32] cdjackson commented on #3870
Done - please let me know if it's ok once you've tested it.

[2016-01-24 18:36] cdjackson commented on #3870
For reference, I've also added this device into the online database so it will be part way available for OH2. When OH generates the nodeX.xml file (in the /etc/zwave folder) please either attach it here, or upload it to the database so that we can autopopulate the configuration.

http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/263

[2016-01-24 18:43] arraylabs commented on #3870
Chris,

I have the node.xml file from OH1.8 that was initially created when I included the device. Would that be helpful now or wait until i the snapshot binding is in place? I tried using your database site initially but guessing I needed some type of edit access after logging in.

Kind regards

[2016-01-24 18:48] cdjackson commented on #3870
Feel free to send it now - there shouldn’t be any difference…  If you want to email me privately and tell me your login, I’ll give you edit access, and you can upload the file (or you can put it on github, or email it … up to you :) ).

Thanks
Chris

[2016-01-24 20:55] lolodomo commented on #3829
Just tested the last 1.9 snapshot using Wunderground as provider and I got the same result as you @pyjamasam that is "Disabling weather locationId 'home', no binding available".

[2016-01-24 21:53] mortommy commented on #3860
Sure,
the current openhab's weather binding (all versions) is not working when Yahoo Weathe is choosed as service. The API command used to retrieve the weather information from Yahoo returns always the error 503 Service Unavailable.
Thank you.

[2016-01-25 07:03] #3756 closed

[2016-01-25 08:11] kaikreuzer commented on #3879
This is clearly a sign that you should delete C:\Users\Jack\.m2\repository

[2016-01-25 09:57] McShannon commented on #3058
Hi @Speederc, hope this helps...

{rfxcom=">53:CHIME.BYRONSX:ChimeSound"}

returns

09:45:20.852 [ERROR] [i.internal.GenericItemProvider:350  ] - Binding configuration of type 'rfxcom' of item â€˜Bellâ€˜ could not be parsed correctly.
org.openhab.model.item.binding.BindingConfigParseException: Invalid item type for value selector 'ChimeSound'!
	at org.openhab.binding.rfxcom.internal.RFXComGenericB

[2016-01-25 10:42] Speederc commented on #3058
Hi @McShannon,
You have to use a Number type item for this command as sound chime index (different sounds I guess : 1,2,3 or 5 for BYRONSX) has to be provided : Number DoorbellSounder {rfxcom=">53:CHIME.BYRONSX:ChimeSound"} . If you want to use a switch item to control your doorbell, you will have to do it using a rule which links your Switch item to the Number item.

[2016-01-25 12:28] frode opened #3891 "Netatmo binding: rf / battery status are not loaded"
I have configured rfstatus and batteryvp as from the example config in the wiki, with the device id set up correctly.

Temperature and humidity is loaded properly, but rf and battery are "Uninitialized"

Cannot find any related log entries ..

[2016-01-25 12:58] cdjackson commented on #3826
This might be an issue with the  switch? ZWave defines a command value that tells the light to turn on at the value it was last turned off at - this is what the "restore_last_value" option does. Instead of sending 100%, we send a value of FF, and the light is meant to understand to turn on to the last level.

If the light doesn't support this function, then it won't work.

Can you check the log to

[2016-01-25 14:30] McShannon commented on #3058
Hi @Speederc
Let me try and understand whats happening. I have a number item setup that will receive all incoming button presses. When the physical doorbell button is pressed it tells me what chime number it received. There is a button on the back of the physical doorbell button that allows me to change what chime is played. Changing the chime on the back then pushing the button on the front chang

[2016-01-25 14:52] Speederc commented on #3058
Hi @McShannon,

Your understanding is correct. In your case there will be 2 different items :
[code]

In your rule file, there will be something like :
[code]
I can not test it on my side, as I don't have this kind of doorbell, but this is how I would do it !

[2016-01-25 18:52] brutevinch commented on #3826
@cdjackson fgd211 have this problem? i don't think so... i Use fgd211. i'll capture log tomorrow

[2016-01-25 20:14] McShannon commented on #3058
Hi @Speederc

Now that I actually understand what is happening here are my results...

Here is my rule(I used an internal door as it was easier to test)

rule "Cave Door"
when
	Item FF_Front_Door changed to ON
then
	sendCommand(DoorbellSounder, 14)
end

When i trigger it I get this...

2016-01-25 20:04:07.477 [INFO ] [runtime.busevents             ] - FF_Front_Door received command ON
2016-01-25 2

[2016-01-25 21:26] dvanherbergen opened #3895 "Enocean binding tests do not support concurrent test execution"
To improve performance of the automated builds, I tried building using multiple concurrent threads: ```mvn -T 2 clean install```. During these build, the enocean tests occasionally failed.

[code]

[code]

Failure was not consistent and not reproducable on a fast machine.

The tests should be updated so that they can be executed in parallel.

[2016-01-25 22:40] Speederc commented on #3058
@McShannon, this log seems to indicate that your DoorbellSounder is a input item. Can you check that you use ">" for this item ? If it is the case, can you send me your item, rules and log file ? It will be easier to investigate.

[2016-01-26 04:24] sheppy99 opened #3896 "GPIO Binding does not report inputs with Raspbian Jessie"
Since updating my Raspberry Pi 2 from Wheezy to Jessie, Contact items no longer work. Switch Items Work, Debug logging doesn't show anything obvious. Changing back to Wheezy with no other changes apart from the SD Card restores full functionality.
##

[2016-01-26 05:15] 9037568 commented on #3879
After I destroyed the openhab portion of the m2 repository, the exec binding compiled successfully.

[2016-01-26 05:15] #3879 closed

[2016-01-26 09:32] watou opened #3897 "revert commit 8b0d7bcbc9080b8939ffc266c1e3affc4fc2665f on 1.8 branch"
I mistakenly pushed commit 8b0d7bcbc9080b8939ffc266c1e3affc4fc2665f to the 1.8 branch that should be reverted or otherwise corrected.  I was attempting to cherry-pick 5cd1d9e85a384da265d6e79da0b7c27d20a0de73 onto the 1.8 branch but my local repo was not up to date.  @teichsta or @kaikreuzer , could you revert 8b0d7bcbc9080b8939ffc266c1e3affc4fc2665f and also cherry-pick 5cd1d9e85a384da265d6e79da0b

[2016-01-26 10:29] jrcourtois opened #3898 "Unable to get and put data from plug enocean"
As told in https://github.com/openhab/openhab2-addons/issues/643 I move the issue
I got a plug which device reference type is W1R16FP.

And I don't manage to retrieve the consumption from this device, I don't know where else I could ask to know if this is supposed to be managed in some way or not.

[2016-01-26 10:30] jrcourtois opened #3899 "Crash of plugin when removing the usb plug"
Moved from https://github.com/openhab/openhab2-addons/issues/644

Obviously, you could say that I don't have to unplug it, but it can happens.
I got this stacktrace
[code]

The problem is when I re plug it, it is not working, and simply restarting the binding does not work. I have to restart the whole openhab.

[2016-01-26 10:38] csowada commented on #3784
Okay, as suggested in the PR I will fix the translation service for regex directly.

[2016-01-26 11:55] dirandad commented on #3758
That work perfectly with mapDB ! Thank you

[2016-01-26 12:36] masoud-omidvar commented on #3537
What about moving those 7-lines (including sleep) to the catch section (for TCP implementation)? Because, we don't normally need sleep and delay in TCP.

[2016-01-26 17:30] McShannon commented on #3058
Hi @Speederc, thanks for your patience.

Here are the items

`Number DoorbellButton "Chime Received [%.1f]" {rfxcom="<53:ChimeSound"}`
`Number DoorbellSounder "Chime Sent [%.1f]" {rfxcom=">53:CHIME.BYRONSX:ChimeSound"}`

Here is the rule

`rule "Cave Door"`
`when`
	`Item FF_Front_Door changed to ON`
`then`
	`sendCommand(DoorbellSounder,14)`
`end`

Here is the log

`17:28:12.806 [DEBUG] [o.i.r.i.re

[2016-01-26 19:56] pvizeli opened #3902 "Multible cron line in rule"
Since version 1.8.0 this rules dosn't work anymore. No errors or exceptions.

[code]

[2016-01-26 20:27] dvanherbergen commented on #1807
This is not a bug. The exceptions are expected and printed as part of the test case. @steve-bate can you close this issue?

[2016-01-26 20:31] dvanherbergen commented on #1335
Bump. This one can be closed.

[2016-01-26 20:31] dvanherbergen commented on #1874
Bump. This one can be closed.

[2016-01-26 20:32] #1807 closed

[2016-01-26 20:32] #1335 closed

[2016-01-26 20:32] #1874 closed

[2016-01-26 21:19] teichsta commented on #3897
hmm … i'll try my best!

[2016-01-26 21:27] dvanherbergen commented on #2622
This will be implemented in the openHAB 2 version of the DMX binding.
Issue [moved] (https://github.com/openhab/openhab2-addons/issues/645) to openHAB2.

[2016-01-26 21:27] #2622 closed

[2016-01-26 21:41] pauldejager commented on #3473
Hello Macotony,

I have the same problem you are writing. Can you give the solution you described?

[2016-01-26 21:41] luotaus commented on #3847
Hi Andrew

not quite sure what you mean with "weak documentation", the [wiki] (https://github.com/openhab/openhab/wiki/Sonos-Binding) has an example item/sitemap for favorites.

Please also have a look at the forum https://community.openhab.org/ which has some threads around SONOS.

Suggest you close this issue  and use a discussion in the forum (where you most likely get more help than here).

[2016-01-26 21:42] watou commented on #3897
Thank you, Thomas, and sorry for the issue.

[2016-01-26 22:18] Speederc commented on #3058
Hi @McShannon
It is hard to say with this log. I created a new version which adds more log details : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601262305.jar . Can you test it ? Can you also send me your full (not an extract) item and logs files through a storage website (Gdrive, dropbox,...) ?

[2016-01-26 22:44] teichsta commented on #3847
+1

[2016-01-26 22:44] #3847 closed

[2016-01-26 23:22] teichsta commented on #3897
could you have look at the current 1.8 branch? I would consider this one as fixed … would you agree?

[2016-01-27 01:00] watou commented on #3897
I see both the dscalarm and weather binding changes on the 1.8 branch as they should be, and I did a full 1.8 branch build successfully, so I think you're right.  I will be more careful, I promise!

[2016-01-27 01:00] #3897 closed

[2016-01-27 01:39] watou commented on #3860
Code tested and merged for 1.8.1 and master, wiki page updated.

[2016-01-27 01:39] #3860 closed

[2016-01-27 06:57] dariocdj opened #3903 "Web page refresh too fast"
I think I've a sensor that update his state too fast causing oh to reload webpage after a couple of seconds and scrolling to top of page. How to avoid this? Habdroid running fine. Thanks

[2016-01-27 07:57] watou commented on #3903
The only way I'm aware of to avoid the known scroll-to-top bug is to have the page of the sitemap that the item appears on be short enough that it doesn't scroll.  Since previous reporting of this issue concluded with "wontfix," please close this issue and continue further discussion at https://community.openhab.org.

[2016-01-27 12:34] McShannon commented on #3058
Hi @Speederc

I have created a test environment here at work using a raspberry pi and a spare RFXCOM box. I will set it up when i get home and send you the results. I reckon a clean build with no other factors will make fault finding easier.

Thanks again.

[2016-01-27 15:09] Vitchling commented on #3847
Thank you

As a novice and not a programmer, I find that an Item definition, sitemap
entry and a rule to make it work is very useful. I'm smart enough to adapt
and re-use code that works but I'm not smart enough to realise that a
command sent to a String Item needs commas around it.

e.g.    sendCommand("Sonosfavorite" , "BurglarAlarm")

rather than   sendCommand(Sonosfavorite , "BurglarAlarm")

o

[2016-01-27 15:17] Vitchling commented on #3847
Thank you.

I resolved my problem by reading around string items. It was a simple syntax
problem in the end. I do think the Sonos wiki would benefit from an item and
rule example that shows how to play a Favourite though.

e.g.

String Sonosfavorite "Favorite [%s]" (Sonos) {sonos="[DiningRoom:favorite]",
autoupdate="false"}

sendCommand("Sonosfavorite" , "BurglarAlarm")

I was buggered by not know

[2016-01-27 16:32] Flole998 commented on #3877
You are just missing a library.

[2016-01-27 17:23] bigbasec commented on #3492
Just checking if there is any update on this before I pull the trigger on 3 new thermostats?

[2016-01-27 18:33] skyscape321 commented on #2557
Hi @Speederc,
I can confirm that the code works with Oregon  BTHGN129. The values for temp, hum, humstat and pressure are correct. As far as I can see the BTHGN129 don't send forecast (yet). Thank you for your efforts!

[2016-01-27 19:14] Speederc commented on #2557
Hi @skyscape321 , thank you for your feedback ! This will be included in a global pull request with other new messages.

[2016-01-27 20:24] McShannon commented on #3058
Hi @Speederc

I have uploaded the files. Let me know if you need more info.

https://www.dropbox.com/s/3dn6txoym0ywqi6/RFXCOM.rar?dl=0

Many Thanks

Tom

[2016-01-27 20:25] ssalonen commented on #2043
Please test with the expiremental version, linked to [this forum thread](https://community.openhab.org/t/connection-pooling-in-modbus-binding/5246/12?u=ssalonen)

[2016-01-27 20:25] ssalonen commented on #626
Please test with the expiremental version, linked to [this forum thread](https://community.openhab.org/t/connection-pooling-in-modbus-binding/5246/12?u=ssalonen)

[2016-01-27 20:25] ssalonen commented on #1865
Please test with the expiremental version, linked to [this forum thread](https://community.openhab.org/t/connection-pooling-in-modbus-binding/5246/12?u=ssalonen)

[2016-01-27 20:54] pauldejager commented on #3473
Hey @cdjackson ,

I have tried the meter scale and this does the trick for me. Thanks.
Here are mine items.
Number	Huis_Energy	"Huis Totaal [%.2f KWh]"	<energy>	(gBV,Energie)		{ zwave="6:command=meter,refresh_interval=600,meter_scale=E_KWh" }
Number	Huis_Battery	"Huis Battery: [%d %%]"	<energy>	(gBV,Energie)		{ zwave="6:command=battery,refresh_interval=3600" }

[2016-01-27 21:32] AlexCPU commented on #3058
I can confirm that mine is behaving exactly the same as @McShannon is seeing.
Output in the log shows as below, which looks the same, all my items, rules, sitemap match his too:
[code]

Just as a matter of curiosity Tom, does your doorbell actually have the same ID of 53 as mine does?  I've got two systems, a really old one, which has an ID of 60 (I replaced it as the push button is dying), and a