[2015-09-28 23:42] vallon opened #3215 "GE 45600 remote fail to configure"
I tried to pair my GE 45600:

1) In habmin, "include" mode
2) On remote, setup-9-6-7.
3) Habmin shows a new node, but it is grey (uninitialized).
4) Cannot associate remote buttons to devices (setup-add-light-1 gives fast green flash, but pressing appliance pairing button does nothing - it continues to flash).

So, my thought is maybe the partial initialization is causing trouble, and would try to

[2015-09-28 23:45] vallon commented on #3215
Don't know why I cannot attach a log file.  It said "Someting went really wrong, and we can't process that file".

Here is cut-and-paste:

[code]

Tried pairing, but didn't work.  Then, removed it:

[code]

[2015-09-29 12:41] omatzyo commented on #3214
This is essentially the same as the previous post about this device:
https://github.com/openhab/openhab/issues/2241

The hardware appears to be the same, the Type is the same but the ID is different.

[2015-09-29 12:57] omatzyo opened #3216 "ZWave - Cooper Scene Controller RFWDC"
Hi Chris,

Thank you for adding this device to the database.  I have it working nicely in my system.  It requires the respond_to_basic=TRUE for openhab to understand ON and OFF.

I posted my item configuration here:
https://community.openhab.org/t/rfwdc-cooper-scene-controller/2748

The only thing that it does not do is allow for communication back to the device.  It would be great if I could have

[2015-09-29 16:27] fjfo commented on #1906
I got the same problem with openHAB runtime v1.7.1.
- everything is good,
- webapp at openhab.app is ok in HTTP/HTTPS
- Remove org.openhab.io.servicediscovery.jar in server/plugins
BUT when i query: http://myip:8080/rest/
nothing shown up.

Here my STDOUT when I ran with start_debug.sh
./start_debug.sh
Launching the openHAB runtime in debug mode...
Listening for transport dt_socket at address: 800

[2015-09-29 23:17] fmatray opened #3217 "Error with Systeminfo Binding on openhab 1.7.1"
Hello,
I use openhab 1.7.1 on a raspberry with debian jessie using the debian repository.
While trying Systeminfo, I get a java exception with any kind of system item.
Does someone cas help me ?

Here an example
items :
[code]

openhab.log :
[code]

[2015-09-29 23:26] fmatray opened #3218 "java.lang.NullPointerException: null when refreshing items"
Hello,
I use openhab 1.7.1 on a raspberry with debian jessie using the debian repository.
Sometimes, after a modification of an item, I get an java exception.

[code]

[2015-09-30 05:17] watou commented on #3218
I think this is the same issue as #2842 and #1419.  I submitted PR #3016 in an attempt to fix it.

[2015-09-30 05:54] staehler commented on #2401
I've a further wish for enhancement:
unfortunately, with the new weather binding a feature disappeared which enabled me to reference to any item and place it in the layout. E.g. I have my own temperature and wind sensor, which should be displayed in the weather layout instead of the weather binding values fetched from the weather provider.

The above mapping feature I miss as well.

Regards,
Micha

[2015-09-30 14:50] berndpfrommer opened #3219 "logger name incorrect: jsr232 instead of jsr223 in jsr engine"
In this file:
<pre>src/main/java/org/openhab/core/jsr223/internal/shared/Openhab.java
</pre>

the following String is incorrect:

<pre>private static String LOGGER_NAME_PREFIX = "org.openhab.model.jsr232.";</pre>

It should read "jsr223".

It's an easy fix. Maybe on the next commit, @lewie ?

[2015-09-30 16:35] cdjackson commented on #3214
Just to note that there is no configuration currently for this device anyway...

[2015-09-30 16:37] cdjackson commented on #3214
Sorry - disregard this - I’m reading multiple posts at the same time and got the device mixed up… I’ll add this to the database…

[2015-09-30 17:01] omatzyo commented on #3214
Great, thank you.  I'll let you know how it works on the next build.

[2015-09-30 17:48] 9037568 commented on #3217
Sounds like the link library is missing or wasn't found for some reason.
Did you follow all of the setup advice on the wiki? (
https://github.com/openhab/openhab/wiki/Systeminfo-Binding)

On Tue, Sep 29, 2015 at 7:17 PM, Frédéric <notifications@github.com> wrote:

[2015-09-30 19:24] cdjackson commented on #3215
I'm not familiar with the device, but it's a battery device and needs to be woken up a few times to complete initialisation. Currently there is no communication with the device...

[2015-09-30 19:36] jdr0berts opened #3221 "Openhab-Designer 1.7.1 - Couldn't resolve reference to JvmIdentifiableElement"
Update to Designer 1.7.1 and multiple rules show red x and list of JvmIdentifiableElement errors.

Rules appear to work ok - and didn't show errors prior to upgrade.

Looks like a re-occurance of a previous issue (594):
https://github.com/openhab/openhab/issues/594

Work around to re-open Confirgurations folder doesn't work in this instance.

Described on openhab Community here (With screen shots)

[2015-09-30 19:37] gbarnabic opened #3222 "Vision ZL 7432 2 relay switch, status of wall switch needed"
This in-wall zwave module allows control of two switches.  It allows you to keep the existing toggle switches to also control the lights.  The issue is knowing when one of the physical toggle switches has been used to turn on or off the light.  Attached are log files that show the debug activity when the switches are thrown.  Apparently they don't send expected messages when they are toggled.  A d

[2015-09-30 19:41] grzech1983 commented on #3147
Hello, have you maybe managed to check charts issue (or not?) ?

[2015-10-01 01:23] berndpfrommer opened #3223 "jsr223 engine throws null pointer exception, breaks system when started at default runlevel within IDE"
If the jsr223 engine plugin is started at the default runlevel, and a script is present (e.g.  foo.js  is in the scripts directory),  the  NPE below is thrown, and the system goes into an unusable state (items are no longer found etc).

The reason seems to be a circular reference, the details of which I don't comprehend. Just fixing the NPE (for instance by deferring setting "active" to true at a

[2015-10-01 11:04] mastix commented on #1429
Hey guys, has this been really fixed?

Fresh (apt-get) install of 1.7.1 on my raspbian jessie:

[code]

[2015-10-01 11:39] lewie commented on #3219
@berndpfrommer ,
In Jsr223Engine.java an Openhab.java found this typos too.
Combined it with extending jsr223 with HistoricItem.

Rgds
Helmut

[2015-10-01 11:57] lewie commented on #3223
I think I have this Problem sometimes too, but it can not reproduce.

Did you deactivate lazy loading in Manifest.mf for testing?
Delete ```` Bundle-ActivationPolicy: lazy````
or in Eclipse: 'Acticate this plug-in when one of its classes is loaded'.

Rgds
Helmut

[2015-10-01 12:24] steve-bate commented on #3217
Just FYI, it works for me on Raspberry Pi 2, openHAB 1.7.1 and Raspbian.

[2015-10-01 12:39] steve-bate commented on #3201
This doesn't appear to be specific to the TCP binding. Looking at the code, it appears the org.openhab.config.core.ConfigDispatcher does not preprocess character sequences like "\n" and "\r" (as would happen in a Java properties file).

[2015-10-01 13:03] lewie commented on #3147
Hi @grzech1983 ,
I work hard on the JDBC Binding, while some time-consuming changes have occurred.

Please give me some time yet!
The JDBC Binding is then the basis for further tests.

A short Test shows, no Errors with JDBC-Binding:
Used code:
[code]

Rgds
Helmut

[2015-10-01 17:00] napoleonmm83 opened #3225 "Netatmo Welcome Binding"
Netatmo Welcome has now a api
https://github.com/Netatmo/Netatmo-API-PHP#netatmo-welcome-api-client-implementation---php-sdk

Maybe some one can make a Binding?

[2015-10-01 17:33] omatzyo commented on #3214
Works great! Thank you.

[2015-10-01 17:33] #3214 closed

[2015-10-01 17:57] anordvall commented on #2150
If I turn my Aeon Labs RGB LED bulb off and then also turn the physical switch off, the lamp will turn on again as soon as I turn the physical switch on. How do you do it differently Ard? :)

[2015-10-01 18:08] theoweiss commented on #1429
Hi mastix,

could you please check the permissions of the webapps/static folder:
ls -l /usr/share/openhab/webapps/

Regards,
Theo

[2015-10-01 18:11] berndpfrommer commented on #3223
I set back the runlevel to 4 in order to trigger the error.
Then I unchecked "Activate this plug-in when one of its classes is loaded". That does indeed modify the MANIFEST.MF file, and remove the Bundle-ActivationPolicy: lazy from the file.
However, it makes no difference, it still throws an identical exception.

[2015-10-01 19:03] omatzyo opened #3226 "ZWave - New Addition to Database: Econet Vents"
Hi Chris,

I would like to add 2 products from Econet.  They are zwave vents (http://www.econetcontrols.com/EV100.php).

The information applies to both EV100 and the upcoming EV200.  This is from the manufacturer.

[code]

Let me know if you need more info.  There is no specific engineering document and it is not in pepper1.

[2015-10-01 20:01] paixaop commented on #3216
@omatzyo I have been working on Z-Wave scene support for Open Hab and one of the key features is the sync of Scene Controller buttons. You can check the CooperSceneController branch at https://github.com/paixaop/openhab/tree/CooperSceneController.

At this point there are still some issues with indicator (blue led) sync but it is working. So if you want to test it and let me know how it goes I wou

[2015-10-01 20:04] paixaop commented on #3195
Hey Chris do you think this is the right direction? What suggestions do you have about the code? Want to continue but do not want to go in the wrong direction.
Thanks for the support!

[2015-10-01 21:03] steve-bate commented on #3157
It seems that for the longer term, we wouldn't want to continue adding classes to the script engine global bindings for these type of use cases. I'm not an OSGI expert, but would it be possible to instead add the most common packages to the Import-Package section of the bundle manifest to expose them for importing into scripts?

[2015-10-01 21:42] steve-bate commented on #3223
I'm trying to reproduce the problem while running from Eclipse (vanilla configuration + Jython) but everything appears to work well. I see the output from the Jython rule in the console. I've tried both Run and Debug configurations, several times each.

[2015-10-01 22:17] omatzyo commented on #3216
Thanks for the info!  I'll dig into this right away and let you know how it goes.

[2015-10-01 22:25] CondormanFr opened #3227 "MQTT message separator in regex_filter parameter"
I seems that openhab mqtt bindings parse the ":" char inside a regex_filter string...

The binding item syntax :
\{mqtt="\<direction\>\[\<broker\>:\<topic\>:\<type\>:\<transformer\>:\<regex_filter\>\]\}

my mqtt message is :

{
   "Battery" : 100,
   "RSSI" : 12,
   "dtype" : "Lux",
   "id" : "0000C03",
   "idx" : 44,
   "name" : "Luminosite",
   "nvalue" : 0,
   "stype" : "Lux",
   "svalue1" : "3

[2015-10-01 22:38] watou commented on #3227
I doubt this would be considered a bug but instead a limitation in how binding string parsing is implemented, but please discuss it further at https://community.openhab.org, including what you are trying to do.  If it's considered a bug there, please re-open this issue.   Thanks!

[2015-10-01 22:38] #3227 closed

[2015-10-01 23:17] fmatray commented on #3217
Thanks a lot :-)

[2015-10-01 23:17] #3217 closed

[2015-10-02 03:52] lewie commented on #3223
@berndpfrommer ,
please can you tell us more about the OH environment?
- OH-Version, loaded Bundles and the first Events sended of your scriptcode in jsr223
- Architecture and type of Processor (Raspi, Arm, VM, Intel....)
- Operating System and Ram
- Java Version

It seems to be a class-loading Problem resulted by wrong loading order (Events be sent before it can be processed by OH) , but why? Is

[2015-10-02 04:54] lewie commented on #3157
@steve-bate,
this is exactly  what is done here, ````org.openhab.core.persistence```` will be imported in jsr223 Bundle over 'Import-Package'-Section in MANIFEST.MF!

The other lines:
[code]
Are needed to allow the pass of the classes to the script engines in runtime. jsr223 bundle is the global "interface" to the script engines.

Without ````engine.put("HistoricItem",          HistoricItem.class)

[2015-10-02 05:48] avdleeuw commented on #2150
Uh oh... your message triggered me to give another try, with interesting results...

I've got 4 of these bulbs installed in our house at the moment. Three of them are connected to a single power switch, and the other one has a separate switch.

The single bulb will NOT switch on after toggling power.

For the three other bulbs, when I toggle power, TWO of them turn on, while ONE of them stays off.

[2015-10-02 06:31] mastix commented on #1429
Hi,

the webapps folder has been created with rwx for my user:

drwxr-xr-x  4 mastix mastix 4.0K Oct  1 10:46 webapps

but the static folder within the webapps folder has been created with rwx for the openhab user:

drwxr-xr-x 2 openhab openhab 4.0K Oct  1 11:57 static

That might be the problem.

So I changed the group from all files to openhab:

/usr/share/openhab$ sudo chown -R mastix:openhab *

[2015-10-02 08:47] grzech1983 commented on #3147
Great. If you will have published version of JDBC then let me know and I will test it on my end.

[2015-10-02 11:02] steve-bate commented on #3157
Ah ok, I missed that. Thanks for the clarification.

Are you saying that without the engine.put call, scripts would not be able to access that class even if can be loaded by the script classloader? I would have thought that scripts could use the type if it were returned by a method of a class (like PersitenceExtensions). However, I assume scripts would not be able to declare variables of that type

[2015-10-02 11:13] berndpfrommer commented on #3223
I running my private copy of openhab (I develop the insteonplm binding). The last time I merged in the main trunk was around  September 21st:

<pre>
commit 4e26448e13edd04368398b771379669554df0b75
Merge: 1633343 e2d0269
Author: Chris Jackson <chris@cd-jackson.com>
Date:   Mon Sep 21 22:26:23 2015 +0100

    Merge pull request #3192 from cdjackson/zwave-database_updates

    Fix whitespace error
</

[2015-10-02 11:29] berndpfrommer commented on #3223
This is the openhab.log for a successful startup (runlevel 5 for jsr engine):
<pre>
07:16:02.842 [DEBUG] [.s.internal.SchedulerActivator:36   ] - Scheduler has been started.
07:16:02.859 [INFO ] [uartz.impl.StdSchedulerFactory:1175 ] - Using default implementation for ThreadExecutor
07:16:02.867 [INFO ] [rtz.core.SchedulerSignalerImpl:61   ] - Initialized Scheduler Signaller of type: class org.qua

[2015-10-02 11:36] berndpfrommer commented on #3223
This is how an unsuccessful start looks like. Note that the engine works either way, i.e. the script runs, but none of the items is present.

<pre>
07:06:10.158 [DEBUG] [.s.internal.SchedulerActivator:36   ] - Scheduler has been started.
07:06:10.173 [INFO ] [uartz.impl.StdSchedulerFactory:1175 ] - Using default implementation for ThreadExecutor
07:06:10.181 [INFO ] [rtz.core.SchedulerSignalerImpl

[2015-10-02 11:40] berndpfrommer commented on #3223
The most obvious difference is the order in which components are registered:
In the successful case:
<pre>
07:16:03.380 [DEBUG] [.i.internal.ItemModelActivator:24   ] - Registered 'item' configuration parser
07:16:03.637 [DEBUG] [.p.i.PersistenceModelActivator:23   ] - Registered 'persistence' configuration parser
07:16:04.293 [DEBUG] [.r.internal.RuleModelActivator:42   ] - Registered 'rules' con

[2015-10-02 13:06] lewie commented on #3223
HA, I had a look in my OH Eclipse Environment and in openHAB Runtime.launch jsr223 starts on start-level 5.
Had a look in git History, since 4 month Merschjohann has commited jsr223 with start-level 5.

Your failure mode can not work, because jsr223 must have access to some classes of persistence Services!
My Startorder with start-level 5:
[code]

All is well now? :-)

Rgds
Helmut

[2015-10-02 14:04] berndpfrommer commented on #3223
O.k., I must have had the old openHAB Runtime.launch still around.
With the new one, everything works.

[2015-10-02 14:04] #3223 closed

[2015-10-02 14:05] berndpfrommer commented on #3219
Thanks for fixing!

[2015-10-02 14:05] #3219 closed

[2015-10-02 14:12] 5LICK opened #3231 "MaryTTS Russian voice"
Hi, Please add russian voice for MaryTTS, i checked last release MaryTTS and i found russian language and voice for it.

[2015-10-02 14:13] berndpfrommer commented on #3210
According to @teichsta the cloudbees build was failing too often and it was decided to no longer have pull requests built automatically.

[2015-10-02 14:13] #3210 closed

[2015-10-02 14:59] lewie commented on #3157
Yes, I think you can provide classes and/or objects through Providers like PersitenceExtensions.

At least in JavaScript aka nashorn (it is a little special), you can work/instantiate in this way directly with Java classes as it would be a JavaScript-Object. Only you have to convert between the Java and JavaScript types if needed. For Example, to provide a array of JavaScript rules from JavaScript

[2015-10-02 15:03] cdjackson commented on #3226
Interesting device...

Just to be clear - what is the byte order of Id1 and Id2?

[2015-10-02 15:04] #3208 closed

[2015-10-03 00:30] steve-bate commented on #3157
As a proof of concept, I modified Script to not register *any* globals. By adding the following to the Jython jsr223_demo.py file it still ran correctly.

    from org.openhab.core.jsr223.internal.shared import (
        Rule, RuleSet, StartupTrigger, ChangedEventTrigger,
       TimerTrigger, Openhab as oh,
    )

    from org.openhab.core.jsr223.internal.engine.scriptmanager import ScriptManager

[2015-10-03 05:03] lewie commented on #3157
O.K., Tell us your 'small' set of  globals. ;-)

Remembered:
 1. Script engines are intended essentially for end users, not programmers, they do not have advanced programmer skills.
 2. We should build on the approach in Smart Home / OpenHab2, possibly @kaikreuzer can contribute to this discussion, communicate his thoughts for SmartHome.
 2. If you have only hand full scripts, it makes no differen

[2015-10-03 09:02] smurfix opened #3235 "Add etcd as a backend"
etcd has an easy-to-use HTTP interface, and it's very easy to poll for changes across an entire subtree, making it most suitable for storing current or intended device state.

Basic idea: some client writes "ON" to /home/intent/some/where/light/state, OpenHAB monitors /home/intent, sees that entry, turns on the light (no matter which tech), then writes "ON" to  /home/current/some/where/light/state

[2015-10-03 09:13] watou commented on #3235
[etcd](https://github.com/coreos/etcd) looks cool, but it seems a bit redundant with the existing REST API, and also it's very similar to MQTT.  Perhaps if you had other external components that used etcd, a binding for etcd, much like the MQTT binding, would be appropriate?  What are some needs-based use cases you're thinking of?

I recommend this issue be closed, in preference to a new discussio

[2015-10-03 09:22] smurfix commented on #3235
OK, let's talk there first. To briefly state in this issue where I'm coming from: MQTT is about messages but as a user (or as a program that doesn't run all the time) I'm interested in my system's current or intended *state*; messaging is simply a means to that end. Thus ideally I want to directly set or query the state I'm interested in, and let the back-end handle the rest.

[2015-10-03 09:36] smurfix commented on #3235
https://community.openhab.org/t/connect-openhab-to-etcd/2994

[2015-10-03 09:50] steve-bate commented on #3157
The Jython imports can be simplified with wildcards.

    from org.openhab.core.jsr223.internal.shared import *
    from org.openhab.core.jsr223.internal.engine.scriptmanager import ScriptManager
    from org.joda.time import DateTime

This is very similar to the import code in the Groovy example on the [Jsr223 wiki page](https://github.com/openhab/openhab/wiki/Jsr223-Script-Engine).

Like you, I'

[2015-10-03 11:03] Flole998 opened #3238 "CometVisu Runtime Exception"
I am running OpenHAB 1.7.0 with CometVisu using the CometVisu Addon in version 1.7.1. When I am clicking on a Switch in CometVisu it is properly sending the command to OpenHAB but CometVisu is not refreshing it. Looking at the HTTP Requests sent by CometVisu I can see that they timeout. The request looks like this `http://192.168.1.50/services/cv/r?s=8ed18bfe-f6f0-47c5-99c7-da550e91b7f6&a=Light_GF

[2015-10-03 11:17] peuter commented on #3238
The Timeout is absolutely normal after 60 seconds without any item changed the request is terminated and restarted. The problem is that there are no item state updates send to the CometVisu (and thus the read request runs into the timeout). Have ou changes something in your item files. Currently there is a bug in the CometVisu backend which stops the updates after that. I created a Pull Request wi

[2015-10-03 11:27] Flole998 commented on #3238
It was the items bug. Problem solved.

[2015-10-03 11:27] #3238 closed

[2015-10-03 13:52] sihui62 opened #3239 "anged to on"
Disregard .... wrong button pressed (but cannot delete this issue ...) Sorry

[2015-10-03 13:56] #3239 closed

[2015-10-03 15:04] mcarlosro opened #3240 "New Zwave device: Nodon Octan Remote"
Hi,

I would like to add support for this device.

Pepper DB: http://www.pepper1.net/zwavedb/device/694

[2015-10-04 06:51] nesys opened #3242 "Netatmo Binding: Nullpointer Exception (again)"
Hi folks,

as issue #1820, I've updated from 1.6.2 to 1.7.1 (Binding 1.7.1, also 1.8.0 snapshot) and now Netatmo Binding seems not working any more.

I've tried multiple times the procedure in the wiki to install the certificate, even if I didn't change the Java version.

Here some information, please let me know if I need to collect more data-

Thanks

Andrea

ariela@HAB:~$ java -version
java ver

[2015-10-04 06:55] nesys opened #3243 "Denon Binding: Encoding error in get javax.xml.bind.UnmarshalException: null"
Hi Team,

just updated from 1.6.2 to 1.7.1 (Binding 1.7.1, but also tried with 1.8.0 snapshot) and during startup the log is saying:

2015-10-03 22:41:34.863 [WARN ] [.denon.internal.DenonConnector] - Encoding error in get
javax.xml.bind.UnmarshalException: null
    at com.sun.xml.internal.bind.v2.runtime.unmarshaller.UnmarshallerImpl.handleStreamException(UnmarshallerImpl.java:468) ~[na:1.8.0_31]

[2015-10-04 09:34] watou commented on #3242
If I were to guess, it looks like [this line](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.netatmo/src/main/java/org/openhab/binding/netatmo/internal/NetatmoBinding.java#L206) is assuming that a `deviceListResponse` has already been received and saved.  @clinique or @robnielsen, could you take a look?

[2015-10-04 09:37] nesys commented on #3242
for reference, I've also reset the keys, and manually (via https://dev.netatmo.com/doc/methods/devicelist?access_token=xxxxxx) it works like a charm.

No idea if this helps.

[2015-10-04 09:43] watou commented on #3242
I suggest a pull request would produce a WARN log message instead of the NullPointerException, but the maintainer(s) can address that.

[2015-10-04 09:47] nesys commented on #3243
@idserda can you please have a look, or suggest how to modify the configuration as appropriate? thank you very much. Ready for testing, if necessary.

[2015-10-04 12:20] mdbergmann opened #3244 "JPA persistence doesn't create tables"
As in this thread the JPA binding doesn't create it's required tables on it's own.
https://community.openhab.org/t/openhab2-jpa-binding-mysql-db/2375/29

[2015-10-04 12:23] mdbergmann commented on #3244
The reason is that the persistence.xml file contains the SynchronizedMappings value of:
[code]
where the it should be:
[code]

[2015-10-04 14:45] rmayr commented on #736
That problem has been bothering me for far too long, and I have also adopted the script by @twisniew1976 slightly. Instead of having an own loop in shell, I now start an adapted version from monit, with the additional benefit of automatically receiving an email when a reload of rules files was triggered:

`openHAB-daemon-watcher-worker.sh`

[code]
The paths work for the Debian/Ubuntu packaging of

[2015-10-04 15:15] robnielsen commented on #3242
I'll see if I can figure out what's going on with this. Works just fine with  https://github.com/openhab/openhab/pull/2891, but that is running off a codebase that is about 3 months old.

[2015-10-04 18:13] ssalonen commented on #1325
I switched to influxdb but still had issues with the chart. The issues started when I tried rrd4j, and they did not go away even when I switched to db4o. Everytime I changed the default persistence provider in openhab cfg.

This is how I fixed it:
Renamed identical labels (as discussed in this thread) -- no immediate change.

I had configurations/persistence/rrd4j.persist.old that seemed to  be ac

[2015-10-04 19:09] robnielsen commented on #3242
@nesys can you include more of your log file. I'd like to see what's logged before the Null pointer exception. Does it happen right away, or after running for awhile.

[2015-10-04 19:14] nesys commented on #3242
what do you need exactly? I'm completely at your disposal

Andrea

[2015-10-04 19:35] teichsta commented on #3235
+1

[2015-10-04 19:35] #3235 closed

[2015-10-04 19:43] robnielsen commented on #3242
Can you turn on netatmo debugging and attach your openhab.log file? Add the following to logback.xml:

<logger name="org.openhab.binding.netatmo" level="DEBUG" />
<logger name="org.openhab.binding.netatmo.internal.messages" level="DEBUG" />

you might want to edit the file and x out the clientId,clientSecret, and refreshToken.

2015-10-04 12:11:54.927 [DEBUG] [.o.b.n.internal.NetatmoBinding] - Req

[2015-10-04 19:54] nesys commented on #3242
what I need to add exactly in logback?

[2015-10-04 20:07] robnielsen commented on #3242
<logger name="org.openhab.binding.netatmo" level="DEBUG" />
    <logger name="org.openhab.binding.netatmo.internal.messages" level="DEBUG" />

[2015-10-04 20:21] robnielsen commented on #3242
Could you also try the Netatmo binding at https://openhab-ci.innoq.io//jenkins/job/openhab-pr-builder/43/ It also has my latest update

[2015-10-04 20:28] nesys commented on #3242
maybe that "moduleId=null" sounds not really good ... mmm ....

here the log:

2015-10-04 22:16:55.429 [INFO ] [.o.core.internal.CoreActivator] - openHAB runtime has been started (v1.7.1).
2015-10-04 22:16:57.607 [INFO ] [o.o.i.s.i.DiscoveryServiceImpl] - mDNS service has been started
2015-10-04 22:16:57.719 [INFO ] [o.o.i.s.i.DiscoveryServiceImpl] - Service Discovery initialization completed.
201

[2015-10-04 20:29] nesys commented on #3242
sorry if there is another issue with another Binding (Denon) .... but I've pasted the log as it is

[2015-10-04 20:31] nesys commented on #3242
what you suggest? the "Tests" version, or the other?

[2015-10-04 20:34] robnielsen commented on #3242
https://openhab-ci.innoq.io//jenkins/job/openhab-pr-builder/43/org.openhab.binding$org.openhab.binding.netatmo/artifact/org.openhab.binding/org.openhab.binding.netatmo/1.8.0-SNAPSHOT/org.openhab.binding.netatmo-1.8.0-SNAPSHOT.jar

[2015-10-04 20:42] nesys commented on #3242
installed, sounds exactly the same as 1.7.1

[2015-10-04 21:03] robnielsen commented on #3242
Would you be willing to share your configuration info with me and i can try to debug locally? My email address is rob[dot]nielsen[at]yahoo.com?

[2015-10-04 21:33] nesys commented on #3242
Yes sure. What files do you need?

[2015-10-04 21:36] robnielsen commented on #3242
I think I see what is going on...

    2015-10-04 22:17:14.814 [DEBUG] [.o.b.n.internal.NetatmoBinding] - Response: DeviceListResponse[status=ok,body=DeviceListResponse.Body[devices=[DeviceListResponse.Device[id=70:ee:50:01:c2:66,firmware=111,ip=,lastFirmwareUpdate=,lastRadioStore=,lastStatusStore=Sat Jan 17 18:06:29 CET 1970,lastUpgrade=Sat Jan 17 17:01:48 CET 1970,moduleName=Living,modules=[02:0

[2015-10-04 21:40] nesys commented on #3242
is it an issue with my config? what can I do?

[2015-10-04 21:45] robnielsen commented on #3242
Can you send me your
netatmo:clientid
netatmo:clientsecret
netatmo:refreshtoken

And then I can verify. What's the altitude that shows up at https://my.netatmo.com

[2015-10-04 21:51] nesys commented on #3242
<img width="1269" alt="screen shot 2015-10-04 at 23 49 50" src="https://cloud.githubusercontent.com/assets/8050464/10270468/caba883a-6af2-11e5-8f66-b812fa4eaf6f.png">

altitude is null :(  sending info

[2015-10-04 21:53] theoweiss commented on #1429
Was this the first installation of openHAB on this host or have you purged an older one before reinstalling openHAB?

[2015-10-04 22:30] robnielsen commented on #3242
That was it, it is fixed in https://github.com/openhab/openhab/pull/2891

[2015-10-04 22:32] nesys commented on #3242
thanks rob. It should be included in a snapshot?

[2015-10-04 22:34] lewie commented on #3147
DBMS is deprecated!
Please use and test 'New generic JDBC Persistence Service': https://github.com/openhab/openhab/pull/3248

[2015-10-04 22:34] #3147 closed

[2015-10-04 23:10] robnielsen commented on #3242
@teichsta, can https://github.com/openhab/openhab/pull/2891 get merged? Thanks!

[2015-10-05 05:34] mastix commented on #1429
Fresh installation on a Raspberry Pi 2 (Debian Jessie).

[2015-10-05 06:33] teichsta commented on #2661
ok, i've enabled the auto-build again. So you should the binaries for the according PR here: https://openhab-ci.innoq.io//jenkins/job/openhab-pr-builder/9/ could you please try and see if everything works now …

[2015-10-05 08:08] watou commented on #3242
@robnielson, please create a separate PR for this fix. You must be unaware that combining unrelated changes in a single PR is problematic. :-). @teichsta, please don't merge #2891 until those old issues are resolved.

[2015-10-05 08:33] clinique commented on #3242
Nice finding - I will report this in the v2.0 of the binding

[2015-10-05 10:57] mdbergmann commented on #3244
Fixed and tested with embedded derby db.

[2015-10-05 10:57] #3244 closed

[2015-10-05 12:32] robnielsen commented on #3242
@watou, there are no issues with the PR request, other than you don't like the level of precision that was picked. It meets the standard practices of precision used by both the scientific and engineering community. No different than you did with the ecobee binding, you picked a level of precision also.

[2015-10-05 13:19] JohnnyXXX opened #3250 "Add support for KNX DPT 14.058"
2015-10-05 15:14:50.490 [ERROR] [i.internal.GenericItemProvider] - Binding configuration of type 'knx' of item ‘WS_Luftdrucksensor_Pa‘ could not be parsed correctly.
org.openhab.model.item.binding.BindingConfigParseException: DPT 14.058 is not supported by the KNX binding.

DPT 14.058 is used for displaying air pressure. This value is needed for calculating the local weather forecast, especially f

[2015-10-05 15:42] watou commented on #3242
I disagree with your characterization, @robnielsen.  You were instructed that "[o]nly the UI should decide how many digits to show" and despite clear explanations as to why this is preferred, you chose to round off precision in item states to the detriment of accuracy, leading to bad data when computing totals, averages, etc.  Separately, combining discrete fixes into an unrelated enhancement comp

[2015-10-05 19:03] #3120 closed

[2015-10-05 22:21] theoweiss commented on #1429
OK. I will try if I can reproduce this.

[2015-10-06 07:33] anordvall commented on #1435
I have the same problem... I have tried to live with it but It's getting so bad now (hangs for 5-10 secs every ~10 secs) so I can't ignore it anymore.

I do have only one quite big rules file. Do I have to split it up into small ones?

@kaikreuzer Who made the designer? Good to get his/her view on this. Thanks!

[2015-10-06 07:38] teichsta commented on #1435
the designer has been created by kai :-)

Could you please describe your system in detail (JDK? OS? Designer Version?). It would also be great if you could open (or find ongoing) discussion at https://community.openhab.org in order to engage even more people from the community.

[2015-10-06 07:46] anordvall commented on #1435
Perfect then! :)

Windows 8.1 - 64 bit

java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) Client VM (build 25.60-b23, mixed mode)

How can I see the Designer version? I downloaded it in June, if that helps.

Let's see if Kai is aware of the issue already, before bothering the whole community :) I didn't find any existing threads about it anyway.

[2015-10-06 07:50] kaikreuzer commented on #1435
I doubt that that will be in any way helpful. The problem that the openHAB 1 Designer is slow on big rules is known since a long time. I think Karel was the first to mention it. I am maintaining the Designer at Eclipse SmartHome, i.e. for openHAB 2, which should be in a better state. Thomas is maintaining the openHAB 1 version and I doubt that there is anybody in the community that is deep enough

[2015-10-06 07:56] teichsta commented on #1435
i was not aware of the latest state of the discussion. Is the assumption that the quite old Xtext-version causes this issue? If yes there won't be any efforts on increasing the Xtext version for OH1. So we can close this issue as known bug which we won't fix, right?

[2015-10-06 08:03] kaikreuzer commented on #1435
This is completely up to you and depends on how much effort you want to spend to see if there are ways to improve it. I just doubt that anyone from the community will help on it...

@anordvall, Yes, I think this is the very best workaround you can do in order to be able to use the Designer.

[2015-10-06 08:26] sercasyr commented on #1435
What about making "syntax check" a user-selectable option?

This way you can use the editor without CPU hangs, and when you are done editing and you want to use the syntax check, you can turn it on.

The way is working now is not just user-unfriendly, it is user-wants-to-kill-himself.
I quit using the editor a long time ago...

[2015-10-06 08:38] teichsta commented on #1435
when splitting up the rule files please keep in mind there were ongoing discussions regarding the startup sequence (especially on small embedded devices like RPi1). If i remember correctly their solution was to better provide one single file rather than many small files.

[2015-10-06 08:48] anordvall opened #3253 "Please add a different version (?) of the Aeon Labs LED Bulb to the database"
Hi @SkynetHome! I can not see any configuration parameters at all for my Aeon Labs LED Bulb. I assume something needs to be added to the database, but maybe I'm wrong?

![aeon led bulb](https://cloud.githubusercontent.com/assets/13090236/10303834/c7abffb4-6c16-11e5-8c74-4fbb38d81404.png)

XML:

[code]

[2015-10-06 08:50] anordvall commented on #1435
Then I also vote for sercasyr's suggestion, a user-selectable syntax check option. Is this something that can be added perhaps?

[2015-10-06 08:52] anordvall commented on #3253
FYI, I'm using the latest snapshot of the z-wave addon.

[2015-10-06 09:24] gersilex opened #3254 "MySensors Binding (nRF24l01+ mesh Transport)"
Hey folks! I've found a very complete and well-working framework for using dirt-cheap nRF24l01+ transceivers by Nordic to build a sensor-actor mesh-network.

![MySensors Logo](http://www.mysensors.org/MySensorsLogo.png)

A Gateway Software is flashed to an Arduino, which is also connected to the radio transceiver to listen and talk to the radio network of the other nodes. Communication to OpenHAB

[2015-10-06 14:35] fmatray commented on #3218
Thanks.
So I'm waiting for next version :)

[2015-10-06 15:47] agsochi opened #3256 "Main openHAB configuration file 'configurations/openhab.cfg' cannot be read. java.io.IOException: No such file or directory"
Help. OH 1.8 snapshot
'2015-10-06 18:08:15.476 [ERROR] [o.config.core.ConfigDispatcher] - Main openHAB configuration file 'configurations/openhab.cfg' cannot be read.
java.io.IOException: No such file or directory'

and after i got same errors with my rules (java.io.IOException: No such file or directory').

[2015-10-06 15:59] MrMerlino commented on #2863
Hello,
do u have some news about it?
thanks in advance!

[2015-10-06 17:18] RemcoteWinkel commented on #2863
Hi,

Samsung offered to restore software on my units. If this proofs succesfull you can ask for it too. I will keep you posted.

Verzonden vanaf mijn Samsung Galaxy smartphone.

-------- Oorspronkelijk bericht --------
Van: MrMerlino <notifications@github.com>
Datum:2015-10-06  17:59  (GMT+01:00)
Aan: openhab/openhab <openhab@noreply.github.com>
Cc: RemcoteWinkel <remcotewinkel@hotmail.com>
Onderw

[2015-10-06 17:22] watou commented on #3256
Sounds like an installation issue, but please try starting a topic at https://community.openhab.org to find help.  If this is a bug, please re-open this issue.  Thanks a lot!

[2015-10-06 17:22] #3256 closed

[2015-10-06 17:25] watou commented on #3218
Let's leave this issue open until we know it's fixed!  You can try a Cloudbees build from recent hours to see if the problem is gone.  Thanks!

[2015-10-06 19:05] berndpfrommer commented on #3027
@cdeadlock, does an upgrade to 1.8 fix the issue for you, too? If yes, would you mind closing the issue?
Thanks,

Bernd

[2015-10-06 20:40] donniet opened #3257 "Zwave Fedora Core 22 locking issue"
Fedora Core version 22 (or possibly an earlier version) changed the owner and permissions of /var/lock to root 0755 and moved it to /run/lock.  This means that the RXTX package included in OpenHAB 1.7.1 (which I think is nrjavaserial-3.9.3) fails to open and lock the serial port specified in the zwave configuration.  It looks like this might be fixed by using the new nrjavaserial-3.10.0 version, b

[2015-10-06 20:43] cdjackson commented on #3257
Can I suggest that you post this to the forum rather than raising a bug. Also a search on the forum might help - maybe it’s a security issue.

I would recommend closing this and asking the question to the forum where you will get a wider audience.

[2015-10-06 20:55] dominicdesu opened #3258 "Adjust hue binding for hue API whitelist changes"
The API of the username whitelist for the hue bridge will change in the coming months: http://www.developers.meethue.com/documentation/important-whitelist-changes

Starting in February 2016, it will probably not be possible anymore to whitelist custom users on the hue bridge. As the current binding implementation uses this functionality, it will be necessary to update the binding before the bridge

[2015-10-06 20:55] donniet commented on #3257
Thanks, I can do that, but I'm confident that it's a bug and have started looking into a fix myself so I thought this would be an appropriate place.  I'll also post it on the forum though, that's a good idea.

[2015-10-06 21:11] cdjackson commented on #3257
Well, if you think it’s a bug, and can provide a fix, then please feel free to leave this open. We do however get a lot of issues like this, and they are often caused by security issues under Linux, or incorrect configuration of the COM ports…

[2015-10-06 21:26] donniet commented on #3257
I understand completely.  Here is more detail:

I think the problem is inside of nrjavaserial-3.9.3.jar which is included in openhab-1.7.1. There is a hard define of LOCKDEV to /var/lock (see line 166 of https://github.com/NeuronRobotics/nrjavaserial/blob/02d9a5bdfc94a9812c501d8666464ce4c307440b/nrjavaserial/src/main/c/include/SerialImp.h). In the newest version, nrjavaserial-3.10.0 this issue app

[2015-10-06 22:00] agsochi commented on #736
Since 1.7 and now on 1.8 snap the first line in log is:
<code>
[ERROR] [o.config.core.ConfigDispatcher] - Main openHAB configuration file 'configurations/openhab.cfg' cannot be read.
java.io.IOException: No such file or directory
</code>
Do anybody got that one?

[2015-10-06 22:00] sumnerboy12 commented on #736
Nope - check your file permissions maybe?

[2015-10-06 22:03] agsochi commented on #736
But settings is applied from cfg file.

[2015-10-06 22:04] sumnerboy12 commented on #736
I meant Linux file permissions.

[2015-10-06 22:07] agsochi commented on #736
100777 openhab users
Synology ds214play

[2015-10-06 23:06] teichsta commented on #2661
ok, i've merged #3179. Please confirm (with the upcoming nightly build) that every works fine again.

[2015-10-07 07:32] MrMerlino commented on #2863
thanks for reporting your experience!
keep us updated! Could be a good solution!

[2015-10-07 09:37] brettyj commented on #3254
I use this with OpenHAB, but I do it using MQTT, which OpenHAB already has a binding for, much easier than creating a whole new binding

[2015-10-07 10:29] staehler commented on #2953
Unfortunately, the TR064 protocoll doesn't support all features implemented in the fritzbox binding. E.g. DECT couldn't be switched, as well the incomming/outgoing call detection doesn't work.
I won't miss both of this features!

Is there a chance to use freetz (with enabled telnet) and stay with the fritzbox binding? Will the fritzbox-binding be maintained in the future or will it be removed in l

[2015-10-07 12:16] gersilex commented on #3254
Thank you for this information. I read about that as well. But this requires a user to have an MQTT server and feed hook up the MySensors Gateway to the network, which may not be desired.

For instant usage, I rework a small implementation into the **rules** inspired by [l154 from the MySensors.org forums](http://forum.mysensors.org/topic/655/serial-gateway-connection-to-openhab/32).

Only the con

[2015-10-07 23:23] snickers2k commented on #1207
one year later, same issue .. i'll stick with FHEM ;)

[2015-10-08 06:34] kaikreuzer commented on #1207
Not in openhab 2, which hace a nice dsshboard andvno links to missing sitemaps...

[2015-10-08 13:41] federic0 commented on #1626
Is there a way to "silence" the logs for these messages?

[2015-10-08 15:59] staehler commented on #3173
For your information: this error remains even in Snapshot 1032.

2015-10-08 17:54:18.113 [ERROR] [i.i.InfluxDBPersistenceService] - query failed with database error
2015-10-08 17:54:18.123 [ERROR] [i.i.InfluxDBPersistenceService] - database connection error may be wrong password, username                                             or dbname: {}
java.lang.RuntimeException: syntax error, unexpected

[2015-10-08 18:17] theoweiss commented on #3173
Hi Michael,

which influxdb server version are you using?

Regards,
Theo

[2015-10-08 19:48] Truxen commented on #3084
Is there any need for additional information to solve this issue?

[2015-10-08 19:58] staehler commented on #3173
Hi Theo,
my influxdb version is 0.8.8. Openhab worked with this influxdb very well, as I didn't change anything at my influxdb installation.
My working OH version is 1.8.0 snapshot 1001.

Kind regards, Michaek

[2015-10-08 20:55] epike opened #3264 "let knx binding use calimero-core-2.2.1"
Please upgrade the used calimero version. Thanks
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27272128-let-knx-binding-use-calimero-core-2-2-1?utm_campaign=plugin&utm_content=tracker%2F482064&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tr

[2015-10-08 21:47] teichsta commented on #3264
anything special you would expect from the new version?

[2015-10-08 21:49] teichsta commented on #3258
might especially be interesting für the ESH version of the Hue-Binding. Could you double check, please?

[2015-10-08 21:53] teichsta commented on #3254
Please use the forum available https://community.openhab.org to announce new technologies and discuss implementations and samples. Thanks, Thomas E.-E.

[2015-10-08 21:53] #3254 closed

[2015-10-09 05:31] epike commented on #3264
I use a selfmade knx ip Interface based on arm micro Controller and a tpuart Module. Everything runs well with ets4 and ets5. When i am using openhab the initial connection with calimero is fine, but on first writeToKnx I get connection lost.

As workaround I renamed the newer calimero version and put it in the 1.8 snapshot jar of knx bindung. So it is working now with Java 8 on Windows and raspbe

[2015-10-09 07:01] teichsta commented on #1222
fixed meanwhile …

[2015-10-09 07:01] #1222 closed

[2015-10-09 10:58] mknet commented on #1379
I got the same log entries. Have you guys find something out in the mean time?

I'm using a docker container on OSX: https://hub.docker.com/r/tdeckers/openhab/

Thx!

[2015-10-09 13:07] donniet commented on #3257
I did a test recompiling the nrjavaserial-3.10.0 library with LOCKDIR=/var/lock/uucp and also setting the permissions on /var/lock/uucp in the /usr/lib/tmpfiles.d/uucp.conf file to 775 and rebuilding org.openhab.io.transport.serial and it works now on fedora.  Now I'm looking for a cross-platform fix...

[2015-10-09 16:22] cdjackson commented on #3253
There are no config parameters currently in the database. Can you provide the manual reference?

[2015-10-09 18:29] anordvall commented on #3253
Oh, that explains it :)

It's a bit ambiguous regarding the manual as I can find two of them, and they seem to cover different config parameters. Perhaps it's more clear to you what's going on. The manuals are:

1. The one linked from Z-Wave Alliance
http://products.z-wavealliance.org/products/1380
The last page on this one mentions e.g. parameter 34 "Enable/disable the function of using External

[2015-10-09 18:32] anordvall commented on #2150
The needed config parameter for that (for the Aeon bulb) will hopefully be added as part of https://github.com/openhab/openhab/issues/3253 :)

[2015-10-09 18:35] cdjackson commented on #2150
What do you mean?  This issue is not related to #3253 at all.

[2015-10-09 18:40] anordvall commented on #2150
I was referring only to the last couple of comments regarding the behavior of the Aeon Labs bulb at physical switch on/off. Isn't that related either? Sorry for the confusion either way.

[2015-10-09 19:05] cdjackson commented on #2150
I’m not sure - I’ve not seen the manual yet, so I’m not sure if there’s a config item. It just gets a little confusing linking the color channel command class to the configuration since this isn’t linked…

Anyway, no probs - I was just wanting to make sure people didn’t expect this issue to be closed simply by adding the configuration.

[2015-10-09 21:41] agsochi opened #3268 "NullPointerException in HarmonyHub Binding after updating items file."
Sometimes i got error after updating items file:
<code>2015-10-10 00:34:07.649 [INFO ] [c.internal.ModelRepositoryImpl] - Refreshing model 'default.items'

2015-10-10 00:34:07.899 [ERROR] [AbstractGenericBindingProvider] - Binding org.openhab.binding.harmonyhub.internal.HarmonyHubBinding threw an exception:
java.lang.NullPointerException: null
	at org.openhab.binding.harmonyhub.internal.HarmonyHub

[2015-10-09 22:41] watou commented on #3268
[This change](https://github.com/openhab/openhab/pull/3016/files#diff-7dd0578d26045bfca503f23649502c08L79) was merged only four days ago, and it should exactly avoid the NullPointerException you see.  From when/which code was your 1.8.0-SNAPSHOT binding built?

[2015-10-09 23:24] mcarlosro opened #3269 "BeNext Plugin Dimmer missing configuration parameters"
the plugin dimmer from benext is missing all configuration parameters.

Please, the product doc at http://www.benext.eu/static/manual/plugindimmer.pdf

Here is the node file
`<node>
  <deviceClass>
    <basicDeviceClass>ROUTING_SLAVE</basicDeviceClass>
    <genericDeviceClass>MULTILEVEL_SWITCH</genericDeviceClass>
    <specificDeviceClass>NOT_USED</specificDeviceClass>
  </deviceClass>
  <homeId>0

[2015-10-10 07:00] mcarlosro commented on #3240
After trying it is not recognized propertly. Attached the node.xml file from my device.

As I wasn't unable to load the file in txt or pdf, I pasted:
<node>
  <deviceClass>
    <basicDeviceClass>CONTROLLER</basicDeviceClass>
    <genericDeviceClass>REMOTE_CONTROLLER</genericDeviceClass>
    <specificDeviceClass>PORTABLE_REMOTE_CONTROLLER</specificDeviceClass>
  </deviceClass>
  <homeId>0xdde2fc2d<

[2015-10-10 07:43] bodomenke commented on #1187
Is this fixed in the meanwhile? Reason for asking is that I have issue with the iOS app not refreshing status after staying approx. 10 to 15 min on a page.

[2015-10-10 08:57] cdjackson commented on #3269
If you can help at least to start the file it would be useful and appreciated since it takes a lot of time to keep the database updated…

https://github.com/cdjackson/HABmin2/wiki/Z-Wave-Product-Database <https://github.com/cdjackson/HABmin2/wiki/Z-Wave-Product-Database>

If not, then yes I will add, but it may be a little while before I get to do this as I have other things to do at the moment...

[2015-10-10 09:34] mcarlosro commented on #3269
I can try. But do I need an eclipse environment?

The device exists, but it is missing the configuration parameters.

Sent from my iPhone

[2015-10-10 09:39] cdjackson commented on #3269
No - you don’t need eclipse. You can just type it into an email, or into Github. So long as the basic structure is correct for the parameters, then I’m happy to tidy it up as it will really save me a lot of time…

Don’t worry about most of the file - just the parameters - if you can type in all the names and options, and anything else you can set, then I’ll sort it out  - it really would be apprec

[2015-10-10 09:54] mcarlosro commented on #3269
I found almost all parameters in the other be next plugin device. I’ll go through later today and change it.

But, can you review the other device. The Nodon switcher is not identifed properly.

-- 
Manuel Carlos Rodriguez Alvarez-Querol
Sent with Airmail

On 10 Oct 2015 at 11:40:10, Chris Jackson (notifications@github.com) wrote:

d anything else you can set, then I’ll sort it out -

[2015-10-10 10:11] mcarlosro commented on #3269
Already added all the config properties . What is the next step?

[2015-10-10 10:17] cdjackson commented on #3240
Please delete the XML and restart the binding to see if it picks up the config - everything looks fine so it should work.

[2015-10-10 10:17] cdjackson commented on #3269
Post the config here and I'll update the database with it.

[2015-10-10 10:18] mcarlosro commented on #3269
Pull request created. What is the next step?

I also found the benext builtin device is wrongly defined in the builditdimmer.xml file in the model tag.
Don't know from where you got that tag. Can you fix it?

[2015-10-10 10:24] cdjackson commented on #3269
Thanks - no next step - it’s merged :)

What do you mean by the “builtin device"

[2015-10-10 10:28] mcarlosro commented on #3269
benext has two dimmers a plugin dimmer and a builtin dimmer. The builtin dimmer file (builtindimmer.xml)  has the following tags
`	<Model>plugInDimmer</Model>
	<Label lang="en">BeNext Plug-in Dimmer</Label>`
 while they should be builtin, I think.

[2015-10-10 10:35] mcarlosro commented on #3240
Deleted node7.xml restarted OH1 and the node file is not generated.

-- 
Manuel Carlos Rodriguez Alvarez-Querol
Sent with Airmail

On 10 Oct 2015 at 12:17:39, Chris Jackson (notifications@github.com) wrote:

Please delete the XML and restart the binding to see if it picks up the config - everything looks fine so it should work.

—
Reply to this email directly or view it on GitHub.

[2015-10-10 10:43] cdjackson commented on #3240
It's a battery device - it will need to be woken up...

[2015-10-10 10:44] cdjackson commented on #3269
Ok - this information is not used so it doesn’t matter. It is removed in OH2 so I wouldn’t worry about it...

[2015-10-10 12:41] dominicdesu commented on #3258
Yes, seems as if the ESH binding is also using a custom username.

[2015-10-10 14:02] TimHaydnJones commented on #1680
I have just acquired one of these. OpenHab is reporting Unsupported Command Class USER_CODE (0x63). Are there any plans and known timescales to add this? I am happy to act as remote test bed or loan unit to @cdjackson  if it helps.

[2015-10-10 17:57] mcarlosro commented on #3240
Same behaviour.

It is identify as Manufacturer 357[D:1, Type: 2], but not as a nodon.

-- 
Manuel Carlos Rodriguez Alvarez-Querol
Sent with Airmail

On 10 Oct 2015 at 12:43:48, Chris Jackson (notifications@github.com) wrote:

It's a battery device - it will need to be woken up...

—
Reply to this email directly or view it on GitHub.

[2015-10-10 17:59] cdjackson commented on #3240
Ok - I see the error. I’ll fix later and you can try again tomorrow.

[2015-10-10 18:39] agsochi commented on #3268
I using older version than 4 days. l'll try new build. Thanks.

[2015-10-10 18:41] mcarlosro commented on #3240
I tried to help, and don't know if I overwrite your change.

Sorry!!!

[2015-10-10 18:46] cdjackson commented on #3240
No problem… tomorrows version should have the correct value - it’s already merged.

[2015-10-10 20:38] watou commented on #3268
Thank you. Please close this issue if you see a recent build has fixed the problem.  Thanks, @agsochi!

[2015-10-10 20:53] #3268 closed

[2015-10-11 02:24] elifesy opened #3274 "unable to run openHAB Designer (Win32) from eclipse"
Hello all,
I am new to openhab development...
I used Yoxos to setup my development environment.
OpenHAB server is working fine (run configuration: openhab runtime)
but the openHAB Designer (Win32) run configuration is not ..

I am getting (problem detected dialog), then the following log: (thank you in advance for your help)

"

!SESSION 2015-10-11 06:22:49.864 ------------------------------------

[2015-10-11 14:23] paragparandkar opened #3277 "Aeotec door sensor state does not change"
using
Aeotec z stick gen 5, door sensor, openhab , habmin
door status always shows closed

curl http://localhost:80t/items/Door_Motion/state

always give
CLOSED

item file -
cat /usr/share/openhab/configurations/items/default.items
Contact Door_Motion "Window [%s]" (DollHouse) {zwave="2:command=SENSOR_BINARY,refesh_interval=1,respond_to_basic=true"}

openhab.cfg has following configuration for z w

[2015-10-11 14:46] cdjackson commented on #3277
As suggested previously, this would be better discussed on the forum (community.openhab.org) rather than as a bug here as there will be a wider audience, and someone might be able to help with your configuration.  I don't believe there will be a bug, so it would be better to discuss on the forum to see where you're going wrong, and if we find there is a bug, then we can open an issue to get it res

[2015-10-11 15:00] cdjackson commented on #3277
Since you now have also asked this on the forum, I'll close this here.

[2015-10-11 15:00] #3277 closed

[2015-10-12 06:42] udo1toni opened #3282 "Getting Error when trying to bind more than one Datapoint to ntp"
I think this is associated with https://github.com/openhab/openhab/pull/3251 ...
I use an Item to update the Clocks in knx System:

    DateTime Date "Zeit [%1$tA, %1$td. %1$tB %1$tY %1$tT]" <calendar> (All) {ntp="Europe/Berlin:de_DE",knx="11.001:15/7/11, 10.001:15/7/10" }

This has worked as expected until I updated to 1.8.0-1034 (my last nightly Version was 1.8.0-1009, so it's uncertain when thi

[2015-10-12 06:50] patrickse commented on #1535
A real forked-daapd binding would really be awesome. I´ve now managed to use the mpd binding to communicate with forked-daapd but I am lacking some rule-actions to really benefit from this binding.

So for now I need to do a few tasks with the mpd-binding and a few with the exec-binding. Not the cleanest solution. ;)

[2015-10-12 08:20] staehler commented on #3173
@theoweiss Are you working on this issue? Can I provide further information?

[2015-10-12 08:34] benderl commented on #736
@teichsta: Any news if someone is stiil working on this bug?

[2015-10-12 08:52] lewie commented on #736
I do not work on this Bug, but I just watch it:
- The problem occurs here only on Linux.
- It is also interesting that it never occurs loaded scripts via the jsr223 Bundle.
- With permissions it definitely has nothing to do, the bug even happens in installations which run as root, no difference.
- I have rather the assumption/speculation that two or more processes at the same time want to read one

[2015-10-12 09:17] gersilex commented on #3254
Thank you.

Follow-up: https://community.openhab.org/t/nrf24l01-mesh-network-using-mysensors

[2015-10-12 15:28] staehler commented on #3194
Has nobody an idea?
Here two pictures, which describes more than words. Both contacts (Wohnzimmer rechts an Wohnzimmer rechts) are correct in onewire http site, but the openhab items dont reflect this.
This behaviour is absolutely reproducable. After every restart, it looks like this :-(

![onewire1](https://cloud.githubusercontent.com/assets/6258158/10431566/0f160c0c-7106-11e5-9bf6-d497c7370f38.P

[2015-10-12 15:34] omatzyo opened #3287 "Update ZWave Device - Cooper Battery Powered Dimmer Switch RF9500"
Hi Chris,

I see an entry in the database for the 9500 but I'm not sure that it is complete. I've added this device to my system, but it does not populated the Type or ID fields.  I've given it ample time, awakened it, re-added several times with no changed.

I see this in the log when I press the power button:

[code]

There is no response when using the dimmer button side.  Please let me know if

[2015-10-12 15:54] snizzleorg commented on #1535
@patrickse Would you mind sharing your Item and rule configuration? (for the mid-binding)

I couldn't really find out how to make query the play-state if I recall

[2015-10-12 16:59] patrickse commented on #1535
@snizzleorg It´s really basic stuff. Just select one of the 3 radio stations and select the Speakers you want to activate and it will play the music. A real integration with forked-daapd would be awesome.

My Sitemap
[code]

My items
[code]

The content of one of my radio station shell scripts.
[code]

[2015-10-12 17:48] snizzleorg commented on #1535
@patrickse thanks!

[2015-10-12 19:08] DivineThreepwood opened #3288 "Z-Wave Binding - Communication Breakdown - Protocol error (OOF)"
Hey,

I have a strange issue with two  Openhab + Zwave setups where the zwave networks crashes after around 1 - 42 hours. These setups are independent but showing the same behavior. The zwave log prints some protocol errors and afterwards the communication breaks down and the log continues printing:
[code]

# Hardware and Versions
Z-Wave Controller: Z-Wave Plus USB Stick (ZME_UZB)
Openhab Version:

[2015-10-12 19:21] jacobtomlinson opened #3289 "RFXCOM LIGHTING5 [OPEN|CLOSE|STOP]_RELAY"
I'm trying to use a JSJSLW826 with my openhab setup.

The switch sends three commands `OPEN_RELAY`, `CLOSE_RELAY` and `STOP_RELAY`. I see they are acknowledged in [the code](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.rfxcom/src/main/java/org/openhab/binding/rfxcom/internal/messages/RFXComLighting5Message.java#L82) but they don't appear to be implemented.

Wo

[2015-10-12 19:59] theoweiss commented on #3173
@staehler I started working on this issue.

[2015-10-12 21:07] teichsta commented on #3289
@Speederc @paulianttila could have a look at this one please?

[2015-10-12 21:12] teichsta commented on #2621
@Speederc @paulianttila could have a look at this one please?

[2015-10-13 00:10] 00daniel00 commented on #2900
Hi, in the last version from openhab (October 10 2015) I tried to use the new slider in the ClassicUI on Chrome 45.0.2454.101 m, but every went crazy in the interface, the slider didn't respond and after some time other items disappear from the interface, in the browser console an error keep popping up "cannot set property 'innerhtml' of undefined" related to Logic.js:1850, so I commented that lin

[2015-10-13 02:13] 9037568 commented on #3282
A bit of digging shows the exception is being thrown from line 338.  Not
sure why, as it looks like this code hasn't change in a good long time...

   java.lang.IndexOutOfBoundsException: Index: 1, Size: 1
        at java.util.ArrayList.rangeCheck(Unknown Source) ~[na:1.8.0_45]
        at java.util.ArrayList.get(Unknown Source) ~[na:1.8.0_45]
        at
org.openhab.binding.knx.internal.config.KNXG

[2015-10-13 05:57] kaikreuzer commented on #2900
Btw, @teichsta, is there a slider in the ClassicUI by now? This hasn't been ported to ESH yet, right? Is there an issue to track?

[2015-10-13 06:22] watou commented on #3282
After looking at the code, I also believe it is a side effect of #3251.  The fix should be to the binding code.

[2015-10-13 11:50] sja commented on #2900
@00daniel00 Can you show me the sitemap you're using this? On line 1743, it does not seem to find the correct value element. I haven't seen that on review, it seems not very fault tolerant. Maybe your nesting is wrong, but I'm faster able to fix this if I know your environment to reproduce it.

@kaikreuzer In my mind you participated on this decision, because was a new feature for OH1 and classicu

[2015-10-13 11:56] kaikreuzer commented on #2900
Yes, I remember that there was a discussion, but I cannot remember that there was a decision not to port it to ESH, correct? Therefore I am wondering, how and why it got lost...

[2015-10-13 16:43] Dennis650 commented on #3194
Hi,

it seems that something wrong happens during start process. Please backup your configuration, delete all bindings except OneWireBinding, remove all rules, remove persist file and remove all items except OneWire binding. Set log to debug and post the log file.

Your log files in the german forum can't be downloaded. Nothing happens. But please post log files after removing all things except on

[2015-10-13 17:50] staehler commented on #3194
Hi Dennis,

thanks you very much for your inquiry. The zipped log is on my owncloud share. I've done it like you adviced.
Look at FensterWZli and FensterWZre, which shows quite obvious the difference.

https://staehler.harte-tour.de/owncloud/index.php/s/9jJ6jGfncPpwFdb

Regards,
Michael

[2015-10-13 18:36] Dennis650 commented on #3194
Hi Michael,

I have a guess. I have found a line in the log, after that there must be a ClassCast Exception i think, but there is nothing in your log.

Do you hide exceptions from onewirebinding or openhab via logback.xml? Could you post logback.xml please?

Greetings
Dennis

[2015-10-13 18:57] staehler commented on #3194
Hi Denis,
here is the logback.xml:

<configuration scan="true">

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%-30.30logger{36}] - %msg%n</pattern>
                </encoder>
        </appender>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingF

[2015-10-13 19:00] dhermanns opened #3293 "java.lang.IllegalStateException: Could not invoke method: org.openhab.model.script.actions.BusEvent.sendCommand(java.lang.String,java.lang.String) on instance: null"
A sendCommand to a DimmerItem seems to throw the above exception when sending an "ON" Command.

This rule-code worked for me using openhab 1.5:
[code]
"Lichter" contains either a Switch or a Dimmer, e.g.:
[code]
I tried openhab 1.6.2 and openhab 1.7.1. Both are throwing this Stacktrace (see below). Any ideas?

[code]

[2015-10-13 19:42] Dennis650 commented on #3194
Hi,

could you make 2 tests?

Test1:
Please change all entries in logback.xml from level="OFF" to level="ERROR" and restart.

Are now exceptions in the log?

Test2: Remove the items "OneWireClearCache" and "OneWireClearCacheOneItem" and restart.

Are now all items initialized at startup?

Greetings
Dennis

[2015-10-13 19:52] vallon commented on #3213
Who maintains the "zwave database"?

-Justin

[2015-10-13 20:12] cdjackson commented on #3213
Mostly me. If you want it added to the database, we need the information of course… If you want to produce a database entry, that would be great.

[2015-10-13 20:21] staehler commented on #3194
Hi Dennis,

thanks a lot for your assistance. Test 2 resolved my problem. I removed both items, now the contacts are refreshed correctly.
As far as I remember, I sometimes had some other problems with my contacts (as described by you in the onewire-binding wiki). So I introduced this cache clearing workarounds, which obviously now make other problems. If you need the logs from Test 1, I can provid

[2015-10-13 20:27] Dennis650 commented on #3194
Hi,

ok, then there is a bug in the binding. But there should be a exception. I did`t find a codeline in OpenHab which catches the exception.

Could you please add the 2 items again and run test1? I wonder why the exception is not in the log. There must be a ClassCast Exception because of a bug in OneWireBinding.

Greetings
Dennis

[2015-10-13 21:06] nesys commented on #3243
@teichsta @watou sorry to bother, do you know if Jeroen is still supporting this Binding? Thank you very much

[2015-10-13 21:40] Dennis650 commented on #3194
Hi,

can you test a fixed version of the binding?

[2015-10-13 22:37] teichsta commented on #282
rather shipping all different scripts we'd better optimise the samples section of the Wiki

[2015-10-13 22:37] #282 closed

[2015-10-13 22:39] teichsta commented on #305
solution has been found meanwhile > issue can be closed though

[2015-10-13 22:39] #305 closed

[2015-10-13 22:41] teichsta commented on #303
@SkynetHome appreciate your offer and yes, it would be great if you could work on this!

[2015-10-13 23:00] teichsta commented on #386
are you using the Classic-UI?

[2015-10-13 23:02] teichsta commented on #394
@belovictor could you please comment? (although this issue would be better placed here: https://github.com/openhab/openhab.android/issues)

[2015-10-13 23:04] teichsta commented on #434
@mepi0011 could you please briefly comment on the current state?

[2015-10-13 23:08] teichsta commented on #464
@udo1toni could you please briefly comment?

[2015-10-13 23:10] teichsta commented on #467
since there has been no follow-up i'll close this issue!

[2015-10-13 23:10] #467 closed

[2015-10-13 23:13] teichsta commented on #489
still no activity … so i'll close this issue

[2015-10-13 23:13] #489 closed

[2015-10-13 23:17] teichsta commented on #494
closed due to inactivity!

[2015-10-13 23:17] #494 closed

[2015-10-13 23:20] teichsta commented on #510
has been implemented meanwhile. @zbuh if your question is still open please ask it at https://community.openhab.org

[2015-10-13 23:20] #510 closed

[2015-10-13 23:24] teichsta commented on #632
an update mechanism of such kind will be provided in OH2/ESH

[2015-10-13 23:24] #632 closed

[2015-10-13 23:27] teichsta commented on #638
Since this would be a core feature it won't be implemented in 1.x anymore … for ESH/OH2 this issue will be addressed with Karaf (to some degree).

[2015-10-13 23:27] #638 closed

[2015-10-13 23:28] teichsta commented on #639
is already addressed in OH2 and won't be implemented in OH1 anymore.

[2015-10-13 23:28] #639 closed

[2015-10-13 23:29] teichsta commented on #642
is already addressed in OH2 and won't be implemented in OH1 anymore.

[2015-10-13 23:29] #642 closed

[2015-10-14 04:30] staehler commented on #3194
Hi Dennis,
Sure, I test your fix. Please provide a download link.
Michael

Gesendet mit AquaMail für Android
http://www.aqua-mail.com

Am 13. Oktober 2015 23:41:05 schrieb Dennis650 <notifications@github.com>:

[2015-10-14 04:33] staehler commented on #3194
Hi Dennis, I read your lines just now. Do you need test1 results or is a
test of your fix sufficient?
Regals
Michael

Gesendet mit AquaMail für Android
http://www.aqua-mail.com

Am 13. Oktober 2015 22:28:31 schrieb Dennis650 <notifications@github.com>:

[2015-10-14 05:44] staehler commented on #3194
Hi Dennis,
a update for your information. Because of the lack of the clear cache workaround, now some contacts remain undefined after startup untill I open manually the contact (window). That's the reason, why I used your suggested clear cache.
So, I'm looking forward to your fix and again, thanks for your help!!

Michael

[2015-10-14 06:43] Dennis650 commented on #3194
Hi Michael,

please download the fix from Dropbox. Link is in my answer from yesterday.

Thank you and greetings
Dennis

[2015-10-14 06:45] Dennis650 commented on #3194
Hi,

i wonder why openhab didn't log this exception, so it would be great if you can test this scenario, too.

Greetings
Dennis

[2015-10-14 06:47] idserda commented on #3243
Yes, I'm still supporting this binding.

What you're seeing is only a warning. It seems some receivers do not support all the http URL's the binding is using to determine the capabilities/initial state of the receiver. I'll update the binding to better handle this. Also see this post: https://groups.google.com/d/msg/openhab/bSTEfSRt0RU/v4KuiQKMAwAJ

[2015-10-14 07:04] kaikreuzer commented on #632
Just FTR: There isn't anything like this available yet and there is also no issue at OH2 to work on it.

[2015-10-14 07:06] kaikreuzer commented on #464
FTR: The Karaf-version of OH2 already has this feature (see https://karaf.apache.org/manual/latest/users-guide/remote.html)

[2015-10-14 08:49] staehler commented on #3194
OK, I'll be back in the evening or at least tomorrow. I'll give you feedback.
Regards,
Michael

[2015-10-14 11:12] kirantpatil opened #3294 "Freeswitch binding issue with Openhab 2"
I am following, https://github.com/openhab/openhab2/blob/master/docs/sources/installation/runtime.md

./start.sh
Launching the openHAB runtime...
osgi> 2015-10-14 13:53:29.632 [INFO ] [ui.internal.servlet.PaperUIApp] - Started Paper UI at /ui
2015-10-14 13:53:30.112 [WARN ] [b.f.internal.FreeswitchBinding] - Client is not connected, reconnecting
2015-10-14 13:53:30.308 [INFO ] [.u.d.internal.Dashb

[2015-10-14 11:13] kaikreuzer commented on #3294
The PaperUI only knows ESH-compatible bindings; openHAB 1 bindings are not shown there.

[2015-10-14 11:13] #3294 closed

[2015-10-14 11:14] kaikreuzer commented on #3294
Also note that openHAB 1 bindings do not support discovery in this way at all.

[2015-10-14 11:46] kirantpatil commented on #3294
Thanks a lot.

[2015-10-14 14:15] omatzyo commented on #3287
This document lists some of the sister devices which you've already seen:

http://www.homedepot.com/catalog/pdfImages/c5/c57bf0c8-b86d-4b6c-bb23-706ee28885ad.pdf

[2015-10-14 15:22] staehler commented on #3194
Hi Dennis,
your fix looks good :-)
I've loaded your new binding and restartet openhab. All contacts have the correct state, even with
OneWireClearCache items.

Finally I've done the requested test 1, all logging from OFF to ERROR. The openhab.log is here:
https://staehler.harte-tour.de/owncloud/index.php/s/FSECsl6OahmMcWE

Thanks for your effort. Hopefully your fix will be merged soon to openhab.

[2015-10-14 16:04] Dennis650 commented on #3194
Hi,

fine. The ClassCastException is now shown in the log. Thank you for the test. So i think there is nothing more to do.

2015-10-14 16:49:20.958 [ERROR] [OSGi                          ] - org.openhab.binding.onewire.internal.control.OneWireClearCacheControlBindingConfig cannot be cast to org.openhab.binding.onewire.internal.deviceproperties.AbstractOneWireDevicePropertyBindingConfig
java.lang.C

[2015-10-14 16:04] Dennis650 commented on #3194
Hi,

fine. The ClassCastException is now shown in the log. Thank you for the test. So i think there is nothing more to do.

So i will create a PullRequest.

2015-10-14 16:49:20.958 [ERROR] [OSGi                          ] - org.openhab.binding.onewire.internal.control.OneWireClearCacheControlBindingConfig cannot be cast to org.openhab.binding.onewire.internal.deviceproperties.AbstractOneWireDevice

[2015-10-14 17:52] nesys commented on #3243
Thank you Jeroen, I appreciate your support here. Please let me know when you'll have something to test. More than happy to assist.

[2015-10-14 18:18] cdjackson commented on #3287
Is your device being correctly identified? If not can you provide the Type/ID for your device?

Can you advise what the problem actually is - you say you’re not sure if it’s correct - why do you think that, or is it just a question?

[2015-10-14 18:52] mepi0011 commented on #434
@teichsta I am sorry! I do not have any experience in Java programming, I'm not able to read and understand the Modbus Binding source code (I have no idea how can I do this). I'm only an openHAB User who try to help the project with documentation and some activities in the different forums.

[2015-10-14 19:22] teichsta commented on #434
No worries! From your comment i deduced you werde deep in the binding. We'll appreciate are your contributions …

[2015-10-14 19:23] timjakobi commented on #2916
Any news about the issue?

[2015-10-14 19:23] teichsta commented on #631
closed due to inactivity

[2015-10-14 19:23] #631 closed

[2015-10-14 19:28] dominicdesu commented on #3293
What happens if you do licht.sendCommand(ON) ?

[2015-10-14 19:48] teichsta commented on #623
According to the POSIX portable filename spec (see http://stackoverflow.com/questions/2304221/what-character-sequence-should-i-not-allow-in-a-filename) '%' and '$'.

[2015-10-14 19:48] teichsta commented on #623
closed due to inactivity …

[2015-10-14 19:48] #623 closed

[2015-10-14 19:50] teichsta commented on #635
would be great to have this enhancement as PR. Would you mind sending a PR? Thanks, Thomas E.-E.

[2015-10-14 19:51] teichsta commented on #668
closed due to inactivity …

[2015-10-14 19:51] #668 closed

[2015-10-14 19:57] teichsta commented on #644
the logback configuration file is referenced in the start script (start.xxx oder start_debug.xxx). So if one would like to use his own logback configuration he can simply reference his own one rather than the provided on in openhabhome/etc/

[2015-10-14 19:57] #644 closed

[2015-10-14 20:02] teichsta commented on #709
perfect, thanks!

[2015-10-14 20:02] #709 closed

[2015-10-14 20:04] teichsta commented on #732
since the telnet feature has been deactivated by AVM recently this issue won't apply anymore.

[2015-10-14 20:04] #732 closed

[2015-10-14 20:18] teichsta commented on #752
since i don't have squeezeboxes at home i cannot confirm your proposal. Can you please discuss your observation/solution in the community at https://community.openhab.org and refer to this issue? Thanks, Thomas E.-E.

[2015-10-14 20:19] MrMontesa commented on #2692
Is there any idea how to tackle this issue?
I have a bad feeling updating again to 1.7.1. Are the masterminds aka @teichsta & @kaikreuzer aware of this issue? Can we somehow assist in troubleshooting/analyzing? I'd like to help but am a bit puzzled where to start.
Thanks much

[2015-10-14 20:28] omatzyo commented on #3287
It is not correctly identified.  Type and ID simply list and UNKNOWN.  You've previously indicated that this means that the device has not registered or been awake to register, but I've given it over a week.  I've tried excluding and including in both habmin and z-way.

[2015-10-14 20:31] cdjackson commented on #3287
Well, it sounds like it’s not working, or it’s not woken up, but without a log, I can’t say much more… Clearly if it’s not getting identified, it doesn’t matter if it’s in the database or not…

[2015-10-14 20:35] teichsta commented on #849
at my home the scenes works as expected … can you send some logs showing changed scene number?

[2015-10-14 20:39] teichsta commented on #881
so it seems we can close this issue meanwhile

[2015-10-14 20:39] #881 closed

[2015-10-14 20:39] #971 closed

[2015-10-14 20:42] teichsta commented on #1025
@CWempe did you solve your problems meanwhile? Is the original issue jetty.home not honored fixed meanwhile?

[2015-10-14 20:43] teichsta commented on #1036
according PR has been merged meanwhile

[2015-10-14 20:43] #1036 closed

[2015-10-14 20:46] teichsta commented on #1122
ok, so we'll close this issue for OH1. @kgoderis if you are still interested in this feature it would be great if you could be so kind and open an according issue in ESH (or OH2 - what applies best)

[2015-10-14 20:46] #1122 closed

[2015-10-14 20:46] teichsta commented on #1127
does this is issue still apply?

[2015-10-14 20:49] omatzyo commented on #3287
Would you please point me at the zwave log?  I don't see anything in the openhab.log that would be useful.

[2015-10-14 20:50] teichsta commented on #1156
@Know1 i tend to close this issue due to inactivity. You might be interested to open a new thread in the community https://community.openhab.org and try to find volunteers …

[2015-10-14 20:50] teichsta commented on #1160
closed due to inactivity

[2015-10-14 20:50] #1160 closed

[2015-10-14 20:51] cdjackson commented on #3287
Check the zwave wiki - it says how to create the zwave log, but you also need to start in debug mode.

[2015-10-14 20:52] #1166 closed

[2015-10-14 20:52] #1182 closed

[2015-10-14 20:53] #1190 closed

[2015-10-14 20:54] teichsta commented on #1207
still didn't find any volunteer to implement this :-)

[2015-10-14 20:56] #1207 closed

[2015-10-14 20:59] teichsta commented on #1239
please open this feature request in https://github.com/openhab/openhab.android since this seem to be a client issue (at first sight)

[2015-10-14 20:59] #1239 closed

[2015-10-14 21:00] teichsta commented on #1242
closed this issue due to inactivity. If you are still interested in this feature please open a thread at https://community.openhab.org

[2015-10-14 21:00] #1242 closed

[2015-10-14 21:02] teichsta commented on #1246
does this issue still apply?

[2015-10-14 21:04] teichsta commented on #1247
since we closed #1207 because of

i'll close this issue as well …

[2015-10-14 21:04] #1247 closed

[2015-10-14 21:05] #1273 closed

[2015-10-14 21:06] #1284 closed

[2015-10-14 21:07] #1302 closed

[2015-10-14 21:08] omatzyo commented on #3287
Thanks for looking at this Chris.

Here is a log during startup and shortly thereafter.  The node in question is 67.  I pressed each of the buttons and clicked 'reinitialise node' in habmin while this was running.

[Zwave.log file](https://www.dropbox.com/s/r6tun8bzd4zpir3/zwave_20151014_1.log?dl=0)

[2015-10-14 21:11] Jazah commented on #1246
Yes
On 15 Oct 2015 6:02 am, "Thomas Eichstädt-Engelen" <notifications@github.com>
wrote:

[2015-10-14 21:21] cdjackson commented on #3287
I don’t know this device, but have you tried waking it up? There’s normally a button you need to press (maybe 3 times)?

[2015-10-14 21:45] omatzyo commented on #3287
Yes, I woke it up. It has a little LED that comes on when its awake.  And this was successful for interview with z-way.

Here is more of the log:  [ZWave.log file 2](https://www.dropbox.com/s/wcsodaxwe8w3llr/zwave_20151014_2.log?dl=0)

Made sure it was awake, tried reinitialize and heal node.

[2015-10-14 22:04] cdjackson commented on #3287
I think the problem is that the device doesn’t seem to support the wakeup command class which will make it very difficult to support reliably. The wakeup class is used to buffer frames that are sent to the battery devices until they wake up.

We might be able to support another message as a wakeup to get it past the initialisation stage, but the problem is that when the device goes back to sleep,

[2015-10-14 22:13] omatzyo commented on #3287
This is certainly your wheelhouse.  I'm happy to test anything out for you.  I will add that even though it isn't supporting the wakeup class, it is very speedily turns on/off and dims it's associated devices.

This particular device has no need to receive messages anyway, it only needs to send.

[2015-10-15 03:02] khendricks opened #3297 "Aeon Labs minimote, unable to fully configure"
I am able to get the device included in the network but it never seems to be able to finish configuring itself.  I am able to see the name of the remote and all the different configurations in habmin but am never able to actually set any of the configurations.

Once I got the remote included, you can press a button the remote to "wake" it.  Every time I do that it seems like openhab is trying to s

[2015-10-15 15:56] cdjackson commented on #3297
I don’t think this is a bug - it appears the device is timing out, and not a problem in the server (as best as I can tell from this log).

[2015-10-15 16:06] khendricks commented on #3297
Alright.  It's just odd because this exact same thing happens on 2 remotes.  I hold a button to wake it up and this seems to happen almost every time.  I wonder if it's just not staying woken.

[2015-10-15 16:06] #3297 closed

[2015-10-15 16:22] csowada commented on #3084
Oh, an issue.
Have you checked the new ids? They've changed to have more structure...
https://github.com/csowada/openhab/blob/ebus-update-pr1/bundles/binding/org.openhab.binding.ebus/docs/json-configs.md

[2015-10-15 16:28] cdjackson commented on #3297
You could try asking Aeon - they normally respond to tech support requests… If they have any ideas, then I’m happy to reopen or discuss on the forum…

[2015-10-15 18:20] airix1 opened #3299 "Add zwave device to database: Intermatic CA3750"
Hi Chris.
Can you add this device to the zwave database?
http://products.z-wavealliance.org/products/499
It has two relays that can be switched either separate or together -  configurable internally.  It supports the command class SWITCH_ALL which switches both.
Thanks.

[2015-10-15 19:17] KWOAD commented on #3243
I have a similar error:
2015-10-15 21:13:03.369 [WARN ] [.denon.internal.DenonConnector] - Encoding error in get
javax.xml.bind.UnmarshalException: null
	at com.sun.xml.internal.bind.v2.runtime.unmarshaller.UnmarshallerImpl.handleStreamException(UnmarshallerImpl.java:468) ~[na:1.8.0]
	at com.sun.xml.internal.bind.v2.runtime.unmarshaller.UnmarshallerImpl.unmarshal0(UnmarshallerImpl.java:402) ~[na:1

[2015-10-15 20:04] dhermanns commented on #3293
I'm not quite sure but believe that I checked that, too. Think it was the same error message.

I found a workaround by changing the .foreach part by:

				for (licht : Lichter?.members) {
					if (Math::random > 0.8) {
						sendCommand(licht, ON)
					} else {
						sendCommand(licht, OFF)
					}
				}

Surprisingly this works fine for me!? Maybe this is useful for someone else...

[2015-10-15 23:24] 00daniel00 commented on #2900
@sja Sure, Im running openhab in a RPi1. The slider is used for a zwave dimmer. Here is the sitemap piece of that particular item:

		Group item=SP_Habitacion  {
			Switch item=Luz1_SP_Habitacion
			Switch item=Luz2_SP_Habitacion
			Slider item=Luz3_SP_Habitacion
		}

And the item definition:

	Dimmer Luz3_SP_Habitacion "Dimmer"	<dimmer> (SP_Habitacion,gInterruptores,gApagar) { zwave="20:command=s

[2015-10-16 09:22] teichsta commented on #464
Thanks for the update, Kai! I'll close this issue due to inactivity …

[2015-10-16 09:22] #464 closed

[2015-10-16 09:24] teichsta commented on #470
closed due to inactivity …

[2015-10-16 09:24] #470 closed

[2015-10-16 09:28] teichsta commented on #500
closed due to inactivity. If this issue still apply please reopen. If it (meanwhile) specifically apply to iOS or Android please use the specific Issue-Trackers at https://github.com/openhab/openhab.ios or https://github.com/openhab/openhab.android

[2015-10-16 09:28] #500 closed

[2015-10-16 09:30] teichsta commented on #514
ok, i am all for it!

[2015-10-16 09:30] #514 closed

[2015-10-16 09:34] teichsta commented on #592
since the original ideas have been implemented i'd like to close this issue. If there is need for an iButton issue please first discuss at https://community.openhab.org and then open an issue (in case)

[2015-10-16 09:34] #592 closed

[2015-10-16 09:34] nurgaleevarman opened #3301 "Google TTS Error"
When i'm try to execute Say("Some words") google tts send error.
Language is Russia

http://translate.google.com/translate_tts?tl=ru&q=1+2+3+4
 or
http://translate.google.com/translate_tts?tl=ru&q=1+2+3+4
work in browser

Log file
<code>
2015-10-16 14:24:47.766 [INFO ] [.i.m.i.tts.TTSServiceGoogleTTS] - Executing GoogleTTS for text 'hello word' in language ru
</code>
<code>
2015-10-16 14:24:48.931

[2015-10-16 09:47] teichsta commented on #640
closed due to inactivity (TESLA binding has been implemented already for OH2). In the near future there will be a proposal for a new HTTP binding (OH2) which provides some of your mentioned features.

[2015-10-16 09:47] #640 closed

[2015-10-16 09:47] teichsta commented on #648
@kgoderis anything you'd like to work on?

[2015-10-16 09:59] teichsta commented on #652
can one of your Modbus users can help? @bakrus @paolodenti

[2015-10-16 10:01] teichsta commented on #658
issue has been fixed through #3228 meanwhile

[2015-10-16 10:01] #658 closed

[2015-10-16 11:26] #723 closed

[2015-10-16 11:27] teichsta commented on #710
has been fixed meanwhile …

[2015-10-16 11:27] #710 closed

[2015-10-16 11:28] teichsta commented on #729
has that been fixed meanwhile @belovictor?

[2015-10-16 11:36] teichsta commented on #739
absolutely agree … the OH2 EventPublisher sends Events which provides the source field which can be filled. Since OH1 core is frozen i'll close this issue here …

[2015-10-16 11:36] #739 closed

[2015-10-16 11:37] teichsta commented on #752
@CrackerStealth @wezhunter can you help?

[2015-10-16 11:40] teichsta commented on #765
since no real solution could be found over the past months i tend to leave this issue open and wait for the new OH2 to come (which removes Atmosphere completely). Any other suggestions?

[2015-10-16 11:42] teichsta commented on #866
@kaikreuzer does the OH2 network health binding (which has been renamed afaik) provide this feature?

[2015-10-16 11:43] teichsta commented on #874
could you please give us a short update @kgoderis?

[2015-10-16 11:44] teichsta commented on #882
closed due to inactivity …

[2015-10-16 11:44] #882 closed

[2015-10-16 11:45] teichsta commented on #887
has been implemented through #1268

[2015-10-16 11:45] #887 closed

[2015-10-16 11:46] udo1toni commented on #849
Actually, when investigating the thing, I found out, that this "issue" is a Layer-8-Problem :)

The configuration of Gira Switches and Hager Actors is **Scenenumber 1...64**, so when I configured **Scenenumber 2** I expected a **2** at the KNX-bus, but the ETS Groupmonitor gives a **1** when starting the Scene. So the real Value of Scenenumber is **0** to **63**. As openHAB has the ability to send

[2015-10-16 11:46] #849 closed

[2015-10-16 11:47] teichsta commented on #980
it might be a good idea to transfer this research discussion to https://community.openhab.org. Since the original issue never occurred again i close this. Please reopen in case …

[2015-10-16 11:47] #980 closed

[2015-10-16 11:48] teichsta commented on #991
you could also open a feature-request in the new community forum at https://community.openhab.org

[2015-10-16 11:50] teichsta commented on #1003
so how are we going to proceed with this issue? Any suggestions?

[2015-10-16 11:50] teichsta commented on #1015
closed due to inactivity or missing feedback …

[2015-10-16 11:50] #1015 closed

[2015-10-16 11:57] teichsta commented on #1106
closed due to inactivity or missing feedback …

[2015-10-16 11:57] #1106 closed

[2015-10-16 11:58] teichsta commented on #1127
closed to inactivity or missing feedback …

[2015-10-16 12:01] #1156 closed

[2015-10-16 12:02] teichsta commented on #1169
so this seem to be "only" a HABmin issue which should be tracked in the HABmin -Repo?

[2015-10-16 12:09] teichsta commented on #1203
so it seems we have to upgrade to the latest jmdns lib in org.openhab.io.servicedicovery to fix this issue, right?

[2015-10-16 12:11] teichsta commented on #1324
seem to be a configuration issue! Closed to due inactivity or missing feedback …

[2015-10-16 12:11] #1324 closed

[2015-10-16 12:12] teichsta commented on #1328
@dereulenspiegel any feedback appreciated …

[2015-10-16 12:13] teichsta commented on #1329
@petrklus any update on this? Did you solve this issue meanwhile?

[2015-10-16 12:14] teichsta commented on #1330
as stated in #1344 the mentioned issue should be fixed meanwhile

[2015-10-16 12:14] #1330 closed

[2015-10-16 12:15] teichsta commented on #1333
@belovictor could you please comment on this?

[2015-10-16 12:17] teichsta commented on #1335
there were and are no plans to generally implement this … it might be an issue that first should be discussed at https://community.openhab.org!

[2015-10-16 12:18] teichsta commented on #1340
PR has been send (see #3076)

[2015-10-16 12:20] teichsta commented on #1345
Has been implement in ESH (see http://demo.openhab.org:9080/doc/index.html#!/items/getItems). Since OH1 core is frozen i close this issue

[2015-10-16 12:20] #1345 closed

[2015-10-16 12:21] teichsta commented on #1351
seem to be fixed through various commits …

[2015-10-16 12:21] #1351 closed

[2015-10-16 12:23] teichsta commented on #1363
@gerrieg @J-N-K @lewie can you confirm this issue?

[2015-10-16 12:25] teichsta commented on #1377
this issue should be further discussed at https://community.openhab.org. Would mind starting an appropriate discussion thread at https://community.openhab.org/c/add-ons/addons-other @kwave? Thanks, Thomas E.-E.

[2015-10-16 12:25] #1377 closed

[2015-10-16 12:28] teichsta commented on #1400
@hmerk @idserda can you help out?

[2015-10-16 12:28] teichsta commented on #1414
fixed through #2880

[2015-10-16 12:28] #1414 closed

[2015-10-16 12:29] #1420 closed

[2015-10-16 12:32] teichsta commented on #1456
i'll close this issue now. Please further discuss at https://community.openhab.org

[2015-10-16 12:32] #1456 closed

[2015-10-16 12:33] teichsta commented on #1457
already asked for volunteers at https://community.openhab.org?

[2015-10-16 12:34] teichsta commented on #1473
please use the habdroid issue tracker https://www.github.com/openhab/openhab.android for this feature-request

[2015-10-16 12:34] #1473 closed

[2015-10-16 12:34] kaikreuzer commented on #866
No, I don't think so.

[2015-10-16 12:38] J-N-K commented on #1363
Regarding DocZoid: It is true that two values within one minute are consolidated to one value using the average function. This is inherent to RRD data storage and is neither a bug nor can be fixed. If you need exact values, use anotjher persistence service.

Regarding spali: I don't know how to reproduce that.

[2015-10-16 12:38] teichsta commented on #849
haha, thanks for the update :-)

[2015-10-16 12:39] petrklus commented on #1329
No, have not seen it since!

[2015-10-16 12:41] teichsta commented on #1329
ok, then i'll close this issue! Please feel free to reopen if it reoccurs …

[2015-10-16 12:41] #1329 closed

[2015-10-16 14:44] spali commented on #1363
have now a completely different setup, so I cant reproduce it. For my case, the issue can be closed if no one else has a problem.

[2015-10-16 16:15] haydarali commented on #3301
Standart url is Google wants verification to block the use of the robot.
use,
googletts:translateUrl=https://translate.google.com/translate_tts?tl=%s&q=%s&ie=UTF-8&total=1&idx=0&client=t

[2015-10-16 17:13] XenonofArcticus commented on #2653
So, my HVAC system is finally re-assembled enough to test this.

I installed the org.openhab.binding.zwave-1.8.0-SNAPSHOT.jar from cloudbees, and installed it along with the rest of my 1.6.2 setup.

It appeared to recognize and work fine. Some quirks remain, in that if I make a change to the setpoint via the Web or App based UI, it seems to send the command to the thermostat, but the UI doesn't up

[2015-10-16 17:28] nurgaleevarman commented on #3301
Thank you. Please add this information to wiki and default config file

[2015-10-16 17:30] nurgaleevarman commented on #3231
You can use googletts addon to russian voice.
Look https://github.com/openhab/openhab/issues/3301 for correct config file

[2015-10-16 17:32] nurgaleevarman commented on #3301
It is also work in Russian voice

[2015-10-16 17:42] nurgaleevarman commented on #3301
It's ran twice and now is not working.

URL in log also work in browser

Log file
<code>
2015-10-16 22:38:05.192 [INFO ] [.i.m.i.tts.TTSServiceGoogleTTS] - Executing GoogleTTS for text 'Hello my dear friends' in language ru
</code>
<code>
2015-10-16 22:38:06.037 [WARN ] [.i.m.i.tts.TTSServiceGoogleTTS] - Error while connecting to Google translate service
java.io.IOException: Server returned HTTP r

[2015-10-16 19:19] hmerk commented on #1400
Sounds reasonable and feasable to me. You can assign this to me and I will put it on my list...

[2015-10-16 19:23] belovictor commented on #602
@kaikreuzer , I thought you were the author of this proxy? :-)

[2015-10-16 20:29] 5LICK commented on #3231
Yes, but i want have a local smart home system. That would be good

[2015-10-16 21:00] tarioch opened #3302 "Support receiving of intertechno with a-culfw"
There is an alternative culfw which supports also reception of intertechno events.
https://github.com/heliflieger/a-culfw

It would be great if the binding could support this.

What would be necessary to support this?

[2015-10-17 05:56] teichsta commented on #3302
Hi @tarioch, technical questions should first be discussed at https://community.openhab.org. Once everything is settled (and a volunteer is found ideally) create a PR with the according code changes.

[2015-10-17 05:56] #3302 closed

[2015-10-17 05:57] teichsta commented on #1400
done, thanks for jumping in!

[2015-10-17 09:57] gonium opened #3304 "Weather binding not working when weather action bundle installed"
Hi,

the weather binding was not working (i.e. the ProviderConfig/LocationConfig logfile entries were missing) when I simultaneously installed these packages:

    openhab-addon-action-weather - openHAB Weather Action
    openhab-addon-binding-weather - openHAB Weather Binding

I'm using OpenHAB 1.7.1 on an Raspberry Pi 2, the packages were installed via apt. The same issue (and the solution: remo

[2015-10-17 10:55] nurgaleevarman commented on #3231
I tried the following:
1) Download MaryTTS Server. Install Russian voice via marytts-5.1.2\bin\marytts-component-installer.bat
2) Add add-on GoogleTTS
3)In Openhab config fie move to section GoogleTTS
set next
<code>
googletts:language=RU
</code>
<code>
googletts:sentenceDelimiters=+
</code>
<code>
googletts:translateUrl=http://localhost:59125/process?LOCALE=%s&INPUT_TEXT=%s&INPUT_TYPE=TEXT&OUTPUT

[2015-10-17 13:07] paixaop commented on #3216
@omatzyo I implemented an easier way to achieve this and it is working with no additional scene configurations as in the previous approach. Check the pull request https://github.com/openhab/openhab/pull/3300#event-438157940

[2015-10-17 13:26] omatzyo commented on #3216
That's perfect! Exactly what I was looking for. That you!

I haven't had a chance to try out the above yet.   I have to understand a bit more about how scenes work I guess.  Openhab hasn't supported them (until now) so I haven't paid much attention.

[2015-10-17 16:36] PascalTurbo commented on #3174
This issue can be closed - found out, that not the apt package is the problem. When starting openhab as root, the binding works.

[2015-10-17 16:36] PascalTurbo commented on #3174
This issue can be closed - found out, that not the apt package is the problem. When starting openhab as root, the binding works.

[2015-10-17 16:36] #3174 closed

[2015-10-17 18:36] elifesy opened #3307 "new binding in OpenHAB1"
Hello,
i created a test binding in the OH1 using the instructions:
1. cd ./bundles/archetype/./org.openhab.archetype.binding
2. mvn clean install
3. cd ../../binding
4. mvn archetype:generate -B .....
5. import newly created project by issuing 'Import->Existing Java project'
6. active the new plugin in RunConfiguration

everything went well, and i got my binding,...

The Problem is the binding is

[2015-10-17 18:44] Seb-Maier opened #3308 "ModBus: Losing connection and have to unplug/plug USB2Serial device"
I have a problem with the modbus connection about once a week
<code> 2015-10-17 17:24:30.482 [INFO ] [.b.modbus.internal.ModbusSlave] - ModbusSlave not connected </code>
I can fix this issue for the moment when I unplug and plug the USB2Serial converter. Is it possible that the Modbus connection is waiting infinite for a incoming answer, without a timeout?

I'm not sure how to fix that problem.
##

[2015-10-17 19:20] kaikreuzer commented on #602
I am the author of a lot of code. You mean this qualifies me to close this issue? Ok, as it does not seem anything critical and further evolution of these parts is on ESH, feel free to enter an according issue there (if still required and applicable).

[2015-10-17 19:20] #602 closed

[2015-10-17 22:39] swell-d opened #3311 "Wrong time at rules by using now.getHourOfDay"
Hi!
When I use now.getHourOfDay I take wrong result (+1 hour).
Time at linux (raspbian) is correct.
Time at Java Machine is correct.
What's wrong? May it depend of daylight saving? How I can check it?
TimeZone is Europe/Moscow

Now I use something like this: now.minusMinutes(60).getHourOfDay but it is horrible.

[2015-10-17 23:01] swell-d commented on #3311
one more example. rule:

import org.openhab.core.library.types.*
import org.openhab.model.script.actions.*
import org.joda.time.*

rule "Initialize system on startup / rule update"
when
    System started or
	Time cron "0/5 * * * * ?"
then
    var DateTime sunrise = new DateTime((Sunrise_Time.state as DateTimeType).calendar.timeInMillis)
    var DateTime sunset = new DateTime((Sunset_Time.state as

[2015-10-18 05:55] teichsta commented on #3173
fyi! I've "managed" to unmerge some important changes to InfluxDB Service through #3125! I reverted all changes to the Service an reapplied the changes that were intended by #3125 (to finally fix #2661) in #3312. Sorry for the inconvenience!

[2015-10-18 06:12] teichsta commented on #3304
@gerrieg could you have a look at this please?

[2015-10-18 06:45] teichsta commented on #1363
ok, then let's close this issue for now. Feel free to reopen at any time the issue occurs again …

[2015-10-18 06:45] #1363 closed

[2015-10-18 07:56] gerrieg commented on #3304
fixed with https://github.com/openhab/openhab/pull/3313

[2015-10-18 09:27] watou commented on #3307
Hi, please open a new discussion thread at https://community.openhab.org where others are likely to read and respond to your question.  The issue system here is for reporting problems with released code after it's fairly well established that a code change is needed.  I will close this issue now, but please open new issues when they meet the above criteria.  Thank you!

[2015-10-18 09:27] #3307 closed

[2015-10-18 16:26] theoweiss commented on #3173
@staehler could you please test the influxdb service again as soon as #3312 is merged.

[2015-10-18 17:30] teichsta commented on #3173
#3312 is merged …

[2015-10-18 17:59] teichsta commented on #921
@belovictor how are we going to proceed with this issue? Move it over to openhab.android?

[2015-10-18 18:01] teichsta commented on #884
any comments @belovictor? I tend to close this feature request and rather first this new feature at https://community.openhab.org. What do you think?

[2015-10-18 18:04] teichsta commented on #968
although i initially created this binding i do not use it anymore. @J-N-K @clinique @cdjackson is one of you using it actively? Could you probably take over?

[2015-10-18 18:07] teichsta commented on #1211
any updates on this? Has that been fixed meanwhile?

[2015-10-18 18:09] teichsta commented on #1237
@mrguessed how are we going to proceed with this issue? Was it just meant as a note to self? Are you going to create some new icons yourself?

[2015-10-18 18:10] teichsta commented on #1238
could you please comment @belovictor? Thanks, Thomas E.-E.

[2015-10-18 18:11] cdjackson commented on #968
I use it, but don't use traps - I use it to poll data (battery level in UPS etc) and send commands (turn PoE switches on/off), but no traps.

[2015-10-18 18:17] teichsta commented on #1325
@cribskip did you solve this issue meanwhile? Does any of the workarounds being discussed here helped? Would be breat if you could comment briefly …

[2015-10-18 18:19] teichsta commented on #1319
@belovictor could you please comment on this? Thanks, Thomas E.-E.

[2015-10-18 18:20] teichsta commented on #1288
@Ipri does this issue still apply?

[2015-10-18 18:22] teichsta commented on #1275
if this issue still applies (@CWempe?) could you please have a look into this @paulianttila? Thanks, Thomas E.-E.

[2015-10-18 18:24] teichsta commented on #1261
since this is a pure iOS question. Could you please reopen this issue in the openhab.ios tracker @mrguessed?

[2015-10-18 18:24] #1261 closed

[2015-10-18 18:27] teichsta commented on #1379
could this be duplicate of #736?

[2015-10-18 18:29] teichsta commented on #1380
if this issue still applies to you, can you please provide the relevant item configurations (*.items)?

[2015-10-18 18:30] #1399 closed

[2015-10-18 18:30] teichsta commented on #1411
i assume this issue can be closed meanwhile?

[2015-10-18 18:36] #1411 closed

[2015-10-18 19:02] cribskip commented on #1325
Meanwhile, I switched to Raspberry PI 2. No problems at all concerning persistence.
Shall we close this?

[2015-10-18 20:19] kaikreuzer commented on #3173
And could somebody please also test it on OH2, so that it is confirmed that at least for InfluxDB https://github.com/openhab/openhab/issues/2661 is fixed?

[2015-10-18 20:38] DivineThreepwood commented on #3288
Hey Chris,

any Idea what's going wrong?

Cheers,
Divine

[2015-10-18 20:52] dominicdesu commented on #884
Actually this already exists, just have a look in the widgets list of your Android :-)

[2015-10-18 20:55] cdjackson commented on #3288
Not really. This sort of error is a very low level comms error between the binding and the stick. I’ve normally only seen it when there’s some strange timing going on - maybe you’re using a slow computer, or a VM or something? (you don’t mention the hardware or environment). It normally happens if there are bytes being dropped occasionally between the stick and the binding...

Unfortunately I don’

[2015-10-18 21:21] teichsta commented on #1325
yes, please!

[2015-10-18 21:25] DivineThreepwood commented on #3288
Hey that's a good hint!

I'am running OpenHAB in a vm with kvm. May there is an issue with the usb pass-through configuration.
I will have a look at this end of the week.

Thanks!

[2015-10-18 22:03] theoweiss commented on #3173
I would test it if no one makes ago.

[2015-10-18 22:22] theoweiss commented on #2748
I've just uploaded a first version of the influxdb1 persistence service to my bintray repo. You can download it from this url:
https://bintray.com/artifact/download/theoweiss/generic/org.openhab.persistence.influxdb1-1.8.0-SNAPSHOT.jar

The service is name influxdb1. Therefore use these settings in openhab.cfg:
persistence:default=influxdb1
influxdb1:user=openhab
influxdb1:password=openhab
influxd

[2015-10-19 05:28] staehler commented on #3173
Hi Theo,  I will test, but can do it just net week.
Michael

Gesendet mit AquaMail für Android
http://www.aqua-mail.com

Am 19. Oktober 2015 00:03:32 schrieb Theo Weiss <notifications@github.com>:

[2015-10-19 06:30] paixaop commented on #3216
No Scene support just yet. You have to configure your scenes with another tool like open zwave control panel but once all scenes are configured the indicators will be synced by the procedure outline above.

[2015-10-19 07:06] clinique commented on #968
Not using traps neither...

[2015-10-19 08:08] silencery opened #3317 "MiOS Binding - Tracking last used pin on locks"
I'd like to see if there is a method to obtain the last used pin on a door lock (Specifically, in my case, i'm using a Schlage BE469)?

Vera reports this as sl_UserCode service ID. For instance:
`<state id="80" service="urn:micasaverde-com:serviceId:DoorLock1" variable="sl_UserCode" value="UserID="1" UserName="John""/>`

Using the item file generator out of the box, the sl_UserCode is set as a num

[2015-10-19 09:30] Alexaas opened #3318 "Withings Binding / How to get to the OSGi console??"
Hi,
I would like to use the withings binding. For authentication the documentation says:
Execute 'withings:startAuthentication' on OSGi console.

But how do I get to the OSGi console?

Thanks and Regards,
Alex

[2015-10-19 10:30] csowada commented on #3084
I currently working on an update for this pull request. It should help vaillant users to combine different commands to one item.

But do you had any success with the new ids?

[2015-10-19 12:05] Truxen commented on #3084
No i did't try the new ids. As you have created them for the CSZ-2: where can i find the documentation for the message of my CSZ-1?
Did you reverse-enginiered them? And if so: how?

[2015-10-19 12:05] mikecay opened #3319 "Prolem with certificate in keystore"
Hi,

A little while ago I lost comms to OpenHAB via SSL from my android and web browser.  After a little bit of investigation I found that there was a problem with the keystore. When I issue the following command.

openssl s_client -connect localhost:8443

I would expect something similar to the following output:

but instead I get the following:

I have not investigated much beyond this but I ass

[2015-10-19 12:30] csowada commented on #3084
Sorry, there are no documentation for csz-1, but I think configs from csz-2 should work. But there is no documentation about the protocol. So I reverse-enginiered the protocol by myself. But most telegrams are simple, one value of type "word" multiplied with 0.1 etc. Than I compared it with values from my heating controller display. Now it's easier because I bought the interface ISM7i to capture n

[2015-10-19 12:52] staehler commented on #3194
I think, this issue can be closed. I've tested the fix successfully.

[2015-10-19 15:04] mrguessed commented on #1237
@teichsta,
Who created the original Images?  They have a particular style to them that, in order to keep consistent, would be great to retain.

The issue was filed when I was first planning to bridge my Alarm Panel sensors over to openHAB (via MiOS Binding).  We now have 3 (4?) more native Alarm Panel Bindings on-deck, along with Nest, Ecobee and Z-Wave T-Stats (for occupancy) so it would be good

[2015-10-19 15:21] mrguessed commented on #3317
@silencery,
The bug part of this is that the MiOS Item Generator is using _Number_ instead of _String_... when it's a _String_ value in the MiOS source material (an encoded one)

The "what to do" part of this should be opened as a discussion on http://community.openhab.org, since a straight "it's a String" will only fix the immediate issue.

Likely it'll need a REGEX to pull out the `UserID` and `

[2015-10-19 15:21] mrguessed commented on #3317
@teichsta,
Can you assign this to me?  I won't be able to do it for a week or so, but I don't have permissions to self-assign issues from the openHAB repo.

[2015-10-19 17:13] omatzyo commented on #3287
Hi Chris,

Do you know what sort of message that we'll use to bypass the wakeup.  Let me know if you need more logs or info from the device.

[2015-10-19 19:26] teichsta commented on #3317
sure :-) thanks for taking over!

[2015-10-19 19:53] kaikreuzer commented on #1237
Please note that the standard iconset has been completely redone by @reitermarkus for openHAB 2 - it now not only comes as PNG, but also as SVG and it's style has slightly changed. I therefore would not recommend to design any new icons for the openHAB 1 icon set, considering that the 1.x runtime will reach its EOL soon.

[2015-10-19 22:42] #3304 closed

[2015-10-20 02:37] 9037568 commented on #3311
This looks a lot like one set is corrected for Daylight Saving and one is not. Also, have you verified the Astro binding's lat/long config is set correctly?

     # The latitude
     #astro:latitude=

     # The longitude
     #astro:longitude=

[2015-10-20 14:56] Alexaas commented on #3178
Same issue. Still no idea?

[2015-10-20 15:31] enricoturri commented on #369
i confirm

[2015-10-20 17:16] swell-d commented on #3311
The latitude and longitude are correct. Time 07:46 and 17:45 are right.
Problem appears only when I use "getHourOfDay".
Simple example:
postUpdate(TDate, new DateTimeType()) - correct time
sendCommand(CurrentHour, now.getHourOfDay) - wrong time

[2015-10-20 17:20] swell-d commented on #3318
Use telnet connection to port 5555

[2015-10-20 17:49] Marty56 commented on #3178
use iFTTT and avoid the binding

Alexaas <notifications@github.com> schrieb am Di., 20. Okt. 2015 um
16:56 Uhr:

[2015-10-20 18:39] teichsta commented on #3178
(see https://groups.google.com/forum/#!searchin/openhab/withings/openhab/O8rqM7z9pro/UyhqSpTmY88J)

method signature of startAuthentication() has changed meanwhile but the wiki documentation didn't change accordingly. Will update wiki now …

[2015-10-20 19:14] teichsta commented on #3178
please have a look at https://github.com/openhab/openhab/wiki/Withings-Binding. Does the enhanced documentation help? Please feel free to reopen if there are still questions about the configuration.

[2015-10-20 19:14] #3178 closed

[2015-10-20 19:22] teichsta commented on #3318
please use the forum at https://community.openhab.org to ask technical questions (i also posted a slightly enhanced withings documentation a minute ago - see also #3178)

[2015-10-20 19:22] #3318 closed

[2015-10-20 19:32] Alexaas commented on #3178
Sorry didn't get it completely. If I enter e.g. withings:startAuthentication "Alex" I get "Could't find Credentials of Account 'Alex'. Please check openhab.cfg. What do I have to enter in openhab.cfg before I start the authentication?

[2015-10-20 19:52] teichsta commented on #3178
token and tokenSecret (see https://github.com/openhab/openhab/wiki/Withings-Binding#multiple-accounts)

[2015-10-20 20:03] teichsta commented on #3194
great, thanks!

[2015-10-20 20:03] #3194 closed

[2015-10-20 20:42] teichsta commented on #1413
according to http://stackoverflow.com/questions/21131855/could-not-initialize-class-sun-awt-x11graphicsenvironment-on-solaris (and other results on google), could you please double check if the `java.awt.headless` is set to `true`?

[2015-10-20 20:42] m4ci3k2 commented on #2748
I'll test it and let you know around Thursday afternoon.

[2015-10-20 20:46] theoweiss commented on #2748
@m4ci3k2 thanks, that's great. Can you also check if restoring of values works as expected.

[2015-10-20 20:47] teichsta commented on #1404
anything in the `openhab.log`? Sounds a bit like what i've read here https://community.openhab.org/t/ruleengine-stops-working-after-a-while/2291 right?

[2015-10-20 20:49] teichsta commented on #1419
see also #736

[2015-10-20 20:50] teichsta commented on #1426
could you please give us a short update on this please?

[2015-10-20 20:51] teichsta commented on #1455
should be fixed with #2922

[2015-10-20 20:51] #1455 closed

[2015-10-20 20:52] teichsta commented on #1489
great, thanks @joek!

[2015-10-20 20:52] #1489 closed

[2015-10-20 20:57] ollie-dev commented on #1426
I could not get this to work - neither on Windows 8.1, nor on Linux on an odroid-u3. Maybe my own fault, but however it is extremely difficult unfortunately.

[2015-10-20 20:59] teichsta commented on #1467
ever tried to configure
[code]

[2015-10-20 21:09] watou commented on #1419
Just to note, PR #3016 might have corrected #2842, #3218, and this issue (#1419).  Could anyone run a recent nightly build and attempt to reproduce the problem?

[2015-10-21 02:39] 9037568 commented on #3311
I tried several experiments using different time zones.

They all worked correctly, including "Africa/Nairobi", which is in the same +03 timezone as Moscow:

    2015-10-21 05:30:28.806 [INFO ] [runtime.busevents             ] - Sunset_Time state updated to 2015-10-21T17:18:00
    2015-10-21 05:30:28.811 [INFO ] [runtime.busevents             ] - Sunrise_Time state updated to 2015-10-21T07:13:00

[2015-10-21 03:00] 9037568 commented on #3311
I did a little more poking by replacing the existing postUpdate with this one:

    Sunrise_Sunset.postUpdate(String::format("%02d:%02d / %02d:%02d", (Sunrise_Time.state as DateTimeType).calendar.get(11), (Sunrise_Time.state as DateTimeType).calendar.get(12), (Sunset_Time.state as DateTimeType).calendar.get(11), (Sunset_Time.state as DateTimeType).calendar.get(12))

This produces the correct value

[2015-10-21 06:51] staehler opened #3326 "nightly snapshot not working (openhab)"
Hi,
it seems, that the nightly snapshot (https://openhab.ci.cloudbees.com/job/openHAB/) cant work, because of some limits reached.
The last build is 2 days old. Can anybody look for this please, Im keen on some new bugfixes, which have been merged since.
Thanks and regards,
Michael

[2015-10-21 09:04] maggu2810 commented on #1426
I tested the binding a few ago (don't know if there has been some changes).
My notes could be found here:
https://github.com/maggu2810/openhab/wiki/bluetooth

[2015-10-21 10:10] swell-d commented on #3311
How can I help? What information is needed?

[2015-10-21 11:41] berndpfrommer opened #3327 "InsteonPLM gives no error message when hub2 login credentials are incorrect"
title says it all. This is low priority but should be fixed. I'll do it when I get to it.

[2015-10-21 14:18] chailer commented on #2150
Hi Chris, is there a way to test your colour command class with OH2 yet?

[2015-10-21 16:02] cdjackson commented on #2150
No - not yet. I am working on getting the final changes made to the binding, but it’s taking a bit of time.

https://www.eclipse.org/forums/index.php/t/1066227/ <https://www.eclipse.org/forums/index.php/t/1066227/>

[2015-10-21 17:11] Dan1001 commented on #1324
Hi,

Do you mind re-opening this? I have this same problem with an image from my webcam.

The rule reads: sendMail("me@address.com", "Doorbell ringing", "","http://admin:MYPASSWORD@192.168.1.145:80/dms.jpg")

I receive the same error (copied below). I don't think it can be a formatting issue, because the error is showing the correct url. And the URL definitely works, because a browser from the sam

[2015-10-22 00:38] 9037568 commented on #3311
Just for information, which version of OpenHAB are you running?

Short story, this is not a defect in OpenHAB. But OpenHAB appears to be using an old version of Joda Time which does not have the latest timezone info for Moscow.

Long version of my analysis follows...

It appears the version of Joda Time being used by OpenHAB is 2.3.  The latest version is 2.8.2.

When I use 2.3, I get the hour+1 v

[2015-10-22 06:16] Alexaas commented on #3178
Ok thanks. Got the authentication.
However now I get an error for the Item:

Binding configuration of type 'withings' of item 'weight' could not be parsed correctly.
java.lang.ArrayIndexOutOfBoundsException: 1

Item looks like that:
Number Weight	"Gewicht  [%.1f kg]" 	{ withings = "weight" }

[2015-10-22 07:51] mikeybs opened #3331 "Enerwave ZWN-SC7 zwave device xml"
I used one of the leviton scene controllers as a guide, not sure if the command classes are right, I used the same ones as the leviton scene controller

products.xml addition

    <Product>
                <Reference>
                    <Type>0801</Type>
                    <Id>b03</Id>
                </Reference>
                <Model>ZWN-SC7</Model>
                <Label lang="en">7-Zone Sce

[2015-10-22 10:08] swell-d commented on #3311
I use the last one - OpenHAB 1.7.1 (install and update from repositoty).
This is our government. First they stoped using daylight saving and set summer time for all year. After an year, they changed to winter time (-1) for all year.

Thanks for your analysis.
What's next? Need I to update JodaTime by myself? Or it will be made automatically with next openhab update?

[2015-10-22 15:08] gertjaap commented on #3163
I'm seeing a similar issue. I connect to the TCP channel from my Arduino. If i reset my Arduino without it having properly disconnected the TCP connection, the channel becomes unusable until i restart openHAB. If i change the switch value from openHAB's GUI, and it would need to transmit that value to the TCP channel, a continuous error happens in the log (4 msgs/s).

[2015-10-22 17:26] Dan1001 commented on #1324
I've done some more testing - this works fine with unsecured images on the internal network - it's the username/password that causes the problem

Dan

[2015-10-22 20:08] theoweiss commented on #3173
@kaikreuzer I just tested it on OH2: the service is working well 👍. Is there something to be done on the OH repo?

[2015-10-22 20:22] kaikreuzer commented on #3173
That's good news, thanks!

Yes, it would be nice if you could do a PR similar to https://github.com/openhab/openhab2/commit/b14195775b1d5e7d710ff01355ba093f0d0fa89b.

[2015-10-22 20:22] hlat opened #3335 "Zwave - Please add support for Qubino Rollershutter"
Hello Chris!

Could you please add http://www.pepper1.net/zwavedb/device/641 to the zwave addon?

For information/search purposes: It's Goap and Qubino --> same, differently branded!

Thx,
Herbert

[2015-10-22 20:35] theoweiss commented on #3173
Ok, I will give it a shot.

[2015-10-23 05:34] 9037568 commented on #3311
I'd like to get @teichsta to weigh in on this one. If he's willing to incorporate an update to Joda 2.8.2, then I could maybe work on doing the changes this weekend.

I notice there are several places in the repo where joda is referenced in the meta-inf manifest file, but not in the code (eg. the hdanywhere binding). Not sure if those can be removed...

[2015-10-23 07:33] Alexaas commented on #3178
Isn't this a bug:
public void processBindingConfiguration(String context, Item item,
			String bindingConfig) throws BindingConfigParseException {
		super.processBindingConfiguration(context, item, bindingConfig);

		String[] configElements = bindingConfig.split(":");

		String accountId = null;
		MeasureType measureType = null;

		if (configElements.length == 1) {
			measureType = MeasureType.val

[2015-10-23 08:02] Alexaas opened #3336 "Withings binding / Item parsing error"
I get an error for the an item:

Binding configuration of type 'withings' of item 'weight' could not be parsed correctly.
java.lang.ArrayIndexOutOfBoundsException: 1

Item looks like that:
Number Weight "Gewicht [%.1f kg]" { withings = "weight" }

For me this looks like a bug  in method processBindingConfiguration of WithingsGenericBindingProvider:
**if (configElements.length == 1) {*
  **measureT

[2015-10-23 10:57] watou commented on #3336
Right you are.  Added PR #3337 to index the single string.  I built a JAR with the change [here](https://dl.dropboxusercontent.com/u/4286376/withings-binding-error/org.openhab.binding.withings-1.8.0-SNAPSHOT.jar).  Please try it and report back here.  If it works, I will let @teichsta know it should be OK to merge.

[2015-10-23 13:26] watou commented on #3178
@Alexaas: Submitted PR #3337 to fix #3336; please test the JAR there to see if the change works for you.

[2015-10-23 18:52] Dan1001 opened #3338 "Bugs in sendMail action"
There are at least two bugs in the sendMail action

First, image attachments arrive as a file called "Attachment" without a suffix/extension, and hence can't be opened on many systems.

Second, urls with basic authentication aren't accepted (i.e. username:password@), and give the error log I've copied below. Obviously a problem when using sendMail with webcam images.

(Opening up a new issue becau

[2015-10-23 19:20] watou commented on #3338
I think this issue is internal to the Apache Commons Email library.  I looked through the [release notes](https://commons.apache.org/proper/commons-email/changes-report.html) and it's not mentioned as being fixed in any release since 1.2.  Maybe you could raise an issue [there](https://issues.apache.org/jira/browse/EMAIL-159?jql=project%20%3D%20EMAIL%20AND%20status%20in%20(Open%2C%20%22In%20Progre

[2015-10-23 19:23] Alexaas commented on #3336
Hi, this is working now. However the binding does not store the authentication. Also not in 1.7.1. Any idea about that?

[2015-10-23 19:33] watou commented on #3336
I don't know, @teichsta might, I think the [code here](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.withings/src/main/java/org/openhab/binding/withings/internal/api/WithingsAccount.java) might explain.  Is your authentication stored in openhab.cfg and is that file writeable by the user under which the openHAB runtime is running?

[2015-10-23 19:40] Alexaas commented on #3336
The Userid is written into openhab.cfg. But nevertheless everytime I restart openhab it asks me again for authentication.

[2015-10-23 19:49] 9037568 commented on #3338
It appears some browsers have removed or deprecated the ability to pass
credentials in this way:

http://serverfault.com/questions/371907/can-you-pass-user-pass-for-http-basic-authentication-in-url-parameters
     https://code.google.com/p/chromium/issues/detail?id=123150

On Fri, Oct 23, 2015 at 2:52 PM, Dan1001 <notifications@github.com> wrote:

[2015-10-23 19:57] 9037568 commented on #3338
And from RFC3986:

   *Use of the format "user:password" in the userinfo field is
   deprecated.  Applications should not render as clear text any data
   after the first colon (":") character found within a userinfo
   subcomponent unless the data after the colon is the empty string
   (indicating no password).  Applications may choose to ignore or
   reject such data when it is received as part

[2015-10-23 20:34] matias53 opened #3339 "Astro - Incorrect DST for TimeZone Montevideo"
Hi, I'm from Uruguay, Government has changed policy about DST, now we are not using DST so Astro is doing incorrect calculations for Montevideo Timezone, daylight saving should be false.

AstroConfig[latitude=-34.856572,longitude=-56.176245,interval=disabled,systemTimezone=America/Montevideo (UYT -0200),daylightSavings=true]

[2015-10-23 21:07] berndpfrommer opened #3340 "rrd4j startup fails intermittendly with rrd4j.persist (No such file or directory)"
Sometimes rrd4j persistence fails during startup, and I have to restart openhab multiple times before it comes up correctly. It bombs out claiming it can't find rrd4j.persist, although the file is obviously there.

Drivin' me nuts...

[2015-10-23 21:09] geirgp opened #3341 "Add entry to zwave database for motion sensor"
Motion sensor from alarm company. Unknown make/brand, nor any z wave logo. I managed to hijack and join it into my zwave network and OpenHAB sees it, but this shows up in the log:

`NODE 4: No database entry: Manufacturer:398 [ID:2,Type:1]`

I'm unable to upload attachments, pasting the contents of `etc/zwave/node4.xml` below

<pre>
&lt;node&gt;
  &lt;deviceClass&gt;
    &lt;basicDeviceClass&gt;RO

[2015-10-23 23:10] snickers2k commented on #342
please add such function.. i think this would be a better alternative to homegear

[2015-10-24 00:17] 9037568 commented on #3339
This change is reflected in the 2015f timezone database:
http://mm.icann.org/pipermail/tz-announce/2015-August/000033.html

You can update your Java installation's timezone database using the timezone updater tool from Oracle:
http://www.oracle.com/technetwork/java/javase/tzupdater-readme-136440.html

Alternatively, you could update your installed version of java to the latest point release, which

[2015-10-24 04:49] #1325 closed

[2015-10-24 07:22] Alpoy commented on #3340
I'm having the same annyoing problem, an "easy" workaround have been to just modify the rrd4j.persist file after OH was done loading, then OH read/refreshed the file again successfully.

2015-10-23 12:08:29.738 [INFO ] [c.internal.ModelRepositoryImpl] - Loading model 'rrd4j.persist'
2015-10-23 12:08:29.741 [WARN ] [c.internal.ModelRepositoryImpl] - Configuration model 'rrd4j.persist' is either emp

[2015-10-24 09:58] cdjackson commented on #3326
It built last night - not sure if it will continue, but at least there's an up to date version now...

[2015-10-24 10:01] cdjackson commented on #3043
Closing due to inactivity...

[2015-10-24 10:01] #3043 closed

[2015-10-24 10:03] omatzyo commented on #3287
Hi, I've been contrinuing to attempt to get an ID and type to display, but it doesn't seem to be possible currently.

[2015-10-24 10:13] cdjackson commented on #3287
looking at the manual, it says flicking the switch will wake it up - have you tried doing this (continuously every few seconds maybe) while it’s initialising?

[2015-10-24 10:50] omatzyo commented on #3287
I have, yes. The and the device LED comes on and flashes.  This technique works for z-way.

[2015-10-24 10:56] Alexaas commented on #3336
it looks like the authentication is stored correctly in openhab.cfg. But how is it read if it is already there? I do not understand the code completely but for me it looks like the Authentication is just requested every time....

[2015-10-24 11:11] watou commented on #3336
I see that @teichsta improved the code this past May, and has been improving the [wiki page](https://github.com/openhab/openhab/wiki/Withings-Binding/_compare/cffbfc5a6ce6fa91629cf117bd4e5cb9e3f5ab3b...4382f6d96a35f7588e7fb0969d1a5f65a5ad2c04) as recently as four days ago.

Perhaps you could try storing the config in the other file, so as to stop using the ["legacy" config](https://github.com/open

[2015-10-24 11:22] dereulenspiegel commented on #1328
Does this only happen with serial devices or also network devices? Probably I am missing something when disconnecting from the serial port so reconnecting becomes an issue unless openHAB is shutdown and therefore all resources are freed on an OS level.

[2015-10-24 11:33] cdjackson commented on #3287
Please email me directly and I’ll send you something to try…

[2015-10-24 11:44] cdjackson commented on #3335
Currently this device is in the database - well, I should say that A DEVICE is in the database with the same type/id as the pepper link you provided.  I’ve not checked what the difference is - have you tested it?

[2015-10-24 11:46] cdjackson commented on #3299
There is no configuration information in the link you provided. This, and the device type/id etc are required.

[2015-10-24 12:39] Dan1001 commented on #3338
Thanks - yes, I've tried working around it by downloading a local copy and then running sendMail on that, but then I run into the other bug that renames the file to "Attachment" without an extension/suffix.

[2015-10-24 13:17] airix1 commented on #3299
Other than the conformance statement (http://products.z-wavealliance.org/products/499/embedpics), can't find much info.
From habmin:
id: 3750
type: 4341
device class: SWITCH_BINARY / POWER_SWITCH_BINARY
library type: Static Controller
basic device class: ROUTING_SLAVE
generic device class: BINARY_SWITCH
specific device class: POWER_SWITCH_BINARY
from the conformance statement - supported command c

[2015-10-24 14:09] nesys commented on #3243
@idserda please give us a shout when you will have a snapshot to test. A Denon 3311 here. Thanks.

[2015-10-24 14:31] lost-carrier commented on #1989
Hmm...

Might this be helpful?
https://github.com/lost-carrier/spk-packager-plugin

[2015-10-24 15:46] teichsta commented on #1989
oh yes, this looks quite promising! Any volunteers giving this plugin a shot?

[2015-10-24 16:12] Dan1001 commented on #3338
thank you!

[2015-10-24 18:43] nesys commented on #3242
folks, I didn't follow the thread as appropriate, but ... it should be fixed in 1.8.0?

Thank you very much for your support

[2015-10-24 19:14] watou commented on #3338
Could you try [this JAR](https://dl.dropboxusercontent.com/u/4286376/mail-action-attachments/org.openhab.action.mail-1.8.0-SNAPSHOT.jar)  and tell me if the file name comes through on the attachment now?  Also, there is a version of the sendMail action in this JAR that accepts a list of Strings instead of a single string `attachmentUrl`.  If you pass in a `List<String>` instead of a `String`, it w

[2015-10-24 19:16] captcanuck commented on #3075
I'm having issues initiating a secure include with my Z-Stick Gen5 (running an experimental branch of openhab theoretically capable of secure zwave networks... see here: https://community.openhab.org/t/z-wave-schlage-lock-support/2341/93). I can see the Gen5 in the products.xml file but there's no ConfigFile specified for it... is this correct/normal? Does the zwave binding expose the Security Net

[2015-10-25 09:17] cdjackson commented on #3075
As per this issue there are currently no config parms in the database. As other people are using security on the device I would expect it defaults on.

[2015-10-25 09:58] kakaiser opened #3350 "Habdroid Dying in combination with my.openhab notification listing"
see thread in OH community:

https://community.openhab.org/t/habdroid-dies-regularly-repoducable-only-since-a-couple-of-days/3599/16

Some investigations have been made already in this thread.

Cheers
Karsten

[2015-10-25 10:14] skenhall opened #3351 "Corrected database definition for z wave device TSM02"
I have tried out openHAB and are truly impressed by the architecture and its potential, but my z wave trials have been both ups and downs so far...

After struggeling with the TSM02 Slim Multisensor I went to the source to see if there's an explanation on why I can't get it to work perfectly. I found some differences in the database for TSM02 compared to the technical documentation (https://docs.g

[2015-10-25 10:27] cdjackson commented on #3351
Well, it's hard to say when you don't say what your problems are :)

However, it's very unlikely this will make much of a difference to anything. Other than the naming of the association groups, the changes won't make any difference.

[2015-10-25 10:41] skenhall commented on #3351
Thanks for the quick response!

My problem statement is vague - but that's due to my newcomer (both z wave and openHAB) inability to understand where the actual problem is :)

Do I understand you correctly that the neither of my proposed changes would make any improvements in openHAB for using this device as a multi sensor? (I have got the magnetic sensor to work, but PIR and temperature is not wo

[2015-10-25 11:05] cdjackson commented on #3351
Correct - neither the command class change, nor the default value will make any difference since they aren’t used in the binding.

[2015-10-25 12:52] watou commented on #1841
Is this fixed by #3262?

[2015-10-25 13:20] kaikreuzer commented on #3350
Shouldn't this rather go to https://github.com/openhab/openhab.android/issues?

[2015-10-25 17:41] staehler commented on #3173
@theoweiss Hi Theo, you did a great job :-) The above mentioned bug has been fixed. Thanks a lot!

[2015-10-25 17:55] rbpaul commented on #1321
Greetings,
Any update on Linear Dimmers working with openHab?

[2015-10-25 18:00] cdjackson commented on #1321
As suggested above - the device apparently supports associations but we need the information on this to add to the database.

[2015-10-25 18:58] teichsta commented on #3350
yes, please reopen this issue in the android tracker. Thanks, Thomas E.-E.

[2015-10-25 18:58] #3350 closed

[2015-10-25 20:52] fmatray opened #3353 "More explicit logs"
Hello,
It would be great to have more explicit logs in openhab.log.
Exceptions on errors are very difficult to understand.
At least, having the file name and line would make debugging much more easy.

Exemple

[code]

Another exemple : This time I understand it's a problem with the rule 'Set Week Alarm' but which line ?

[code]

Another example

[code]

Thanks a lot.

Regards
##

[2015-10-26 08:03] Alexaas commented on #3336
Did not try this yet. But do you see in the code where userid, token, etc are read from the config file and passed to the variables in WithingsAccount? I don't see it and wonder how it should work.

[2015-10-26 08:49] staehler commented on #3326
Thanks for the hint. I've downloaded the snapshot immediately, as I was waiting for some fixes :-)

[2015-10-26 09:19] Alexaas opened #3354 "IDE Setup / maven build failed"
Hi,
I executed the steps for IDE setup in eclipse but the maven clean install fails with the following error.
Any idea?
Regards,
Alex

[ERROR] Failed to execute goal org.eclipse.tycho:tycho-compiler-plugin:0.22.0:compile (default-compile) on project org.openhab.model.core: Compilation failure: Compilation failure:
[ERROR] C:\Users\d037602\Documents\openhab\source\openhab\bundles\model\org.openhab.

[2015-10-26 11:34] mikecay commented on #3319
Anyone have any idea how to fix this problem?

[2015-10-26 13:06] Greblys opened #3355 "Why ZWave thermostat_mode=31 is not supported?"
Eurotronic thermostatic valves uses thermostat_mode=31 for manual valve configuration. Is there technical reason why value 31 is not supported?

    2015-10-26 12:49:37.921 [INFO ] [runtime.busevents             ] - ThermostatMode received command 31
    2015-10-26 12:49:37.922 [TRACE] [.z.internal.ZWaveActiveBinding] - internalReceiveCommand(itemname = ThermostatMode, Command = 31)
    2015-10-26

[2015-10-26 13:09] spacemanspiff2007 commented on #3355
You have to use the latest snapshot of the binding.
There it works well without any problems.

Anyhow - the waking mechanism on the Eurotronic does not work very well so this parameter does not make very much sense.

[2015-10-26 13:13] Greblys commented on #3355
@spacemanspiff2007 Well you can wake Eurotronic valve with physical button press and also it wakes up periodically. Default wakeUpInterval is 4 hours, but you can set it to wake up every 4 minutes. Having this in mind it works all fine for me and as expected.

[2015-10-26 13:38] Greblys commented on #3355
I just tried with latest [binding snapshot](https://openhab.ci.cloudbees.com/job/openHAB/lastBuild/) and still same result.

[2015-10-26 13:55] 5LICK commented on #3231
Thanks for this `nurgaleevarman`
Google TTS require internet connection, but i need local tts for my home (if i have problems with my internet)

[2015-10-26 13:59] MrMerlino commented on #2863
Upp!
News?

[2015-10-26 14:53] Speederc commented on #3340
Did you change the line "folder:persistence=10,persist" ? After increasing the parameter, I got the same problem. It was fixed by setting it back to 10.

[2015-10-26 15:03] Greblys commented on #3355
9d31eb88e97e2ea5065cd2b1c20be7c92bd498cf

[2015-10-26 17:50] RemcoteWinkel commented on #2863
No luck. Appointment to install was not met. Now back to seller.

MrMerlino <notifications@github.com>schreef:

Upp!
News?

---
Reply to this email directly or view it on GitHub:
https://github.com/openhab/openhab/issues/2863#issuecomment-151141878

[2015-10-26 18:13] kaikreuzer commented on #2661
Any news here? I would like to update https://github.com/openhab/openhab2/blob/master/docs/sources/addons.md#currently-incompatible-1x-add-ons some when...

[2015-10-26 18:17] Alpoy commented on #3340
Ahh, I did adjust those parameteres a while ago. That's probably it, thanks!

[2015-10-26 18:58] theoweiss commented on #3173
Hi Michael,

thanks for your testing and feedback.

Regards,
Theo

[2015-10-26 20:18] jotwewe opened #3356 "xmpp commands are handled more than once"
I'm using the "XMPP Action" to send commands to my openhab installation:
- openhab 1.7.1 running on a bananapi
- java version "1.7.0_40", Java(TM) SE Runtime Environment (build 1.7.0_40-b43), Java HotSpot(TM) Client VM (build 24.0-b56, mixed mode)

Most of the time xmpp commands are being responded to more than once, for example when sending "help" to openhab I receive the help text three or four

[2015-10-26 20:36] teichsta commented on #3173
ok, so we can close this one which also fixes #2661, right?

[2015-10-26 20:36] #3173 closed

[2015-10-26 20:37] teichsta commented on #2661
according to #3173 this one can be closed now …

[2015-10-26 20:39] jotwewe opened #3357 "Losing events?"
Using an item
[code]
and a rule like this
[code]
I'm receiving events from a homemade bus. Sometimes the event log shows that data has been received:
[code]
but the expected item updates are missing. Usually for every token of a "Bus04 state update" a corresponding item gets updated. I suppose that this loss happens (sometimes? every time?) when sending an email from the aforementioned rule using

[2015-10-26 21:27] theoweiss commented on #3173
Yes, it's finished except the PR @kaikreuzer mentioned. I'm struggling with my OH2 git repos, therefore I haven't done it yet.

[2015-10-26 21:31] kaikreuzer commented on #2661
#3173 only talks about InfluxDB, but not about MySQL and MongoDB. Can you confirm that they work as well?

[2015-10-26 21:38] kaikreuzer commented on #2945
This has not yet been merged into ESH, the referenced issue is still new and I cannot see a PR for it. Please only close this issue when such changes are sync'ed into ESH as well. This change breaks the KNX binding on OH2, that's how I noticed...

[2015-10-26 21:44] kaikreuzer opened #3358 "SagerCaster Binding must not depend on org.openhab.core.persistence"
The class SagerCasterBinding does some nasty accesses to historic items. This is not an allowed dependency for bindings and it breaks the compatibility to openHAB 2.

[2015-10-27 06:50] spacemanspiff2007 commented on #3355
I have one right here. It is supposed to wake up every 4 minutes, but often it doesn't recieve the commands or answers the value requests. With low battery, it sometimes doesn't respond for hours.
So you might push the button, but the device doesn't recieve the queued commands.
When testing, I pushed the button up to 4 times. You should try this, too.
Also delete the node-configuration and make it

[2015-10-27 08:15] MrMerlino commented on #2863
Good morning,
i buy a serial rs584 interface to check is if possibile to do something.
Thanks in advance

[2015-10-27 10:06] Greblys commented on #3355
My colleague has it working on manual mode with openhab as well so I will look into what he is doing differently and will try your suggestions as well.

I noticed your described behaviour that sometimes Eurotronic valve does not respond to all commands which are queued in openhab and that really suprises me because I did not encounter such behaviour when I was using valve with SmartThings hub. Doe

[2015-10-27 10:40] teichsta commented on #3358
since you are the original author of this Binding @clinique. Could you help getting rid auf this dependency?

[2015-10-27 10:45] clinique commented on #3358
Well - I would like but I need to find a workaround as this binding needs to have a view on historic in order to setup predictions. Any idea on how to do it another way ?

[2015-10-27 10:47] teichsta commented on #2661
@lewie since you seem to be one of your MySQL PowerUsers … can you?! :-)

[2015-10-27 11:41] watou commented on #3358
Would it be possible to move the prediction logic into rules given as examples in the wiki, and eliminate the item bindings that calculate the values in the binding itself?

[2015-10-27 12:13] strachi commented on #3178
Hi and thx for all the work.
Where do I get the *accountId* from? Is it auto-generated? It is not shown in the log-file after the first start of the binding. Do I have to write it into the *openhab.cfg*? If I have multiple accounts, do I need multiple accountIds?
Also, where do I get *token* and *tokenSecret* from?
I also do not have a *services* folder with a *withings-oauth.cfg* inside, it does

[2015-10-27 13:45] msfunty opened #3360 "Trying to connect to database before configuration is loaded"
With mySQL (and most likely all other databases) OH2 tries to connect to the database as soon as the binding is loaded but before OH2 loaded configuration file for that DB.
This results in error messages in logfile:

[code]

IMHO connection to databases must not to done before full config file is processed.
According to Kai issue must be in binding for OH1 (http://github.com/openhab/openhab2/issue

[2015-10-27 14:20] kaikreuzer commented on #3360
I guess this might be linked to #2661. If the mySQL service requires a configuration for startup, it should use the require policy in the component descriptor, so that it is ensured that a configuration is passed in already in the activate() method.

[2015-10-27 16:05] teichsta commented on #1989
@7Bit could the mvn plugin be a way to go? Had a look already?

[2015-10-27 16:16] lost-carrier commented on #1989
i'm happy to provide support, if there's problems...

[2015-10-27 16:38] anordvall commented on #3253
Any progress on this one? Would love to be able to configure my bulb :) Thanks

[2015-10-27 16:59] moutemoute38 commented on #292
Hi guys.

I made a very simple persistence service for Emoncms.

https://github.com/Amiqual4Home/emoncms-openhab-persistence

It's very simple but you can use it to post your datas

[2015-10-27 20:32] couchounou commented on #2748
Tested for several days. Look like to work well !!
Thanks for this  great work !

[2015-10-27 20:33] belovictor commented on #3175
This is a transport problem at the end of the day. Looks like I fixed this together with transport fix implemented in 1.8.0 version of bundle. You can use it from snapshot, it works with 1.7.x.

[2015-10-27 20:33] #3175 closed

[2015-10-27 20:42] belovictor commented on #3096
This will be fixed during next my.openHAB deploy, thanks for reporting!

[2015-10-27 20:42] #3096 closed

[2015-10-27 20:48] belovictor commented on #2932
Duplicate of https://github.com/openhab/openhab.ios/issues/50
Already fixed.

[2015-10-27 20:48] #2932 closed

[2015-10-27 20:50] belovictor commented on #2897
What do you mean by 'everything works fine again'?

[2015-10-27 20:51] #2841 closed

[2015-10-27 20:57] belovictor commented on #2597
I guess this will not be done in 1.x.

[2015-10-27 20:57] #2597 closed

[2015-10-27 21:00] #2459 closed

[2015-10-27 21:02] #2335 closed

[2015-10-27 21:03] #2268 closed

[2015-10-27 21:05] belovictor commented on #2037
This problemis tracked in ios issues: https://github.com/openhab/openhab.ios/issues/44

[2015-10-27 21:05] #2037 closed

[2015-10-27 21:07] belovictor commented on #2014
Move to https://github.com/openhab/openhab.android/issues/141

[2015-10-27 21:07] #2014 closed

[2015-10-27 21:08] belovictor commented on #1904
I was not able to reproduce it so far...

[2015-10-27 21:08] #1904 closed

[2015-10-27 21:10] belovictor commented on #1737
@kgoderis , should I close this?

[2015-10-27 21:10] belovictor commented on #1734
@kgoderis , should I close this?

[2015-10-27 21:11] belovictor commented on #1733
@kgoderis , should I close this?

[2015-10-27 21:12] belovictor commented on #1603
@kgoderis , any news?

[2015-10-27 21:14] belovictor commented on #1527
Does anybody knows if this was fixed finally?

[2015-10-27 21:14] belovictor commented on #1511
Fixed looooong time ago.

[2015-10-27 21:14] #1511 closed

[2015-10-27 21:16] #1319 closed

[2015-10-27 21:18] belovictor commented on #1238
I currently see no way to transfer information on 'what to open' from openHAB to the client app :-(

[2015-10-27 21:18] #1238 closed

[2015-10-27 21:21] belovictor commented on #921
This was fixed long time ago.

[2015-10-27 21:21] #921 closed

[2015-10-27 21:22] belovictor commented on #884
Right. It's there.

[2015-10-27 21:22] #884 closed

[2015-10-27 21:23] lewie commented on #2661
@kaikreuzer, @teichsta,
yes, will test this, if possible tomorrow ...

Wouldn't it make sense to push forward integration of [Generic JDBC Persistence](https://github.com/openhab/openhab/wiki/JDBC-Persistence) (https://github.com/openhab/openhab/pull/3248) instead?
It is precisely this double work (databases with JDBC skills) is supposed to prevent the generic bundle ... ;-)

Rgds
Helmut

[2015-10-27 21:25] belovictor commented on #394
Unfortunately it is not possible with the current source and libraries used (closed source libraries). I'm not sure we are able to maintain a separate fully open source version of the app.

[2015-10-27 21:25] #394 closed

[2015-10-27 22:10] watou commented on #1238
One use case I'm aware of is when an item contains an app_url.  The new support for the Nest Cam allows the user to set a String item to the app_url that would take the client to the Nest app's view of the camera (search for "app_url" in the binding's [wiki](https://github.com/openhab/openhab/wiki/Nest-Binding)).  More generally, it would be nice to be able to navigate from HABDroid to other apps

[2015-10-27 22:58] kaikreuzer commented on #1527
As this issue is still open, I guess we are still waiting on @teichsta here...

[2015-10-27 23:23] teichsta commented on #1527
hmm … the fork is there but no PR right now :-)

@digitaldan: simply fork https://github.com/openhab/atmosphere create a new branch to carry your patches and send this branch as PR.

Thanks, Thomas E.-E.

[2015-10-28 09:27] Dan1001 commented on #3338
Thanks, but unfortunately doesn't work - gives me:

ERROR o.o.action.mail.internal.Mail[:162]- Cannot send e-mail because of missing configuration settings. The current settings are: Host: 'null', port 'null', from 'null', useTLS: false, username: 'null', password 'null'

(and of course the openhab.cfg settings were working fine with the old JAR)

Dan

[2015-10-28 10:05] watou commented on #3338
I don't see how the code changes in #3349 could lead to this configuration issue.  Did you do a full openHAB server stop and restart when applying the new JAR?  What seems more likely is a lifecycle issue that somehow failed to call `MailActionService.updated(Dictionary config)` when the JAR is replaced.  I will do some testing, but could you do a full server stop/restart with the test JAR in plac

[2015-10-28 10:20] hlat commented on #3335
Hi Chris,

sorry for delay. Please find attached the habmin screenshot (Node is red because I took power off for now).
![qubino](https://cloud.githubusercontent.com/assets/10410993/10785651/d890bcec-7d65-11e5-91b3-dc3685cc67d8.PNG)

[2015-10-28 10:24] watou commented on #3338
I saw the same log message as you, but then I
[code]
and the new mail action JAR performed as expected (mail came through, attachment was named properly).  Please let me know if you see this or something different, and thank you!

[2015-10-28 10:36] watou commented on #3338
I was also able to send multiple attachments with a single email, and the attachments were named correctly:
[code]

[2015-10-28 10:55] Dan1001 commented on #3338
ah, thank you... restarting openHAB didn't work, but rebooting the system did. Now works perfectly!

[2015-10-28 13:40] staehler commented on #1511
@belovictor Is there a new version of habdroid available? I'm using HABDroid 1.7.0.1, where this bug unfortunately still remains.

[2015-10-28 16:11] adamotte commented on #2748
Influxdb-java 2.0 is out. Read @rossmcdonald last comment https://github.com/influxdb/influxdb-java/issues/37

[2015-10-28 16:28] MrMerlino commented on #2863
I received the rs485 interface but today it's raining so i'll try tomorrow.

[2015-10-28 17:35] cdjackson commented on #3355
No - I don't believe there should be a need for a delay? When the device wakes up, OpenHAB only sends a single command at a time, and waits for the response from the device before continuing. Adding delays would be problematic (but maybe not impossible).

I think we should close this issue since it is clearly supported. If there is another problem, feel free to open an issue, although I would sugg

[2015-10-28 17:41] cdjackson commented on #3335
This appears to be a different device than you referenced? If you’re sure it’s the same, then I can simply add this reference to the same device?

[2015-10-28 17:51] cdjackson commented on #1579
This will not be incorporated into OH1 since it requires changes to the UI.

[2015-10-28 18:51] cdjackson commented on #3094
Seems to have been implemented.

[2015-10-28 18:51] #3094 closed

[2015-10-28 19:54] theoweiss commented on #2748
Just in time  👍

[2015-10-29 07:05] pgruetter commented on #2897
I mean that all items are displayed correctly again when I open the interface through the internal URL.

[2015-10-29 09:47] Greblys commented on #3355
Thank you for your help.

[2015-10-29 09:47] #3355 closed

[2015-10-29 10:54] jonesie946 commented on #3091
I second this request.

[2015-10-29 13:28] ottonet commented on #493
Just a quick update about u::Lux and improvements in their software.

At the u::Lux Partner day last week in Salzburg they released a new software version with an (IMHO) very important new feature in the area of integration:

The possibility to create direct TCP or UDP network requests to the IP port of your own choosing, in either binary, Plain text or HTTP Get/Post/Head/Put format.

This means t

[2015-10-29 13:38] hlat commented on #3335
Hey Chris!

Yes it's the same device from Goa, but differently branded (as netichome). Here's a screenshot:
![win_20151029_14_37_38_pro](https://cloud.githubusercontent.com/assets/10410993/10819853/b4e47b36-7e4a-11e5-9c79-bf606737d701.jpg)

[2015-10-29 15:37] SkynetHome commented on #3152
I'm going to need better documentation, I no longer have time to look these details up myself. If you can provide me with something that shows what parameters this devices takes then I can put it together!

[2015-10-29 15:39] SkynetHome commented on #3185
Can you provide a link in English please?

[2015-10-29 15:49] SkynetHome commented on #3213
Are all the functions of the switch working?  Are there are any parameters your switch accepts that you cannot set with current configuration? If so please provide documentation of all the parameters the device will accept!

[2015-10-29 18:04] 9037568 commented on #2459
Can someone explain why this was closed?

On Tue, Oct 27, 2015 at 5:01 PM, belovictor <notifications@github.com>
wrote:

[2015-10-29 19:31] cdjackson commented on #3341
You pasted in the XML file for node 2, not node 4.

[2015-10-29 19:58] cdjackson commented on #3240
Any feedback?

[2015-10-29 19:58] cdjackson commented on #3226
Any update?

[2015-10-29 20:07] cdjackson commented on #3117
Any chance of geting the file posted here?

[2015-10-29 20:08] mcarlosro commented on #3240
Yes. It is working

Sent from my iPhone

[2015-10-29 20:08] cdjackson commented on #3039
Can this be closed?

[2015-10-29 20:10] cdjackson commented on #3240
Thanks.

[2015-10-29 20:10] #3240 closed

[2015-10-29 20:20] omatzyo commented on #3226
The device hasn't arrived yet.  You'll be the first to know.

[2015-10-29 21:07] kaikreuzer commented on #2459
@belovictor maybe? Btw, it is a good idea to leave a comment when closing an issue.

[2015-10-29 21:59] eschizoid opened #3365 "As a smart connected home I would like a binding that interacts with my Amazon Echo"
Currently, there is a pretty sweet project that uses spring-boot in order to connect Amazon Echo with openhab. However seems overkilling for people running using small devices like a raspberry pi. Maybe it's time to build a binding that does that.

Attached the link:
https://github.com/armzilla/amazon-echo-ha-bridge

[2015-10-29 22:04] kaikreuzer commented on #3365
See https://community.openhab.org/t/binding-request-amazon-echo/2518/9, where I have asked for such a binding. Any volunteers?

[2015-10-29 22:05] eschizoid commented on #3365
Currently, there is a pretty sweet project that uses spring-boot in order to connect Amazon Echo with openhab. However seems overkilling for people running using small devices like a raspberry pi. Maybe it's time to build a binding that does that.

Attached the link:
https://github.com/armzilla/amazon-echo-ha-bridge

[2015-10-30 00:22] stefanst commented on #902
same problem with 1.7.1 and Habdroid. Web UI works fine.

[2015-10-30 04:19] Roadster opened #3366 "Feature request Smappee binding"
All,

does someone already thought about to integrate a Smappee binding?
API:
https://smappee.atlassian.net/wiki/display/DEVAPI/SmappeeDevAPI+Home

What is it? .. It will learn your electricity consuming devices and could trigger alerts on events...
copied intro-text from their homepage:

Meet the world’s smartest home energy monitor
Smappee will turn your house into a smarter, more energy efficie

[2015-10-30 04:46] eschizoid commented on #3365
@kaikreuzer Yeah I remember talking to you about that during JavaOne, hope it really happens :)

[2015-10-30 13:09] cyfail commented on #3293
Thanks, dhermanns! I've been looking for a workaround for hours. Yours is the first helpful post!

Still don't know why the forEach[] doesn't work, but oh well.

[2015-10-30 13:40] dhermanns commented on #3293
Great! Pleasure for me to help. Yeah - would like to know what's really
going on there, too!
cyfail <notifications@github.com> schrieb am Fr., 30. Okt. 2015 um 14:09:

[2015-10-30 15:17] robnielsen commented on #1820
The fix is now merged into 1.8.0

[2015-10-30 15:18] robnielsen commented on #3242
The fix is now merged into 1.8.0

[2015-10-30 20:08] teichsta commented on #3242
fixed with #2891

[2015-10-30 20:08] #3242 closed

[2015-10-30 20:09] teichsta commented on #1820
one more fix merged with #2891

[2015-10-31 06:17] teichsta commented on #2661
any update, @lewie? Would be great to see this issue fixed first before working on new integrations. Thanks, Thomas E.-E.

[2015-10-31 11:56] berndpfrommer commented on #3340
Are there any plans to fix these race conditions in OH 1.x? Fiddling with the parameters in openhab.cfg is not really a long-term solution.

[2015-10-31 16:27] nesys opened #3369 "Asterisk binding - cosmetic"
Hi

there is way to create a temporary workaround in logback.xml to disable this log?

2015-10-31 16:55:24.164 [WARN ] [internal.ManagerConnectionImpl] - Unsupported protocol version 'Asterisk Call Manager/1.3'. Use at your own risk.

I think this is pretty useless.

Thanks for support
Andrea

[2015-10-31 19:08] LukeOwncloud commented on #2524
Similar problem here. Morning crons work, afternoon crons don't.

	when
		Time cron    "0 31 05 ? * *"
		or Time cron "0 31 07 ? * *"
		or Time cron "0 31 08 ? * *"
		or Time cron "0 24 09 ? * *"
		or Time cron "0 45 17 ? * *"
		or Time cron "0 45 19 ? * *"
	then
		logInfo("log", "cron fired")

Here a German discussion of others with the same problem: http://knx-user-forum.de/forum/supportforen/op

[2015-10-31 19:21] 1achy opened #3370 "I want help for implementation 25 dry contact and 22 sound diffusion."
i want help....

[2015-10-31 19:38] berndpfrommer commented on #3327
It actually does give some warnings, but the following pull request issues a clean error message.
https://github.com/openhab/openhab/pull/3368

[2015-10-31 19:38] #3327 closed

[2015-10-31 20:45] suneethjk commented on #2660
Edit the  openHAB-Designer.ini   file and remove the line

-Dorg.eclipse.swt.browser.DefaultType=mozilla

or

 add # as shown before the line.

#-Dorg.eclipse.swt.browser.DefaultType=mozilla

Relaunch the OpenHAB Designer Application.The embedded browser should start working.

This has worked for me with version 1.6.2. on Windows 7 64 Bit platform.Some Version ini files have this extra line which

[2015-11-01 03:39] 9037568 commented on #2524
I set up the rules shown by @phen0 and @msth. They both worked fine for me using the 1.8.0 snapshot.

I'll try the set up shown by @LukeOwncloud tomorrow...

[2015-11-01 03:56] 9037568 commented on #3357
Without the actual code being used I don't see how anyone can help with this question. Also, questions should go to the forum (https://community.openhab.org/).

[2015-11-01 05:47] LukeOwncloud commented on #2524
The problem only occurs occasionally. You need to test a few days in a row.

[2015-11-01 09:23] brutevinch commented on #3311
@swell-d Same problem with Yekaterinburg TZ. Now i use Ashkhabad TZ - all works fine but problem is actual.

[2015-11-01 09:26] brutevinch opened #3373 "Add support max min value for dimmer item."
Please add this feature, i think it's very useful. For example i want to use switch on/off and dimmer 3 - 100. For quick setup 3% light i just set dimmer at minimum.
##

[2015-11-01 10:38] udo1toni commented on #3370
I think you should better ask for help at the community https://community.openhab.org/

[2015-11-01 11:37] anordvall commented on #3039
From my point of view, yes. Thanks!

[2015-11-01 12:24] Flipper1509 opened #3375 "EDS owserver binding freezes after a while"
I use the owserver binding for the EDS 1-wire interface.

After startup the binding works as expected in the sense that from time to time the xml is loaded and the other times the cached xml is used.

But then, after a while (in the range of minutes) the binding tries to fetch the xml and stalls :

[code]

a curl to the mentioned adress fetches the xml, so I can not see what could lead to this beh

[2015-11-01 13:22] 9037568 commented on #2524
I didn't see any indication in the foregoing discussion that the problem was intermittent, but OK, noted.  Would you say this is a problem that only occurs after the system has been running for several days?

Also, perhaps you could provide some information about the platform you're running...

[2015-11-01 15:25] jwveldhuis commented on #3288
Had the same error today, in my case it was caused by a mixup of USB devices at restart.
/dev/ttyUSB0 used to be the AEON stick, but at restart it became /dev/ttyUSB1.

/dev/ttyUSB0 was connected to a USB to serial device (connected to my Smart Energy meter), so it did some non-Zwave serial communication causing these very strange errors.

It could be the case you encountered the same.

[2015-11-01 23:06] teichsta commented on #3370
+1

This issue tracker is not the right place to discuss feature requests on this abstraction level.

[2015-11-01 23:06] #3370 closed

[2015-11-02 07:38] staehler opened #3378 "Feature Request: withings battery level"
Would it be possible, to get the battery level of the withings scale as well? On the withings website, this value is available.
Thanks!

[2015-11-02 08:12] foxy82 commented on #3221
I've got the same issue in my openhab designer. "Couldn't resolve reference to JvmType Timer"

[2015-11-02 08:15] LukeOwncloud commented on #2524
Yes, the problem is more likely to occur after the system has been running for several days. I also noticed that after this problem occured just restarting openHAB did not help. I did not restart the OS though. I'll give it a try and report back.
What seems to "repair" the issue (at least for a time) is to change the cron time (which is not working). E.g. instead of ``"0 30 07 ? * *"`` one minute

[2015-11-02 08:39] mabasger commented on #1211
I use openhab 1.7.1 (incl. binding 1.7.1) and can confirm this problem.
Testcase 1:
I booted the sonos, started radio by the sonos app, cleared the sonos playlist by sonos app, stopped the radio by the sonos app, setted the playlist by openhab (success, sonos app showed the correct playlist) and started the sonos by openhab (fault - the sonos played the radio, not the playlist).
Testcase 2:
I boot

[2015-11-02 19:57] villaocho commented on #3201
I confirm the issue.
it does send the information as string.
TCPDUMP confirm the characters.

[2015-11-02 20:00] theoweiss commented on #2748
I've uploaded a newer version of the jar, which should fix HSBType handling and adds support for PointType. It is available from here:
https://bintray.com/artifact/download/theoweiss/generic/3/org.openhab.persistence.influxdb1-1.8.0-SNAPSHOT.jar

[2015-11-02 20:32] gitbock opened #3380 "Persistence Exception when using CallItem"
# Problem
Hi,
As soon as I integrated my CallItems I receive persistence exeptions in my logfile about all 10 seconds, when changing the items file while openHAB is running.

[code]
This seems to happen only when item's file is changed during openHAB runtime. At the first start, no exception is rised.

# Item Example
[code]

# Persistence configuration dbo4.persistence
[code]

# Reproduce
* Insert

[2015-11-03 08:28] LukeOwncloud commented on #2524
News: I create a new file ``cron.rules``

	rule "cronDedicated issue check"
	when
		Time cron    "0 31 05 ? * *"
		or Time cron "0 31 07 ? * *"
		or Time cron "0 31 08 ? * *"
		or Time cron "0 45 17 ? * *"
		or Time cron "0 45 19 ? * *"
	then
		logInfo("cronDedicated", "cron executed.")
	end

All cron events are executed as supposed to.

I also added the same block to the other file. It is not exe

[2015-11-03 12:04] bodiroga opened #3382 "Starting and stoping the zwave bundle consecutively kills openhab"
Hi Chris! (This question is mainly related to him, but anyone using the zwave binding can try it)

In my system the zwave controller is not physically connected to the server, I'm using a raspberry pi with the aeon labs gen2 stick and socat to create a virtual port in the server. I'm using a zwave network in a school classroom and openhab is installed in one of the school's servers, that why I can

[2015-11-03 15:38] dohnalj commented on #2748
Hi Theo, I've also tested for several days and everything works fine except one thing. I have several charts on my sitemap. It seems like the first value in every chart is kind of different than it should be. The line should be smooth - it's outside temperature - but there is a big step at the begining.
![chart](https://cloud.githubusercontent.com/assets/6400289/10912254/e4e19ee8-8248-11e5-94a4-7b

[2015-11-03 16:16] theoweiss commented on #2748
Hi Jan,

unfortunately I don't know how the charting works. Could first have a look into the database and check if the values are stored correctly in the db?

Regards,
Theo

[2015-11-03 17:12] dohnalj commented on #2748
Yes, they are. Storing values works perfectly. And when I look at the same chart but for the whole week, it is perfectly smooth.

[2015-11-03 19:55] theoweiss commented on #2748
May be we can get some insights having a trace log. Could you enable trace logging for influxdb by adding this line to your logbook.xml and post the log output?
[code]

[2015-11-03 21:09] zacofany opened #3383 "my.openhab issue with satel binding"
Hi.
When I use my.openhab addon together with satel binding i get issues as below.
Satel is set to: satel:refresh=100

2015-11-03 17:16:29.648 [ERROR] [.myopenhab.internal.MyOHClient] - Socket.IO error: com.github.nkzawa.engineio.client.EngineIOException: xhr post error
2015-11-03 17:16:29.652 [INFO ] [.myopenhab.internal.MyOHClient] - Disconnected from my.openHAB service (UUID = 608537d5-b5d4-4ce

[2015-11-04 08:37] dohnalj commented on #2748
OK, here you go...
[code]
The resulting chart is here:
![chart-2](https://cloud.githubusercontent.com/assets/6400289/10933197/f9fd3114-82d6-11e5-8ce1-aeea828c1176.png)

[2015-11-04 08:50] anordvall opened #3384 "Please add Sensative Strips (Strips-MaZw) to the database"
Please add the brand new Sensative Strips magnetic sensor switch to the database.

Manufacturer: Sensative AB (0x019A)
Product Type ID: 0x0003
Product ID: 0x0003

Pepper1 link:
http://www.pepper1.net/zwavedb/device/831

Z-Wave Alliance link:
http://products.z-wavealliance.org/products/1510

Link to manual:
http://products.z-wavealliance.org/MarketCertification/File?folder=&filename=MarketCertifica

[2015-11-04 20:43] theoweiss commented on #2748
It seems like this query gets the oldest entry of the measurement instead of the newest descending from 1446622086s :
[code]
Which version of influxdb are you using?
There seem to be some weird influxdb bugs concerning the ordering:
https://github.com/influxdb/influxdb/issues/4235

My 0.9.4.1 influxdb does not return any values for a similar query, but it should :-((.
May be you can also check the

[2015-11-04 21:04] rossmcdonald commented on #2748
@theoweiss Yes, the incorrect ordering is a known issue, and will be resolved with InfluxDB 0.9.5. It's also fixed in the nightlies when using `tsm1` if anyone wants to test it out early, but we should have a release candidate available within the next week or so.

[2015-11-04 21:26] theoweiss commented on #2748
@rossmcdonald sounds good, thanks.

[2015-11-04 23:48] DivineThreepwood commented on #3288
So it really seems to be a virtual machine issue. After moving by distribution to the host machine, the error does not occur again.

@jwveldhuis Thanks for your hint but on the one hand the zwave stick is the only usb device which is connected to server and on the other openhab is linked to /dev/zwave which is aliased to the stick to avoid your issue (just checkout https://github.com/openhab/openh

[2015-11-05 02:52] 9037568 commented on #2551
I believe this is fixed by #3349 .

[2015-11-05 03:52] 9037568 commented on #2374
I searched the product website (https://www.thetileapp.com/) but did not find any published/public API.

[2015-11-05 07:02] LukeOwncloud commented on #2524
Restarting the computer seems to help. Both cron blocks are being executed reliably for already 1.5 days. I keep them running now.

[2015-11-05 08:48] jwveldhuis commented on #3288
@DivineThreepwood yes you are right, an incorrect USB device cant be the issue here as it happens over time. I did not properly read the problem description, sorry about that. Symlinking was the solution for me indeed, thanks for pointing that out.

[2015-11-05 10:46] c--r commented on #1435
I use the following pattern as a workaround:
I generally keep all rules in 1 big file (e.g. master.rules). When adding a new rule, I store them in a separate test.rules file until the rule works fine. Only then I move it to the master.rules file. I do the same when making major changes to an existing rule, in this case I move it from master,rules to test.rules, and move it back after all changes a

[2015-11-05 19:25] mabakach commented on #1187
For me it looks like this still not working. I use openHAB 1.7.1 and version 1.7.1 of the iOS App. Until now I had this only once and a restart of the openHAB server fixed it for the moment.

[2015-11-05 22:32] hlat commented on #3335
Hey Chris!
Any news for this issue? I got an on/off module from netichome too, which works fine but it is not recognized in Habmin (same issue as here --> same producer as for qubino branded device)

[2015-11-05 23:22] samden opened #3389 "ZWave battery powered switch Merten MOVE 508219 not recognised"
Hi,

Even though it appears in the Product Explorer of HABmin under Merten/5082xx, my ZWave battery powered switch Merten MOVE 508219 is not properly recognised in openhab/HABmin, see the node 7 in the following screenshot of HABmin:
![node7](https://cloud.githubusercontent.com/assets/15679608/10984694/7b3c3e06-841b-11e5-8113-e1576bec5b45.png)
In particular, even the Manufacturer ID, device type,

[2015-11-06 04:00] 9037568 opened #3390 "NTP date reverts to uninitialized state on items file update"
When a change is made to the items file in configurations, the existing date items (via the NTP binding) revert to an uninitialized state.

Reproduced in openhab versions:
1.6.2
1.7.0 (snapshot)

[2015-11-06 04:01] 9037568 commented on #2459
Reopened as #3390

[2015-11-06 08:31] RemcoteWinkel commented on #2863
Hi,

I had an extensive discussion with Samsung. Their policy is that access from third parties (like openHAB) is a security threat. That is why they updated their software. They do not support anything else then their own app. They will however look into the handshake error and possibly fix it in time.

[2015-11-06 11:07] bodomenke commented on #1187
See the thread in the openHab community:
https://community.openhab.org/t/refresh-of-ios-app/3941

[2015-11-06 11:33] anordvall commented on #3253
Parameter 34 doesn't make any difference when setting it to enabled or disabled, while parameter 35 does. I suspect it's not a problem with openHAB though, but can you please just double check?

Also, parameter 37 from the second manual is still missing.

[2015-11-06 11:40] anordvall commented on #3384
I'm very eager to test out my brand new Sensative Strips... I'll make a YouTube video when unboxing and testing it out if someone can please add it :)

[2015-11-06 12:44] cdjackson commented on #3253
Please provide a debug log showing these parameters being set.

[2015-11-06 15:16] cdjackson commented on #3389
This appears to be a battery device that doesn’t support the wakeup command class so is very difficult to work with unfortunately.

[2015-11-06 16:12] gertjuhh opened #3392 "openhab_default.cfg: missing DSMR Binding, syntax error in NetworkUpsTools Binding"
NetworkUpsTools Binding:
As per https://community.openhab.org/t/nut-network-ups-tools-binding-problem/3708 and https://community.openhab.org/t/network-ups-tools-nut-setup-issues/3799/6
#networkupstools:ups1:refresh=60000
Should be
#networkupstools:refresh=60000

DSMR Binding:
Example config is missing entirely.
Also the binding version is not updated and shows 1.7.0.SNAPSHOT instead of 1.7.1

[2015-11-06 20:36] #3392 closed

[2015-11-06 20:38] watou commented on #3392
Where does it show 1.7.0.SNAPSHOT instead of 1.7.1?

[2015-11-06 21:44] samden commented on #3389
Thank you very much for your quick answer, Chris.

I am puzzled that this battery device can be easily included in the Merten configuration program, in contrast to openhab: does this mean that Merten uses for that some proprietary commands that have no chance to be incorporated one day into openhab, or is there any hope that it will be possible at some point in the future to work with that device

[2015-11-06 21:52] gertjuhh commented on #3392
You're quick :)

In habmin, when listing installed bindings.
Keep in mind this is with a fresh 1.7.1 install, not sure if it's been changed for the upcoming 1.8 release.

[2015-11-06 22:05] cdjackson commented on #3389
I doubt Merten do anything fancy. The issue is that HABmin waits for battery devices to respond before it tries to initialise them - this won’t happen here. Arguably we could get it to initialise, but you’d never be able to send data to it (without manually waking it) as it doesn’t support the wakeup.

It’s quite problematic to resolve this, but I have been looking at some changes that might help,

[2015-11-06 23:20] samden commented on #3389
Sorry to bother you further, but ZWave is quite new to me... Maybe the following is a bit naive...

I found [this document] (http://www.smarthus.info/support/download/zwave/Merten_bpd.pdf) according to which it is possible to manually wake up the switch and start a Transmit "Node Info Frame".

Since the switch is merely a "sensor", wouldn't it be sufficient to get the switch to initialise in openh

[2015-11-06 23:24] cdjackson commented on #3389
Yes, but we’ve tried to initialise the switch in this way - you can try it yourself if you want. As you say, all devices can send the NIF.  The problem is that we need to detect this issue and somehow work around it. I can make changes and fix it for this device, but in the past that has then broken something for other devices.

[2015-11-06 23:36] samden commented on #3389
It would be great if these kind of battery devices could be used with openhab.
Thank you in any case for your help and availability.

[2015-11-07 02:57] 9037568 commented on #3384
I attempted this in my fork. (https://github.com/9037568/openhab)

I've not worked with the zwave binding before, though, so take that into consideration before you decide to take the plunge.

[2015-11-07 10:12] cdjackson commented on #3389
What do you want to do with it? Isn't this a light switch - normally what most people want to do with a switch is to turn it on and off and that will not be possible with this switch as it doesn't support the wake up class.

[2015-11-07 11:47] watou commented on #3392
This must have been a build-time issue for 1.7.1, but I doubt it represents a code issue.  I looked and it currently identifies itself as 1.8.0-SNAPSHOT as it should.

[2015-11-07 12:48] samden commented on #3389
This switch is not a plug that can directly control a light, it is simply a push button (like a remote control) with which you can send an order to other actuators; see [this] (http://www.merten.com/Radio-push-button-Move.177.0.html). Very tiny and battery powered, you can place it where you want. My idea was to use it as a remote control to send a control signal to openhab. Therefore, it is no co

[2015-11-07 14:11] cdjackson commented on #3389
email me directly and I’ll send you a version I’ve been testing that might help with this device…

[2015-11-07 22:39] smerschjohann commented on #2748
small issue related to the current influxdb-java implementation: in the latest release, the integer type is not supported, I made a small fix to support that: https://github.com/influxdb/influxdb-java/pull/115

Otherwise all Integer types will be added as floats (and you cannot import integer values from your old influxdb without patching the insert statements)

[2015-11-08 07:11] holgerfriedrich opened #3394 "MQTT binding: changing protocol requires openhab restart"
When I changed my MQTT installation from "tcp" to "ssl" on openhab.cfg, I experienced the following error: The binding did not connect to mosquitto, and openhab.log showed an exception:

[code]

However, after a restart of Openhab, it worked fine.

Thus, I assume some problem in the code which handles config refresh in for the binding. I already looked at the code, but I could not identify the pro

[2015-11-08 10:04] watou opened #3395 "[zwave] sensor_scale conversions use double, lead to long decimal numbers"
Looking at [ZWaveMultiLevelSensorConverter.java](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.zwave/src/main/java/org/openhab/binding/zwave/internal/converter/ZWaveMultiLevelSensorConverter.java#L107), converting temperatures starts with and produces `BigDecimal`, but the intervening maths are done using `double`, so my converted temperatures look like `66.200

[2015-11-08 11:19] cdjackson commented on #3395
Thanks John - I'll take a look at this...

[2015-11-08 20:29] theoweiss commented on #2748
Hi Simon,

I've seen your java-influxdb PR has been merged 👍. Hopefully we soon get a new release of influxdb-java.
As far as I understand it is an issue when upgrading from  0.8 influxdb. It would be great to have a brief upgrade description for our wiki. Would you mind to contribute this piece of documentation?

Regards,
Theo

[2015-11-08 21:13] smerschjohann commented on #2748
Yes, it happens if you already have data in your database or want to import them later on. The problem is that influxdb "guesses" the datatype by the first value that is written to the database. In influxdb0.8 we used integer types which is sufficient for a lot of openhab types. In Influxdb 0.9.3 they changed the wire format a little bit which leads to the problem that every value type is added as

[2015-11-08 21:24] theoweiss commented on #2748
I already asked the influxdb people when we could expect a patch release.
Thanks for your efforts on influxdb-java!

[2015-11-08 22:05] DevNull000 opened #3400 "[zwave] Fibaro FGS 211 switch is not in database"
Just bought Fibaro FGS-211 switch and getting a message in the zwave.log that it's not in database.

NODE 4: No database entry: Fibaro System [ID:300a,Type:400]

Device initialized with the following:
deviceId 0x300a
deviceType 0x400

Can the deviceId = 300a be added to "products.xml" file please.

Habmin Information screenshot attached

![image](https://cloud.githubusercontent.com/assets/14255093

[2015-11-09 10:43] anordvall commented on #3384
Cool, many thanks! So will this go into the next snapshot build automatically or does anyone need to do some hands on first? @cdjackson ? :)

[2015-11-09 11:43] cdjackson commented on #3335
I think this should be in the database. I was added a month ago...

[2015-11-09 20:50] cdjackson commented on #3400
This should be added in tomorrows snapshot

[2015-11-10 03:57] DevNull000 commented on #3400
Hi Chris,

I am running 1.7.1 binaries... To implement the change, should I download zwave 1.8.0 latest build and  replace the jar file in 'addons' directory?

Thanks in advance,
Alex.

[2015-11-10 04:51] CarstenMadsen commented on #3064
How can I test this?

[2015-11-10 09:09] cdjackson commented on #3064
Download the latest version from cloudbees

[2015-11-10 09:10] cdjackson commented on #3400
Yes - you just need to update the zwave jar.

[2015-11-10 13:30] NickWaterton commented on #3226
I have one of these devices (EV-100) and it reports product ID as 100 and Type as 100.

I edited the products.xml to include Id 0100 and type 0100 and it shows in Habmin as recognized now. Also no more "No Database Entry" in the zwave log. 101 as ID and type seems wrong.

[2015-11-10 13:45] cdjackson commented on #3226
I’ll update the database to add this new device.

[2015-11-10 15:16] ruN86 commented on #2218
+1

[2015-11-10 19:13] CarstenMadsen commented on #3064
I have now tried with the latest version, but with no lock.
Are you sure that it has been added to the database.

I can't find the folder "lscontrol" under the zwave database.
https://openhab.ci.cloudbees.com/job/openHAB/org.openhab.binding$org.openhab.binding.zwave/ws/database/

[2015-11-10 20:28] cdjackson commented on #3064
No - it doesn't look like it was added...

[2015-11-11 08:23] DevNull000 commented on #3400
Hi Chris,

Installed the zwave 1.8.0 snapshot file from build#1056. Still getting the same message
*NODE 4: No database entry: Fibaro System [ID:300a,Type:400]*

[2015-11-11 10:49] smee204 commented on #3201
I have also hit this problem. This worked ok on 1.7.0. It works until commit #2683.

[2015-11-11 11:00] steve-bate commented on #3201
The rationale for the #2683 PR is short on details but it seems like it was a response to issue #2688.

[2015-11-11 11:22] watou commented on #3201
I added PR #3406 in hopes of fixing this issue.  Could people test [this JAR](https://dl.dropboxusercontent.com/u/4286376/tcp-escape-amble/org.openhab.binding.tcp-1.8.0-SNAPSHOT.jar) to see if the `preamble` and `postamble` config strings are being parsed correctly now?

[2015-11-11 12:34] smee204 commented on #3201
The new jar works for me.

[2015-11-11 12:37] watou commented on #3201
Thank you for testing it, @smee204.  @lawrizs, @villaocho and @steve-bate, do you concur?

[2015-11-11 13:41] steve-bate commented on #3201
I haven't had a chance to test it but the diffs look good to me.

[2015-11-11 13:56] remydavid opened #3407 "apt-get install fail with 403 Forbidden"
I followed the Linux OS X instructions [here](https://github.com/openhab/openhab/wiki/Linux---OS-X).
And I get the following error :

    sudo apt-get install openhab-runtime
    Reading package lists... Done
    Building dependency tree
    Reading state information... Done
    The following NEW packages will be installed:
       openhab-runtime
    0 upgraded, 1 newly installed, 0 to remove and

[2015-11-11 14:18] remydavid commented on #3407
Solved my problem by commenting the user agent line in the apt.conf
Very strange

[2015-11-11 17:33] cdjackson commented on #3400
Sorry - it seems it didn’t merge. I’ve just done it now, so try again tomorrow…

Cheers
Chris

[2015-11-12 13:26] Greblys opened #3408 "Why not reading Serial directly with Java in Open Energy Monitor binding?"
I noticed that Open Energy Monitor binding uses additional C script to read serial and that forwards data to UDP port which is then read with Java. Why not to read Serial directly with Java? @paulianttila

[2015-11-12 13:44] johkin opened #3409 "zwave database, Aeon 4-In-1 MS"
The Aeon Multisensor Gen5 configuration is missing a lot of parameters, which could improve battery life greatly. The missing parameters are 40-255.
Current database file:
openhab/bundles/binding/org.openhab.binding.zwave/database/aeon/4in1ms_g5.xml

Pepper1 description:
http://www.pepper1.net/zwavedb/device/640

I attached the pdf file from the tech support, which seems to match the Pepper1 descr

[2015-11-12 14:32] cdjackson commented on #3409
Please feel free to attach your changes - there's no tool to export from pepper since it's not always correct.

Sent from my iPhone

[2015-11-12 14:49] remydavid commented on #3407
OSMC dev tells me that this could be a problem with the way openHAB repo is configured so I reopen the issue. I also contacted bintray support maybe the problem is on their side.

[2015-11-12 16:11] paulianttila commented on #3408
I run openhab on different machine (mac mini) than were RFM12Pi is running. Skeleton for serial connector is already in place, so feel free to complete it.

https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.openenergymonitor/src/main/java/org/openhab/binding/openenergymonitor/protocol/OpenEnergyMonitorSerialConnector.java

[2015-11-12 20:54] johkin commented on #3409
Here is my modified version, I'm not sure about the data-types for parameters 41-44.

I could not attach xml files here, so I changed the suffix.

[4in1ms_g5.txt](https://github.com/openhab/openhab/files/33326/4in1ms_g5.txt)

[2015-11-12 21:29] chjop commented on #902
Since this is issue is closed and this is the wrong tracker I comment here: https://github.com/openhab/openhab.android/issues/129

[2015-11-12 22:10] theoweiss commented on #3407
I've just tested the installation on fresh raspbian jessie installation: everything went well!

[2015-11-13 02:20] 9037568 commented on #2524
I let mine run for a week, and it never missed a single event.

On Thu, Nov 5, 2015 at 2:03 AM, LukeOwncloud <notifications@github.com>
wrote:

[2015-11-13 06:51] landmanp opened #3411 "Adding Aeon device to Database"
Is it possible to add the Aeon Multisensor (http://www.pepper1.net/zwavedb/device/741) to the database of Openhab?
Openhab reports the following:
Nov 13 07:50:38 automation openhab: [qtp18064814-36805] org.openhab.binding.zwave.internal.config.ZWaveConfiguration NODE 12: No database entry: Aeon Labs [ID:64,Type:2]

Regards,
Poul

[2015-11-13 07:44] LukeOwncloud commented on #2524
Yepp, same here. Maybe it was a syntax error which I removed? But could such a typo cause undeterministic behavior? I will continue my tests...

[2015-11-13 08:17] remydavid commented on #3407
The bintray support published a fix yesterday, less than 8 hours after I contacted them, they are incredible !

The problem was on their side, here is their answer :

"Thank you for contacting us, and for providing this information. We believe we have isolated and fixed the issue you were experiencing. The fact that you weren't able to use wget to resolve the debian file was that the URL you were

[2015-11-13 08:18] #3407 closed

[2015-11-13 10:55] Greblys commented on #3408
Thanks, in that I case I might complete it.

[2015-11-13 10:55] #3408 closed

[2015-11-13 12:30] Keelhaul opened #3412 "Denon Binding: Graceful handling of connection timouts"
Hi,

When the receiver has no power supply (Denon AVR-X1100 in my case), the binding cannot connect and logs a timeout stack trace:
[code]
It think it would be more log friendly to handle timeouts like an OFF status instead.

[2015-11-13 12:48] watou commented on #3412
Makes sense, unless there is some network issue between openHAB and the Denon (which would usually not be the case).  In the meantime, you could add `%nopex` to your `logback.xml` to suppress stack traces in the log.  Change the `<pattern>`:
[code]

[2015-11-13 13:28] NCO3 commented on #1957
Interesting thread :-)
I have the org.openhab.binding.zwave-1.7.1.jar in my addons and get timeouts very often (node is dead).
The openhab package I use is the apt-get.
Can I replace the 1.7.1 zwave binding addon with this one without the risk of incompatibilities?
org.openhab.binding.zwave-1.8.0-SNAPSHOT.jar ??
Thanks.

[2015-11-13 14:10] ruN86 commented on #2218
Thats good News! Please let me know if I can help.

[2015-11-13 14:25] cdjackson commented on #1957
Yes you can update the versions - no problem.

Sent from my iPhone

[2015-11-13 17:27] cdjackson commented on #3411
This is already in the database. Please ensure you are using the latest version of the binding.

[2015-11-13 18:29] clinique commented on #2218
Yes ! Give me control on your heater :)
No jocking - will push PR on OH2 by end of next week.

[2015-11-14 01:27] berndpfrommer commented on #2569
Somebody else complained about the exact same problem, and I completely forgot I had fixed it already, so I fixed it *again*!!!
Except this time I submitted it as a pull request: #3404

https://github.com/openhab/openhab/pull/3404

The syntax for port speed configuration is different this time, but if you don't specify any speed it'll set it to 115200 which works apparently.

Please close this iss

[2015-11-14 08:47] #3411 closed

[2015-11-14 08:52] cdjackson commented on #3269
Can you confirm the dimmer is working and we can close this?

[2015-11-14 08:53] cdjackson commented on #3226
Please advise if this can now be closed.

[2015-11-14 09:13] mcarlosro commented on #3269
It is working,although my light is blinking. Trying to confirm where is the problem, but the device is working from openhab perspective.

[2015-11-14 09:18] cdjackson commented on #3269
Thanks - I'll close this then.

[2015-11-14 09:18] #3269 closed

[2015-11-14 14:11] #3351 closed

[2015-11-14 14:12] skenhall commented on #3351
Got everything working just fine with this item configuration:
Number  Temperature_Door "Temperatur garage [%.1f °C]" <temperature> (GF_Garage) { zwave="5:0:command=SENSOR_MULTILEVEL,sensor_type=1" }
Number  Luminance_Door "Belysning garage [%.0f Lux]" <sun> (GF_Garage) { zwave="5:0:command=SENSOR_MULTILEVEL,sensor_type=3" }
Switch	Motion_Door "Garagedörr rörelse" <present> (GF_Garage) { zwave="5:

[2015-11-14 14:19] skenhall opened #3416 "Qubino Flush 1 relay: No database entry: Qubino [ID:52,Type:2]"
Got the message "[.z.i.config.ZWaveConfiguration:274 ]- NODE 12: No database entry: Qubino [ID:52,Type:2]" in the Z-wave logg after adding the Qubino Flush 1 relay (Z-wave Plus) device to my network.

Manual for the device is attached.
[Qubino_Flush-1-relay-PLUS-user-manual_V1.1_eng.pdf](https://github.com/openhab/openhab/files/34618/Qubino_Flush-1-relay-PLUS-user-manual_V1.1_eng.pdf)

[2015-11-14 14:35] ruN86 commented on #2218
Okay no problem. How can I contact you?

[2015-11-14 14:36] cdjackson commented on #3416
Please advise if there are any issues with this.

[2015-11-14 14:57] #3039 closed

[2015-11-14 16:02] skenhall commented on #3416
Thanks for quick reply!
I'll check tomorrow when the nightly build is ready at https://openhab.ci.cloudbees.com/job/openHAB/

[2015-11-15 09:27] paulianttila commented on #3408
That would be great. When I implemented OEM binding, OEM (emonhub) like parsing rules didn't exists yet.

[2015-11-15 10:19] rene54321 commented on #3412
Hi,

I also like this idea. As the standby power is about 20W if the network is still available. I have disabled the standby LAN functionality in the DENON Receiver and get this error also every time until the Denon is powered on again.

[2015-11-15 14:18] willemdh opened #3423 "Demo site unavailable"
Fyi, the link to the demo sites, eg http://demo.openhab.org:8080/greent/ are not working.

[2015-11-15 18:57] CarstenMadsen commented on #3064
Can you add it?
Then I will try to test it.

[2015-11-15 19:56] teichsta commented on #3423
should work again … thanks for noticing!

[2015-11-15 19:56] #3423 closed

[2015-11-15 21:12] mlowijs opened #3426 "RFXCom: multiple bindings don't work"
I've configured a Switch item with one 'out' and two 'in' bindings.
When doing things that would normally trigger one the bindings on the item, only the last binding on the item seems to actually work.

The item looks like this:

`Switch light_woonkamer_eettafel "Eettafel" <lamp> (woonkamer_sfeer, lights) { rfxcom=">313370.5:LIGHTING2.AC:Command", rfxcom="<17204262.4:Command", rfxcom="<18155274.11

[2015-11-15 21:41] skenhall commented on #3416
No error messages in log after update. I haven't had time to verify all functionality yet.

[2015-11-16 02:14] welbymcroberts commented on #3032
@guitarglen / @JosSchering1 : I've also got some of the wireless modules (BRP069A42 is the wireless modules part number but the units are in a single package as the BRP069A43 as this contains the '42 and a board for the AC unit) on a multi-split.

I've got a similar situation where I'm able to set values, but not read them from the unit.

I've enabled only the daikin binding (which i've just got f

[2015-11-16 09:40] mlowijs commented on #3426
After some more research, it seems the rfxcom binding just doesn't support multiple bindings on one item.
I'll look into the possibilities of modifying the code to support this.

[2015-11-16 11:01] pvizeli commented on #1429
On my Pi2 with raspbian (wheezy) I don't see this bug with OpenHab 1.7.1

[2015-11-16 15:44] paulianttila commented on #3426
@mlowijs: Could you enlighten a little bit the use case why you need two in bindings and one out binding for single item?

[2015-11-16 15:53] mlowijs commented on #3426
Sure; I have a couple of hardware remotes that should update the state of some of the items in openHAB when buttons on them are pressed. I also want to be able to control these items with openHAB, hence the out binding.

I'm working around it now with more Switch items and a couple of rules, but I think it's much cleaner if it were possible to add more bindings to the actual item.

[2015-11-16 17:03] paulianttila commented on #3426
Openhab way is to define the own items for every device and device feature, so even it little bit more work, you should define remote buttons to own items and light to be own item. Then rule bindings items together. Then you can easily add more logic and intelligence to behaviour by the rules. E.g. Light is set ON only if it's dark, etc. Because RFXCom device communication is not very reliable (no

[2015-11-16 21:35] mrx23dot opened #3428 "Weather addon - Undefined/<null> value"
On every X poll from weather servers' property come back with <null> value

eg:
WUNDERGROUND[]: Forecast[day=0,Temperature[current=7.0,min=6.0,max=15.0,feel=<null>
WUNDERGROUND[]: Forecast[day=0,Temperature[current=<null>,min=6.0,max=15.0,feel=<null>
WUNDERGROUND[]: Forecast[day=0,Temperature[current=7.0,min=6.0,max=15.0,feel=<null>

the only problem with this it will be a non-valid value on the w

[2015-11-17 16:40] hmerk commented on #3326
@staehler, is this solved right now?
If so, could you please close this issue.
Thanks
Hans-Jörg

[2015-11-17 18:24] robnielsen opened #3429 "Netatmo binding uses insecure GET method calls instead of POST method calls"
The Netatmo api supports both GET and POST method calls. The GET method calls are insecure since it exposes the access token as a part of the URL. The binding needs to be changed to use a POST call which passes in the access token and other parameters in the body. Once the change is made the calls will be secure since it's already using https for the method calls.

If somebody has the Welcome secu

[2015-11-17 18:29] watou commented on #3429
The HTTP header, which contains the URI, is encrypted just as the body is over HTTPS. Therefore there is no leak of private information in transit with GET versus POST.

[2015-11-17 18:49] robnielsen commented on #3429
@watou, thanks for the info. I'm still going to leave this issue open since the POST method will ensure that confusion doesn't occur.

[2015-11-17 19:30] teichsta commented on #3326
build is working again …

[2015-11-17 19:30] #3326 closed

[2015-11-17 19:31] teichsta commented on #3428
@gerrieg could you please have a look at this one? Thanks, Thomas E.-E.

[2015-11-17 19:35] teichsta commented on #3426
since this doesn't seem to be a bug please discuss further at https://community.openhab.org

[2015-11-17 19:35] #3426 closed

[2015-11-17 19:36] teichsta commented on #3412
@Keelhaul would you volunteer to send this proposal as PR?

[2015-11-17 19:37] vallon commented on #3213
On 10/29/15 11:50 AM, Mike Van Dusen wrote:

The switch is working.  The device has an LED light on the "z-wave
inclusion" button, and I seem to recall that it can be configured to be
{ always on, on when device off (nightlight mode) }.  However, that is a
minor (useless) feature to me.

I was mostly asking whether I could contribute some basic information
for the device.

Is this the database:
ht

[2015-11-17 19:38] teichsta commented on #3400
so can we close this issue?

[2015-11-17 19:43] Keelhaul commented on #3412
@teichsta Theoretically, but I'm afraid it might take a while as the Maven part of the dev environment for openHAB has been somewhat of a learning curve for me.

[2015-11-17 20:14] batfasturd opened #3431 "Plex binding updating bus without changes to status"
When the device status is anything other than stopped it posts the status to the bus even if it has not changed.

It would be nice to see this plugin behave like the network health plugin and have a cache for changes.

Thanks you.

[2015-11-17 20:39] watou opened #3432 "Designer does not recognize the transform action in rule"
[User reported](https://community.openhab.org/t/retrieving-a-result-from-a-command-line-https-curl-for-use-in-a-rule/4285/8?u=watou) on Windows 10 (64Bit).  I can reproduce on Mac 10.10.5.

[2015-11-17 22:34] teichsta commented on #533
… closing this issue due to inactivity and community interest. Please first discuss your feature wishes at https://community.openhab.org before opening an issue (which might not be read by anybody).

[2015-11-17 22:34] #533 closed

[2015-11-17 22:39] teichsta commented on #477
any update on this one @steand?

[2015-11-17 22:40] teichsta commented on #481
… closing this issue due to inactivity and community interest. Please first discuss your feature wishes at https://community.openhab.org before opening an issue (which might not be read by anybody).

[2015-11-17 22:40] #481 closed

[2015-11-17 22:54] teichsta commented on #636
since this would clearly be a core issue i'd like to close this discussion here and like to ask all interested people to follow-up in the eclipse-smarthome forum at http://www.eclipse.org/forums/index.php?t=thread&frm_id=271

[2015-11-17 22:54] #636 closed

[2015-11-17 23:05] DevNull000 commented on #3400
Oh... Sorry... Yes Please!

[2015-11-17 23:05] #3400 closed

[2015-11-17 23:07] teichsta commented on #611
since there won't be any effort to implement new features into 1.x version of classicui i'd like to close this issue. Can you please have a look at the new BasicUi (maintained at openhab/openhab2) whether this issue still applies? If yes please discuss your feature-request at https://community.openhab.org before entering an issue here.

[2015-11-17 23:07] #611 closed

[2015-11-18 10:28] rvf148 commented on #3336
How do I get a specific item value from a specific account, when using multiple accounts?
Pleas add the items configuration for multiple accounts.

Now I get: [ERROR] [i.internal.GenericItemProvider] - Binding configuration of type 'withings' of item æheartpulseæ could not be parsed correctly.

[2015-11-18 10:30] steand commented on #477
Hello Thomas,

I had implement a binding for Viessmann (vitotronic) in openhab2 only. In openhab2 the binding is stable. I didn't got a requirement to develop a solution for openhab 1.x (I think this make no sence also) . So this issue can closed. Thanks.

Regards Stefan.

[2015-11-18 15:58] idserda commented on #3431
I'd be happy to add this. I will however query the ItemRegistry directly for the current state instead of keeping a local cache.

[2015-11-18 16:19] watou commented on #3431
It is much preferred for bindings to stay ignorant of the ItemRegistry, and to post updates to items' states as they are known, instead of suppressing updates based on current item state.  Various unintended consequences emerge when a binding is suppressing its own updates.  This subject has come up regarding various bindings, and in a lot of cases an item cache or accessing the ItemRegistry has l

[2015-11-18 16:36] batfasturd commented on #3431
Watou, so your idea is to leave it alone and let it update as often as it updates? If that is the case I guess the second happy medium would be to keep the existing behaviour as the default and allow for someone to decide if they want to be stateful or not.
I guess I assumed it would hurt performance while playing movies as my Plex binding logs to the event bus every 2.5 seconds.

I run my network

[2015-11-18 16:53] watou commented on #3431
I wouldn't assume that update events every 2.5 seconds would lead to performance issues, but if they somehow do impact performance, one could argue that either something in the Plex binding is simply polling more often than necessary (I don't know), or some rule or other event listener is handling the updates inefficiently.  It is not an issue, to my mind (and I recall a conversion with @kaikreuze

[2015-11-18 17:11] temuccio opened #3436 "Netatmo min_temp"
Hello,
I have interface openhub with netatmo weather station.
I have recovery external thermal from my netatmo with string:
[code]
It's works fine.
When I recovery min_temp with this string:
[code]
I receive this error in the log file:
[code]
Best Regards

[2015-11-18 17:21] batfasturd commented on #3431
Thank you for elaborating further. Since I am not running on a Pi and have a decent VM I shouldn't worry about it too much and just change my rules and/or event logging. I am just thankful that the 1.8 version of the binding works with Plex home!

[2015-11-18 18:25] 9037568 commented on #3436
Which version are you running?

The source lines referenced in your errors don't match up with the latest
code...

On Wed, Nov 18, 2015 at 12:12 PM, temuccio <notifications@github.com> wrote:

[2015-11-18 20:42] skenhall commented on #3416
Hi!
Found a few issues with this: Configuration parameters 63, 100, 101, 110 and 120 according to the manual are missing when I try to set then using HABmin.

[2015-11-18 20:43] mrguessed commented on #3317
@teichsta,
This bug can be closed, the base merge has the necessary fixes.

[2015-11-18 20:50] mrguessed opened #3437 "MapDB Persistence wont restore PercentType with non-Integer values"
If you have a `PercentType` based Item, and you're using _MapDB Persistence_, then the restoration operation can fail if the original (pre-persisted) value in non-Integer.

The openHAB `PercentType` is derived from `DecimalType`, so all numerics should be supported.

When this failure occurs, it causes openHAB to loop indefinitely since the entire Persistence-restore fails, and triggers openHAB to

[2015-11-18 20:52] skenhall commented on #3416
Just noted other differences in HABmin between the parameters shown and the ones documented in the manual regarding association groups:
 - HABmin show the last association group as "Multilevel sensor" but there is no such group according to documentation.
 - The documentation lists two additional association groups for endpoint 1, four additional association groups for endpoint 2 and four addition

[2015-11-18 20:55] cdjackson commented on #3416
It would certainly be good if you could update the XML and generate a PR?

[2015-11-18 22:06] skenhall commented on #3416
Pull request created.

[2015-11-19 00:01] 9037568 commented on #3436
This is the first time I've looked at this code, but it appears to me that the "min_temp" measure type is not supported in 1.7.X.  It is however in 1.8.X (ie, the master branch).

From the newest 1.7.X file:
    public enum NetatmoMeasureType {
    	CO2("CO2"), TEMPERATURE("Temperature"), HUMIDITY("Humidity"), NOISE("Noise"), PRESSURE(
    			"Pressure"), RAIN("Rain"), WIFISTATUS("WifiStatus"), AL