[2015-06-10 19:36] theoweiss commented on #2649
@teichsta yes. Just back from vacation, give me some time.

[2015-06-11 15:43] klaus-hildner commented on #1584
@darkrift, @jenskastensson : The missing image reload also accurs for me with OpenHAB 1.6.2 and today's 1.8.0-SNAPSHOT. I run into it with an old IP camera; the dynamically generated image is not refreshed.

In ImageRenderer, line 47, I replaced the setTimeout with a setInterval (for not just delayed but repetitive invocation).

In main.html, line 114, I added || imagesToRefreshOnPage > 0 to the r

[2015-06-11 16:26] jenskastensson commented on #1584
maybe you can try modify html/js inside the jar in a working runtime installation?

[2015-06-11 17:13] dominicdesu commented on #2709
What is the error message?
Can you enable debug mode and post the log file?

[2015-06-11 18:37] berndpfrommer opened #2716 "build error: java.lang.OutOfMemoryError: PermGen space"
I got a fairly late version of the 1.8.0 master, and I'm seeing this build error when building with mvn install on ubuntu 12.04:

---------------------------------------------------
constituent[0]: file:/usr/share/maven/lib/commons-cli.jar
constituent[1]: file:/usr/share/maven/lib/maven-settings-3.0.4.jar
constituent[2]: file:/usr/share/maven/lib/aether-api.jar
constituent[3]: file:/usr/share/mave

[2015-06-11 18:39] digitaldan commented on #2716
Do you have your mvn memory settings correct?

https://github.com/openhab/openhab/wiki/IDE-Setup

```Create Environment Variable MAVEN_OPTS and set it to -Xms512m -Xmx1024m -XX:PermSize=256m -XX:MaxPermSize=512m in order to avoid memory problems during the build process.```

[2015-06-11 18:42] teichsta commented on #2716
yep, that should solve the problem (you could also try to build with java 8)

(feel free to reopen if this didn't solve your problem)

[2015-06-11 18:42] #2716 closed

[2015-06-11 18:53] berndpfrommer commented on #2716
It used to work fine without MAVEN_OPTS, until it didn't ....
Is there a way this option can be set within the build environment so as to reduce the number of steps necessary to build openhab?

[2015-06-12 08:24] msth commented on #2524
I've got the same Problem. Following rule executes only at changes by sunrise and sunset changes.

when
        Item Sunset_Event  received update ON or
        Item Sunrise_Event  received update ON or
        Time cron "0 0 10 * * ?" or
        Time cron "0 30 6 * * ?"
then

[2015-06-12 08:25] xiboy opened #2720 "Serial modbus binding not working in v1.7.0"
Hi,

Evertyhing was working fine in v1.6.2.
But since v1.7.0 update, nothing happens on serial bus with modbus binding.

Port permission is ok and openhab belongs to dialout group.

My openhab.cfg configuration looks like:
"
\# System
modbus:serial.slaveSystem.connection=/dev/ttyUSB0:19200:8:even:1
modbus:serial.slaveSystem.start=0
modbus:serial.slaveSystem.length=25
modbus:serial.slaveSystem.type

[2015-06-12 09:26] sercasyr opened #2721 "Z-Wave load neighbor list from XML"
Hi,

I have several Z-Wave devices and some of them don't work properly because they haven't found suitable neighbors and they can't reach the controller.

In particular, I have 2 battery-powered Fibaro motion sensors that are pretty close from a Z-Wave mains-powered Aeon Labs repeater, but they don't have this repeater as neighbor.
They try to communicate with nodes that are further away, and the

[2015-06-12 09:34] sercasyr opened #2722 "Onkyo HT-RC660 hangs after using Onkyo binding."
Hi, I have a HT-RC660.

My issue is simple but very hard to debug:

After 1 week or so of using the Onkyo binding, the binding usually stops working.
In fact, I have to reset the device for the device to be able to accept connections again.

Once I reset it, the binding works again. If use the binding, the problem will eventually happen again. The more I use it, the sooner it happens.
It seems to

[2015-06-12 09:44] sercasyr commented on #2274
Hi again.

I have created a simple C# software (only works for Windows systems then) with NAudio library that reads the microphone input, then calculates the peak value over a specific amount of time and sends it via TCP to OpenHab.

It works like a charm...
It does report values from 0 to 100%. A calibration to report dB could be added, but I don't really need it.

I just wanted you to know.
Spec

[2015-06-12 11:38] xiboy commented on #2720
Ok I found, issue can be closed.
A new parameter has been added to connection line in openhab.cfg.
The new syntax is:
modbus:serial.slaveSystem.connection=<port>:<baud>:<nb bits>:<parity>:<stop bit>:<ENCODING>

The last one is new with v1.7.0, and allow to choose between 3 different serial encodings. The value can be:
ascii (default one)
rtu
bin

If the field is empty (it is the case when you're u

[2015-06-12 11:38] #2720 closed

[2015-06-12 12:16] JosSchering1 opened #2723 "Modify daikin binding to work with JDaikin library"
JDaikin (https://bitbucket.org/JonathanGiles/jdaikin) is a library which supports wired and wireless connections to Daikin heatpump and Airconditioner. This request is to modify daikin binding to use this library

[2015-06-12 12:28] teichsta commented on #2723
@sumnerboy12 since you've created the binding, would you take over here? /cc @JonathanGiles

[2015-06-12 13:42] dellgreen commented on #2660
On Mac OS X 10.9.5 same problem

[2015-06-12 14:32] cdjackson commented on #2721
It is not possible to set thw neighbours - tgis is done by the controller only.

Sent from Samsung Mobile

<div>-------- Original message --------</div><div>From: sercasyr <notifications@github.com> </div><div>Date:12/06/2015  10:26  (GMT+00:00) </div><div>To: openhab/openhab <openhab@noreply.github.com> </div><div>Subject: [openhab] Z-Wave load neighbor list from XML (#2721) </div><div>
</div>Hi,

[2015-06-12 14:36] sercasyr commented on #2721
Why is that?
What about issue #1524?

In any case, what should I do?
The sensors are unreachable, and they shouldn't because of the repeater.
There must be a way to make them work...

[2015-06-12 14:53] gersilex opened #2725 "Request log not showing username of http basic auth"
When having the security option *ON* or *EXTERNAL* the connecting user get redirected to a http basic auth form.

If this has been entered the session get's attached to the user so that he does not have to log in on every request, clear und usual stuff.

The request log SHOULD contain the name of the logged in user in the request, but is still showing only a " - " (dash).

In favor of useful loggi

[2015-06-12 15:40] cdjackson commented on #2721
There is no API or anything available to load neighbours into the controller - it's that simple. ZWave is a closed system - the controller is designed to do everything.

This is completely different. This is talking about restoring the neighbours so that we can display them in the UI - but there's no way to load them back into the controller.

Your only option is to fill the gaps with mains device

[2015-06-12 15:50] sercasyr commented on #2721
Ok.

The thing is that the gap is more than filled with mains-powered devices.

Between the sensors and the controller I have: 1 Aeon Labs Repeater (like 2 meters away from the sensors), 1 Aeon Labs Wall-plug Siren (it's just 1 meter away) and 1 Fibaro Wall Plug (like 5 meters away.

Of course, if I move the sensors closer to the controller, they work...

The controller is about 15 meters away fro

[2015-06-12 16:11] cdjackson commented on #2721
I can understand your frustration - I would love to be able to provide some advice on how this really works (or doesnt work). However, as far as I know there's no way to influence this.

Also, the neighbours list is not the same as the routes (as far as I know). Neighbours are just that - devices that the other device has heard - it doesn't necessarily mean that a route exists or is used. There's

[2015-06-12 20:48] sumnerboy12 commented on #2723
Yep, Jonathon and I have been working with Jos on this. Will let you know
once it is tested and ready for committing.
On 13/06/2015 12:28 am, "Thomas Eichstädt-Engelen" <notifications@github.com>
wrote:

[2015-06-12 21:26] dekke046 opened #2727 "z-wave No database entry: ACT [ID:3330,Type:524d]"
Hi,

I have two ACT Homepro wall switches which do not seem to be reconized correctly by Openhab:
015-06-12 23:17:50.492 [DEBUG] [.z.i.config.ZWaveConfiguration:265 ]- NODE 2: No database entry: ACT [ID:3330,Type:524d]
2015-06-12 23:17:50.525 [DEBUG] [.z.i.config.ZWaveConfiguration:265 ]- NODE 3: No database entry: ACT [ID:3330,Type:524d]
2015-06-12 23:17:56.472 [DEBUG] [.z.i.config.ZWaveConfigura

[2015-06-12 21:44] slawekjaranowski commented on #2725
+1

[2015-06-13 07:48] cdjackson commented on #2727
Please raise an issue for the missing devices (1 issue per device).

I would encourage you to try and produce the required database entry.  The documentation is here -:
https://github.com/cdjackson/HABmin2/wiki/Z-Wave-Product-Database <https://github.com/cdjackson/HABmin2/wiki/Z-Wave-Product-Database>

Anything you can do, even if it’s not 100% correct, would be appreciated. Either attach the XML

[2015-06-13 08:16] cdjackson commented on #2727
Also, if you don't do the XML files yourself, please provide a link to the manual that shows all the commands and association groups. If it's in the pepper database, a link to this is perfect.
The link you provided above doesn't work for me - it goes to their homepage.

[2015-06-13 11:03] luigisaetta commented on #723
@steintore
I have tried the latest binding for Samsung AC, but I don't see realized the workflow that is described in the wiki.
The test with the utility for ssdp is working fine, and I see ip and MAC address for the two AC. But I never see in the logs something regarding the TOKEN. Probably I'm wrong, but I have the impressione that there is some misalignment between the code and the docs.
Do you

[2015-06-13 12:21] sercasyr commented on #2721
Thanks for your help Chris.

I have managed to make them work (at least for the last 3 hours) but I wouldn't declare victory yet because I have the feeling that sooner or later is going to fail...

This is what I done:

1- I have enabled SUC mode in Openhab.cfg.

2- I have enabled masterController mode in Openhab.cfg.

3- I have moved one of the mains-powered devices further away (yes, further awa

[2015-06-13 13:45] Marinek commented on #2656
Hi,
did you try to delete your workspace folder in your designer? Please exit the designer first. There seems to be a problem with your current workspace. This is the place where  the designer stores his application settings.
After restarting the designer you need to select your config folder again.

Martin

[2015-06-13 16:57] cdjackson commented on #2721
Great - it’s a start at least :)

For the configuration to be set in the first place (in battery devices) the device does need o be in direct contact with the controller. This is because a wakeup won’t be routed until it’s configured ‘properly’ by the controller. So, this might have been an issue if you’ve never done that

I’d be surprised if 5 makes any difference, but I wouldn’t rule it out.

Re

[2015-06-13 17:20] sercasyr commented on #2721
The sensors were added right next to the controller the first time. That wasn't the problem.
What I did differently this time is to wake them up near the controller and then move them away.
And... the association group thing.

Regarding the healing, I don't know what happened. One sensor that was working, stopped working right after the healing.
I had to wake it up several times because it was gon

[2015-06-13 18:13] snizzleorg opened #2731 "plex binding throwing exception when plex server goes offline"
openhab.log:

[code]
and that happens every few seconds if the server is offline. It makes sense that the binding is not working but shouldn't it fail more gracefully?

[2015-06-13 19:37] PelicanHu commented on #2656
Hi,
I deleted the workspace folder, started designer and it creates the workspace folder again.
When I try to open my sitemap it fails again. :(

In the newly created log file this is the last entry:

!ENTRY org.eclipse.e4.ui.workbench 4 0 2015-06-13 21:34:47.941
!MESSAGE
!STACK 0
java.lang.NullPointerException
	at org.eclipse.xtext.EcoreUtil2.getContainerOfType(EcoreUtil2.java:100)
	at org.eclips

[2015-06-13 20:31] Marinek commented on #2656
Hello again,
I searched the problem and it seems that this problem is related with xText. This is used to validate the sitemap grammar (e.g. where you have to put { or }). I can reproduce this in my 1.7 Designer downloaded from the latest stable version.
I removed from your sitemap above some parts until I could finally open your sitemap. I had to remove all occurrences of comparison with negative

[2015-06-13 20:50] PelicanHu commented on #2656
You are great! :-)
Changed to decimal values and it works!
Thank you very much!
I really appreciate your help.

[2015-06-13 21:35] Bubelbub opened #2732 "[MySQL.persist] Saving group as string? But datatype is double!?"
2015-06-13 23:31:01.220 [ERROR] [.p.m.i.MysqlPersistenceService] - mySQL: Could not store item 'Floor' in database with statement 'INSERT INTO Item50 (TIME, VALUE) VALUES(NOW(),'OFF') ON DUPLICATE KEY UPDATE VALUE='OFF';': Data truncated for column 'Value' at row 1
	2015-06-13 23:31:01.336 [ERROR] [.p.m.i.MysqlPersistenceService] - mySQL: Could not store item 'Kitchen' in database with statement '

[2015-06-13 22:10] teichsta commented on #2656
@Marinek thanks for tracking this down! Any idea how to solve this problem? Best, Thomas E.-E.

[2015-06-13 22:26] #2671 closed

[2015-06-13 22:32] teichsta commented on #2679
fixed by #2733 …

[2015-06-13 22:32] #2679 closed

[2015-06-13 22:36] teichsta commented on #2731
@idserda could you please take of this? The requirement sounds quite reasonable :-) Thanks, Thomas E.-E.

[2015-06-13 22:38] teichsta commented on #2725
could you please post the appropriate log entries?

[2015-06-13 22:40] teichsta commented on #2722
@paulianttila any idea what could cause this behaviour?

[2015-06-13 22:42] teichsta commented on #2711
can you confirm that yoann.items is syntactically correct (checked with Designer)?

[2015-06-13 22:44] teichsta commented on #2706
@kgoderis could you please have a look at this one? Thanks, Thomas E.-E.

[2015-06-13 22:47] teichsta commented on #2705
@kabili207 thanks for letting us know! Since you seem to have knowledge in this area would you mind creating an appropriate fix for the MySQL persistence service? Thanks, Thomas E.-E.

[2015-06-13 22:47] teichsta commented on #2702
@gerrieg could you please take care of this? Many thanks, Thomas E.-E.

[2015-06-13 22:48] teichsta commented on #2687
any news @dominicdesu?

[2015-06-13 22:49] teichsta commented on #2686
am i right that we can close this issue due to #2703?

[2015-06-13 23:40] Bubelbub opened #2734 "rrd4j Persistence - No database?"
In the `openhab.cfg` i'm using.

    persistence:default=rrd4j
    rrd4j:ctrmin.def=COUNTER,900,0,U,300
    rrd4j:ctrmin.archives=AVERAGE,0.5,1,365
    rrd4j:ctrmin.archives=AVERAGE,0.5,7,300
    rrd4j:ctrmin.items=*

And in `rrd4j.persist` i'm using.

	// persistence strategies have a name and a definition and are referred to in the "Items" section
	Strategies {
	        // for rrd charts, we nee

[2015-06-14 05:06] paulianttila commented on #2722
@sercasyr Binding will jam or the receiver?

Pretty much impossible to do anything without debug logs. So you should enable trace level logging to Onkyo binding and try to catch the jam situation.

Add following line to lockback.xml

[code]
Reference to issue #1999

[2015-06-14 05:44] ludodoucet commented on #2711
Designer (1.7.0) does not tell me for error in my file. But the demo.items refreshing without error. Do you think the designer can pass next to an error?

[2015-06-14 06:24] gerrieg commented on #2702
That has already been fixed with https://github.com/openhab/openhab/pull/2286
For backward compatibility, you can still user athmosphere. I updated the Wiki, thanks for the hint.

[2015-06-14 06:46] ludodoucet commented on #2711
I change the name of the file to yoann2, it's work.
I do not know why, but my problem is solved this way

[2015-06-14 07:35] J-N-K commented on #2734
Are you sure you are looking in the right place? My databases are located at /opt/openhab/etc/rrd4j, so I would assume the directory is /etc/openhab/rrd4j in your case.

[2015-06-14 08:05] dominicdesu commented on #2687
(Un-)Fortunately this issue hasn't happened again since I've created this ticket.
If it makes sense we can close this ticket and I'll just leave a comment if it happens again?

[2015-06-14 10:31] Bubelbub commented on #2734
I searched in the whole `/etc/openhab` and there is nothing which could be a rrd4j database.

[2015-06-14 12:41] kgoderis commented on #2706
@gersilex Do Windows machine happen to have some kind of sleep mode where they still accept network connections in the background? I don't have a Windows PC (sorry, Mac only shop here), so it is a bit hard for me to replicate. Based on the code I can only state that somehow the binding tries to connect to the Windows machine, and that the underlying Java NIO library seem to indicate that the conne

[2015-06-14 13:39] dominicdesu commented on #2734
Did you have a look into your logfiles? Are there any errors/warnings?
Does openHAB have the permissions to create a new folder/files?

[2015-06-14 14:01] Bubelbub commented on #2734
2015-06-14 11:42:43.109 [INFO ] [.o.core.internal.CoreActivator] - openHAB runtime has been started (v1.7.0).
    2015-06-14 11:43:05.139 [INFO ] [o.o.i.s.i.DiscoveryServiceImpl] - mDNS service has been started
    2015-06-14 11:43:06.228 [INFO ] [o.o.i.s.i.DiscoveryServiceImpl] - Service Discovery initialization completed.
    2015-06-14 11:43:09.653 [INFO ] [c.internal.ModelRepositoryImpl] - Loa

[2015-06-14 14:39] gersilex commented on #2706
Hey @kgoderis . Unfortunately, I have absolutely no experience with Eclipse. I could at least provide some tcp dumps. Openhab is also running on a headless machine, which makes debugging with the eclipse IDE even harder.

[2015-06-14 14:44] gersilex commented on #2725
tail /opt/openhab/logs/2015_06_14.request.log
-----
[code]

[2015-06-14 16:54] klaus-hildner commented on #1584
@kaikreuzer This is a fix that works in the current snapshot: In file ImageRenderer.java, you could change line 47 to read:

			snippet = StringUtils.replace(snippet, "%refresh%", "id=\"%id%\" onload=\"OH.images.refresh=true;setTimeout('OH.reloadImage(\\'%url%\\', \\'%id%\\')', " + image.getRefresh() + ")\"");

In Firebug, I then see the condition in main.html, line 114 satisfied in the Script vie

[2015-06-14 17:54] muesliman commented on #2358
Hi @JSurf,
sorry for delay. Hab no time for coding.
According your remark: You are right. It would be nicer to do this encapsulation in the "CUL config helper" way.

[2015-06-14 18:54] dominicdesu commented on #2734
Hi @Bubelbub, I had a quick look at the code and as far as I can see, it is indeed not possible to use the wildcard in the archive items configuration: `rrd4j:ctrmin.items=*`

Do you need this custom configuration anyway? Maybe try it out with the default configuration, this should be enough:
`persistence:default=rrd4j`

[2015-06-14 19:12] dekke046 commented on #2727
Hi Chris,

Its in the Pepper database, the right link towards it is:
http://www.pepper1.net/zwavedb/device/15

Also you were right about the links, the good ones:

ZRM230 specs:
https://www.smarthome-products.com/productspecs/ZRM230_spec.pdf
Installation manual:
https://www.smarthome-products.com/productspecs/ZRM230_instr.pdf

Let me also see what I can generate ;-)

Maarten

2015-06-13 10:16 GMT+

[2015-06-14 19:19] sercasyr commented on #2722
Hi,

both the binding and the device get hanged eventually.

Most of the time is the binding that stops working.
In this case, I open Onkyo Remote 3, I connect to the device, I power it on (from stand-by to on) and off (from on to stand-by), and then the binding usually works again (no need to restart OpenHAB).

However, sometimes, it seems that the device is the one that gets hanged.
In this case

[2015-06-14 20:18] xsnrg commented on #2642
not sure about one of the ttys not showing up.  To date, I have just removed the 3 lines that allow links to work and have been using the binding with the native device without any issues at start up.

[2015-06-14 23:52] Bubelbub commented on #2734
@J-N-K :+1:

I search for rrd4j and found a folder in `/var/lib/openhab/persistence/rrd4j`.
Really far away from the /etc/openhab folder ^^

Thanks to @dominicdesu for help. And thanks @J-N-K  for the idea.

[2015-06-14 23:52] #2734 closed

[2015-06-15 06:02] steintore commented on #723
Hi, can you please post this in the google groups forum, with details of your config, and your logback-file?

[2015-06-15 06:58] idserda commented on #2731
Yes, I'll look into this.

[2015-06-15 10:14] sercasyr opened #2740 "Z-Wave wall plug "ghost switching""
Hi,

I have 2 Z-Wave Fibaro Wall Plugs that have been working great for months with OpenHAB.
My controller is an Aeon Labs Z-stick.

As I said, they have been working for months with no problems.
However, in the last 2 weeks I have had 3 incidents of what I call "ghost switching". I mean, the wall plug suddenly switches off as if I had pressed the button or sent a command to switch it off.

It is

[2015-06-15 10:32] watou commented on #2740
I can report something vaguely similar with the Ecobee binding, where on rare occasion something in the system attempts to perform an update on an item that's bound to Ecobee.  It always fails to perform the update, but that might be a binding-specific side effect.  In any case, I have also seen "ghost updates" in a different binding.

[2015-06-15 10:40] sercasyr commented on #2740
The update itself is not "ghost". The update is real because the device switches off.
The "ghost" is the command (which I haven't sent) that causes the update.

I have also checked the Fibaro parameters: overload protection is disabled, response to alarms is set to "none", and nothing that I see should allow the device to switch off without human (or OpenHAB) intervention.

However, there is no CO

[2015-06-15 18:33] Marinek commented on #2656
Hi,
I will have a closer look at this. Currently I have some trouble setting up my development environment.
If someone knows how to fix this, please do it and don’t wait for me ;)
However I'd like to check two possibilities here:
- The grammar has to be extended to accept negative integers here
- The editor is basically able to show the content of the sitemap and its “error” but the xtext is throw

[2015-06-15 21:30] belovictor opened #2742 "Move Classic UI jquery .js files"
Somewhere in 1.7 jquery .js files were added right to the / of openHAB web server which is a very bad idea. The files are: jquery.miniColors.css, jquery.min.js, jquery.miniColors.js.
There should be some normal directory structure for such files, I would suggest to keep all .js in /static/js/ folder.

[2015-06-16 02:09] Brhett opened #2743 "Missing Bundle-ClassPath 'lib/jettison-1.1.jar" in org.openhab.io.rest.lib_1.7.0.jar"
MANIFEST.MF in org.openhab.io.rest.lib_1.7.0.jar of openhab 1.7.0 release.
...
Bundle-ClassPath: lib/jackson-core-asl-1.9.2.jar,lib/jackson-jaxrs-1.9
 .2.jar,lib/jackson-mapper-asl-1.9.2.jar,lib/jackson-xc-1.9.2.jar,lib/
 asm-3.1.jar,lib/jersey-core-1.18.1.jar,lib/jersey-json-1.18.1.jar,lib
 /jersey-server-1.18.1.jar,lib/jersey-servlet-1.18.1.jar,lib/jsr311-ap
 i-1.1.1.jar,lib/atmosphere-runtime-2

[2015-06-16 05:39] chailer commented on #2660
Same here, Windows 7 32Bit, Java 8u45

[2015-06-16 06:10] sja commented on #2742
Thats right, `/` should not be polluted. I will have a look why this happened.

[2015-06-16 07:27] kaikreuzer commented on #2742
This is the case since openHAB 1.3.0, see https://github.com/openhab/openhab/tree/1.3.0/bundles/ui/org.openhab.ui.webapp/web
/static is not a good idea as this url is served through the webapps folder (which does not exist in openHAB 2 anymore). Probably best to move them into /classicui instead.

[2015-06-16 08:51] Brhett opened #2744 "Potential NPE in RRD4jService"
https://github.com/openhab/openhab/blob/master/bundles/persistence/org.openhab.persistence.rrd4j/src/main/java/org/openhab/persistence/rrd4j/internal/RRD4jService.java#L348 should take care of "config" as https://github.com/openhab/openhab/blob/master/bundles/persistence/org.openhab.persistence.rrd4j/src/main/java/org/openhab/persistence/rrd4j/internal/RRD4jService.java#L344 indicates it might be

[2015-06-16 09:31] omatzyo commented on #2517
I believe I'm getting similar errors.  openHAB has crashed 2 nights in a row with the following files left behind:

(First night)

[code]

[2015-06-16 09:31] omatzyo commented on #2517
(Second night)

[code]

[2015-06-16 13:48] kabili207 commented on #2705
I'll see if I can come up with a fix.I don't have too much free time on my hands, so it might take a while.

[2015-06-16 14:34] solucionesmipc opened #2745 "Please add tz78 from TKB to the database"
Hi:

this switch is recognized by habmin as tz68 but those are very different, please add tz 78 to database

http://www.tkbhome.com/?cn-p-d-269.html

thanks a lot

Diego Ruales

[2015-06-16 14:39] luketucker opened #2746 "Z-Wave NorthQ Power & Gas Meter missing/misleading configuration"
I have a NorthQ NQ-9021 and the Technical Manual has configuration settings that are not in the product database for this device. In particular I need parameter 15 which a) provides the calibration status and b) allows you to trigger a re-calibration by setting the parameter to 0. Parameters 6, 7, 8 and 9 from the pepper1 database are also missing.

The description of parameter 9 (pulse count) is

[2015-06-16 18:29] dominicdesu commented on #2744
This is not only potential, I can see it everytime during startup of openHAB :-)
It is normally not displayed because the OSGi logger is set to OFF by default. Setting it to ERROR (`<logger name="OSGi" level="ERROR" />`) will show the error in the log:
[code]

[2015-06-16 19:08] J-N-K commented on #2744
I'll take care of that.

[2015-06-16 19:12] cdjackson commented on #2745
Please provide a link to the manual. Also, please provide a link to the tz68 manual so I can see the difference and Ill try and work out why the configuration is showing up as a tz68...

[2015-06-16 19:15] cdjackson commented on #2746
It would be great if you can create a PR for these changes?

[2015-06-16 20:01] kaikreuzer opened #2747 "KNX binding floods log"
With the 1.7.0 version of the KNX binding, I have my log full of entries like
[code]
when starting in debug mode. I would expect that those are suppressed as it was in the past and to only have the openhab KNX log messages instead.

Furthermore, when starting in normal mode, I have a log entry
[code]
which imho also should not be there as it is irrelevant for a normal user.

[2015-06-16 21:35] teichsta commented on #2744
thanks @J-N-K!

[2015-06-16 21:46] teichsta commented on #2705
yes … a well know problem ;-)

[2015-06-17 06:00] luketucker commented on #2746
Sorry for my ignorance but what's a PR?

[2015-06-17 06:11] watou commented on #2746
A PR is a pull request, where you compose a set of changes, and then you request that your changes be pulled into the main repository.  You would fork the openhab repository, `git clone` your fork onto your local computer, `git checkout -b northq-power-db-fixes` to make isolated changes to individual files, edit the individual file(s) you want to change, `git add` and `git commit` those changed fi

[2015-06-17 13:35] couchounou opened #2748 "Update InfluxDB PersistenceService to 0.9 once the Java API is published"
Hello,

InfluxDB 0.9 Is released,
I can't achieve to make it work with openhab 1.7.0

2015-06-17 15:23:01.970 [ERROR] [i.i.InfluxDBPersistenceService] - database connection failed throwing an exception
2015-06-17 15:23:02.000 [ERROR] [i.i.InfluxDBPersistenceService] - database error: null
2015-06-17 15:23:02.028 [ERROR] [i.i.InfluxDBPersistenceService] - database connection does not work for now,

[2015-06-17 14:01] luketucker commented on #2746
OK I can do that. Just didn't recognize the acronym.

[2015-06-17 15:24] mrguessed commented on #2694
This device (Leviton VRI10) also shows up as the info below (`0x501, 0x209`).  Mine is an older version, but still from the Leviton VR-series, so I suspect there are a few generations of this in the wild, each with variant Id's:

* Manufacturer Info: `29,1281,521` (`0x1d, 0x501, 0x209`)
* VersionInfo: `3,2,9,0,4`
* Capabilities: `209,12,0,4,17,4,L,R,RS,|38,39,43,44,114,115,119,133,134,145`

Everyt

[2015-06-17 15:37] theoweiss commented on #2748
The InfluxDB 0.9 java api is not yet released: https://github.com/influxdb/influxdb-java/issues/24#issuecomment-109715243

[2015-06-17 18:47] teichsta commented on #2748
I've changed the title of this issue. We could leave it open as reference. It would be great if you all could have an eye on the Java API developments. Thanks, Thomas E.-E.

[2015-06-17 18:55] #2743 closed

[2015-06-17 19:02] teichsta commented on #2740
@sercasyr since this issue is not yet reproducible i'd like to close it for now and rather discuss it on the (even more) frequented Google Group. Once the cause is narrowed down, please feel free to reopen this issue. Could you please transfer the discussion?

[2015-06-17 19:03] #2740 closed

[2015-06-17 19:05] teichsta commented on #2732
@jo-we @Dennis650 @cdjackson could anybody of you take care of this one? Thanks in advance, Thomas E.-E.

[2015-06-17 19:06] teichsta commented on #2731
great, thanks!

[2015-06-17 19:07] teichsta commented on #2723
great, thanks!

[2015-06-17 19:08] cdjackson commented on #2694
Thanks - I’ve updated this device…

[2015-06-17 20:24] cdjackson commented on #2732
As a temporary measure it can be changed in the config file

[2015-06-17 20:49] sthoerner opened #2751 "openhab voice command problem"
Hi There,

I placed the following code in Items:

String VoiceCommand

and in rules:

 rule "VoiceControl"
        when
                Item VoiceCommand received command
        then
                        sendCommand(Markise, DOWN)
end

From my habdroid, I see that text is recognised if I tab the microphone, but nothing happens. Do I have to add an addon or so? What am I doing wrong? I cannot f

[2015-06-18 08:21] easypl opened #2754 "Openhab not starting - path name problem in startup.bat"
Openhab will not start if space char is in the openhab disk path.
Eg.: c:\my apps\openhab

[2015-06-18 10:17] lewie commented on #2732
Hmm, in my environment it compiles without errors?! Any other Mistake?
https://github.com/openhab/openhab/pull/2752#issuecomment-113037881

Helmut

[2015-06-18 11:48] ludodoucet commented on #2711
The manipulation that I did correct the problem, it's a bug unimportant. I close

[2015-06-18 11:48] #2711 closed

[2015-06-18 13:13] mstormi opened #2756 "zwave binding(?) timezone"
Hi,

I noticed that in habmin, timestamps such as last packet received of a device are shown in UTC only
The tz offset is included, still it's a bit distracting if you don't happen to live in either Greenwich or somewhere along the way to North Pole ...
That's at least true for my zwave devices. All other time prints I have seen are fine,  so I believe this to be caused inside the zwave binding.

[2015-06-18 13:22] cdjackson commented on #2756
I'll take a look to see if this can be changed, but in reality, this time isn't meant to be read directly. In HABmin1 it is displayed as it comes from the binding, but in HABmin2, it gets reformatted into local time. The time information that comes out of the binding is just in a standard ISO format so that it can easily be interpreted by the UI without any confusion.

[2015-06-18 13:44] cdjackson commented on #2756
Just a comment on why I chose the ISO format... By using a standard format, we can be sure we understand the time when it is transferred between machines (in this case between the OH server, and the user interface) and there is no ambiguity when decoding it in the user interface. This is important if you want to do any processing on the time, which again is what is done in HABmin2. In the case you

[2015-06-18 13:44] #2756 closed

[2015-06-18 15:26] mrguessed commented on #2694
Thanks Chris!

[2015-06-18 16:03] mstormi commented on #2756
Am 18.06.2015 um 15:23 schrieb Chris Jackson:

Ok... yes I agree, it's better to keep the standardized output and have
the GUI reformat it. If HABmin2 will do already, I'm fine.
(well, except that my Pi just crashed badly and now I'm struggling to
reactivate most of my home, but hey, keep smiling .... ).

regards
Markus

[2015-06-18 16:09] cdjackson commented on #2756
Thanks - this shows how Habmin2 presents this...

![image](https://cloud.githubusercontent.com/assets/1041475/8235833/3e78291a-15dc-11e5-97c1-741b7d55e2e9.png)

Or in a slightly buggy mix of German and French (it should all be in German, but I just realised something is wrong with the time part of the translation!)
![image](https://cloud.githubusercontent.com/assets/1041475/8235884/952a2506-15dc-1

[2015-06-18 16:21] sthoerner commented on #2751
its not the point of the snapshot. I have 1.7 installed on my raspi and it doesnt work either

[2015-06-18 16:35] hmerk commented on #2754
That's not an issue, it is listed in the WIKI setup instructions for Windows systems:
Note that there can't be a space in the path, so it can't be in program files in windows.
Best
Hans-Jörg

[2015-06-18 16:52] watou commented on #2756
I've quite enjoyed the mixed languages in HABmin2 -- please leave that as an option! :smile:

[2015-06-18 17:00] cdjackson commented on #2756
Maybe it’s a good test for language students :)

[2015-06-18 17:35] sthoerner commented on #2751
Problem solved. Tried another mobile -> Worked. Reinstalled habdroid on the first mobile -> works too.

[2015-06-18 17:35] #2751 closed

[2015-06-18 17:35] sthoerner commented on #2751
Problem solved. Tried another mobile -> Worked. Reinstalled habdroid on the first mobile -> works too.

[2015-06-18 20:14] #2731 closed

[2015-06-18 20:23] teichsta commented on #2732
hmm … you've now choose VARCHAR(200), why?

[2015-06-18 20:50] teichsta commented on #2754
yep, clearly stated …

[2015-06-18 20:51] #2754 closed

[2015-06-18 21:05] teichsta commented on #2709
good question … could you please provide more details @SnapStef?

[2015-06-18 21:09] teichsta commented on #2702
great so this can be closed :-)

[2015-06-18 21:09] #2702 closed

[2015-06-18 21:10] teichsta commented on #2687
thanks for this update … 

[2015-06-18 21:10] #2687 closed

[2015-06-18 21:11] teichsta commented on #2686
assuming #2703 fixed this issue!

[2015-06-18 21:11] #2686 closed

[2015-06-18 21:12] teichsta commented on #2665
assuming this is no issue anymore?

[2015-06-18 21:12] #2665 closed

[2015-06-18 21:15] teichsta commented on #2642
so how are we going to proceed with this issue?

[2015-06-18 23:05] berndpfrommer commented on #2642
Can somebody try the fix of pull request #2760?

[2015-06-18 23:37] dtriphaus opened #2761 "Problem with astro binding - events not fired"
Hi,
i am using the astro-binding to control my rollershutters. After a restart the binding works, but suddenly it stops to work, sometimes it takes some days, sometimes only one day till the events (sunrise, sunset) do not get executed anymore. I switched the binding loglevel to DEBUG and here is what it says (hint: restart was yesterday, first sunrise event this morning got fired, sunset this eve

[2015-06-19 05:50] ArmanUV commented on #1209
Is anyone working on this right now? I an willing to offer a cash bounty to anyone who can make this contribution.

[2015-06-19 07:19] watou commented on #1403
The non-appearance of the new Ecobee actions in the Designer is also an issue.  I have been looking for commonalities across the action bundles as to why some bundles' actions appear and some don't, but I have thus failed to find an explanation.  The Ecobee actions do not appear whether the Designer is run standalone, or from the IDE.  Also, the MiOS plugin is not listed in feature.xml, but adding

[2015-06-19 13:12] GASASB commented on #1209
I second that!

Count with me for this.

[2015-06-19 15:49] staehler commented on #1378
It seems that AVM (producer of fritzbox) decided to close the telnet port with the next firmware update.
http://www.heise.de/netze/meldung/Testversion-Fritzbox-Firmware-fuer-Vectoring-und-ohne-Telnet-2696116.html (german article about that)
Would be really great if someone can find a workaround, otherwise further firmware updates lead to openhab incompatibility :-1:

[2015-06-19 16:14] staehler opened #2762 "feature request: enhance items with alarm treshold"
As some of my items are also used to detect some critical states, it would be useful to set a treshold in items definition. When the treshold is trapped a alarm message/alarm image should be displayed or a alarm item could/should be switched.
The definition could look like this:

Number temp "Temperatur [%.1f °C]" { onewire="deviceId=28.0DA256050000"; treshold=40; "Temperature to high"; alarmItem=

[2015-06-19 21:54] solucionesmipc commented on #2745
Hi:
link for manual tz68 http://manuals.zwaveeurope.com/make.php?lang=en&type=&sku=TKB_TZ68-E&pdf=1

link for manual for tz78 http://portonlatino.com/tz78manual.pdf

i think tz78 is similar to tz06 in configuration edge, pulse, toggle pulse

Diego

[2015-06-19 23:56] xsnrg commented on #2642
10 restarts, 9 successes.  The 1 failure for zwave start is a different error I see once in while with z-wave though.  I will file a different bug for that.  I think it has to do with the state of the USB stick at the point OpenHAB wants to talk to it to initialize.  Not sure how many restarts you want to commit it, but is looking much better so far.

Thank you
Jim

[2015-06-20 05:10] #2744 closed

[2015-06-20 05:17] teichsta commented on #2732
can any of the other AddOn users can confirm the proposed fix (see #2764) is working for you?

[2015-06-20 08:03] dominicdesu commented on #2761
Hello,
this could be caused by by something locking up in your openhab instance, especially as it seems to happen at an arbitrary time. I had a similar issue where rule execution went into a deadlock situation: see #2646. Sometimes (or was it always?) the whole event bus stopped working because of that.

Next time this issue occurs, you could try to get the stack trace of the application. As descr

[2015-06-20 08:46] lewie commented on #2732
Sorry Thomas,
I was too hasty! (VARCHAR(200))
Problem was, undefined Sub-Types of GroupItems where set default to DOUBLE.
I changed to String, thought then all value Types can persisted. But it has absolutely no effect.

If a Group has a type Mapping in *.items (Group:String, Group:Number...) Mysql-Binding seems to work as expected, each type is associated with the correct data type.

I'm writing

[2015-06-20 10:56] snizzleorg opened #2768 "zwave thread not responding on Pi2"
I changed from a raspberry pi1 to a raspberry Pi2 because the Pi1 was a bit too slow for my taste with openhab and unfortunately the wave binding stops working after a few minutes.

the z-wave log shows this:

[code]

after that no z-wave events or commandos are transmitted anymore until I restart openhab
version is 1.7.0

java oracle jdk 7

I'm switching back to the Pi1

[2015-06-20 17:37] J-N-K commented on #2599
@teichsta: Could you please comment om this issue?

I have implemented a sumSince in my development branch, this fixes the deltaSince issue. However, averageSince is still affected.

[2015-06-20 18:24] Truxen opened #2769 "[DSMR] Missing timestamp of Gas-value with ACE4000 GTMM Mk3"
Used is the DSMR-binding
I'm getting this message:
Failed to parse OBIS identifier 7-0:23.1.0*255, values:[02339.900*m3, 15-06-17 13:00:00]

for the gValues. Gas-Meter is attached via MBus to my ACE4000 GTMM Mk3

[2015-06-21 08:23] stephjj commented on #1566
Bug still present in 1.7
RFXComLighting6Message.java unusable without the following patch:
public String generateDeviceId() {
		 return sensorId + "." + groupCode + "." + unitcode;
	}

[2015-06-21 08:27] lewie commented on #2732
I had to take a closer look.

**All db relevant Types for Items: (can be UnDefType too, not relevant for Database):**
[code]

**Results current Mysql-Binding:**
[code]

First Question is, how to deal with Types like IncreaseDecreaseType, StopMoveType?
OnOffType can be interpreted as ON=100 and OFF=0
Next is, how to deal with Types OnOffType and PercentType of ColorItem? Or is it well to use HSBTyp

[2015-06-21 08:35] resetnow opened #2771 "projects.itemis.de is down, unable to initialize development environment"
https://projects.itemis.de seems to be down for quite a while. This repo provides org.fornax.toolsupport 3.4.0 and 3.3.0, is there a usable mirror?

[2015-06-21 08:51] resetnow commented on #2268
@mpiscaer try mobile-debug.apk, I get the same error when trying to install mobile-release.apk file.

[2015-06-21 09:31] BoydHitchcock opened #2772 "RFXCOM Add binding support for OWL CM113, Electrisave, cent-a-meter"
Is there a possibility that OWL - CM113 could be added to the RFXCOM binding.

openhab error =
08:46:07.931 [ERROR] [.rfxcom.internal.RFXComBinding:279  ] - Error occured during packet receiving, data: 0D59010C8900070000001A000079
org.openhab.binding.rfxcom.internal.RFXComException: Message CURRENT not implemented
        at org.openhab.binding.rfxcom.internal.messages.RFXComMessageFactory.getMess

[2015-06-21 11:29] lewie commented on #2705
Changed Statements to preparedStatement
Updates coming with: https://github.com/openhab/openhab/issues/2732#issuecomment-113710184
Rgds Helmut

[2015-06-21 12:02] watou commented on #2705
Would it be possible to have separate pull requests for these two separate issues?

[2015-06-21 13:33] luketucker commented on #2746
Fixed and tested. Pull request created.

[2015-06-21 14:34] cdjackson commented on #2746
#2773

[2015-06-21 14:40] cdjackson commented on #2746
Thanks. Now merged…

[2015-06-21 15:14] resetnow commented on #2771
So I pulled out these files from the Vagrant VM (repo can be found in `~/.m2/repository`), however, this repo should probably be replaced if it doesn't go online.

[2015-06-21 17:15] kaikreuzer commented on #2268
@belovictor Could we reduce the number of different downloads or at least make it more obvious which one needs to be taken?

[2015-06-21 18:47] Liukkjan opened #2775 "Cannot start openhab-runtime demo on Xbian distro RPi2"
Hi,

I have a problem with openhab-runtime. I have tried several days now install via different methods (.deb package, zips, different versions or snapshots). It all comes down to these weird eclipse osgi errors. I have also tried googling them, a lot, but can't find anything.

Do you guys have any ideas what these mean?

uname -a:
Linux xbian 3.18.8+ #1 SMP PREEMPT Thu Mar 5 03:13:36 CET 2015 arm

[2015-06-21 21:26] SnapStef commented on #2709
I tested it several times now. While running OpenHab 1.7 in debug mode I can't observe the described bug. Running OpenHab in production mode the rules just don't work.

[2015-06-22 10:05] udo1toni commented on #2732
As far as I understand, a persistence Service should store states, not commands. So I think, commands should be ignored completely. OFF as state is in case of Dimmer or HSB same as 0. Instead of ON as state the correct dimming state (or HSB state) should be persisted (default brightness or HSB, should be reported from Item anyway in case of ON-command).

[2015-06-22 10:20] cdjackson commented on #2732
The persistence service doesn't know anything about commands - it just gets called when the persistence manager tells it to store (or retrieve) something.

[2015-06-22 11:43] lewie commented on #2732
Then:
I.	**CallItem:**  Typ as VARCHAR(200)
[code]

II.	**LocationItem:**  Typ as VARCHAR(30)
[code]
III.	**RollershutterItem:** like Dimmer TINYINT
Code seems to be pretty well, I will test again.

IIII.	**Identifying GroupTypes:**
1. GroupItem:<ItemType> 		-> using given ItemType
2. GroupItem:<NO ItemType here>	-> Using Type of first Group-Member
This solution is only useful, if mixed Groups can

[2015-06-22 11:58] #2747 closed

[2015-06-22 12:28] xsnrg commented on #2642
Still working for me.  @sarnau did you get a chance to try it?

[2015-06-22 16:00] sarnau commented on #2642
Sorry, no, I am in the process of moving and extremely occupied at work right now. Are there any other bindings to the serial port, which might be affected? I would assume that any combination of two or more serial port bindings can run into this.

[2015-06-22 16:46] dtriphaus commented on #2761
Hi @dominicdesu,
thanks for your suggestion. I just saw that that the astro binding stopped working this morning so I used jstack to get a dump. Well, I do not see a obvious reason (mabye because I am too dumb to analyze it ;) ). Can you have a look it? -> http://pastebin.com/7Vin6Tdm

Thanks a lot!

[2015-06-22 20:02] teichsta commented on #2771
fixed through #2783

[2015-06-22 20:02] #2771 closed

[2015-06-23 07:58] belovictor commented on #2268
The set of files on cloudbees is just standard build output of an Android project. What do you want to reduce?

[2015-06-23 12:40] CWempe opened #2785 "[owserver] special characters in <serverId> create issue"
Special characters in <serverId> do not work for the owserver-config.

openhab.cfg:

*.items:

openhab.log:

org.openhab.model.item.binding.BindingConfigParseException: bindingConfig '<test-01:A7000004XXXXXXXX:Temperature:60000' doesn't contain a valid binding configuration

2015-06-23 14:27:51.038 [INFO ] [.service.AbstractActiveService] - OWServer Refresh Service has been shut down

When I chang

[2015-06-23 19:20] dominicdesu commented on #2761
Hi @dtriphaus I wish I could help as this sounded similar to my problem but the stacktrace you have posted indicates otherwise. The trace looks fine in my opinion, I also cannot see any obvious issue...

Maybe @gerrieg can help? :-)

[2015-06-23 19:41] dtriphaus commented on #2761
No problem, thanks for trying! :)

[2015-06-23 21:22] #2769 closed

[2015-06-24 06:38] lolodomo opened #2789 "Freebox binding not working well when in bridge mode"
When the Freebox Revolution is in bridge mode, the binding does not retrieve information and does not update items.
The reason is that UPnP AV and AirMedia settings are not available when the Freebox is in bridge mode.

[2015-06-24 07:08] gerrieg commented on #2761
Hi @dtriphaus
The astro binding is using the provided quartz scheduler. The interval job is scheduled at startup and never again, so if it stops suddenly, the problem is elsewhere.

What i am missing in your debug log is for each Switch item, there should be a message like:
[code]
or
[code]
You should see, which jobs the astro binding is scheduling.

I think the guess from @dominicdesu goes into t

[2015-06-24 07:34] georgwiltschek opened #2791 "Digitalstrom binding Token 11 error"
I always get some kind of error from the Digitalstrom binding after a couple of days. I can still switch on lights and get sensor values, but I don't get the dss events (i.e. rules won't fire when triggered by Digitalstrom devices).

[code]

after that I still get some sensor values (which are pulled from the dss actively), but mostly errors and no events:

[code]

[2015-06-24 12:55] itheiss commented on #2748
As far as I can see the the InfluxDB 0.9 java api was released.
https://github.com/influxdb/influxdb-java

Hope you can jump right in :smile:

[2015-06-24 20:46] dtriphaus commented on #2761
Hi @gerrieg,
thanks for joining the problem :)
First of all: I am using openhab 1.7.0.

The "missing" log entries are there, I just missed them in my first post. After a restart the binding is working as expected for some time (one or several days...):

2015-06-22 00:00:03.936 DEBUG o.o.b.a.i.job.JobScheduler[:207]- Scheduled job with name Rollershutter_Up_Event at 2015-06-22 05:02:00
2015-06-22 0

[2015-06-25 00:55] dbgha opened #2798 "zwave binding: heal breaks connection to battery devices out of direct reach of controller"
Openhab 1.7 with 1.7 zwave binding. I have a fibaro FGMS001 sensor (node 16) which is out of direct controller (node 1) range, but is in range of many powered repeater nodes of various types (the closest is 2 metres away with no obstruction, another about 5 metres, no obstruction, plus 2 more within 5 metres but through a hollow plasterboard wall. All these powered nodes have no problems communica

[2015-06-25 05:44] theoweiss commented on #2748
Thanks for the hint. I'll give it a try this weekend. Unfortunately the api is not compatible with influxdb <0.9.

[2015-06-25 07:02] gerrieg commented on #2761
Hi @dtriphaus!

It's the scheduler which stops, not the binding. If the binding logs 'Scheduled job with name .. at ...', the work is done for the astro binding. The execution of the job is done by the scheduler which is part of openHab.

1.) I am using this scheduler in other projects too and noticed, that sometimes the scheduler stops if the system clock is set. But that problem was with an olde

[2015-06-25 17:53] gerrieg commented on #2761
We can exclude point two, no binding you are using deletes jobs from the scheduler, except the astro binding itself.

Another idea is memory. Maybe you can try to start openHab with more memory for java.

[2015-06-25 18:11] dtriphaus commented on #2761
Thanks for your suggestions @gerrieg and thanks for your help eventhough the problem is not related to your binding!
I will try out step by step and let you know when I got any new insights.

[2015-06-26 00:17] SkynetHome opened #2799 "Please add these to database!"
Can someone please add these devices to Z-Wave database or point me in the direction of some information on how I can chip in and add them myself. They pair up with controller fine and are listed as linear devices. But I get an error that there is no doSet in database and they are not healing or talking to openhab!

http://www.homedepot.com/p/GoControl-GoControl-Essentials-DIY-Home-Security-Kit-Z-

[2015-06-26 00:33] SkynetHome commented on #2799
Well this MAY be unnecessary. I had the back of the device off and once I put it on it was recognized as a  Linear device. Still having trouble communicating with it but that may be on my end. Will update after restart and reconfigure!

[2015-06-26 07:28] kaikreuzer commented on #2742
FYI, I have implemented this in Eclipse SmartHome, so for openHAB 2, the only required path to use the ClassicUI will be /classicui.

[2015-06-26 10:25] Nebula83 commented on #1322
I appears to be that one has to set the listening port in config (tcp:port=25001) and then set

String TcpServer "Tcp server receive: [%s]" <bath> (Office_Desk) { tcp="<[127.0.0.1:*:'REGEX((.*))']"}
(replaced 25001 by *)

What I think happens is that the binding filters on the client port rather than the server port. The server listens for clients at 25001 but client connect via random free ports

[2015-06-26 12:23] lewie opened #2801 "JSR223: Extended for working with javascript."
Extended Bundle for working with javascript (nashorn only).
On startup openhab needs extclassloader (-Dorg.osgi.framework.bundle.parent=ext in start.sh) directive for loading classes dynamically in nashorn.

Two small Bugs are done too:
1. BUG: Include OSGI-INF content jsr223engine.xml for Bundle can start in OpenHab runtime.
2. BUG: corrected "source.." and "output.." , now the Bundle can started

[2015-06-26 12:49] Speederc commented on #2772
Hi BoydHitchcock,
I prepared 2 files to add this CM113 support but unfortunately I'm not able to compile them before next week. Are you able to do it ? If yes the files are there :
https://github.com/Speederc/openhab/blob/Speederc-RfxComCM113/bundles/binding/org.openhab.binding.rfxcom/src/main/java/org/openhab/binding/rfxcom/internal/messages/RFXComCurrentMessage.java
https://github.com/Speederc/o

[2015-06-26 13:12] spacemanspiff2007 opened #2803 "ZWave: Add support for StellaZ"
Hi,

could you please add support for the Stella Z?
http://www.pepper1.net/zwavedb/device/422

Thank you!

[2015-06-26 13:47] lewie opened #2804 "PostgreSQL: Initial new PostgreSQL Persistence Service."
I am using it since OpenHab 1.4, this Version I have extended now for 1.8.
Its rewritten and extended originally from the MySQL-Service.
Main Differences:
- Tablenames are more readable
- Tablenames can be reconfigured
- Can work with original Databasemodel of MySQL- Service

Advantage over jba-Persistence-Binding:
Every Item gets its own Table with matching data type.

[code]

Regards
Helmut

[2015-06-26 15:39] tinamore opened #2806 "How to ensure reliability after the switch ON or OF Light by MQTT ?"
Hi
I have build simple openHAB for control Light via MQTT.
...
Switch mySwitch {mqtt=">[mybroker:/myhouse/office/light:command:ON:1],>mybroker:/myhouse/office/light:command:OFF:0]"}
...
If all connection between devices and server, and status of devices is running good, when send signals ON or OFF then devices will ON or OFF is very well. But in fact, devices can crash or error and can not done re

[2015-06-26 15:51] PelicanHu opened #2807 "MiLight binding brightness for RGBW bulb: mouse click doesn't work in version 1.7.0"
Just noticed, that the brightness control of MiLight RGBW bulb doesn't work in version 1.7.0 normal GUI.
This line works in 1.6.2:

Dimmer MiLightDim_Office "brightness [%.0f]" (GrMiLight) {milight="Bridge1;7;brightness;27"}

The number doesn't change on the screen and the brightness doesn't change on the bulb if I click on the arrows. Also the openhab server doesn't get any message from the GUI (

[2015-06-26 16:09] cdjackson commented on #2803
I would encourage you to try and produce the files yourself if you can as it will be faster than waiting for me to do it -:
https://github.com/cdjackson/HABmin2/wiki/Z-Wave-Product-Database <https://github.com/cdjackson/HABmin2/wiki/Z-Wave-Product-Database>

Otherwise I will do it, but it might be a few weeks...

[2015-06-26 18:02] spacemanspiff2007 commented on #2803
I had some trouble setting it up as it is not straightforward.
Somehow I managed to get another NIF and now it shows a Name in the Device-Explorer.
But now I get this:
[code]

[2015-06-26 18:24] SkynetHome commented on #2799
Just committed an attempt at adding this myself.  Pull request#2809  This can probably be closed!

[2015-06-26 18:27] cdjackson commented on #2803
Don’t worry about this one...

This is probably ok - it shouldn’t be an error, just debug… I’ll change it…

Can you create a PR for this so I can check the XML file and confirm that this ‘ERROR’ is ok?

[2015-06-26 18:28] cdjackson commented on #2799
Thanks - definately appreciated :)

[2015-06-26 18:28] #2799 closed

[2015-06-26 22:20] hmerk commented on #2807
Is it working with habDroid ? If so, this is not a Milight binding issue, but a GUI issue and the title should be changed accordingly.
Best
Hans-Jörg

[2015-06-27 03:35] udo1toni commented on #2806
You can set `autoUpdate=false` in Item definition, so Status in openHAB is only set, if openHAB receives a Status update from binding.

[2015-06-27 05:46] tinamore commented on #2806
Can you give me a example ?
I search in wiki openhab, but i can not found syntax for autoUpdate=false in Item definition.
Thank for response

[2015-06-27 07:40] PelicanHu commented on #2807
What do you suggest?

[2015-06-27 11:34] berndpfrommer commented on #971
Not strictly my business, but I think this issue can be closed now. @christopherjenkins can try the new InsteonPLM binding as an alternative.

[2015-06-27 16:30] resetnow commented on #2807
This is most likely a GUI issue, slider is implemented in https://github.com/openhab/openhab/pull/2792, but needs testing

[2015-06-27 16:35] BoydHitchcock commented on #2772
Hi Speederc,
Thank you for producing the files, I will give it a go compiling and let you know the result.

[2015-06-27 21:57] hmerk commented on #2807
Like @resetnow commented, it seems to be a GUI but no Milight issue.
This could be proved by using the native apps. If there is no lack of functionality, that's the prove.
What browser are you using?

[2015-06-28 08:34] spacemanspiff2007 opened #2814 "http binding ignores timeout parameter in config"
Hi,

I want to set the timeout for the http-config higher and changed the config to the following:
[code]
Unfortunately this has now effect as I get the following error:
[code]

[2015-06-28 08:40] BoydHitchcock commented on #2772
Hi Speederc,

I have a compilation error for the following lines:-
		data[7] = (byte) (((channel1Amps * 10.0) >> 8) & 0xFF);
		data[8] = (byte) ((channel1Amps * 10.0) & 0xFF);
		data[9] = (byte) (((channel2Amps * 10.0) >> 8) & 0xFF);
		data[10] = (byte) ((channel2Amps * 10.0) & 0xFF);
		data[11] = (byte) (((channel3Amps * 10.0) >> 8) & 0xFF);
		data[12] = (byte) ((channel3Amps * 10.0) & 0xFF);
e.g

[2015-06-28 09:14] watou commented on #2814
Reading the code, it looks like time the `http:timeout` value is being correctly parsed and set, but is generating the error message regardless.  If exceptions were added for `http:timeout` and `http:granularity` config options to [this line](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.http/src/main/java/org/openhab/binding/http/internal/HttpBinding.java#L409

[2015-06-28 09:26] spacemanspiff2007 commented on #2814
I can test the change, this should be no problem.
Maybe you can include a message output on startup which shows the values.

[2015-06-28 10:38] slawekjaranowski opened #2816 "Classic UI auto scroll to top."
When we have many items on one page and items don't fit on one screen, we can scroll page to bottom.

Now when one of item change status page is scrolled to top.

So when we have on long page one item which change status frequently it is very difficult to see bottom items.

The same situation is on the page where we only have groups. When some items of group is changed, page is scrolled to top eve

[2015-06-28 13:10] watou commented on #2814
I don't think extra INFO logging would be well received, and it shouldn't be necessary in my opinion, when the binding is well documented and doesn't accidentally issue misleading log entries.  I will update the wiki page with descriptions of the default values for `http:timeout` and `http:granularity` so it's clearer.

[2015-06-28 13:16] spacemanspiff2007 commented on #2803
Hi,

I have another Problem:
The Device supports the following Set-Modes:
[code]
I thought it would be clever to control the valve directly, that's why I bought the StallaZ.
However, the Thermostat-Mode doesn't seem to be applied to the Device.
When searching through the logs I found the following entries:
[code]

It seems that the message is not sent
[code]

How can I send mode 31?

[2015-06-28 13:27] resetnow commented on #2807
As a side note, slider does not work at all for me with openHAB 1.6.2. The request is being sent when you click and/or hold the button, but the dimmer does not react. Request URL:
[code]
@PelicanHu try using a setpoint widget in addition to slider:
[code]

[2015-06-28 14:17] cdjackson commented on #2803
Are you running a recent version of the binding? i.e. in the past week or so?

[2015-06-28 14:22] tinamore commented on #2806
Ok,
I have solved. Project now run good

{mqtt=">[mosca:/mqtt/command/1:command:ON:1],>[mosca:/mqtt/command/1:command:OFF:0],<[mosca:/mqtt/status/1:state:ON:1],<[mosca:/mqtt/status/1:state:OFF:0]", autoupdate="false"}

[2015-06-28 14:22] #2806 closed

[2015-06-28 15:39] Speederc commented on #2772
It should work with data[7] = (byte) (((int)(channel1Amps * 10.0) >> 8) & 0xFF); for example.
Otherwise I will compile it on Wednesday.

[2015-06-28 15:59] spacemanspiff2007 commented on #2803
Hi, I am running 1.7.0. Should I try the nightly build from cloudbees?

[2015-06-28 16:05] cdjackson commented on #2803
Absolutely - the latest snapshot I think will solve your problem. (hopefully :) ).

Cheers
Chris

[2015-06-28 16:25] spacemanspiff2007 commented on #2803
Unforutnately not :-(
As you can see in the last line, something still doesn't work out.
[code]

[2015-06-28 16:33] Mr-Token opened #2817 "Z-Wave: Help with vision security In-Wall 2 relays switch & In-Wall relay switch xml"
-
Dual Relay Switch
-
Its a no logo switch from monoprice, but comes up as Vision Security

http://downloads.monoprice.com/files/manuals/11990_Manual_141204.pdf
http://www.pepper1.net/zwavedb/device/462

My items looks like this.
Switch Z_NodeTwoZero  "Node 2 binding of 0" (Lights) {zwave="2:0:command=SWITCH_BINARY"}
*I added the above otherwise on start up i get an warnings about no binding on  e

[2015-06-28 16:46] J-N-K commented on #2599
After thinking a while about the averageSince problem: IMHO it is wrong to use the current value in calculations of averageSince or similar functions, at least the current implementation is bad.

We check whether the last persisted value is equal to the current value. If so, we use only persisted data, if not, we add another datapoint with the curent value. This assumes that the current value was

[2015-06-28 16:53] cdjackson commented on #2803
Ok - please raise an issue on github regarding the thermostat mode and I’ll take a look when I get a chance.  We really should close this issue as the stellaZ was added to the database and it gets confusing when we start fixing other issues on an unrelated issue…

Cheers
Chris

[2015-06-28 16:57] spacemanspiff2007 opened #2819 "ZWave: Thermostat mode 0x13 (direct control) not supported by the binding"
Hi
As described earlier (#2803) the direct control for thermostats is not supported by the binding.
Hi,

I have another Problem:
The Device supports the following Set-Modes:
[code]
I thought it would be clever to control the valve directly, that's why I bought the StallaZ.
However, the Thermostat-Mode doesn't seem to be applied to the Device.
[code]

The message is not been sent:
[code]

[2015-06-28 17:00] spacemanspiff2007 commented on #2803
Hi, I created #2819.
Thank you for your help!

[2015-06-28 17:00] #2803 closed

[2015-06-28 17:02] cdjackson commented on #2819
Just to be 100% sure, you’re using the latest off cloudbees today?  If so, can I ask you to try again tomorrow before I look into this since I believe a change to this issue was merged on Friday - see here (https://github.com/openhab/openhab/pull/2808 <https://github.com/openhab/openhab/pull/2808>). I would have thought it would be in todays snapshot, but it might just be that it’s not made it thr

[2015-06-28 17:03] cdjackson commented on #2803
Thanks.

[2015-06-28 17:26] BoydHitchcock commented on #2772
Hi Speederc
Correct works fine with the suggestion.
I also adjusted,
public byte[] decodeMessage() {
		byte[] data = new byte[13];

items=
/*  ELEC1 - OWL CM113, Electrisave, cent-a-meter */
Number Owl_Amps { rfxcom="<35072:Channel2Amps"  }
String Owl_raw  { rfxcom="<35072:RawData"  }

Then from the openHab.log
2015-06-28 18:20:56 - Owl_Amps state updated to 4.2999999999999998223643160599749535322

[2015-06-28 17:32] spacemanspiff2007 commented on #2819
Hi,
I downloaded it after you recommended it.
File-Date shows 27.06.2015 - 03:21 which corresponds to the change history.
Is there the build-number or something hidden somewhere?
Otherwise I'll download it again tomorrow ... .

[2015-06-28 17:36] cdjackson commented on #2819
Yes - if you look in the zwave log, search for "Z-Wave binding started” - there’s a version/build date on this entry.

[2015-06-28 17:37] spacemanspiff2007 commented on #2819
[code]

[2015-06-28 17:43] cdjackson commented on #2819
I just checked the change log on cloudbees and it looks like this should have been included. I’m not sure I’ll get to look at this tonight...

[2015-06-28 17:49] cdjackson commented on #2819
Firstly, can you post the XML file for this node (from /etc/zwave).
Then, either delete the XML file and restart the binding… OR - if you have HABmin, you should be able to click on the node, and click the “reinitialise node” button (it might have a slightly different name).  This might solve the problem.
Then repost the XML...

[2015-06-28 18:08] spacemanspiff2007 commented on #2819
Original XML:
[code]

[2015-06-28 18:10] cdjackson commented on #2819
Thanks - I think when you restart after deleting the XML, it will work...

[2015-06-28 18:21] spacemanspiff2007 commented on #2819
Neu xml:
[code]

[2015-06-28 18:29] cdjackson commented on #2819
Does it work now? I see it’s now reporting that it supports MANUAL mode, which it didn’t before...

[2015-06-28 18:37] spacemanspiff2007 commented on #2819
I am still figuring out the Thermostat Setpoint - mode.
Because it didn't work I changed my rules to the THERMOSTAT_SETPOINT, but because of the infrequent wakeup of the device testing is very hard.
It seems that the wakeup period is not long enough so that all messages get delivered, but I am not sure yet.
After some more testing I'll switch back to manual mode and let you know.
Thank you for you

[2015-06-28 19:34] theoweiss commented on #2748
I started diving into influxdb 0.9.
Oops: docs are in alpha state, influxdb-java is not yet released, unlike stated in the Readme.md :-(( . Nevertheless I compiled the java api on my own and gave it a try. There are lots of api changes and the api is not backwards compatible with influxdb < 0.9. Furthermore there is not yet a migration path from versions. Therefore I decided to put the influxdb 0.

[2015-06-28 20:54] anordvall commented on #1603
I've just started trying out openHAB and have run into the same issue and would love to see it fixed. When I send the restore command the "doorbell.mp3" remains at the top of the queue and the queue being resumed is the wrong one (it's from when selecting "replace queue" in Sonos, i.e. before tracks has been e.g. manually removed from the queue)

This is kind of a showstopper for me when selecting

[2015-06-29 07:59] schinken commented on #2649
Anything new about the verification key? Installing from packages without verification feels wrong.
Would be nice to have one in the near future

[2015-06-29 10:15] Extrabannies commented on #2517
Hi,
Same here.
OpenHab crashed several nights, with similar error logs.
Crashes started occurring (at least I believe they did), since I have implemented an http command in combination with a mySQL database.
Just out of curiosity: Are you using a similar set-up?
Cheers

[2015-06-29 14:11] petrklus commented on #1961
... any updates?

[2015-06-30 06:17] sja commented on #1961
No updates from my side. Is there still an issue with this?

[2015-06-30 12:08] PelicanHu commented on #2807
Setpoint works an opposite way. It works with click but doesn't work with holding the mouse button down.

[2015-06-30 14:10] digitaldan commented on #1961
I have not heard any feedback one way or another.

[2015-06-30 15:01] SkynetHome commented on #2177
NigelCoxon: I added suggested code for testing, if the merge is approved please let me know how this works out!

[2015-06-30 15:38] zacofany commented on #1961
Hi, I will check if this issue still exist in my case and confirm till the end of the week. Cheers.

[2015-06-30 18:04] wbuh opened #2826 "Homematic: Support of ONTIME"
Could you please insert a direct support of the ONTIME Parameter of a homematic actor, so that these device channels can be switched ON or OFF for a specific period that is controlled by the actor device itself?

[2015-06-30 19:42] dtriphaus commented on #2761
Don't know if the problem is gone but no issues since last restart for several days after I increased memory. Standard max heap was 256m, increased to 768m. I will do further investigations and report any news.

Thanks again for the memory hint @gerrieg

[2015-06-30 20:55] SkynetHome commented on #2177
Now NigelCoxon: Hopefully this one is done right and will be merged for you to test! Sorry about the confusion earlier, I am learning!

[2015-06-30 21:13] SkynetHome commented on #2178
NigelCoxon: I am working on this. I dont have a Heatmiser so can you clarify something. Do you just need the RUNMODE command recognized as simple ON/OFF or does this need to have the functionality of creating a set time to run like HOLIDAY MODE or HOLD MODE?

[2015-06-30 21:27] SkynetHome commented on #2187
Can you confirm the model number of the product you are using the current binding shows no configuration parameters for the LCZ-251.

[2015-06-30 21:44] SkynetHome commented on #2745
I have been unable to find any specific data on the TZ78. The manual provided overs next to nothing in the way of explaining what the device is capable of. I found one forum where a user suggested that the TZ78 functions like a TZ06. I can copy that configuration and you can test and see how it works out. Though without more specifics there is no way for me to know that your device has all of the

[2015-06-30 21:53] SkynetHome commented on #2745
Correction the Z06 is a dual relay where is the TZ8 is a single relay. I will try to edit for differences and issue a PR for you to test!

[2015-06-30 23:06] SkynetHome commented on #2676
Are you sure these devices are compatible with endpoints? Have you tried removing the end point and setting up your item like this
Switch G1 "G1"(All,Outside) {zwave="14:command=etc etc)
Just throwing that out there as I have seen that cause people problems with other devices.

I would be happy to add these devices to the database.
What are the Type and ID numbers showing for the device in habmin?

[2015-06-30 23:17] solucionesmipc commented on #2745
Great, i am ready to test it.

thanks a lot

[2015-06-30 23:18] SkynetHome commented on #2653
Chris I am going to get to work on adding this! Is there a database that shows the hex decimal values for each command class?

[2015-06-30 23:20] SkynetHome commented on #2745
My pleasure. I had to hack that together based on best guesses. So be
patient it gets merged and there is a problem let me know and I'll get it
worked out!
On Jun 30, 2015 6:17 PM, "solucionesmipc" <notifications@github.com> wrote:

[2015-06-30 23:38] SkynetHome commented on #2653
Chris: Nevermind I think I figured it out!

[2015-07-01 00:10] XenonofArcticus commented on #2653
I don't know much about it myself. I believe it is a variant of the Remotec ZTS100, so I suspect it has the same command classes as the 100, but with a different product ID. Habmin says it's a Remotec ID 8031 type 200.

[2015-07-01 05:35] #2705 closed

[2015-07-01 05:39] teichsta commented on #2705
which two issues do you see?

[2015-07-01 06:12] cdjackson commented on #2676
I suspect given this is a dual switch device that it must support endpoints, but this question would probably be better answered in the mailing list where more people are available, and someone might have this device.

[2015-07-01 06:20] cdjackson commented on #2653
You can look [here](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.zwave/src/main/java/org/openhab/binding/zwave/internal/protocol/commandclass/ZWaveCommandClass.java#L360) for the command classes.

To be honest, they aren't used except in certain circumstances (ie when we have to customise the classes to fix a bug in the device).

[2015-07-01 06:37] teichsta commented on #2816
Hi @slawekjaranowski,

this is a know issue which has been discussed quite often already. In short: this is a conceptual problem of the Classic-UI implementation (see https://groups.google.com/d/msg/openhab/nS8LyDMkahE/or1Va2ZsxUoJ) which is not that easy to solve.

We might leave this issue open for further technical discussion that may arise.

Best, Thomas E.-E.

[2015-07-01 07:47] snizzleorg commented on #2187
@SkynetHome not sure what exactly you mean but this is the xml for one of the Danfoss Thermostats
[code]

[2015-07-01 07:57] gerrieg commented on #2826
That's supported, the Dimmer must be off and you have to set the ON_TIME value every time before you turn on the dimmer.

Example:
[code]
Turns the dimmer on with 50%, after 5 seconds it turns off

[2015-07-01 09:22] teichsta commented on #1303
fixed meanwhile. getVersion() is no longer used …

[2015-07-01 09:22] #1303 closed

[2015-07-01 09:23] #906 closed

[2015-07-01 09:24] teichsta commented on #2135
works meanwhile …

[2015-07-01 09:24] #2135 closed

[2015-07-01 09:25] teichsta commented on #933
according to @gerrieg this issue is outdated …

[2015-07-01 09:25] #933 closed

[2015-07-01 09:26] teichsta commented on #782
according to @gerrieg this issue is outdated …

[2015-07-01 09:26] #782 closed

[2015-07-01 09:26] teichsta commented on #461
according to @gerrieg this issue is outdated …

[2015-07-01 09:26] #461 closed

[2015-07-01 09:27] teichsta commented on #254
according to @gerrieg this issue is outdated …

[2015-07-01 09:27] #254 closed

[2015-07-01 09:29] #2826 closed

[2015-07-01 09:29] teichsta commented on #266
according to @gerrieg this issue is outdated …

[2015-07-01 09:29] #266 closed

[2015-07-01 09:32] teichsta commented on #2497
openHAB Jenkins build recently passes. I would assume this was a temporary issue? Feel free to reopen if this issue still applies for you. Thanks, Thomas E.-E.

[2015-07-01 09:32] #2497 closed

[2015-07-01 09:32] teichsta commented on #838
according to @gerrieg this issue is outdated …

[2015-07-01 09:32] #838 closed

[2015-07-01 09:34] teichsta commented on #1389
doesn't seem to apply anymore. Please feel free to reopen if this issue still applies to you …

[2015-07-01 09:34] #1389 closed

[2015-07-01 09:34] teichsta commented on #1956
doesn't seem to apply anymore. Please feel free to reopen if this issue still applies to you …

[2015-07-01 09:35] teichsta commented on #1956
@fasa01 does still issue still apply?

[2015-07-01 09:36] #223 closed

[2015-07-01 09:42] teichsta commented on #2517
This doesn't seem to be general problem. Can you please give some more insights about your specific configuration (Bindings, OS, JVM, etc.)?

[2015-07-01 09:45] teichsta commented on #2239
will be followed on in #1643

[2015-07-01 09:45] #2239 closed

[2015-07-01 09:46] #2226 closed

[2015-07-01 09:46] #1894 closed

[2015-07-01 09:51] #1804 closed

[2015-07-01 10:19] cdjackson commented on #2187
I actually think we should close issue this unless there is an action to implement in the software. As far as I know, there's nothing that we can do in the binding to help this - I changed the hold time from 2 to 1 second a long time ago (last year I think) which should help a small amount if the wakeup period is set quite short, but I don't believe there's anything else that we can do.

If there

[2015-07-01 11:02] Liukkjan commented on #2775
It was the extra JAVA ARGS "-Djava.security.egd=/dev/random". I added it to the start.sh and init script. Closing the issue.

[2015-07-01 11:02] #2775 closed

[2015-07-01 12:18] devTechi commented on #771
Hi. Enhancement works great. Thanks.

But is there a way too how we can send multiple attachments? Would be nice to be able to send more than just one image of a cam.

[2015-07-01 13:30] xsnrg commented on #2642
Still working.  I see the corresponding ticket was merged to master over a week ago as well.  I am okay with closing this unless there is still a zwave/insteonplm serial issue.  I know there is a broader change to be worked on that affects serial in general.

[2015-07-01 14:05] SkynetHome commented on #2653
Thanks Chris, I got a little thrown at first by the sheer number of configuration parameters available for this device. The other thermostat files seems to be pretty sparse but I put it all together last night and will commit shortly as soon as i am sure about my product file.

[2015-07-01 14:08] XenonofArcticus commented on #2653
Thank you! I can give it a try when it's ready.

[2015-07-01 14:13] SkynetHome commented on #2187
Snizzleorg, yes that is for one of the danfross thermostats but your model number is not coming up as one. Even that thermostat shows no configurable options that I can see affecting battery life. I was hoping that there would be something to configure like the options on a Fibaro Motion Sensor some of which can drastically affect battery life but there apparently are no such options or parameters

[2015-07-01 14:51] DivineThreepwood commented on #1389
Sorry for the late response. It wasn't really a binding problem but a gateway configuration issue.
During the testing phase we just registered the homematic devices so they were listed in the gateway "inbox". Without pressing the "done" Button in the inbox webview of the CCU, the gateway broadcasts no list of these registered devices to the binding. But sensor updates are already published by the

[2015-07-01 14:56] SkynetHome commented on #2653
Chris, when you get a chance could you take a look at the message I sent last night regarding my concerns about committing another product file update before an open pull containing a products.xml is merged. It was in response to my Heatmiser pull that someone else merged late last night (my time). I have this ready to go but dont want to run into merge conflicts again.

[2015-07-01 15:08] SkynetHome commented on #2798
I have had the identical problem with the same device. My current workaround is to disable the heal altogether and my fgms has been running flawlessly for a week along with the rest of my system.

[2015-07-01 15:20] SkynetHome commented on #2350
I have been running the same Aeon Stick on a Raspberry Pi 2 for over a month now with no problems. The only time I have had an issue with the /dev/tty/USBO was when I unplugged the stick while the pi was running to take it to the other side of the house and manually include a device and then once plugged back in I got an error. A simple restart of the Pi 2 solved this and so anytime I need to manu

[2015-07-01 19:13] cdjackson commented on #2746
Implemented as above

[2015-07-01 19:13] #2746 closed

[2015-07-01 19:14] #2438 closed

[2015-07-02 13:21] SkynetHome commented on #2745
solucionesmipc: Please let us know if the device is working properly as soon as possible as this was merged despite some concerns about the parameters with so little information to work from!

[2015-07-02 14:02] SkynetHome commented on #2768
This is odd. I am running Openhab on Pi 2 with Aeotec Z Stick Gen 2. I currently have 14 Z wave Nodes both mains wired and battery operated and all have been working fine since day one. Only difference is I have Java JDK 8 but I cant imagine that is the problem. Are you running Raspbian?

[2015-07-02 14:49] jkeenest opened #2841 "Error when running start.bat in Windows"
I get the below error when launching the batch file.  It appears to be an issue with the space in the java path.
Launching the openHAB runtime...
Error: Unable to access jarfile C:\Program

[2015-07-02 16:30] snizzleorg commented on #2768
yes. rasbian. and the razberry daughterboard (via GPIO)

[2015-07-02 18:34] brutevinch commented on #427
@teichsta Please re-open this problem. Really need start http with xslt at cron time only not by refresh interval.

[2015-07-02 20:53] cdjackson commented on #1274
Closing as the device should be in the database (as above).

[2015-07-02 20:53] #1274 closed

[2015-07-02 22:47] lolodomo opened #2842 "Error when refreshing the item file"
While openHAB server is running, if I save my item file, I get this error again and again:

2015-07-02 22:32:23.802 [INFO ] [c.internal.ModelRepositoryImpl] - Refreshing model 'maison.items'
2015-07-02 22:32:24.705 [ERROR] [.o.m.c.i.folder.FolderObserver] - An unexpected exception has occured
java.lang.NullPointerException: null
        at org.openhab.model.item.binding.AbstractGenericBindingProvi

[2015-07-02 23:04] watou commented on #2842
Looks like it might be the same as #1419.

[2015-07-03 08:45] nickma82 opened #2843 "ModbusRTUTransport missing one byte in receive stream"
Carsten seems to [miss one byte](https://groups.google.com/d/msg/openhab/LDLtD2rJN1w/zy7G4ACokhsJ) while receiving a datastream from a _serial_ modbus RTU device. Which leads to an "[i.modbus.io.ModbusRTUTransport] - failed to read: CRC Error in received frame" [see](https://groups.google.com/d/msg/openhab/LDLtD2rJN1w/LtdJrNRSkkcJ).

He tried to debug the problem by sending/receiving the same data

[2015-07-03 11:28] YupiterOlympic opened #2844 "ZigBee Binding via CC2530 ZNP specification"
Hi all!

I would like to contribute some functionality as ZigBee-binding. The functionality is based on CC2530 ZNP specification.

I tested it with CC2538EM dongle from Texas Instruments.

At this moment the list of supported clusters is:

Realized:
  Tested:
    - On/Off Cluster (0x0006)
    - Color Control Cluster (0x0300) + Level Control Cluster (0x0008)
    - Simple Metering Cluster (0x0702)

[2015-07-03 14:18] cdjackson commented on #2844
Hi,
Just for information, there is a ZigBee binding being built for OpenHAB2 that you might be interested in contributing to? If I understand the roadmap for OH1, the next release will be the last, so you might be better to contribute to the OH2 binding?

Just a thought…

Chris

[2015-07-03 15:05] solucionesmipc commented on #2745
Hi, my tz78 is broken now, i just ordered a new one. i will update as soon as i receive it.

thanks a lot

Diego

[2015-07-03 15:17] gersilex commented on #2841
If you have spaces in the jarfile path, you need to put "double quotes" around this. so make it `"C:\Program Files\........."`. This should do it.

[2015-07-04 02:03] SkynetHome commented on #2768
What is node 41? Could you post the corresponding line from you items file?

[2015-07-04 02:06] SkynetHome commented on #2653
XenonofArcticus, database has been updated. Please let us know how it works out!

[2015-07-04 02:08] SkynetHome commented on #2595
adarshlal
 There are two open issues regarding this same device. I need to know what the type number and id number for this device is showing in habmin. I have requested this info on the other Issue and on the mailing list with no replies. If someone cant provide this info then there is not much we can do to help!

[2015-07-04 02:12] SkynetHome commented on #2553
I'll run with this Chris and see if I can put it together.

[2015-07-04 02:26] XenonofArcticus commented on #2653
So, reading this: https://github.com/cdjackson/HABmin2/wiki/Z-Wave-Product-Database

it sounds like I need to recompile the Zwave binding in order to incorporate the database updates?

[2015-07-04 02:30] SkynetHome commented on #2653
You can download the new binding from cloudbees. It actually may not have
been updated yet but I suspect it will be within a few hours. You can check
on the website to see if the current build includes the remotec device
Chris and I added.
On Jul 3, 2015 9:27 PM, "XenonofArcticus" <notifications@github.com> wrote:

[2015-07-04 02:56] XenonofArcticus commented on #2653
Ok, now openbees reflects your change. It's not clear to me which file (addons or runtime) I would need to update, and if it's safe to update just one of those or if all must be updated in sync.

[2015-07-04 05:12] SkynetHome commented on #2653
You can just download the zwave binding and replace your current binding
with the new one.
On Jul 3, 2015 9:56 PM, "XenonofArcticus" <notifications@github.com> wrote:

[2015-07-04 09:14] snizzleorg commented on #2768
Its a Thermostat:

[code]

[2015-07-04 09:19] cdjackson commented on #2768
I'll try and take a look at this in the coming days. There are probably a couple of problems causing this - there's obviously an exception, but I assume this occurs every time you start this device (??) - if so I need to work out why and see if we can stop the timeout.

What make/model is this?

[2015-07-04 09:25] snizzleorg commented on #2768
I have since changed back to the PI one so I cannot tell exactly but I'm not sure it is related to the thermostat. I had the feeling that no matter what I did the z-wave thread stopped working a few minutes after I start openhab. Till then everything works as expected. I can investigate this in more detail when I get back home next week.

The device is a Danfoss Thermostat LCZ 2.51 If I recall cor

[2015-07-04 09:27] snizzleorg commented on #2768
I have seen
[code]
also with the Pi1 but then the thread seems to be restarted and keeps working - while with the Pi1 its the end of it and the queue just keeps growing

[2015-07-04 14:28] zergasso opened #2847 "MPD binding notification"
In my openhab installation mpd binding updates info about track and artist played only once at system start, then nothing more even if a play/pause or previous/next is triggered on sitemap.
Mpd server is on another (virtual) machine and the others clients (linux, android) in the network update info regularly on track changing.

item config is pretty straightforward as it is essentially copy/pasted

[2015-07-04 14:55] dtriphaus commented on #2761
Well, memory does not seem to be the problem (or not the only problem!?). Yesterday at 6:50 am the quartz scheduler seems to stop working again. I enabled DEBUG level for org.quartz and last log entry was:

2015-07-03 06:51:00.154 DEBUG org.quartz.core.JobRunShell[:212]- Calling execute on job influxdb.everyMinute

Is this a hint that influxdb binding may cause the scheduler to stop working?  I le

[2015-07-05 14:27] SierraNL opened #2851 "Z-Wave: Fibaro FGS212 missing from database"
I've got a new device, a Fibaro FGS212 1x2.5KW Relay switch.
And it's not supported yet in the Z-Wave binding.
Can anyone please add it, I can test it if needed.

The device is a newer version of the FGS211.
Manual: www.fibaro.com/manuals/en/FGS-212/FGS-212-EN-A-v1.01.pdf (allthough my manual is a 1.00 version)
Pepper1 entry: http://www.pepper1.net/zwavedb/device/665

Info from habmin:
![image](ht

[2015-07-05 18:21] cdjackson commented on #2851
Thanks - this looks good (I might make a small tweek)...

I'll get this added tonight...

[2015-07-05 18:36] cdjackson commented on #2851
I've merged this - it will be in tonights snapshot so please let me know how it looks.

Thanks
Chris

[2015-07-05 18:47] SierraNL commented on #2851
Thanks, I'll check out the snapshot tomorrow.

[2015-07-05 19:32] watou commented on #2599
Are there other relevant discussion threads besides [this one](https://groups.google.com/forum/#!category-topic/openhab/owlt-euiGqw)?

[2015-07-05 20:06] J-N-K commented on #2599
Unfortunately not, TTBOMK.

[2015-07-06 09:42] brutevinch commented on #215
Hi. Is there working binding lifx (2.0 firmware) for openhab1? Really need kelvin support and stable connect. My problem is in connection. i tried to use lifx-http but sometimes it doesn't react at all, same thing with OH2 binding. I think problem is in firmware2 support because original iOS app and ping from PC to LIFX is great!  Please reopen issue.

[2015-07-06 16:02] ZeroNine00 opened #2855 "Popp Z-Weather -> Product Database"
Hi ,

can you please add the Z-Weather Device from Popp ?

http://www.pepper1.net/zwavedb/device/717

Did you think this device work with the z-wave binding ?

[2015-07-06 16:45] SkynetHome commented on #2855
I'll get to work on it.

[2015-07-06 17:38] SierraNL commented on #2851
Hi Chris,

I did a quick test, everything seems to work.

Thanks for the quick fix.

[2015-07-06 18:34] SkynetHome opened #2857 "Updating Z Wave Database"
Would it be helpful for me to start going through the Pepper Database and adding devices to the zwave binding that are not currently supported rather than waiting for someone to purchase an unsupported device and then request support or do the people in charge of merging commits prefer to handle each device on an as needed basis?

[2015-07-06 19:37] renini opened #2858 "Systemd openhab.service in debian package openhab-runtime 1.7.0 executable bit set"
Systemd complains about the service file having the exutable bit set in the bintray.com package 1.7.0.

systemd[1]: Configuration file /usr/lib/systemd/system/openhab.service is marked executable. Please remove executable permission bits. Proceeding anyway.

openhab-runtime 1.7.0

[2015-07-06 19:53] #2851 closed

[2015-07-06 20:20] teichsta commented on #2858
@theoweiss could you please take care of this? Thanks, Thomas E.-E.

[2015-07-06 20:27] cdjackson commented on #2857
No - I don’t think I would suggest this as a good idea (but I really like your enthusiasm :) ).

There’s two reasons - if someone asks for a device then it’s gets added and tested. If we just add lots of devices, then we don’t test them and it could get messy with people trying things that don’t work.

The other reason is that the database for OH2 will have a different format. I do have a utility

[2015-07-06 20:28] cdjackson commented on #2851
Thanks for the feedback :)

[2015-07-06 20:35] SkynetHome commented on #2857
Understood thanks for your response. Just looking for ways to contribute
with my limited coding experience. I have been reading the code from merges
as they come through trying to learn from others about how they go about
making changes and improvements. I would love to be able to contribute
something to the building of OH2 but I am not sure I have the skills to
offer much.
On Jul 6, 2015 3:27 PM,

[2015-07-06 20:50] cdjackson commented on #2857
You’re offering quite a lot with the database updates - I really do appreciate it as it gives me more time to look at other things, so really - many thanks from me :)

[2015-07-06 20:55] SkynetHome commented on #2857
Your quite welcome. I have been living and breathing openhab for the past
two months since my wife and I purchased a new home. It's sort of become an
obsession. So I am always happy to have a new openhab project to work on
whether it be on my own home or writing something for the repository that
will help others enjoy this experience as much as I do.
On Jul 6, 2015 3:50 PM, "Chris Jackson" <notifi

[2015-07-06 21:13] cdjackson commented on #2676
I suggest closing this - please raise the question in the google group where you should (hopefully) find someone with this device...

[2015-07-06 21:13] #2676 closed

[2015-07-06 21:17] cdjackson commented on #2768
Ok - if we can find a common message that's being processed to cause this error that would be good... Let me know what you find...

[2015-07-06 21:20] theoweiss commented on #2858
Hi renini,

which distro are you using?

Regards,
Theo

[2015-07-06 21:22] cdjackson commented on #1244
I will likely close this - it will be possible to add multiple controllers in the OH2 binding...

[2015-07-06 21:38] andreground commented on #2819
This has been fixed by my two recent commits to ZWaveThermostatModeCommandClass.java.
I currently have them working fine in Direct Control mode. Wakeup period of these devices is very short so messages may be kept in queue for long periods, thus my suggestion is to set Wakeup interval to the lowest possible value (2400 seconds).

[2015-07-06 21:48] andreground opened #2859 "Cannot dynamically reference items in rules engine"
Hi,

I'm pretty sure I'm doing something wrong or missing some stupid point but I'm really struggling over this since my very first day with Openhab.

I do want my rules to dynamically reference some of my items, let me use one example:

My items:
[code]
My rule:
[code]
But I keep getting this error:
[code]
What am I doing wrong? How can I have the engine get the Item "wickOFFHour01" instead of a

[2015-07-06 23:19] #2857 closed

[2015-07-06 23:27] mrguessed commented on #1244
Can you push a link to the OH2 PR here?

I'd like to validate how both functions are to be exposed.  Specifically the multiple ZWave dongle option, and the ability to remote one-or more of those dongles over TCP (as HomeSeer's ZNet does)

[2015-07-06 23:30] cdjackson commented on #1244
It’s not ready yet - I’m still working on getting the various bits integrated, but a stick will be exposed as a bridge, and then devices attached to the bridge. so, this would support multiple dongles, but not over IP.  If we then wanted to do something over IP, we would likely need to implement some sort of IP connector as a different bridge, but the core of the binding shouldn’t change…

[2015-07-07 05:16] SkynetHome commented on #2817
I havent looked over the Dual Relay yet but on your Single Relay I think the problem is in your command classes. You have Class 0x60 and according to the documentation it should 0x70. I can write the binding real quickly and try and have it merged. But in the meantime if you want to configure it yourself I think you just need to change that command class.

[2015-07-07 06:21] SkynetHome commented on #2817
After looking at the dual channel its possibly another command class problem although this one I havent found a solution for yet if in fact that is the cause. The manual calls for command class "Multi-Channel" and your xml is for "Multi-Instance" its possible those two are the same thing as I have not found a multi-channel command class in my list but I will keep looking.

[2015-07-07 06:24] SkynetHome commented on #2817
I stand corrected Multi-Channel and Multi-Instance are in fact the same thing 0x60.

[2015-07-07 06:31] spacemanspiff2007 commented on #2819
Hi,
I will try to test this on Saturday or Sunday. On my devices it is possible to set the Wakeup-Interval to 240s, but the wakeup time is very short so sometimes not all messages go through.

[2015-07-07 06:43] SkynetHome commented on #2817
Pepper database makes no reference to endpoint 0. Only other thing I see is that in the xml endpoint zero is associated with BASIC command class not switch_binary maybe you could try one of these two Item configurations on endpoint 0
Switch Z_NodeTwoZero "Node 2 binding of 0" (Lights) {zwave="2:0:command=BASIC"}
or
Switch Z_NodeTwoZero "Node 2 binding of 0" (Lights) {zwave="2:0:command=SWITCH_BINA

[2015-07-07 06:56] teichsta commented on #2847
@mgbowman @petrklus any idea why this could happen?

[2015-07-07 06:57] teichsta commented on #2398
please discuss questions regarding features or configuration on the google group.

Thanks, Thomas E.-E.

[2015-07-07 06:57] #2398 closed

[2015-07-07 06:57] teichsta commented on #2389
please discuss questions regarding features or configuration on the google group.

Thanks, Thomas E.-E.

[2015-07-07 06:57] #2389 closed

[2015-07-07 07:14] renini commented on #2858
Hi @theoweiss sorry forgot to mention this is debian stretch/sid amd64 with
deb http://dl.bintray.com/openhab/apt-repo stable main
in /etc/apt/sources.list.d/openhab.list

[2015-07-07 12:48] zacofany commented on #1961
Hi. I've checked it with the current build in my environment and it seems that it works flawlessly right now. Thanks!

[2015-07-07 12:50] teichsta commented on #1961
it seems that #2213 solved this issue …

[2015-07-07 12:50] #1961 closed

[2015-07-07 13:06] eseppy opened #2862 "Long String/Text Item does not display correctly in classic UI"
I try to display an long text/string item (weather alert) in classic ui. The result looks strange .. see screenshot
![openhab](https://cloud.githubusercontent.com/assets/13220036/8546627/ba31974e-24b9-11e5-9580-8813cc56c564.JPG)

[2015-07-07 13:09] ZeroNine00 commented on #2855
One question how can interact with the Z-Weather ? Is it SENSOR_MULTILEVEL Sensor ?
if yes how can I access the wind speed ? sensor_type ?

Thx

[2015-07-07 13:21] gersilex commented on #2235
I'd really like to see this feature as well. It is often not needed to have a subpage for a small set of items.

[2015-07-07 13:22] ronny332 opened #2863 "SamsungAC: ssl handshake error"
Are there any known issue for the SamsungAC binding for newer models? In our house we have 3 Samsung devices working, 2 devices are from 2013 and the newest one was introduced in late 2014.

Both devices of 2013 are working (Samsung Flagship Jungfrau), but the newest one does not connect. Openhab is reporting

[code]

A short curl test shows the same result. I can connect to both older devices, bu

[2015-07-07 13:51] gersilex opened #2864 "Feature: Persistence-based functions in the sitemap"
Hey guys!

I really would like to have the possibility to use something like `averageSince(now.minusMinutes(5))` inside of the sitemap, instead of creating and updating virtual items to make use of the averaging function.
### Example:

sitemap (simplified)

[code]

You can see, if I wanted to do this with the whole appartement, this would give a very big `items` and `rules` file, which would get h

[2015-07-07 14:41] SkynetHome commented on #2855
I am guessing based on this from the manual,

Product Description
Z-Weather is a cup anemometer for Z-Wave installations. It continually measures
the wind speed and can, for example, trigger closing of the awning and blinds if it
is too windy. It also measures the amount of rotation, enabling calculation of the
wind yield per day or per year. In addition, Z-Weather includes sensors for humidity,
t

[2015-07-07 14:49] SkynetHome commented on #2651
I'll  put this together.

[2015-07-07 15:25] Mr-Token commented on #2817
For the single relay. The xml below worked when it came to getting a status response.  I just need to figure out the parameter part.  By default the relays are set to 02 (switch with indicator light), but when connected to a switch with no indicator it makes the switch not work.  You can manually change it  to 01 (switch with no indicator light) by pressing and holding the button on the relay. Kid

[2015-07-07 15:32] SkynetHome commented on #2817
I added the ability to change the parameter with habmin in my xml. Are you
just saying I need to change the default to 1 instead of 2?
On Jul 7, 2015 10:25 AM, "Mr-Token" <notifications@github.com> wrote:

[2015-07-07 15:35] Mr-Token commented on #2817
If it is possible, that would be nice.

[2015-07-07 15:37] SkynetHome commented on #2817
No problem will fix it and edit commit.
On Jul 7, 2015 10:35 AM, "Mr-Token" <notifications@github.com> wrote:

[2015-07-07 17:30] brutevinch opened #2868 "Z-Wave binding doubled messages."
Anyone know why messages are doubled when i press physical monostable wallswtich?
Dimmer fibaro211
associations only controller update
in log:
2015-07-07 22:28:25.373 [INFO ] [runtime.busevents             ] - ITM_LIGHT_BEDROOM_MAIN state updated to ON
2015-07-07 22:28:25.375 [INFO ] [runtime.busevents             ] - ITM_LIGHT_BEDROOM_MAIN_DIMMER state updated to 17
2015-07-07 22:28:25.467 [INFO

[2015-07-07 17:38] SkynetHome commented on #2868
Are your running on an ARM platform like Raspberry Pi

[2015-07-07 17:51] brutevinch commented on #2868
No it's intel atom i686

[2015-07-07 22:14] gersilex opened #2872 "Charts: Groups containing groups are not charted"
The chart engines don't get all arguments for a valid chart if a group is charted which contains other groups with items. The behavior differs but the problem is the same (on openhab side)

Items

[code]
- You can see there is a group _temperaturen_. This is the group I want to chart in openhab
- There is another group _temperaturen_leroy_ which is a member of _temperaturen_

On the sitemap I try

[2015-07-08 02:42] kvakanet commented on #2517
Hello!
 OpenHab 1.7.0 version. After adding tcp binding one day found in the log file:
[code]
OpenHab was not working, but hung in memory logs rotation is not produced.
On the host 192.168.10.136 was not open socket on port 8888, but OpenHab wrote in the log that the connected.

[2015-07-08 03:04] StefanBertels opened #2874 "Exception loading default.items in 1.7.0 (not in 1.6.2)"
After upgrading to 1.7.0 I get some strange exceptions. Error message itself has no info for me what line might be the cause.

I'm not aware of config errors and it worked without exception in previously running 1.6.2. I just downgraded back to 1.6.2 and error is away again.

Some lines cut out of my default.items:
[code]

Error message (normal log):
[code]

Logging (TRACE):
[code]

[2015-07-08 03:14] Mr-Token commented on #2817
Switch Z_NodeNineZero "Node 9 binding of 0" (Lights) {zwave="9:0:command=BASIC"} - - does not get response when I physically toggle the switch.

Switch Z_NodeNineZero "Node 9 binding of 0" (Lights) {zwave="9:0:command=SWITCH_BINARY, respond_to_basic=true"} - - Gave me the following when I reinitialize the node.

Z_lightBackEntryWay is 9:1
Z_lightBackDoor is 9:2

Let me know if you need more inform

[2015-07-08 03:40] SkynetHome commented on #2817
Hmm...this may be above my pay grade. I do not personally have any devices that use endpoints so I have no personal experience to offer. I am however going out of town tomorrow with my wife who has a speaking engagement so I will have a considerable amount of time to sit by the pool with the laptop and work on openhab. I'll do some more digging, and see what I can learn about endpoint configuratio

[2015-07-08 04:18] brutevinch commented on #1564
Using i686 Intel atom and razberry+fibaro dimmer.
in log i see duplicated messages. Any chance to fix it?
2015-07-07 22:28:25.373 [INFO ] [runtime.busevents ] - ITM_LIGHT_BEDROOM_MAIN state updated to ON
2015-07-07 22:28:25.375 [INFO ] [runtime.busevents ] - ITM_LIGHT_BEDROOM_MAIN_DIMMER state updated to 17
2015-07-07 22:28:25.467 [INFO ] [runtime.busevents ] - ITM_LIGHT_BEDROOM_MAIN state updated

[2015-07-08 06:39] brutevinch opened #2875 "Duplicate push messages with myopenhab."
i've got duplicate notification with this rule. is it normal?

rule "Погода и пробки утром"
        when
                Time cron "0 15 8 ? * MON-FRI"
                logInfo("rule", "Start Morning Weather Rule")
        then
                var Number temp_scale = ITM_TEMP_OUT.state as DecimalType
                var int temp_out = ((temp_scale)).intValue
                sendNotification("brutev

[2015-07-08 07:51] fabvador opened #2876 "pulseaudio parser wrong with emty combine-sink"
If I create an empty combine-sink (i.e. with no slaves) it doesn't mean that this is not a combined-sink.

I explain:
   if I run in a shell    'pacmd load-module module-combine-sink_name=test slaves='
   I create an 'empty' combined-sink.

In this case the parser skips the field "combine.slaves" since it is an empty one!
##

[2015-07-08 08:02] cdjackson commented on #1564
I guess since this isn't an RPi that this isn't the same issue as the RPi? IF you really think this is a bug in the binding, then it would be better to raise a separate issue as it's confusing to discuss different problems in a single issue.

If you do think it's a bug in the binding, please provide information that supports this, and also allows me to see what is wrong - ie debug logs showing the

[2015-07-08 08:08] cdjackson commented on #2483
Database was updated so closing this issue. If there is any problem with the database, please raise a separate issue (or re-open this).

[2015-07-08 08:08] #2483 closed

[2015-07-08 08:09] cdjackson commented on #2488
Database was updated so closing this issue. If there is any problem with the database, please raise a separate issue (or re-open this).

[2015-07-08 08:09] #2488 closed

[2015-07-08 08:09] cdjackson commented on #2536
Database was updated so closing this issue. If there is any problem with the database, please raise a separate issue (or re-open this).

[2015-07-08 08:09] #2536 closed

[2015-07-08 08:14] brutevinch commented on #1564
98% of RPi users used razberry and i've got same problem at other arch (i686) with same board(razberry).  board the same, binding the same, arch is other. Maybe it's not RPi at all?)) Today i try to catch info in wave debug.

[2015-07-08 08:57] fabvador commented on #2876
I have pushed a modification to solve this issue

[2015-07-08 09:09] cdjackson commented on #1564
The problem on the RPi occurs with other sticks as well.

Please provide the debug log when you get it and I'll take a look when I get a chance, but I think it's better to raise a separate issue.

[2015-07-08 11:37] brutevinch commented on #1564
Ok, now i've got right state updates. Strange unstable result...i'll test all again and if i catch problem, i'll make new issue.

[2015-07-08 12:17] cdjackson commented on #1564
If the problem is just occasional duplicates, then this might be caused by RF repeats. I beleive that this can occur if there's a retry on the RF layers, then this can introduce multiple messages on the serial interface. So, if this issue is mainly related to one or two devices, and only at some times, then this might be the explanation.

[2015-07-08 13:42] ZeroNine00 commented on #2855
Hi ,
thx and what is the sensor_type for wind_speed ? I don't find any information about it ?
regards

[2015-07-08 13:55] cdjackson commented on #2855
Can I suggest that when you get the device you can provide the XML that the binding will (hopefully!) generate following initialisation and we can update the code then since I'm not aware of this information being available...

[2015-07-08 14:21] ZeroNine00 commented on #2855
ok great I will post the xml as soon I have device

[2015-07-08 15:30] staehler opened #2877 "snmp: dont use port 162"
The snmp binding should be configurable in the meaning of "I need a local snmp server"or "I just want to get snmp values from other server".
I don't need running a ocal process on port 162, but I want to read snmp values from other server.
As my openhab is not privileged to run a port below 1024 and I don't need to run the trap-forwarder (snmptrapd), I would like to ask for configurable parameter,

[2015-07-08 16:34] cdjackson commented on #2877
Why cant you just change the port number to 1024? (or maybe I misunderstand?)

[2015-07-08 17:13] teichsta commented on #2874
Hi @StefanBertels,

some questions:

* which platform is openHAB installed on?
* does this error occur ALWAYS? Did you try to restart several times? On various small embedded systems there are problems with the starting sequence of some of the core bundles which could cause similar error
* which JDK are you using?

Best, Thomas E.-E.

[2015-07-08 19:36] StefanBertels commented on #2874
Platform: Raspberry Pi 2 (Raspbian)

ALWAYS: Yes, I restarted many times. I downgraded to 1.6.2 twice, so I'm quite sure 1.7.0 makes the difference. 1.7.0 => error, 1.6.2 => works (same configurations).

JDK: oracle-java8-jdk. I didn't change this since using openhab (beginning with 1.5).

I suggest adding more information when rasing this exception at that code line so one can see the reason. And

[2015-07-08 19:53] StefanBertels commented on #2874
Just tested regarding "Location": Yes, there is a new Location item type. After changing my definition from `Group Location` to `Group Lokalisierung` everything seems to work fine with 1.7.0.

There should be a more specific error message.

Nevertheless I will close my issue for now because solved.

[2015-07-08 19:53] #2874 closed

[2015-07-08 20:19] cdjackson commented on #2817
You shouldn’t use 0 as an endpoint - this isn’t correct… That said, it probably won’t fix the problem, but it’s the right way to specify the configuration. If this is a multi-endpoint switch, then you probably should use endpoint 1 and endpoint 2 for the two switches.

Don’t worry about this warning - it won’t impact normal operation.

Likewise - don’t worry about this. I think I’ve removed this e

[2015-07-08 20:28] theoweiss commented on #2858
Oops, your on the cutting edge. Thanks for reporting.

[2015-07-08 21:02] spacemanspiff2007 opened #2881 "ZWave: Add support for WiDom - Energy Driven Switch"
Hi,

I have bought the Energy Driven Switch.
Currently it is not supported by the database.
Could somebody please add support?
Thank you in advance! :-)

http://www.pepper1.net/zwavedb/device/669

[2015-07-08 22:03] SkynetHome commented on #2881
I will write this tonight!

[2015-07-09 02:27] Mr-Token commented on #2817
Ok. So I removed the endpoint 0 item and I am left with this.
[code]
Reinitialize the node and get this.

[code]
After Initializing I see it polling the switches.

[code]
I turn off/on the laundry room light (9:1) and I get this (notice value changes)

[code]
I turn off/on the backdoor  light (9:2) and I get this (value does not change).  If 9:1 is ON toggling 9:2 on or off will report value of 25

[2015-07-09 03:29] SkynetHome commented on #2817
I dont understand why this device is not setup to be configured like other examples of Dual Relay Switches in the database like Philo Pan04. When you say that you tried to add configurations and they were reported as being unsupported, where those configurations, parameters like these found on the Pan04...

<Parameter>
			<Index>3</Index>
			<Type>list</Type>
			<Default>1</Default>
			<Size>1</Si

[2015-07-09 05:35] Alpoy commented on #2877
Openhab.cfg defines the snmp:port and snmp:community configuration as OPTIONAL. So it shouldn't be dependent on snmpd to run SNMP GETs (client requests).

Have you tried to run the binding with "snmp:port" and "snmp:community" commented out (as in not defined) in openhab.cfg?

[2015-07-09 06:05] cdjackson commented on #2877
I'm not sure I understand - if it’s optional, you can still use it. This is how the wiki is written too I think?

I'm not sure - I have snmp:port=162 in my config.

If your point is that you must have something in the cfg file, then this might be the case. Quite a few bindings won’t actually active unless there is some configuration - I forget if this is the case with snmp or not as I set this up

[2015-07-09 06:45] Alpoy commented on #2877
As I understand he only wants to run _polls_, but he can't because the binding demands a port to bind to that's below 1024 (default 162, but it requires root privileges). Now since the binding defines the PORT and COMMUNITY as optional I can only assume that's because you don't have to run the binding with SNMPD enabled (which make sense).

So I wonder if he has tried to run the binding without th

[2015-07-09 07:08] cdjackson commented on #2877
That was my original point. You should be able to set the port by using the :port config, and this should allow you to run with any port number you want (ie above 1024).

[2015-07-09 07:26] Alpoy commented on #2877
Hm yeah if the binding *demands* a listening port that is the simple solution to the problem clearly. I thought you could opt out on the listening service (traps) by not defining the port, but I misread the wiki.

Then I kind of agree with staehler, a feature request on the binding would be to enable/disable traps (listening) to avoid the "problem".

[2015-07-09 07:54] spacemanspiff2007 commented on #2881
Thank you for your help!
I will gladly test your changes.

[2015-07-09 08:51] J-N-K commented on #2877
One SHOULD be able to opt out completely. There is no reason to keep a port open if the service is not used. From the security point of view one should try to open only the ports that are needed.

[2015-07-09 09:02] staehler commented on #2877
Well, yesterday I tried to run snmp-binding with default options in openhab.cfg, which means port:162. The binding didn't come up, which lead me to my feature request.
I don't want to run open ports, if they aren't used. That's why this serverside smtp should be optional.
@cdjackson : I think it would work, to run smtpd on an unprivileged port (>1024), but this would be a workaround, weakening the

[2015-07-09 09:02] brutevinch opened #2885 "Classic UI bug."
Found bug in classicui. Strange rendering of place with chart.
OS X, safari, chrome.
![2015-07-09 13 59 55](https://cloud.githubusercontent.com/assets/12526597/8591614/f54392c6-2642-11e5-8140-1ac010836f1b.png)

[2015-07-09 10:10] anordvall opened #2886 "Add type 1 for Z-Stick Gen-5 to the database"
I'm getting this error message in my log:
NODE 1: No database entry: Aeon Labs [ID:5a,Type:1]

It seems type 1 doesn't exist in the product database for this ID. Would appreciate if it can be added. Many thanks!

[2015-07-09 12:24] cdjackson commented on #2877
Clearly the binding MUST have a listening port - otherwise it can't receive the incoming PDU. This is required for whatever mode you use (ie even for GET type requests). As far as I remember (which is badly! :) ) the binding only opens a single port - it uses this to transmit the GET requests, and to receive the responses, and also to receive the TRAPs.

The ```port``` config setting allows you to

[2015-07-09 13:03] Alpoy commented on #2877
Hm, the binding doesn't need a listening port if it's not suppose to receive traps or answer remote GET requests.
If it's only gonna poll other nodes/servers/routers the "incoming PDU" port would always be the session source port (random). Just like HTTP sessions and any other service AFAIK.

Ref:
https://en.wikipedia.org/wiki/Simple_Network_Management_Protocol#Protocol_details
https://en.wikipedi

[2015-07-09 13:37] cdjackson commented on #2877
The port (whatever it is - session or whatever you want to call it) is still listening for incoming data, but it's not accepting incoming connection requests, but it's the same thing as we're using UDP which is a connectionless protocol!

In this case, the snmp server isn't using what you are calling a session port - the port that it uses is defined in the cfg file rather than being randomly gener

[2015-07-09 15:43] SkynetHome commented on #2881
I'm half way done. Should be complete today.
On Jul 9, 2015 2:54 AM, "spacemanspiff2007" <notifications@github.com>
wrote:

[2015-07-09 18:48] Testato opened #2888 "Chart do not update on MySql persistance"
I use Mysql persistence and default Chart.
No other persistence or chart is enabled.
If i manually delete some value from MySql database, example from a Temperature sensor, when I open the ClassicUI whit the Temperature chart, the old value deleted are still present.
The chart updating whit the new value that come from sensopr, but the old deleted value also is present

[2015-07-09 20:25] renini commented on #2858
True that, just wanted to let you know. Thanks for the great work.

[2015-07-09 21:21] Testato commented on #2888
This is an example, i manually deleted this 3 peaks from MySql, but them are present on the Chart image.
![chart](https://cloud.githubusercontent.com/assets/6893841/8607161/4413f956-2691-11e5-801b-d43ec5e13221.png)

[2015-07-10 08:35] Testato commented on #2631
Same here,
on Internet Explorer from 9.0 to 11.0
also on Internet Explorer 64bit

[2015-07-10 09:49] renini commented on #853
Has anyone try to fix this on openHAB 1? Really want to use a reverse proxy for this.

[2015-07-10 11:20] cdjackson commented on #2888
If you restart mysql and OH, do that make it go away?

It is hard to understand how the data can continue to be graphed if you have really deleted it. I would suggest that either the data is not deleted, or that you have a second persistence source configured and the charting is using that...

I certainly don't see this - any changes in my my database are reflected immediately - there's no caching

[2015-07-10 14:24] anordvall opened #2892 "Add siren ZM1601EU-5 to the database"
Please add "ZM1601EU-5 Vision Siren & Strobe Alarm Battery Power" with device ID "508" to the database.

I see ZM1601 is already listed in the products database and has the same device type "2005" as my ZM1601EU-5, but the latter one has device ID "508"

Z-wave Alliance link: http://products.z-wavealliance.org/products/1009

Thanks in advance!

[2015-07-10 14:26] SkynetHome commented on #2892
I will get this done today!
On Jul 10, 2015 9:24 AM, "anordvall" <notifications@github.com> wrote:

[2015-07-10 14:30] anordvall commented on #2892
That's much quicker than I hoped for :) I suspect the lack of the correct products DB entry is why I can not see any device configuration parameters or association groups through habmin currently. Is this correct understanding?

[2015-07-10 14:55] watou commented on #2655
Closing this issue as I've not seen any reports of it being a problem for users of the Nest binding.  Please re-open this issue if you feel that data rate limits in the Nest API would be alleviated by fewer redirects on every polling cycle (as described above, or from other sources).

[2015-07-10 14:55] #2655 closed

[2015-07-10 16:00] cdjackson commented on #2892
Yes - that’s correct - we need the database entry as the config parameters are not self described in the device...

[2015-07-10 19:05] Testato commented on #2888
also restarted completely the server the rsult do not change. It is incredible also for me because i do not have other persistence.
Maybe this can help on understanding where is the rpoblem,
If i directly call the graph by this link the problem is not present:
http://192.168.100.254:8080/chart?items=Out_Temperature&period=D&service=mysql

Instead if i use standard Chart on sitemap the problem is p

[2015-07-10 19:35] cdjackson commented on #2888
Since you’ve started the server, then I don’t think the problem is in the server since it can’t have cached across a restart. The other possibility is your browser is caching the image (or something else in between - you don’t have a proxy anywhere that might be caching?)

[2015-07-10 20:22] Testato commented on #2888
founded, you are right, the data is not completely deleted
on temperature i have the sensor value but also the today maximum value and the today minimum value, so i deleted the realtime value but not the min/max
Thanks for your time :-)

[2015-07-10 20:22] #2888 closed

[2015-07-10 21:44] SkynetHome commented on #2881
Added to database pending merge!

[2015-07-11 07:19] spacemanspiff2007 commented on #2881
Thank you for your help!

[2015-07-11 08:37] cdjackson commented on #2886
Done - it should be in tomorrows snapshot.  Please confirm when you've checked it so we can close this.

[2015-07-11 08:41] cdjackson commented on #2868
I'd suggest that you ask this on the google group rather than raising an issue here - it will get a wider audience as generally there's a much smaller group of people monitoring the issues list.

If you agree, please can you close this. If not, then we need to find a way to close it, and I don't know what that is as I don't think this is a binding problem if it's a single device that is causing th

[2015-07-11 08:42] cdjackson commented on #2553
Please confirm this is ok.

[2015-07-11 08:43] cdjackson commented on #2651
Please confirm this is ok and can be closed.

[2015-07-11 08:44] cdjackson commented on #2892
Please confirm this is ok so we can close this request - it should be in tomorrows snapshot.

[2015-07-11 08:48] cdjackson commented on #2721
Can we close this - you've opened another issue on the batter connection, and the original question about loading the neighbour list has been answered. If there's anything else that you think needs to be done for this issue, please can you restate it so I know what you're after.
Thanks
Chris

[2015-07-11 08:48] #2187 closed

[2015-07-11 08:56] cdjackson commented on #2817
I think I've seen this previously - the binding always sends out the command as a single instance message when it's an association. This means there is no information to tell what switch it came from...

Does this device support multi_instance_association class? I don't see it listed, so I suspect not. If not, there's probably nothing that can be done to resolve this.

[2015-07-11 09:01] #2721 closed

[2015-07-11 11:38] jonesie946 opened #2896 "Feature Request: Sitemap Mappings use Transform File"
I am trying to develop a semi-dynamic selection element in a sitemap. I have a cronjob that runs a python script to update the map file daily. If this mapping changes, there is no (easy) way that i can find to update the sitemap mapping, short of having my python script edit the sitemap file directly, which I am trying to avoid..

It does not currently appear to be possible to use a map transforma

[2015-07-11 15:58] pgruetter opened #2897 "my.openhab breaks some Items"
Hi

I tried out my.openhab this week and directly joined it with IFTTT. Worked out-of-the box. On the next day, I realized that some Items are "broken". They don't show up in my.openhab, and they suddenly don't work through the internal URL as well. Checking the database, I can see that the values haven't changed since I deployed the my.openhab addon, changed the config and restarted openhab.

The

[2015-07-11 16:48] brutevinch commented on #2868
ok

[2015-07-11 16:48] #2868 closed

[2015-07-11 18:58] Mr-Token commented on #2817
Tried adding Configure node with parameter and just got errors.   How would I poll the device manually?

[2015-07-12 04:12] SkynetHome commented on #2881
You're quite welcome, please let me know if the device runs properly with this database addition!

[2015-07-12 05:43] digitaldan commented on #2569
Hey Bernd,
FYI, while I have not tested your branch, I had changed the speed in my
branch and forgot to submit a PR ;-)  So I can confirm that using 115200
does work with the USB model. So I think your changes would be good to
submit upstream.   I'm actually trying to debug why sending commands seems
to have no effect, I'm going to do some more debugging tomorrow, I'll let
know what I find out.

O

[2015-07-12 06:09] mgbowman opened #2900 "Possible Classic UI Dimmer / Slider Bug"
After updating to 1.7.0, any Slider attached to any Dimmer does not receive the INCREASE / DECREASE commands from the browser.

I've tested with both Safari 8.0.4 (10600.4.10.7) and Chrome 41.0.2272.76 (64-bit).

It appears the XHR http://openhab.local:8080/CMD is not getting triggered from the browser.

This issue does not appear for me in 1.6.1

[2015-07-12 06:10] teichsta commented on #2900
@sja could you have a look please?

[2015-07-12 08:08] Testato commented on #1379
Same problem here, whit OA 1.7.0 and the Demo example plus some sensors.
Is there news on this bug ? I use BeagleBoneBlack board on Debian

[code]

[2015-07-12 08:44] spacemanspiff2007 commented on #2881
Hi,
I will do that but my habmin gives me Errors atm:
[code]
As soon as I have figured it out I will test it.

[2015-07-12 09:03] spacemanspiff2007 commented on #2814
It doesn't show the warning anymore.
Thank you for your help.

[2015-07-12 09:03] #2814 closed

[2015-07-12 09:07] mgbowman commented on #2900
I've dug a little deeper and it appears the issue was introduced when @sja refactored `repeatedRequest` in https://github.com/openhab/openhab/commit/386d44737b3633b3d123e388d488ba77f06b57cd

[code]

In the old code, there was a call to `ChangeState(request)` [now `OH.changeState(request)`] before the timeout, which is missing in the refactored code.

This was accounted for by checking if `!state.a

[2015-07-12 09:16] cdjackson commented on #2817
I'm not sure what you mean you by this - can you provide the errors and describe a bit more what you are doing?

[2015-07-12 11:03] brutevinch opened #2902 "Z-Wave Fibaro FGD-211 add parameter 40"
please add parameter 40 to this dimmer. In official manual this parameter can be changed (1-99) - change level of dimmer without power on. i try to configure:
{zwave="2:command=configuration,parameter=40"}
But in log i've got:  NODE 2: Device has no parameter 40.

[2015-07-12 11:09] cdjackson commented on #2902
Please provide full details of your device - type/id/version.

This parameter is only available in specific versions, and currently the binding should support this.

[2015-07-12 11:13] brutevinch commented on #2902
![2015-07-12 16 11 30](https://cloud.githubusercontent.com/assets/12526597/8637547/f1230666-28b0-11e5-95a5-21efd88b9c91.png)

[2015-07-12 11:17] cdjackson commented on #2902
Thanks - I'll get this added later today hopefully...

[2015-07-12 11:21] cdjackson commented on #1244
For ZWave binding in OH2 - as above, the architecture of the OH2 binding will allow multiple sticks, and potentially multiple different 'connectors' to be added without changing the main stack.

[2015-07-12 11:21] #1244 closed

[2015-07-12 11:29] brutevinch commented on #2902
Thank you! i'll be waiting!

[2015-07-12 11:31] brutevinch commented on #2902
And restore_last_value=true doesn't works too.

[2015-07-12 11:34] cdjackson commented on #2902
I’m not sure what this is, but please raise a separate issue as otherwise it will get lost.

[2015-07-12 12:20] spacemanspiff2007 opened #2903 "ZWave: Polling of configuration-value doesn't work"
Hi,

I tried polling a configuration Item but this doesn't work.
This is my item definition:

[code]

The item stays uninitialized, this is my log:

[code]

It seems, that the value somehow gets overwritten:

[code]

I am running the latest build:

[code]

How do I read the configuration value?
##

[2015-07-12 12:34] cdjackson commented on #2528
This was implemented, but no feedback received for 6 weeks so closing. If there's any further problems, please reopen.

[2015-07-12 12:34] #2528 closed

[2015-07-12 12:36] cdjackson commented on #2902
This has been added - it should be in tomorrow snapshot.

[2015-07-12 12:37] cdjackson commented on #2903
I'll take a look,but please note that the binding string is wrong - you shouldn't have the 0 as an endpoint as it's not valid...

[2015-07-12 12:39] brutevinch commented on #2902
Thank you. I'll test it

[2015-07-12 13:14] spacemanspiff2007 commented on #2903
I changed the config, but it has no effect.
Strangely when I post a command to the item nothing happens ether.
I suppose this has something to to with the missing db-entry.
(Energy Driven Switch, wrong xml in other issue.)
Nevertheless reading the config values should work all the time!

[2015-07-12 15:04] lolodomo commented on #2789
Fixed by PR #2796.

[2015-07-12 15:04] #2789 closed

[2015-07-12 15:41] anordvall commented on #2892
So, this is the first time I'm trying to use a snapshot... I have taken below steps to try this. Please let me know if I'm missing anything or if it's completely wrong.

1. Download distribution-1.8.0-SNAPSHOT-addons.zip from https://openhab.ci.cloudbees.com/job/openHAB/
2. Move away the old org.openhab.binding.zwave-1.7.0.jar from the addons folder
3. Copy org.openhab.binding.zwave-1.8.0-SNAPSHOT

[2015-07-12 15:55] cdjackson commented on #2892
Interesting - I've not seen this before...

It looks like the device is sending back corrupted data - it's sent size=0 which can't be right... I'll add a check into the binding to avoid the NPE, but I would say there are 2 possibilities...

1) That the device sent rubbish data!
2) That this is a new feature of ZWave Plus and in fact param 0 doesn't exist. In the past, if you requested a parameter

[2015-07-12 15:56] cdjackson opened #2905 "ZWave Plus config class returns 0 size"
It looks like the new zwave plus devices might return 0 size if we request a paramater that doesn't exist. The binding needs to cope with this situation.

[2015-07-12 15:56] cdjackson commented on #2905
#2892

[2015-07-12 19:47] cdoebert commented on #2841
From https://github.com/openhab/openhab/wiki/Windows:

"Unzip the openhab-runtime-<version>.zip to where it is intended to be running from, e.g. C:\openhab. Note that there can't be a space in the path, so it can't be in program files in windows."

[2015-07-12 19:56] cdoebert opened #2907 "Hue > No error reporting on openhab.cfg read problems"
There isn't any information being given when openhab.cfg either isn't able to be read or isn't there at all.

I'm admittedly ops and not dev, but this line in HueBinding.java:
public void updated(Dictionary config) throws ConfigurationException {
		if (config != null) {

... either isn't throwing an exception for whatever reason, or isn't failing that where other bindings would.  Examples:
03:41:5

[2015-07-13 00:06] SkynetHome commented on #2892
Working on this now. Sorry again for the delay in response!

[2015-07-13 00:20] SkynetHome commented on #2892
@anordvall I have made the necessary changes and committed to be merged! I apologize for the delay and any frustration my error may have caused! Hopefully this will get you up and running and thank you for the quick feedback!

[2015-07-13 05:45] cdjackson commented on #2892
Merged - thanks.

[2015-07-13 06:35] #2902 closed

[2015-07-13 07:23] brutevinch opened #2911 "ZWave: Powerlevel command class support."
Chris, can you add support for powerlevel for this dimmer?
![2015-07-13 12 20 55](https://cloud.githubusercontent.com/assets/12526597/8644615/e9f3bac6-2959-11e5-8160-3788131506fc.png)
![2015-07-13 12 21 14](https://cloud.githubusercontent.com/assets/12526597/8644616/eb2c62da-2959-11e5-9e0a-092379f8e6e5.png)

[2015-07-13 08:24] cdjackson commented on #2911
Not easily - I'll add it to the list of new command classes...

Why do you need this? I believe that the power is normally maximum by default, so do you need to reduce it for some reason?

[2015-07-13 08:46] kaikreuzer opened #2912 "PR #2532 breaks rrd4j openHAB 2 compatibility"
https://github.com/openhab/openhab/pull/2532 changed the rrd4j service in a way that it mandatorily requires to have the updated() method called through ConfigAdmin. Since this does not happen, if no configuration is provided, the service does not work as expected anymore in this case (see https://groups.google.com/forum/#!topic/openhab2/xnBwOY4C-wI).

The default rrdDefs should be set outside the

[2015-07-13 10:02] brutevinch commented on #2911
Is this powerlevel consumption? for example if i plug water heating through fibaro 3kW relay, powerlevel show me consumption of water heater? right?

[2015-07-13 10:08] cdjackson commented on #2911
No - this sets the power level for the RF communications between devices. It defaults to maximum power which would give you the best communications, and this command class allows you to reduce the power if needed (maybe to avoid interference between devices that are close to each other).

[2015-07-13 10:33] brutevinch commented on #2911
Wow! Really no need it.

[2015-07-13 11:53] robnielsen commented on #1820
I am also receiving an intermittent 403 after a few hours. I'm running in eclipse with debugging turned on, and the error message returned from Netatmo is:
[code]
I'll try and see if I can come up with a fix for this.

[2015-07-13 12:20] mast commented on #2844
@cdjackson Chris, do you know when this last release will happen? (I can't find roadmap for OH1). I think it'd be interesting to see it in OH1, considering that OH2 roadmap is unknown yet..

[2015-07-13 12:47] cdjackson commented on #2844
I believe the last OH1 release will be late this year - October or November time. At this time we would also expect the OH2 beta to be released followed early next year (may May based on the standard release plan) for the first OH2 release.

At least that's my understanding.

Chris

Sent from my iPhone

[2015-07-13 12:51] kaikreuzer commented on #2844
Yep, At least that is the rough plan :-)

[2015-07-13 14:38] petrklus commented on #1898
Updated to the last version, still seeing the problem.

Is this only present on ARM platforms?

[2015-07-13 15:09] ZeroNine00 commented on #2855
Here is the xml
<node>
  <deviceClass>
    <basicDeviceClass>ROUTING_SLAVE</basicDeviceClass>
    <genericDeviceClass>MULTILEVEL_SENSOR</genericDeviceClass>
    <specificDeviceClass>ROUTING_SENSOR_MULTILEVEL</specificDeviceClass>
  </deviceClass>
  <homeId>0xeb5ec87f</homeId>
  <nodeId>5</nodeId>
  <version>4</version>
  <manufacturer>0x169</manufacturer>
  <deviceId>0x1</deviceId>
  <deviceType>0

[2015-07-13 15:13] ZeroNine00 commented on #2855
Sorry I can't upload the xml to github ?

![screen shot 2015-07-13 at 17 12 14](https://cloud.githubusercontent.com/assets/2928848/8652997/57cf1626-2982-11e5-8a94-1ad2a570b53a.png)
![screen shot 2015-07-13 at 17 12 42](https://cloud.githubusercontent.com/assets/2928848/8653033/8653bec0-2982-11e5-878e-93fd20156a9b.png)
![screen shot 2015-07-13 at 17 12 57](https://cloud.githubusercontent.com/assets

[2015-07-13 15:39] brutevinch opened #2914 "ZWave: Fibaro FGD-211 SCENE_ACTIVATION problem"
Can't make it work. Bug?
Switch test "test" {zwave="2:command=SCENE_ACTIVATION,scene=16,state=1"}
in log:
NODE 2: Generating message failed for command class = SCENE_ACTIVATION
![2015-07-13 20 38 30](https://cloud.githubusercontent.com/assets/12526597/8653699/31cbbc32-299f-11e5-9da1-4ca186d4c175.png)
![2015-07-13 20 36 45](https://cloud.githubusercontent.com/assets/12526597/8653702/37df25dc-299f-1

[2015-07-13 15:50] cdjackson commented on #2914
What are you actually trying to achieve?

[2015-07-13 15:57] brutevinch commented on #2914
Triple click to activate scene. Test it on Ozwcp. All works fine. After click i receive scene ID like in manual (screenshot).

[2015-07-13 16:10] cdjackson commented on #2914
Can you post a log which shows if anything is received when you click on the button… I’m not especially familiar with this class although I have used it in the past...

[2015-07-13 16:14] cdjackson commented on #2855
Yes, you can, but you need to put three x the ` character at the beginning and end of the XML. The one at he beginning should have xml after it (I can't show you what I mean or GH will remove it as it's an escape sequence!

[2015-07-13 16:19] brutevinch commented on #2914
2015-07-13 21:18:13.090 [DEBUG] [.z.internal.ZWaveActiveBinding:450 ]- NODE 2: Got a value event from Z-Wave network, endpoint = 0, command class = SCENE_ACTIVATION, value = 16
2015-07-13 21:18:13.092 [DEBUG] [.z.i.p.s.ZWaveCommandProcessor:63  ]- Sent message Message: class = SendData (0x13), type = Request (0x00), payload = 02 02 26 02
2015-07-13 21:18:13.094 [DEBUG] [.z.i.p.s.ZWaveCommandProces

[2015-07-13 16:21] SkynetHome commented on #2855
@ZeroNine00 from looking over the XML I am guessing that for wind speed you are going to want to use  { zwave="32:command=sensor_multilevel,sensor_type=6" } for velocity

[2015-07-13 16:21] brutevinch commented on #2914
Can i use it to activate scene?

[2015-07-13 16:26] cdjackson commented on #2914
It should work - I can't correlate the log properly though - can you provide a slightly longer log (maybe 5 or 10 lines before and after this)?

[2015-07-13 16:31] cdjackson commented on #2855
Yep - I'd agree with that - except the node ID should be 5 - not 32 :)

[2015-07-13 16:34] SkynetHome commented on #2855
Good catch, copy and paste got me in trouble again :|

[2015-07-13 17:17] ZeroNine00 commented on #2855
Ok I will give it a try and why says habadmin Manufactor:361 and have no association ?
I used the nightly build from yesterday

[2015-07-13 17:37] ZeroNine00 commented on #2855
Also the entry looks a little bit strange and I can expand it in product explorer

is there an typo ? POP (P) missing ?
![screen shot 2015-07-13 at 19 36 48](https://cloud.githubusercontent.com/assets/2928848/8656212/8b9d7bf0-2996-11e5-8992-eadea2251833.png)

[2015-07-13 18:17] SkynetHome commented on #2855
I wrote the xml based on the Pepper database link above. Unfortunately according to the product manual the pepper database is wrong. This device does indeed have two configuration parameters. I will add those parameters now and commit changes!

[2015-07-13 18:19] ZeroNine00 commented on #2855
ok great so tomorrow will be available as nightly build , and the I will test it

[2015-07-13 18:21] SkynetHome commented on #2855
Should be if I can get this done in time for Chris to merge.

[2015-07-13 18:32] SkynetHome commented on #2855
Hopefully this will get you sorted out. Sorry for the frustration, I now know not to trust pepper in the future.

[2015-07-13 18:54] cniweb commented on #1989
What is here the state, when it goes on?
Would be really great if it is supported!

[2015-07-13 19:25] anordvall commented on #2886
Using the snapshot the device has now got a proper product name shown in HABmin and I can no longer see the error message in my log file. All seems OK.

Many thanks!

[2015-07-13 19:26] #2886 closed

[2015-07-13 19:40] NSchnitzler opened #2916 "Designer Mac 1.7 1.8 not starting on OS X 10.11 Beta El Capitain"
Designer hangs on starting on actual beta OS

[2015-07-13 21:58] tedstriker commented on #1989
if you're keen to stay up to date, you can easily do this manually, rather than waiting for a new spk to be released. After installing openHAB on the Synology NAS you can update it just by replacing the existing with the latest files from the distribution_1.x.x-runtime.zip? Just overwrite everything except addons and configuration folder.
after replacing the remaining folders run "chown openhab *

[2015-07-14 06:55] Testato commented on #2900
Same issue here,
If you use Android OH App the slider work. After used the App the browser classicUI also work

[2015-07-14 07:41] ZeroNine00 commented on #2855
Sorry but with the change it doesn't work ...

2015-07-14 09:40:36 DEBUG o.o.b.z.i.c.ZWaveConfiguration[:274]- NODE 5: No database entry: Manufacturer:361 [ID:1,Type:1]
2015-07-14 09:40:36 DEBUG o.o.b.z.i.c.ZWaveConfiguration[:274]- NODE 5: No database entry: Manufacturer:361 [ID:1,Type:1]
2015-07-14 09:40:43 DEBUG o.o.b.z.i.c.ZWaveConfiguration[:274]- NODE 5: No database entry: Manufacturer:361 [

[2015-07-14 07:47] ZeroNine00 commented on #2855
<a href=http://www.filedropper.com/node5><img src=http://www.filedropper.com/download_button.png width=127 height=145 border=0/></a><br /><div style=font-size:9px;font-family:Arial, Helvetica, sans-serif;width:127px;font-color:#44a854;> <a href=http://www.filedropper.com >share files free</a></div>

[2015-07-14 08:04] ZeroNine00 commented on #2855
I have found the problem when I add :

<Manufacturer>
		<Id>0x169</Id>
		<Name>POPP_NEW2</Name>
		<Product>
			<Reference>
				<Type>0001</Type>
				<Id>0001</Id>
			</Reference>
			<Model>POPE005206</Model>
			<Label lang="en">Z Weather</Label>
			<ConfigFile>popp/zweather.xml</ConfigFile>
		</Product>
	</Manufacturer>

into products.xml it works

[2015-07-14 08:07] kvakanet opened #2917 "Openhab not set state after refresh configuration files(items,etc) binding MQTT"
Hello!

After editing the file(items), the state of the items(with Mqtt binding. MQTT message retain) is not found. Status item is set after restart OpenHab or publish state on MQTT broker.
OpenHab 1.7.0
##

[2015-07-14 09:41] anordvall commented on #2892
Mike, no apologises needed. I'm very happy I'm getting this kind of
excellent and quick support! I've now tested with the latest snapshot and
everything works just fine. I can now update the device configurations as
expected.

Thanks both of you!

2015-07-13 7:46 GMT+02:00 Chris Jackson <notifications@github.com>:

[2015-07-14 11:15] YupiterOlympic commented on #2844
Hi Kai, Chris,

I am trying to start the OH2 ZigBee-binding.

I red the 'instead of the global configuration/openhab.cfg file, there is now an individual file per add-on in conf/services'-note and created the ./conf/services/zigbee.cfg.

After that I wrote 'zigbee:port=/dev/ttyACM0' to the ./conf/services/zigbee.cfg and started the OH2 system (called ./start_debug.sh). In logs I saw the following:

[2015-07-14 14:43] cdjackson commented on #2844
Oh2 isn't configured through the CFESat or items files - it's all done through the UI. So you need to manually add the coordinator and enter the port into the box along with the pan id and channel.

Once you enter the coordinator and start discovery it will hopefully find your signee devices and add the new things and corresponding items.

Sent from my iPhone

[2015-07-14 15:14] SkynetHome commented on #2892
I'm glad to read that the device is working properly and thanks again for
your patience and rapid feedback! Feel free to tag me in any future device
additon requests you may have. Openhab 2 is coming and should make adding
new devices even more fluid but in the meantime I am happy to help out
where I can! Enjoy!
On Jul 14, 2015 4:41 AM, "anordvall" <notifications@github.com> wrote:

[2015-07-14 15:17] SkynetHome commented on #2855
Yes, if you are compiling the xml's yourself you have to also update your
product file. I appreciate the quick feedback and am glad to read that
everything is up and running now!

I have found the problem when I add :

0x169
POPP_NEW2

0001
0001

POPE005206
Z Weather
popp/zweather.xml

 into products.xml it works

—
Reply to this email directly or view it on GitHub
<https://github.com/openhab/open

[2015-07-14 16:12] brutevinch commented on #2914
i don't know how, but all works now!!! Chris, sorry and thank you!
Switch test_2 "test" {zwave="2:command=SCENE_ACTIVATION,scene=15,state=1"}

[2015-07-14 16:12] #2914 closed

[2015-07-14 16:29] mgbowman commented on #2900
Just a quick follow-up, if you click and hold the mouse in the browser (for at least 200ms), the event will fire as normal. It's just when you click and release within 200ms the event doesn't fire.

[2015-07-14 16:32] ZeroNine00 commented on #2855
Did you change the original product.xml at GH ?
Hopefully one last Question can tell me how I must set the wakeup interval for this device ?
At the moment it only send data when I press the button on the device ...

I think it is a special device because it is the first zwave device with autonomy power.

Regards

[2015-07-14 17:47] mihalv commented on #982
The problem seems to be resolved now! Have not had any issues since last update.

[2015-07-14 17:47] #982 closed

[2015-07-14 18:01] JacoEHV commented on #2631
Hello,
I have the same problem
OS: Win7 32Bit
IE 11.0.6900 32Bit

ragards Jaco

[2015-07-14 18:38] SkynetHome commented on #2855
Yes I updated the product file when I added the device. If you have not pulled from cloudbees then you dont have those updates thus you had to add them yourself.  I would recommend reading over the manual for the device to better understand its functionality. From a cursory reading on my part it does not appear that the wake up is a configurable parameter for this device. Here is an excerpt from t

[2015-07-14 18:54] Averelll commented on #493
Hi all,

New to OpenHAB, and got myself a u::lux evaluation kit as well, it looks great. Trying to make the existing binding work, but no success. Might there be a compiled version for 1.7 available? and a simple instruction as well? :)

Thanks,
Averell

[2015-07-14 20:20] spacemanspiff2007 commented on #2881
Hi,
the config is shown and doesn't give me any errors anymore!
Thank you for your help!

[2015-07-14 20:20] #2881 closed

[2015-07-14 20:20] spacemanspiff2007 commented on #2903
Device is now in Database, problem is still there.

[2015-07-14 20:54] cniweb commented on #1989
I once created a SPK package for version OpenHAB 1.7.0:
https://github.com/cniweb/openhab-syno-spk/releases

It is there also a package for OpenHAB 1.6.2 + 1.6.1 + 1.5.0!

Tested with Synology DiskStation 214play + 209 + 101j!

[2015-07-14 20:57] abrenk commented on #493
A build of the binding is available at https://dl.dropboxusercontent.com/u/18314075/org.openhab.binding.ulux-20150514.jar.

Can you be more a little more specific what the current documentation at https://github.com/abrenk/openhab-ulux-binding is missing?

[2015-07-14 21:10] teichsta commented on #1989
it would be REALLY great to have this generation automated. Any chance to find anybody familiar with maven to automate this task?

[2015-07-14 21:12] teichsta commented on #493
@abrenk how is the binding evolving? Are you going to provide it as PR? Best, Thomas E.-E.

[2015-07-14 21:25] teichsta commented on #2631
Hi, please note that the Classic-UI does only work on webkit based browser which IE does not belong to :-) Best, Thomas E.-E.

[2015-07-14 21:36] cniweb commented on #1989
Hi @teichsta,

perhaps goes the maven assembly plugin:
http://maven.apache.org/plugins/maven-assembly-plugin/assembly.html
The SPK is a simple tar file renamed in spk...

Chris

[2015-07-14 21:49] SkynetHome commented on #2881
My pleasure, glad we got it sorted out and thanks again for the quick
feedback!
On Jul 14, 2015 3:20 PM, "spacemanspiff2007" <notifications@github.com>
wrote:

[2015-07-15 04:39] brutevinch commented on #2875
Doubled same device in my.openhab devices. Problem is here. Now works.

[2015-07-15 04:39] #2875 closed

[2015-07-15 06:41] kaikreuzer commented on #2631
@teichsta, I thought https://github.com/openhab/openhab/pull/2718 was about supporting non-webkit browsers as well? Firefox at least is working nicely.

[2015-07-15 07:53] mstormi opened #2919 "rule context reset / variables become uninitialized"
Hi,

seems that to trigger upon the same item in two different rules can cause some bad kind of execution context loss.
The effect is that variables 'suddenly' become uninitialized although you don't touch them anywhere but in a single rule, driving any programmer into madness ...
I found some Google+ posts of people with a similar problem a year ago, Kai also looked into this, but apparently the

[2015-07-15 08:16] watou commented on #2919
@mrguessed fixed a similar sounding problem #2362 in 1.7.0 with rule execution contexts becoming corrupted, but maybe this case wasn't addressed by that fix.  Since it was merged only two months ago, maybe it's still fresh in your mind, @mrguessed?

[2015-07-15 09:58] Placemaster commented on #1989
Hi @tedstriker,

I confirm it is working for 1.7 with method you mention. Be very carefull with what you do. Copying 1 file to much and it is broken.
Have also copied my items and sitemaps and the openhab.cfg. My system is up and running again but now on 1.7

[2015-07-15 10:56] omatzyo opened #2920 "Binding Request: NCID Interface"
I have NCID setup on my network as a call screening appliance for a landline.  It works amazingly well.  As it is instantly aware of incoming calls and the caller ID, I would love to be able to interface it with the system to create rules and notifications through openhab.

http://sourceforge.net/projects/ncid/

Thank you!

[2015-07-15 11:11] agsochi opened #2921 "Binding Request: Any pulse counter binding"
Would be great if someone create "Any pulse counter binding".
Functions: Counters, moment consumption, hourly, daily, monthly, yearly and so on.
Difference between periods.

[2015-07-15 12:09] ZeroNine00 commented on #2855
So now it works with this settings :

you must set the wakeup interval to 300 and also the interval per item to 300.
![screen shot 2015-07-15 at 14 06 35](https://cloud.githubusercontent.com/assets/2928848/8698062/c948217a-2afa-11e5-8ae9-3637f8a89da7.png)
![screen shot 2015-07-15 at 14 06 54](https://cloud.githubusercontent.com/assets/2928848/8698063/c94b8856-2afa-11e5-8ec4-4bca88457d3c.png)

But

[2015-07-15 12:10] watou commented on #2920
I recommend that you start a topic on this in the [Google Group](https://groups.google.com/forum/?#!categories/openhab), as you might find other interested parties more easily there, and the issue system is more for reporting known issues with existing code.  Someone on the Google Group might like to look at [this code](http://sourceforge.net/p/ncid/code/ci/default/tree/client/ncid.sh), as it's po

[2015-07-15 12:31] sja commented on #2900
I'm not sure how the UI should behave.

All useful combinations are in demo.sitemap, which is my testbed:

[code]
First: All the above controls are handled by `repeatedRequest`/`stopRepeatedRequest`.

1. The DimmedLight should be send a ON/OFF, if I short press (<200ms) the up/down btn.
2. The DimmedLight should be send an INCREASE/DECREASE, if long press (>200ms) the up/down btn.
3. The DemoBlind

[2015-07-15 12:36] kaikreuzer commented on #2900
For 2:
It should repeatedly (!) send INCREASE/DECREASE every 300ms as long as the button is pressed.

3. Blinds should not send ON/OFF/INCREASE/DECREASE at all, but UP/DOWN/STOP/MOVE.
On press, it should send UP/DOWN
If the button is pressed longer than 200/300ms, it should send a STOP upon release.

[2015-07-15 12:44] YupiterOlympic commented on #2844
Hi, Chris, Kai,

I use ZigBee-binding which was cloned from https://github.com/cdjackson/openhab2.git and was builded via Maven utility.

And there are some questions:

1) When I configure the ZigBee-stick I need to point PAN identifier and channel identifier. Are you sure that user - somebody like a driver or a builder - has an idea about these ZigBee parameters?

2) After that I need to point th

[2015-07-15 12:48] sja commented on #2900
For 2: Yes, I meant that. I corrected the text.
For 1: What should MOVE do? I can imagine UP, DOWN and STOP.

[2015-07-15 12:55] sja commented on #2900
@mgbowman You wrote "After updating to 1.7.0, any Slider attached to any Dimmer does not receive the INCREASE / DECREASE commands from the browser."

So for me, a Dimmer in ClassicUI should only send INCREASE/DECREASE in case of a long press. For ON/OFF you have to add `switchSupport` attribute.

[2015-07-15 13:02] kaikreuzer commented on #2900
Not relevant for the UI. In general it is the opposite of STOP. So having stopped, a MOVE should simply make it move again in the direction it did before the STOP. I guess MOVE is the least used command in openHAB ;-)

[2015-07-15 13:31] omatzyo commented on #2920
Oh great, thank you!  I'm new to this.  Maybe I'll even try my hand at the binding.

[2015-07-15 13:31] #2920 closed

[2015-07-15 13:38] mrguessed commented on #2919
My changes for #2362 were picked up late for the 1.7.0 (Release) codebase, so it would be worth double-checking that you're not running one of the Snapshot builds (or the pre-release test build) since it's in the core.

Have you tried the one from:
     http://www.openhab.org/downloads.html

or a build from master?   I have my production openHAB running from the downloads link above, and don't hav

[2015-07-15 14:31] robnielsen commented on #1820
My above comment wasn't the issue. The issue was caused when the token expired, and the token was refreshed. The binding would make a recursive call to re-execute the binding, which would cause null pointer exceptions in the original execute call to the binding.

[2015-07-15 15:32] mstormi commented on #2919
I've just installed latest (1.8.0) snapshot, and yes, this seems to have
fixed the issue, at least my quoted code is working properly now.
So I guess I hadn't been running 1.7.0-release as I thought I had. Sorry
for that.

regards,
Markus

Am 15.07.2015 um 15:38 schrieb Mark Clark:

[2015-07-15 15:34] mstormi commented on #2919
duplicate of #2362

[2015-07-15 15:34] #2919 closed

[2015-07-15 16:54] teichsta commented on #2920
Thanks @omatzyo!

[2015-07-15 19:09] Averelll commented on #493
@abrenk, a big part is understanding how it all works together. I will give you an example.
In the example u=lux project, there is a dimmer, for this light actor 1 is defined. So looking at your example, I would say I can capture the key clicks for up and down using  Switch Ulux_Key_1 "Key 1" <none> { ulux="{switchId=1, actorId=1, type='KEY', additionalConfiguration='1'}" }
I get the actor, but th

[2015-07-15 19:27] udo1toni commented on #2900
Plese don't forget: for knx there is another way of dimming as well (most common today):
Start Dimming with an INCREASE/DECREASE (not repeated!) and stop Dimming with STOP.
See Details in https://github.com/openhab/openhab/issues/635

[2015-07-15 19:29] teichsta commented on #2858
since your Debian version is not yet released and the openhab.service file is generated i tend to close this issue for now and reopen it once the stretch/sid has been released. What do you think?

[2015-07-15 19:32] kaikreuzer commented on #2900
Yes, but the specification about the UI must not be in any way specific to any binding. So #635 must be handled within the binding, not within the UI.

[2015-07-15 19:34] renini commented on #2858
yes sure, it was just for information for any new .deb package that will be
created of openhab.

On Wed, Jul 15, 2015 at 9:29 PM, Thomas Eichstädt-Engelen <
notifications@github.com> wrote:

[2015-07-15 19:42] teichsta commented on #2858
@theoweiss could you please have a look into the generation process? Just to check if there is no newer version of the plugin available? @renini since we simply use the jdeb maven plugin in our build process, it would be great if you could open an issue there (and probably directly refer to this issue).

Thanks, Thomas E.-E.

[2015-07-15 19:42] #2858 closed

[2015-07-15 20:02] teichsta commented on #875
@slintes could give us a short update on the state of your Binding? Are you going to send a PR? Would be REALLY great to have this merged into 1.8! What do you think?

[2015-07-15 20:37] teichsta commented on #2916
this could be related to #2922 … can you confirm?

[2015-07-15 20:46] teichsta commented on #2742
any news on this @sja?

[2015-07-15 20:47] teichsta commented on #2649
any news on this @theoweiss?

[2015-07-15 23:22] robnielsen commented on #1818
@teichsta, I'm sure this defect can be closed.

[2015-07-16 00:57] SkynetHome commented on #2855
Sorry, I just realized that my changes have not yet been merged therefore you couldn't possible get those changes from cloudbess. Can I take your last post to mean that everything is running correctly and the PR is good to merge?

[2015-07-16 04:17] NSchnitzler commented on #2916
no, just tried cloudbees version without the mentioned lines.
The program ist still not starting.

[2015-07-16 10:25] ollie-dev commented on #875
Yeah that would be great! Currently there are still some todos to get it ready for a PR in my opinion. How is your schedule regarding a 1.8 release?

[2015-07-16 11:57] sja commented on #2742
started on it

[2015-07-16 12:01] ZeroNine00 commented on #2855
Hi ,

yes now it works , but as said before you must change the product.xml because the manufactor id is another (0x169) as before from popp

Regards

[2015-07-16 12:05] kvakanet commented on #626
Hello!
 OpenHAB 1.7.0
When I have one device on the bus rs485 uses the parameters 9600n2 openhab then sends the request, but the device does not respond.
[code]
 When I query the device via the parameter modpoll 9600n2 the device responds. (If I check with parameter 9600n1 is not responsible). When I change the settings of the device on the 9600n1 openhab normally works with device with config.
[c

[2015-07-16 12:20] omatzyo commented on #2920
Got it working with the TCP binding. Thank you @telchsta.

https://groups.google.com/forum/#!category-topic/openhab/items/tcp/lZNUTqkWkBo

[2015-07-16 12:48] sja commented on #2742
I've seen, that images are served on `/images`. I don't think that this should change, because it's a feature to add own icons which are used from different UIs. Right?

[2015-07-16 14:49] twisniew1976 commented on #736
I have the same/similar issue. (openHAB 1.7.0)

No one presented solution work every time for me, so I've builded some workaround which work for me for 100%.

It is no so beautiful solution :-D

I stopped using `System started` trigger in rules.

I've created virtual item:
`Switch	SystemStarted	"System: Started [%s]"	{ exec="<[/home/pi/openHAB/bin/getItemLockState.sh@@%3$s:60000:REGEX((.*?))] >[*:

[2015-07-16 15:29] kaikreuzer commented on #2742
Right, since on OH1 there is no icon servlet in place, so all images are taken from /images, which is served from the openhab_home/webapps folder.

[2015-07-16 16:36] Testato commented on #765
Is this bug present on OH 1.7.0 too ?

[2015-07-16 17:03] renatoriolino commented on #765
I think so.  At least I have naver had those errors anymore.

[]'s

2015-07-16 13:36 GMT-03:00 Testato <notifications@github.com>:

[2015-07-16 18:10] zyrotron opened #2928 "Access Error: 404 -- Not Found"
I have installed openhab 1.7 with demo files on windows 8.1 and on Mac OS X 10.10.4. On both systems when I go to http://192.168.1.55:8080/openhab.app?sitemap=demo I get the following message

Access Error: 404 -- Not Found
Cannot open document for: /openhab.app

I tried with openhab2 alpha and I get the same error message.

Any suggestions?

[2015-07-16 20:11] theoweiss commented on #2649
Here is a description what has to be done:
http://blog.bintray.com/2014/12/16/hosting-debian-packages-on-bintray-rocks/
I will try it first with my private repo and give you some feedback.

[2015-07-16 20:14] theoweiss commented on #2858
It's a matter of the openhab jdeb configs, no jdeb-maven-plugin problem. I will take a closer look at this this weekend.

[2015-07-17 08:18] udo1toni commented on #2048
Possible same as https://github.com/openhab/openhab/pull/2880...

[2015-07-17 12:21] FSSDawid commented on #2553
Hi @SkynetHome
It's not working for me looks like it's has the wrong mapping:
https://www.dropbox.com/s/kbl1zdapprlh0lw/Screenshot%202015-07-17%2014.20.41.png?dl=0
type should be 5 not 1 @ least in the EU version.

Kind regards
Dawid

[2015-07-17 15:48] SkynetHome commented on #2553
Thanks for the update will take a look right away.
On Jul 17, 2015 7:22 AM, "Dawid Kuboszek" <notifications@github.com> wrote:

[2015-07-17 15:52] FSSDawid commented on #2553
If you need someone to test this let me know. I don't have the build environment for openhab so you would need to send me the z-wave jar with the fix.

[2015-07-17 16:15] SkynetHome commented on #2553
Sorry I just woke up and didnt fully look it this. It appears you updated this on your own and created a PR for it but your edits dont match the screen shot you linked.

[2015-07-17 16:21] SkynetHome commented on #2553
I have edited the file and committed but not pulled yet as i dont want to have multiple PR's for the same product change. Do you want to fix yours and squash or close it and i'll issue my PR then.

[2015-07-17 16:25] FSSDawid commented on #2553
That's how you end up when you edit something in the browser  ;)
I have closed off my PR.
You can push yours.
Thanks

[2015-07-17 16:54] mgbowman commented on #2900
@sja I should have been more clear. I was used to repeatedly clicking the up / down arrows in my browser to change the volume on my AVR.

Reading your comments, what you did makes sense. Assuming `switchSupport`, send ON / OFF when it's < 200ms 'click' and repeatedly send INCREASE / DECREASE for > 200ms long press.

With that said, assuming no `switchSupport`, any user that clicks < 200ms, the UI

[2015-07-17 17:01] SkynetHome commented on #2553
Thanks PR issued. If I get time today I will compile the binding for you.

[2015-07-17 17:19] FSSDawid commented on #2553
Grate appreciate it.
Cheers

[2015-07-17 18:53] Piotr-23 commented on #2863
Hi, I have exactly the same problem (2014 device). I described that here:
https://groups.google.com/forum/#!category-topic/openhab/samsung-ac/K4vKqgz4_cE
Would like to know how to fix it; thanks | Piotr

[2015-07-17 20:03] kaikreuzer commented on #2466
The state is always a plain string, if you want to use XML or json(p), you need to use the item resource itself, i.e. http://demo.openhab.org:8080/rest/items/Weather_Temperature?type=jsonp, which works nicely.

[2015-07-17 20:03] #2466 closed

[2015-07-17 20:06] kaikreuzer commented on #2474
Well, I wouldn't call it a bug, but I agree that it would be more user friendly if the repeating sending of INCREASE/DECREASE would start right on the first moment of pressing the button.

Nonetheless, I would suggest to close this issue as https://github.com/openhab/openhab/pull/2792 will bring a proper slider.

[2015-07-17 20:06] #2474 closed

[2015-07-17 20:07] kaikreuzer commented on #2885
Could you post the according part of your sitemap as well?

[2015-07-17 20:10] kaikreuzer commented on #2340
Note that the core runtime of openHAB 1.x is considered frozen and this would be a major functional change. All such things further evolve at Eclipse SmartHome now, so that it will be in openHAB 2.

[2015-07-17 20:10] #2340 closed

[2015-07-17 20:11] kaikreuzer commented on #2365
I second @udo1toni and close this issue :-)

[2015-07-17 20:11] #2365 closed

[2015-07-17 20:12] kaikreuzer commented on #425
Closing as inactive.

[2015-07-17 20:12] #425 closed

[2015-07-17 20:12] kaikreuzer commented on #376
Closing as inactive.

[2015-07-17 20:12] #376 closed

[2015-07-17 20:13] kaikreuzer commented on #423
This has been implemented meanwhile.

[2015-07-17 20:13] #423 closed

[2015-07-17 20:14] kaikreuzer commented on #286
This is available by now through my.openHAB, see https://my.openhab.org/docs/notifications

[2015-07-17 20:14] #286 closed

[2015-07-17 20:15] kaikreuzer commented on #164
Closing due to inactivity. GreenT does not seem to be maintained anymore.

[2015-07-17 20:15] #164 closed

[2015-07-17 20:17] kaikreuzer commented on #579
Closing as I'd prefer to follow up on this for openHAB 2.

[2015-07-17 20:17] #579 closed

[2015-07-17 20:20] kaikreuzer commented on #646
Closing this due to inactivity.
There are multiple possibilities to do geofancing by now (e.g. OwnTracks), so no need to build that into the native apps. And if, then please enter issues at the according issue trackers of the respective repos.

[2015-07-17 20:20] #646 closed

[2015-07-17 20:41] agsochi opened #2932 "iOS app - cant scroll down when 2 or more Webview items exists"
Site map:
Webview url="http://goolge.com" height=18
Webview url="http://goolge.com" height=5

I cant scroll down to view second Webview item.

[2015-07-17 21:17] JoelLinn opened #2934 "Novelan Binding: Add binary inputs and outpus"
Please consider adding these to the binding.
The ones most important to me are HUP (39) , VBOSUP(43).
It is very important to see when the heating circulation pump was activated by the controller.
It helps with optimizing the settings.

[2015-07-17 22:36] brutevinch commented on #2885
Frame label="Температура"  {
                Text item=TempOutMenu valuecolor=[>25="orange", >15="green", >5="orange", <=5="blue"]  {
                        Text item=TempOut valuecolor=[>25="orange", >15="green", >5="orange", <=5="blue"]
                        Text item=HumidityOut
                        Text item=DawnStart
                        Text item=DuskStart

[2015-07-17 22:39] brutevinch commented on #2885
Oh! This is because i use frame. Got it! But chart had strange border.
![2015-07-18 3 37 53](https://cloud.githubusercontent.com/assets/12526597/8758541/9c7521ec-2cfe-11e5-82c2-1fa32e0bf1bf.png)

[2015-07-19 04:30] SkynetHome commented on #2892
@cdjackson  I think this should be good to close. Got confirmation that its working above.

[2015-07-19 07:50] cdjackson commented on #2892
Thanks.

[2015-07-19 07:50] #2892 closed

[2015-07-19 19:37] FSSDawid commented on #2553
Just to confirm it's working like a charm.
Thanks for the effort!

[2015-07-19 19:39] cdjackson commented on #2553
Thanks for the feedback - @SkynetHome thanks for the addition :)

[2015-07-19 19:39] #2553 closed

[2015-07-19 22:22] appleague opened #2941 "Add Support for "Wall Switch Set for Busch-Jaeger DURO 2000""
Please add the zwaveme wall switch "ZME_05457" to the database.
http://manuals.zwaveeurope.com/make.php?lang=en&type=&sku=ZME_05457
http://www.pepper1.net/zwavedb/device/266

Thanks in advance!
Martin

[2015-07-20 00:31] SkynetHome commented on #2941
I will take care of this after dinner!
On Jul 19, 2015 5:22 PM, "Martin Hennerbichler" <notifications@github.com>
wrote:

[2015-07-20 01:51] GASASB opened #2943 "PushNotification java.lang.NullPointerException: null"
Hi All,

Started to have this problem after using some time using it. My setup is Raspberry Pi - Debian, AeonLab Zwave Controller and AeonLab door, window sensor. Every time my door opens I send a message through pushNotification.

All of Sudden I started to get the followign error:

2015-07-19 21:12:12.118 [INFO ] [runtime.busevents             ] - Door_House state updated to CLOSED
2015-07-19 21

[2015-07-20 02:19] SkynetHome commented on #2941
If you have device Id and Type ID that would be very helpful. Getting ready to write this now!

[2015-07-20 04:22] mrguessed commented on #2144
In practice, this hasn't been necessary.  Will reopen if that changes.

[2015-07-20 04:22] #2144 closed

[2015-07-20 06:14] cdjackson commented on #2941
Thanks @SkynetHome.

@appleague This is merged, please let us know if it's ok - it should be in tomorrows snapshot.

[2015-07-20 06:20] SkynetHome commented on #2941
@cdjackson my pleasure, I'll stay tuned to this and handle any issues should they emerge!

[2015-07-20 06:31] foxy82 opened #2945 "DateTimeType isn't thread safe"
DateTimeType uses a public static SimpleDateFormatter meaning that this class isn't thread safe.

The formatter is used in lots of places in DateTimeType it is also public allowing anyone access (making this a little difficult to fix as it could be used in rules).

Proper fix would be to make these formats private and then provide formatting methods or a method to get a formatter that returns a ne

[2015-07-20 06:50] watou commented on #2945
One approach to fix this would be to copy what the Android developers did with a [thread-local cache of SimpleDateFormats](https://android.googlesource.com/platform/external/apache-http/+/android-2.2_r1/src/org/apache/http/impl/cookie/DateUtils.java).  This would avoid possible blocking for access to a single shared instance.

[2015-07-20 09:05] appleague commented on #2941
fyi, now after i woke up the switch was recognized as "ZME_054313Z Flush mountable switch" and i can use it
i can test it again with the updated zwave binding...

thanks a lot
martin

[2015-07-20 13:27] mrguessed commented on #2945
Cite: Issue #2930 Nest-Binding: Suppress occasionally failing update echo cancellations.

Linking the tickets so there's context as to why this is an issue.

[2015-07-20 14:07] mrguessed commented on #2945
You can also go non-fancy, and just replace the 2x consts with Methods of the same name, and have those return a _new_ `SimpleDateFormat` object on each call.

It's low risk, low code, and isn't that slow on modern micro's

On my C1, for 1,000,000 (1M) loop executions, it takes:

Action   | Time (s)
-----------|--------
loop(Create-only) | 56
loop(Create+Parse) | 109
loop(Create+Format) | 96

If t

[2015-07-20 14:11] foxy82 commented on #2945
My suggested fix (without the deprecation yet).

[code]

[2015-07-20 14:40] watou commented on #2508
This may or may not be related to this duplicate events issue, but there is a known weakness in the logic that suppresses the echoing of update events that the binding itself generates, causing them to be echoed back to the underlying system.  In KNXBinding.java, the `ignoreEventList` array keeps a list of update events by concatenating the itemName with the state's string value.  In the `internal

[2015-07-20 16:06] mrguessed commented on #2945
@watou, can you label this bug with "bug", "esh" and "critical"?

Looks like I don't even have rudimentary permissions so I can't label.

I validated that it (at least) exists in the ESH company layer (probably elsewhere also)

Technically the Bean-style calendar interface to this class is also a t-safe issue as well.  It just might not have been exercised yet

[2015-07-20 16:38] afflux opened #2946 "JNA not loaded for GPIO bindings on ARM"
I'm using a Raspberry Pi with Raspbian jessie and openhab from `deb http://dl.bintray.com/openhab/apt-repo stable main`. I have a GPIO pin configured as a `Contact`.

When starting up openhab, the poll thread fails with the following exception:
(Output was created with `JAVA_ARGS=-Djna.boot.library.path=/usr/lib/jni -verbose:class -verbose:jni`)

    [Loaded org.openhab.binding.gpio.internal.GPIOB

[2015-07-20 16:39] watou commented on #2945
I agree that it ought to be seen as a critical bug when thread safety issues are discovered, for all the havoc they can wreak later if not properly addressed.  I'm just not up to speed on issue labeling conventions, so lets ask @teichsta how he views this issue.

[2015-07-20 16:55] dtriphaus commented on #2761
Deactivated some addons, no issues since 4th of july.

Here is the list of still activated addons:
[code]
Last log entry last time the scheduler stopped working was about influxdb which is still activated, but I deactivated the mysql addon. Maybe the persistence-addons where interfering? Just a guess...

[2015-07-21 07:10] steevel commented on #1209
+1

I'd put up a c-note for getting this support. Anyone willing set this up somewhere?

[2015-07-21 09:00] adarshlal commented on #2595
Sorry for the late reply.

Device ID: 603
Device Type: 101
Manufacture ID: 11a

![screenshot from 2015-07-21 14 25 59](https://cloud.githubusercontent.com/assets/7660270/8796779/10100aa0-2fb5-11e5-8314-5c172d31c0d1.png)

[2015-07-21 09:36] appleague commented on #2941
FYI
i have downloaded and added the new zwave jar after i have removed the node (Node5 (ZME_054313Z)) and then i added the wall switch again.
Now the device has the name Node6 and it is recognized as "ZME_054313Z" and not as "ZME_05457".

[2015-07-21 14:04] SkynetHome commented on #2595
Will add today
On Jul 21, 2015 4:01 AM, "Adarshlal S" <notifications@github.com> wrote:

[2015-07-21 14:07] SkynetHome commented on #2941
I assume this is a new device that was packaged as a zme_05457? Also what
is the device type and id  that it is showing?
On Jul 21, 2015 4:36 AM, "Martin Hennerbichler" <notifications@github.com>
wrote:

[2015-07-21 15:35] appleague commented on #2941
Device ID=1
Device Type=1000
<img width="690" alt="habmin_zwave_devices" src="https://cloud.githubusercontent.com/assets/11668480/8804911/b3aabb38-2fce-11e5-8235-8754d1fd85a0.png">

[2015-07-21 15:56] SkynetHome commented on #2941
Is the device working properly. It could be that it's just rebranded from a
previous device. I briefly scanned the xml for the device it is being
recognized as and it appears to be identical to what I wrote for the device
you originally linked save that the association groups take 14 nodes on
your device and 8 on the other.
On Jul 21, 2015 10:35 AM, "Martin Hennerbichler" <notifications@github.com

[2015-07-21 16:23] appleague commented on #2941
the device is working...

[2015-07-21 21:59] theoweiss commented on #2748
influxdb-java 2.0 is still not released: https://github.com/influxdb/influxdb-java/issues/37 . I think the new binding won't make it into 1.7.1 :-((

[2015-07-21 23:04] SkynetHome commented on #2595
There is little to no information about this device. The links above are no good. I found good links on the Enerwave site but the product sheet defines no parameters outside of parameter 3 which is for unsolicited polling. I am happy to try and put this together and I may try to borrow from a similar device but if you have the current xml for the device and any info regarding how it is currently f

[2015-07-22 10:05] watou commented on #2945
Two known issues caused by the non-thread-safe `DateTimeType.toString()` and the underlying use of the non-thread-safe `SimpleDateFormat` used across multiple threads: #2930 and #2942.  Also possibly related to issue #2508.

[2015-07-22 10:51] kaikreuzer commented on #2661
Imho, #1757 should not have been merged, it introduces a bi-directional dependency between the PersistenceManager and the PersistenceServices. As far as I understand the problem is only for services that require a configuration. These should imho use ```configuration-policy="require"``` and handle the configuration in the activate() method and not implement ManagedService at all.

Please address t

[2015-07-22 14:12] hakan42 commented on #2804
Do you have a pull request or compiled archive for your addon? I would love to test it, especially given that the MySQL binding is broken in openhab2 (see https://github.com/openhab/openhab/issues/2661 )

[2015-07-22 19:05] dtriphaus commented on #2761
I think we can close this one then.
Thanks again for your help @gerrieg and @dominicdesu!

[2015-07-22 19:05] #2761 closed

[2015-07-22 23:01] teichsta commented on #1820
merged #2924 into master which should fix this issue

[2015-07-22 23:01] #1820 closed

[2015-07-22 23:09] #2723 closed

[2015-07-23 06:27] lewie commented on #2804
Hi @hakan42,

https://github.com/lewie/openhab/tree/PostgreSQL-new-binding/bundles/persistence/org.openhab.persistence.postgresql/generadedBundle

please let us know your results! ;-)

Best Helmut

[2015-07-23 06:29] nickma82 commented on #626
I'm not quite sure about that but I think this is the problem I mentioned a couple of weeks ago [here](https://groups.google.com/d/msg/openhab/0BtLVPpta9U/WY4Tx98LJ1wJ).

IMHO there is a need to change the [ModbusSerialSlave.java](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.modbus/src/main/java/org/openhab/binding/modbus/internal/ModbusSerialSlave.java#L32-L3

[2015-07-23 15:23] pixiandreas opened #2951 "Show user number when arm/disarm DSC Binding"
When i arm the house the event log only show :
2015-07-23 17:14:32 - PANEL_MESSAGE state updated to 700: A partition has been armed by a user.

I would be perfect if it can show which user ( user 0 , user 1 ...)

(I want to see how has disarm and arm with a mail)

[2015-07-23 18:59] dominicdesu commented on #2785
OW binding class javadoc states:

This should probably be on the wiki page?
Now we can also start discussing what alphanumeric means. According to wikipedia, sometimes it is only numbers and letters, sometimes it also includes special characters like . , )(

Question is: Is it acceptable that only alphanumeric strings are allowed (update wiki) or should the binding support any character for the se

[2015-07-24 09:09] harisjmd commented on #980
2015-07-24 06:23:45.895 [ERROR] [.c.mqttv3.internal.ClientState] - openhab: Timed out as no activity, keepAlive=60,000 lastOutboundActivity=1,437,707,889,862 lastInboundActivity=1,437,707,851,920
2015-07-24 06:23:53.489 [ERROR] [o.i.t.m.i.MqttBrokerConnection] - Error starting consumer
org.eclipse.paho.client.mqttv3.MqttException: Connection lost
	at org.eclipse.paho.client.mqttv3.internal.CommsRe

[2015-07-24 10:39] staehler opened #2953 "Fritzbox: FritzOS 6.35 disables telnet"
http://avm.de/fritz-labor/labor-fuer-fritzbox-7490/neues-verbesserungen/
Unfortunately AVM decided to disable telnet on fritzboxes with FritzOS 6.35. There is an urgent need to adapt thefritzbox- binding as it uses the telnet connection to fritzbox.

[2015-07-24 11:44] hakan42 commented on #2804
Hi @lewie ,

I used both your jar file and a fresh one I compiled from your branch with some additional logging (I might contribute a pull request against your branch after some cleanup).

In my log file, I can see that the store() method is being called, but it returns immediately because initialized is false. And initialized is false because activate() is never being called.

I have services/pos

[2015-07-24 12:44] thorcode opened #2955 "Say and playSound stopped working"
I am running org.openhab.io.multimedia.tts.googletts-1.7.0.jar on ubuntu and the sound had been working for weeks (months really - but upgraded to 1.7 and it worked for weeks).  It all of a sudden both the say and playSound commands stopped producing sound.  Not sure what could have happened.

I don't see anything in the logs that is related to 'sound' issues...

I can see the binding go out and g

[2015-07-24 14:12] lewie commented on #2804
Hi @hakan42,
I have not tested it in OH2...
The question arises, how or by what the ````activate ()```` function is called in other services?
What I can think of, do you need default DB Parameter in OH2?
[code]

[2015-07-24 14:40] hakan42 commented on #2804
Stealing from rrd4j, I just created a PostgresqlActivator, and added that to META-INF/MANIFEST.INF , but was not really successful either.

I have to check the persistence:default, I thought that all configured persistence services would be running.

[2015-07-24 14:59] hakan42 commented on #2804
By the way, reading your discussion on the other PR, what do you think about creating a generic SQL binding for OH2 , starting with your ideas in this branch? As you were talking about it in https://github.com/openhab/openhab/pull/2805 ?

[2015-07-24 15:57] teichsta commented on #2955
Hi John,

did you try to call the URL und play the file manually using command line tools? Just to rule all specifics regarding openHAB …

Best, Thomas E.-E.

[2015-07-24 19:15] thorcode commented on #2955
I did try the URL in a browser but I'm pretty sure that's not what you are instructing.  I am assuming you suggesting like wget to get the audio file and then something like mplayer to play it.  If not, please direct me to some doc so I can give that a try.

I did try those commands with positive results.  Even with some warnings about permissions (b/c I don't think I configured mplayer) the mp3 p

[2015-07-25 04:55] TeraHz opened #2958 "Add support for Leviton DZPD3-1LW Zwave dimmer"
This guy is on sale so I got a few and it seems like it is not in the DB yet:
http://www.leviton.com/OA_HTML/ProductDetail.jsp?partnumber=DZPD3-1LW&section=66154&minisite=10251
http://products.z-wavealliance.org/products/1020
http://www.amazon.com/dp/B00LEWQZ2U/

Leviton [ID:334,Type:1902]

Here is the node.xml:
[code]

[2015-07-25 13:49] guypilens opened #2959 "ar"

[2015-07-25 17:17] Testato commented on #2859
+1

[2015-07-25 17:50] Testato commented on #2656
This problem appear also if you use the negative sign on an icon name "clock-on.png"

[2015-07-26 05:57] teichsta commented on #2955
that is exactly what i meant. Best thing would be to discuss this on the group (see https://groups.google.com/forum/#!forum/openhab) rather in this issue since we will then have the chance to engage the while community.

Would you mind posting to the group and referring to the discussion from here?

[2015-07-26 06:08] teichsta commented on #2953
any of the Fritzbox Binding contributors @chrisbee @mrzottel @jensihnow @TobiasMende @mod42 @dhufnagel?

[2015-07-26 06:10] teichsta commented on #2951
@RSStephens could you take care of this one please?

[2015-07-26 06:12] teichsta commented on #2946
could you please help out @dpslavov @Speederc?

[2015-07-26 06:14] teichsta commented on #2958
according PR has been merged

[2015-07-26 06:14] #2958 closed

[2015-07-26 06:15] #2959 closed

[2015-07-26 06:26] teichsta commented on #2945
yes, but that would require Java 1.7. Since for OH1 we try to keep backward compatibility to 1.5 this would be a breaking change.

[2015-07-26 06:36] lewie commented on #2661
Hi @kaikreuzer so I've implemented it in this Persistence Service https://github.com/openhab/openhab/issues/2804, incl. configuration-policy = "require", unfortunately, the activate () function seems not to be called in openHab2.

Only for information.
Rgds
Helmut

[2015-07-26 06:45] lewie commented on #2804
Hi @hakan42,
Activator you only need if implementing ManagedService, this is "old OH1 Style" as I understood Kai.

And yes, it's planned to generic SQL binding, but the time alone currently missing me.

Rgds
Helmut

[2015-07-26 06:51] kaikreuzer commented on #2661
@lewie Do you have the code available, so that I can help analyzing why it is not activated on O2?

[2015-07-26 07:17] lewie commented on #2661
Hi @kaikreuzer

[PostgreSQL-new-binding code](https://github.com/openhab/openhab/compare/master...lewie:PostgreSQL-new-binding?diff=unified&expand=1&name=PostgreSQL-new-binding)

Functionality is like as in MySql Service but without ManagedService. Its working well in OH1.

Thanks You
Helmut

[2015-07-26 07:42] teichsta commented on #2945
Thanks for analysing this issue and proposing fixes. I've created #2962 which follows @mrguessed suggestion to simply create new instances when needed which seems to me the best (quick)fix. On the long run (and for ESH, OH2) we should think probably thing about the ThreadLocal variant brought up by @watou. What do you think?

[2015-07-26 08:10] watou commented on #2945
Looks like a good fix. Could switch to ThreadLocal approach in ESH and OH2 when trying to optimize performance, GC, etc.

[2015-07-26 09:10] lolodomo commented on #1403
Regarding the MiOS actions, I can see using Desinger 1.7 that no error are displayed when you open your rule file. But as soon as you try to modify one rule, errors come back.
So the bug is not yet fixed in 1.7 for MiOS actions.

[2015-07-26 09:26] thorcode commented on #2955
Sure things.  Just did.  I appreciate your time.

Have a great day!

John

[2015-07-26 09:39] teichsta commented on #2955
thanks! (link ftr: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/openhab/-INASBWe0gY/Ows5JQ9A3gkJ)

[2015-07-26 09:46] cdjackson commented on #2804
I'm not sure this is possible. Originally (a couple of years ago) we had a generic binding, but it was split as different versions of SQL (i.e. MySQL / Postgres) were not fully compatible. Maybe this can be worked around with configuration or something, but I just mention it in case you weren’t aware of the history of the binding...

[2015-07-26 09:51] teichsta commented on #1403
so it seems several actions aren't working. I know of

* Squeezebox
* xPL
* MiOS
* EcoBee

anything else?

[2015-07-26 10:09] kaikreuzer commented on #1403
Well, looking at https://openhab.ci.cloudbees.com/job/openHAB/ws/products/org.openhab.designer.product/target/products/org.openhab.designer.product/win32/win32/x86/plugins/, I see that at least MiOS, EcoBee and my.openHAB are all not contained in the Designer, right?

[2015-07-26 11:40] RSStephens commented on #2951
Yes, I will look at adding this.

Thanks,
Russell

[2015-07-26 11:46] marcelerkel commented on #1403
The HarmonyHub action is also missing in ./features/org.openhab.designer.feature/feature.xml

[2015-07-26 12:43] ronny332 commented on #2863
All my research showed: samsung swapped the protocol/the way they are communicating with the ACs. At least the change is visible by using the remote app on iOS. Connecting to an old device from 2013 takes about 1s, to the new device it takes about 5-10s. Wireshark is showing lots and lots of very small requests (no ssl or anything detected) but in a seemingly unknown encoding or binary format.
In

[2015-07-26 14:05] cribskip commented on #1150
After migrating to Raspberry 2 with whezzy all is fine, even after 30 days running.
So seemed to be a problem with the Wandboard :-(

[2015-07-26 14:05] #1150 closed

[2015-07-26 14:07] cribskip commented on #2943
You seem to have a rule for item Door_House when changed to OPEN. Please post as there seems to be a persistence query not able to complete which causes this messy output.

[2015-07-26 14:32] cribskip opened #2963 "Onyko binding vs. Onkyo App"
Hi,

when using the onkyo binding in openhab, I noticed the official onkyo android app starts to behave kinda strange: When browsing file lists or just displaying "current track" sometimes it just jumps to the start screen with power control and source selection.

When stopping the onkyo binding, everything is back to normal.

Is this something that's already known?
Maybe @paulianttila knows what'

[2015-07-26 17:06] mrguessed commented on #2945
@teichsta, to be safe the Class should also _clone_ the inbound `Calendar` object (internally, in it's constructor) and also _clone_ before returning a result from `getCalendar()`.

Both of these vectors allow someone to muck with the internal `Calendar` object in a non-safe manner, since they're mutable.  Not sure if they've ever been exercised though...

[2015-07-26 19:04] lewie commented on #2804
I know the code of both MySql and PostgreSql service ery well now, it will not require any complex SQL constructs. But yes, you are right! However, an individual "SQL set" must be created under certain circumstances for each additional database.

The advantage of generic services, however, is the saving of the redundancy remaining identical logic.

Want to have a closer look to see the actual diff

[2015-07-26 19:36] kaikreuzer commented on #1403
So to summarize:
The Designer distribution is lacking the bundles
* MiOS
* EcoBee
* my.openHAB
* HarmonyHub

Then, although it includes Squeezebox action and xPL action, it is missing their depedencies on
* io.squeezeserver
* io.transport.xpl

I would assume that if all these were added, there weren't any problem.

[2015-07-26 19:45] cdjackson commented on #2804
I completely understand and agree that a generic service is nice - if it can be done without increasing complexity and making it more difficult to maintain… I don’t remember all the details, but I just remember when I wrote the current MySQL binding that there were some discussions about the compatibility with other SQL - Postgres was the one that was the one we were originally concerned with and

[2015-07-26 20:24] mrzottel commented on #2953
I'm gonna have a look at this - after wacken open air ;)

[2015-07-26 22:16] teichsta commented on #1403
see #2967 which makes the above mentioned actions visible except my.openHAB

[2015-07-27 00:00] GASASB commented on #2943
The rule that I am using is:

import org.openhab.core.library.types.*
import org.openhab.model.script.actions.*

rule "Initialize Front Door State"
	when
		System started
	then
		Door_House.initialize
end

rule "Front Door opened"
when
	Item Door_House received update
then
if(Door_House.state == OPEN && !Door_House.changedSince(now.minusSeconds(10)))
{
 pushover("Porta da Casa foi aberta", "Luiz_A

[2015-07-27 05:18] staehler commented on #2953
I have to update my message before. It seems, that the current version (6.30), which is offered since few days, already telnet disables. This is mentioned in the respective changelog. Therefore I didn't update to 6.30, in order to keep the openhab functionality.

[2015-07-27 07:36] kaikreuzer commented on #2661
@lewie, this code still refers to the PersistentStateRestorer, see https://github.com/openhab/openhab/compare/master...lewie:PostgreSQL-new-binding?diff=unified&expand=1&name=PostgreSQL-new-binding#diff-3e7cf4102c7c8349b09cd63db28556f9R54.

As mentioned in https://github.com/openhab/openhab/issues/2661#issuecomment-123662806, #1757, which introduced this class, should never have been merged and im

[2015-07-27 07:50] dhufnagel commented on #2953
I do not use a fritzbox anymore but it could be possible to use the TR069 protocol. Another Option is to parse the web-frontend. Unfortunately I am not able to test these things anymore.

[2015-07-27 08:21] teichsta opened #2968 "[Tinkerforge] Move externally required classes from package internal"
see discussion in https://github.com/openhab/openhab/pull/2967

[2015-07-27 08:24] teichsta opened #2969 "[Homematic, Astro] Move externally required classes from package internal"
see discussion in #2967
##

[2015-07-27 08:26] teichsta opened #2970 "[Weather] Remove dependency to org.openhab.ui"
see discussion in #2967 and #2407

[2015-07-27 09:12] gerrieg commented on #2970
If i remove this dependency, i will loose the functionality to show items in the html layouts
see [tokens and example](https://github.com/openhab/openhab/wiki/Weather-Binding#html-layouts) and [the code](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.weather/src/main/java/org/openhab/binding/weather/internal/gfx/WeatherTokenResolver.java#L147)

Or is there anoth

[2015-07-27 14:19] teichsta commented on #2951
fixed through #2964

[2015-07-27 14:19] #2951 closed

[2015-07-27 17:08] eddjlewis opened #2972 "Scheduler stops running"
Since I've upgraded to 1.7.0 from 1.6.2 I seem to have an issue where the scheduler stops running.

There are no ERRORs and running at debug nothing appears amiss

[code]
I've attached a stack trace
https://www.dropbox.com/s/lifa6cw37mko74k/stacktrace.txt?dl=0

Where should I look next?

[2015-07-27 19:00] theoweiss commented on #2968
Do you want me to move the classes or to create an io tinkerforge bundle?

[2015-07-27 20:15] dominicdesu commented on #2972
Here is a similar issue where the scheduler stopped working: #2761.
Can you see some similarities in the openHAB setup?

[2015-07-28 05:30] staehler commented on #1403
Not sure if this item fits here:
Designer marks the CallType (Fritzbox-Binding) with this message: "Couldn't resolve reference to JvmType 'CallType'"
    var CallType call = Incoming_Call_No.state as CallType

[2015-07-28 13:26] petrklus commented on #1300
I have now re-confirmed the issue with 1.7.0.

I've started with a clean setup, here are the items:

    Color  RGBLight0					"RGB Light"				<slider>
    Color  RGBLight1					"RGB Light"				<slider>
    Color  RGBLight2					"RGB Light"				<slider>

Persiste file:

    // persistence strategies have a name and a definition and are referred to in the "Items" section
    Strategies {
    	// for rrd

[2015-07-28 13:35] petrklus commented on #1300
@teichsta Any thoughts on this?

[2015-07-28 14:26] SkynetHome commented on #2855
This has been done and probably should  be closed!

[2015-07-28 14:29] SkynetHome commented on #2745
@solucionesmipc Have you had the opportunity to test your new device yet.  Feedback would be much appreciated so this can be closed!

[2015-07-28 14:32] SkynetHome commented on #2653
@XenonofArcticus can you confirm if your device is now working properly so that this can be closed?

[2015-07-28 14:55] SkynetHome commented on #303
@teichsta If there is any interest in getting this done still, I would be willing to incorporate your review comments on this old PR #656 you referenced. If it is possible for me to pull all of the files that were originally committed in the framework they were originally written in that would obviously be easiest if not I can try an recreate from the PR and implement your changes.

[2015-07-28 14:55] XenonofArcticus commented on #2653
I can't yet. My house is being worked on and that thermostat is actually unhooked because the wall it was in is gone. Sorry to be "that guy". I will test and report as soon as I can, but the construction is expected to last > 1 month.

[2015-07-28 14:59] SkynetHome commented on #2653
Thanks for update!
On Jul 28, 2015 9:55 AM, "XenonofArcticus" <notifications@github.com> wrote:

[2015-07-28 16:13] PelicanHu opened #2975 "Designer 1.7.0 false warning: The value of the local variable XXXX is not used."
![image](https://cloud.githubusercontent.com/assets/5656824/8936689/ef91bb80-3553-11e5-9519-e1f9d2dd5091.png)

If I declare a variable and use it only between the when and then clauses then Designer gives this false warning message.

[2015-07-28 16:17] PelicanHu commented on #2900
I've reported the same for MiLight slider:
https://github.com/openhab/openhab/issues/2807

[2015-07-28 16:37] J-N-K commented on #1300
Sorry for not responding earlier. This cannot work at all. RRD4J stores DecimalType only, see l. 124 in RRD4jService.java:

    DecimalType state = (DecimalType) item.getStateAs(DecimalType.class);
    if (state!=null) {
        double value = state.toBigDecimal().doubleValue();
        [...]
        sample.setValue(DATASOURCE_STATE, value);
        sample.update();
        logger.debug("Stored '{

[2015-07-28 18:05] Testato commented on #2807
+1

[2015-07-28 18:29] landmanp opened #2977 "COCO ACM-100 problem"
I hav OpenHab running with CoCo switches and a doorbel. Also Z-Wave is working and I am very pleased with it.
Now I have bought a CoCo ACM-100 Dimmer and I can't figure out how to connect OpenHab to it.
Anyone had the same problem? I am using the RFXcom USB device.

Regards
Poul
OpenHab 1.7 on RPI2

[2015-07-28 21:00] marcelerkel commented on #2975
Actually, it's not a false warning because what you are trying to do is not possible.
Your rule would trigger when Alarm_Status.state changes from "DISARM" to "LEAVING" which is unlikely to ever happen because I reckon Alarm_Status is of type Number and not of type String.
So the `LEAVING` between when and then is just a string and not the `val int LEAVING` variable you have defined.

[2015-07-28 21:14] sjw04 opened #2978 "ZWave: Fibaro Dimmer Missing Option for Parameter 14"
Fibaro Dimmer FGD211 v2.1 - v2.3 manual lists a third option for configuration parameter 14:

`bundles/binding/org.openhab.binding.zwave/database/fibaro/fgd211-21.xml` only contains the following settings for parameter 14:

I would assume that something like the following needs adding to the parameter 14 list in the configuration XML file:

[2015-07-28 21:18] teichsta commented on #1403
are you sure you've added an import org.openhab.library.tel.CallType in your rules file?

[2015-07-28 21:20] cdjackson commented on #2978
Agreed - can you create a PR?  I would keep the size of the table down maybe to the “-" other wise it might get a bit long (I’m starting to think OH2 here)...

[2015-07-28 21:21] PelicanHu commented on #2975
Thank you for your answer but please help me a little bit more because I don't really understand it.
So between when and then I cannot use any variable?
What about numbers? Is it make any change if I put this:
Item Alarm_Status changed from 0 to 3
Or this is also impossible?

[2015-07-28 21:31] teichsta commented on #2649
fixed with #2965

[2015-07-28 21:31] #2649 closed

[2015-07-28 21:42] teichsta opened #2979 "Fix logging of Rrd4J PersistenceService for unsupported Types"
see #1300 for details
##

[2015-07-28 21:43] teichsta commented on #2979
@J-N-K would you mind taking care of this?

[2015-07-28 21:43] teichsta commented on #1300
Thanks for this explanation @J-N-K! I've created #2979 to follow-up the open changes. Best, Thomas E.-E.

[2015-07-28 21:43] #1300 closed

[2015-07-28 21:56] sjw04 commented on #2978
I've created a PR for this (I hope...).

[2015-07-28 21:58] cdjackson commented on #2978
Thanks - all good and merged :)

Cheers
Chris

[2015-07-29 04:09] aaronsutton commented on #902
This issue still exists for me with openHAB 1.7. Is it resolved in 2.0?

[2015-07-29 04:59] staehler commented on #1403
@teichsta Thanks for the hint. I've imported this lib but the designer message remains (after validating the code). BTW: the rule works, even without this imported lib.

[2015-07-29 07:36] petrklus commented on #2979
Thank you very much guys for your replies. Just a thought on this - shouldn't there be a bit more "loud" warning when users try to store unsupported types?

For example, I would expect error to be thrown when trying to store ColorItem into RRD4J datastore.

[2015-07-29 10:26] hmerk commented on #2807
This issue should be closed, as it is not caused by the binding, but a UI bug, see #2900.

[2015-07-29 11:59] marcelerkel commented on #2975
That is correct, between when and then you cannot use any variables, you can only use the states that an Item can have. I am asuming your Alarm_Status.state can be either 0, 1, 2 or 3 so you would indeed use:
[code]
Just add a comment to the code to remember what the value of 0 and 3 mean.

The states are not limited to just numbers. If you have for example a String item which contains the weather

[2015-07-29 15:36] J-N-K commented on #2979
This is a good question. Currently no error is reported if a cast to DecimalType returns a value. I'll fix the wrong logging first and it shpuld be discussed what to do if the user tries to store an incompatible type. These are at least Call, String, DateTime and Color.

[2015-07-29 15:42] J-N-K commented on #2979
see PR #2983

[2015-07-29 15:47] petrklus commented on #2979
@J-N-K thank you! And I agree - it is confusing at best - even if the logger returns what is actually stored, then it still does not restore properly.

For example, as described in #1300 - the restore actually does not create a correct object (HSBType) but rather the simple DecimalType. I suspect that for colour items, brightness is extracted & stored.

The problem is that rather than restoring as

[2015-07-29 16:04] J-N-K commented on #2979
This happens because mapToState checks if

* the item is a SwitchItem (and not DimmerItem) and then assigns OnOffType or
* the item is a ContactItem and then assigns OpenClosedType and finally
* assumes all other items are correctly represented by DecimalType

Basically all unsupported should not be stored at all as there is no possibility to restore them correctly.

[2015-07-29 16:53] gitbock commented on #2953
Hi,
I coded a first draft of my [FritzBox TR064] (https://github.com/openhab/openhab/commit/28f2fb8881bd682853738514055232b3721dd019) binding a few months ago. I primary implemnted this to do a presence detection based on Wifi. Unfortunately not all telnet features are covered right now. And I need to document it. By now the following is available
* presence detection by MAC address
* switch on/of

[2015-07-29 17:55] PelicanHu commented on #2975
Thank you!

[2015-07-29 17:55] #2975 closed

[2015-07-29 17:57] PelicanHu commented on #2807
OK.

[2015-07-29 17:57] #2807 closed

[2015-07-29 21:35] sjw04 opened #2986 "ZWave: Fibaro dimmer updates for default parameters values and ranges"
Checking through the Fibaro Dimmer manual for V2.1 - V2.3 there are a few small differences between the ZWave database xml file and the manual for default values and min/max values including:

* Parameter 12 default should be 99
* Parameter 13 default should be 2 and have a range of 1..98
* Parameter 15 default should be 1
* Parameter 40 has a range of 1..99

[2015-07-29 23:23] eddjlewis commented on #2972
No, it looks like quite a different setup. I've since reduced my use of the Weather binding to just ForecastIo and the issue seems to have gone away.

I think it might have been a transient issue with one of Wunderground or Weatheronline, for example, could be an issue parsing response from them at certain times? Conjecture, could be loads of things.

However, whatever the issue, the cause of the

[2015-07-30 02:40] udo1toni commented on #2048
Tonight I could verify that the Error has gone with the Nightly 1.8.0-997 (with Fix for #2880)

[2015-07-30 02:40] #2048 closed

[2015-07-30 10:20] solucionesmipc commented on #2745
i need one more week, the item is coming from china. cheap mail.

[2015-07-30 10:25] sjw04 commented on #2978
Is it possible for this to be included in 1.7.1 - or is it too late?

[2015-07-30 14:05] csowada commented on #2826
I would suggest to allow an addition parameter to my_dimmer instead of two items.
``Dimmer my_dimmer            {homematic="address=xxxx, channel=1, parameter=LEVEL, on_time=50"}``
or
``Dimmer my_dimmer            {homematic="address=xxxx, channel=1, parameter=LEVEL, pre_parameter=LEVEL,50"}``

I think to work with two items or maybe a rule is not optimal for a real life problem.

[2015-07-30 15:55] cdjackson commented on #2978
1.7.1 was a bug fix change so we don’t normally add new features. Just use the latest snapshot - it has this device included.

[2015-07-30 22:36] jortiz4 opened #2990 "TCP Binding, can't read openhab.cfg"
Hi,
I have a problem, the openhab.cfg file can't read because i tried to configure the tcp binding and tcp:port doesn't listen.
The openhab.cfg file contain the next lines:

tcp:port=5005
tcp:itemsharedconnections=true
tcp:bindingsharedconnections=true
tcp:directorionssharedconnections=false
tcp:addressmask=true
tcp:postamble=
tcp:blocking=false
tcp:refreshinterval=250

Sorry by my bad english, i

[2015-07-31 05:12] landmanp commented on #2977
I seems that a metal beam was blocking the signal.
Sorry

regards Poul

[2015-07-31 05:12] #2977 closed

[2015-07-31 07:27] TeraHz commented on #2661
FWIW I just removed the PersistentStateRestorer references from the MySQL bundle and it started working in OH2 (also fixed https://github.com/openhab/openhab2/issues/321)

https://github.com/TeraHz/openhab/commit/72d292832f78271e9dd47307d9024a870a596435

I assume this provided some functionallity so the proper fix is likely more complicated, but if you think this will be useful for others for test

[2015-07-31 07:51] kaikreuzer commented on #2661
That's good news!

See my comment from https://github.com/openhab/openhab/issues/2661#issuecomment-123662806:

[2015-07-31 12:41] xsnrg commented on #2642
@teichsta was a ticket created for the work you mentioned in 2760 ?  Closing this ticket as the committed fix is working for me.