[2016-01-27 21:58] Speederc commented on #3058
Hi @McShannon and @AlexCPU
Still hard to say where the message is blocked. Everything seems to go smoothly up to few lines before the transmission. I created a new version with again more log details :  http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601272254.jar . Can you test it ?
Sorry for this iterative debugging...

[2016-01-27 22:11] AlexCPU commented on #3058
That seems to be quite a bit broken, as now the lights don't work either!
[code]

And the log from the doorbell is:
[code]

[2016-01-27 22:35] #3845 closed

[2016-01-27 22:49] buzink commented on #3858
Thanks! I really appreciate it!

The rawdata works now. I can use it as a workaround to make a switch working (if string item x received update then sendcommand ON to switch y).

But the switch items do not work directly yet. In the log I still see the UNKNOWN command. Would it not be easier to treat everything as ON except the known OFF commands? If for some reason you don't want to go that route

[2016-01-27 23:35] Speederc commented on #3058
Again a new version with logs :  http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601280033.jar

[2016-01-27 23:38] Speederc commented on #3858
I forgot to add the 9 as ON command. This should be fix in http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601280033.jar . Can you test it ?
The command ID should be written in the log with this version. I would like to avoid to treat all commands as ON except the known OFF because the logic between ON and OFF IDs is not really clear for now.

[2016-01-27 23:59] ptmuldoon opened #3904 "XBMC Missing cfg file on Install"
When installing the current binding, there is no cfg file being included which is necessary to configure the location of your xmbc setup.

The existing configuration from OH1 does work minus the xbmc: at the beginning of each requirement.  I have tested and can also see my items in the sitemap once the cfg file is configured.

[2016-01-28 03:16] robnielsen commented on #3891
Which module are you trying to get rfstatus and batteryvp? Both my outdoor and rain modules are reporting back values. What do you see when using the Netatmo website or app?

[2016-01-28 05:05] kvakanet opened #3905 "Time zones are different in persistence providers (JDBC-sqlite and MAPDB,DB4O)"
Hello!

Why time requested from default persistence **JDBC-sqlite** equals **UTC**, and
time requested from default persistence **MAPDB** or **DB4O** equals **LOCALTIME** ?

My example code rules

OpenHab 1.8.0
##

[2016-01-28 11:21] brstein opened #3907 "v.1.8.0 JDBC-Persistence ClassNotFoundException: 'org.postgresql.Driver'"
Dear community,

using the JDBC Persistence mechanism with the follow settings leads to a ClassNotFoundException when loading the JDBC driver. The JDBC driver is placed in addons as described and readable for the user 'hab' which runs the start.sh-Skript:

    hab@srv-hab:/add/openhab1$ ls -l addons
    total 3124
    -rw-r--r-- 1 hab hab 1202164 Jan 25 12:40 org.openhab.binding.zwave-1.8.0.jar

[2016-01-28 11:29] watou commented on #3907
@brstein, I believe I read recently that the version of the JAR you are trying to use is known not to work.  Please use the version of the JAR given in the [documentation](https://github.com/openhab/openhab/wiki/JDBC-Persistence#jdbc-driver-files).  If it works, please close this issue.

Also, can you install the Oracle JDK 1.8 on your odroid XU4?  OpenJDK has known problems running openHAB.

@lew

[2016-01-28 12:44] brstein commented on #3907
You are right - reading could be an advantage!
Thank you for your help. It was the broken version of the driver!
The file  postgresql-9.4-1206-jdbc4.jar works.

Regards,
brstein

[2016-01-28 12:44] #3907 closed

[2016-01-28 15:59] McShannon commented on #3058
Hi @AlexCPU yes, my bell has an ID of 53. It works well in RFXManager.
Hi @Speederc, I will give the new one a go this evening.

[2016-01-28 18:06] lauhub commented on #1603
I experience the same problem:
- Spotify does not allow restore,
- Restore works with TuneIn
- Restore works with Sonos playlist that includes some Spotify elements

[2016-01-28 18:14] anordvall commented on #1603
The bug was reported 1 year and 3 months ago. It's super easy to reproduce. I really wish someone else could step in and help out with the SONOS binding so we can get it fixed. As a workaround I had to buy a separate Play 1 speaker dedicated for openHAB for €200, which is really money I would rather have donated to openHAB :)

[2016-01-28 18:20] AlexCPU commented on #3058
Here you go, latest version log:
[code]
Lighting is still broken too
[code]

[2016-01-28 18:25] kaikreuzer commented on #1603
That doesn't mean at all that it is super easy to fix - it actually is pretty complex and even 200 EUR won't get you any close to have it fixed if you would pay a professional developer to look at it...
The good news is: All of this will soon work as expected in the Sonos binding of openHAB 2. So please don't buy a Play:5, but rather donate the 500 EUR to openHAB :-)

[2016-01-28 18:27] Gugiman opened #3910 "Can't run CUL Transport Binding with Baudrate of 38400"
Hi Guys,

I'm having some trouble configuring my nanoCUL to send Intertechno Codes.
As I read in other forums, changing the hardcoded baudrate and parity fixes the problem.

But after change the baudrate to 38400 in /bundles/io/org.openhab.io.transport.cul/src/main/java/org/openhab/io/transport/cul/internal/CULSerialHandlerImpl.java like this:

`    //private Integer baudRate = 9600;
    private I

[2016-01-28 18:50] anordvall commented on #1603
Kai, come on... it's just zeros and ones! ;) Ah I didn't know the problem doesn't reproduce in openHAB 2. Does it just automagically start to work with openHAB 2 or has it actually been fixed and verified, or code completely rewritten?

I won't buy a Play 5.... where is the donate button? :)

[2016-01-28 20:39] buzink commented on #3858
Really nice that the command ID is written in the log. Strangely enough the command seems to be 9, but is still not recognized as ON command:

[code]

[2016-01-28 21:47] Speederc commented on #3058
Thank you for your tests. Nothing explains this behavior. I am finally uncertain about the branch 1.9.0 sources files or my compilation environment. Can you test this version which is a pure 1.9.0 branch (without the Chime modifications) : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.branch.jar . Can you confirm that lighting2 (not chime) works with this

[2016-01-28 22:05] Speederc commented on #3858
Now it should be fine :  http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601282303.jar . Sorry for this iterative testing...

[2016-01-28 22:33] #3715 closed

[2016-01-28 22:34] #3904 closed

[2016-01-28 22:42] teichsta commented on #2621
@big-col have you had a chance to test @Speederc changes?

[2016-01-28 23:06] buzink commented on #3858
Yes! That's it. Both the motion and contact sensors work now. Thank you very much. I also understand the commands and codes much better now.

I have a set of outdoor switches from Everflourish that send the commands OFF_12 (switch on) and OFF_4 (switch off). I understand now that both are interpreted as the same OFF by openHAB. Does every manufacturer tread on/off codes differently or could this a

[2016-01-28 23:27] teichsta commented on #1603
www.openhab.org at the bottom right ;-)

[2016-01-28 23:52] Pakast opened #3912 "Problems with Z-Wave binding / HABmin"
At this moment I have three problems with the Z-Wave binding in HABmin. I'm not sure if these issues are with the Z-Wave binding or with HABmin.

I'm using OpenHAB v1.8 and also tried to update the z-wave binding to the latest available version.

1. I have a POPP wall plug dimmer (Manufacturer ID: 154, Device ID: 2) that I can't rename. It shows some Chinese characters as name.
2. I have three Gre

[2016-01-29 07:48] grzech1983 opened #3916 "Accessing aliased z-wave stick device on Ubuntu linux"
Hello,

I have aliased z-wave Aeon stick under /dev/zwave and when I try to use it I'm getting error that port does not exist (something similar like here: https://community.openhab.org/t/how-to-define-a-serial-port-on-raspberry-for-openhab2-for-my-razberry-zwave-binding/6693). When I directly pass /dev/ttyUSB0 (or ttyUSB1) OpenHAB 2 beta is detecting z-wave stick. When I was using OH 1.x and OH 2

[2016-01-29 08:24] anordvall commented on #1603
Nice! Is that new? Can you please change the page to English before I hit the button? :)

[2016-01-29 09:12] McShannon commented on #3058
Hi @Speederc

Lighting2 works fine with this one.

[2016-01-29 12:29] frode commented on #3891
@robnielsen Trying to get values from the basic outdoor module. I see both RF and battery status on web and android app..

[2016-01-29 13:51] robnielsen commented on #3891
@frode add the following to logback.xml:
[code]
and restart oh. Look at the netatmo.log file and you should have something similar to:
[code]
Then a little further down the log file, you should see something like:
[code]
I have both the external module and a rain module. If you look at the response, you'll see both `rfstatus=x,batteryVP=y` for both devices. What are you seeing?

[2016-01-29 15:38] ibantxo commented on #3091
That is a very good idea.

[2016-01-29 17:01] cdjackson commented on #3912
You have duplicated this request so closing it.

[2016-01-29 17:01] #3912 closed

[2016-01-29 17:04] Pakast commented on #3912
Since I was not sure what caused the problem I've posted it both at HABmin and at Openhab. For question number 1 you recommeded to post at Openhab?

[2016-01-29 17:06] cdjackson commented on #3912
Ok, but theres on need to keep both open now is there?

[2016-01-29 22:27] Speederc commented on #3058
Hi @McShannon , @AlexCPU
I generated a new clean version with only Chime added : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601292322.jar . Could you test it ?

[2016-01-29 22:36] Speederc commented on #3858
It was a typo for 12 as other users seem to also received ON messages with 12. I changed it for ON : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601292333.jar . This code will be integrated in a future pull request which should be included in Openhab 1.9.0. Thanks for the testing !

[2016-01-30 00:29] buzink commented on #3858
Hm, strange. Now I get UNKNOWN(7) instead of OFF_12 for the ON-commands:

[code]

[2016-01-30 09:44] Speederc commented on #3858
Last version with 7 also as ON : http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601301041.jar
To resume, the following mapping between commandID and command is used :
-     OFF : 0,2,4
-     ON : 1,3,5,7,12

[2016-01-30 11:13] McShannon commented on #3058
Hi @Speederc

Here is what we are getting now that is different from before. I have changed the original item name from doorbellsounder to bell which is why the log shows item=bell. Thats all the log shows and the bell does not chime.

14:39:17.048 [DEBUG] [m.r.internal.engine.RuleEngine:305  ] - Executing rule 'Cave Door'
14:39:17.564 [DEBUG] [.rfxcom.internal.RFXComBinding:94   ] - Received comm

[2016-01-30 12:35] AlexCPU commented on #3058
Hi @Speederc

Looks like progress, at least it's outputting more lines, but still not working.
[code]

LIGHTING5.LIGHTWAVERF works again though.  In case I hadn't made it clear, Lighting5 has been working in the first couple of builds you did, but stopped at some point:

[code]

[2016-01-30 13:13] jtmoderate876 opened #3922 "insteonplm binding does not work with openhab2"
I've got OH2b1 build #106 (2016.01.27) working with ecobee and a few things but...

I get the following error for the insteonplm binding after a couple minutes which worries me that the new, more rigorous requirements of eclipse or whatever means it needs to be patched/fixed.

[code]

watoumaintainer14h 1
jtmoderate876:
Exception in thread "Thread-36" java.lang.NoSuchMethodError: org.apache.http.i

[2016-01-30 13:14] watou commented on #3922
Thanks!

[2016-01-30 13:20] kaikreuzer commented on #3922
This is indeed an internal and deprecated class that must not be used within the binding.
See also http://www.mkyong.com/java/the-type-defaulthttpclient-is-deprecated/

[2016-01-30 13:45] kaikreuzer commented on #1603
No, it has been there since many years - it seems we have hidden it well ;-)

You mean the Paypal page appears in German to you? I would have expected that it uses the locale of your Paypal website... @teichsta, could you check if we need to adjust the link to Paypal on the button?

[2016-01-30 13:48] watou commented on #1603
Appears in German to me as well.

[2016-01-30 14:27] lolodomo opened #3925 "MQTT binding should be installable from OH2"
The MQTT binding 1.9 combined with MQTT io transport 1.9 is working well in openHAB2.
So this binding should be installable from Paper UI in OH2.

Please note that I did not test the MQTT event bus feature.

[2016-01-30 14:40] lolodomo commented on #3925
Don't forget the mqqt.cfg file.

[2016-01-30 14:58] watou commented on #3925
Yes, thanks, I'm working on that now, but I have a question for @kaikreuzer:

The openhab-transport-mqtt feature is the one that needs to be configured with broker(s), etc., so should the mqtt.cfg file be installed by that service instead of the binding?  I am also providing a mqtt-persistence.cfg for the MQTT persistence service, is that correct?

Until you say otherwise, I will proceed with a PR

[2016-01-30 15:09] lolodomo opened #3926 "MiOS Binding - Dimming controls not working in openHAB2"
Playing with HABdroid and openHAB2 snapshot 106, I got this error when I play with the slider of any dimming light:
[code]

[2016-01-30 15:28] #3829 closed

[2016-01-30 16:16] lolodomo commented on #3925
Please note I provided no feedback for MQTT persistence. I am not using it.

[2016-01-30 18:22] watou commented on #3922
Referencing the solution you linked above, it says to use HttpClientBuilder, but that class
[code]
is in the same package `org.apache.http.impl.client` as `DefaultHttpClient`, which is marked `x-internal`  in the bundle's Export-Package in MANIFEST.MF:
[code]
which I think Karaf prevents the class loading, whereas Equinox doesn't.  Karaf would otherwise load deprecated classes, right?

head of MAN

[2016-01-30 18:35] kaikreuzer commented on #3922
Good point, I didn't notice that.

Right.

But there must be some good reason why the bundle declares the package to be internal - this is clearly a sign that it must not be used and there should be an official alternative...?

[2016-01-30 18:51] watou commented on #3922
Not necessarily.  Maybe they just wanted to flag it in the IDE?

Short of finding or making a "promiscuous" version of the JAR with the `x-internal` flags removed, yes.

[2016-01-30 19:20] kaikreuzer commented on #3922
Looking at the exception in https://github.com/openhab/openhab/issues/3922#issue-129984286, I actually doubt that this is in any way related tot he x-internal package? It throws a NoSuchMethodError, which sounds to me rather that this is a different (incompatible) version of the Apache HTTP library than that of openHAB 1.

[2016-01-30 19:32] watou commented on #3922
I think that's it!  From my openHAB 1.8.0 install:
[code]

[2016-01-30 19:36] buzink commented on #3858
It works! Thank you very much for all your effort. I am really happy that all my sensors and remotes work now.If you ever need some testing done, feel free to contact me.

[2016-01-30 19:38] buzink commented on #3858
For reference to others: the cheap contact sensors, motion sensors and outdoor switches talked about in this topic are:

- [Contact sensors](http://www.ebay.nl/itm/181185686979?_trksid=p2060353.m2749.l2649&var=480260705755&ssPageName=STRK%3AMEBIDX%3AIT) and [motion sensors](http://www.ebay.nl/itm/171089657359?_trksid=p2060353.m2749.l2649&var=470275442985&ssPageName=STRK%3AMEBIDX%3AIT) with a 1507

[2016-01-30 20:35] kaikreuzer commented on #3922
But it is not nice at all of Apache HTTP to break backward compatibility from 4.1 to 4.3...
I now fear that adapting the code to work with 4.3 might mean that it stops working for 4.1 (and thus on OH1.8 runtime).
We could package the version 4.1 with either the InsteonPLM binding feature or the compat1x feature. We would then require a version constraint on the package import to say that it must b

[2016-01-30 21:44] watou commented on #3922
The [Insteon PLM MANIFEST.MF](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.insteonplm/META-INF/MANIFEST.MF) has `Require-Bundle: org.apache.httpcomponents.httpcore` that should be removed, and should the MANIFEST.MF be changed to:
[code]

[2016-01-30 21:50] kaikreuzer commented on #3922
Yes and the feature should then add this old version of the library.

[2016-01-30 22:07] gschmottlach commented on #1584
I was having an identical problem - my Image's were not being refreshed with the OpenHAB 1.8.0 release. I made the above code modification in ImageRenderer.java and now it properly respects the 'refresh' interval.  Is there any chance this fix could get properly integrated into a later release so everyone can benefit?

[2016-01-30 22:34] watou commented on #3922
Maybe the insteonplm binding should just include its own copies in its lib directory, like what seems to have been a popular approach so far :worried:
[code]

[2016-01-30 22:43] kaikreuzer commented on #3922
Oh hell...
Yes, this might be an option, too.
And your list shows clearly that the new dependency management of Karaf brings a huge value :-)

[2016-01-30 22:49] mrguessed opened #3929 "MiOS Action - sendMiosAction() API non-functional under openHAB 2 compat layer"
The MiOS Action binding uses a Rule API with an Item as the first parameter.  This breaks under openHAB 2.x/ESH because they won't resolve to the ESH _Item_ equivalent.

[code]

See the community discussion for more details.

ref: https://community.openhab.org/t/problem-with-sendmiosaction-in-oh2/6772

[2016-01-30 23:11] watou commented on #1584
I created PR #3930 with my best understanding of what is proposed here.  Please verify the changes in #3930 are exactly what you see working with no apparent side effects.  If you wouldn't mind testing this on 1.8.0, I can provide a JAR and instructions.  This issue may still not be fixed.

[2016-01-30 23:43] mrguessed commented on #1613
Looks like there's a work-around for this issue:
* http://stackoverflow.com/questions/1881546/inetaddress-getlocalhost-throws-unknownhostexception

Basically, Java is using `/etc/hosts` (even when it shouldn't) and it wants to see the hostname (`ubilinux`, in this case) resolvable through it.  Setting it to _alias_ the `localhost`/`127.0.0.1` entry, in `/etc/hosts`, should suffice.

@shb256, can y

[2016-01-30 23:55] Speederc commented on #3058
Hi @AlexCPU & @McShannon
I found a memory leak in the code, can you test this new version which should fix it :  http://dr-petelot-marion.chirurgiens-dentistes.fr/temp/org.openhab.binding.rfxcom_1.9.0.201601310054.jar ?
Thank you

[2016-01-31 02:52] mrguessed commented on #3926
Broader discussion here:
* https://community.openhab.org/t/mios-binding-1-8-not-working-in-openhab2/6439

[2016-01-31 04:51] 9037568 opened #3933 "stiebelheatpump tests failing"
When building from the latest master code, a failure occurs in the tests for the stiebelheatpump binding.

    org.openhab.binding.stiebelheatpump.internal.StiebelHeatPumpException:
    javax.xml.bind.UnmarshalException
    - with linked exception:
    [com.sun.org.apache.xerces.internal.impl.io.MalformedByteSequenceException: Invalid byte 1 of 1-byte UTF-8 sequence.]
    at org.openhab.binding.st

[2016-01-31 04:56] 9037568 opened #3934 "Zip files not created during build"
When building out of the latest master since the upgrade to 1.9 the expected zip files are not created.

In 1.8, these were created:

    01/23/2016 01:15 PM  85,858,138 distribution-1.8.0-SNAPSHOT-addons.zip
    01/23/2016 01:15 PM     666,350 distribution-1.8.0-SNAPSHOT-demo.zip
    01/23/2016 01:15 PM 112,934,926 distribution-1.8.0-SNAPSHOT-designer-linux.zip
    01/23/2016 01:15 PM 113,148,978

[2016-01-31 06:56] watou commented on #3934
The master branch no longer builds distribution files, but you can usually find build results in each project's target directory. As this is working as expected, I will close this issue, but please re-open if there is an actual bug in the build process not yet mentioned.  Thanks.

[2016-01-31 06:56] #3934 closed

[2016-01-31 07:53] 9037568 commented on #3934
What's the process for getting a working application, now that building the
application doesn't build the application?

None of the files needed can be found after running the build. (eg.
start.sh/start.bat, etc. etc.)

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
This
email has been sent from a virus-free computer protected by Avast

[2016-01-31 08:05] watou commented on #3934
application doesn't build the application?

You can build a full OH1 distro by checking out the 1.8 branch and building that.  You can get addons from the master branch by building that.

[2016-01-31 08:40] lolodomo commented on #3925
OK in OH2 snapshot 111

[2016-01-31 08:40] #3925 closed

[2016-01-31 08:44] watou commented on #3925
Excellent, thanks!

[2016-01-31 08:57] watou commented on #3933
Hmmm, the current master worked for me.  Any chance there are old artifacts in your build environment?
[code]

[2016-01-31 09:08] lolodomo opened #3937 "Netatmo binding broken in OH2 snapshot 111 (was OK in 106)"
Yesterday, using OH2 snapshot 106, Netatmo binding was working well.
Today, I installed OH2 snapshot 111 and netatmo binding is no more working. I get this error:
[code]

[2016-01-31 09:53] lolodomo commented on #3929
I tested the jar delivered by @mrguessed for testing and it works well.
You can merge.

[2016-01-31 10:57] #3929 closed

[2016-01-31 10:58] #3926 closed

[2016-01-31 11:54] udo1toni opened #3939 "Enhancement: support Asterisk AMI >= 2.8.0"
Unfortunatly I'm not able to pass any code for this, but it would be cool if the asterisk binding would support the current stable Version of Asterisk, which is 13.7.0.

Since the communication is processed through Asterisk Call Manager, this is Version 2.8.0 currently.

[2016-01-31 12:17] lolodomo commented on #1842
I did not notice this issue since a long time. Probably fixed.

[2016-01-31 12:17] #1842 closed

[2016-01-31 13:22] mrfrenzy opened #3940 "Cannot receive data type 5.001 Percentage from KNX"
I have an MDT heating actuator which periodically sends out the current valve opening as a percentage.

In the logfile from ETS I get the following:
35,2016-01-31 14:11:04.271,från buss,,1.2.1,"1.2.1 Pannrum 1 AKH-0800.01 Heating actuator 8-fold, 4TE,24/230VAC",2/2/0,Entre,$9E | 62 %,  5.001 percentage (0..100%),Skriv,Low,6

openhab debuglog shows this:
14:18:05.022 [DEBUG] [.b.knx.internal.bus.KN

[2016-01-31 13:27] 9037568 commented on #3933
Not under the openhab tree. I just recently destroyed that completely and
let it rebuild itself.
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
This
email has been sent from a virus-free computer protected by Avast.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmai

[2016-01-31 13:41] teichsta commented on #2900
fixed through #3796

[2016-01-31 13:41] #2900 closed

[2016-01-31 14:04] 9037568 commented on #3933
For the sake of completeness, I tried this yet again, and this time it worked. No idea why. Makes absolutely no sense, but there it is.

[2016-01-31 14:09] 9037568 commented on #3933
Looks like I lied. I forgot I had commented this binding out of the pom... After restoring it, the build has gone back to failing.

[2016-01-31 14:48] teichsta commented on #3782
changed the log as suggested (also cherry-picked onto 1.8) (see #3941)

Moved issue to (a possible) 1.8.2

[2016-01-31 15:01] teichsta commented on #1613
thanks for letting us know @mrguessed! So if there is a workaround available (still to be confirmed) i would't consider this issue critical anymore.

@shb256 can you please confirm?

[2016-01-31 15:03] #3818 closed

[2016-01-31 15:05] robnielsen commented on #3937
@watou, please assign this defect to @wep4you. This is an artifact of https://github.com/openhab/openhab/pull/3841.

[2016-01-31 15:23] teichsta commented on #3601
any chance to have a quick at this one today @theoweiss ?

[2016-01-31 15:34] robnielsen commented on #3937
@wep4you, I did some debugging and changing the scope from `scope=read_station` to `scope=read_station read_camera` is causing the error `{"error":"invalid_request"}`. The scope `read_camera `should only be used when there is a camera. Even though I can't test it, I assume `read_station `would be invalid if you don't have a weather station.

[2016-01-31 16:29] watou commented on #3937
Not able to for some reason.  Would you mind marshaling this to a fix, @robnielsen?

[2016-01-31 17:05] robnielsen commented on #3937
@watou, PR submitted

[2016-01-31 17:09] oaksboard opened #3944 "[Nest] Bug: unable to set temperature to .5 °C values."
Setting temperature to say 19.5°C results in temperature set to 19.0°C. The half degree Celsius is always stripped away.

This is my item (as of binding example):
`Number living_room_target_temperature_c { nest="=[thermostats(Living Room).target_temperature_c]" }`

Even if sending the update command from console, after a short while it re-reads the set value as 19.0°C:
`osgi> openhab update living

[2016-01-31 17:18] theoweiss commented on #3601
Sorry no chance: a serious cold is visiting my family. I have to get these things managed.

[2016-01-31 17:25] theoweiss commented on #3601
@slaboure can you describe the issue a bit more in detail.
Normally set permissions is only needed when the openhab user in /etc/default/openhab was reconfigured or  the openhab service has been started in between manually as root.  It's meant for handling these special cases.

[2016-01-31 17:45] skyscape321 opened #3945 "ZWave: Popp Flow Stop Shut-off Controller"
I'm trying to get the Popp Flow Stop Shut-Off Controller 009501 (which is a GR-105N build by U-Fairy G.R. IOT Tech Co.ltd). It seems I have a similar issue to #3128: I can see the node but at some point there is an error thrown by the zwave binding:

2016-01-31 18:40:44.635 [DEBUG] [i.p.s.IdentifyNodeMessageClass:56  ]- NODE 20: ProtocolInfo
2016-01-31 18:40:44.635 [DEBUG] [i.p.s.IdentifyNodeMessa

[2016-01-31 18:14] wep4you commented on #3937
I trink the problem is, that the request for the refresh key also must be generated with reads ration and read camera, otherwise the request will fail. I think it's no problem if you have both devices or just one, but I can't verify I have both.

[2016-01-31 18:16] AlexCPU commented on #3058
It works!  Thanks very much!

[code]

[2016-01-31 18:21] wep4you commented on #3937
I think we should use a new attribute in the configuration witch device or devices should be configured, so just the needed scopes get requested. I will take a look at this in about 1 week when I'm back from my vacation.

[2016-01-31 18:33] lolodomo commented on #3937
For information I have both weather station and welcome camera. But i did not change my conf file. So only conf for weather is defined

[2016-01-31 19:22] teichsta commented on #3601
no worries … get well soon!

[2016-01-31 19:57] teichsta commented on #3803
no

i don't think so … would be great if you discuss your problem there since not everybody scans through this issue list.

[2016-01-31 20:25] teichsta commented on #3795
fixed with #3796

[2016-01-31 20:25] #3795 closed

[2016-01-31 20:28] teichsta commented on #3788
fixed with #3812

[2016-01-31 20:28] #3788 closed

[2016-01-31 20:31] teichsta commented on #3775
closing this issue for now. Feel free to reopen once you've discussed this issue in more detail …

[2016-01-31 20:31] #3775 closed

[2016-01-31 20:32] Speederc commented on #3058
Great ! Thank you @AlexCPU and @McShannon for your testings and your perseverance !
All was due to a stupid bad array size (8 bytes instead of 9)...
It will be merged in a future PR.

[2016-01-31 20:35] teichsta commented on #3771
sound like an issue with Xtext in combination with the JDK. Since we won't do any Xtext within in the 1.x stream i doubt we'll find a solution. Could you double-check with the 2.x stream if this issue still occurs since Xtext has been updated there.

I'll close this issue for now. Please feel free to reopen if this issue also occurs with 2.x.

[2016-01-31 20:35] #3771 closed

[2016-01-31 20:38] teichsta commented on #3787
Thanks for noticing. Please reopen this issue at https://github.com/eclipse/smarthome/issues since the Yahoo binding is hosted there.

[2016-01-31 20:38] #3787 closed

[2016-01-31 20:41] teichsta commented on #3830
should have been resolved with #3796. Please feel free to reopen if not …

[2016-01-31 20:41] #3830 closed

[2016-01-31 20:41] kaikreuzer commented on #3787
No need to open an issue there, since YahooWeather discovery has anyhow been removed this week, see https://github.com/eclipse/smarthome/pull/941.

[2016-01-31 20:43] teichsta commented on #3811
Thanks for this update. So please with the help of the community first try find out in more detail how to reproduce the problem. Once you've managed that please feel free to reopen this issue if it still applies.

[2016-01-31 20:43] #3811 closed

[2016-01-31 20:45] teichsta commented on #3939
Hi @udo1toni,

please first discuss feature requests at https://community.openhab.org and try to finde volunteers helping with the implementation.

Thanks, Thomas E.-E.

[2016-01-31 20:45] #3939 closed

[2016-01-31 20:55] robnielsen commented on #3937
This should be fixed the PR https://github.com/openhab/openhab/pull/3943

[2016-01-31 21:47] aerickson commented on #1934
I'm using 1.8.0 and I'm having a similar issue. OpenHab can connect to MySQL (it creates an Items table), but it never adds items or creates the other ItemsXXX tables. Any ideas?

Thanks,
Andy

[2016-01-31 21:51] Dennis650 commented on #1934
Hi,

you should use the forum for such questions: https://community.openhab.org

And post your mysql.persist file with you question.

Greetings
Dennis

[2016-01-31 23:13] teichsta commented on #3933
the build forks for me (and the build server who builds regular at night). I'll close this this issue for now since it isn't reproducible. Please feel free to reopen once you can reproduce it …

[2016-01-31 23:13] #3933 closed

[2016-01-31 23:14] teichsta commented on #3855
any update @TheNetStriker @paulianttila?

[2016-01-31 23:15] teichsta commented on #3858
are you going to send this changes as PR @Speederc?

[2016-02-01 02:50] pcragone opened #3949 "Openhab.app hangs, server randomly crashes"
Hi there -

Possibly not the right place for it, please let me know where to redirect my efforts.  Also, please let me know which logs you need.

So after running for maybe an hour or two, navigating to myserver.local/openhab.app either crashes the browser, hangs the tab, or, if I use wget, downloads a file of possibly infinite size (I stopped it at 100MB).  Also, after some point (haven't been ab

[2016-02-01 08:14] McShannon commented on #3058
Thanks @Speederc, all working like a charm! Thanks for your efforts in getting this working. I am now off to annoy the household with random chimes.

[2016-02-01 08:18] sheppy99 commented on #3058
Hi Guys,
Is this binding considered working for everything apart from "chime" now?
Is it is I'll take it for a drive and report back. I have various lighting 1 & 2 items both input and output plus an unused Byron SX.
Cheers
Kevin

Sent from my iPhone

On 1/02/2016, at 9:14 PM, McShannon <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @Speederc<https://github.com/Speederc

[2016-02-01 08:21] McShannon commented on #3058
Hi @sheppy99 "chime" is now working for this binding. My ByronSX doorbell is receiving transmissions from OpenHab and playing whatever chime number i send it.

[2016-02-01 08:23] sheppy99 commented on #3058
Hi McShannon,
Are the other types working too?
Cheers
Kevin

Sent from my iPhone

On 1/02/2016, at 9:22 PM, McShannon <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @sheppy99<https://github.com/sheppy99> "chime" is now working for this binding. My ByronSX doorbell is receiving transmissions from OpenHab and playing whatever chime number i send it.

-
Reply to this email dir

[2016-02-01 08:24] McShannon commented on #3058
Hi @sheppy99 they are working well also.

[2016-02-01 08:56] sheppy99 commented on #3058
Cool, I'll give it a try. Well done to all!
Currently busy troubleshooting Jessie images that have been stealing one of my GPIO Pins so decided to leave you guys to it :-)
Cheers
Kevin

Sent from my iPhone

On 1/02/2016, at 9:25 PM, McShannon <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @sheppy99<https://github.com/sheppy99> they are working well also.

-
Reply to this em

[2016-02-01 08:57] TheNetStriker commented on #3855
I only have one Onkyo receiver with network, so I can't test this.

[2016-02-01 09:23] #3937 closed

[2016-02-01 09:30] watou commented on #3944
Do you have the Thermostat read/**write** permission set in [your product](https://developer.nest.com/products)?  I am not presently able to test setpoint changes against a Nest thermostat, but if you could provide TRACE logging from the binding, it would help identify the issue.  The binding sends whatever BigDecimal value you provide, so I would like to see the JSON.

[2016-02-01 09:35] the-hhoefi commented on #3855
i do have two Receivers, so if you provide me a modified plugin i can do the Tests.

[2016-02-01 10:29] oaksboard commented on #3944
Hello watou, yes, i have read/write permission to the thermostat, because if I set the temperature to e.g. 20°C it works correctly.

Here the TRACE log of the command "set temperature to 19.5°C":
`2016-02-01 11:19:49.759 [TRACE] [.o.b.nest.internal.NestBinding] - internalReceiveCommand(item='living_room_target_temperature_c', command='19.5')
2016-02-01 11:19:49.766 [DEBUG] [.o.b.nest.internal.Nest

[2016-02-01 10:39] watou commented on #3944
Interesting; thanks!

[2016-02-01 10:42] Speederc commented on #3858
I will create different PRs for all these RFXCOM updates (fixes, new messages type, new sensors).

[2016-02-01 10:57] watou commented on #3944
Would you mind giving [this JAR](https://dl.dropboxusercontent.com/u/4286376/nest-fix-3944/org.openhab.binding.nest-1.9.0-SNAPSHOT.jar) a thorough workout to see if it fixes the problem and doesn't create new ones?

[2016-02-01 11:32] oaksboard commented on #3944
OK, I will.
One question: as I installed openHAB by "apt-get" on debian, should I remove the bundle with "apt-get remove" first or simply rename the 1.8.0 jar file before copying the 1.9 snapshot over?

[2016-02-01 11:47] watou commented on #3944
Assuming you're on openHAB 1.x, I would just move the existing binding JAR out of the addons directory and move the test JAR into its place, without any file renaming.

[2016-02-01 12:13] oaksboard commented on #3944
Yes, I am on openHAB 1.8.0.
With the test JAR in place everything works as expected! I can now set 19.5°C and it will show up on the thermostat.
No other issues detected, so far.
Thank you for your quick replies!

[2016-02-01 12:35] frode commented on #3891
@robnielsen Thanks, I added the debug logging and can confirm that RF and battery status are indeed available to openhab and the netatmo addin.

Strange that the items are not populated with data.. other items populating data from the same unit gets temperature/humdity/pressure/co2 etc.

2016-02-01 10:54:01 DEBUG o.o.b.n.i.NetatmoBinding[:371]- Response: GetStationsDataResponse[status=ok,body=GetS

[2016-02-01 13:13] dannyboyw commented on #3536
I added in [community forum](https://community.openhab.org/t/need-help-with-mochad/5887/7) in hopes that going full circle will help find a resolution.  It appears that I am not the only one experiencing issues

[2016-02-01 13:40] robnielsen commented on #3891
@frode, do you have something similar to this in your netatmo log file:

[code]

If so, can you please attach.  Also what version of OH and Java are you using?

[2016-02-01 14:30] simonbretin opened #3951 "Automatically starting OpenHab"
Hello,
Setting up an atuomatic startup on Ubuntu, I had so lightly change the service file mentionned here : https://github.com/openhab/openhab/wiki/Samples-Tricks#how-to-configure-openhab-to-start-automatically-on-linux-with-screen

basically I had to change start by 'start', and do the same for stop, reload, ...

Once this was done, the script worked perfectly.

Thanks.

[2016-02-01 15:59] paulianttila commented on #3855
@the-hhoefi: please include your onkyo item configurations and debug log file.

[2016-02-01 19:37] lolodomo commented on #3937
Still in error in OH2 snapshot 114 !

[2016-02-01 20:18] robnielsen commented on #3937
OH2 snapshot 114 doesn't have the fixed version.

[2016-02-01 20:44] lolodomo commented on #3937
OK. So please include this PR in the coming beta 2.

[2016-02-01 21:11] TheNetStriker commented on #3523
I've just installed the 1.8.0 release of the caldav binding and again the events don't trigger after some time. I found the following error in the log:

    2016-01-30 01:00:00.508 [ERROR] [o.caldav.internal.job.EventJob:64  ]- error executing event job
    org.quartz.JobExecutionException: cannot get recurence-event for config: command and eventId: 8lm634sa-eq3b-lq9m-t02r-8ib30uyhpyyo and occuren

[2016-02-01 21:20] lolodomo opened #3952 "RFXCOM binding 1.9 not working in OH2"
In OH2, I first installed the openhab-transport-serial feature. Of course, the feature openhab-runtime-compat1x is installed too.
Using RFXCOM binding 1.9, here are the debug logs I get at startup:
[code]

[2016-02-01 21:26] mattpitts74 commented on #1905
Hi There,

I'm using the latest binding for telstick with a openhab 1.7.  Generally it's all working fine most of the time, but I'm still getting the same waring in the logs

I also notice that sometimes the state of the switches is wrong in the webapp, would this be part of the problem?  My switches are often on for several hours

[2016-02-01 21:40] kaikreuzer commented on #3937
It will be - I just triggered a new 1.9 build, which now includes this PR: https://openhab.ci.cloudbees.com/job/openHAB1-Addons/1148/

[2016-02-01 21:43] #3944 closed

[2016-02-01 22:11] frode commented on #3891
@robnielsen Yes:

2016-02-01 12:02:09 DEBUG o.o.b.n.i.NetatmoGenericBindingProvider[:154]- Processing binding configuration: '00:00:00:00:00:00#00:00:00:00:00:00#Rfstatus'
2016-02-01 12:02:09 DEBUG o.o.b.n.i.NetatmoGenericBindingProvider[:203]- Adding binding: NetatmoBindingConfig [userid=null, deviceId=00:00:00:00:00:00, moduleId=00:00:00:00:00:00, measure=RfStatus]
2016-02-01 12:02:09 DEBUG o.o.

[2016-02-01 22:57] robnielsen commented on #3891
@frode I'm pretty sure OpenJDK is not supported, and probably is causing the problem. Can you switch to Oracle Java 8? Here are some instructions: https://github.com/openhab/openhab/wiki/Linux---OS-X#java-8-installation-for-ubuntu-or-debian

[2016-02-02 08:59] mheers opened #3960 "Integrate Telekom / T-Systems Entertain Media Receiver Binding"
I've developed a remote-control-software for the Telekom / T-Systems Entertain Media Receiver:
https://github.com/mheers/entertain-remote

I'm not familiar with developing openHAB-bindings but i'd love to see my work getting integrated into a new openHAB-binding.

[2016-02-02 10:48] frode commented on #3891
@robnielsen Thanks for that info. I installed Oracle Java 8 and rebooted the Pi2 running openHAB. Everything seems to be running like before, and the rf/battery values are still missing. No sign for errors in the netatmo log file.

I got a new error, that probably are not related to the Netatmo binding:

`2016-02-02 11:05:46.420 [ERROR] [e.x.l.lazy.LazyLinkingResource] - resolution of uriFragment

[2016-02-02 11:58] udo1toni commented on #3940
What's your Item definition?

[2016-02-02 13:31] udo1toni opened #3961 "Release 1.8.1 Bintray Files missing"
https://github.com/openhab/openhab/releases/tag/v1.8.1 provides a link to Bintray, but the Files are missing :)

[2016-02-02 13:40] robnielsen commented on #3891
@frode, could you add me as a station guest, and then I can see if it works from my setup. My email address is: rob.nielsen@yahoo.com

[2016-02-02 13:58] tarioch commented on #1714
Same issue and workaround with bundled vm works nicely. But I guess license wise that is not possible. Maybe at least add a hint on the download page that this requires a 32bit java?

[2016-02-02 14:11] staehler commented on #3961
The Release Notes doesn't refer to OH 1.8.1, as well.

[2016-02-02 14:18] frode commented on #3891
@robnielsen Invitation has been sent to your email. I also added the min/max temp mappings, restarted openhab, worked like a charm. Still rfstatus and battery level refuses to map values to my item definitions. Strange thing.

[2016-02-02 14:18] staehler opened #3962 "my.openhab down?"
Hi,
I have no success to connect my OH via my.openhab. It doesn't work neither with my android nor with my desktop webbrowser. The browser shows "504 Gateway Time-out".

Is it down or has anything changed?

Regards,
Michael

[2016-02-02 14:54] robnielsen commented on #3891
@frode, I'm having no problems getting rfstatus, battery level and other settings:
[code]
Can you email me and I'll send you the items for your device, and we can see if that works or not.

[2016-02-02 14:58] watou opened #3963 "[ecobee action] non-functional in OH2"
Problem and solution similar to https://github.com/openhab/openhab/pull/3931

[2016-02-02 15:03] frode commented on #3891
@robnielsen What info do you want me to send?

[2016-02-02 15:05] robnielsen commented on #3891
@frode, can contact me via email, and then I can send you the Items I have for your Netatmo.

[2016-02-02 15:07] frode commented on #3891
@robnielsen Allright, sent you an email :-)

[2016-02-02 15:57] hmerk commented on #3960
Just had a look at your repo and I don't think that this will fit into openHAB.
The com.t_systems classes are not freely available, so we cannot add them as external libs.

[2016-02-02 17:10] udo1toni commented on #3961
See Link -> https://github.com/openhab/openhab/releases/tag/v1.8.1

[2016-02-02 18:05] teichsta commented on #3961
just wanted to draft release but finalised it already!

Binaries are online now. Release-Notes will be updated tonight …

thanks for noticing,

Thomas E.-E.

[2016-02-02 18:05] #3961 closed

[2016-02-02 20:53] frode commented on #3891
@robnielsen Thanks alot for your efforts here, the items you provided got me to a working setup on the missing netatmo items :+1:

Below are example of my item setting, some spaces in the value presentation, and capital E in the ending of the ID, not sure what caused the binding to fail pulling values.

Non working:
<img width="1143" alt="screen shot 2016-02-02 at 21 43 05" src="https://cloud.gith

[2016-02-02 21:32] robnielsen commented on #3891
It's the upper case E that is causing the issue. I'll work on a fix.

[2016-02-02 21:56] grzech1983 commented on #3916
Hello,

I've managed to do that by adding:

`
wrapper.java.additional.21=-Dgnu.io.rxtx.SerialPorts=/dev/ttyACM0:/dev/zwave:/dev/plugwise
`
to
`
runtime/karaf/etc/openHAB-wrapper.conf
`
since I'm starting OpenHAB2 with my Ubuntu system. If anyone is starting OpenHAB2 manually using startup scripts you should modify:
`
runtime/karaf/bin/karaf
`
file and exclude it from futher updates since it will b

[2016-02-02 22:19] frode commented on #3891
@robnielsen Great that you spotted the reason, so a simple toLowerCase() on all the IDs could be an idea to implement?

[2016-02-03 11:47] DaanDW commented on #1874
Please re-open this issue.
I agree that sollution 1 shall not solve al problems but de builtin delay is always minimum 1 sec.
It is not possible to change the delay lower than 1 sec.
So my opinion is that the binding must take this into account.
Otherwise you always have to use solution 2 because you always need it as a workaround.

[2016-02-03 12:59] sachinacharya commented on #388
Hi,
Please help me how can I download diaoulael-xbee binding from google cloud please help me.This may be very silli question but I am not getting.

[2016-02-03 14:14] tarioch commented on #3578
Is it possible that the jpa persistence provider has the same issue? I also have the problem that the states are not properly loaded on restart

[2016-02-03 14:44] mrfrenzy commented on #3940
Number Power_GF_Entre "Värmeeffekt [%.1f %%]" <heating> (Temperature, GF_Entre) {knx="<2/2/0"}

[2016-02-03 15:34] staehler commented on #3962
Sorry, my mistake!
Forgot to include the myopenhab-Binding

[2016-02-03 15:34] #3962 closed

[2016-02-03 17:39] watou commented on #3963
@kaikreuzer, some Ecobee action method signatures include `DecimalType` as well as `Item`.  After replacing the Item parameter, 2.0beta2 will log
[code]
Does this mean that OH 1.x action method signatures cannot include any OH1 core types if they are to work in OH2?

[2016-02-03 19:26] digiltd commented on #3949
The forums at [community.openhab.org](http://community.openhab.org) are your best bet :)

[2016-02-03 19:43] ollie-dev opened #3967 "RWE Smarthome binding - session timeout while executing commands"
If the session timeouts when a command is send, the session is not correctly recovered and the binding remains "dead".

[2016-02-03 20:04] lewie commented on #3578
Many things have changed since! Please use OpenHab 1.8.x.

[2016-02-03 20:36] ollie-dev opened #3969 "RWE Smarthome: support underfloor heating"
Add support for RWE underfloor heating device.

[2016-02-03 21:00] tarioch commented on #3578
I use 1.8.1 and was wondering if the issue I see was already open or related

[2016-02-04 04:02] Marty56 opened #3970 "OPENHAB Designer Performance Problem with "bigger" rules files"
I am running OPENHAB Designer under Windows 10 and fast PC (8 GB RAM).
As soon as rule files are become a bit longer, Designer is almost becoming unusably slow.
I have a rule file which has about 800 lines of code (a lot of comments) which cannot be edited anymore. Rule files lower than 400 lines of code are still working somehow.

I have split up my rule files into many files which is very inconv

[2016-02-04 09:54] staehler commented on #3175
Is there any progress or am I the only with this "unreliability"-problem?
sendNotification worked for me well, but now it seems, that no notifcation comes through.
I'm running OH1.8.0, the regarding 1.8.0-myopenhab binding and have code excerpts like this:

			sendNotification("my.email@domain.com", text)

[2016-02-04 11:17] kaikreuzer commented on #3963
Yes, according to the discussion we had at https://community.openhab.org/t/fixed-problem-with-sendmiosaction-in-oh2/6772/, this is the current situation.

Am am not sure how many actions are concerned by this. It might be pretty hard to implement support for them in the compat layer, so if we are only talking about a few actions, it is probably not worth the effort.

[2016-02-04 13:15] shawly opened #3971 "[Bug] EXEC Transformation Service"
# Problem
## My Items

I've set up a local udp listener on port 49880, so I can see what gets passed through from my script.
These are my two test items:

[code]
## UDP can't use wildcards for commands

One unrelated issue is, I can't use `udp=">[*:127.0.0.1:49880:'EXEC(elro433 10110 01100 %s)']` because it throws an exception:

[code]

With the EXEC binding this works fine. `exec=">[*:tx433 elro

[2016-02-04 13:57] watou commented on #3971
Are you using openHAB 1.8.1?  There was a fix that might be related.

I see [in the code](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.tcp/src/main/java/org/openhab/binding/tcp/protocol/internal/ProtocolGenericBindingProvider.java#L191) why this is so, and a pull request would be needed to allow `*` to match any command.

[2016-02-04 14:10] shawly commented on #3971
Oh lord.. I feel stupid now, this really got fixed with 1.8.1... it took me so long to make a detailed bug report and then this.. holy shit.. thanks...

Yeah I'd probably have to use [this code](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.exec/src/main/java/org/openhab/binding/exec/internal/ExecGenericBindingProvider.java#L251) and compile the udp binding mys

[2016-02-04 14:22] watou commented on #3971
Perhaps you could make a surgical change and submit a PR to add the feature?  Or supply diffs?

[2016-02-04 14:25] shawly commented on #3971
I have added the code from the Exec Binding to the TCP Binding provider and created a PR, lets have a look if Jenkins doesn't go wild and then with some luck it gets merged in time.

[2016-02-04 16:58] watou commented on #3971
Reopening so issue is closed after full resolution.

[2016-02-04 19:18] dvanherbergen commented on #1874
Nikobus program modes M1, M2 and M3 do not use the delay at all.

Did that not work?

[2016-02-04 19:36] soloam opened #3975 "panasonictv returning error 500 in Panasonic VT60 in HDMI"
Hello, I have a bind with my Panasonic VT60 with OpenHab, it works find, all but the options of HDMI1, HDMI2, HDMI3, HDMI4. It returns:

`
2016-02-04 19:17:04.591 [WARN ] [.p.internal.PanasonicTVBinding] - Command HDMI1 to TV with IP 192.168.1.200 failed with HTTP Reponse Code 500

2016-02-04 19:18:48.681 [WARN ] [.p.internal.PanasonicTVBinding] - Command HDMI4 to TV with IP 192.168.1.200 failed w

[2016-02-04 21:28] brunofosi commented on #2863
any updates?

[2016-02-04 21:39] RemcoteWinkel commented on #2863
No. Samsung continues to use a self signed certificate which is against industry best practices. Please contact you local representative about this. I am sorry to say my lawyer already sent a letter to Samsung ordering them to rectify the situation. No reply as of yet. The more we consumers complain the more likely Samsung takes this seriously.Unfortunately Samsung is a bit stubborn in this respec

[2016-02-04 22:04] brunofosi commented on #2863
I also don't understand why Samsung is adopting this practice! and they don't even make it available on their own Smartthings platform, which is ridiculous.

[2016-02-04 22:41] udo1toni commented on #3940
Please try setting the DPT with  {knx="<5.001:2/2/0"}

[2016-02-05 13:45] mrfrenzy commented on #3940
That works perfectly!

Thankyou for your help.

Perhaps if there was a small section on datatypes in the KNX wiki page others could figure this out aswell.

Best Regards

Pierre

[2016-02-05 13:45] #3940 closed

[2016-02-05 17:25] J-N-K commented on #3221
Please close the Designer, backup %USERPROFILE%\.eclipse and remove everything in that directory. Open Designer and open your configuration. This fixed it for me. I have seen similar behaviour with Eclipse (not Openhab Designer) before.

[2016-02-05 18:44] jarlebh commented on #1905
You  are using a tellstick basic ?
I think you need to increase the reset time, this is basically to make sure
to reset the tellstick connection if nothing happens in a given timespan.
You can change the max_idle to increase this timeout. If you only change
the lights once a day, then set it to 86400000.

2016-02-01 14:26 GMT-07:00 mattpitts74 <notifications@github.com>:

[2016-02-05 19:15] JSurf commented on #2358
I think at the time i tried, i have hit this bug in the rxtx library. Maybe rxtx was updated so this bug is not present anymore:
https://www.isee.biz/support/can-not-send-with-38400-baud,-using-java-rxtx-libraries

[2016-02-05 19:44] tarioch commented on #2358
Yep, actually nrjavaserial (fork from rxtx) is used so, so no serialisation issues.

[2016-02-05 22:23] haumacher opened #3978 "HTTP actions do not work with HTTPS and basic authentication"
I learned from the code, that one can use basic authentication in HTTP actions by encoding the username and password into the URL:

[code]

Unfortunately, this does not seem to work with HTTPS, because the pattern extracting the credentials from the URL does not match:

[code]

Shouldn't this be fixed to something like `Pattern.compile("http(?:s)?://(.*?):(.*?)@.*")`?

With the current code, servi

[2016-02-05 22:30] pcragone commented on #3949
Ok thanks!

[2016-02-06 05:32] sihui62 commented on #1814
Similar issue here:
error message was present in 1.7.1, disappeared in 1.8.0, is back now since upgrading to 1.8.1.
[code]

[2016-02-06 08:30] federic0 commented on #3536
I am running OH 1.8 (and 1.7 before) with a CM15A and do not have this problem. I do not have mochad/CM15A on the same host as OH, have you tried changing that to an external host see if that changes anything?

[2016-02-06 13:09] lolodomo commented on #3952
Fixed by PR #3981

[2016-02-06 13:09] #3952 closed

[2016-02-06 13:43] doubleus opened #3982 "Value conversion error"
I found the following line in the log:
2016-02-06 13:00:42.808 [WARN ] [o.u.i.items.ItemUIRegistryImpl] - Exception while formatting value '82.96000000000001' of item Beleuchtung_EG_Kueche with format '%d LUX': java.util.IllegalFormatConversionException: d != jav           a.math.BigDecimal

This causes the output "Err" in the UI.
The value Comes from the KNX binding.
Item:
Number	Beleuchtung_EG_K

[2016-02-06 15:34] snickers2k opened #3984 "[Request] LG Hombot/Roboking Binding"
Hey.
Would be really cool to have an LG Hombot/Roboking Binding.
Everything about it is listed here: http://www.roboter-forum.com/showthread.php?13718-HomBot-3-0-Guide-Alle-Infos-Alle-Links (German)
##

[2016-02-06 17:38] lolodomo opened #3985 "Classic UI 1.8.1 and new slider: major problem"
Using the new slider provided with Classic UI in openHAB 1.8.1, I succeeded several times to enter in a loop with infinite update of the item (always with the same value). This is clearly the classic UI that update the item because if I close the WEB browser, the updates stop.
Unfortunately, it is not clear for me what is the exact scene to reproduce this issue.

[2016-02-06 20:40] tunichtviel commented on #3591
I also have an HAC01 device. Looking here, it seems to me that the binding information was not yet added: [Everspring devices](https://github.com/openhab/openhab/tree/master/bundles/binding/org.openhab.binding.zwave/database/everspring)

Right now the device is rather cumbersome for me, because I am not able to receive status updates that are triggered by the device (Z-Wave novice here ;) I think

[2016-02-06 20:44] cdjackson commented on #3591
As far as I know, it’s not been added - please feel free as described above :)

[2016-02-06 20:57] cdjackson commented on #3591
I’ve created the database entry here (http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/270 <http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/270>). Please advise the device ID/ Type (as described by HABmin). if you already have the XML file for this node (as generated by the binding in the /etc/zwave/node

[2016-02-06 21:48] tarioch opened #3986 "Intertechno seems not to work with OpenHab 2"
I did a test with the 1.8.1 version of the intertechno bundle and I'm getting an error accessing
/dev/ttyACM0

If I use the refactored version from my PR #3885 it seems to work fine

[2016-02-06 21:48] korpa commented on #1814
Same here. In 1.8.0 it works.
In 1.8.1 I get following error when trying to use _receivedCommand_ in a rule

[code]

[2016-02-06 21:54] tarioch commented on #3986
Just checked the commit history. Most likely that was fixed by previous commits on the master branch (which are not in 1.8.1)
So it most likely works with 1.9.0 (I'll have to see if I can fetch a pure 1.9.0 build from somewhere)

[2016-02-06 21:54] #3986 closed

[2016-02-06 22:15] tarioch commented on #3986
Just tested with pure 1.9.0 and it works => https://github.com/openhab/openhab-distro/pull/122

[2016-02-06 22:20] tarioch commented on #3910
I'm in the same boat as you (nanoCul). I refactored the code in that area and have it fixed that it's possible to configure the baud rate for any cul binding.

See #3885

[2016-02-06 22:29] tarioch opened #3987 "Do not send intertechno sending parameters per default"
Currently the intertechno sends repetitions and wavelenght parameters always on startup.
This causes issues with some sticks (e.g. nanocul)

See (German discussion) http://forum.fhem.de/index.php?topic=35064.msg404579#msg404579

I think it would make much more sense not to send the parameters unless they are configured in the settings. Normally sticks are already configured with default settings a

[2016-02-07 02:06] BClark09 commented on #3985
I'm getting the same thing, as soon as I change the brightness sliders on the classic UI, my lights go crazy, switching between different states, undefined really fast. In a single second my openHAB server recieves this many updates:

[code]

[2016-02-07 02:36] o5i opened #3990 "knxd problem"
Hi

I cant establish connection between knxd and openhab..
I tried knxd whit knxtool groupwrite and it works...
How i need to set up knxd/openwrt?

[2016-02-07 07:47] tunichtviel commented on #3591
I will do the update of the database entry.

I registered at your 'openHAB zwave database update service'. Could you provide edit rights to me?
Gert

[2016-02-07 09:40] etlmwwn commented on #3896
Identical issue (also noted in [this ](https://community.openhab.org/t/raspian-jessie-gpio-input/3448 )thread).

BUILD:

- OS: jessie  - Linux raspberrypi 4.1.13+ #826 PREEMPT Fri Nov 13 20:13:22 GMT 2015 armv6l GNU/Linux
- HW: Raspberry Pi  B+
- java version "1.7.0_40"
- Java(TM) SE Runtime Environment (build 1.7.0_40-b43)
- Java HotSpot(TM) Client VM (build 24.0-b56, mixed mode)

- ii  openhab-a

[2016-02-07 10:20] cdjackson commented on #3591
Thanks Gert - you have access now :)

Cheers
Chris

[2016-02-07 11:24] lewie opened #3992 "[ JDBC Persistence] extend parsing jdbc url"
@watou,
a little fix for parsing given URL Strings with space char.
from: https://community.openhab.org/t/jdbc-persistence-with-sqlite-not-working-in-openhab-1-8-0/6929/4

[code]

[2016-02-07 11:27] watou commented on #3992
Thank you, @lewie!

[2016-02-07 11:46] tunichtviel commented on #3591
Great tool!

I submitted the HAC01 entry for review.

Besides, i think an "import from pepper1/xyz-system XML" feature could be nice, yes?

Gert

[2016-02-07 11:55] cdjackson commented on #3591
I agree - and have considered this. I’m just a bit worried about copyright if we directly go around importing other peoples data so need to check this out...

[2016-02-07 16:06] teichsta commented on #3985
Thanks for letting us know! I'll try to find a solution asap …

[2016-02-07 16:14] robnielsen opened #3995 "Netatmo binding is reporting wrong wifi and rf signal levels"
The Netatmo binding is reporting values that are different than the Netatmo is displaying. It should report values from 1-5 for rf signals, where 1 is low and 5 is high, and 1-4 for wifi where 1 is low and 4 is high. See https://community.openhab.org/t/netatmo-binding-1-8-1-outdoor-rfstatus-not-showing-a-value-any-longer/7230/15 for further discussion.

[2016-02-07 16:30] robnielsen commented on #3995
@clinique, you'll want to look at the GetStationsDataResponse.java changes in https://github.com/openhab/openhab/pull/3964 and see if something is similar for the OH2 binding.

[2016-02-07 21:58] sheppy99 commented on #3896
Thanks for the reply, is this binding still maintained? The workaround in the thread above using a combination of an older binding and a modified io file does work, so maybe the binding files and instructions need changing to this one going forward? Maybe AlejandroGuirao would be interested in contributing his fix to the official repository?
Apologies if I have the hierachy wrong, I'm not sure how

[2016-02-08 04:35] pallemannen opened #3997 "Add Domitech ZE27EU Smart LED Light Bulb to the database"
I have a couple of Domitech ZE27EU smart LED light bulbs. http://products.z-wavealliance.org/products/1530

I'm running OpenHAB 1.8.1 on Windows with a Zwave.Me USB controller https://www.m.nu/zwaveme-stick-p-1778.html

I include them (using Habmin) without problems, but they are recognized as "Domitech [ID:3134,Type:4c42].

Here is info from the XML:

[code]
##

[2016-02-08 06:59] Gugiman commented on #3910
Glad to hear that! I'm looking forward for the 1.9 milestone.
Is any timeline given for this?

[2016-02-08 07:15] tarioch commented on #3910
If I  understood it right this will be the switch to openhab2 as a base. If you want I can provide the two jars, they work with 1.8.1

[2016-02-08 07:43] teichsta commented on #3910
you can the binaries in the [nightly snapshot builds](https://openhab.ci.cloudbees.com/job/openHAB1-Addons/lastSuccessfulBuild/artifact/bundles/io/org.openhab.io.transport.cul/target/) already. They should be compatible with your 1.8.1 runtime.

[2016-02-08 07:44] teichsta commented on #3910
Once the mentioned PR is merged you'll find the binaries also in the [nightly snapshot build](https://openhab.ci.cloudbees.com/job/openHAB1-Addons/lastSuccessfulBuild/artifact/bundles/io/org.openhab.io.transport.cul/target/)

[2016-02-08 07:46] tarioch commented on #3910
Yes but as the pr has not yet merged I would need to upload my jars with the merged fix

[2016-02-08 07:46] tarioch commented on #3910
Ignore my last comment

[2016-02-08 07:48] teichsta commented on #3910
:-) @Gugiman it would be great if you could beta test @tarioch changes and comment if it works for you …

[2016-02-08 08:10] tarioch commented on #3910
I made a release here: https://github.com/tarioch/openhab/releases/tag/untagged-bac31677f9265162782d

Configure it like this:

culintertechno:baudrate=38400
culintertechno:parity=NONE
culintertechno:device=serial:/dev/ttyUSB0

[2016-02-08 08:45] staehler commented on #2953
I think this issue can be closed, because of @gitbock FritzBox TR064 binding.

[2016-02-08 08:45] #2953 closed

[2016-02-08 09:09] watou commented on #3992
Hi @lewie, please double check that #3998 is what you intended and works! :smile:   Thanks a lot.

[2016-02-08 09:12] staehler commented on #2175
@teichsta As my.openhab offers the notification-methods, it should be a way to offer these as a RSS feed from the my.openhab accout.
What do you think?

[2016-02-08 13:05] Gugiman commented on #3910
I will definitely give it a try sometime within this week.

[2016-02-08 13:35] Moxified opened #3999 "Designer 1.8.1 won't open configuration folder"
Designer 1.8.0 opens my configuration folder, 1.8.1 will not.  It throws the generic "chosen directory is not a valid openHAB configuration directory."  As mentioned, I can use 1.8.0 with no issues on the same configuration folder.

I have tried on my mac and on a windows7 machine.  They are connecting over a samba share to a debian 7 machine.

[2016-02-08 13:54] #3784 closed

[2016-02-08 16:35] JSurf commented on #2358
I recently also found a new issue with my networked cul. It seems the connection does not get recovered when the networked cul is not reachable. I'm slowly moving services to another raspberry and restart ser2net quite often. Then i get "broken pipe" errors and openhab does not seem to restart/recover the connection after the remote cul is up again. I only use outgoing calls via culintertechno bin

[2016-02-08 16:36] JSurf commented on #2358
Should i open a new issue for that ?

[2016-02-08 16:42] korpa commented on #1814
Now I got the same error with 1.8.0. I really wondered why this happened and digged into this a little more. After a while I realized that this error occuered randomly after I restarted openhab without changing any configuration.

[2016-02-08 19:13] frost80 opened #4002 "Items with Callmonitor not working fritzboxtr064-binding"
Hi,
i have a FB 6360 UM and testet the new addon fritzboxtr064.
The first items (fboxWifi24, fboxName) work fine.
But all items with callmonitor are not working.

My items:
String fboxName "FBox Model [%s]" {fritzboxtr064="modelName"}
Switch fboxWifi24 "2,4GHz Wifi" {fritzboxtr064="wifi24Switch"}

Switch fboxRinging "Phone ringing [%s]" {fritzboxtr064="callmonitor_ringing" }
Call fboxIncomingCall

[2016-02-08 19:15] Moxified commented on #3999
I need to modify this.. I just found that openhab_default.cfg was missing.  Is this required to be there?  I added it back and 1.8.1 will now open the directory.

[2016-02-08 19:19] tarioch commented on #2358
Yes please

[2016-02-08 19:44] watou commented on #1814
I saw this stack trace after upgrading to 1.8.1 as well (not that that was necessarily related).  I just compared the code base between v1.8.0 and v1.8.1:
[code]
and the majority of the differences are of this sort.
[code]
Could this cause issues, @teichsta?

Addons and a UI fixes are the only other real differences between the two tags.

[2016-02-08 20:00] udo1toni commented on #2175
I do not use my.openhab, and it would be nice not to being too dependent from optional/unessential services. just my 2 cents...

[2016-02-08 20:06] tunichtviel commented on #3591
I just tested the latest 1.9.0 snapshot at [https://openhab.ci.cloudbees.com/job/openHAB1-Addons/lastSuccessfulBuild/artifact/bundles/binding/org.openhab.binding.zwave/target/](https://openhab.ci.cloudbees.com/job/openHAB1-Addons/lastSuccessfulBuild/artifact/bundles/binding/org.openhab.binding.zwave/target/).

But there are plenty exceptions.

I am using openHAB 1.8.0. Guess I need to update that

[2016-02-08 21:04] kaikreuzer commented on #1814
I am actually not aware of ANY code change on the runtime itself, so I doubt that something broke in 1.8.1, which worked in 1.8.0. I therefore think that @korpa's observation is right that it is simply a randomly occuring error.

[2016-02-08 22:13] teichsta commented on #1814
me neither. I'd like to close this issue as "wont fix" as long as nobody speaks up being able to reproduce this deterministically.

[2016-02-08 22:13] #1814 closed

[2016-02-08 22:43] #3764 closed

[2016-02-08 22:43] #3967 closed

[2016-02-09 00:43] ScheissSchiesser commented on #3578
I am also experiencing this issue, running openhab-runtime 1.8.0 on raspbian-wheezy on a Raspberry Pi 2

[2016-02-09 04:18] sheppy99 opened #4006 "Ecobee Binding has incorrect wording in the registration message"
I've just noticed that the Ecobee Binding 1.8.0 has incorrect wording in the registration message. I think "....in My Apps within the next 9 seconds"
should read "in My Apps within the next 9 Minutes"
It doesn't affect the functionality but it might confuse a newcomer

[2016-02-09 05:14] Marty56 opened #4007 "bring back support of "item:" in weatherbinding html support"
Until V 1.7.1 the weather binding had great support for supporting items when creating highly customizable html layouts and icons (see example.html in wiki).
I have been using this functionality extensively because pages created purely with sitemap files are not working well on tables (information density too low).

I understand that a binding should not cross its domains but just displaying and n

[2016-02-09 05:17] Marty56 commented on #1699
yes

[2016-02-09 05:17] #1699 closed

[2016-02-09 08:12] watou commented on #4006
Thanks for the report, @sheppy99.  Ecobee had changed their API in December to switch to seconds to comply with OAuth2's meaning of expires_in, and at that time I saw it reply in seconds, and then after I updated the binding, it looks like they switched back to minutes.  I will ask them what their final decision is, and change the wording if necessary.

[2016-02-09 09:41] sheppy99 commented on #4006
One other thing you may want to add to the wiki is if the pi is restored from an image, the authorisation process with Ecobee has to be started from scratch, even if it's only a few hours old. Just deleting the app on Ecobees servers doesn't seem to fix it. The only way I've found to work is start again, add the long key to Openhab.cfg and reboot. (Currently tracing an obscure fault with another p

[2016-02-09 10:10] watou commented on #4006
Thanks @sheppy99.  The tokens are kept in Java user preferences for the user running the openHAB server.  You can delete them and restart openHAB to be asked for a fresh PIN.  [Here](https://www.google.com/webhp?q=java+user+preferences+location) is a Google search for locating where Java keeps user preferences on your OS.  On Linux, it's under ~/.java/.userPrefs by default.  The openHAB 2 binding

[2016-02-09 11:35] #4002 closed

[2016-02-09 13:26] dodger777 opened #4009 "MiOS Action - Missing variableSet call"
http://<miosIP>:3480/data_request?id=variableset&DeviceNum=<deviceID>&serviceId=urn:micasaverde-com:serviceId:DoorLock1&Variable=<VariableToSet>&Value=<Value>

This is changing a variable value in MiOS.

[2016-02-09 13:47] dodger777 opened #4010 "Jsr223 : File not found bug when loading a new script."
There is a not so frequent bug, when Openhab found a new script file, jsr223 try to load it, and give an error that the file do not exist.

Touching the file would call the load again, and it work.

Bug seen on windows 7 machine.

[2016-02-09 13:51] dodger777 opened #4011 "Jsr223: Bug when loading a new script or a modify one."
When you modify a script or create a new one, some time it load and tell that the getRules do not exist, when it clearly exist.

Touching the file would work on 99.99% of the case.

This is a fairly frequent bug.

Seen using groovy script.

[2016-02-09 14:07] dodger777 commented on #4011
Error exemple:

[code]

[2016-02-09 17:38] lewie commented on #3992
Hi @watou,
Is what I intended it works as expected!

Thank You!

[2016-02-09 18:12] dodger777 opened #4013 "Jsr223: weird behaviour with getEventTrigger()"
I see in the console that openHab execute getEventTrigger() each time a trigger is executed.
But it did not load my additional trigger.

if i add a Cron trigger after receiving an event, it never get executed.
I know that it get getEventTrigger() only before executing a trigger, so i execute 2 trigger to be sure my cron job was added. And it still did not work.

Is it possible to had getEventTrigg

[2016-02-09 20:32] cdjackson commented on #3591
Please try tomorrows version.

[2016-02-09 22:45] #4006 closed

[2016-02-09 23:27] robnielsen opened #4015 "Netatmo binding is reporting wrong values for battery percentages"
Both of my Netatmo devices that have battery's are currently reporting 100%, when they should be be reporting lower values. The devices have a range of 6000 ... 3600, and my devices have values of 5586 and 5782. Using a formula of (value - min) / (max - min) yields percentages of 83 and 91 respectively.

[2016-02-10 05:40] tunichtviel commented on #3591
I tested the current version of org.openhab.binding.zwave-1.9.0-SNAPSHOT.jar, size 1.242.691 bytes (I think that should be Build #1155 10.02.2016 03:09:23).

Still there are plenty of ClassCastExceptions:

[2016-02-10 08:04] luca-saggese commented on #2863
Hello,
i was having the same problem using node js, just use the following key extracted from apk
[ac14k_m.pfx.zip](https://github.com/openhab/openhab/files/124355/ac14k_m.pfx.zip)

here is the js code:
`self.socket = tls.connect({pfx: fs.readFileSync('ac14k_m.pfx'), port: 2878, host: self.options.ip, rejectUnauthorized: false }, function() {
  `

[2016-02-10 11:09] RemcoteWinkel commented on #2863
Splendid!

I did " openssl pkcs12 -in ack14k_m.pfx -out cert.pem -nodes"  hit enter on password and then  used the out.cert file like:

openssl s_client -connect 192.168.1.147:2878  -cert cert.pem

I think I actually see my ac talking:

<?xml version="1.0" encoding="utf-8" ?><Update Type="InvalidateAccount"/>

I will try to add the certificate to my standard ca-certs later today. Will let you know

[2016-02-10 12:35] MrMerlino commented on #2863
Excellent!
At least we got an update :)
Works also for me!

DPLUG-1.6
<?xml version="1.0" encoding="utf-8" ?><Update Type="InvalidateAccount"/>

[2016-02-10 12:37] steintore commented on #2863
Great news!
I do think I'll have to do some alteration of the binding before this actually work, but @RemcoteWinkel let me know your results.
I can make a small java-application to check how to implement it before I actually change the binding.

[2016-02-10 13:19] MrMerlino commented on #2863
@steintore
The Answer "InvalidateAccount" means that you are not logged right?
I extract the token from the xml (the same process with which I have got the bks certificate).
This should means that the connection works correctly, right?
How i can try to make communication with the AC?
Thanks in advance :)

[2016-02-10 13:28] steintore commented on #2863
The procedure is that you'll get the InvalidAccount something. The you can respond with
"<Request Type="GetToken" />"
And you should receive a token.
If you get this far, then it the communication should be okay. You can try to get the state of everything by sending this command (after getting the token):
<Request Type="DeviceState" DUID="{{MAC}}"></Request>
(Replace {{MAC}} with the AC mac addres

[2016-02-10 14:04] MrMerlino commented on #2863
![ok](https://cloud.githubusercontent.com/assets/14082105/12949330/7beb4aa8-d007-11e5-8463-fd1fff8bbfc2.PNG)
With GetToken, turn AC on i receive the right token, but then with the DeviceState command i didn't receive answer
I'll try again :)

[2016-02-10 14:07] MrMerlino commented on #2863
Ok was my fault :)
Now works!
![cattura](https://cloud.githubusercontent.com/assets/14082105/12949425/08a4eaa8-d008-11e5-9528-ac7cfc463b17.PNG)

[2016-02-10 14:11] MrMerlino commented on #2863
Ok :)
I'm so sorry but i'm really noob about this :D
The right command was:
`<Request DUID="MACADDRESS" Type="DeviceState" />`

And the AC Answer correclty :dancer:

[2016-02-10 14:27] dodger777 commented on #4010
find the bug in another issue. I will comment the old one and close this one.

[2016-02-10 14:27] #4010 closed

[2016-02-10 14:29] dodger777 commented on #736
I got the same bug with jsr223 and groovy.
I've opened an issue before finding this one. so here is my original text:

There is a not so frequent bug, when Openhab found a new script file, jsr223 try to load it, and give an error that the file do not exist.

Touching the file would call the load again, and it work.

Bug seen on windows 7 machine.

[2016-02-10 14:35] petrklus commented on #736
Interesting, on Windows 7 as well!

Quick question - did you find that it _always_ works after single touch or
do you need to touch multiple times to get it to load?

Best,

Petr

On 10 February 2016 at 15:30, dodger777 <notifications@github.com> wrote:

[2016-02-10 14:42] dodger777 commented on #736
when I see the file no found error. one single touch of the file make it work again.

I have another bug that says I did not implement getRules (). a single touch seem to work fine to. (I have open an issue for that )

[2016-02-10 16:41] bipphilippe commented on #3185
@cdjackson : I have registred to the database site. I would like to add the Qubino device data. Can I have write access to do that ?

[2016-02-10 16:43] cdjackson commented on #3185
Done - thanks.

[2016-02-11 04:14] MartyTremblay opened #4023 "networkupstools: Output voltage is multiplied by 10"
I'm noticing that the output voltage in my setup shows to be 10x the actual voltage. Where I'd expect 120.0V in North America, I see 1200.0V. Here's my  item setup (taken from the example):

`Number Ups_Output_Voltage	"UPS output voltage [%.1f V]"	(Ups)	{networkupstools="ups1:output.voltage"}`

[2016-02-11 05:01] MartyTremblay commented on #4023
Hrm, looks to be a NUT driver issue. upsc is reporting the following:
output.voltage: 1203.0
output.voltage.nominal: 120

[2016-02-11 05:01] #4023 closed

[2016-02-11 09:21] vsaw opened #4025 "Create self signed certificates on instances to add proper TLS security to openHAB"
# Problem
Currently openHAB provides a "default" certificate, which gives no proper protection as anyone can download the private key from openHAB and thus decrypt TLS connections to openHAB.

# Proposal
Therefore instead of shipping a unsafe certificate I propose to create a self signed certificate on the machine runnings openHAB if there is none present.

In addition `openhab.cfg` should get new

[2016-02-11 10:23] vsaw commented on #4025
As @kaikreuzer pointed out there's work been done on this at https://github.com/openhab/openhab2-addons/pull/402. However this issue remains in openHAB 1.x therefore I'll leave it open as a point of discussion if it's worth backporting this feature to openHAB 1.x.

[2016-02-11 11:02] pinkkoff commented on #3771
Hm. Now OH2 doesn't support many protocols, isn't it? Many users use openhab1 now, why bugs are not fixed on it?

[2016-02-11 11:06] kaikreuzer commented on #3771
It is, see https://github.com/openhab/openhab-distro/blob/master/docs/sources/addons.md#compatible-1x-add-ons
The aim is that almost all openHAB 1 bindings work there as well.

Simply, because nobody does it. If you come up with a PR to fix it, I think there is a very good chance that @teichsta includes it in a future bug fix release for 1.8.

[2016-02-11 11:21] watou commented on #3963
I will change the Ecobee action so no org.openhab.* parameters are used in the method signatures, since a matching signature won't be found in OH2 if unresolved classes exist in other signatures.  This will break current usage but same will be noted [here](https://github.com/openhab/openhab/wiki/Actions#ecobee-actions).

[2016-02-11 11:31] luca-saggese commented on #2863
MrMerlino,
could you track the connections the ac is doing to the samsung?
i'm really worried of blocking any update to my system.

[2016-02-11 11:52] RemcoteWinkel commented on #2863
I have the current open connection, I guess this is for the service (control with phone)

tcp   192.168.1.147:54596                      112.106.186.251:80

[2016-02-11 11:58] MrMerlino commented on #2863
Yes for sure....
I'll try to understand! But i'll come back at home on the last days of february!

[2016-02-11 12:33] Mickaelh51 opened #4026 "Freebox Binding error from 1.8"
Hi all,
Since 02 February 2016, Freebox Binding didn't work. I have this issue:

`2016-02-03 11:20:14.978 [INFO ] [.o.b.f.internal.FreeboxBinding] - SystemConfiguration: Erreur interne
2016-02-03 11:20:15.028 [INFO ] [.o.b.f.internal.FreeboxBinding] - ConnectionStatus: Erreur interne
2016-02-03 11:20:15.087 [INFO ] [.o.b.f.internal.FreeboxBinding] - WifiGlobalConfig: Erreur interne
2016-02-03 11:2

[2016-02-11 12:37] starcraft04 opened #4027 "Openhab not working after installing via apt-get IHC binding"
Hi all,

I installed the demo config and it was working then I did an apt-get-addon for IHC and I can't even connect to the demo website anymore.

I get an ERR_CONNECTION_REFUSED.

An when I look in debug mode in the log file, the only thing I get is:
2016-02-11 13:05:24.879 [DEBUG] [.o.u.w.i.servlet.WebAppServlet] - Servlet request received!
2016-02-11 13:05:24.884 [DEBUG] [.o.u.w.i.servlet.WebAp

[2016-02-11 12:41] watou commented on #4027
It seems odd that the log lines are not chronological, and that there is no evidence of the IHC binding in the log.  I assume you mean your browser was unable to connect to Raspberry Pi on port 8080?  Did you `sudo /etc/init.d/openhab start` before your attempt?  Please provide more information, thanks.

[2016-02-11 12:44] starcraft04 commented on #4027
Hi,

Yes I did sudo /etc/init.d/openhab start

pi@raspberrypi:~ $ sudo /etc/init.d/openhab start
[ ok ] Starting openhab (via systemctl): openhab.service.
pi@raspberrypi:~ $ tail -f /var/log/openhab/openhab.log
2016-02-11 13:05:24.879 [DEBUG] [.o.u.w.i.servlet.WebAppServlet] - Servlet
request received!
2016-02-11 13:05:24.884 [DEBUG] [.o.u.w.i.servlet.WebAppServlet] - reading
sitemap demo
2016-02-

[2016-02-11 12:52] watou commented on #4027
Do you see any IHC binding file remaining in /usr/share/openhab/addons ?

[2016-02-11 12:53] starcraft04 commented on #4027
Ok, it seems that it is more that when I do a reboot, it is not working for the first 5 minutes. It seems it takes a very long time to get ready. I have it working again even after installing again the IHC bindings. Maybe this is because it is a raspberry B and it is slower.

I will continue my search with the IHC and Openhab. Thanks for the info and the help.

[2016-02-11 13:11] watou commented on #4027
The startup time on the Raspberry Pi 1 models is noticeably slower than on Pi 2.  5 minutes does seem longer than expected.  But if you think this issue can be closed meanwhile, please do.

[2016-02-11 13:18] vsaw commented on #3548
I just got a Netatmo weather station working with version 1.8.1 of the plugin. So the code seems to be working. The [Netatmo documentation](https://dev.netatmo.com/doc/authentication/authcode) states that the `invalid_grant` error is shown  *"In case of error (invalid code, expired code, missing args)"*

[2016-02-11 13:27] luca-saggese commented on #2863
i've blocked all outgoing connection, the nice fact is that the ac sense it and sends a status update with AC_SG_INTERNET: Disconnected

voilà!

[2016-02-11 13:40] #4027 closed

[2016-02-11 14:03] pinkkoff commented on #3771
Unfortunately,i am not a programmer... OH1 has not bad wiki, is OH2 has it too?

[2016-02-11 16:24] MrMerlino commented on #2863
So we wait for the new binding :)
thanks to all :)

[2016-02-11 16:49] vsaw commented on #3548
FYI The Netatmo Plugin documentation was a bit mileading as important steps where not mentioned. I improved it which should help you get your Netatmo addon running https://github.com/openhab/openhab/wiki/Netatmo-Binding

[2016-02-11 17:31] tunichtviel commented on #3591
I just copied products.xml and hac01.xml from 1.9.0-snapshot to the zwave binding version 1.8.1. Now I can configure my HAC01 device and it works well :)

Though, I wanted to note:
- neither the "Description" nor the "Overview" of Configuration Parameters and Association Groups made it to the hac01.xml file.
- in habmin "Configuration Parameters" the two configuration parameters are shown, but no

[2016-02-11 17:40] cdjackson commented on #3591
It would be good if you can confirm that this works in the latest binding - otherwise if it doesn't work you will need to keep using this version you have built rather than the released versions?

Cheers
Chris

Sent from my iPhone

[2016-02-11 17:58] tunichtviel commented on #3591
Just tell me when there is a 1.9.0 version where that ClassCastExceptions are resolved.

[2016-02-11 18:04] Gugiman commented on #3910
@tarioch As I mentioned before the Link answers with a 404

Just need a source for testing otherwise I'm not very sure in which repo your changes are already made (not THAT expert in Github logics ^^ )

[2016-02-11 18:25] cdjackson commented on #3591
Please try the latest daily snapshot on cloudbees.

Sent from my iPhone

[2016-02-11 18:46] tunichtviel commented on #3591
Tested the current version (#1156) and the HAC01 works well :)

[2016-02-11 18:53] tarioch commented on #3910
Hm, link works fine for me. Otherwise go to
https://github.com/tarioch/openhab/releases and should be the top release
called Test Jars

[2016-02-11 18:54] tarioch commented on #3910
sorry figured it out https://github.com/tarioch/openhab/releases/tag/v1.9.0-pre1

[2016-02-11 19:12] cdjackson commented on #3591
Brilliant - thanks

Sent from my iPhone

[2016-02-11 19:56] cvdenzen commented on #3803
Try to change:
everyMinute: "0 */1 * * * ?" into
everyMinute: "0 * * * * ?"

[2016-02-11 21:20] brunofosi commented on #2863
great news!

[2016-02-11 23:08] teichsta commented on #4026
can you please create a thread at community.openhab.org and try to volunteers to create a PR for this?

[2016-02-11 23:09] teichsta commented on #4015
should have been fixed through #4016

[2016-02-11 23:09] #4015 closed

[2016-02-11 23:10] teichsta commented on #3999
yes! openhab_default.cfg needs to be available. However thanks for noticing and updating this issue :-)

[2016-02-11 23:10] #3999 closed

[2016-02-12 08:28] zgantar opened #4030 "Tinkerforge binding does not work for IO16 bricklet"
I have a sensor that is connected to a input port on a IO16 bricklet. When I view the state of this port using the brick viewer I can see it changing depending on the sensor output but when looking in the Events.log there are no events for this port. I have switched the IO16 bricklet with a IO4 and everything works. The problem is definitely not in the configuration since I've checked it several t

[2016-02-12 09:36] vsaw opened #4031 "Limit worker thread runtime to prevent system wide deadlocks"
I noticed that in openHAB 1.8.0 the scheduling of Timer based rules are cooperative and not pre-emptive. Meaning that as soon as workers get stuck, all other timer based jobs will never be executed.

Take this simple rule to trigger the error

[code]

This will produce the following log output

[code]

After that no other rule with a `Time` trigger will be executed.

Real world scenarios that coul

[2016-02-12 16:20] #3963 closed

[2016-02-12 21:35] JSurf opened #4035 "CUL network connection does not get restarted on broken connection"
I recently found a new issue with my networked cul. It seems the connection does not get recovered when the networked cul is not reachable. I'm slowly moving services to another raspberry and restart ser2net quite often. Then i get "broken pipe" errors and openhab does not seem to restart/recover the connection after the remote cul is up again.

I only use outgoing calls via culintertechno binding

[2016-02-12 21:36] JSurf commented on #2358
Created a new issue: #4035

[2016-02-13 11:30] lolodomo commented on #3995
Just a word to say that the fix is working perfectly.
This issue should be closed except if it is left opened waiting for the same patch in the OH2 binding.

[2016-02-13 11:48] lolodomo opened #4037 "Classic UI: charts not refreshed with new data"
Using Classic UI with Firefox (I have not tested with other browsers), I can see that my charts are not refreshed with new data.
I am using rrd4j as persistence layer.
To have charts updated with new data, I need to free my browser cache (Ctrl+F5).

[2016-02-13 11:49] lolodomo commented on #4037
PR #3930 could be an hope for this issue...

[2016-02-13 11:55] cdjackson commented on #3997
I’ve currently created the initial device data from your node xml file here -:

http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/280 <http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/280>

It would be good if you can add the configuration parameters… (you need to register if you haven’t already and then I

[2016-02-13 12:57] lolodomo opened #4038 "Netatmo binding in OH2: first values only set after 5 minutes"
When running the netatmo binding in OH2, you have to wait for 5 minutes to get the first values.
In OH1, you get values directly at startup.
##

[2016-02-13 14:14] watou commented on #4038
I believe I've seen something similar with the Ecobee binding under OH2.

[2016-02-13 14:50] lolodomo commented on #4038
5 minutes is the default delay between each refresh. That means that there is something wrong at the first call and then that's OK.

[2016-02-13 17:45] cdjackson commented on #3786
Thanks. Can you also provide the file /etc/zwave/nodeX.xml for this node - I'll try and get it into the database as soon as I get this...

Thanks
Chris

[2016-02-13 18:28] digitaldan opened #4041 "Group Items not working in OH2"
Not sure where to report this? So I'll start here. I'm porting over my OH1 configuration and have found that my Group Switches seem to do nothing under OH2.  So for example:
```Group:Switch:OR(ON, OFF)	Group_Casita```
Shows up, but is not initialized. Turning it on or off has no effect on the switches and dimmers that belong to it.  It also does not ever reflect the state of its children.

[2016-02-13 19:28] Br3nda opened #4042 "posting/importing historical data"
Is there anyway to record values in the past into Openhab?

I use the Rest api to post values. When the sensors lose comms to the openhab server (because I'm tinkering and break things), they still record readings locally - and when things are back online I want them to send the stored readings to openhab - but these readings are from hours or days ago.

Is there way to say "item=x,state=y,timesta

[2016-02-13 19:34] digitaldan commented on #4041
Oops, my fault ;-) not OH!

[2016-02-13 19:34] #4041 closed

[2016-02-13 19:35] cdjackson commented on #4042
No - currently there;s no way to do this… It’s something I also want to look at in ESH at some stage, but for now, it’s not possible through the current interfaces.

[2016-02-13 19:55] Br3nda commented on #4042
Thanks. I'll add a note on the wiki for the next person who looks for this.

[2016-02-13 20:47] #4042 closed

[2016-02-13 21:01] #3864 closed

[2016-02-13 22:30] sveco opened #4043 "Milight binding"
Having trouble with milight binding. Wireshark grab of CORRECT packet (from milight app):
0000   ff ff ff ff ff ff 84 7a 88 56 3b 1f 08 00 45 00  .......z.V;...E.
0010   00 26 00 00 40 00 40 11 b5 ec c0 a8 01 8b c0 a8  .&..@.@.........
0020   01 ff bf 03 bf 03 00 12 33 25 4c 69 6e 6b 5f 57  ........3%Link_W
0030   69 2d 46 69 00 00 00 00 20 20 20 20              i-Fi....

and incorrect from openHa

[2016-02-14 15:14] gstiegl commented on #1599
- Set mode to manual and use custom temperature value (this is currently implemented in the binding)

Hm, I do not finde any description on the binding documentation how to do this. Is this currently implemented?

[2016-02-14 16:33] RemcoteWinkel commented on #2863
I have been creatively busy with the ac. I guested that If I can use openssl to get XML, I can just as well get that into openhab. So here is a temporary failover to read (write I will do next) the airco information. You can use it until @steintore figures the java part out. I have only implemented power status, set temp status and current status but the example speaks for itself. You will also ne

[2016-02-14 16:35] bazooker commented on #2847
Hello Guys, is there any way to get current status of MPD - for example "playing" or "paused"?

[2016-02-14 16:56] hmerk commented on #4043
This sounds not to be a problem with the binding in general.
What type of milight bridge are you using.

[2016-02-14 17:32] ivanfmartinez commented on #3635
Its when the serial port is opened. You configuration for rfxcom:serialPort are pointing to the correct serial port ?

[2016-02-14 19:46] dbadia commented on #3213
Hi Chris -
I registered and activated my account but I don't see the green "Add" button.  I tried logging out and back in a few times.  Am I missing something?.  My user id is dbadia

Thanks
Dave

PS I also noticed in the "Database Guide" that the links to "Device List" are broken  Had to use the menu on the right to reach the device list scree.

[2016-02-14 19:58] cdjackson commented on #3213
Hi Dave,
I’ll take a look at the links - thanks… I’ve now updated your access so you should (hopefully!) be able to edit now…

Cheers
Chris

[2016-02-14 21:07] lolodomo commented on #4038
I enabled the DEBUG logs and looked at the code.
The problem is that the binding is trying to get an access token while the items are not yet loaded. That should not be a problem except that the code is doing nothing if there is not at least an item linked to a weather station or a camera (NetatmoBinding - execute).
Here is the code from method refreshAccessToken:
[code]
And this is the log entry

[2016-02-14 21:17] RemcoteWinkel commented on #2863
The following script can be called with parameters, like

`./setac AC_FUN_TEMPSET 22`

File:setac.exp
[code]

I will supply you with an openHAB implementation soon.

[2016-02-14 21:30] RemcoteWinkel commented on #2863
@brunofosi I purchased a Harmony as well but found out the Samsung AC IR codes are a bit to complicated for it. But we are making progress!

[2016-02-14 21:37] MrMerlino commented on #2863
Hello,
maybe now we should just wait for the new binding.
The structure dialog looks like the same of the old firmware so shouldn't be impossible the adaptation with the new openssl certificate.
I'm really sorry but I don't know how to start for help now. Anyway if you need me i'm available!

[2016-02-14 21:41] RemcoteWinkel commented on #2863
Hi!

Of course we are all waiting for a new binding. Those interested can use my scripts in the meanwhile.

[2016-02-14 21:43] sveco commented on #4043
The webUI says it's version V1.0.04a-JCY-1, so i can only guess it is v4. This is the setting:
![milight](https://cloud.githubusercontent.com/assets/2922684/13036616/3cc18cda-d36c-11e5-8c23-a694438adb90.png)

[2016-02-14 21:57] teichsta commented on #4038
@lolodomo the binding startup order "problem" is known for a long time and won't be solved in the 1.x core anymore. I would propose the decrease the refresh cycle in order to mitigate the problem in 1.x. Anyhow thanks for sharing your thoughts and letting us know about your problems.

[2016-02-14 22:01] lolodomo commented on #4038
Just to be clear, the problem is when using OH2

[2016-02-14 22:01] kaikreuzer commented on #4038
If I understand it right, what @lolodomo is asking for is to modify the binding in a way that it correctly reacts on the OH2 startup order as well, so that it does not miss the first update cycle.

[2016-02-14 22:01] teichsta commented on #4037
seem to be a duplicate of #1584

[2016-02-14 22:11] teichsta commented on #4038
aaaah, didn't get that, sorry! So the question would be about removing the ManagedService implementation and use the latest activate() implementation through DS?

[2016-02-14 23:41] DaAwesomeP commented on #2583
I would be happy to assist. I'm interested too. I'm not a Java guy either, but the entire command generation is just basic logic. The checksum is the only tricky part. Then you just send it over serial.

[2016-02-14 23:46] DaAwesomeP commented on #2583
I have a CLI version that could be used, but that might be a slightly sloppy implementation.

[2016-02-15 00:09] pcragone commented on #1957
I'm not entirely sure if it's directly related, but I'm getting pretty much all of these identical errors.  (I've googled a handful of errors I'm getting and this thread comes up every time).  I am running 1.8.1.

I'm also having issues with a handful of my 6 nodes being marked dead randomly.  I can't seem to figure out why it's happening.  It seems to have started after I decided to reorganize my

[2016-02-15 01:14] pcragone commented on #1957
Restoring all my items to a single file and restarting a few times seemed to fix the problem.... for now, at least.

[2016-02-15 01:15] netsuso commented on #2863
I just wanted to confirm that I've been able to send commands to my new Samsung unit thanks to the hints provided in this thread. Other than the certificate trick, the commands seem the same as in the old units.

(Actually, I just wanted to write a couple of scripts for my own use, but I might end up using openhab if it suits my needs. The only thing that worries me is that maybe it's not the best

[2016-02-15 01:36] dbadia commented on #3213
Chris -
Thanks for the edit access, the add button appeared.
But when I entered the xml for the kiwkset 910, I got the following warning
Device with these IDs is already in the database as Kwikset, 914TRL and endpoints are already defined.

Does this mean kwikset assigned the same device id and device type to both the 910 and 914 models?

Here's the full 910 xml: http://pastebin.com/7UcXTMFX

Dave

[2016-02-15 05:26] ssalonen commented on #3308
Can you repeat with latest release and DEBUG level logs please

[2016-02-15 06:22] TheKorn2 opened #4046 "Embedded NULLs in zwave XML persistence files cause deserialization errors on openHAB startup."
Embedded NULLs in zwave persistence files cause deserialization errors on an openhab restart.

Full details over at https://community.openhab.org/t/zwave-deserialization-errors-with-1-80/7406 , summarized below.  (Go there for full examples, which I can't seem to figure out how to copy/paste here without the formatting mangling to heck and back.)

Observed with openhab 1.80.

Only seems to happen

[2016-02-15 07:12] 9037568 commented on #4046
Depends on the version of XML being used. I believe nulls are supported in
1.1, but not in 1.0.

Seems to me a better solution would be to eliminate the nulls from the
source.

This email has been sent from a virus-free computer protected by Avast.
www.avast.com <https://www.avast.com/sig-email>
<#DDB4FAA8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Mon, Feb 15, 2016 at 1:22 AM, TheKorn2 <notifications@githu

[2016-02-15 08:06] thomas70 commented on #2863
Can someone explain how to get from AC14K_M-KeyStore.bks to ack14k_m.pfx ?

[2016-02-15 10:07] hmerk commented on #4043
Can you send a picture of the bridge.

[2016-02-15 10:18] clinique commented on #3995
OH2 binding modified accordingly

[2016-02-15 12:34] BClark09 commented on #3985
Hi @teichsta thanks for looking into it, any progress on this?

Would you recommend going back to 1.8.0 in the mean-time?

[2016-02-15 16:16] vincedh opened #4050 "Add device to DB"
Hi everyone,
Could you please add the device 'BeNext heating control' to the zwave-binding? A XML-file is attached.
[HeatingControl.zip](https://github.com/openhab/openhab/files/131074/HeatingControl.zip)
Thanks!
Vince

[2016-02-15 17:15] cdjackson commented on #4050
Hi,
The file is from OZW so isn’t really of use - sorry.

You can use the online database editor to add the data to the database if you like -:
http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-database-guide <http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-database-guide>

Chris

[2016-02-15 18:19] teichsta commented on #3985
yes and no … i decided to revert the slider change for 1.8 for various reasons (see PR).

[2016-02-15 18:28] leiweke commented on #3772
Same here with 1.8.1 .

my.openhab.org works fine

[2016-02-15 19:32] spacemanspiff2007 commented on #3772
same here

[2016-02-15 20:19] sveco commented on #4043
Sure, added it to original post.

[2016-02-15 21:11] steintore commented on #2863
Good news! Today I've done some testing together with @RemcoteWinkel and we have found a solution to the problem. I'll try to assemble a test-version of the binding over the next couple of days.
I'll let you know how the status sometime tomorrow.

Luckily there are not many changes to the binding and the communcation, as it seems to work precisely as before.

@luca-saggese Where did you find the a

[2016-02-15 21:14] shaitand opened #4052 "ZWave binding issues"
I'm using the latest openhub from github and the latest openhab admin.

I have a Z wave gen 5 stick with raspbian, it is currently sitting in direct line of sight about 6ft from a light control module. Per the z wave information this appears to have paired correctly (slow blue blink, followed by many rapid blinks when I pressed the pair button light control module.

I'd love to blame my config but

[2016-02-15 21:20] cdjackson commented on #4052
It looks like the device isn’t responding - hard to say why without a debug log (and I suspect even then it might not be possible to tell, but there will be more information at least).

I would suggest asking this sort of question on the forum rather than raising a bug report (unless there’s a bug of course :) )…

[2016-02-15 21:27] MrMerlino commented on #2863
I think is the best way....
pfx file should be created with keytool function from the bks file stored on the apk app.
but i didn't understand how to convert....

[2016-02-15 21:44] luca-saggese commented on #2863
I've found it online, cannot rember where, i found it several weeks ago but was'nt able to use it until last week

[2016-02-15 21:45] tarioch commented on #3910
@Gugiman did the link work and did you have time to test?

[2016-02-15 22:20] RemcoteWinkel commented on #2863
Well, it must be contained in the .apk or derived from it as my phone is able to connect with the "in home" function.

[2016-02-15 22:27] netsuso commented on #2863
These are the complete steps I took yesterday, in case anyone wants to reproduce them it should be fairly easy:

- I used Apktool (https://ibotpeaches.github.io/Apktool/) to disassemble the Smart Air apk (java -jar apktool_2.0.3.jar d com.samsung.rac-1.2.78.apk). I suppose any other disassembling tool for Android would work.

- From the extracted directory I took the file assets/AC14K_M_KeyStore.b

[2016-02-15 22:33] theoweiss commented on #4030
@zgantar Thanks for reporting this. I'll check this issue, but it will need some time because I'm quite busy these days.

[2016-02-15 22:37] netsuso commented on #2863
And for those not wanting to go through the full extract process (which is a bit tedious), I think it won't harm placing here a link to the certificate in base64 format: http://pastebin.com/MKTbFnK5

Just run "base64 -d < pasted.txt > cert.pem" and you are done ;)

[2016-02-15 22:54] BClark09 commented on #3985
Ah that's helpful, thanks for the information, and the work that you do.

[2016-02-15 23:42] robnielsen commented on #4038
According to the second comment, above,  this isn't specific to the Netatmo binding.

[2016-02-16 04:50] zgantar commented on #4030
Hello Theo,
No problem, it seems I have made myself some extra time http://www.tinkerunity.org/forum/index.php?topic=3544.msg21501#msg21501.

Best regards,
Žiga

[2016-02-16 07:26] kaikreuzer commented on #4038
It only means that the problem is not only in the Netatmo binding. Nonetheless, the problem is most likely within the code of the Netatmo binding and needs to be fixed there.
I assume that the problem is related to things like https://community.openhab.org/t/solved-oh2-bindingchanged-allbindingschanged-not-called-after-items-loading/7126.
The binding needs to react on the bindingChanged() calls an

[2016-02-16 10:28] pehon commented on #3591
I can confirm that, working great!

[2016-02-16 13:57] robnielsen commented on #4038
Doesn't bindingChanged() get called for each item? For example, if 10 Netatmo items are added, this will get called 10 times. How will the binding know when there are no more new or deleted items? This is crucial since the query strings to the Netatmo api servers are built from the items configured.

[2016-02-16 14:03] kaikreuzer commented on #4038
It cannot, because new items can be created and removed (and bound to the binding) at any time during the uptime of the runtime.

If you can only do "bulk updates", it is probably best to simply schedule this in a job (to be run in e.g. 5 seconds), which could be rescheduled whenever bindingChanged() is called again.

[2016-02-16 14:43] robnielsen commented on #4038
I looked at some other bindings and https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.netatmo/src/main/java/org/openhab/binding/netatmo/internal/NetatmoBinding.java doesn't override the methods:

     /**
     * {@inheritDoc}
     */
    @Override
    public void bindingChanged(BindingProvider provider, String itemName) {

        super.bindingChanged(provider, ite

[2016-02-16 14:45] kaikreuzer commented on #4038
Sounds like it, yes!

[2016-02-16 14:48] robnielsen commented on #4038
Cool, I'll try and get a fix in place tonight (US Central).

[2016-02-16 17:30] Gugiman commented on #3910
I've tried but got another error.

The configuration in openhab.cfg is like you mentioned.

These are my /dev permissions after manually chmod and chown:
`ls -alh /dev/ttyUSB0`
`crwxrwxrwt 1 openhab openhab 188, 0 Feb 16 18:15 /dev/ttyUSB0
`

When I run
`screen /dev/ttyUSB0 38400`

I can switch my device from ON and OFF by typing:

`is00000FFF0FFF`

But after starting openhab this error appears:

[2016-02-16 18:38] querdenker2k opened #4055 "calDAV Binding not working under 2.0.0"
Under an earlier version of openhab 2.0.0 it has worked. But now it does not.
I would like to fix it but don't know how. The methods exists, but OSGI says it they does not exist.
Why?
[code]

[2016-02-16 18:52] tarioch commented on #3910
Hm, that's strange. Can you make sure there is no additional character after serial:/dev/ttyUSB0
I think right now there's no trimming of empty (space) characters. Also would you mind setting the log level for this to debug by adding
``
<logger name="org.openhab.binding.intertechno" level="DEBUG"/>
<logger name="org.openhab.io.transport.cul" level="DEBUG"/>
``
to your logback.xml

[2016-02-16 19:14] Gugiman commented on #3910
There are no additional characters...

But the after inserting the additional loggers I got the following:

[2016-02-16 19:47] tarioch commented on #3910
Can you try to add
-Dgnu.io.rxtx.SerialPorts=/dev/ttyUSB0 to the startup of openhab

[2016-02-16 20:15] Gugiman commented on #3910
Forgot to mention.

In /etc/init.d/openhab
I already added
-Djava.library.path=/usr/lib/jni \
-Dgnu.io.rxtx.SerialPorts=/dev/USB0 \

Sure it's the bindings fault? Maybe it's in my (arduino-compatible) Board...

I'm using the a-culfw firmware (https://github.com/heliflieger/a-culfw)

Maybe the Problem is somewhere else...?

[2016-02-16 20:20] XeptionE opened #4056 "No long-polling on items?"
I'm not sure, if this is a bug, but I assume it to be one. I can use atmosphere long-polling for sitemap elements, but if I use it for items, the long-polling request is answered immediately. This way I can't listen for item changes and always need a sitemap. Hope you understand my problem ;)

[2016-02-16 20:23] RemcoteWinkel commented on #2863
A small update. I am beta testing a new binding from @steintore. Looks very promising, some minor issues left.

[2016-02-16 20:35] tarioch commented on #3910
I'm using the same firmware with my homebuilt nanocul and it works fine. I don't specify any arguments for openhab, maybe you ca try removing it as well.

[2016-02-16 20:49] tarioch commented on #3910
Try leaving away both the library path and the serial port define.

[2016-02-16 21:42] DaAwesomeP commented on #2583
@teichsta I'm really interested in making this work. I'm sure that I can just model it off of another driver.

Here's how to protocol works (basically):

1. Commands are sent and received via serial (either USB or DB9 cable) to the computer.
2. Commands are hex with a checksum at the end. Commands can be sent multiple times and have a part that says 1 of 3, 2 of 3, etc.
3. Every device in the UPB

[2016-02-16 21:51] MrMerlino commented on #2863
If u need i can test too!

[2016-02-16 21:58] theoweiss commented on #4030
That's bad :-(( . But the Tinkerforge guys are very helpful as always.

[2016-02-17 00:20] robnielsen commented on #4038
@kaikreuzer, Since the binding can get notified via the method `bindingChanged(BindingProvider provider, String itemName)`, how can the binding to call the `execute()` method without waiting for the poll to occur that could happen in 0 to `getRefreshInterval()` seconds?

[2016-02-17 00:48] watou commented on #4038
You could use an approach like the http, ecobee, garadget and other bindings do, to use a short refresh `granularity`, say 2-5 seconds, that calls your `execute()` method, but only runs code when a `long pollTime` instance variable has expired, and you move into the future by `refresh` ms.  When the bindings change, just set the next poll to have already expired.  Search for "poll" [here](https://

[2016-02-17 04:47] TheKorn2 opened #4058 "NULLs in zwave data cause message length errors"
When a GE/Jasco device sends a data packet that includes NULLs, message length appears to not be incremented for the NULL, leading to valid data being discarded.

[code]

[code]

[2016-02-17 04:47] TheKorn2 commented on #4058
I should mention that I'm interpreting ^@ (in reverse text) to be an embedded null; not sure how to verify.

[2016-02-17 05:01] TheKorn2 commented on #4058
Parsing through debug logs, this is my best guess at relevant data around where this type of message is generated.

2016-02-16 21:53:34.606 [DEBUG] [eController$ZWaveReceiveThread:1481]- Receive Message = 01 09 00 04 00 23 03 77 06 00 A3
2016-02-16 21:53:34.609 [DEBUG] [eController$ZWaveReceiveThread:1405]- Receive queue ADD: Length=1
2016-02-16 21:53:34.609 [DEBUG] [b.z.i.protocol.ZWaveController

[2016-02-17 05:22] 9037568 commented on #4058
To see the actual byte values, you could view the log file in a hex-capable
editor.

This email has been sent from a virus-free computer protected by Avast.
www.avast.com <https://www.avast.com/sig-email>
<#DDB4FAA8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

[2016-02-17 06:40] steintore commented on #2863
Here's a test-version of the new binding, there are a couple of things to notice:

There are two new optional configuration parameter, these are certificate and password, use them as this:

If you use the .pem-file described in this thread you do not need to set the password, it is just there in case we need it later (when they change the certificate again)

The certificate-parameter is the full p

[2016-02-17 06:48] TheKorn2 commented on #4058
Confirmed with hex editor -- ^@ is a text representation of NULL.  (0x00)

[2016-02-17 12:47] DaanDW commented on #1874
It's not realy a delay, it's the dimming speed of the module. The minimum value is 1 second. It means that when i put mu light off with a single press on a Nikobus button, the module needs 1 second to change it's value to zero (0V). When polling the outputs to soon you don't have reach 0V yet and you get a wrong value.

I still have to try sollution 2.

[2016-02-17 12:57] dvanherbergen commented on #1874
I think you missed my point. Why not reprogram your nikobus dimmer module so that it uses the M1, M2 or M3 actions. Those don't have a dimming speed, they react immediately. For more information on how to do this, you can check the user manual of the dimming module.

[2016-02-17 13:05] cdjackson commented on #4058
I think this is likely the same root cause as #4046

[2016-02-17 13:22] cdjackson commented on #4058
Can you please provide a log showing a received frame that has data - the log that you provided above is probably for an item that doesn't have the location string set.

[2016-02-17 13:44] MrMerlino commented on #2863
For me doesn't works
i'm using openhab version 1.7.1 under windows.

This is my openhab configuration file:

samsungac:Livingroom.host=10.1.1.246
samsungac:Livingroom.mac=EDITED
samsungac:Livingroom.token=d76b7f82-3d31-4635-89a6-2b0ad192866d
samsungac:Livingroom.certificate=C:\Users\Administrator\Desktop\openhab\addons\cert.pem
#samsungac:Livingroom.password=

Items file:
Number ac_current_temp "C

[2016-02-17 13:46] MrMerlino commented on #2863
I try also with a clean installation of the last version 1.8.1 with only samsung binding
i try also with pfx file

[2016-02-17 14:02] TheKorn2 commented on #4058
Oops.  :D  Well here's a full debug log to make up for it.  I have 4 GE/Jasco devices (...which is funny because a day or two before I started pouring through my debug logs I would have sworn it was only three!) and they're captured in all their trace glory here.  GE/Jasco nodes are 35, 52, 106, and 107 for easy greppin'.

http://www.thekorn.net/temp/zwave-smartswitch-separate_zwave_log.zip

(I wa

[2016-02-17 14:19] dannyboyw commented on #3536
Thank you for your insight!  I am running OH 1.8 now as well.  No dice on changing mochad to remote host.  I did independent testing at all points (mochad working on remote host, OH host sends/receives CLI commands to/from mochad remote host, etc...) prior to testing in OH.

Can rfxcom receive X10 commands?  I also have an old [W800RF32A](http://www.wgldesigns.com/w800.html) and [FireCracker CM17A

[2016-02-17 14:23] cdjackson commented on #4058
Thanks - and no problem about creating a separate issue. I agree it's better that way than to assume it's related...

I've created a fix - I can't test it so I'll merge shortly and please can you test tomorrow (or tonight - depending on your timezone) after the next snapshot build on Cloudbees...

[2016-02-17 14:42] steintore commented on #2863
@MrMerlino This line is strange:

Why does it say "camera.certificate" in the log. Something wrong in the configuration file?

[2016-02-17 14:48] MrMerlino commented on #2863
Yes...i try also adding "..."
Like this:
samsungac:Livingroom.certificate="C:\Users\Administrator\Desktop\openhab\addons\cert.pem"
But is the same....don't know how to fix!

[2016-02-17 14:53] steintore commented on #2863
If the cert.pem-file is in the same folder as the addon, you could try to write:
samsungac:Livingroom.certificate=cert.pem

are you not getting anything else in the logs? Should print for the other configurations as well..

[2016-02-17 14:57] MrMerlino commented on #2863
This is my configuration;
i try also with cert.pem without path!

samsungac:Livingroom.host=10.1.1.246
samsungac:Livingroom.mac=EDITED (right macaddress in configuration, with openssl works correctly)
samsungac:Livingroom.token=d76b7f82-3d31-4635-89a6-2b0ad192866d
samsungac:Livingroom.certificate=cert.pem
#samsungac:Livingroom.password=

[2016-02-17 14:57] federic0 commented on #3536
Hi,
rfxcom will receive X10 commands as long as they are radio (rf) commands and no power line (pl). I have no knowledge on the other equipment you have.
Cheers

[2016-02-17 15:02] steintore commented on #2863
Ok, try running in debug-mode to se if there's some more details in the log.
Another thing you can try is to adjust logging of the binding
`<logger name="org.openhab.binding.samsungac" level="DEBUG" />`

[2016-02-17 15:14] MrMerlino commented on #2863
I'm so sorry because probably i'm making a big error but i didn't understand where....
I'm already trying to debugging and yet added the log file (logback_debug.xml)

[2016-02-17 15:33] TheKorn2 commented on #4058
Sure, I'd be happy to.  Gotta figure out how to pull off of cloudbees, though...  got a handy link before I waste time stabbing at the water?

[2016-02-17 15:42] cdjackson commented on #4058
Sure -:

https://openhab.ci.cloudbees.com/ <https://openhab.ci.cloudbees.com/>

Select Openhab-1 addons…

There seem to be some build errors at the moment with one of the other bindings, so unless this is resolved today, it might not build tonight...

[2016-02-17 17:50] MrMerlino commented on #2863
@RemcoteWinkel
Can u post your configuration and debug output pls?
I try also redownloadwing jar and also in another computer :(

[2016-02-17 19:25] RemcoteWinkel commented on #2863
Sure @MrMerlino, glad to help.

**Configuration**:

[code]
(Note: Linux use "/" in the path, Windows "\")
Use start_debug.bat to get extra debug information in the log.

**Log (relevant parts)**
[code]

[2016-02-17 19:32] MrMerlino commented on #2863
Stop working here probably:
DEBUG o.o.b.s.i.SamsungAcBinding[:208]- Configuration key is: Remco.certificate
Could be a Windows problem?

[2016-02-17 19:34] RemcoteWinkel commented on #2863
Let me dust off my Windows machine and try,

[2016-02-17 19:41] MrMerlino commented on #2863
I'm so sorry for that but i really don't know what doesn't works!
Thanks again to all!

[2016-02-17 19:54] RemcoteWinkel commented on #2863
Got an error too on my Windows machine. @steintore what can you make of it?

[code]

[2016-02-17 19:57] MrMerlino commented on #2863
What's your logback_debug.xml configuration?
i add this:
<logger name="org.openhab.binding.samsungac" level="DEBUG" />
but i don't have this debug info!

[2016-02-17 20:01] RemcoteWinkel commented on #2863
<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}[:%line] - %msg%n%ex{10}</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${openhab.logdir:-logs}/openhab.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}[

[2016-02-17 20:20] MrMerlino commented on #2863
Really don't understand why you have a different debug log.....
Bah!

[2016-02-17 20:20] thomas70 commented on #2863
@RemcoteWinkel

I have the same problem on a RPI

21:15:32.785 [DEBUG] [.b.s.internal.SamsungAcBinding:294  ] - java.lang.Exception: Could not connect using certificate: /etc/openhab/configurations/cert.pem : javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid cer

[2016-02-17 20:31] RemcoteWinkel commented on #2863
@MrMerlino I start openHAB from a terminal (click on windows, then run, then type cmd, then enter, then cd \Users\Administrator\Desktop\openhab then enter) with the command start_debug. (Writing it down in full, but maybe you already know all this).

@thomas70 Thanks, I think we can nail it down to a certificate path issue. Did you add the ROOTCA certificate to your ca-certs? If not, I will have t

[2016-02-17 21:57] RemcoteWinkel commented on #2863
Good news, @steintore and me me confirmed this is the issue. A little patience now so we can work out a way to solve this issue. The more impatient amongst us can take a look at https://github.com/escline/InstallCert Performing this procedure with the first certificate from the chain produced by the ac will do the magic.

[2016-02-18 01:58] solucionesmipc opened #4064 "Please add tkb tz08 to zwave database"
Hi:

please add this rollershutter device to zwave database.

these are the technical details

https://doc.eedomus.com/files/Manual%20-%20TZ08%20manual%20-%2007-10-2013.pdf

thanks a lot

[2016-02-18 02:26] dbadia commented on #3213
Oops, I accidentally uploaded one of the Yale door lock docs (Yale-PB-DB-Instructions.pdf) to the Kwikset entry at
http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/283#

Hopefully you can remove it from your side.
Sorry about that, I'm sure you have enough to do already :)

Dave

[2016-02-18 07:22] TheKorn2 commented on #4058
Thanks!

Grabbed the 2016-02-18 zwave jar and gave it a whirl.  Seems as though your patch has fixed both this issue and #4046.  No more complaining about node name message lengths, and no more deserialization errors on startup.

Here's a new debug log, if you'd like to see for yourself.  This was taken after I started / shutdown openhab a few times to let old deserialization XMLs get overwritten.

[2016-02-18 07:25] TheKorn2 commented on #4058
One last question -- should I revert to the official 1.8.1 jar file until 1.8.2 / 1.9.0 is released?  Or should I keep this one and file bugs?  (I'm thinking revert until there's an official next release just to not have too many variables.)

[2016-02-18 07:34] thomas70 commented on #2863
Thank you @RemcoteWinkel and @steintore :-)

08:28:02.841 [DEBUG] [.b.s.internal.SamsungAcBinding:289  ] - Connection to Samsung AC: [192.168.1.174:2878, MAC: BC8CCDXXXXXX, TOKEN: 3dbe5510-e09f-4ab9-bc28-9685fc7396ff] has succeeded

[2016-02-18 07:49] steintore commented on #2863
Great @thomas70 . Could you please post a step-by-step list to get this fixed? I'd like to post it on the wiki-page for the binding.

[2016-02-18 09:10] cdjackson commented on #4058
That’s great - thanks.

I would stick with the current snapshot. There won’t be in incompatibility issues or such thing by doing this and it might be a while before 1.8.2 is released (I’m not sure of the schedule).

So, if you’re happy I’ll close both these two issues?

Cheers
Chris

[2016-02-18 09:15] cdjackson commented on #4064
We will require more information. We need to know the type/id that HABmin provides (or from the log when it prints the 'no entry in database' message).  If there is an XML file being produced in the /etc/zwave folder for this node, then please provide it.

Ideally I would recommend that you add the device yourself into the online database here -:
http://www.cd-jackson.com/index.php/zwave/zwave-dev

[2016-02-18 09:18] cdjackson commented on #3213
Thanks Dave. No problem...

It looks like Yale now have a lock that might fit my door - last time I looked at this (12 months back - or more) there wasn't anything available... If so I might get one :)

[2016-02-18 09:19] #3591 closed

[2016-02-18 09:21] cdjackson commented on #3288
Sorry - I didn't see the question there for me... No - I don't have any experience with running this in a VM - sorry.

I suggest to close this and continue the discussion if necessary on the forum.

[2016-02-18 09:21] #3288 closed

[2016-02-18 09:23] #2652 closed

[2016-02-18 09:26] cdjackson commented on #2727
Feedback not received for many months, and device is added. Closing.

[2016-02-18 09:27] #2745 closed

[2016-02-18 09:49] cdjackson commented on #3213
Dave - I’ve deleted the file…

I note that this device has ‘sub-parameters’ specified (i.e. using the bit mask to select individual parts of a parameter). I guess you added this?  Firstly, it’s not had a lot of testing, so any feedback is welcome (I guess you’re not using OH2 at the moment though and this is only in OH2). Secondly (and the main reason for this mail) I suspect they are incorrectly

[2016-02-18 10:07] cdjackson commented on #2727
Can someone with this device please either upload the XML file generated by the zwave binding here (http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/188) or paste it here so it can be added - this way we can also get this device added to the OH2 database...

[2016-02-18 10:07] #2727 closed

[2016-02-18 10:49] thomas70 commented on #2863
Her is what i did:

10:24:01.703 [DEBUG] [.b.s.internal.SamsungAcBinding:294  ] - java.lang.Exception: Could not connect using certificate: /etc/openhab/configurations/cert.pem : javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested t

[2016-02-18 14:03] TheKorn2 commented on #4058
Sure, I think you earned it!  :D

[2016-02-18 14:18] #4058 closed

[2016-02-18 14:19] TheKorn2 commented on #4046
Fixed via #4060 pull.

[2016-02-18 14:19] #4046 closed

[2016-02-18 17:27] solucionesmipc commented on #4064
Hi:

i attach the generated xml for that device.

[node14.txt](https://github.com/openhab/openhab/files/136620/node14.txt)

i would like to add the devices by myself but my habmin version has not features i see in the tutorial link you provided.

thanks again

[2016-02-18 17:29] cdjackson commented on #4064
Ok - thanks. I’m not sure what you mean about the HABmin version though - the database is independent of HABmin. The link is to the online editor that allows people to edit the database, and we can then export this into the binding…

Anyway, I’ll take a look at this over the next few days…

[2016-02-18 17:38] cdjackson commented on #4064
For reference http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/293

[2016-02-18 18:01] Gugiman commented on #3910
Unfortunately nothing changed... Got the "Invalid Parameter" Error again.

Am I thinking the right when `screen` is able to send the right code it must be openhabs fault?

[2016-02-18 19:22] tarioch commented on #3910
Yes, looks that way. Now let's try to narrow this down (as it works fine for me).

Which version of java are you using? Is it openjdk or sun/oracle? What's the platform you're trying to run this? Normal pc or raspberry or something like that?

My (working) setup is currently like this:
-Ubuntu on an amd64 architecture
-Sun/Oracle Java 1.8
-Openhab 1.8.1 installed from repository (except cul and in

[2016-02-18 22:26] reyem opened #4070 "New Device: Support for NODON Wall Switch CWS-3-1-0x"
Hi,
Any chance to support following zwave wall switch ?
http://www.pepper1.net/zwavedb/device/771

Currently it is not recognized (using openhabe with zwave binding in version 1.8.1 )
The following the log message appears.
No database entry: Nodon [ID:3,Type:2]

Thank you and regards
Marco
[node14.xml.zip](https://github.com/openhab/openhab/files/137057/node14.xml.zip)

[2016-02-18 22:34] cdjackson commented on #4070
The CWS3100 is in the database - I think you just have one with a different ID (maybe a regional issue).  I’ll sort this in the next day or two...

[2016-02-18 22:44] dbadia commented on #3213
Hey Chris -
Thanks for removing the file.  So the kwikset data with the sub-parameters (914TRL) was uploaded by someone else, not me.  I was trying to upload the kwikset 910 file when I got the message "Device with these IDs is already in the database as Kwikset, 914TRL and endpoints are already defined."  I'm guessing that means kwikset is sharing device IDs between locks.  Maybe we should rename

[2016-02-19 07:48] reyem commented on #4070
Perfect, thank you! Let me know if you need any additional infos.

[2016-02-19 11:50] DaanDW commented on #1874
All my dimmerchannels are programmed in M1 actions. When performing a short press in this M1 mode you can put your light on or off. This on or off actions uses the dimspeed time that is set in the T2 column. This value of T2 is minimum 1 seconde. You can check this in the manual and at the settings of your dimcontroller in the Nikobus software.

[2016-02-19 15:56] cdjackson commented on #3213
Hi Dave,

This is probably a good idea… I’ll have a look at this.

Spot on. At some stage, I would like to try and export from the database directly into OH1 and OH2 but for now, the manual approach is the only way

Thanks - I’ll take a look. The parser is a bit messy - it’s something that I hacked together and it’s grown in a not so nice way… Currently it’s not on Git, but I’ll take a look at the

[2016-02-19 17:37] Gugiman commented on #3910
Alright here are my specs (as much as I think to be relevant):

`java -showversion`

shows:

I'm using openhab 1.8.1 from Repository on a Raspberry rev1 B with Raspbian Wheezy and Kernel 4.1.13+ #826

Installed bindings are intertechno and CUL (from your Test Release) and serial binding from repo.
The openhab.cfg is untouched except of this at the end:

The /etc/init.d/openhab script is now free o

[2016-02-19 18:01] Gugiman commented on #3910
UPDATE:

I installed openhab on my Linux Mint Desktop Laptop and everything works like a charm!
No errors or anything else. Just installed Runtime and Bindings.

So there is an error on Openhab on Raspberry (Core or bindings idk)

[2016-02-19 18:23] tarioch commented on #3910
Can you check if on your raspy librxtx-java is NOT installed? I think that could make problems.

[2016-02-19 18:29] Gugiman commented on #3910
It's definitly installed. APT sais so.

Interesting: On my Desktop librxtx-java is NOT installed and it works...

[2016-02-19 18:30] tarioch commented on #3910
Yes, that's what I am hoping. Please uninstall it and try again.

[2016-02-19 18:55] Gugiman commented on #3910
Unfortunately no change on raspberry...

[2016-02-19 19:06] teichsta commented on #4055
could you please enhance the caldavbinding.xml like

```<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" activate="activate" deactivate="deactivate" immediate="true" name="org.openhab.binding.enphaseenergy.binding">```

(add activate, deactivate and immediate) and see if that helps?

[2016-02-19 19:09] teichsta commented on #4052
me too … please feel free to reopen this issue once you've encountered a bug

[2016-02-19 19:09] #4052 closed

[2016-02-19 19:10] teichsta commented on #4043
any advice how to proceed with this issue @hmerk?

[2016-02-19 19:15] teichsta commented on #4035
thanks for sharing this @JSurf. Any chance to create a PR with the according fix?

[2016-02-19 19:21] teichsta commented on #4031
Thanks a lot for sharing this issue and the detailed analysis @vsaw. However, you probably know that 1.8 has been the last release of the 1.x core which the rule engine belongs to. The next release (1.9) will use the ESH core. Hence i doubt it is worth spending time getting this very core changes done in 1.8..

[2016-02-19 19:21] #4031 closed

[2016-02-19 19:22] teichsta commented on #2339
Thanks a lot for sharing this issue and the detailed analysis @gduprey. However, you probably know that 1.8 has been the last release of the 1.x core which the rule engine belongs to. The next release (1.9) will use the ESH core. Hence i doubt it is worth spending time getting this very core changes done in 1.8..

[2016-02-19 19:22] #2339 closed

[2016-02-19 19:26] teichsta commented on #4026
@lolodomo @clinique can you probably help here?

[2016-02-19 19:44] kaikreuzer commented on #4055
Why should this help? The messages are very clear on which methods are the ones that have problems: the proper methods with the expected signature do not exist. There is e.g. only a `CalDavBinding.unsetCalDavLoader()` instead of a `CalDavBinding.unsetCalDavLoader(CalDavLoader calDavLoader)`.

[2016-02-19 19:47] hmerk commented on #4043
To be honest, I don't have a clue.
According to the api, the port settings are correct.
It even surprises me that the bridge seems to ignore it's own settings as seen in the screenshot.
@sveco could you send the log where openhab reports the packets as malformed SKYPE packets.

[2016-02-19 19:58] teichsta commented on #4025
since 1.8 was the last release on top of the 1.x core i doubt downporting this is worth the effort. You could give it a try … especially the jetty configuration will be real fun :-)

[2016-02-19 20:13] querdenker2k commented on #4055
@kaikreuzer Yes you're right. But should this method exist? For openHAB 1 this method wasn't necessary. I changed to 'CalDavBinding.unsetCalDavLoader(CalDavLoader calDavLoader)' but it does not work.
But the other methods e. g. 'bind method [addBindingProvider] not found' is not implemented in the class, but it never was. It's in the super class i think.

Further on the openHAB runtime target does

[2016-02-19 20:14] teichsta commented on #4055
not to me, sorry! Where did you read this from?

[2016-02-19 20:18] teichsta commented on #4055
What i did on my machine is:
* checking out `openhab/openhab` into a second location
* git checkout 1.8
* use your "old" 1.8 workspace with this branch

[2016-02-19 20:45] querdenker2k commented on #4055
@teichsta Ok thanks i will try this as well.

I tried overriding the 'addBindingProvider' as well but the error is the same. I tried as well adding the values inside the *.xml file but the error does not disapear.

[2016-02-19 20:45] remydavid commented on #1680
Ok I am a java developer and I have a zipato keypad device, if somebody can explain me the steps to add support for USER_CODE and ALARM_V2 in the binding I can give it a shot.

[2016-02-19 20:46] querdenker2k commented on #4055
Is it ok if i made a PR for some other fixes and later one more PR for fixing (if somebody tells me how) the compatibility with OH2?

[2016-02-19 21:08] grubsol commented on #2524
Same issue on my side running Ubuntu 14.04. Seems to be sporadic (~5 Times per month)
Rule:
[code]

[2016-02-19 21:13] kaikreuzer commented on #4055
Well, from `unbind method [unsetCalDavLoader] not found`

I might have found a reason: @watou [had fixed all these add/remove methods](https://github.com/openhab/openhab/pull/3948) in a huge effort (thanks again!), with it also the [caldav bindings](https://github.com/watou/openhab/commit/329e6897cf2608c5543ecba378c6be6a31e3edda).
So you are right, these methods are there. And if I am testing the

[2016-02-19 21:15] kaikreuzer commented on #4055
This is not completely right, I am (as expected) still seeing:
[code]

[2016-02-19 21:22] kaikreuzer commented on #4055
Should be gone with #4071.

[2016-02-19 21:46] querdenker2k commented on #4055
Yes they are older. It were my local snapshots. Thanks for fixing. I will wait for the merge and afterwards creating my PR for my bugfixes...

[2016-02-20 00:46] chrisknkc commented on #3772
Same here.

[2016-02-20 01:01] lolodomo commented on #4026
If there is a problem with firmware 3.3, I will upgrade only when I am sure to have the time to debug and fix the problem. I don't want to loose my current automations.
But !maybe this weekend...

[2016-02-20 07:44] Mickaelh51 commented on #4026
Hi @lolodomo can I help you ? I use Openhab 1.8.0 but your jar file will work fine with this version.

[2016-02-20 07:51] javamatte commented on #1714
Workaround worked for me, too. Simply ridiculous that this hasn't been noted in the documentation.

[2016-02-20 08:39] 9037568 commented on #3282
I don't have any KNX devices, so I can't verify if the above patch works in a real environment, but it eliminates the index out of bounds exception which causes the "BindingConfigParseException: No more than 1 datapoint definitions are allowed for this item." error to be thrown.

[2016-02-20 08:40] Gugiman commented on #3910
Next step is to reinstall raspbian os and try exactly the same as on my laptop.

[2016-02-20 09:01] #4055 closed

[2016-02-20 09:51] lolodomo commented on #4026
@Mickaelh51 : I am lost. I first understood that the binding was no more working after you upgraded the firmware of your freebox to version 3.3 ?
Can you be clear what version of the binding is not working (1.x or 2.0) and what versiion of openHAB are you running ?
I don't understand what you mean by "your jar file" ? You mean the jar file packaged in the released add-ons ZIP file ?

[2016-02-20 10:02] lolodomo commented on #4026
@Mickaelh51 : so what is working and what is not working ?
What version of openHAB are you running ?
What version of the binding are you running ?
I first understood that all was OK for you but then after upgrading to firmware to 3.3, nothing is then working ? Is this your problem ?

[2016-02-20 10:23] Mickaelh51 commented on #4026
Hi,
I'm not sure for binding version.
I'm using Openhab 1.8.

And after freebox firmware upgrade (automatic upgrade) the binding didn't
work.
On Feb 20, 2016 11:03 AM, "lolodomo" <notifications@github.com> wrote:

[2016-02-20 10:27] lolodomo commented on #4026
Firmware upgradr in progess...
I come back later.

[2016-02-20 10:31] Mickaelh51 commented on #4026
Thanks a lot
Have a good weekend

[2016-02-20 10:39] Gugiman commented on #3910
Ok so I installed fresh Raspbian Jessie on Rpi

Installed Java
`sudo apt-get install oracle-java8-jdk`

Add openhab to dialout group and installed your two bindings with the openhab.cfg changes.

Still got the "Invalid Parameter" error

[2016-02-20 10:51] MrMerlino commented on #2863
Update?
thanks :)

[2016-02-20 10:56] querdenker2k opened #4074 "calDAV Binding not loading Events under OH2"
I have just installed the caldav-personal and caldav-command via OH2 and the config files were created automatically. I configured it correctly (as in OH1) but no events were loaded.

[code]

The bundles are started and active as well

[code]

Normally the binding should load events from the calendar and cache them under etc/caldav but nothing happens.

P. S. I used the current by Kai fixed SNAPSH

[2016-02-20 11:05] RemcoteWinkel commented on #2863
You will have to put the ac server certificate in your java truststore as described. When I did it worked under Windows. 

What is remaining is a step by step guide for new users. Now many posts to read. But the answer is in this thread. A brief overview:

- Let Java trust your ac but ectracting the ROOTCA certificate and add it to your cacerts truststore.
- Extract the private key from the apk an

[2016-02-20 11:19] MrMerlino commented on #2863
Ok no problem :)
i'm sorry but i understood that worked only under linux!
If i'm able to make it working i try to write a wiki!
Again, thanks to all!!!

[2016-02-20 11:20] lolodomo commented on #4026
Upgrade done. Then I rebooted my RPI running opehnHAB.
The binding is working well.except one thing that is now unfortunately broken: the control of the FTP access.
As mentioned in the release note, Free added a secured remote access to the FTP server. What I can see is that they added a new API field named "remote_domain" and believe me this new field is even not yet documented !
There is no bug

[2016-02-20 11:23] AlejandroGuirao commented on #3896
There are basically two problems with this binding:

1.  The included JNA jar is outdated and does not include the native .so libraries. Depending on the installed version of these native libraries the java part blocks trying to allocate a structure (end therefore there ). The solution is to build the gpio binding with an actual JNA jar which includes the needed native libraries so there is no ver

[2016-02-20 11:23] watou commented on #4074
I suspect you are the first to discover a problem trying to exercise it on OH2.  I've submitted a [PR](https://github.com/openhab/openhab-distro/pull/136) to update [the doc about compatibility](https://github.com/openhab/openhab-distro/blob/master/docs/sources/addons.md), referencing this issue.

[2016-02-20 12:28] MrMerlino commented on #2863
I make all the prodcedure and succesfully installed all the certificate but still no working.
The problem is that the binding stop always here:
13:23:53.773 [DEBUG] [.b.s.internal.SamsungAcBinding:208  ] - Configuration key is: Livingroom.certificate

I try also in another PC with a clean install....same problem.
Looks like that the binding stop working when load certificate.
I'm do this:
download

[2016-02-20 12:46] ivanfmartinez opened #4078 "RFXCOM wiki documenation about using hex values"
I was updating the wiki for rfxcom and found the part that says the device id are in hex and should be converted :

https://github.com/openhab/openhab/wiki/RFXCOM-Binding#getting-the-correct-decimal-deviceid-number

All devices that I have used are showing values in decimal.

In the binding code I did not find any printing in hex for the sensor Id.

This wiki information are still valid ?

[2016-02-20 13:20] querdenker2k commented on #4074
With an older version of OH2 the binding works i had tested it. What are the requirements to be OH2 compatible? Is there somewhere a wiki entry?

[2016-02-20 13:53] tarioch commented on #3910
I think you're not alone and it's not related to my changes: https://community.openhab.org/t/replace-nrjavaserial-with-rxtxcomm/5867/4

[2016-02-20 13:59] tarioch commented on #3910
So I think that issue you're having on your raspberry is the same as #3257 and actual the root issue being https://github.com/NeuronRobotics/nrjavaserial/issues/60

[2016-02-20 14:42] Gugiman commented on #3910
Ok than i will look futher in this direction.

@teichsta Since the bindings works perfectly on my Linux Mint desktop and the error seems to be not related to the changes by @tarioch I approve the changes :)

[2016-02-20 16:38] MrMerlino commented on #2863
I give up.
I try with last computer.
A clean installation and make all the file newly.
Doensn't works.
17:33:00.154 [INFO ] [.b.s.internal.SamsungAcBinding:202  ] - No refresh interva
l configured, using default: 60000 ms
17:33:00.170 [DEBUG] [.b.s.internal.SamsungAcBinding:208  ] - Configuration key
is: accucina.certificate

Stop workings here.
Is possibile that the binding is corrupted?
I downlo

[2016-02-20 16:42] TheKorn2 opened #4080 "mysql persistence generates inconsistent table names under different operating systems"
Openhab 1.8.1, trying to move my mysql persistence database from windows to linux.  Found that on windows, openhab's mysql persistence generates table names such as items, item1, item2, item3, etc.

On linux, openhab's mysql persistence generates table names such as Items, Item1, Item2, Item3, etc.

table naming should be independent of operating system's filesystem case sensitivity!

Steps to rep

[2016-02-20 17:12] thomas70 commented on #2863
Try this certificate

https://github.com/openhab/openhab/issues/2863#issuecomment-184426045

[2016-02-20 17:15] lewie commented on #4080
@TheKorn2,
interesting effect, I have seen this, while programming JDBC persistence.
Windows ignores upper and or lower case in general.

But it is no problem!

Use JDBC persistence instead of MySQL persistence.
*tableNamePrefix* does the trick:
Set for example ````jdbc:tableNamePrefix=Item````

See: [JDBC Persistence::Migrating from MySQL Bundle](https://github.com/openhab/openhab/wiki/JDBC-Persi

[2016-02-20 18:09] TheKorn2 commented on #4080
Windows' filesystem ignores case, but *mysql doesn't*.  You don't see that not being able to migrate a database from windows to linux (or back) is a problem?

I don't understand what you're saying with regards to jdbc -- has mysql support been depricated?

[2016-02-20 18:09] mellery commented on #3951
Hi, could you post an update version?  I tried adding single quotes to the case statement but openhab still isn't starting automatically for me.  Thanks

[2016-02-20 21:38] aerickson opened #4084 "MySQL Persistence is extremely confusing"
The sample config file, the MySQL persistence wiki, and the code comments disagree with what the code actually does (or are extremely confusing).

mysql:reconnectCnt // This actually is the number of allowed errors before the database is disconnected.

mysql:waitTimeout // sets the session timeout... it's not what's configured, it's what we want the timeout to be.

[2016-02-20 22:02] mrguessed commented on #4009
As it turns out, the equivalent of the MiOS `variableset` URL call is already accessible via the existing MiOS Binding Action, via a pre-defined serviceId that Micasaverde exposes.

The technique requires the addition of a single Item declaration over what the MiOS Item Generator produces (listed below) and the rest can be done with the standard Action decl.

**Item declaration**
[code]

**Rule de

[2016-02-21 15:42] JSurf commented on #4035
I hoped that @tarioch would have a look since is/was refactoring the cul io binding, So i would at least wait until #2358 is merged. Could have a look then

[2016-02-22 13:47] dannyboyw commented on #3536
It appears that I would have to buy ~$100 piece of hardware to make rfxcom
work.  I would prefer to get something that works w/ what I have.  I want
to eventually phase out the X10 stuff.  Rfxcom does look versatile, in that
it has the capabilities to work with many non-X10 RF modules (wx, motion,
etc), but not sure I want to lay down $100 for it.  I am still trying to
figure out my next move, as

[2016-02-22 15:25] federic0 commented on #3536
rfxcom is expensive but you get the possibility to interact with all these sensors and actuators that are quite cheap (Coco - now Trust, many thermometers including many Oregon Scientific, etc.).
If you are thinking Insteon, the Insteon gateway should be able to send X10 commands. I have no experience with Insteon and OH though.

[2016-02-22 17:40] EliasGabrielsson opened #4089 "Tellstick performance issues"
## Problem:

The tellstick does only have a refresh rate on 4 Hz at the moment.
If a `<slider>` is used its common for it to produce maybe 5-6 updates which all get queued for transmission. But its only the latest update for each interval which is important
## Solution:

Implement a prio que for send events.
(Working on a fix now, will be contributed in an hour or so.)
##

[2016-02-22 19:18] r2d2v8 commented on #736
I have only recently started to use Openhab and not being a coder its been a steep learning code.  I am also suffering from rules not starting at Startup with this error message.  Am running Windows 8

lounge.rules (The system cannot find the file specified)
java.io.FileNotFoundException: lounge.rules (The system cannot find the file specified)

I find the message strange as it must know about the

[2016-02-22 20:02] daniellueddecke commented on #3674
I ran into the exact same problem today.
Is there any hope this will be fixed?

Best
Daniel

[2016-02-22 21:17] CrunchPi commented on #1562
BTW...
This issue has actually taken place today. openHab-Designer 1.8.1
But the workaround worked for me!
It seems that the issue hasn't be fixed right!
OS is Ubuntu 14.04.2 LTS 64bit / Java 8

Thanks for the workaround

[2016-02-22 21:18] petrklus commented on #736
@r2d2v8 I do agree with you and I also do consider to be a problem of criminal dimensions.

However, from what I can gather is that this is somehow bound to XText and not due to a bug in OH (just what I gathered from the comments), which I conclude means that it may not get fixed any time soon.

The recommendation is to try the same in OH2 - it is backwards-compatible with OH1 addons and there sho

[2016-02-22 21:34] dodger777 commented on #736
You can also consider moving your rule to JSR223 script (groovy, pyton, javascript).
The problem is rarer, and i am working on a permanent fix. Meanwhile i had made a temporary fix here: https://github.com/dodger777/openhabMod/blob/1.8/compiledAddon/org.openhab.core.jsr223-1.8.2-SNAPSHOT.jar

ps: for now, jsr223 is not compatible with OH2. They are working on it.

[2016-02-22 21:49] petrklus commented on #736
@dodger777 what do you mean that the problem is rarer, that it's rare when using JSR223? (but still present?)

[2016-02-22 21:53] dodger777 commented on #736
it is still present, but very rare. With bigger script file, sometime the hard drive had not finish writing the file, and the engine try to load it. You can have file not found or another bug (no getRules() )
With my temporary fix, most of the rule/script with jsr223 should work. I only add a 1 second sleep before trying to load the file.

[2016-02-22 22:21] petrklus commented on #736
That's what I do not quite get @dodger777  - why would the there be any writing to HDD when OH is starting up? Are you seeing the issue on the startup as well, or only when you make changes to rules and they get dynamically reloaded? (and there is race condition between file being written and OH trying to read it)

[2016-02-22 22:25] dodger777 commented on #736
@petrklus  sorry, i was not clear. I never got any problem on startup with jsr223, only when i add rule or modify one.

[2016-02-22 22:34] r2d2v8 commented on #736
I am also seeing this problem on startup

21:27:33.133 [WARN ] [c.internal.ModelRepositoryImpl:58   ] - Configuration model 'PondPump2.rules' is either empty or cannot be parsed correctly!
21:27:33.134 [DEBUG] [c.internal.ModelRepositoryImpl:59   ] - Errors reported for 'PondPump2.rules': []
21:27:33.136 [ERROR] [r.i.DefaultResourceDescription:75   ] - PondPump2.rules (The system cannot find the f

[2016-02-22 22:37] petrklus commented on #736
@r2d2v8 yep, that is the standard manifestation of the error during startup.

[2016-02-22 22:52] MrMerlino commented on #2863
No idea...
Also without the certificate line (in openhab.cfg) stops here:
DEBUG o.o.b.s.i.SamsungAcBinding[:208]- Configuration key is: camera.host
Could be a java problem?
Really don't understand why i have a different output from you...
All the other addons works corectly :(

[2016-02-23 05:09] 9037568 commented on #3674
The original problem was seen only in IOS, while Safari worked fine, apparently.

Is this also true for you, @daniellueddecke ?

In most cases, this error is due to not having the server's certificate installed in the java keystore.

[2016-02-23 09:09] daniellueddecke commented on #3674
Yes, I can confirm that the url of the web view works fine in Safari. Even if I browse the openHAB sitemap directly in Safari I'm able to see the embedded web view.

Server and CA certificates are installed in the java keystone as well.

Any other suggestions?

Best
Daniel

[2016-02-23 14:15] splatch opened #4093 "Use named threads in ebus binding"
EBus binding uses couple thread pools which can not be identified due to default names. This is an easy fix which will make easier to identify OH state via thread dump.

[2016-02-23 14:18] #4093 closed

[2016-02-23 16:13] rsterrenburg opened #4095 "KNX Binding DPT 6.010 support (available in updated Calimero)"
Request is to support the DPT 6.010 (eg. DPT 6.x) now Calimero supports it since version 2.3 (6.x - 8 Bit signed value, e.g., Percent (8 Bit), Status with mode)

This will allow some room temperature controllers to work with OpenHab KNX Binding that require this datatype to shift temperature.
##

[2016-02-23 17:33] #3910 closed

[2016-02-24 13:12] 9037568 commented on #3674
Since everything works except in IOS, this is sounding like a defect in IOS.

Which version of IOS?  Is it possible the defect here is this one?
https://news.ycombinator.com/item?id=7511347
https://github.com/josephhainline/AppleBugTLSConnectionFailsWithEllipticCurveClientCert

[2016-02-24 13:22] daniellueddecke commented on #3674
I'm using the latest iOS version (9.2.1).
My guess would be that it might be a problem of the openHAB iOS client as the error doesn't occur when using safari and the openHAB sitemap.

[2016-02-24 13:33] 9037568 commented on #3674
I wasn't aware until now that there was an IOS client.

Looks like it has its own defect tracker:
https://github.com/openhab/openhab.ios/issues

[2016-02-24 21:43] ThomDietrich opened #4099 "Classic UI: display error on items with empty label"
When assigning an empty label for an item on the sitemap (`label=""` or `label="  "`), Classic UI will mess up the line height of that item:

![darstellungsfehler](https://cloud.githubusercontent.com/assets/2870104/13301743/bb903ef8-db46-11e5-94bc-14c4e05495c9.png)

The second part of the picture was taken after disabling the following css property, which besides that didn't change anything.

[cod

[2016-02-25 05:47] simonbretin commented on #3951
Hello,
Here is the complete file I used ... Do you have a  log or something so that I can help you ?
My changes where on line 114, 122, 142 !
[openhab.zip](https://github.com/openhab/openhab/files/146018/openhab.zip)

[2016-02-25 12:56] reyem commented on #4070
Hi chris,
looks like you are busy with more important things. Maybe I can help fixing it. I guess the issue comes from my node reporting a different deviceId:
[code]

I did not check the code yet, but I guess I could fix it by adding another product to the products.xml looking like that:
[code]
Also I'm actually not sure if CRC-3100 is the same as CWS-3101. I think the CRC-3100 is the "Nodon Octan

[2016-02-25 13:00] cdjackson commented on #4070
Hi Marco,
That’s fine (nearly). You don’t need to add the new product though - you can just add the new reference into the existing product…

<Product>
    <Reference>
        <Type>0002</Type>
        <Id>0003</Id>
    </Reference>
    <Reference>
        <Type>existing...</Type>
        <Id>existing...</Id>
    </Reference>
    <Model>CRC-3100 NODECWS3101</Model>
    <Label lang="en">Remote Cont

[2016-02-25 13:23] larsblumberg opened #4101 "Crash on startup on OS X when bluetooth binding is present"
I've download openHAB 1.8.1 and copied all addons into the addon folder. When executing `./start.sh` it loads some addons and then:

[code]

When I remove all addons it seems to start correctly. But `http://localhost:8080/` forwards to `http://localhost:8080/openhab.app` and returns

[code]

[2016-02-25 13:26] watou commented on #4101
It seems like there might be corrupted files in your installation (or in Java).  Would you mind discussing this at https://community.openhab.org, closing this issue, and reopen it if it's determined that there is an openHAB bug?

[2016-02-25 13:38] larsblumberg commented on #4101
Since the ZIP file has been decompressed successfully, I wouldn't expect corrupted files.

I however found out that removing `org.openhab.binding.bluetooth-1.8.1.jar` from the `addons` folder successfully start openHAB on my OS X.

I will move this discussion to your community website and close this issue.

[2016-02-25 13:40] larsblumberg commented on #4101
@watou I've signed up at your community but the "New Topic" button is grayed out for me. Ideas?

[2016-02-25 13:42] watou commented on #4101
Aha!  It would be a bug related to the Bluetooth binding that its presence causes a JVM crash on OSX.  Thanks for that -- perhaps you could rename and reopen this issue?

I forget if it needs a verification process?  Please let me know if it persists that you cannot start a new topic there.  Maybe you've found two bugs already? :smile:

[2016-02-25 13:47] watou commented on #4101
[Link to forum discussion](https://community.openhab.org/t/crash-on-os-x-when-running-start-sh/7985)

[2016-02-25 13:54] watou commented on #4101
Might be a duplicate of https://github.com/openhab/openhab/issues/144, which was closed with a hoped fix.  @teichsta, thoughts?

[2016-02-25 13:58] larsblumberg commented on #4101
The problem and fix affected OS X 10.8. Symptoms are also different.

[I've posted this update to the forum discussion](https://community.openhab.org/t/crash-on-os-x-when-running-start-sh/7985#post_3):

- OS X 10.11.2 (latest)
- ```java version "1.8.0_51"
Java(TM) SE Runtime Environment (build 1.8.0_51-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.51-b03, mixed mode)```
- MacBook Pro (13-inch,

[2016-02-25 14:51] reyem commented on #4070
Thx Chris, I will try to change this locally and test. If it works I will create a Pull Request.

[2016-02-25 16:35] ssalonen commented on #3537
I have been working on this as well when implementing so called pooling of connections, see [this thread](https://community.openhab.org/t/connection-pooling-in-modbus-binding/5246/58). See especially [this commit](https://github.com/ssalonen/openhab/commit/7cfa9aa473a6ef8fed40d3d168b968ab61718dc1) (relevant pieces are in transactions).

[2016-02-25 18:29] hmerk commented on #4043
I had another look at the API and fount out, that the wrong port your bridge reacts to is the admin config port.

==== LimitlessLED WIFI Bridge Auto Discovery ADMIN PORT 48899 ====
==================================================================
- Step 1:Send UDP message to the LAN broadcast IP address of "10.10.100.255" and port of 48899 => "Link_Wi-Fi"
- All Wifi bridges on the LAN will respon

[2016-02-25 18:39] sveco commented on #4043
Thanks for the info. I will try with another bridge, i hope with more luck.
I will keep you posted. Thank You.

On Thu, Feb 25, 2016 at 7:29 PM, Hans-Jörg Merk <notifications@github.com>
wrote:

[2016-02-25 20:32] mellery commented on #3951
Thanks!  adding those single quotes fixed mine, not sure why it didn't work
for me before.

On Thu, Feb 25, 2016 at 12:47 AM, simonbretin <notifications@github.com>
wrote:

[2016-02-25 20:47] simonbretin commented on #3951
Great ! Don't who can check the fix in the branch ... But I'm sure it could
help !

On Thu, Feb 25, 2016 at 9:32 PM, Mike <notifications@github.com> wrote:

[2016-02-25 22:37] digiltd commented on #4078
Hi. I added that bit about Hex to Dec originally.

Can I ask when you first installed and used the RFXcom binding?

For me, for every RF compatible device I wanted to add, it would always give the Id as Hex. This included PIRs, wall switches, socket dimmers, thermometers, socket switches and lightbulb bayonet switches.

Though I have just turned on the rfxcom debugging and you are correct that the

[2016-02-25 22:52] watou opened #4104 "ClassicUI: images and charts are not refreshed on the initial sitemap"
Images and charts on the initial sitemap page never refresh. Only after the next "endslide" event (user goes to another page), image refreshes are triggered on that page.

Identical issue to https://github.com/eclipse/smarthome/issues/1099

[2016-02-26 03:28] gbaumgart opened #4105 "API docs or embedding guide?"
Apparently all depends on a text file (siteconfig); is there apart from the REST-API something more direct (Java wrapper which creates an site instance with an object)?

At the end I would love to tweak my [tool](https://gitlab.com/xamiro/xcf-dist-windows/uploads/6f8083d15b80277eaa0f182670ffcfd9/image.png) for a very direct interface to openHab. The user usually creates there his devices and creat

[2016-02-26 05:09] 9037568 commented on #4105
This is better suited for the community forum (community.openhab.org).

[2016-02-26 05:39] teichsta commented on #4105
Hi @gbaumgart,

all available documentation regarding oh1 can [be found here](https://github.com/openhab/openhab/wiki). The documentation about ESH can [be found here](https://www.eclipse.org/smarthome/documentation/index.html) and the best documentation is the code for sure :-)

As @9037568 pointed out, please use the community to discuss such ideas.

Thanks, Thomas E.-E.

[2016-02-26 05:39] #4105 closed

[2016-02-26 09:38] watou commented on #4030
Hi @theoweiss, please also take a look at [this NullPointerException](https://community.openhab.org/t/tinkerforge-symbolic-names-in-1-8-1-dont-seem-to-work/7993/6?u=watou), that [seems to be due to the instance variable `ohConfig` not having been set](https://github.com/openhab/openhab/blob/1.8/bundles/binding/org.openhab.binding.tinkerforge/src/main/java/org/openhab/binding/tinkerforge/internal/T

[2016-02-26 13:33] 9037568 commented on #795
Based on what little I've been able to gather about how frames are defined, item=OG as used here is not valid. (see https://community.openhab.org/t/error-in-frame-handling-in-web-ui/4828)

I'll be asking for better documentation of the frame syntax. ;-)

[2016-02-26 13:36] 9037568 opened #4107 "Frame syntax needs better documentation"
The syntax used for frames in sitemaps needs more/better documentation.

The current wiki documentation is sorely short on information, making it hard to tell what is or is not allowable ( see, for example #795 )

[2016-02-26 13:53] 9037568 commented on #1662
Not seeing this behaviour today in my setup using 1.8.x.

[2016-02-26 13:58] 9037568 commented on #1661
Not seeing this in my setup using 1.8.x today.

[2016-02-26 14:05] watou commented on #1661
In ESH, I still see these:

![images](https://cloud.githubusercontent.com/assets/3008217/13354295/e6a3eea4-dc91-11e5-89e1-f9ceb4232041.png)

[2016-02-26 14:08] watou commented on #1662
I'm not seeing it either, but I assigned it to myself to verify and hopefully just close.

[2016-02-26 14:20] gbaumgart commented on #4105
thanks, do you have by chance a direct link to your source - code repo? mvn install will last for days with my 2g stick. just wanted to figure its possible at all.

[2016-02-26 15:12] planetrenner-martin commented on #795
Okay, thank you. But it would be nice, if frame labels could carry some information.

If "Frame" really cannot take an "item" as argument, this issue can be closed.

[2016-02-26 15:29] theoweiss commented on #4030
@watou thanks for your support.

[2016-02-26 17:16] richardcw1 commented on #304
Unfortunately I also get sending failure on my linux server.
The rule fires and logs the change in Target Temperature of the Nest, but then fails in the same way...

2016-02-26 17:01:18.326 [INFO ] [org.openhab.model.script.Nest ] - Sanctuary Target Temperature sanctuary_target_temperature_c (Type=NumberItem, State=11)oC
2016-02-26 17:01:18.902 [ERROR] [nhab.action.mail.internal.Mail] - Could not

[2016-02-26 20:15] humarf opened #4108 "compatibility issue opehab and oracle jre 1.8"
I have a compatibility issue regarding oracle jre 1.8. No matter if using openhab 1.7.1 or 1.8.1 when using oracle 1.8 jre it produces this error

`[ERROR] [o.o.c.s.ScriptExecutionThread ] - Error during the execution of rule 'Küche alles aus': Could not invoke method: org.openhab.model.script.actions.BusEvent.sendCommand(java.lang.String,java.lang.String) on instance: null`

when running this cod

[2016-02-26 21:08] gbaumgart commented on #4105
found it it all after all an after reading for 3 hours the code around site-config & item, i figured its better for me to stick to the rest api and generating those site-configs. it would take too much time to build an easy to use & scalable API around this for me. but thanks for the pointers! You're sure you don't have a java-doc page, and do you know of node-js base clients for your stack? java

[2016-02-26 21:16] Gugiman commented on #4035
Can confirm this bug.

I'm also using ser2net and have to restart openhab everytime I restart ser2net.
So I think any other interruption would break the connection to the CUL permanently.

[2016-02-26 22:12] Gugiman opened #4109 "Intertechno binding doesn't switch status on remote command"
Hey Guys,

since the CUL and Intertechno Binding is refactored by @tarioch I noticed that commands sending by any remote control is not changing the openhab switches.

In the past i used the pilight binding where any signals from the remote control was noticed by my 433 mhz receiver (separate device). Since most of the CUL devices can send and receive signals, I think the intertechno binding could

[2016-02-26 22:23] tarioch commented on #4109
Actually the normal cul can't do this and even the aculfw does not work reliably for me to detect the buttons on my remote. Afaik it works better for older remotes. So if cul doesn't do it we can't do it in the binding.

[2016-02-26 22:31] Gugiman commented on #4109
Ok maybe I read the specs wrong ^^
So if it's not possible from the CUL and/or the firmware we have to live with it.

Thanks for the fast response!

[2016-02-26 22:31] #4109 closed

[2016-02-26 23:13] watou commented on #4108
I am fairly sure I've heard tell of this as well, but I don't have any ideas about fixing it.  There seems to be a good workaround, though:  Instead of `sendCommand(item, OFF)`, try `item.sendCommand(OFF)`.

[2016-02-26 23:35] watou commented on #795
@planetrenner-martin, I would like to leave this open in case either the code or the documentation can be changed.  I will look into it, and thank you for opening this issue, however long ago that was. :worried:

[2016-02-27 06:04] 9037568 commented on #304
Appears to be working fine here. Sample debug output below, but email is successfully received in my gmail account.

Probably redundant advice, but double check your credentials in openhab.cfg...

[2016-02-27 07:38] humarf commented on #4108
Indeed this seems to be working. Thanks a lot for this trick!! This is very important for me because I use an addon that works on oracle jre 1.8 only.

If you don't mind I leave this open because it seems to depend on surrounding code whether `sendCommand(item, OFF)` works or not.

[2016-02-27 07:45] rossdargan commented on #1814
This has just started impacting my installation. None of my rules could run. a reboot fixed it however.

[2016-02-27 07:55] watou commented on #4108
Most definitely!  Even though there is a workaround, it's still a bug. :worried:

[2016-02-27 08:16] humarf commented on #4108
Going on with testings on oracle jre 1.8 I found another issue regarding timers. Do you know a workaround as well? Code is simply not scheduled.

[code]

[2016-02-27 08:34] watou commented on #4108
That also sounds familiar, but my searches aren't turning up a reference to it.  Perhaps you could ask at https://community.openhab.org?

[2016-02-27 08:54] humarf commented on #4108
Will do. Thanks a lot for your help.

[2016-02-27 09:22] watou commented on #1662
This issue is present in the ESH version of ClassicUI.

[2016-02-27 09:24] whopperg commented on #1662
Hey, thanks for looking in to this. What does ESH mean?

[2016-02-27 09:30] watou commented on #1662
Eclipse SmartHome.  The core of openHAB 1.x was contributed to the Eclipse Foundation as a basis for ESH, which is what is used in openHAB 2.

[2016-02-27 10:58] watou commented on #3773
This identical problem exists in the [demo for WebApp.net](http://demo.webapp-net.com/#_Home) in its latest version (this is apparently the final version since it's now [over six years since 0.5.2](http://trywebapp.net/changes.php)).  I think the underlying problem is in code we should not modify ourselves, and since it's been years since it was updated, I am going to mark this "wontfix".

[2016-02-27 10:58] #3773 closed

[2016-02-27 11:00] watou commented on #3432
Reported fixed [here](https://community.openhab.org/t/retrieving-a-result-from-a-command-line-https-curl-for-use-in-a-rule/4285/10?u=watou).

[2016-02-27 11:00] #3432 closed

[2016-02-27 11:07] watou commented on #1661
https://github.com/openhab/openhab/issues/3773#issuecomment-189618332

[2016-02-27 11:07] #1661 closed

[2016-02-27 11:08] watou commented on #1584
@lolodomo, is this issue fixed?

[2016-02-27 12:34] watou commented on #4037
See @lolodomo comment: https://github.com/openhab/openhab/pull/3930#issuecomment-189627219

This issue is about changing visibility of charts (or images, for that matter).  It is similar in cause to #4104.

[2016-02-27 15:04] klaus-hildner commented on #1584
@watou Thanks - if you can provide a patched jar, I am happy to test. Would give life 2.0 to an old "snapshot only" camera here.

[2016-02-27 15:25] watou commented on #1584
Thank you, @klaus-hildner!  Please see https://github.com/openhab/openhab/pull/3930#issuecomment-189206255.  But if you only want the JAR, try this:

1. Stop the server
1. Move the file org.openhab.ui.webapp-1.8.X.jar out of your server/plugins folder.
1. Put [this file](https://dl.dropboxusercontent.com/u/4286376/fix-issue-1584/org.openhab.ui.webapp-1.8.2-SNAPSHOT.jar) into your addons folder.
1.

[2016-02-28 06:39] alex3kov opened #4111 "Can't get JDBC/Derby to work on 1.8.1"
I'm using examples from the Wiki. In openhab.cfg:
[code]
In jdbc.persist:
[code]
On openhab startup database gets created in specified location (./dbDerby) and I can connect to it using SQuirrel and APP:APP user/password.
derby-10.12.1.1.jar and org.openhab.persistence.jdbc-1.8.1.jar are present in `addons` directory.
This is what I get in openhab.log:
[code]

[2016-02-28 08:32] watou commented on #4111
@lewie, could you have a look at this please?  Thanks.

[2016-02-28 17:00] klaus-hildner commented on #1584
Thanks @watou. I upgraded from 1.6.2 to 1.8.1, made sure my various cams still work and that the 1.8.1 logs/openhab.log is updated, then followed your steps. Unfortunately the image from my "images only" cam is still not refreshed.

The image is defined like this:

		Text label="Live Kamera 2 @OG2 Wetter" icon="icon-camera-0032" {
			Frame label="Live Kamera 2@OG2 Wetter" {
				Image url="http://r

[2016-02-28 17:09] mattcorby opened #4113 "open/close sensor not always working"
Here is how my item is defined:

`Contact InsteonOfficeDoor "office door [MAP(en.map):%s]" (Sensors, ChartedOffice) {insteonplm="32.4B.9A:0x000049#contact"}`

I didn't pay particular attention, but as far as I can tell, this worked all the time when I had openHAB and insteonPLM version 1.7.1.  I upgraded both to 1.8.1, and now, the INSTEON app will always tell me when the sensor is opened or close

[2016-02-28 17:45] watou commented on #1584
@klaus-hildner, there are still deficiencies in image and chart refreshing which I'm working on now.  The JAR you tried is *supposed* to work for the sitemap you offered and only reverts a regression from about a year ago.  I am going to be posting a new JAR to the forum for feedback that ought to allow image and chart refresh from the web UI in all cases.  I will put a link here to that forum top

[2016-02-28 18:19] lewie commented on #4111
@watou, wondering because this never could work correctly...
@alex3kov, since this PR is not in master, you can help yourself with creating main Items Table by running this sql with SQuirrel:
`CREATE TABLE ITEMS ( ItemId INTEGER NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1, INCREMENT BY 1), itemname VARCHAR(500) NOT NULL);`

Later you can find the working jar here: https://openhab.ci.cloudb

[2016-02-28 18:26] lolodomo commented on #4026
I submitted PR #4115 fixing the error relative to new firmware 3.3 described in my previous message.
The initial problem described in this issue could probably be closed. @Mickaelh51, can you confirm ?

[2016-02-28 21:14] sungura1983 commented on #1814
Hi all,

I just upgraded to 1.8.1, and seem to be having the same problem. In my case, however, a reboot is not fixing things….

Any other thoughts?

17:27:49.914 [ERROR] [e.x.l.lazy.LazyLinkingResource:214  ] - resolution of uriFragment 'xtextLink_::0.2.2.2.0.0.0.7.7::0::/1' failed.
java.lang.ClassCastException: [Ljava.lang.Object; cannot be cast to org.eclipse.emf.ecore.resource.Resource$Interna

[2016-02-28 21:41] DaAwesomeP commented on #2583
Anyone?

[2016-02-28 21:54] mrguessed commented on #4009
@dodger777,
Since this is available via the build in components, I'm planning to close out this Issue.  If you feel strongly otherwise, let me know.

[2016-02-28 21:54] #4009 closed

[2016-02-28 23:39] dodger777 commented on #4009
@mrguessed
no problem with me. I will test that when i will have the time. Thanks!

[2016-02-29 02:29] watou commented on #1584
@klaus-hildner, please have a look [here](https://community.openhab.org/t/please-help-test-fix-for-image-and-chart-refresh-in-classic-web-ui/8106) for a new version to test. I believe it will work for your sitemap.  I've not tried 2 images per second like you have, but I believe the new JAR will work.

[2016-02-29 07:44] staehler opened #4118 "Update openhab_default.cfg"
Hello,
i downloaded OH 1.8.1 and it seems the openhab_default.cfg is not uptodate. At least following parameters are missing:

KNX Section:

The complete CalDAV section is missing.

Regards
Michael

[2016-02-29 08:25] alex3kov commented on #4111
@lewie nope, still not working after your workaround. Attaching new error log.
[error2.txt](https://github.com/openhab/openhab/files/150545/error2.txt)

[2016-02-29 10:20] sihui62 commented on #1814
Sometimes you have to reboot several times to get rid of those messages ...

[2016-02-29 11:07] zzurich opened #4119 "Novelan Luxtronic Binding: Hours cooling incorrect"
This should be a minimal fix. In openhab/bundles/binding/org.openhab.binding.novelanheatpump/src/main/java/org/openhab/binding/novelanheatpump/internal/HeatPumpBinding.java

handleEventType(new StringType(formatHours(heatpumpValues[65])), HeatpumpCommandType.TYPE_HOURS_COOLING);

should use index 66, not 65

[2016-02-29 11:28] watou commented on #4119
I made that change.  Could you test [this JAR](https://dl.dropboxusercontent.com/u/4286376/novelan-hours-cooling/org.openhab.binding.novelanheatpump-1.9.0-SNAPSHOT.jar) to see if the change is good?  If so, I will submit a pull request.

[2016-02-29 11:30] lewie commented on #4111
@alex3kov, you are right, there was a second bug.

Download the new jar for testing: https://github.com/lewie/openhab/blob/jdbc_derby_doCreateItemsTableIfNot-test/org.openhab.persistence.jdbc-1.9.0-SNAPSHOT.jar?raw=true

Thanks for testing!
Helmut

[2016-02-29 13:40] zzurich commented on #4119
I can confirm it works.

[2016-02-29 13:43] watou commented on #4119
You're welcome!

https://github.com/openhab/openhab/pull/4120

[2016-02-29 17:11] berndpfrommer commented on #4113
Just like the 1.7 version of the binding, the insteonplm 1.8 binding has a state machine that is designed to filter out duplicate event notifications (this feature was added because users did not want to do the filtering of duplicates in their scripts). A device is supposed to send notifications like this:
1) Broadcast
2) Cleanup
3) Success
Your sensor sends strange stuff, even in the case where y

[2016-03-01 06:25] alex3kov commented on #4111
@lewie I deleted Derby database for clean testing, here's another error using your new jar:
[code]
I don't see any tables being created in database (I assume it will create them in `APP`).

[2016-03-01 07:19] syjam23 opened #4121 "[modbus] Problem with negative temperature"
I have a problem with temperature display negative in openhab . Reads the temperature measuring device Modbus and gives it to the registry , and it looks as -300 . Why open hab displays it as 65490.

[2016-03-01 07:30] dariocdj commented on #3903
Ok, i understand and hope that you fix it, thanks

[2016-03-01 08:09] ssalonen commented on #4121
Hi @syjam23

The wiki documentation is a bit lacking at the moment...

Please configure valuetype in the modbus binding configuration (`openhab.cfg`):
``
modbus:tcp.slave5.valuetype=int16
``

There's more complete examples in the [wiki](https://github.com/openhab/openhab/wiki/Modbus-Tcp-Binding) at least showing `valuetype=float32` configuration

Default valuetype is `uint16` (unsigned 16bit integ

[2016-03-01 08:29] watou commented on #4121
@syjam23, if @ssalonen's advice resolves this problem, then can we say what's lacking is documentation in the wiki page?  Once both code and doc are good on this, please close this issue.  Thanks!

[2016-03-01 14:56] lewie commented on #4111
@alex3kov,
no, these are warning's (only in debug mode) and info's.
Everything works as expected now:

Driver and Library init:
[code]

Currently there is no table for the item 'Temperature' and 'CO2', I try to create:
[code]

Table for item 'CO2' seams to be created, because a value is written:
[code]

The current values of the items: 'All', 'gGroundFloor' and 'gBedroom' is UnDefType (no value is

[2016-03-01 19:26] JonathanGiles commented on #2723
Now that the seasons are getting cooler here in NZ, I thought I better drop this binding into my openhab install. However, now it has been so long that I forget the configuration that is necessary. Is anyone using the latest version (that uses JDaikin) and have a sample of the config that needs to be set? We should update the binding wiki documentation to detail this.

[2016-03-01 19:40] watou commented on #3032
See also https://github.com/openhab/openhab/issues/2723#issuecomment-190863788

[2016-03-01 19:53] watou commented on #2723
Was the [last discussion of a bug](https://github.com/openhab/openhab/issues/3032#issuecomment-156889985) that could be addressed by a change to [this line](https://bitbucket.org/JonathanGiles/jdaikin/src/dc50bed602b89161e65a0199c82e3086f5c788ab/src/main/java/net/jonathangiles/daikin/wired/WiredDaikin.java?at=default&fileviewer=file-view-default#WiredDaikin.java-180) in JDaikin, to:
[code]

Also,

[2016-03-01 19:53] sumnerboy12 commented on #2723
openhab.cfg;

|||############################# Daikin Binding
####################################### daikin:refresh=60000
daikin:living.host=<ipaddress/host> |

And then in the items;

|// daikin online controller String Heating_DaikinMode "Daikin Mode"
<heating> (Heating) { daikin="living:mode" } Number Heating_DaikinTemp
"Daikin Temp [%.0f °C]" <degreesc> (Heating) { daikin="living:temp" }
Swit

[2016-03-01 20:07] alex3kov commented on #4111
@lewie IIRC, this line is logged regardless of JDBC, on every event update:
[code]
Hm, I didn't get the picture in SQuirrel that you're getting (I'm using real nodes instead of demo though) - there were no tables in APP.
I'll recheck things and do more tests tomorrow, will post results.

[2016-03-01 20:26] lewie commented on #4111
Yes, please do that. If it does not create tables in APP please post the complete log.
Yes, CO2 was only a global busevent message, my fault.

[2016-03-01 21:25] TheKorn2 commented on #304
There's definitely something going on here, but I couldn't tell you why.  I went and captured the connection to/from my (private) non-TLS mail server.  Openhab sends a HELO but then also sends QUIT for some reason!

dump generated by running on openhab host (assuming it only has one network port):

sudo tcpdump -host (your mail server) -vvXS -w tcpdump_capture_file.cap

then dragging tcpdump_captu

[2016-03-01 21:30] TheKorn2 commented on #304
For reference, here are the mail settings I'm using:

mail:hostname=mail.thekorn.net
mail:port=26
mail:username=(redacted)
mail:password=(redacted #2)
mail:from=(redacted, same as mail:username)
mail:tls=false
#mail:popbeforesmtp=false
#mail:charset=

[2016-03-01 23:22] TheKorn2 opened #4123 "zwave numberformat exception on received meter class"
Getting a java numberformat exception when one of my home energy monitors sends metering information:

2016-03-01 14:46:16.796 [DEBUG] [eController$ZWaveReceiveThread:1530]- Receive Message = 01 0E 00 04 00 44 08 60 0D 01 01 32 02 21 64 A1
2016-03-01 14:46:16.797 [DEBUG] [eController$ZWaveReceiveThread:1446]- Receive queue ADD: Length=1
2016-03-01 14:46:16.798 [DEBUG] [b.z.i.protocol.ZWaveControll

[2016-03-01 23:31] watou commented on #3032
@welbymcroberts I noticed your data has `,` and `.` used differently in numbers than how [JDaikin works](https://bitbucket.org/JonathanGiles/jdaikin/src/dc50bed602b89161e65a0199c82e3086f5c788ab/src/main/java/net/jonathangiles/daikin/wired/WiredDaikin.java?at=default&fileviewer=file-view-default#WiredDaikin.java-29).

JDaikin, and therefore the Daikin binding, expect your data to be returned as:

[

[2016-03-02 06:25] guitarglen commented on #2723
@watou - I think you maybe correct with the above proposed fix of testing
for "-" as well as "NONE", before extracting the value.

I'm definitely in a position to test the binding, but not to update the
code etc (I am still stuck on languages whose names consist of one letter,
not 4 like Java...)

I can test against both a single and multi-system configuration, however
unlike @JonathanGiles , who

[2016-03-02 06:44] guitarglen commented on #3032
@watou - Just want to double check the format you were expecting.  I
certainly was receiving comma-delimited responses, with the dot just used
in the floating point temp values. I have posted responses I was receiving
from the controller in #3032.

If my memory serves me correctly, I was getting readings ok, when the
Heatpump was turned on (but not off), it just failed when it was turned off
and t

[2016-03-02 07:17] welbymcroberts commented on #3032
I can confirm that when i do a proxy of the connection and change the - to
a 0 everything works well. Currently doing this with mod_substitute on
apache.

There are really two issues here. The first is a parsing one where the - is
causing it to fail

The second one is that if the unit doesnt respond or indeed responds with a
non 200 response or a non parseable response the binding stops polling. N

[2016-03-02 07:43] watou commented on #3032
I submitted [this pull request](https://bitbucket.org/JonathanGiles/jdaikin/pull-requests/3/parse-float-without-throwing-nfe/diff) a few hours ago to catch number format exceptions in the Wireless connection, similar to what is done in the Wired connection.  It closely matches your observed error, @welbymcroberts.

[2016-03-02 08:49] watou commented on #2723
Thanks for the reply, @guitarglen.  Please see https://github.com/openhab/openhab/issues/3032#issuecomment-191114043 for a small change and test JAR to catch the NumberFormatExceptions for the wireless connection when encountering "-" instead of a number.  I plan on updating this binding after my Daikin heat pump is up and running in a couple months.

[2016-03-02 16:45] TheKorn2 opened #4124 "zwave java.lang.ArrayIndexOutOfBounds exception for DYNAMIC_VALUES"
When receiving zwave DYNAMIC_VALUES events from an aeon smartswitch energy, often will get an ArrayIndexOutOfBounds exception:

2016-03-01 23:41:45.395 [DEBUG] [.z.internal.ZWaveActiveBinding:449 ]- ZwaveIncomingEvent
2016-03-01 23:41:45.396 [DEBUG] [z.i.p.i.ZWaveNodeStageAdvancer:1034]- NODE 23: Node advancer - DYNAMIC_VALUES: Transaction complete (SendData:Request) success(true)
2016-03-01 23:41

[2016-03-02 16:48] TheKorn2 commented on #4124
Not sure if same or different bug than #4123 .

[2016-03-02 16:56] cdjackson commented on #4124
I think the issue here is the message is corrupt (it is 0 length). I’ll look to add a check for this to avoid the error, but the device seems to be sending rubbish :(

[2016-03-02 17:19] TheKorn2 commented on #4124
What!??  My devices aren't perfect!??  (/s....  heavily /s!  :D)

[2016-03-02 17:21] cdjackson commented on #4124
I’m afraid not - we’ve seen this before on some Aeon devices. In this case, the frame doesn’t have all of the command class header (well, what I would call the header anyway - the bit that says what sensor type etc it it).

[2016-03-02 19:29] hln98 opened #4126 "Harmony Hub Binding Rule (Item does not exist in registry)"
Hi,

I am new to openhap. I am using Amazon Ha Bridge with openHab for verbal commands to Amazon Echo to control my harmony hub. Connection to hub looks good. I just have a rule error that not sure what to do.

When issued a verbal command to Amazon Echo, “Alexa, turn on Harmony TV”, I got the following in openHab console:

[WARN ] [.w.internal.servlet.CmdServlet] - Received command 'ON' for item

[2016-03-02 20:49] ssalonen commented on #4121
I updated little bit the documentation in the wiki. Renamed the page as [Modbus binding](https://github.com/openhab/openhab/wiki/Modbus-Binding) as the binding supports serial slaves as well (at least in theory...in practice when we get the pooling I've been working with).

The old page [Modbus Tcp Binding](https://github.com/openhab/openhab/wiki/Modbus-Tcp-Binding) has a link to the new page. I w

[2016-03-02 20:55] syjam23 commented on #4121
Thank You. Now working everything and documentation Modbus binding is more better.

[2016-03-02 20:56] ssalonen commented on #4121
I've been thinking something like below for documentation

[code]

The write behaviour for the types that are not 16bit (i.e. bit, int8, uint8, float32, int32, amd uint32) is a bit shady, I have been planning to post a separate issue on those

[2016-03-02 21:04] jannegpriv commented on #4126
Hi!

I don't know how the Amazon Ha Bridge integrations works, I'm using the built in VoiceCommand Item for the Android app to control my Harmony Hub.

However, you have used wrong double quotes for the "TV On" rule it seems.
harmonyStartActivity(“TV”)
At least compared to the "TV Off" rule.

BR,

/Janne

[2016-03-02 21:54] hln98 commented on #4126
Thanks but it still fails when I changed the correct quotes.

[2016-03-02 22:16] jannegpriv commented on #4126
I tested your item and PowerOff rule by including a Switch in one of my sitemaps, when I toggle that to OFF my Harmony Hub runs the PowerOff activity correctly. So your rules seems to work, at least in my setup.

What happens if you trigger the switch manually via a sitemap switch instead of using voice command?

BR,

/Janne

[2016-03-02 23:59] hln98 commented on #4126
I don't know what sitemap is. Can you elaborate? I added a switch called HarmonyTVSwitch in my demo.items file. That's not what you are talking about right?

[2016-03-03 07:30] hmerk opened #4128 "WeMo Binding: Devices not discovered due to wrong discovery message."
SSDP discovery needs to be changed to search for rootDevices,

Will provide a fix tonight.

Best
Hans-Jörg

[2016-03-03 08:01] #3311 closed

[2016-03-03 08:33] alex3kov commented on #4111
@lewie Here's a rundown of my test:
1. I deleted database directory (dbDerby)
2. dropped this jar https://github.com/lewie/openhab/blob/jdbc_derby_doCreateItemsTableIfNot-test/org.openhab.persistence.jdbc-1.9.0-SNAPSHOT.jar?raw=true in `addons` directory
3. started openhab, let it run for a while and stop. Starting/stopping openhab is done via this [script](https://github.com/openhab/openhab/wiki/

[2016-03-03 10:37] lewie commented on #4111
@alex3kov,

very curious!

Please can you add this lines temporarily to *[openhabfolder]/configurations/logback.xml* please.
[code]
So we get much more debug output. Restart, let it run and please send me openhab.log again.

Normally if a table could not be created an error is thrown.
So we'll have to keep looking.

in addition you can test to use SQlite, we would see, if it is especially a derby

[2016-03-03 12:43] alex3kov commented on #4111
@lewie I narrowed it down a bit: it creates tables on consecutive runs, when database directory is already in place; but fails on the first run, when database was just created. Attaching logs for both cases. I'm interested specifically in Derby - SQlite is not Java, I have no experience with H2 and I had Derby running for a couple of years, so it seems mature/stable enough. I'm willing to test wit

[2016-03-03 14:10] lewie commented on #4111
@alex3kov,
we are getting closer... values are written.

The error in openhab_existing_DB.txt was now a upper-, lowercase problem.
Derby ignores case when for example writing a new table, it converts all to uppercase.
But if you read it is finicky, have to ask for *ITEMS* instead of originally generated *items*.

Download and test this new jar:
https://github.com/lewie/openhab/blob/jdbc_derby_doCr

[2016-03-03 15:03] alex3kov commented on #4111
@lewie That new jar didn't change table creation behaviour. After `openhab_existing_DB.txt` run on previous jar (and this jar) tables were created (despite error in the log, it seems). See below attachments with comments, maybe I wasn't clear in previous comment.
[openhab_creating_DB_2.txt](https://github.com/openhab/openhab/files/156998/openhab_creating_DB_2.txt) - First run without dbDerby direc

[2016-03-03 15:13] TheKorn2 opened #4129 "Re-open SMTP issue #304"
Please reopen SMTP issue #304 .  Network sniff included showing openhab is not even attempting to send data before closing connection with email server.

(Then close this one, or I'll get it if someone else doesn't. ;) )

[2016-03-03 15:20] 9037568 commented on #4129
I would suggest starting a new issue, considering #304 is so old.

SMTP is working in all of my copies, but obviously your mileage is varying.

[2016-03-03 15:22] watou commented on #4129
:+1:

[2016-03-03 15:44] jannegpriv commented on #4126
No. :-)

Items:
https://github.com/openhab/openhab/wiki/Explanation-of-items
Sitemaps:
https://github.com/openhab/openhab/wiki/Explanation-of-Sitemaps
Rules:
https://github.com/openhab/openhab/wiki/Rules

These articles contains a lot of useful information:
http://www.makeuseof.com/tag/getting-started-openhab-home-automation-raspberry-pi/
http://www.makeuseof.com/tag/openhab-beginners-guide-part-2

[2016-03-03 15:46] lewie commented on #4111
@alex3kov,

Derby embedded has sometimes a known problem to opened two times/twice. So SQuirrell/openHAB can not refresh/read/write because sometimes database is locked. Be careful to connect to Derby embedded with openHAB and SQuirrell at same time.

See in in openhab_creating_DB_2.txt:
[code]
No errors nothing, so the Data is written! The Tables are definitely created. If not you would get Error

[2016-03-03 15:47] #4129 closed

[2016-03-03 15:50] TheKorn2 opened #4130 "SMTP not sending messages"
Openhab is failing to send a message on a rule to a non-TLS SMTP server.  Openhab sends EHLO, then HELO, then QUIT.  At that point the remote side hangs up, since Openhab requested QUIT, and no message is sent.  Seems as though there's either a missing payload between HELO and QUIT, or sending QUIT is premature.

mail settings I'm using:

mail:hostname=mail.thekorn.net
mail:port=26
mail:username=(

[2016-03-03 15:52] TheKorn2 commented on #4129
New issue opened as #4130 .

[2016-03-03 15:55] TheKorn2 commented on #4130
For those not super familiar with wireshark, once you load the capture file, go to analyze -> decode as -> transport -> SMTP.  (Wireshark doesn't automatically pick it because it's not on port 25.)

[2016-03-03 16:42] watou commented on #4130
Thanks for this report.  It's possible that there is a bug in Apache Commons Email.  It's also possible that this has been fixed by a [later version](https://commons.apache.org/proper/commons-email/changes-report.html).  openHAB is using commons-email-1.2.jar, which is now over six years old.  The latest is 1.4 from last May.  I can try to build you a new org.openhab.action.mail JAR with a later A

[2016-03-03 17:11] watou commented on #4130
@TheKorn2 Any interest in trying [this test JAR](https://dl.dropboxusercontent.com/u/4286376/update-commons-email/org.openhab.action.mail-1.9.0-SNAPSHOT.jar), which only differs from previous in that it uses Apache Commons Email 1.4 instead of 1.2?

[2016-03-03 17:12] hmerk commented on #4128
Just checked and could not reproduce discovery issues, so no fix needed.

[2016-03-03 17:12] #4128 closed

[2016-03-03 17:13] TheKorn2 commented on #4130
Absolutely!  (Don't have much to lose!  ;) )

Will test and report back.

[2016-03-03 17:49] alex3kov commented on #4111
@lewie It's not possible to boot the same database in two different applications - Derby will fail with XSDB6 error. I'm connecting to openHAB's database only after shutting down openHAB completely. Just did it again - tables are not getting created on the first run (when database directory gets created) and I'm getting
[code]
entries after openHAB was running for over 5 minutes.

[2016-03-03 19:52] TheKorn2 commented on #4130
Well, updated to that test jar, but still nova.  Here's the log...

2016-03-03 13:31:16.896 [INFO ] [runtime.busevents             ] - TEST_SWITCH_4 received command ON
2016-03-03 13:31:17.056 [INFO ] [g.openhab.model.script.openhab] - Switch 4 changed state:ON
2016-03-03 13:31:17.118 [INFO ] [g.openhab.model.script.openhab] - Sending vince a dumb email.

2016-03-03 13:31:17.656 [ERROR] [nhab.acti

[2016-03-03 20:03] watou commented on #4130
Is your issue in any way like [this](https://issues.apache.org/jira/browse/EMAIL-158?jql=project%20%3D%20EMAIL%20AND%20status%20in%20(Resolved%2C%20Closed)%20ORDER%20BY%20updated%20DESC%2C%20priority%20DESC%2C%20created%20ASC)?

Do you have verbose SMTP server logs (if you control that)?

[2016-03-03 20:30] 9037568 commented on #4130
It'd be interesting to see what the failure code is in both cases, since
the mail client starts by sending EHLO, but that fails for some reason, so
the client falls back to trying HELO. But then HELO also fails...

[2016-03-03 20:41] TheKorn2 commented on #4130
I'm not thinking that issue is relevant, since it seems to be specific to exchange.  (I believe my host runs Exim, but I can double-check if need be.)  The server supports EHLO, and also the standard HELO.  If I telnet in to port 26 and issue the commands by hand, everything looks normal:

[code]

(...that's about all I remember cold about how an SMTP transaction is supposed to work.  Obviously my

[2016-03-03 20:46] 9037568 commented on #4130
You could try enabling debug logging for the javamail package and see if
that generates anything interesting. I think it's 'mail.debug' or something
similar...

[2016-03-03 20:48] TheKorn2 commented on #4130
So add this to my logback_debug.xml ?

[code]

[2016-03-03 20:55] 9037568 commented on #4130
No, if you're using logback, I guess it'd be "javax.mail" instead of
"mail.debug".

I was thinking of doing it from the command line options, but logback
should be easier in this case.

On Thu, Mar 3, 2016 at 3:48 PM, TheKorn2 <notifications@github.com> wrote:

[2016-03-03 21:06] TheKorn2 commented on #4130
Mmm, doesn't look right since it didn't spit out much more info than we already had:

[code]

[2016-03-03 21:19] watou commented on #4130
Any chance you could configure tls=true and change the port?  Does the provider allow that?

[2016-03-03 21:21] TheKorn2 commented on #4130
Yes, my host does support doing TLS auth (via a different port).  That's actually where I started and backed down to non-TLS since it's usually easier to debug a non-TLS session than a TLS one.  But I'll try reconfiguring with the TLS settings and see if that makes any difference with the updated jar.

[2016-03-03 21:32] 9037568 commented on #4130
Based on the traces, you could also add

org.apache.commons.mail
org.apache.geronimo.javamail

[2016-03-03 21:36] TheKorn2 commented on #4130
TLS configuration didn't have anything substantially different...

[code]

(Reverted to non-tls config for easy packet sniffing.)

[2016-03-03 21:44] TheKorn2 commented on #4130
I'm not confident we're getting the debug output we should be getting.  I added this to logback_debug.xml:

[code]

Here's what gets spit out both to the console and to openhab.log:

[code]

...which doesn't look any different from when those three sections aren't in my logback_debug.xml , so...  yeah.  Before anyone asks, yes I'm running openhab using start_debug.sh .

[2016-03-03 23:26] lewie commented on #4111
hmm, shi....
where is OH running?
Hardware, Type, RAM...

I go from the options....

It would help me, that you test in your environment with SQlite. It is running on very much debian Linux VM's here, massive tested, stable as a rock!
For you it is same as Derby. You can touch with SQuirrell and while OH is running. ;-)

Th second thing is we should use a standard Environment. OH Demo for example.

[2016-03-04 02:58] 9037568 commented on #4130
You could crank the logging levels for the mail packages up to TRACE instead of DEBUG. Might get a bit more, though I'm not counting on it at this point.

[2016-03-04 04:20] 9037568 commented on #4130
Comments at the link below indicate that some mail proxies don't allow commands to arrive split across multiple packets (as here, where the E in the first EHLO comes in one packet and then HLO comes in the next packet). Although this still doesn't explain why EHLO/HELO/QUIT appear to be sent simultaneously.

https://social.technet.microsoft.com/Forums/en-US/06b2669b-a584-4426-abb8-b22af9fa9fb5/tel

[2016-03-04 04:42] mrguessed commented on #4130
I just tried a non-TLS, but Login-required, SMTP server (Comcast) with this test code and it went through to my inbox:

[code]

Given how the packet is being packed, I'm wondering if there's a a difference in how `sendMail()` it's being called.

eg. Non Latin-1 chars, or one of the other `sendMail()` variants.

@TheKorn2: You may want to add the text of your test Rule, just in case there's somethi

[2016-03-04 05:53] alex3kov commented on #4111
I'm on [Cubieboard1](http://docs.cubieboard.org/products/start#cubieboard1), running [this Debian](http://www.armbian.com/). It has been running smoothly for about a month now, 24/7.
Attaching the logs of what I got after changing jdbc url to `jdbc:url=jdbc:sqlite:./sqlite.db`, commenting out `jdbc:user` and `jdbc:password` and dropping this [jar](http://central.maven.org/maven2/org/xerial/sqlite-

[2016-03-04 10:12] lexkanev commented on #3400
Hello!

My new device Fibaro FGS-211 switch is not in database.

Device initialized with the following:
deviceId **0x400a**
deviceType 0x400

Can the deviceId = **400a** be added to "products.xml" file?

Thnx.

[2016-03-04 10:24] lexkanev commented on #3400
Unfortunately I have no experience to build .jar file with zwave bindings from src.
Where can I find instructions to do this?

Thnx.

[2016-03-04 11:02] TheKorn2 commented on #4130
@9037568 Yup, changing debug to trace didn't shed much more light, but presented for completeness sake:

[code]

@mrguessed Shouldn't be anything even close to funky going on with regards to charset.  Everything should be fully represent-able by 7-bit ASCII, let alone 8-bit UTF-8.

Test rule is really unremarkable, but presented for completeness' sake.  Item definition:

`Switch TEST_SWITCH_4 "Tes

[2016-03-04 11:03] watou commented on #4130
This may be unrelated to this issue, but I see that Apache Commons Email 1.4 [depends on javax.mail 1.5.2](https://issues.apache.org/jira/browse/EMAIL-144), even though it does not set the dependency in its own MANIFEST.MF.  openHAB 1 and 2 both use javax.mail 1.4.0.v201005080615 ([openHAB 2](https://github.com/openhab/openhab-deps-repo/blob/master/features/org.openhab.deps.runtime/feature.xml#L52

[2016-03-04 14:28] mrguessed commented on #4130
Does it occur when your run an Oracle JDK instead of OpenJDK?

[2016-03-04 16:02] TheKorn2 commented on #4130
@mrguessed Good question!  I decided that was a large enough change that I didn't want to do it on my production hardware.  I quickly imaged the drive and brought that drive image into a virtual machine with no changes.  (zwave wouldn't run obviously because of no hardware, but that hardly matters here.)  Verified the original problem still happens when in the VM.  Then I removed openJDK and repla

[2016-03-04 16:45] mrguessed commented on #4130
There are a few differences between your env and mine, and perhaps these are contributing to the issue.  I suspect that the issue is on the calling side because, as you noted, the `EHLO` `HELO` `QUIT` smtp sequence is all in one packet, very early on in the sequence.... which is never going to work.

Here are the differences I can see

* Java 7 vs Java 8 - Java 1.7 was EOL'd ~ mid last yr.  It mig

[2016-03-04 16:52] mrguessed commented on #4130
oh, since the `EHLO` is sent out after the smtp greeting (as expected), there's also the possibility that that's triggering a latent bug in the commons-email code.

In your case, the smtp is using a multi-line 220 (3x lines) response, and mine is single line 220.

Is there another Email server you could point at to test that theory?  Looks like `smtp.gmail.com` is using a single line 220 response

[2016-03-04 17:20] TheKorn2 commented on #4130
Well, I have good news, and I have bad news.

The bad news:  the only other server I have access to (that runs on a completely independent hosting service) **_also happens to be running Exim 4.86_1_**

[code]

The good news:  even though a completely independent hosting company (and they have _wildly_ different configurations and permissions) the bug manifests identically trying to send to both se

[2016-03-04 17:31] TheKorn2 commented on #4130
It occurs to me that a quick way to pretty much eliminate most (if not all) of those variables that you noted would be to give you a temporary email account you could auth against on thekorn.net .  I wouldn't be opposed to doing that on a temporary basis.

[2016-03-04 17:39] watou commented on #4130
One area to consider:

The current implementation of `sendMail` is setting `setTLS(true);` but this confusingly means "connect with a normal socket, but then attempt to switch to secure using STARTTLS".  That's why the Apache Commons Email people later sensibly deprecated `setTLS` in preference to `setStartTLSEnabled`.

It seems possible that these SMTP servers won't work that way.  They may requi

[2016-03-04 17:50] TheKorn2 commented on #4130
I have nothing working (as far as SMTP goes) right now, so you can from here on out safely assume I'm willing to try whatever.  ;)

[2016-03-04 17:51] TheKorn2 commented on #4130
You are remembering that I reverted back to my non-TLS config though, right?  (I can switch back and forth easily, it's just usually harder to debug protocol+tls than just protocol)

[2016-03-04 18:11] watou commented on #4130
OK, try [this](https://dl.dropboxusercontent.com/u/4286376/update-commons-email/org.openhab.action.mail-1.9.0-SNAPSHOT.jar), but change your openhab.cfg to have
[code]
and make sure you are setting a port that supports SMTPS.

[2016-03-04 18:49] TheKorn2 commented on #4130
Done.  (Tested on my VM so I could roll back the change easily.)  No substantive change in behavior.

[code]

I also did a tcpdump just to make sure the session was TLS from the start, and it is.  I can provide a copy if you'd like but since it's TLS there really isn't much to see without the keys.

[2016-03-04 19:01] lewie commented on #4111
Cubieboard, debian... all well. :-)
- SQlite jar well... (did you delete or move derby jar away from addons folder?)
- Please can you give me output of command *java -version* from Linux Shell?
- Openjdk should run well, but best is [Oracle Java 8](http://www.webupd8.org/2014/03/how-to-install-oracle-java-8-in-debian.html)

A new JDBC jar, had a deeper look at Derby DAO, some improvements and a fi