[2015-11-19 00:26] steve-bate commented on #1618
Should this issue be closed? It appears the PR was merged.

[2015-11-19 00:39] steve-bate commented on #1635
@hvoss, should this issue be closed?

[2015-11-19 00:47] steve-bate commented on #1682
Will you please  clarify if this is a feature request, a bug report or just an observation?

[2015-11-19 00:53] steve-bate commented on #1699
Should this issue be closed?

[2015-11-19 00:57] #1726 closed

[2015-11-19 01:00] #1738 closed

[2015-11-19 01:08] steve-bate commented on #1742
@dougmeredith, can this issue be closed?

[2015-11-19 01:11] steve-bate commented on #1745
Has the wiki been updated? Can this issue be closed?

[2015-11-19 01:16] #1768 closed

[2015-11-19 01:18] #1774 closed

[2015-11-19 01:25] #1787 closed

[2015-11-19 01:28] steve-bate commented on #1800
Can this issue be closed?

[2015-11-19 01:31] #1805 closed

[2015-11-19 01:32] #1817 closed

[2015-11-19 01:34] #1818 closed

[2015-11-19 01:41] steve-bate commented on #1837
@marcelerkel, can this issue be closed?

[2015-11-19 01:55] #1877 closed

[2015-11-19 01:58] #1937 closed

[2015-11-19 02:00] #1946 closed

[2015-11-19 02:05] steve-bate commented on #2005
Closing, since mqttwarn provides the requested feature.

[2015-11-19 02:05] #2005 closed

[2015-11-19 02:08] steve-bate commented on #2027
@tdiekmann, can this issue be closed?

[2015-11-19 02:19] watou commented on #3436
I believe this issue is the result of [documentation](https://github.com/openhab/openhab/wiki/Netatmo-Binding) not identifying which features have been added in openHAB 1.8.  @robnielsen , please update [the wiki](https://github.com/openhab/openhab/wiki/Netatmo-Binding) so users know which features are present in which versions.

[2015-11-19 02:20] steve-bate commented on #3382
@bodiroga, have you asked for help in the community forum? If so, was there any feedback?

[2015-11-19 02:21] steve-bate commented on #3384
@9037568, can this issue be closed?

[2015-11-19 06:28] hvoss commented on #1635
@steve-bate yes this issue can be closed.

[2015-11-19 06:34] #1635 closed

[2015-11-19 08:10] anordvall commented on #3384
Yes I've verified that it works just fine. Thanks!

[2015-11-19 08:51] #3384 closed

[2015-11-19 10:54] #3357 closed

[2015-11-19 11:13] steve-bate commented on #3353
To clarify, you want the *rule* filename and line number in the log, right? The Java file name and line number is already there.

[2015-11-19 11:15] steve-bate commented on #3339
Closing issue since solution has been provided.

[2015-11-19 11:15] #3339 closed

[2015-11-19 11:17] steve-bate commented on #3338
@dan1001, can this issue be closed?

[2015-11-19 11:32] steve-bate commented on #3216
Can this issue be closed?

[2015-11-19 11:32] watou commented on #3338
This was a two-part issue.  The first (attachments named "Attachment") is fixed in 1.8.

The second ("urls with basic authentication aren't accepted (i.e. username:password@)") is not fixable in openHAB, since openHAB uses Apache Commons Email which handles the URLs.  The workaround is to pull the attachment locally, and then use a file:// URL to attach to the email.

[2015-11-19 11:35] steve-bate commented on #3338
@teichsta. This is a little complicated because it's two issues in one entry. Should we label it as "wont-fix" (for the second part) and close the issue?

[2015-11-19 11:35] Dan1001 commented on #3338
Steve, I'm not sure - the attachment now arrives but it sometimes seems to be corrupted. When I have more time I need to look at whether there's something wrong in my workaround (i.e. the rule that pulls the attachment locally) or some kind of remaining bug...

[2015-11-19 11:36] #3201 closed

[2015-11-19 11:39] steve-bate commented on #3157
I'm closing this issue since the related PR is merged.

[2015-11-19 11:39] #3157 closed

[2015-11-19 12:00] steve-bate commented on #3091
Just FYI, this is possible with JSR223 rules (using Jython, for example).

[2015-11-19 12:20] staehler commented on #3326
Sorry for being late. I don't use regularly the nightly build, so I can't give a general OK, but few weeks ago it worked fine. Thanks!
If you think this problem is solved, then please close this issue.

[2015-11-19 14:50] marcelerkel commented on #1837
PR2880 should indeed have solved this as well. @gersilex can you confirm that this is no longer an issue?

[2015-11-19 15:49] nickma82 commented on #626
Just to note that, it potentially affects the following problems:
https://community.openhab.org/t/modbus-binding-multiple-serial-masters/3383
https://community.openhab.org/t/modbus-serial-failed-to-read/3430
https://groups.google.com/d/topic/openhab/0BtLVPpta9U

[2015-11-19 16:04] gerrieg commented on #3428
@mrx23dot
I always get a value for the current temperature. Can you please post your coordinates (or send it by mail)? I need to know the exact value Wonderground is sending.

[2015-11-19 16:37] hmerk commented on #449
Patrick's app X:O is available in M$ App-Store and runs fine with Win8 and Win10.

Best
Hans-Jörg

[2015-11-19 18:23] bodiroga commented on #3382
No, as it was an specific question for Chris I thought that the issue tracker was a better place to post it, but I will create a new message in the community forum using the same content and I will wait to see if anyone else can confirm it.

Many thank for the work you are doing for the community @steve-bate ! ;)

[2015-11-19 19:17] teichsta commented on #3382
so let's close this question meanwhile. Please feel free to reopen once you're are clear this observation is a bug …

[2015-11-19 19:17] #3382 closed

[2015-11-19 19:18] cdjackson commented on #3416
Thanks. Just a note (in case you do any more :) ) - it's best to keep the label length short so that they fit in the UI...

I appreciate you doing this...

[2015-11-19 19:18] #3416 closed

[2015-11-19 19:35] mrx23dot commented on #3428
sent in email.

[2015-11-19 19:36] mrx23dot commented on #3428
sent in email.

[2015-11-19 21:33] gersilex commented on #1837
22:32:09 INFO o.o.m.c.i.ModelRepositoryImpl | Refreshing model 'default.sitemap'
    22:32:24 INFO r.busevents | scene received command Essen=toll

fix confirmed. Thank you very much!

[2015-11-19 21:33] #1837 closed

[2015-11-19 21:41] gitbock commented on #2864
Just wanted to say that I would appreciate this as well. Tried the following, but it does not format the color
[code]

Thanks.

[2015-11-19 21:46] gersilex commented on #2864
@gitbock nice idea.

Maybe we can implement the tenary operator for booleans like *changedSince* to stay more consistent with current programming languages:

   Text item=weather valuecolor=[(temperature.changedSince(now.minusMinutes(100))) ? "green" : "red"]

(boolean expression) ? (ifTrue) : (ifFalse)

[2015-11-19 21:59] steve-bate commented on #3084
Closing issue based on comment from @csowada .

[2015-11-19 21:59] #3084 closed

[2015-11-19 22:01] #3080 closed

[2015-11-19 22:02] steve-bate commented on #3068
@paphko, any comments on this bug report?

[2015-11-19 22:05] #3061 closed

[2015-11-19 22:06] else commented on #3080
Why is this closed without comment?

[2015-11-19 22:07] steve-bate commented on #3080
I closed it because there was no further discussion after the suggestion to discuss this in the community forum and update the wiki with the results.

[2015-11-19 22:41] steve-bate commented on #2979
Can this issue be closed now that the PR is merged?

[2015-11-19 22:47] steve-bate commented on #2946
@afflux, did you try the suggested solution?

[2015-11-19 22:50] steve-bate commented on #2943
Since the PR is merged, can we close this issue?

[2015-11-19 22:52] CWempe opened #3442 "allow wider range of chart scale for higher dpi displays"
I just realized the scale factor for the chart servlet is restrictet from 0.5 to 1.0.
https://github.com/openhab/openhab/blob/0ca751504d050b1059988f47280dc89e832e3e54/bundles/ui/org.openhab.ui/src/main/java/org/openhab/ui/internal/chart/ChartServlet.java#L312

Is there a particular reason for that?

I am using a Sasmung Galaxy S6 with a 575 dpi display.
I can use a scale of 0.5, but it would be mo

[2015-11-19 23:01] paixaop commented on #3216
i see no problem

On Thu, Nov 19, 2015 at 6:32 AM, Steve Bate <notifications@github.com>
wrote:

--
Do It Right or Don't Do It At All!

[2015-11-19 23:02] steve-bate commented on #2885
@brutevinch Should this issue be closed?

[2015-11-19 23:06] steve-bate commented on #2876
@fabvador Has the change been merged? Can the issue be closed?

[2015-11-19 23:08] #3216 closed

[2015-11-19 23:11] CWempe commented on #3442
I created a pull request.
https://github.com/openhab/openhab/pull/3444

[2015-11-19 23:11] #3442 closed

[2015-11-19 23:13] steve-bate commented on #2801
@lewi Can we close this issue?

[2015-11-19 23:29] steve-bate commented on #2742
Since the PR is merged, can we close this issue?

[2015-11-19 23:30] steve-bate commented on #2732
@lewie, can this issue be closed?

[2015-11-19 23:42] CWempe opened #3445 "ntp:refresh with low value can cause WARN"
I set up an openhab system with a friend.
We copied the old config and had a problem with the ntp binding.

Avery 5 seconds there war a WARN-Log.

    2015-11-20 00:20:03.671 [WARN ] [inding.ntp.internal.NtpBinding] - couldn't establish network connection [host 'de.pool.ntp.org'] -> returning current sytem time instead
    2015-11-20 00:20:08.704 [WARN ] [inding.ntp.internal.NtpBinding] - couldn't

[2015-11-19 23:48] steve-bate commented on #2552
Since the PR is merged, can we close this issue?

[2015-11-19 23:54] steve-bate commented on #2508
@lewie Since the related PR was merged, can we close this issue?

[2015-11-19 23:57] steve-bate commented on #2486
@roblad Do you know if this is still an issue with 1.7.*?

[2015-11-19 23:58] steve-bate commented on #2431
@belovictor Any followup on this issue?

[2015-11-20 00:13] steve-bate commented on #2330
@Eppa Can we close this issue?

[2015-11-20 00:14] #2318 closed

[2015-11-20 00:26] steve-bate commented on #2145
@mrguessed Since the related PR was merged, can this issue be closed?

[2015-11-20 00:32] steve-bate commented on #2177
Since the related PR is merged, can we close this issue?

[2015-11-20 00:38] steve-bate commented on #2522
Are you still seeing this behavior? I run the openHAB classic UI from Chrome on a Mac and I haven't seen the issue.

[2015-11-20 00:55] watou commented on #2522
I haven't noticed the issue for some time; not sure why.  I will re-open this if I see it again. Thanks for checking.

[2015-11-20 00:55] #2522 closed

[2015-11-20 07:08] sja commented on #2742
No, its not merged. OH1 still need a merge. @teichsta should merge this, after @belovictor answers teichsta's question at the comment section in the PR.

[2015-11-20 07:31] kaikreuzer commented on #2742
Could you please provide a link to that?

[2015-11-20 07:36] sja commented on #2742
Sure: https://github.com/openhab/openhab/pull/2927#issuecomment-154861686

[2015-11-20 07:49] mrguessed commented on #2145
@steve-bate,
It's not fixed, the referenced PR fixed the two issues that were closed out, but this problem remains.

[2015-11-20 07:51] mrguessed commented on #2145
That said, it can be assigned to me.  I don't have rights to do bug assignment, but I tend to file bugs against myself for book-keeping of open/outstanding issues that users may run into in practice.

[2015-11-20 08:03] cdjackson commented on #2177
No. We need to resolve this yet.

[2015-11-20 09:34] mangelajo opened #3446 "Get an error warning when trying to use a non available binding."
It's very hard to debug when you're trying to use a non existing binding, the logs give no error, and you become really frustrated trying to guess why your items do not connect to the binding.

This happened to me twice, once when trying to use mqtt bindings, and once when using xbmc bindings, this last time I had the action plugin, but the binding was forgotten.

Thanks,
Miguel.

[2015-11-20 10:00] paphko commented on #3068
I'm sorry, I didn't see that bug. I'll check that as soon as I find some time.

[2015-11-20 10:41] paphko commented on #3068
I just checked the 'documentation' of the communication protocol: http://www.anel-elektronik.de/forum_neu/viewtopic.php?f=16&t=207#p574
There are two new entries specifying the model and some power measurement infos. So the AnelDataParser class must be adjusted to parse such an extended string.

The quick and easy fix would be to also accept 28 entries and ignore the two new entries by replacing l

[2015-11-20 11:09] #2885 closed

[2015-11-20 11:19] steve-bate commented on #3104
@watou @teichsta I'm reviewing open critical bug reports. It looks like merged PR #3104 partially fixes this issue. Can someone summarize what remains to be fixed and if that is still a critical bug? Thanks.

[2015-11-20 11:23] steve-bate commented on #2945
@teichsta @kaikreuzer Given this appears to be fixed in OH1 and OH2 has a separate issue set, should we close this issue and open one in OH2 for syncing the changes?

[2015-11-20 11:27] steve-bate commented on #1613
@teichsta @kaikreuzer Any update on this issue? Is it still critical?

[2015-11-20 11:32] steve-bate commented on #765
@teichsta Does this mean we should label this issue as wont-fix?

[2015-11-20 12:11] kaikreuzer commented on #2945
No, for critical fixes in the core, the fix must be applied at OH1 and ESH at the same time. Actually this PR should never have been merged so far.

[2015-11-20 12:15] kaikreuzer commented on #1613
Seems as if @teichsta didn't consider this to be important for OH1, but he has to comment on how he wants to proceed.
For ESH/OH2, this is not an issue, so I just removed the ESH label.

[2015-11-20 13:20] kaikreuzer commented on #2145
@mrguessed Now you do ;-)

[2015-11-20 13:37] robnielsen commented on #3436
@steve-bate this defect can be closed.

[2015-11-20 13:42] #3436 closed

[2015-11-20 14:28] 9037568 commented on #3445
I don't think it's ever a good idea to ignore a configuration setting a
user has established.

If I choose to set the NTP refresh to 1, that's what it should be.

On Thu, Nov 19, 2015 at 6:42 PM, Christoph Wempe <notifications@github.com>
wrote:

[2015-11-20 15:20] Sandolution opened #3448 "Pilight connector NullPointerException"
Hi all,

I’m trying to attach pilight to openhab using the pilight connector, but I’m getting a nullpointer exception. See error below. I’m not sure if this is a bug or a mistake from my side.

Error:
[code]

Config files:
/opt/openhab/configurations/items/tom.items
[code]

/opt/openhab /configurations/sitemap/tom.sitemap
[code]

/opt/openhab /configurations/openhab.cfg
[code]

/etc/pilight/config

[2015-11-20 15:29] idserda commented on #3448
Looks like you're using the wrong port. pilight has two ports that can be configured:

[code]

The openHAB pilight binding should connect to the 'port', not the webserver port.

[2015-11-20 15:56] Sandolution commented on #3448
Thanks for your quick answer. I changed the webserver port just to test if that would solve the problem, but the problem was there before I changed the webserver port. Changed it back to 5001, but the error still comes up.

[2015-11-20 16:36] mrguessed commented on #3317
This issue was fixed by the base PR #3377

[2015-11-20 16:36] #3317 closed

[2015-11-20 16:41] mrguessed commented on #3081
@beowulfe,
The application of the transform multiple times (chained) was in fact buggy, it shouldn't have done that.  I saw that in action while enhancing the Lock handling logic, and this is now fixed in the PR associated with #3317.

Many thanks for pointing it out!

[2015-11-20 16:41] #3081 closed

[2015-11-20 17:20] Tbeerten commented on #3448
Hi Sandolution,

I've been having the samen problem, i also use port 5001 for the web-GUI and 5000 for the connection with openHAB but I keep getting the same Errors as you do. Hoever it does work while using the pilight GUI.

[2015-11-20 18:00] oliver-M commented on #765
I have some spare time next week. Maybe I can spent some time to find a
solution for this issue.

regards
Oliver
Am 20.11.2015 12:32 schrieb "Steve Bate" <notifications@github.com>:

[2015-11-20 20:22] CWempe commented on #3445
I see your point.
Actually that's kind of my argumentation for another issue. ^^
https://github.com/openhab/openhab/pull/3444

How about adding a comment like: "Setting the value too low might result in not connecting to the time server."

[2015-11-20 20:27] 9037568 commented on #3445
Agreed, extra documentation is almost always a good thing.

[2015-11-21 02:22] steve-bate commented on #3218
@fmatray Have you had a chance to try the fix for #3218?

[2015-11-21 10:08] idserda commented on #3448
What version of pilight are you using?

[2015-11-21 11:02] temuccio commented on #3436
Thanks @robnielsen @9037568

[2015-11-21 11:46] steve-bate commented on #3445
@CWempe @9037568 Are you thinking of wiki documentation, logging, both? If it's wiki documentation, will you go ahead and update the wiki and close the issue. Thanks!

[2015-11-21 11:56] gerrieg commented on #3428
The log looks good, there are null values, because different providers sends different data. This is a common model.
Which properties are null after correct poll? Please add this to your logback.xml:
[code]
This logs request/response data too. We have to find out, if the provider sends really no value or maybe a error message i do not catch.

[2015-11-21 12:06] dasniko opened #3451 "Dropbox binding permission issue"
I've experiencing problems with the Dropbox binding.
My environment:
- Raspberry Pi 2 B with Raspbian Wheezy
- openHAB 1.7.1 installed via `apt-get`

First, the authentication could not be finished, b/c there was no permission to create/write to the file `authfile.dbx`. After I created it and set the permissions pessimisticly to `666`, the authentication worked.

Now the upload works, but there ar

[2015-11-21 13:19] Sandolution commented on #3448
I'm using pilight version 7.0, which I manually compiled using the [Pilight Manual](http://manual.pilight.org/en/installation#pf3). All the systems (openhab/pilight) are newly installed, which I then configured using the files described above.

I'm using the newest Raspberry Pi running Minibian.

[2015-11-21 13:42] idserda commented on #3448
Ok, I'm also on 7.0 (development branch, commit 6f3a679). Which version of the pilight binding are you using? If possible get the latest snapshot build.

Do you see this error every time you change the switch, or only after some time?

Also, please try explicitly configuring port in pilight with

[code]

When I leave this out of my pilight config it just picks a random port:

[code]

[2015-11-21 13:58] Sandolution commented on #3448
I'm using the latest pilight available from the master branch, 24e7387 committed on 25 May.

Also using the latest addons from the openhab site, distribution-1.7.1-addons.zip.

The error occurs everytime I change the state of a switch.

I'm currently not at home, but when I'm back home I will try to do a clean install using the latest snapshot build and explicitly configuring the port in the confi

[2015-11-21 14:17] lewie commented on #2801
Yes!

[2015-11-21 14:17] #2801 closed

[2015-11-21 14:22] lewie commented on #2732
Yes, it can be closed. It's outdated, there are newer solutions.

[2015-11-21 14:23] lewie commented on #2508
Yes!

[2015-11-21 14:23] #2508 closed

[2015-11-21 14:23] steve-bate commented on #2732
@lewie Thanks!

[2015-11-21 14:23] #2732 closed

[2015-11-21 14:26] steve-bate commented on #3432
PR #3441

[2015-11-21 20:28] theoweiss commented on #3451
As I already noted here https://github.com/openhab/openhab/issues/886#issuecomment-77055083 I think it is an issue of the dropbox binding:

[code]

@teichsta I would suggest to use the smarthome.userdata property and an additional subdirectory as default. The current code looks like this:
[code]

[2015-11-21 20:51] steve-bate commented on #3244
Linking issue to PR #3453.

[2015-11-21 20:57] CWempe commented on #3445
I was thinking about the comment inside openhab.cfg.

    ################################ NTP Binding ##########################################
    #
    # refresh interval in milliseconds (optional, defaults to 900000 [15 minutes])
    # Setting the value too low might result in not connecting to the time server.
    #ntp:refresh=

    # the hostname of the timeserver
    #ntp:hostname=

Feel f

[2015-11-21 21:29] steve-bate commented on #3445
Do you know why you only saw the connection failure once every 5 seconds? My guess is the real issue is that you were being throttled by the NTP server for sending too many requests with the 1 ms interval. If so, I'd suggest something like "Setting the value too low might result in connection failures due to server throttling."

[2015-11-21 22:41] kaikreuzer opened #3454 "Twitter action is not compatible with openHAB 2"
See https://community.openhab.org/t/twitter-binding-in-openhab2/3149.

The exceptions seems to suggest that the action tries to store a token in the etc folder - but this does not exist in openHAB 2. It should instead persist it in the userdata folder, like other addons do it, see e.g. https://github.com/openhab/openhab/blob/master/bundles/persistence/org.openhab.persistence.rrd4j/src/main/java/or

[2015-11-21 22:44] tdiekmann commented on #2027
Yes, sure.

[2015-11-21 22:56] #2027 closed

[2015-11-21 23:16] CWempe commented on #3445
To further analyse the cause for this error, I just tested different values in demo mode.
I could not even reproduce the error. :/

30000 ms (30s)

1ms
1 ms

It seems to be just limited by the network latency (~50ms)

So I guess we don't even need a warning, because the user could set the value to "1ms" if he likes.

Issue closed?

[2015-11-22 00:51] steve-bate commented on #3445
Sounds good to me. Thanks @CWempe.

[2015-11-22 00:51] #3445 closed

[2015-11-22 00:57] steve-bate commented on #3301
Please move further discussion of this topic to the community forum. Thanks.

[2015-11-22 00:57] #3301 closed

[2015-11-22 00:59] steve-bate commented on #2415
It appears that configuring the app to run with Java 8 is the answer to this question. Closing the issue.

[2015-11-22 00:59] #2415 closed

[2015-11-22 01:08] steve-bate commented on #2429
For cached items, they are retrieved according to the refreshintervalinmilliseconds. When the data is retrieved from the cache, if the cache is expired (based on the updateInterval), the page is requested and the cache is refreshed. Remember that any number of items may be accessing data from the same cache and extracting different aspects of it. Please move further discussion to the community for

[2015-11-22 01:08] #2429 closed

[2015-11-22 01:09] steve-bate commented on #2356
Will you please move further discussion of this question to the community forum? Thanks.

[2015-11-22 01:09] #2356 closed

[2015-11-22 01:10] steve-bate commented on #2405
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:10] #2405 closed

[2015-11-22 01:13] steve-bate commented on #2638
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:13] #2638 closed

[2015-11-22 01:14] steve-bate commented on #2709
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:14] #2709 closed

[2015-11-22 01:15] steve-bate commented on #3010
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:15] #3010 closed

[2015-11-22 01:16] steve-bate commented on #3369
You can set the logger level for org.asteriskjava.manager.internal.ManagerConnectionImpl to ERROR. Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:16] #3369 closed

[2015-11-22 01:17] steve-bate commented on #2990
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:17] #2990 closed

[2015-11-22 01:18] steve-bate commented on #3166
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:18] #3166 closed

[2015-11-22 01:19] steve-bate commented on #3184
Thanks for contributing to the documentation and I hope you were able to resolve your git issue. Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:19] #3184 closed

[2015-11-22 01:20] steve-bate commented on #1467
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:20] #1467 closed

[2015-11-22 01:21] steve-bate commented on #1535
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:21] #1535 closed

[2015-11-22 01:22] steve-bate commented on #1659
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:22] #1659 closed

[2015-11-22 01:22] steve-bate commented on #1834
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:22] #1834 closed

[2015-11-22 01:23] steve-bate commented on #1872
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:23] #1872 closed

[2015-11-22 01:23] steve-bate commented on #1941
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:23] #1941 closed

[2015-11-22 01:25] steve-bate commented on #1965
@cdjackson What's the latest status on this issue? Thanks.

[2015-11-22 01:25] steve-bate commented on #2350
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:25] #2350 closed

[2015-11-22 01:26] steve-bate commented on #3098
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:26] #3098 closed

[2015-11-22 01:31] steve-bate commented on #2408
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:31] #2408 closed

[2015-11-22 01:33] steve-bate commented on #2240
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:33] #2240 closed

[2015-11-22 01:37] steve-bate commented on #2041
It looks like the mDNS service is giving up after several attempt to communicate when the ethernet cable is disconnected. Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:37] #2041 closed

[2015-11-22 01:38] steve-bate commented on #2088
Is this still happening with 1.7.1? Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-22 01:38] #2088 closed

[2015-11-22 02:16] thatoneguy99 commented on #3128
Did this ever go anywhere or is it still outstanding?

[2015-11-22 02:53] jhuizingh commented on #3128
I never did anything with it. I tried to get the development environment set up, ran into a snag, and haven't had the time or energy to do anything on it since then. If anybody else wants to work on it, that would be great!

[2015-11-22 03:20] thatoneguy99 commented on #3128
This is where I got with it. I can see the node and it shows the green icon in HABMIN. I can only test this. I wouldn't even know where to begin in trying to actually make it work.

2015-11-21 21:20:41.693 [INFO ] [rialApiGetInitDataMessageClass] - NODE 1: Node found
2015-11-21 21:20:41.694 [INFO ] [rialApiGetInitDataMessageClass] - NODE 3: Node found
2015-11-21 21:20:41.694 [INFO ] [rialApiGetIni

[2015-11-22 04:10] thatoneguy99 commented on #3128
Do you have an idea of what needs to be done?

[2015-11-22 08:12] cdjackson commented on #1965
Unresolved at the moment

[2015-11-22 08:17] cdjackson commented on #3128
I think I know what might be up - I'll take a look today

[2015-11-22 08:36] cdjackson commented on #3128
Sorry - I looked at the first problem, which was fixed. The logs don't show any problems so I'm not sure there's much I can do.

@thatoneguy99 Are you just reporting the warnings, or does it not actually work as I don't see any problem at all in your log (it's not a debug log, so there's nothing to go on though)

[2015-11-22 13:37] thatoneguy99 commented on #3128
It does not work. I will post a full debug log today.

[2015-11-22 14:39] thatoneguy99 commented on #3128
So this is my full debug log. It is fresh for this instance of starting OH. You can see that I also switched Node 3(scent), which works, to show that the problem isn't with my controller. I am on 1.8 as of yesterday's Cloudbees SNAPSHOT.
 I have the Garage_door item setup as a switch but if this needs to be something else I can change that. It states that it is updated from OFF to ON and received

[2015-11-22 14:44] cdjackson commented on #3128
Please also provide your item configurations. I’d be VERY surprised if a zwave garage door opener didn’t use zwave protocol to also provide status...

[2015-11-22 14:47] cdjackson commented on #3128
Everything looks fine in the log. Please provide your configuration and the XML file for node 5.

[2015-11-22 14:51] thatoneguy99 commented on #3128
So reading my post I think there may have been some confusion. I agree that the garage door opener itself uses Zwave to provide status but I do not think the separate little tilt sensor uses Zwave to talk with the garage door opener.
 If it does use Zwave then I will mess with it to try and pair it to my network.

http://pastebin.com/rwdazp1a -  Items

http://pastebin.com/AVpYNSUS - XML

Is pasteb

[2015-11-22 14:55] cdjackson commented on #3128
Yes, I understood that, but I would be surprised if they didn’t use ZWave - it would be a very strange thing to provide a zwave sensor that used a different system for status.

My guess is that this device only works with the secure command classes. If so, you can’t use it with OH at the moment.

The only thing left to try is to delete the XML file and restart OH and send me the XML again. I doubt

[2015-11-22 14:56] cdjackson commented on #3128
I confirmed with the pepper database - this device can only be used with secure classes, so can’t be used with OH. Sorry.

[2015-11-22 14:57] thatoneguy99 commented on #3128
OH2? Or is that same problem?

[2015-11-22 14:59] cdjackson commented on #3128
The issue is that openhab zwave binding doesn’t support the security classes at the moment, so there’s not much we can do until this support is added.

[2015-11-22 15:00] thatoneguy99 commented on #3128
Ah ok. Well thank you for looking into it. I am still within my return window so I will just take it back. I had bought the Iris to begin with HA but it was very limited. I will stick with OH. Thank you.

[2015-11-22 15:02] cdjackson commented on #3128
Hopefully we wll get the secure classes supported in the (near?) future, but ‘near’ might be a few months I would guess…

[2015-11-22 15:05] thatoneguy99 commented on #3128
Is this up to someone else to provide OH with something or is it up to the devs to figure something out. If it is up to the devs where is it at on the priority? Low-Medium-or High. I want this device so I may just hold onto it for when it is supported. Hmmm. Decisions decisions!

[2015-11-22 15:10] cdjackson commented on #3128
Well, OH is a community project, so we are all 'the devs’ :)

I personally don’t have any secure devices, and am spending most of my time on OH2 right now, but another user is working on it. It is working, but there are issues with stability. Take a look on the forum - do a search for Schlage Lock (or however it’s spelt!).

[2015-11-22 15:12] thatoneguy99 commented on #3128
Ok thanks again.

[2015-11-22 15:16] theoweiss commented on #3451
@dasniko as a workaround,  can you check if this procedure solves the problem:
[code]
And add the following line to your openhab.cfg
[code]

[2015-11-22 15:37] steve-bate commented on #643
I run openHAB on a Raspberry Pi and have not seen any memory leaks in 1.7.1/1.8.0 related to this issue. Given there has been no followup for over a year, I'm going to close the issue.

[2015-11-22 15:37] #643 closed

[2015-11-22 15:44] steve-bate commented on #1380
@planesweep Are you seeing this issue in the latest versions of openHAB?

[2015-11-22 15:50] steve-bate commented on #294
@kaikreuzer It seems like we should consider closing issues when the issue is resolved. Fixing a bug is one resolution, deciding not to fix it or deciding it is irrelevant are other possible resolutions. I'm not completely sure which resolution, if any, applies to this issue which has been open for over 2 years with very little activity. Thoughts?

[2015-11-22 16:03] kaikreuzer commented on #294
Well, as far as I know the bug still exists and I also think it is relevant as it means that it is simply not possible to store CallItems in db4o. We could only say that we do not have any develiper/maintainer willing to go for it and fix it and thus wait until I have found a solution in ESH for it, so that with the upgrade to openHAB 2.0 the problem is gone.

[2015-11-22 16:23] steve-bate commented on #294
Is it really a bug or just a limitation of the db4o persistence service? We don't support storing all data types in all persistence services. For example, rrd4j has significant limitations on the data types it can store. Is it reasonable to document the db4o limitation on the wiki with a note that it should be possible to add that feature if someone has the time to do the work? We could also sligh

[2015-11-22 16:45] steve-bate commented on #2999
@Testato Can you provide more details about how to reproduce this problem. It doesn't seem to be an issue when doing a PUT to the REST API using command line scripts (Python or curl, for example). Is this only a problem when trying to use REST from Javascript in a browser?

[2015-11-22 17:17] nesys commented on #3243
In the meantime I've modified my logback.xml accordingly:

	<logger name="org.openhab.binding.denon" level="ERROR" />

Please let us know when a new snapshot with a fix will be available.

Thanks @idserda  for your support on this
Kind Regards

[2015-11-22 17:28] Sandolution commented on #3448
I've fully reinstalled everything from scratch, with an extra entry in the configuration file setting the "normal" port to 5000. The binding with openhab works like a charm now and I can control my lights from the app.

Thanks for your help, I didn't think of pilight taking a random port. I thought it always used port 5000.

I will make a suggestion on the github of pilight, adding the port settin

[2015-11-22 18:05] mischelebuha opened #3455 "Tellstick: Listeners removed"
If i start openHAB if have this chrash:
<pre><code>
pi@raspberrypi ~ $ osgi> 2015-11-22 18:33:58.646 [INFO ] [.o.core.internal.CoreActivator] - openHAB runtime has been started (v1.7.1).
2015-11-22 18:34:22.396 [INFO ] [o.o.i.s.i.DiscoveryServiceImpl] - mDNS service has been started
2015-11-22 18:34:23.221 [INFO ] [o.o.i.s.i.DiscoveryServiceImpl] - Service Discovery initialization completed.
2015-

[2015-11-22 18:38] dasniko commented on #3451
@theoweiss thanks for the workaround, but download still doesn't work, still the message in the log:

    Synchronizing data with Dropbox throws an exception: Couldn't write file './configurations/persistence/README'

Upload works, but still from the `/etc/openhab/` directory, not the configured `dropbox:contentdir`. Seems that the synchronization doesn't take care of the `contentdir`.

Synchroniz

[2015-11-22 19:17] hakan42 commented on #3451
How about running the Dropbox command line client on your pi and making /etc/openhab a softlink to /home/youruser/Dropbox/openhab ?

I do it that way for many other software packages.

[2015-11-22 19:22] theoweiss commented on #3451
Oops, I think I was totally wrong about the job of the dropbox binding. I personally don't use it, my tool for configuration management is scp (secure copy).
I will do some tests to figure out a good solution.

[2015-11-22 19:23] theoweiss commented on #3451
@hakan42 this would probably break the apt installation.

[2015-11-22 19:36] teichsta commented on #1965
@igorrobertifoc could you please change the topic to something more meaningful?
@steve-bate: better use the "awaiting-feedback" label rather than question which should be used to mark an issue as a question

[2015-11-22 20:45] kaikreuzer commented on #294
db4o does not have any general problem with such a database - after all, it is specifically designed to store such objects. The reason for the exception is rather that the CallItem is not a core type and thus the class resolution fails.

[2015-11-22 21:20] sprehn commented on #991
I'll look into this

[2015-11-22 22:26] steve-bate commented on #1965
Label changed. It wasn't clear to me if this was request for help with a question or something else.

[2015-11-22 22:33] theoweiss commented on #3451
Does
[code]
fix it?

[2015-11-22 22:50] theoweiss commented on #1429
I've tested this with jessie and can't reproduce it:
[code]
[code]
We'll have to wait if this ever comes up again.

[2015-11-23 00:41] steve-bate commented on #3163
Could this be related to #2706?

[2015-11-23 06:42] dequeckerp opened #3456 "Nikobus binding: feedback from nikobus to openhab stops working."
After a couple of hours, the feedback from the nikobus stops working.
So if I press a switch in my home, Openhab doesn't see it anymore.
Also the automatic refresh, in my case 300sec, doesn't see the status-changes anymore.
The commands from OpenHab are still working.

see https://community.openhab.org/t/memory-leak-with-nikobus-in-1-7-1/2417

[2015-11-23 07:32] dasniko commented on #3451
Sure, this fixes it. If openhab has access to write the files (aka is owner), then it works.
As mentioned before - it's a linux permission nightmare! :-(

[2015-11-23 07:38] idserda commented on #3448
Great that it's fixed now! I've also updated the pilight binding wiki page to include this port configuration.

This issue can be closed.

[2015-11-23 07:56] Testato commented on #2999
Yes, only by JS on the browser.
It's a CORS "problem"

[2015-11-23 11:20] #3448 closed

[2015-11-23 12:15] idserda commented on #3431
Fine with me, we'll keep the binding as it is. Can we close this issue?

[2015-11-23 14:39] MrMontesa commented on #1733
Just stumble upon this issue as well. Pressing the play/pause button on my PLAY:1 is not reflected at all in the OH switch.
Tested with OH & binding 1.7.1.

The other way round works perficetly fine. Means toggle switch in OH starts playing music and stopping as well.
Let me know if I can help testing/troubleshooting.

[2015-11-23 17:27] gregeva commented on #2552
I would say that you can, as I think this is not only merged, but fixed.

*Greg Eva*
*geva@ge-volution.eu <geva@ge-volution.eu>*
www.gE-volution.eu
France : +33 4 81 68 09 64
Canada : +1 226 476 1192
iNum : +833 51 00 09 90 28 81

On 20 November 2015 at 00:48, Steve Bate <notifications@github.com> wrote:

[2015-11-23 18:16] gerrieg commented on #3428
null wind values fixed with https://github.com/openhab/openhab/pull/3458

[2015-11-23 18:18] mrx23dot commented on #3428
Thanks! Will try out from nightly build.

Köszönettel,
Tóth Árpád

On Mon, Nov 23, 2015 at 7:16 PM, Gerhard R. <notifications@github.com>
wrote:

[2015-11-23 18:36] batfasturd commented on #3431
Yes, that is fine, Thanks everyone!

[2015-11-23 18:36] #3431 closed

[2015-11-23 20:06] kabili207 commented on #3378
I've had a look at the [Withings' API](http://oauth.withings.com/api/doc) and they do not appear to offer any way to get the battery level of any devices, or any thing else device-specific for that matter. Withings will need to add this to their own API before support for it can be added to the binding.

[2015-11-23 20:06] #2552 closed

[2015-11-23 21:12] theoweiss commented on #3451
What's the path of these dbx file: authfile.dbx and others?

[2015-11-23 21:24] kgoderis opened #3459 "Jetty : Could not send response error 500: javax.servlet.ServletException: javax.servlet.ServletException: java.lang.StringIndexOutOfBoundsException"
I have the following in .sitemap:

Text item=TechnicalFacilitiesAudioCurrent label="Technical Facilities - Audio [%.0f mA]" visibility=[TechnicalFacilitiesAudioCurrent>0] icon="energy" {
Chart item=TechnicalFacilitiesAudioCurrent label="rrd4j" service="rrd4j" period=D refresh=5000
}

Selecting the Chart in any UI generates the following errors:

2015-11-23 22:19:45 [WARN ] [e.jetty.servlet.Servlet

[2015-11-23 21:27] dasniko commented on #3451
/usr/share/openhab/

currently, there is a authfile.dbx, deltacursor.dbx and dropbox-entries.dbx

[2015-11-23 22:06] theoweiss commented on #3451
and /var/lib/openhab/dropbox is empty?

[2015-11-23 22:23] johkin commented on #3409
I've tried the configuration and it works fine, but I seemed to have swapped the documentation for param 41 and 42. Have created a pull request for this: #3460

[2015-11-23 22:25] cdjackson commented on #3409
Merged already :)

[2015-11-23 22:25] #3409 closed

[2015-11-23 22:28] lewie commented on #2661
Hi @teichsta,

the current MySQL Bundle Source works as expected in OH 1 and OH 2.

The behavior is identical, except for the two item types external call and location, of course, are in OpenHab 2 no longer or not yet available.

MongoDB, I can't test yet, will try again later.
Studying the source and bundle configuration it is all right:
- configuration over activate function
- warnings if  confi

[2015-11-23 22:58] lewie commented on #2661
@teichsta,
I have tested MongoDB in OH1 and OH2 now, It is compatible with OH2.
If OH2 has no config-file for mongodb we get warnings for missing config Parameters, no loop.

Rgds
Helmut

[2015-11-23 23:00] kaikreuzer commented on #2661
Thanks a lot for testing @lewie! We can therefore remove the entries at https://github.com/openhab/openhab2/blob/master/docs/sources/addons.md#currently-incompatible-1x-add-ons - wonderful :-)

[2015-11-23 23:00] #2661 closed

[2015-11-24 02:02] steve-bate commented on #648
In my opinion, we shouldn't trim the inbound strings since the white space could be significant for a specific protocol.

[2015-11-24 02:16] steve-bate commented on #728
The transformation part of the ACTION and STATUS_CONFIG_PATTERN regex patterns shouldn't use a non-greedy match. It prematurely matches the ] in the REGEX transformation specification.

[2015-11-24 05:29] kirantpatil commented on #1057
@abisval,

I am trying to build as said in http://technomindshare.blogspot.in/2014/04/interfacing-xbee-with-openhab.html but could not succeed.

Please help me to resolve this issue.

System configuration:
1. openhab v1.7.1 using https://github.com/openhab/openhab/wiki/IDE-Setup (Yoxos method)
2. java versions (1.8 and 1.6)
3. Maven 3.0.5
4. Fedora 22

Getting below error on cmd line while executi

[2015-11-24 05:32] kirantpatil commented on #1057
Hi @zachariahyoung,

Which XBee binding are you using for your setup ?

Can you please share the details ?

Thanks.

[2015-11-24 05:35] kirantpatil commented on #1057
/cc @Diaoul

[2015-11-24 05:39] kirantpatil commented on #388
Hi @Diaoul,

I could see your XBee binding only in google code. I am trying to compile your binding as mentioned in http://technomindshare.blogspot.in/2014/04/interfacing-xbee-with-openhab.html.

I am facing errors as mentioned in https://github.com/openhab/openhab/issues/1057.

Have you built your binding with recent openhab 1.7 or so, if you have built one please the build procedure.

Thanks.

[2015-11-24 06:19] dasniko commented on #3451
Yes.
However, it seems to be a permission thing at to places:
- .dbx files int /usr/share/openhab
- config files in /etc/openhab/configuration

[2015-11-24 07:58] JCT250 commented on #3117
Hi Chris, I have the same issue,

Any help would be appreciated

Cheers
[node6.txt](https://github.com/openhab/openhab/files/42472/node6.txt)

[2015-11-24 09:05] kirantpatil opened #3461 "XBee binding build error"
Hi,

I am building OH with XBee(http://code.google.com/r/diaoulael-xbee/source/browse/) binding as mentioned below blog and it result in build error as shown in below screenshot.

I am using https://github.com/openhab/openhab/wiki/IDE-Setup and 'Pure Eclipse' Instructions to build the OH with XBee binding.

#### System environment:
Openhab : v1.7.1
Apache Maven 3.0.5 (r01de14724cdef164cd33c7c8c2fe

[2015-11-24 09:34] kirantpatil commented on #3461
/cc @Diaoul

[2015-11-24 11:08] steve-bate commented on #3459
Looks like the relevant part of the stack trace is:

    Caused by: java.lang.StringIndexOutOfBoundsException: String index out of range: 14
    at java.lang.String.substring(String.java:1963)
    at org.eclipse.smarthome.ui.internal.items.ItemUIRegistryImpl.getWidget(ItemUIRegistryImpl.java:477)

The code around that line is:
[code]

It looks like it may be throwing an exception on the second sub

[2015-11-24 11:47] steve-bate commented on #728
@kgoderis What was the reason for the optional single quotes around the transformation?

[2015-11-24 14:07] bruxi commented on #3243
I get the same errors when I set to http. Also when I use telnet I won't get any usable results.
My receiver is a 7 year old Denon AVR3808.

Kind regards,
Jens

[2015-11-24 17:34] Diaoul commented on #3461
I switched to using a light python script that reads the data from the XBee
and publish it into my MQTT broker. I made a library for that called Hachi.

A complete XBee binding that supports all ZigBee profile is a lot of work
and not really worth it as few products use the ZigBee protocol and those
which do  (Hue by Phillips) use a private security. I hope ZigBee 3.0 will
solve this and that the

[2015-11-24 18:01] bdleedy commented on #3128
Looks like the Aeotec may be a better option (once available).

http://www.pepper1.net/zwavedb/device/807
Right?

[2015-11-24 18:04] cdjackson commented on #3128
Unlikely - it’s using the same classes so will work in the same way.

[2015-11-24 18:11] thatoneguy99 commented on #3128
I used an Arduino I already had, to push http-GET request to. It opens and
closes relays on a relay shield. It's not pretty but I put it in an enclosure so
it doesn't look so bad. I would have liked zwave but I already had all this
stuff so...

On Tue, Nov 24, 2015 at 1:01 PM, openhab/openhab
<reply@reply.github.com>
wrote:
Looks like the Aeotec may be a better option (once available).

[http://ww

[2015-11-24 18:21] bdleedy commented on #3128
cdjackson, I thought the issue was secure/non-secure. This looks more non-secure.

thatoneguy99, (how) did you handle the sensing the door's open'close status?

[2015-11-24 18:24] thatoneguy99 commented on #3128
Own Tracks app. When it detects I'm in my "Home" region it posts to MQTT. Then
openhab mqttitude binding sees the post and process the GET request.

On Tue, Nov 24, 2015 at 1:22 PM, openhab/openhab
<reply@reply.github.com>
wrote:
cdjackson, I thought the issue was secure/non-secure. This looks more
non-secure.

thatoneguy99, (how) did you handle the sensing the door's open'close status?

—
Reply t

[2015-11-24 18:25] thatoneguy99 commented on #3128
Oh didn't fully read the question. Right now it doesn't. I bought a reed switch
and plan to hook it up to the Arduino. Haven't worked out all the details yet.

On Tue, Nov 24, 2015 at 1:22 PM, openhab/openhab
<reply@reply.github.com>
wrote:
cdjackson, I thought the issue was secure/non-secure. This looks more
non-secure.

thatoneguy99, (how) did you handle the sensing the door's open'close status?

[2015-11-24 18:54] cdjackson commented on #3128
Yes, the issue is security related, but from the pepper database, this device also only uses the security classes for controlling the door.

[2015-11-24 18:58] decibel83 commented on #2218
Hi, any news about the Netatmo thermostat binding? :-)

[2015-11-24 19:13] planesweep commented on #1380
No it seems to be fixed.

[2015-11-24 19:13] #1380 closed

[2015-11-24 19:14] Alpoy opened #3462 "Z-Wave - Unrecognized device: Popp plug switch outdoor"
@cdjackson
Hi Chris,

Could I bother you for a minute to add this device:
![popp](https://cloud.githubusercontent.com/assets/11949996/11377580/d999f086-92e6-11e5-8d5f-993848135e5c.jpg)

I think it's basically the same as the : http://www.pepper1.net/zwavedb/device/692 just the "outdoor" version.
Ref:
http://www.popp.eu/products/actuators/wall-plug-switch/   (indoor)
http://www.popp.eu/products/act

[2015-11-24 19:37] teichsta commented on #3432
#3341 has been merged!

[2015-11-24 20:15] steve-bate commented on #1734
I'm closing this issue. I tested it recently and it works for me too.

[2015-11-24 20:15] #1734 closed

[2015-11-24 20:35] steve-bate commented on #1737
I've tried this with the correct binding key and it works for me.

[2015-11-24 20:35] #1737 closed

[2015-11-24 21:28] affezibbl commented on #477
Hi Stefan,

I'm running a vitotronic 200 and a vitocal 350, protocol WPR300 and I'm looking forward to have a native OH binding to get rid of my optlolink-to-c#-to-REST-to-OH workaround.
Can I have a look to the source of your 1.8ish viessmann binding? Then I knew if your binding would meet my needs or I could make suggestions what could be evolved.

regards,
marcus

[2015-11-24 21:56] hlat commented on #3335
Hey Chris!
Thank you - indeed it's implemented, didn't know as you didn't mentioned it here before, sorry.
Got another issue with a ZMNHAD Flush 1 relais. It's recognized but I cannot open the configuration and receive no power values. Switching ON/OFF is working.

New Issue or let's keep this one open until it's solved?
Herbert

[2015-11-25 02:22] steand commented on #477
@affezibbl
Hello Marcus,

The vitotronic implementation works only for Openhab2. I have no implementation for 1.8.
Please look to: https://github.com/openhab/openhab2/blob/master/addons/binding/org.openhab.binding.vitotronic/README.md
I didn't had a requirement to develop a binding in OH1. By myself i have no OH1 running -> I start with OH2 directly. So it is difficult for me to downgrade this bin

[2015-11-25 04:53] kirantpatil commented on #3461
XBee binding issue is resolved by replacing old nrjavaserial-x.x.x.jar with nrjavaserial-3.9.3.jar in .classpath file as below.

<classpathentry kind="lib" path="/org.openhab.io.transport.serial/lib/nrjavaserial-3.9.3.jar"/>

But still build issues persists, as shown in below screenshot
![screenshot from 2015-11-25 10-20-21](https://cloud.githubusercontent.com/assets/1178055/11388646/73e9d0b2-935e

[2015-11-25 07:47] richbeales commented on #3141
@kaikreuzer I'm happy to lend a few minutes to the wikipedia entry too if it helps

[2015-11-25 07:48] theoweiss commented on #3451
Yes, we'll need to changes:
1/ dropbox bundle: dbx file handling
2/ apt-installation: permissions of /etc/openhab/configuration

[2015-11-25 07:55] clinique commented on #2218
Coming, coming :)

[2015-11-25 07:58] kaikreuzer commented on #3141
@rich Would be great!
@SkynetHome Any news from you here?

[2015-11-25 08:27] SkynetHome commented on #3141
Sorry Kai I got caught up with a mobile app development project. Will see
if I can put something together this weekend!
On Sep 26, 2015 8:00 AM, "Kai Kreuzer" <notifications@github.com> wrote:

[2015-11-25 11:54] steve-bate commented on #3390
PR has been merged.

[2015-11-25 11:54] #3390 closed

[2015-11-25 13:03] TheNetStriker opened #3466 "Improve group function calculation of percent values"
I've tried to group a couple of percent values using the AVG group function and I found out that this changes the type of the value. Instead o a percent value (0 to 100) the group returns a decimal value. (0.0 to 1.0)

The android app e.g. only handles only 0 to 100 values for sliders. Is this an issue in OpenHAB or should the Android app also handle 0.0 to 1.0 values when using sliders?

https://

[2015-11-25 14:50] steve-bate commented on #3466
If you don't get an answer here, you may want to task your question on the community forum.

[2015-11-25 19:09] TheNetStriker commented on #3466
I already asked the question in the forum, but I didn't get any answers yet: https://community.openhab.org/t/hue-group-dimmer-slider-always-set-to-zero/3909/6

[2015-11-25 20:32] steve-bate commented on #2256
Please continue the discussion in the communit forum. https://community.openhab.org/t/networkhealth-unable-to-detect-some-devices/2902. Thanks!

[2015-11-25 20:32] #2256 closed

[2015-11-25 21:48] Tscherno commented on #342
Anything we can do to make this reopened?

[2015-11-25 21:55] teichsta commented on #342
@Tscherno we (especially @steve-bate) are currently working hard to keep this issue tracker free from feature wishes since most of the contributors are simply not aware of this tracker of do not actively (and frequently) search through the open issues.

However our great community.openhab.org the perfect place to discuss feature request, find other interested users and (hopefully) some contributor

[2015-11-25 22:23] #3429 closed

[2015-11-25 22:39] affezibbl commented on #477
Hi Stefan,

I'm absolutely fine with waiting for OH2 to use the viessmann binding. I thought your binding would be for OH 1.8 and therefore not yet part of the OH 1.x deployment package.
Right now, I'm getting familiar with the architecture of your binding and OH2 itself, which I did not look at yet.

regards
marcus

[2015-11-25 22:41] teichsta commented on #477
thanks for the update!

[2015-11-25 22:41] #477 closed

[2015-11-26 01:29] steve-bate commented on #2946
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-26 01:29] #2946 closed

[2015-11-26 01:30] steve-bate commented on #3060
Will you please move further discussion of this question to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-26 01:32] steve-bate commented on #3124
You may get answers to your question by moving this discussion to the [community forum] (https://community.openhab.org)? Thanks.

[2015-11-26 01:32] #3124 closed

[2015-11-26 07:50] staehler commented on #3378
OK, thanks for looking. I expected this information, as it can be found on the withings webpage. If this feature request can't be realised then close this item please.

[2015-11-26 08:24] teichsta commented on #3060
@steve-bate i would consider this issue a bug report.Could @patrickse @petrklus or @mgbowman could have a look into this, please?

[2015-11-26 09:24] udo1toni commented on #3378
@staehler as the opener of this Issue, you should be able to close the Issue youself :)

[2015-11-26 10:59] hakan42 commented on #3378
helping out @staehler and closing the issue :smiling_imp:

[2015-11-26 10:59] #3378 closed

[2015-11-26 14:42] patrickse commented on #3060
@steve-bate Please enable debug logging for the package org.openhab.binding.mpd. Inside your logs should be an entry starting with ``Current song``. That implies that the song changed. The line should be followed by to paramters. The first one should be the playerid and the second should be the song title.

What happens if a song changes on __musicsz__. Which entry will show up in your logfile.

[2015-11-26 14:45] steve-bate commented on #3060
@patrickse To be clear, @alexf2015 reported this issue. I was just reviewing the status and I don't currently use the MPD binding.

[2015-11-26 14:45] patrickse commented on #3060
Oh sorry. I am a bit in a hurry ;)...

[2015-11-26 15:44] steve-bate commented on #728
Closing issue for merged PR.

[2015-11-26 15:44] #728 closed

[2015-11-26 17:06] #3437 closed

[2015-11-26 17:18] steve-bate commented on #3466
I'm assuming you are grouping DimmerItems with a PercentType value. Let me know if that's not correct.

It's strange (to me, at least), but a PercentType (which is a DecimalType subtype) must have a value in the range 1-100. However, if the value is retrieved from a DimmerItem as a DecimalType, the PercentType 1-100 value is divided by 100. That's why you are seeing 0.0-1.0 values from the average

[2015-11-26 17:34] steve-bate commented on #3456
@teichsta Do you know who would be the contributor to contact about this binding? The author, Davy Vanherbergen, doesn't appear to be a GitHub user.

[2015-11-26 21:44] tom62930 commented on #3185
Hi Mike,

sorry for delay, github notification got hidden in my Gmail...

I'm afraid there is no english manual for this qubino module.

"Fil pilote" is a french specific system

I can try to do the xml for database, with a little help...

Thanks,
thomas.

2015-10-29 16:39 GMT+01:00 Mike Van Dusen <notifications@github.com>:

[2015-11-26 22:30] johkin commented on #3395
I've looked at this, and it seems reasonable to use BigDecimal all the way in the calculation. However, it would still produce a lot of decimals even though it is more precise.
Perhaps more of a formatting issue in your item definition?
I use "[%.1f °C]" in my temperature items.

I have code ready for a pull request if that would be of interest for @cdjackson?

[2015-11-26 22:39] theoweiss commented on #3451
I'm preparing two PR's.

[2015-11-26 22:41] cdjackson commented on #3395
Hi Johan,
I thought that this was already implemented - let me check - maybe I forgot to merge it…

Chris

[2015-11-26 23:04] steve-bate commented on #3455
@jarlebh @seime Any thoughts on this issue?

[2015-11-26 23:09] steve-bate commented on #3380
@gitbock Is this a duplicate of #294? If so, I'll tag this issue as a duplicate.

[2015-11-26 23:18] johkin commented on #3395
Ok!

[2015-11-26 23:33] johkin commented on #3462
Added PR #3471
Haven't got the hardware to test it, so please test it.

[2015-11-27 08:19] Alpoy commented on #3462
Thanks @johkin
I tried the latest z-wave addon (from cloudbees) but it doesn't recognize it, same status in habmin as I posted above.
Not that familiar with how github works but maybe I have to wait for the PR to be merged with the main code?

[2015-11-27 08:24] johkin commented on #3462
Yes, the pull request has to merged before you can try it out!
I haven't got access rights to merge directly to openhab repo, so we have to wait and see if my contribution passes the QA...  :)
Sorry for being unclear!

[2015-11-27 08:50] teichsta commented on #3451
@theoweiss: it'd suggest to put these config files beneath a user data folder which will be available with OH2 anyhow. Probably something like "<openhabhome>/userdata/dropbox"?

[2015-11-27 08:53] Alpoy commented on #3462
Ah I see, thanks again :)

[2015-11-27 09:21] NicoTa82 commented on #1288
This issue still applies in client version 1.7.1 on iOS 9.1.
The setpoint item is currently unusable on iPhone due to this bug.

[2015-11-27 10:06] kaikreuzer commented on #3456
@steve-bate: His github id is @dvanherbergen - not sure though, how active he still is around openHAB...

[2015-11-27 10:43] teichsta commented on #1288
can you help with this one @belovictor?

[2015-11-27 10:48] bruxi commented on #1564
Hi,

I also have problems to get z-wave devices working with openhab, especially multisensor devices from Fibaro and Aeotec. While they work perfectly with z-way-server from z-wave.me they won't run stable with openhab. I have installed openhab 1.7.1 on a RPI2 via official repository and I'm currently testing with z-way-binding  org.openhab.binding.zwave-1.8.0-SNAPSHOT.jar.

Here's a part of my lo

[2015-11-27 11:06] cdjackson commented on #1564
Why are you posting your problem in this thread? It doesn’t look to me like it has anything to do with message duplication (at least I don’t see any obvious duplication).

I don’t see lots of errors - exactly what are you referring to? I see a couple of timeouts, but that’s about the only errors.

Can I suggest that if your problem isn’t related to this issue, then please open a separate issue, or

[2015-11-27 11:07] tudstudent commented on #1564
If you run a RPI, please install pastebinit and dump this log to a pastebin. Dumping this huge text here does not make it readable....

[2015-11-27 11:27] gitbock commented on #3380
@steve-bate
Yes, it seems so. Sorry, I did not search well enough :(
I will close this one.

[2015-11-27 11:27] #3380 closed

[2015-11-27 11:29] gitbock commented on #294
Is there a workaround available? Perhaps you can tell the persistence service, that it should NOT store the CallItem.
Tried it as described here #3380, but was not successful :(

[2015-11-27 11:56] marcotony opened #3473 "Openhab on RPI2 - zwave binding - NorthQ 9021 wakeup no METER update"
Hi,

I have Openhab running with zwave binding 1.7.1 on Raspberry PI 2.
My Zwave network has 7 nodes (including the controller).
Everything works great for all nodes (Temp sensors/switches/contact sensor) except for the NorthQ 9021 (Power meter).
In the zwave binding zwave:masterController is set has true (so that openhab will receive the wakeup and notifications)

NorthQ 9021 is a battery operate

[2015-11-27 12:29] cdjackson commented on #3473
Does this device support associations, and are they set? Without this, it probably won’t send updates (Wakeup class is not normally used for this purpose).

[2015-11-27 13:14] marcotony commented on #3473
Hi, thanks for the prompt response.
No, COMMAND_CLASS_ASSOCIATION is not listed as supported:
Command classes supported
 COMMAND_CLASS_BASIC
 COMMAND_CLASS_CRC16_ENCAP
 COMMAND_CLASS_WAKE_UP
 COMMAND_CLASS_MANUFACTURER_PROPRIETARY
 COMMAND_CLASS_VERSION
 COMMAND_CLASS_BATTERY
 COMMAND_CLASS_METER_V2
 COMMAND_CLASS_METER_TBL_MONITOR
 COMMAND_CLASS_CONFIGURATION
 COMMAND_CLASS_FIRMWARE_UPD

[2015-11-27 13:40] cdjackson commented on #3473
Ok, so it looks like this requires polling then?  If so, you need to enable polling with the “refresh_interval=600” command. This will cause the poll command to be queued until the device wakes up after which it should request the data.

[2015-11-27 13:48] kgoderis commented on #3459
Not counting the root, it is the 5th level deep.

[2015-11-27 16:46] abeggled commented on #3473
For me this configuration works fine since years:
{ zwave="2:command=meter,respond_to_basic=true,refresh_interval=900" }
The Meter send about every 1100 seconds, it's about 18min and not 15min.
I've configured a wakeup interval of 900 on the device.

[2015-11-27 17:09] marcotony commented on #3473
thanks abeggled, will try to add the respond_to_basic.
It did not work with the refresh_interval=600.
I was about to look at the log but I will now restart with respond_to_basic.

[2015-11-27 17:12] cdjackson commented on #3473
FYI The value of the refresh_interval won’t matter so long as it’s less than the wakeup period (which is why I chose 10 minutes).

[2015-11-27 17:40] kaikreuzer commented on #3466
Yes! The reason is that SwitchItem.getStateAs(DecimalType) returns 0 and 1 for OFF and ON.
A dimmer that is at 100% is ON and thus maps to the very same value.

[2015-11-27 17:43] MMOTX commented on #3196
Hi @steve-bate
I've seen your label "question" but I think this is also an "enhancement".
Same issue like here: https://github.com/openhab/openhab/issues/3250

[2015-11-27 18:11] steve-bate commented on #3196
What enhancement are you requesting in this issue?

[2015-11-28 01:56] thatoneguy99 opened #3478 "CT101 Lowes Thermostat"
After reading a few posts about people using this thermostat I went and bought one today. I can not
get it to finish initialization. It gets stuck at STATIC_VALUES and never goes any further. OH tries over and over but to no avail. Are there any suggestions? I am using this mornings Cloudbees Zwave binding and am running OH 1.8.
I have ZWave working and can control a Smart Outlet so I know it is n

[2015-11-28 05:31] mknet opened #3479 "Unit Tests for rules"
Hello everybody,

since I'm convinced that TDD is the only way to create a robust code base I'm wondering if there is any way to create unit tests to test my custom rules. Is there someone who had the same thought?

So far I came up with the idea to isolate the interpreter of the rule (XBase / Xtend) and test the expected changes the rule should bring as I trigger it by creating particular circums

[2015-11-28 09:34] cdjackson commented on #3478
The fact there’s no XML is because it hasn’t finished initialisation.

You don’t say what node we’re looking at?

[2015-11-28 09:41] unicornis-pl opened #3481 "Exception during Z-Wave thread ... OnOffType cannot be cast to DecimalType"
After putting freshly compiled binding (cloned from github on 28th on Nov 2016, around 10:00 CET) to the addons, I get the following error:
2015-11-28 10:35:35.602 [ERROR] [b.z.i.protocol.ZWaveController] - Exception during Z-Wave thread: Input.
java.lang.ClassCastException: org.openhab.core.library.types.OnOffType cannot be cast to org.openhab.core.library.types.DecimalType
	at org.openhab.bindin

[2015-11-28 09:45] cdjackson commented on #3478
Closing as this is being discussed on the forum. Please avoid posting the same question in multiple places.

[2015-11-28 09:45] #3478 closed

[2015-11-28 09:53] cdjackson commented on #3481
Please try this again tomorrow and let me know if the problem still exists...

[2015-11-28 11:01] steve-bate commented on #3479
There's a related discussion on the community forum although no one has suggested a solution for XText rules at this point. I've been able to do this with JSR223 (Jython) rules. https://community.openhab.org/t/automated-testing-of-configuration/4525/2

[2015-11-28 11:17] steve-bate commented on #3466
As you said, the AVG group function will not do what you want in this case. One workaround is to create a rule to calculate the average and update the group-related dimmer item with the percentage. You could also just create an additional item and scale the existing group AVG value by 100 and update an additional group item. (Also posted in community forum.)

Although you haven't explicitly asked

[2015-11-28 15:51] Alpoy commented on #3462
@johkin, I've tested it now and it works very well. Having some issue though with the meter functionality but it's not related to OH but the device itself.

To make the device do metering (kwh) you have to set a Load parameter in watts to make it calculate kwh...but this makes no sense? The load (watt) will change all the time so you can't (or really shouldn't) hardcode it.

![t](https://cloud.git

[2015-11-28 16:52] cdjackson commented on #3462
Can I suggest we close this issue since the device is added, and you've confirmed it's working. I would suggest starting a thread on the forum to discuss the configuration further (I have a different Popp switch, and I think it works ok).

[2015-11-28 16:52] #3462 closed

[2015-11-28 17:18] fcanepa commented on #1564
My setup is the following:
Hardware: RPI1 with aeotec z-stick gen5
OS: Raspbian jessie
OpenHab Version: 1.7.1
Z-Wave Binding Version: 1.8.0.201511280245
JVM Version: Java(TM) SE Runtime Environment (build 1.7.0_40-b43)

I've used my system for three month with 4 fibaro fgms-001 without duplication problems,but  to day I added an EverSpring ST814 temp+humidity sensor and every message is received t

[2015-11-28 17:26] watou commented on #1564
Is your Raspberry Pi firmware not the latest?  Do you have other USB devices attached?  If either is "yes," could you, one by one, change those, retry, and report back?

[2015-11-28 17:50] cdjackson commented on #1564
Is it just messages from the temp sensor that are duplicated, or all messages?

[2015-11-28 18:11] fcanepa commented on #1564
@watou
I updated raspian today and I don't have other usb devices attached.

@cdjackson
Sometime it duplicates temp message, some time it duplicates humidity messages but I see duplicated message only on this new devices.

[2015-11-28 18:33] tudstudent commented on #1564
Did you update the packkages or did you also update the firmware. What is your current kernel:
[code]

[2015-11-28 19:15] cdjackson commented on #1564
Then it’s not related to this issue as the issue with the RPi duplication is not specific to a device.

Is this device a ‘long way’ from the controller? It’s quite normal to see duplicated messages as devices can resend messages, and depending on a few things, this can cause the same message to be received more than once. I suspect this is the issue.

[2015-11-28 19:16] fcanepa commented on #1564
I run a "sudo rpi-update" few minutes ago and now my kernel is:
"Linux raspberrypi 4.1.13+ #826 PREEMPT Fri Nov 13 20:13:22 GMT 2015 armv6l GNU/Linux"
I don't know if this was a good moove... It's seems to me that 4.1 it's not the official raspian kernel....

Message are still duplicated even with this newer kernel

[2015-11-28 19:21] fcanepa commented on #1564
Well the node is on on groud floor while the raspberry is on the first floor.
I'll try to put the device near to the raspberry

[2015-11-28 19:28] fcanepa commented on #1564
I see the temperature messages twice even if I put my device near to the raspberry... but it's not a big problem for me...

[2015-11-28 19:34] cdjackson commented on #1564
Maybe it’s something to do with the way you’ve configured the device - what are the item definitions?

[2015-11-28 19:43] fcanepa commented on #1564
These are my definitions:

/* EverSpring ST184 */
Number ST184_Temperatura "Temperatura [%.1f °C]" <temperature> (gC) {zwave="9:command=sensor_multilevel,sensor_type=1"}
Number ST184_Umidita "Umidita [%.0f %%]"         <siren> (gC) {zwave="9:command=sensor_multilevel,sensor_type=5"}

My definitions are different from what I saw on the wiki for this device because using the ":1" endpoint I had the

[2015-11-28 20:04] cdjackson commented on #1564
I’m not sure then - everything looks fine. You don’t need the :1 (that won’t work - it was an old definition I suspect as the endpoint numbering changed about a year ago).

[2015-11-28 23:06] JensErat opened #3487 "Z-Wave binding should retry connecting to the interface device if first attempt failed"
I'm running OpenHAB in a docker container using [tdecker's image](https://github.com/tdeckers/docker-openhab), which is working fine. But when restarting the container (instead of creating a new one), _sometimes_ Z-Wave breaks with following log lines:

    2015-11-28 23:03:20.420 [DEBUG] [.zwave.internal.ZWaveActivator:36  ]- Z-Wave binding started. Version 1.8.0.201508012226
    2015-11-28 23:03

[2015-11-28 23:31] jarlebh commented on #3455
This is probably cause by the Telldus build on the raspberry ? I think there is an old issue on the same topic. Please check.

[2015-11-29 01:27] Mr-Token commented on #2817
So this ended up being my final setup for the dual relay.

Switch	Z_NodeNineZero	"Node 9 binding of 0"	(Lights)
{ zwave="9:0:command=SWITCH_BINARY" }
//-- If you don't add this you will see no endpoint at 0 in your log ever time either relay is physically toggled.

Switch	Z_lightBackEntryWay	"Laundry Room"	(Lights)
{ zwave="9:1:command=SWITCH_BINARY,refresh_interval=300" }

Switch	Z_lightBackDoor

[2015-11-29 05:47] mrguessed commented on #648
@steve-bate, it might pay to close this out and move the issue to a community discussion.

To me, the TCP binding doesn't need to directly address this function as it already allows users to apply openHAB Transformations to the value.

These can be used to achieve the same effect as _trim()_, using a _\<transformationrule\>_ akin to:

    tcp="<[192.168.0.2:3000::'REGEX(^[ ]*(.+)[ ]*$)']"

[2015-11-29 09:59] cdjackson commented on #2817
You shouldn’t put the :0 part here - just the 9:command= part. While the two are mostly the same this can cause some problems.

Sorry - there’s no way to do this. Openhab core doesn’t provide the ability to directly interact with hardware like this - bindings are meant to be self contained.

[2015-11-29 10:07] cdjackson commented on #3213
Sorry - missed this. Yes - that is the database information. A PR would be very welcome.

[2015-11-29 11:06] CWempe commented on #2656
I just had the same issue.

This line produced the error:

When adding a comma after the binding config it works again.

[2015-11-29 11:08] steve-bate commented on #648
@mrguessed Sounds good to me. Thanks.

[2015-11-29 11:08] #648 closed

[2015-11-29 11:58] watou commented on #3395
Confirmed fixed by #3482.

[2015-11-29 11:58] #3395 closed

[2015-11-29 13:02] marcotony commented on #3473
Hi, thanks I tried again over the last days with no success.
It happens the following (repetitive over the last days):
1- northq notify wakeup (0x84 - 0x07)
2- controller send the get meter command from the queue (0x32, 0x01)
3- northq responds and resend correct callback ID (1B) from message 2.
4- controller send again another Process Message = 01 07 00 13 1B 00 00 00 F0 (again with callback ID 1

[2015-11-29 13:09] cdjackson commented on #3473
I don’t really see any difference….

No - the controller is not sending anything here

It looks to me the same as OZW (although I’m not an expert on OZW logs) and the device is simply not responding (hence the timeout).

[2015-11-29 13:11] 4s1 commented on #3487
I ran into the same issue while writing my own openhab2 docker image.

The two things I did to fix the issue were
1. make sure my openhab user is member of the group which has write permissions to the node /dev/ttyACM0
2. remove any /var/lock/LCK..ttyACM0 before openhab startup (left by unclean serial shutdown?)

[2015-11-29 13:34] JensErat commented on #3487
As the image runs OpenHAB as root (something that really has to be changed), I'd say (1) should not be an issue. It indeed seems deleting `/var/lock/LCK..ttyACM0` resolves the issue. If this is the case, I'd have to analyze why the lockfile is not removed during shutdown, and the bug report is more a kind of "bad error message that should be improved".

[2015-11-29 13:36] JensErat commented on #3487
Trying to reconnect still might be something to try, for example if you consider the Aeon Z-Wave stick with built-in battery to get the controller near the device to include. The Z-Wave plugin _should_ be able to handle reconnected Z-Wave controllers.

[2015-11-29 13:38] cdjackson commented on #3487
While I don’t disagree, this isn’t so simple at the moment as there are issues with the java serial driver that makes this difficult.

I suggest we close this issue since it seems resolved.

[2015-11-29 13:41] JensErat commented on #3487
Which one is difficult -- providing reasonable error messages or the retrying-to-connect-stuff?

[2015-11-29 13:42] cdjackson commented on #3487
Well, for the error message, we just use the response from the driver. And the issue with reconnecting is that if you remove the zstick as you suggest, then the serial driver crashes, so reconnecting isn’t possible.

[2015-11-29 13:59] marcotony commented on #3473
Hi, it seems strange to me to see in the log a message that does not match any of the other messages before in terms of length or checksum (the callback ID however is the same as the current), please any idea where it could be coming from:

Assembled message buffer = 01 07 00 13 1B 00 00 00 F0
Process Message = 01 07 00 13 1B 00 00 00 F0

OZW is running (alternatively) exactly on the same device/h

[2015-11-29 14:05] cdjackson commented on #3473
This is just the ack from the device isn't it?

[2015-11-29 14:13] cdjackson commented on #3473
I think the device is just acking the request rather than actually responding to the requested data. Maybe there's an issue with the command class version. I'll try and take a look at this in a couple of days - sorry I'm quite tied up at the moment.

[2015-11-29 14:13] cdjackson commented on #3473
Please post the XML file here as well - it will be helpful.

[2015-11-29 14:14] marcotony commented on #3473
This should be the ACK, right: 01 05 00 13 1B 00 F2  so 5 Bytes and checksum F2. I do not understand where the 7 Bytes with checksum F0 come from (indeed they also seems to be an ACK).

[2015-11-29 14:15] dohnalj commented on #2748
Hi, I have upgraded to InfluxDB 0.9.5 and was looking forward to see that the "ORDER BY DESC" bug was fixed. But now the query
`select value from Teplota_Venku where  time < 1448635140s  ORDER BY time ASC limit 1`
returns no data (and they ARE in the database).
When I change "DESC" to "ASC" it returns one row correctly.
On InfluxDB Github I found this:
https://github.com/influxdb/influxdb/issues/4

[2015-11-29 14:23] cdjackson commented on #3473
I can’t get your messages to tie up with the source, so you must be running a very old version. Please upgrade before we go further...

[2015-11-29 15:30] dvanherbergen commented on #3456
Please add item configurations and debug logs to allow troubleshooting.

[2015-11-29 16:05] dvanherbergen commented on #1874
Solution (1) : will not be implemented, it will never be possible to get an exact timing on when an external operation is completed. A better option would be to not use the builtin delay function, but instead perform the delayed fade using a rule in openHAB. This way the values will be correct.
Solution (2) : you can do using configuration. Define a 'virtual' button which is linked to the same dim

[2015-11-29 17:08] marcotony commented on #3473
Hi,

I have updated the binding to the latest from cloudbees
![image](https://cloud.githubusercontent.com/assets/15078703/11458622/279bc2a6-96c4-11e5-9c24-dc11a17f37fd.png)
Let me try this and I will send you the logs/xml as well.

Thanks

[2015-11-29 17:59] fcanepa commented on #1702
Is this bug really fixed ? Today I enabled my openhab for the first time and as soon I access to my sitemap via myopenhab, raspberry cpu usage goes to 100% and all I can do is restarting openhab.
I'm running openhab 1.7.1 under java 7 with the latest shapshot myopenhab addon.

[2015-11-29 18:49] marcotony commented on #3473
Hi,

tried with 1.8.0 as well but with no success, here is the log (I enabled the trace as well) and the node xml.

[node2.xml.txt](https://github.com/openhab/openhab/files/46693/node2.xml.txt)
[zwave-1.8-log.txt](https://github.com/openhab/openhab/files/46692/zwave-1.8-log.txt)

[2015-11-29 20:13] cdjackson commented on #3473
What happens if you add “meter_scale=E_KWh” to the item definition?

[2015-11-29 22:46] bruxi commented on #1564
I maybe was a little to impatient. State changes seem to last a time in openhab after a restart. After some minutes states of the devices appeared one after the other.
Thanks a lot for your assistance!

[2015-11-30 02:30] watou commented on #1288
[Here](https://community.openhab.org/t/nest-binding-sitemap-buttons-not-working/4615/2) is a user report about `Setpoint` not working from the iOS app.  Possibly related?

[2015-11-30 05:11] rismoney commented on #2583
There is an implementation here in node https://github.com/DaAwesomeP/node-upb/
Not sure where to start as I am not a Java guy.

[2015-11-30 07:34] JCT250 commented on #3117
Hi Chris,

Just wondering whether you'd had a chance to include this device in the database?

cheers
James

[2015-11-30 09:52] marcotony commented on #3473
Hi, it is working now with a workaround (however satisfactory for me). I had to create a twin item with endpoint=1 and explicitly configure endpoint=0 on the other.
However now the meter response come and it is bound to the endpoint=0.
I can send some more details next weekend.
Thanks

[2015-11-30 13:12] zzpenguin commented on #3407
Looks like it's broken again
Failed to fetch http://dl.bintray.com/openhab/apt-repo/pool/main/o/openhab-runtime-1.7.1.deb  403  Forbidden [IP: 205.251.219.70 80]

[2015-11-30 13:25] snizzleorg commented on #2847
I have the same problem. the play state is reflected only sometimes.

then the items are uninitialised:
[code]

[2015-11-30 15:52] airix1 opened #3492 "Z-Wave will not finish initialization of CT32 Thermostat"
I have a CT32 Thermostat ([link to pepper1 db](http://www.pepper1.net/zwavedb/device/701)) that initialized quickly with an older version of the zwave binding (circa March this year), but will not initialize with the most recent build from cloudbees (Nov 28th).  The most recent build does not even create a nodeX.xml for the device.  I've attached the node.xml from the march version, as well as the

[2015-11-30 16:14] lewie commented on #2508
OK, found the reason, but searching to solve it yet.

In my Environment Maven found the database drivers in a compiled test jar which is in openHAB Name space.  There are three ways to solve this:
 1. Includes all drivers needed optionally into JDBC-Bundle. -> bäh :-(
 2. Add a dummy-project which includes all drivers needed optionally. So they are in openHAB Namespace and Maven keeps cool -> this

[2015-11-30 18:08] unicornis-pl commented on #3481
Now it is OK. Works fine with the compile as of 30th of Nov 18:30 CET.

[2015-11-30 18:08] #3481 closed

[2015-11-30 18:44] SoloIV commented on #1321
I'm a NOOB to OpenHAB, but I have 2 these switches and am happy to help if I can. Please advise what information I can gather to add to the database.

[2015-11-30 22:18] Steamrunner commented on #2847
I believe this binding is simply incomplete, I found following section in the source code:

    /**
    * More advanced state detection - allows to detect track changes etc.
    * However, the underlying MPD library does not seem to support this well
    */
    public void playerChanged(PlayerChangeEvent pce) {

    }

The binding seems to rely library javampd 4.1, the latest stable version of thi

[2015-12-01 08:06] brutevinch commented on #3175
This rule doesn't work. But sending from my.openhab.org is ok.
Is the same problem?

rule "test"
        when
                Time cron "0 54 12 * * ?"
        then
                sendNotification("brutevinch@icloud.com", "test!")
        end

[2015-12-01 08:27] Shirk commented on #3175
I'm using the latest version of the bundle -1.8.0 snapshot - and the only notifications I am receiving are openHAB online/offline (those I get twice for each event).

Normal notifications via `sendNotification` are silently lost.. I wouldn't consider this solved.

[2015-12-01 12:40] snizzleorg commented on #2847
I wonder how many people are actually using the binding to control mpd in my case I use it to control forked-daapd in lack of a proper forked-daapd binding which of course would be much preferred

[2015-12-01 13:06] mgbowman commented on #2847
I'm currently using it to control mpd, albeit in its simplest form:

    Switch MPD_Player1 { mpd="ON:player1:play, OFF:player1:stop" }

I never had any success with the track / artist features of the binding.

At one point, I hacked on this binding and added output enable / disable support (which was merged):

    Switch MPD_Player1_Output1 { mpd="ON:player1:enable=1, OFF:player1:disable=1" }

[2015-12-01 13:17] #3299 closed

[2015-12-01 15:58] TheNetStriker opened #3495 "XBMC Binding: Player.GetItems stop, playpause errors in log"
I've just configured the xbmc binding and now I get a lot of these errors in the log:

`Error handling POST response from XBMC
org.openhab.binding.xbmc.rpc.RpcCall$RpcException: {code=-32602, data={method=Player.GetItem, stack={message=array element at index 0 does not match, name=Item.Fields.Base, property={message=Received value does not match any of the defined enum values, type=string}, type=a

[2015-12-01 17:17] MMOTX commented on #3196
As described in the title :-)
"Add support for KNX DPT 16.001"

[2015-12-01 17:51] hlat commented on #3335
Chris?

[2015-12-01 18:24] rbpaul commented on #1321
SoloIV,

Are you using the Linear Z-wave switches with the OpenHAB Z-Wave binding?  When I tried this with a Aeon Z-Stick, I couldn’t make them work, so I went back to my rooted Wink Hub.

If you are using the Z-Wave binding, could you post how your switches appear in the database and your configurations for the Z-Wave Binding and Items?

Thanks

[2015-12-01 19:20] SoloIV commented on #1321
I'm going to preface this with working kind of, not fully tested. They paired with Z-Wave Z-Stick (Gen 5). The nodes are showing up. I can turn them on and off, but I don't think they are reporting status back to OpenHAB. So if you manually change the switch, that info is not being passed back. The Association  node in OpenHabmin has no nodes. I'm to get any necessary information or do any testing

[2015-12-01 20:27] teichsta commented on #2847
i've created the binding long time ago but don't use it any more … so: yes, it would be great if you could talk over and help actively maintaining it again.

Thanks, Thomas E.-E.

[2015-12-01 20:53] sprehn commented on #991
https://github.com/sprehn/openhab/wiki/Connect-SDK-Binding
hey  anyone want to beta test ?
a jar bundle of a snapshot build is linked at the very top of the preliminary documentation.

[2015-12-01 21:11] snizzleorg commented on #2847
@Steamrunner although I would prefer a native forked-daapd (iTunes) binding this would be most welcome. I'm happy to help test and debug it.

[2015-12-01 21:14] teichsta commented on #2847
sure, but creating a new binding is much more effort than "simply" updating the underlying lib, hoping the API didn't change, and additionally implementing some handler methods. Would you agree?

[2015-12-01 21:20] snizzleorg commented on #2847
of course I agree. especially since I'm unable in actually doing any of the work necessary ;-)

[2015-12-02 06:15] radose opened #3497 "Zwave database - door sensor IM20"
Just bought this door sensor and getting a message in the zwave.log that it's not in database.

No database entry: Manufacturer:532 [ID:1,Type:3]

Device info from Habmin:
ManufacturerId:214  (but node name  Manufacturer:532)
deviceType:3

I would like to ask you to add this device to "products.xml" file.
The manual (with specification) is available at http://www.koti.sk/files/kaipule/door-sensor/

[2015-12-02 07:55] cdjackson commented on #3497
Please confirm tomorrow if this is ok.

[2015-12-02 08:18] radose commented on #3497
Thank you, I'll do it. Don't see im20.xml in your commit. Is it ok ?

[2015-12-02 08:50] cdjackson commented on #3497
There were two prs. The first u clicked a wrong button but the second should have been ok and should I hope be the one that was merged. I will need to double check but I think it's ok.

[2015-12-02 11:29] steve-bate commented on #3479
If you are able to determine a technique for unit testing XText rules, please share on the community forum. Thanks.

[2015-12-02 11:29] #3479 closed

[2015-12-02 11:32] steve-bate commented on #3461
Is the a problem with the OH build or with the unsupported XBee binding code?

[2015-12-02 11:38] steve-bate commented on #3375
You may get more answers to your question by moving this discussion to the [community forum] (https://community.openhab.org). If it is actually a bug, then please request this issue to be reopened. Thanks.

[2015-12-02 11:38] #3375 closed

[2015-12-02 11:40] kirantpatil commented on #3461
Sir, I believe It is because unsupported XBee binding code.

[2015-12-02 11:40] steve-bate commented on #3383
@belovictor Any thoughts on this issue?

[2015-12-02 11:41] steve-bate commented on #3461
Thank you for your response. I'm going to close this issue since it's not directly related to the OH build.

[2015-12-02 11:41] #3461 closed

[2015-12-02 11:42] steve-bate commented on #3319
You may get more answers to your question by moving this discussion to the [community forum] (https://community.openhab.org). Thanks.

[2015-12-02 11:42] #3319 closed

[2015-12-02 11:43] steve-bate commented on #3274
You may get more answers to your question by moving this discussion to the [community forum] (https://community.openhab.org). Thanks.

[2015-12-02 11:43] #3274 closed

[2015-12-02 11:44] kirantpatil commented on #3461
Is there a bug created for OH build failure or do I need to create one ?

[2015-12-02 11:46] steve-bate commented on #3461
Maybe I don't fully understand the context. Is the XBee code you are trying to build part of the OH github repository?

[2015-12-02 11:49] kirantpatil commented on #3461
No, it is not part of OH github repository. I downloaded it from this link,
http://code.google.com/r/diaoulael-xbee/source/browse/.

On Wed, Dec 2, 2015 at 5:17 PM, Steve Bate <notifications@github.com> wrote:

[2015-12-02 12:13] kirantpatil commented on #3461
I needed to change the version at pom.xml file as <version>1.7.1</version> and it started to build with out any errors with "mvn clean install" and there are no issues with OH build.

Thanks.

[2015-12-02 15:08] paphko commented on #991
@sprehn very good! I'll test it the next days. You probably get more feedback if you announce the binding here: https://community.openhab.org/c/add-ons/bindings

[2015-12-02 15:25] remydavid commented on #3407
The Bintray support says the fix is still there BUT there is a bug in some APT versions that incorrectly follow 302 redirects. They are working on APT to fix these versions. In the meantime, try to update your APT version. What distribution are you using ?

[2015-12-02 15:30] dvanherbergen commented on #3456
@steve-bate pls assign issue to me.

[2015-12-02 15:39] teichsta commented on #3456
@dvanherbergen you first have to accept the invitation to the maintainer group send by github a while ago. I'll try to resend the invitation.

[2015-12-02 15:55] SkynetHome commented on #3141
@kaikreuzer Sorry for the delay. I put in some work on the Wikipedia page this morning. It still needs some work adding links and completing the interfaces section. I will make additional changes later this evening if I get a chance.

[2015-12-02 15:58] kaikreuzer commented on #3141
Cool, thanks! Better late than never :-)

[2015-12-02 20:21] sprehn commented on #991
@paphko: thx, made an announcement in the community as well: https://community.openhab.org/t/connect-sdk-binding/4726

[2015-12-02 21:02] flazzarini commented on #2047
+1 On that

As well as for the **HTTP PUT** Method, currently there is not a way of passing any Content to the binding whatsoever. However if such a feature were to exist at some point, one might not forget the fact that it might be important to specify the **Content-Type** as well whilst passing the Content via **PUT**, **POST** or **PATCH** Method.

Thanks for any advances in this topic.

[2015-12-02 21:11] dvanherbergen commented on #3456
@teichsta never mind, it turned out to be a configuration issue. This issue can be closed, see https://community.openhab.org/t/memory-leak-with-nikobus-in-1-7-1/2417/33

[2015-12-02 21:16] cdjackson commented on #3492
This is a bit strange. It looks like the association class is reporting multi instance, which is wrong. I don’t know why at the moment - it needs more analyses, but it would be worth deleting the XML file just to see if it makes any difference.

[2015-12-02 21:43] alansmith2 commented on #3117
I also have this problem, got 4 new nodes in and can't configure :( is there a way that we can change the database or force it to use the older version of the 2 x1.5kw relay switch device id?

[2015-12-02 21:45] cdjackson commented on #3117
Why do you want to use an older definition - this doesn’t make sense?

[2015-12-02 21:51] #3456 closed

[2015-12-02 21:53] airix1 commented on #3492
I tried deleting the XML file, but the newer version of the binding does not create a XML file for that node.

[2015-12-02 22:20] alansmith2 commented on #3117
looking at the XML file for the new version of the node it looks like most of the configuration parameters are the same and so if I could tell it to use the old configuration then that would allow me to configure the toggle parameter on the 4 new nodes. It's interesting I didn't think that there was a new version out so not sure what other changes there are between the two different device IDs

[2015-12-02 22:22] cdjackson commented on #3117
Ok, then please define exactly what is missing, and what version of the firmware you have so we can look at this. It needs to be done systematically...

[2015-12-02 22:43] alansmith2 commented on #3117
Hi, It seems that Fibaro have just released a new version of the firmware which has a different Device ID. http://manuals.fibaro.com/double-relay-switch/ (has the different manuals of the different versions). I can confirm when I get home tonight that the older versions are showing a different firmware version number to the new ones. When new firmware versions come out with new device id's is it n

[2015-12-02 22:45] alansmith2 commented on #3117
Thanks for all the time you put into this BTW Chris, may not be said but it is definitely appreciated. Alan

[2015-12-02 22:50] cdjackson commented on #3117
Thanks.

The system allows different configurations for different firmware versions, so we should be able to manage this ok :)

[2015-12-02 22:51] alansmith2 commented on #3117
OK that would be great :D is there anything else that you require from me?

[2015-12-02 22:56] cdjackson commented on #3117
Just a pointer to the manual for the software version, and the type/id for the device (and the version of course).

[2015-12-02 23:09] alansmith2 commented on #3117
Ok awesome, the manual here http://manuals.fibaro.com/content/manuals/en/FGS-221/FGS-221-EN-A-v1.02.pdf is the same as the one in the box. In Habmin the new node shows as

Manufacturer ID = 10f
Device ID = 3002
Device Type = 202
Version = 4
Protocol Version = 3.52
Application Version = 2.2

[2015-12-03 06:03] radose commented on #3497
It works :+1: Thank you.

[2015-12-03 07:06] #3497 closed

[2015-12-03 08:03] kirantpatil opened #3502 "Error during the execution of startup rule"
I did build the OH v1.7.1 with XBee binding using "mvn clean install".

Now added demo.rules, demo.items and did run ./start_debug.sh and its output is below with Error  while applying rule.

#### kpatil  ⋯  distribution  target  runtime  java -version
java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)

[2015-12-03 08:19] kirantpatil commented on #3502
The solution from this google group worked for me as well.
https://groups.google.com/forum/#!msg/openhab/hGnsvgcxgDw/iiOSAeZF8MMJ

#### The solution is below.

I managed to get permanently rid of the errormessages by changing :

        Heating?.members.forEach(heating|
            postUpdate(heating, if(Math::random > 0.8) ON else OFF)
to
        Heating?.members.forEach(heatingelement |

[2015-12-03 08:19] #3502 closed

[2015-12-03 08:50] mknet commented on #3479
@steve-bate Yeah, I will do so

[2015-12-03 08:50] mknet commented on #3479
By the way, thanks for your answer

[2015-12-03 10:42] kaikreuzer commented on #2945
@teichsta Is there any update regarding a PR for ESH?
FTR, the issue is now tracked at ESH as https://github.com/eclipse/smarthome/issues/592.

[2015-12-03 13:17] antanasstarkus commented on #3152
You mean these?

Supported:
 COMMAND_CLASS_ASSOCIATION
 COMMAND_CLASS_BATTERY
 COMMAND_CLASS_CLIMATE_CONTROL_SCHEDULE
 COMMAND_CLASS_MANUFACTURER_SPECIFIC
 COMMAND_CLASS_MULTI_CMD
 COMMAND_CLASS_VERSION
 COMMAND_CLASS_WAKE_UP
Controlled:
 COMMAND_CLASS_CLIMATE_CONTROL_SCHEDULE
 COMMAND_CLASS_CLOCK

[2015-12-03 13:45] knx-gvs commented on #736
Hi all. Still fairly new at openhab but through all the frustrations of this startup issue I may have found a lead for the more experienced to help in the search. I formally run my openhab on a bananapi and raspbian but I test and develop my rules, items etc. on my 64bit Win7 machine. Yesterday I had everything working fine with the following startup rule below (after a great struggle with that to

[2015-12-03 19:25] Alpoy commented on #1922
Indeed would be nice.. anyone up for the task? ;-)

[2015-12-03 20:58] theoweiss commented on #3451
@teichsta can you review the userdata ;-) based fix

@dasniko I've published a fixed bundle on bintray:
   *  jar: https://bintray.com/artifact/download/theoweiss/generic/org.openhab.io.dropbox-1.8.0-SNAPSHOT.jar
   * deb: https://bintray.com/artifact/download/theoweiss/generic/openhab-addon-io-dropbox-1.8.0-SNAPSHOT.deb

Could you test if the issues are solved? As long as you don't use the new ru

[2015-12-04 10:38] cdjackson commented on #3152
No - I think he's after the configuration parameters - this is the list of command classes...

[2015-12-04 12:18] steve-bate commented on #1602
It wasn't clear to me if this was a feature-request or a bug, but since it's linked to #1603 which appears to be a bug, I'm labeling this as a bug too.

[2015-12-04 12:23] steve-bate opened #3505 "[sonos] Binding creates excessive number of threads and exceeds process memory limits."
For many details and related analyses, see also:
https://community.openhab.org/t/openhab-crashing-with-out-of-memory-exception-sonos-1-7-1/4229/37

I tried upgrading the UPNP library the binding uses to openhab's jupnp library. This solves the thread creation symptom since the upnp task queue is bounded in jupnp. However, the binding still tries to create a huge number of tasks and the jupnp queue

[2015-12-04 14:54] marcelrv commented on #1916
@RickPizzi
see also
https://community.openhab.org/t/max-cube-binding-how-to-set-eco-auto-boost-mode/3161/12?u=marcel_verpaalen

you may have same issue. Hence could you give it a try in the eq-3 software if there the same happens.

[2015-12-04 15:17] RickPizzi commented on #1916
Thank you for the update. Unfortunately, I moved to another house and am no longer using the Max! kit anymore.

Rick
—
Riccardo Pizzi
pizzi@leopardus.com
http://www.vecchiflipper.it
http://www.pinballowners.com/webmaster

On 04 Dec 2015, at 15:54, Marcel <notifications@github.com> wrote:

[2015-12-04 21:02] nadeem879 opened #3506 "Unable to pair Philips hue bridge and can't see "Please press the connect button on the Hue bridge. Waiting for pairing for""
Hi,

I am brand new to OpenHab. I love the concept and want to learn. I bought a Philips Hue starter kit and configured OpenHab based on the instructions provided. When I launch OpenHab from my Windows machine I DO NO SEE this message:
Please press the connect button on the Hue bridge. Waiting for pairing for 100 seconds...
Please press the connect button on the Hue bridge. Waiting for pairing for

[2015-12-04 21:57] watou commented on #3506
I believe that someone will offer assistance if you login to https://community.openhab.org and post your question there.  It's a very active community with many helpful people, whereas this github issue system is unlikely to have the readership that will offer help, and it's intended for reporting verified issues with the code.

I will close this issue here for now, but please join in at https://c

[2015-12-04 21:57] #3506 closed

[2015-12-05 00:53] oyhel commented on #3039
I have a WALLC-S2 paddle switch that I am trying to configure for dimming a Fibaro Dimmer 2 (FGD-212). When I try to change the Command to control Group A to "Switch on/off and dim" I get the similar "Error sending updated value to the server". Every other option works fine. In the log files I get a NumberFormatException for the input string containing a lot of whitespace. I have tried using the l

[2015-12-05 03:57] airix1 commented on #3492
Some info that may help:
(https://radiothermostat.desk.com/customer/portal/kb_article_attachments/56875/original.pdf?1434142296)
I believe this is the same module that is in both the CT32 and CT101 thermostats.
[code]

[2015-12-05 08:08] cdjackson commented on #3492
Interesting. Looking at some logs from the CT101 last night it appears as though the device wasn't responding to encapsulated requests. Maybe there's a difference with the version - I'll take a look at this.

Thanks.

Sent from my iPhone

[2015-12-05 19:06] llamahunter opened #3510 "zwave plus lifeline notification not treated as hail"
zwave plus devices (such as the dragon tech dimmer / switch) have one association group, but it is a limited 'lifeline' association only.  However, when the physical switch is toggled, it does send an ApplicationUpdateMessage to the controller.  However, there is code in ApplicationUpdateMessageClass.java:70 that says not to treat this is as a HAIL if there are any association capabilities with th

[2015-12-05 19:53] berndpfrommer opened #3511 "InsteonPLM binding returning wrong query status under CPU load"
This documents a failure mode that @robnielsen reported to me:

I think I got the issue to happen, I'm trying to set some fast on/fast off rules to turn lights on/off in my basement. The lights started to go crazy, I have rules that are triggered by buttons turning on/off on one of my basement keypads. Here's where things started acting weird.

    2015-11-01 17:26:20 INFO  o.o.b.i.i.d.MessageHand

[2015-12-06 00:30] oyhel commented on #3039
To anyone else struggling with this. By trying Habmin2 i managed to change the parameter and dimming is working with the paddle switch as intended.

[2015-12-06 04:47] llamahunter commented on #3510
So, I commented out the test for association groups, and now openhab polls the switch when it is pressed.  However, it polls the dimmer too soon, while it is still in the process of changing light levels.   I'm thinking it would be nice somewhere to put a timer that keeps polling the switch periodically (every 100 msec?) until two values come back with the same level.  Any suggestions on where tha

[2015-12-06 09:16] cdjackson commented on #3510
This may not be simple to get right. It would need to be at a high level (i.e. outside of all the protocol layers) in order to account for timeouts etc - otherwise you’ll run the risk of locking up the stack. I’ll have a think - if you come up with any ideas, fire away.

[2015-12-06 11:47] mhett commented on #3243
I have an issue where the binding is not starting correctly. I can send commands to the receiver (X1200W) but do not receive anything from it. All these http URLs deliver date when putting them in the browser:
http://192.168.1.70/goform/formMainZone_MainZoneXml.xml
http://192.168.1.70/goform/formMainZone_MainZoneXmlStatus.xml
http://192.168.1.70/goform/formZone2_Zone2XmlStatusLite.xml
http://192.1

[2015-12-06 11:51] idserda commented on #3243
@mhett Please open a separate issue for your problem.

[2015-12-06 11:58] mhett opened #3513 "Denon Binding: No input data from the AV-Receiver"
I have an issue where the binding is not starting correctly. I can send commands to the receiver (X1200W) but do not receive anything from it. All these http URLs deliver data when putting them in the browser:
http://192.168.1.70/goform/formMainZone_MainZoneXml.xml
http://192.168.1.70/goform/formMainZone_MainZoneXmlStatus.xml
http://192.168.1.70/goform/formZone2_Zone2XmlStatusLite.xml
http://192.1

[2015-12-06 12:13] mhett commented on #3243
Done:
https://community.openhab.org/t/denon-binding-no-input-data-from-the-av-receiver-within-openhab/4816

[2015-12-06 14:32] spacemanspiff2007 opened #3514 "[ZWave] Popp Wall Plug Switch labeled incorrectly"
Hi,

I bought two [Popp Wall Plug Switches](http://www.popp.eu/products/actuators/wall-plug-switch/) indoor (POPE009006).
It is incorrectly labeled as "05438 Outdoor Wall Plug Switch".
Can we change the Database Description?
[code]

[2015-12-06 15:47] steve-bate commented on #3513
Have asked this question in the community forum? If so, can you add the link to the discussion. Thanks.

[2015-12-06 15:58] steve-bate commented on #3455
@mischelebuha, I believe @jarlebh is referring to issue #2364. There are instructions for installing the binding-related software on the Raspberry Pi. @jarlebh, is this information that should be added to the binding information on the wiki?

[2015-12-06 15:58] #3455 closed

[2015-12-06 16:51] mhett commented on #3513
Yes, here is the link:
https://community.openhab.org/t/denon-binding-no-input-data-from-the-av-receiver-within-openhab/4816
in addidion there are some error logs...

[2015-12-07 08:40] cniweb commented on #1618
@robertvanbregt you can close this issue!

[2015-12-07 13:33] robnielsen commented on #2218
@clinique, you are creating a binding for OH2, not OH1, correct?

[2015-12-07 13:45] hakan42 opened #3516 "jdbc persistence: tableNamePrefix error on startup"
Hi @lewie ,

I am using the OH2 build number 433 from Jenkins with your JDBC persistence included in it. On startup, I get (amongst other debug traces) the following error:

2015-12-04 14:51:52 [ERROR] [zaxxer.hikari.util.PropertyElf:140  ] - Property tableNamePrefix does not exist on target class com.zaxxer.hikari.HikariConfig

my conf/services/jdbc.cfg is:

[code]

Do you have any idea?

[2015-12-07 14:42] tbail opened #3517 "Error in Frame handling in WEB UI and Habdroid"
Hi There,

while building my weather area in openhab i tried to implemnet a Frame with some dynamic data in it. Bases on the WIKI the Frame has a label and optional an item.

I created an item
DateTime SensorVerandaObservation	"Letztes Update [%1$td.%1$tm.%1$tY %1$tH:%1$tM]" <IconClock> (gSensorVeranda)

and put it into an Frame in my Sitemap
Frame item=SensorVerandaObservation label="Wetterdaten

[2015-12-07 15:15] clinique commented on #2218
@robnielsen , yes - it's an extension (in fact a complete rewrite to take in account last version of Netatmo API, and pull out jackson ) of the current PR I've made on OH2 for the Weather Station.

[2015-12-07 17:06] regnets opened #3519 "sendXbmcNotification stalls rule if host is offline"
When using sendXbmcNotification in a rule while the target host is not available the rule stalls.

When the host becomes available openhab send all not transfered messages at once to kodi.

There should be a Timeout for this action, so that the rule continues to work.

[EDIT]
It seems like there is a timeout of 1000ms configured in the action binding.

So this is no timeout. Maybe kodi is not send

[2015-12-07 21:01] lewie commented on #3516
@hakan42, will have a look at.

You do not need "driver=org.postgresql.Driver" the bundle ignores it.
The bundle finds it driver by knows

Doesn't you need the prefix "jdbc:"?
Does th bundle generate the tables and write/read data as expected?

[code]

[2015-12-07 23:37] vgoldman commented on #3175
Same here. Mine work every once in a while. As with others online/offline notifications work fine almost always, but not any custom ones. I've seen it while using 1.6, and upgrading to 1.8 did not change much.
Any ideas, @belovictor ?

[2015-12-08 11:31] steve-bate commented on #3517
@tbail For some reason you expected/actual looks the same. Did you try to paste HTML into the Markdown window?

[2015-12-08 15:13] andylockran opened #3521 "Heatmiser - support TM-N1 Thermostat"
Hey guys,

Apologies if this isn't the right place for this; I could do with help on enabling heatmiser comms with the TM-N1 thermostat.  It uses the same protocol as the PRT that's used in the example, but when connecting to thermostat id 5 I get the following error:

4:35:52.019 [DEBUG] [.b.h.internal.HeatmiserBinding:129  ] - HEATMISER execute() method is called!
14:35:52.020 [DEBUG] [.b.h.inte

[2015-12-08 17:36] hakan42 commented on #1340
Review in progress :smile:

[2015-12-08 17:41] hakan42 commented on #3516
The "jdbc:" prefix is not necessary as I am running the addon in an OH2 installation. There, the OH1 compatibility layer will add that prefix before passing the config object to your code.

[2015-12-08 17:42] hakan42 commented on #3516
The tables are not created. I will experiment with my development installation later this week. I don't want to break my real installation too much, this would lead to trouble at home :smiling_imp:

[2015-12-08 19:30] watou commented on #3521
I think the binding just doesn't know your model, and the error is the result of that.  [This code](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.heatmiser/src/main/java/org/openhab/binding/heatmiser/internal/thermostat/HeatmiserThermostat.java#L120) leaves the `dcbModel` variable `null`, which is kind of a bug in the binding to have an incompletely defined obj

[2015-12-08 20:14] andylockran commented on #3521
Ok, this is neat.

So I know the model is compatible with Heatmiser protocol v3 (which is what the code appears to be using).  I kinda need to to match PRTHW if it's my model, howdo I catch the data[13] value of my dcb?

[2015-12-08 22:55] watou commented on #3521
I've built a [binding JAR](https://dl.dropboxusercontent.com/u/4286376/heatmiser-thermostat/org.openhab.binding.heatmiser-1.8.0-SNAPSHOT.jar) for you to run so it should hopefully log
[code]
by this change:
[code]

I don't know much beyond that, though.  Do you know how this model compares to other models?

[2015-12-08 23:16] watou commented on #3521
I recommend that you discuss this at https://community.openhab.org to bring in other Heatmiser users who could shed some light on the subject.

[2015-12-09 09:14] hmerk commented on #1400
Implemented with #3522

Best
Hans-Jörg

[2015-12-09 10:38] TheNetStriker opened #3523 "Caldav binding: error executing event job"
I think I just discovered an error in the caldav new binding. (Build from the sources 2 days ago) After one or two days the calendar events stop working. After a restart of Openhab they work again for some time then the error occurs again. I found the following error in the log:

    2015-12-08 18:00:00.255 [ERROR] [o.caldav.internal.job.EventJob:55  ]- error executing event job
    java.lang.Inde

[2015-12-09 12:34] kirantpatil commented on #1057
Hi all,

We managed to get it work as mentioned in http://technomindshare.blogspot.in/2014/04/interfacing-xbee-with-openhab.html.

Thanks.

[2015-12-09 12:37] kirantpatil commented on #388
Hi @Diaoul,

We managed to get it work as mentioned in http://technomindshare.blogspot.in/2014/04/interfacing-xbee-with-openhab.html

Thanks.

[2015-12-09 15:26] z00tv commented on #2900
I noticed the same issue exists in the classic ui on the 1.8 snapshot.  I quickly setup 5 dimmers, none of them work on safari or firefox.

[2015-12-09 15:43] andylockran commented on #3521
Hey @watou,

Thanks for this - i tested it out and it's model 5 - TM1.

It's got a slightly shorter DCB than the other thermostats, but I should be able to clone an existing model and pull it back in.  Would you be happy to review once I've written it?

[2015-12-09 16:40] watou commented on #3521
A quick Google says that the TM1 is not a thermostat, it's a timing clock.  Could you open a discussion about this at https://community.openhab.org, where other Heatmiser users could offer their insights?

[2015-12-09 18:10] querdenker2k commented on #3523
Did you know which event made problems?
Which kind of calDAV server do you have?

[2015-12-09 18:13] TheNetStriker commented on #3523
The error occured when executing the even at 18:00. I'am using the Davical calDAV server.

[2015-12-09 18:32] querdenker2k commented on #3523
Can you please try this?
http://speedy.sh/jfNZd/org.openhab.io.caldav-1.8.0-SNAPSHOT.jar

[2015-12-09 18:38] alexf2015 commented on #3060
a little bit late but here is the debug output:

[code]

[2015-12-09 18:40] lewie commented on #3516
Ah, O.K.
I hope to find some hours too, next weekend!
Oh, WAF: "Woman acceptance factor" has absolutely top priority, and rightly so! :-))

I have virtualised our systems with Proxmox. So I can switch very quickly between two OHs, if I need a hardware testing. A small "ZBOX-CI323NANO-BE" from Zotac is pretty powerful for 8 lxc containers. For customers I work on this with database-, fileserver-, f

[2015-12-09 19:44] TheNetStriker commented on #3523
I've just installed this addon, but now it also doesn't work after OpenHAB is started. It is currently 20:41 in Switzerland and the event is from 18:00 to 01:00, but the variable was not set. Here is the log Output:

    2015-12-09 20:26:32.329 [DEBUG] [o.i.c.internal.CalDavActivator:34  ]- CalDav Calendar IO has been started.
    2015-12-09 20:26:32.600 [DEBUG] [.i.c.internal.CalDavLoaderImpl:144

[2015-12-09 19:50] daniellueddecke opened #3525 "[Plex] Getting 400 Bad Request with PSM >= 0.9.12.3"
Hi,

as reported in [1], [2] and [3] there seems to be an issue with sending commands to Plex Media Servers starting with version 0.9.12.3.

So my question would go to @idserda if there are any plans to fix this issue?

Thanks and best regards,
Daniel

[1] - https://community.openhab.org/t/plex-binding-and-new-plex-media-server-with-https-bad-request/2860
[2] - https://groups.google.com/forum/m/#!

[2015-12-09 20:19] TheNetStriker commented on #3523
Edit: After a second restart the 21 value has been set.

[2015-12-09 20:57] querdenker2k commented on #3523
ok, thanks.
are you using OH1 or OH2?
Can you please set the caldav-command binding to trace.

[2015-12-09 21:04] idserda commented on #3525
Yes! I almost have a fix ready. Everything seems to work again but the code needs some tidying up.

Here's an intermediate version if you want to test: https://www.dropbox.com/s/12ouydq7rlm9gmy/org.openhab.binding.plex_1.8.0.201511062054.jar?dl=0

[2015-12-09 21:11] TheNetStriker commented on #3523
I'am using OH1. I've configured org.openhab.binding.caldav_personal, org.openhab.binding.caldav_presence and org.openhab.io.caldav in the logback config. Which one do I have to set to trace or do I have to add additional log?

[2015-12-09 21:34] querdenker2k commented on #3523
Oh sorry, the wiki was outdated. It's updated now.
Please change caldav_presence -> caldav_command

[2015-12-09 21:34] daniellueddecke commented on #3525
Cool! I'll test it right away tomorrow.

Thanks for your quick reply and your work on this binding! Appreciate!

Best
Daniel

[2015-12-09 22:01] TheNetStriker commented on #3523
Ok I've setup the logging. Now I have to wait at least for a day to see if the error still occurs.

[2015-12-09 22:11] CrackerStealth commented on #752
I have a squeeze box, but don't really use it in my OpenHAB deployment. I would need to spin up a squeeze server VM and play around with it, so it might take me some time to investigate.

[2015-12-09 23:30] johkin opened #3526 "Z-wave Qubino Flush Dimmer Plus ZMNHDD not initialized correctly"
I recently replaced a Qubino dimmer for the new Gen5 version, but the new one is not initialized correctly. I've tried to do some research on what the problem could be, but it seems to require some deeper knowledge about tha zwave binding. Could there be something wrong with the database definition, or could it be due to that they are Zwave+ devices?
My controller is a Zwave+ controller.

I also h

[2015-12-10 10:09] ghkuf commented on #2903
I have the same issue here with an AEOTEC DSD31 siren. I defined a number item for parameter 37 (sound/volume) which is read correctly from the device (I can see in the log) but then it shows the above mentioned error

and I cannot display/use the value read from the device.

[2015-12-10 12:01] chailer commented on #1964
Hi Matt,

would it be possible to share your openhab item configuration for the DSD31 siren? That would be great :)

Tanks in advance,
Christian

[2015-12-10 12:07] kirantpatil commented on #1057
@Diaoul,

Right now we are following above blog post and here is how demo.items looks.
Contact Window_FF_Bed2            "Bedroom2 [MAP(en.map):%s]"         (FF_Bed, Windows)     { xbee="<znetrxiosampleresponse@0013A20040A2206C#D0:" }

As per the blog when Digital Input is high and low it changes to OPEN and CLOSE at OH UI, which is driven from END DEVICE.

But we would like to emulate the behavio

[2015-12-10 14:00] Diaoul commented on #1057
I'm not sure how you can do that. What's the frame you send?

[2015-12-10 14:16] mattnl commented on #1964
Hi Christian,

sure no problem ;)
It's just a simple switch item to turn the siren on and off:

Switch Sirene      "Sirene"    <siren>     (gPersist)     {
zwave="9:command=switch_binary" }

Cheers,
Matt

On Thu, Dec 10, 2015 at 1:01 PM, chailer <notifications@github.com> wrote:

[2015-12-10 14:17] lewie commented on #3516
@hakan42,
running a OH1 Bundle in OH2, place a ````openhab.cfg```` into conf\services and write Bundle configuration in OH1 style in it.

In your case use a ````conf/services/openhab.cfg```` like:
[code]

Now jdbc-Bundle works as expected.

Rgds
Helmut

[2015-12-10 14:18] chailer commented on #1964
OK, that's simple, thank you very much :)

[2015-12-10 14:57] lewie commented on #3516
@hakan42,
and you are right too.
Now, after first config with 'openhab.cfg' file, it works too with 'jdbc.cfg' and without jdbc: prefix.
Deleted Tables and 'openhab.cfg' file, added 'jdbc.cfg' file and it runs and generates the Tables.

Do not know what is going on?

Stay tuned

[2015-12-10 16:51] lewie commented on #3516
@hakan42,
It was a Bug in combination when using property "tableNamePrefix".
Do you push this patch to openHAB master, please?

[code]

For postgresql you do not need ````jdbc:tableNamePrefix=Item````. Postres DB always generates Tablenames in lowercase and "item" is the default value.

Your simplest conf/services/jdbc.cfg is:
[code]

[2015-12-10 16:54] daniellueddecke commented on #3525
Hi,

I still get a 400 Bad Request.

I think they changed the way of how playback controls like play and pause are handled: those have to be sent to the player and not to the server. Are you aware of that?

In my case the player has an other IP address and port than the server. It can be retrieved by parsing https://server-ip:server-port/clients .

Let me know if you need help or additional inform

[2015-12-10 16:58] idserda commented on #3525
Could you turn on debug for the binding and see which URL is being called when you issue a command?

[2015-12-10 17:13] daniellueddecke commented on #3525
Sure. It tries to reach the server (192.168.178.27).
However, it seems to know where my client is (.133).

Best
Daniel

[code]

[2015-12-10 18:18] #3516 closed

[2015-12-10 18:19] hakan42 commented on #3516
Thank you for the fix, merged to master. Let's check tonights Jenkins build :smile:

[2015-12-10 18:54] TheNetStriker commented on #3523
Tonight I found the following error in the log:

    2015-12-10 17:59:05.867 [DEBUG] [.i.c.internal.CalDavLoaderImpl:797 ]- return event list for CalDavQuery [calendarIds=[command], from=2015-12-10T17:59:05.867+01:00, to=null, sort=null] with 2 entries
    2015-12-10 18:00:00.192 [INFO ] [o.caldav.internal.job.EventJob:44  ]- event BEGIN for: 8lm634sa-eq3b-lq9m-t02r-8ib30uyhpyyo(Heizung Abend@10.1

[2015-12-10 19:02] idserda commented on #3525
Thanks again for testing! I think the problem is the empty X-Plex-Token header. If you're not using Plex Home you don't have a username/password or token configured, so this header should not be send.

Could you try again with this version? https://www.dropbox.com/s/unkf74uahavseki/org.openhab.binding.plex_1.8.0.201512101956.jar?dl=0 .

[2015-12-10 19:31] stefanroellin opened #3531 "pilight: repeated exception was filling openhab.log"
While openhab was running, I edited some items. Some minutes afterwards, I observed that the pilight binding threw constantly one exception (several thousand times per second!). The openhab.log grew over 4 GB in size. I only could stop openhab to stop the exception.

The last two lines before it all started were:

[code]

After those lines, the following exception was repeated forever (quite simil

[2015-12-10 19:35] daniellueddecke commented on #3525
Dropbox says file is still uploading...

[2015-12-10 19:56] idserda commented on #3525
Try again :)

[2015-12-10 20:28] daniellueddecke commented on #3525
Sorry, still no success.

[code]

[2015-12-10 20:56] idserda commented on #3531
Oops, that's not good. I'll change the logging on connection errors a bit.

[2015-12-10 21:00] idserda commented on #3525
Really strange.. The empty header is gone now right? It works fine here on PMS 0.9.12.19 with Plex Home enabled or disabled. What version of PMS are you on?

[2015-12-10 21:13] daniellueddecke commented on #3525
I'm also on 0.9.12.19. I don't know whether the header is gone. I can't see the request any longer...

What do you get when you request http://localhost:32400/system/players? I receive a 404 then...

What definitely works is connecting to the player directly. In my case a call at `http://192.168.178.133:32500/player/playback/pause?type=video` pauses the video.

Best
Daniel

[2015-12-10 21:19] daniellueddecke commented on #3525
It may related to the kind of player as well. I'm using iOS and tvOS players.

[2015-12-10 21:37] idserda commented on #3525
Ah yes that explains it. Controlling RasPlex/PHT on OS X works, sending commands to an iOS client fails.

[2015-12-11 05:35] querdenker2k commented on #3523
Can you please post your config as well

[2015-12-11 07:58] kirantpatil commented on #1057
Sir, sorry I don't know about the frame. I am trying to see if I can do communication from both END DEVICE to COORDINATOR and vice versa.

[2015-12-11 08:13] MrMontesa commented on #3366
+1
I've bought my Smappee a few weeks back and the device is awsome. I've already asked for API access and got my credentials.
Will start playing around a bit with scripting. Also saw that there is a [3rd party C# library](https://github.com/timdams/Smappee_API_CS) that should work with the official Smappee API.

[2015-12-11 12:40] johkin commented on #3526
Could possibly have something to do with #3484, since actually none of the newly added devices are initialized correctly, not just the mentioned dimmer. I'll try do update the binding-jar tonight to see if it works better.

[2015-12-11 13:31] dannyboyw opened #3536 "Mochad X10 Binding: Can't get CM19A (RF) to work"
I have a cron job that has consistently used mochad for several years, therefore I have ruled out issues with it.  I am doing the following while trying to debug my problem:
1. Telnet into mochad, so I can see all that is being sent/received.
2. Telnet into openhab osgi console to cutout the UI (i.e. don't have to consider UI issues, but I still have a sitemap config below to do final test if I ca

[2015-12-11 14:40] cdjackson commented on #3526
Are you using the latest binding (within a week or two)? I fixed a bug that was stopping initialisation due to the switch all class.

Sent from my iPhone

[2015-12-11 14:47] TheNetStriker commented on #3523
This is my openhab.cfg:

    caldavio:command:url=http://127.0.0.1/davical/caldav.php/David/Heizung
    caldavio:command:username=user
    caldavio:command:password=pw
    caldavio:command:reloadInterval=1
    caldavio:command:preloadTime=1440
    caldavio:timeZone=Europe/Berlin

    caldavCommand:readCalendars=command

[2015-12-11 15:35] daniellueddecke commented on #3525
Okay, let me know if you have an idea how to fix it or when I can test something.

Best
Daniel

[2015-12-11 19:57] stefanroellin commented on #3531
Thanks for taking care of this issue.

I am not sure, whether it is only a logging issue. Why was the thread constantly throwing an exception without being able to recover?

Shouldn't the connections be explicitly closed in PilightBinding::updated, before they are overwritten? In other words similar to the pull request #3512 for the modbus binding?

[2015-12-11 22:15] querdenker2k commented on #3523
I imported the 5 events and changed the date to another time trying to reproduce the error, but i can't reproduce it.
I changed something and extend logging.
Can you please once again try this: http://speedy.sh/zYYDq/org.openhab.io.caldav-1.8.0-SNAPSHOT.jar

[2015-12-11 22:39] TheNetStriker commented on #3523
I've installed the new plugin. I also have a suspicion what could cause the problem. The events are all part of a recurring event, but in one week I've deleted some of the events because I wasn't at home. This was also about the time I noticed the problems. Are maybe those deleted events causing the problem? And would maybe a backup of the Davical database help you reproduce the error?

[2015-12-11 23:52] johkin commented on #3526
The initialization is working fine after updating to latest build.

[2015-12-11 23:52] #3526 closed

[2015-12-12 08:12] masoud-omidvar opened #3537 "Better synchronization for openHAB and industerial controllers via Modbus"
I need to integrate openHAB and some other controllers in a project. They provide some Modbus registers. To prevent inconsistent data set, they reject any Modbus request while running their control logic in each cycle.

I think if we can adjust a configurable small delay (e.g. 20 ms) after only first execution-try, then it is more probable to have a successful set of I/O requests in each pooling i

[2015-12-12 12:51] gonzzovela commented on #2218
@clinique if madre for OH2, will it work in OH1.

I'm new to OH and don't know the differences of bindings in the two versions.

Thanks

[2015-12-12 13:08] tbail commented on #3517
@steve-bate

Thats right, I removed the brackets to make the problem clear

[2015-12-12 14:02] clinique commented on #2218
No, OH2 bindings are not retro-compatible with OH1

[2015-12-12 14:57] robnielsen commented on #2218
I've been maintaining the OH1 binding lately, I don't have a Netatmo thermostat, and don't plan on purchasing one. Mabye this issue should be closed since it more than likely won't get implemented in OH1

[2015-12-12 16:04] toby200 opened #3538 "Wemo Insight - additional parameters"
As discussed on the forum with @hmerk  - The wemo insight plug returns a list of 11 parameters; currently the binding only returns a subset of them. It'd be great if the other parameters could also be added to the binding

The full list, as far as I can work out / gather from the internet, is as below.

1: on/off state
2: lastChangedAt (long, unix timestamp)
3: lastOnFor
4: onToday
5: onTotal
6: t

[2015-12-12 23:20] jshprentz opened #3540 "Init.d reports incorrect openHAB status in Ubuntu 14.04"
Working on Ubuntu 14.04.3 LTS (GNU/Linux 3.13.0-68-generic x86_64), /etc/init.d/openhab reports that openhab is running when it is not.

[code]
The shell echo flag reveals that the openhab script checks the wrong pid file. Although the openhab script sets a `PIDFILE` variable to `/var/run/openhab.pid`, that value is not passed to the `status_of_proc` function. The system functions `status_of_proc`

[2015-12-13 02:02] jshprentz commented on #3540
With the `status_of_proc` change described above, `/etc/init.d/openhab` reports "openhab is not running" and exits with status 3.

Here is the trace.

[code]

[2015-12-13 06:16] joshughes commented on #3525
@idserda I can confirm that your build works with the issues I was seeing with plex. When you open a PR can you link it to this issue? I would be curious to see and help test the code!

Thanks!

[2015-12-13 08:04] clinique commented on #2218
I don't plan (neither have time) to revert changes back in OH1 neither.

[2015-12-13 10:17] idserda commented on #3525
I've made a few changes, all commands go directly to the client now. This also works with iOS clients. New jar at https://www.dropbox.com/s/ff8zdktuoe4e012/org.openhab.binding.plex_1.8.0.201512131111.jar?dl=0

@joshughes Code is at https://github.com/idserda/openhab/commits/plex-update, I'll open a pull request soon.

[2015-12-13 11:13] pistoletov1974 commented on #2847
i have the problem with mpd binding. My player is mpd and i play internet radio streams from mpd installed on ARM Soc board. The track info does not updated in streams. I need to switch to another stream and switch it  back,  only after this the track and artist items received update.

[2015-12-13 17:27] randomname872634 commented on #3353
+1

It would be really helpful to get the rule' filename and line number!

For example, I have no idea where to look when I see this:

[code]

[2015-12-13 19:17] SwissKid opened #3542 "Squeeze Server uses PercentType for playing time"
Here's the error:

[code]

This is an issue because of (in Binding)

[code]

...

[code]

Which is no bueno when the "newState" is the number of seconds in a song (often over 100). My suggestion would be to change it to a string type.
##

[2015-12-13 21:06] binladin opened #3543 "error in products.xml of zwave binding"
I am trying to tune Wintop ITemp Sensor, but can't see configuration parameters in Habmin. I think products.xml has error in Wintop iTemp description, this file contains: Type>1188</Type
bat realy **Product Type ID** must be **0x1182**. How to correct this value ?

[2015-12-13 22:12] cdjackson commented on #3543
I’ll update the file - note that it’s not uncommon for the same device to have multiple IDs, so it’s probably not an error, but an addition…

[2015-12-14 05:37] awnz commented on #1187
I'm getting some weird related behaviour in the iOS App.

Sub-pages won't update for me if they have a switch in them, unless I also define a switch (any switch) above it (not below it) on the main page - then they work fine. The switch of course can also be a button.

So updates for sub-pages work for me in my case when I defined an "All Off" switch right at the top first. That'll do me so unless

[2015-12-14 07:02] watou commented on #3366
If I had one of these devices, I would write a binding for it as the communication is very similar to other bindings I've written.

[2015-12-14 08:08] MrMontesa commented on #3366
Awesome!
You can only connect against the cloud service not the local device. It uses two authentication. I would offer to temporarily share my credentials with you. Then you would have the same API access as if you would own a device.
Also happy to heavily beta test and write docu.
Thanks again for your offer.
Seb

[2015-12-14 08:19] cdjackson commented on #3543
This is now merged. Please advise if it solves the issue.

[2015-12-14 08:24] cdjackson commented on #3389
@samden Can you remind me if we solved this with the new initialisation sequence?

[2015-12-14 08:28] Roadster commented on #3366
i am also happy to share my credentials for dev

cheers
der mischa

Am 14.12.2015 um 09:08 schrieb Sebastian <notifications@github.com>:

Awesome!
You can only connect against the cloud service not the local device. It uses two authentication. I would offer to temporarily share my credentials with you. Then you would have the same API access as if you would own a device.
Also happy to heavily beta

[2015-12-14 11:08] watou commented on #3366
Just to be clear, I have need of such a device, and I would be motivated to write a solid binding if I actually owned one.  I won't consider buying one myself until spring, but that's when I'm less likely to have time to write a binding than now.

[2015-12-14 13:14] mbs38 opened #3546 "Modbus binding (in serial mode) does not handle Modbus Exception Responses in any way"
Seems to apply to serial mode only.

A standard Modbus Exception Response (as outlined here: http://www.simplymodbus.ca/exceptions.htm) sent by a Modbus device is not recognized by the binding. Instead, these responses are deemed inclompete and an IOException "Error reading response" is thrown. This leaves the user with no way of knowing whether there is a real problem or if he/she has just tried

[2015-12-14 15:44] airix1 commented on #3492
Hi Chris, any update with the multi instance associations?

[2015-12-14 16:29] binladin commented on #3543
It solved. Thanks!

[2015-12-14 16:29] #3543 closed

[2015-12-14 17:10] cdjackson commented on #3492
Not really. Can you email me a log from your system?

[2015-12-14 18:14] sambuca231 opened #3548 "Netatmo Binding - Could not parse JSON from URL Error"
I tried to run the Netatmo Binding, but I receive an error. I've already updated the version (1.8.0-Snapshot). I've checked the Netatmo credentials more then once. Can someone help me?

[code]
##

[2015-12-14 18:35] samden commented on #3389
@cdjackson It seems that you have not received my last email, in which I had reported on my testing of the zwave binding build. I have just sent you a new copy of that email, please let me know if you have not received it and I will copy it here directly (my email was however rather lengthy and, therefore, maybe not quite appropriate for a post here). Thank you again for your help!

[2015-12-14 19:00] querdenker2k commented on #3523
But there are always events which start at 18:00. These aren't the same?
What is the result of the current binding?
No the database wouldn't help.

[2015-12-14 20:22] idserda commented on #3412
I'd be happy to look into this. Seems the binding also does not detect a power off of the receiver after the telnet client is connected.

[2015-12-14 20:31] daniellueddecke commented on #3525
Cool! I can confirm this working with iOS and tvOS Plex Clients.

However, there currently is a known issue with pausing video from any Plex remote control (including the official Plex app itself) as mentioned [here](https://forums.plex.tv/discussion/191778/planned-features-known-issues). Just if anybody wonders...

Thanks again!

Best
Daniel

[2015-12-14 20:31] #3525 closed

[2015-12-14 21:39] cdjackson commented on #3389
Got it now - thanks.

[2015-12-14 22:13] #1400 closed

[2015-12-14 22:39] TheNetStriker commented on #3523
At the moment the 18:00 event exists every day, but a few weeks ago I've deleted some of the events from the event series, maybe this is the problem?

My openhab server is now up for 3 days and currently none of the events are triggered any more. (also the one on saturday was not triggered) With the new binding I don't find any errors in the log files, so I just post any other relevant logs here:

[2015-12-15 03:39] JCT250 commented on #3117
Hi Chris,

just wondering how far off the addition to the library would be?

Cheers
James

[2015-12-15 03:48] JCT250 commented on #2524
Hi Luke.

How's the stability been over the last month? Wondering if you still have the same issue. I noticed last night that two time triggered rules weren't firing, I'm pretty sure the code is solid..

[2015-12-15 08:20] masoud-omidvar commented on #3537
Two more issues:
1. The order of putting read register in ByteBuffer is incorrect (in ModbusBinding.java)
2. Modbus users are accustomed to start Addressing from '1'  instead of '0'

[2015-12-15 11:37] hakan42 commented on #3454
@kaikreuzer , @teichsta , would one of you like to review the linked pull request? I'd love to get rid of critical bugs for 1.8.0 :smile:

[2015-12-15 12:06] #3454 closed

[2015-12-15 12:07] kaikreuzer commented on #3454
Thanks for fixing!

[2015-12-15 12:21] teichsta commented on #3454
great, thanks @hakan42!

[2015-12-15 16:00] LukeOwncloud commented on #2524
My test is still running without failure. Everything works just as it is supposed to be. It am clueless what might be causing this issue and when it is caused at all. All in know so far: Restarting the computer seems to help (for a while of unknown length). If there weren't so many reports about the same issue I'd call for closing this issue. However...
One other thing: I think that all reporters

[2015-12-15 16:52] diverseg commented on #3537
1. If this Is this regarding a floating point data type, Likely a Big Endian Vs Little Endian issue.
The endianness of the master and slave must be considered. Byte swap, word swap options for the 4 possible byte orders would solve any issue.
ABCD
BADC
CDAB
DCBA

2.  Not all Modbus users.
  This issue has been around a long time.
he Modbus.org standard documents refer to register addresses using "

[2015-12-15 17:58] querdenker2k commented on #3523
No a change in the sitemap should not cause a reload of the items, just a change in the items files.

Ok, so when you got the error at 18:00 there shouldn't be an event start, right?

I've tested the binding a long time, but i changed thread-handling to quartz. So i didn't tested event deletion and changing again.
I never used quartz before, so there might be an error while canceling events. I hav

[2015-12-15 19:03] TheNetStriker commented on #3523
At the moment there should be an event start. Today I got an error again:

    2015-12-15 01:00:00.291 [INFO ] [o.caldav.internal.job.EventJob:44  ]- event END for: 8lm634sa-eq3b-lq9m-t02r-8ib30uyhpyyo(Heizung Abend@14.12.2015/18:00-15.12.2015/01:00)
    2015-12-15 01:00:00.298 [DEBUG] [g.openhab.io.caldav.EventUtils:124 ]- add item NUM_Living_Calendar_Temperature (Type=NumberItem, State=21) to ac

[2015-12-15 23:01] cdjackson commented on #3117
At the moment I’m working on a number of things - mostly different OH2 bindings and additions to ESH and this is taking a lot of time. This means the constant flow of requests for database entries is unfortunately growing - they all take time to add, and it normally falls on me to add them….. If you can have a look at trying to do this yourself, it would make things a lot quicker - there is an ove

[2015-12-16 00:20] alansmith2 commented on #3117
Ok, so i'm guessing that the Zwave binding itself needs to be updated? When I look at the openHab log file (on a virtual machine running openHAB but without HABMIN installed) the device still shows up there as being unknown as such whereas the nodes running the older version of the firmware do get detected ok. Looking inside the Zwave binding JAR file I can find the XMLs under database for the dev

[2015-12-16 00:31] cdjackson commented on #3117
Yes, the XML files need to be updated - these are compiled into the JAR.

There is - see below for the FGD211…

			<ConfigFile VersionMax="1.8">fibaro/fgd211-14.xml</ConfigFile>
			<ConfigFile VersionMin="1.9" VersionMax="1.11">fibaro/fgd211-19.xml</ConfigFile>
			<ConfigFile VersionMin="2.1">fibaro/fgd211-21.xml</ConfigFile>

Well, there won’t be until someone creates it, but the system supports

[2015-12-16 00:53] alansmith2 commented on #3117
Right ok, starting to make more sense, looks achievable. Had gone straight to the Fibaro folder and missed the products xml file one directory up.

Having absolutely no idea how to compile this stuff, is there other things that are dependant on these files being as is i.e do I need to open this in some sort of dev environment and then recompile or is it possible to open the XML files from within t

[2015-12-16 00:56] cdjackson commented on #3117
If you’re not happy with all the compiling etc, then just grab the FGS221 XML file from the folder, modify it as you think it should be for the version you have, then paste it into github and I’m happy to sort out the rest - just doing this would really be a big help and would be appreciated :)

[2015-12-16 01:00] alansmith2 commented on #3117
Yep sure, I'll create the new file for the new firmware version and can add into the products file etc and send though :)

[2015-12-16 01:03] cdjackson commented on #3117
Thanks.

[2015-12-16 02:37] JCT250 commented on #3117
Hey Chris, one of the parameters takes a int from 0-65535 using the value as a number of milliseconds before turning off. I've had a look through some of the other config files and can see that when numbers from 0-65535 have been used that data type short has been used so am assuming that these are by default unsigned? Also in a couple of different instances the <size> flag has been set to either

[2015-12-16 02:41] cdjackson commented on #3117
The data type isn’t used, so short, or int is ok - the important thing is really the length - this needs to be correct but it’s normally in the Fibaro user manual.

What flag do you mean (i.e. that you say is set to 1 or 2)?

[2015-12-16 02:52] JCT250 commented on #3117
In the fgwpe.xml file for example it has

		<Parameter>
			<Index>39</Index>
			<Type>short</Type>
			<Default>600</Default>
			<Minimum>1</Minimum>
			<Maximum>65535</Maximum>
			<Size>1</Size>

and then further down it also has

		<Parameter>
			<Index>70</Index>
			<Type>short</Type>
			<Default>65535</Default>
			<Size>2</Size>

In one of the new firmware versions for the FGS-221 you are able

[2015-12-16 03:14] JCT250 commented on #3117
Hi Chris, changes below, have included text file with description / line number of changes made

[FGS221.zip](https://github.com/openhab/openhab/files/63511/FGS221.zip)

Thanks a lot :)

[2015-12-16 03:33] alansmith2 commented on #3117
Argh beat me to it. Good work picking up differences between v1.00 and v1.01. Interesting that there are no parameter changes between 1.01 and 1.02 though?

[2015-12-16 03:42] JCT250 commented on #3117
Not that I could see aye. I printed out the three manuals from the Fibaro website and compared them side by side and whilst 1.01 and 1.02 differed from 1.00 there didn't appear to be any changes to either the order of the parameters nor the options available for each parameter so not sure aye.

[2015-12-16 04:36] llamahunter commented on #215
So, there's now a published V2 protocol doc from lifx.  Is anyone working on a binding?  https://github.com/LIFX/lifx-protocol-docs

[2015-12-16 07:07] samjetski commented on #1244
Any progress on the OH2 Z-Wave binding? Looking at using this for a project.

[2015-12-16 07:56] kaikreuzer commented on #215
Yes, @kgoderis implemented new new protocol: https://github.com/eclipse/smarthome/pull/483

[2015-12-16 08:36] masoud-omidvar commented on #3537
As you can see in the following screenshot from debugger, ByteBuffer class expect to put higher value word (register) first !
![image](https://cloud.githubusercontent.com/assets/8285663/11835478/1be1688a-a3e9-11e5-9daf-b9cc9fc25c85.png)

So, I change the code as:
![image](https://cloud.githubusercontent.com/assets/8285663/11836080/6c662ba2-a3ed-11e5-8288-ae3031967ce6.png)

[2015-12-16 09:14] stefanroellin commented on #2847
@pistoletov1974 your problem should be fixed with pull request #3500 which was merged two days ago and therefore should be available in the nightly builds.

Unfortunately the pull request does not fix all issues. I have observed that the binding at least once lost the connection to mpd completely and was not able to recover. I will try to reproduce my observation.

[2015-12-16 10:59] cdjackson commented on #1244
Yes - it’s nearly done. I’ve started adding more devices into the database, but there’s some code I need to add/test following a core ESH update.

[2015-12-16 12:13] cdjackson commented on #3117
It’s quite common not to change the parameters between versions - this is why we don’t have lots of different versions for all the Fibaro devices. They seem to rev the software version, change the manual, but not change parameters…

Anyway, thanks for the files - I’ll take a look at them tonight if I get a few minutes and I don’t fall asleep (I’m out in the US for a couple of days, but my timezone

[2015-12-16 18:34] querdenker2k commented on #3523
@hakan42 Can you help with quartz?

[2015-12-16 19:32] pistoletov1974 commented on #2847
@stefanroellin thank you!  This is awesome news!

[2015-12-16 22:00] TheNetStriker commented on #3523
I've used Quarzt a few years ago in a .Net project but never with Java. But maybe I will remember something of it. Where should I look?

[2015-12-16 22:31] hakan42 commented on #3523
Sorry, no real idea. @kaikreuzer ,  @teichsta , is there any way to show what jobs are scheduled in quartz? Maybe something via the OSGI console?

[2015-12-16 22:39] TheNetStriker commented on #3523
In my .Net project I've got this method to delete all jobs:

    private void ClearJobs()
    {
            IList<string> jobGroups = scheduler.GetJobGroupNames();

            foreach (string group in jobGroups)
            {
                var groupMatcher = Quartz.Impl.Matchers.GroupMatcher<JobKey>.GroupContains(group);
                var jobKeys = scheduler.GetJobKeys(groupMatcher);

[2015-12-17 01:10] masoud-omidvar opened #3558 "Modbus: Little Endian 32-bit data types"
I think the order of putting read registers in ByteBuffer is incorrect (in ModbusBinding.java). As you can see in the following screenshot (a simple program in a debugger), ByteBuffer class expect to put higher value word (register) first !

![image](https://cloud.githubusercontent.com/assets/8285663/11835478/1be1688a-a3e9-11e5-9daf-b9cc9fc25c85.png)

So, I change the code as:

![image](https://cl

[2015-12-17 04:52] querdenker2k commented on #3523
No deletion works now. My problem now is that some jobs will not execute. Scenario:
quartz thread count of 2.
4 calendars configured.
I'am scheduling 4 jobs for the same time to reload events from the server, but just two are executed and the other two are not executed after them.
When i set the thread count to 4 all is fine. I have tested with some simple counting loops and sleeps in the jobs, so

[2015-12-17 07:27] kaikreuzer commented on #3523
Never tried it myself, but shouldn't https://quartz-scheduler.org/api/2.2.1/org/quartz/core/QuartzScheduler.html#getJobKeys(org.quartz.impl.matchers.GroupMatcher) give you access to the job list?

Regarding making the list available on the OSGi console, note that there is also a feature request at ESH: https://github.com/eclipse/smarthome/issues/581

[2015-12-17 16:58] brettyj commented on #3166
it's not a question steve, it's a bug...

[2015-12-17 17:00] brettyj commented on #2692
I'm with you MrMontesa. I'm a bit concerned this issue isn't being fixed - it means I can't rely on a reboot of my HA server bringing back up OpenHAB correctly. I have to babysit it and ensure it's all working before I can leave it, and if it isn't, I just have to kill and relaunch openhab until it works...

[2015-12-17 17:30] watou commented on #3166
While it may indeed be true that it's a bug, the community forum could offer input on further things to try, people there could examine your rules and items definitions, and generally more eyes could help stop the issue so it can be resolved.  Those helpful eyes aren't here, so I also recommend the forum as a place to make progress.

[2015-12-17 18:05] brutevinch commented on #215
@kaikreuzer is this for OH1 too?

[2015-12-17 18:06] steve-bate commented on #3166
The "I just wanted to ask the question." made me think this was a question requesting "any ideas" about the cause of
your problem.

[2015-12-17 19:40] pistoletov1974 opened #3560 "Chart refreshing page"
my charts refreshes page in browser or ios interface. I try to change persisstence from rrd4j to db4o but unsucessfully. Refresh period a few second and it does not depend on parametr "refresh" in chart item.
In log i did not see any errors. My chart have a period switch (hour, day, week) and it refreshes always. The period updates persisted items in chart more than 5 minute

[2015-12-17 19:55] kaikreuzer commented on #215
No, Eclipse SmartHome bindings only work on openHAB 2.

[2015-12-17 20:40] idserda commented on #3412
I've submitted a pull request to fix this.

What receiver needs 20W in standby by the way? My X2000 only uses about 2.6W.

[2015-12-17 20:47] idserda commented on #3513
@mhett Thanks for reporting this, I've just submitted a pull request to fix this.

[2015-12-18 06:37] kirantpatil commented on #1057
@Diaoul, for our usecase we found the below binding works fine.

https://github.com/juri8/openhab/tree/diyxbee

[2015-12-18 12:35] #3560 closed

[2015-12-18 17:35] lewie opened #3563 "Sitewhere service blocks start of other persistence services"
I tested a persistence setup [here](https://community.openhab.org/t/jdbc-persistence-service-missing-in-1-7/4983/20)

It does not let me rest...

I found out, that if I copy actual org.openhab.persistence.sitewhere-1.8.0-SNAPSHOT.jar to addons, other persistence services does not start up.

I have tested with jdbc, mysql and jpa persistence.
It ends with PersistenceExtensions WARN: ```There is no

[2015-12-18 17:47] watou commented on #3563
@derekadams, could you please have a look at this issue?

[2015-12-18 17:59] derekadams commented on #3563
Yes, I will pull down the latest code and try to replicate the problem.

[2015-12-18 19:20] querdenker2k commented on #3523
I'm running a loop inside a Job with a Thread.sleep of 1sec. This is the result.
[code]
But scheduled are 6 jobs
[code]
With this code
[code]

When i change the Thread.sleep inside the Job to 100ms all Jobs are executed and printed.
Thread count for quartz is set to 1.

What i am doing wrong? Is this a feature? I can't find any issues or something on google.

[2015-12-18 22:18] derekadams commented on #3563
There was a commit that I accidentally didn't include in the squashed pull request. It looks like if you don't add the 'org.openhab.core.persistence.PersistenceService' interface in the service descriptor, bad things happen. I pushed the change as it had been working locally. That should fix the problem, but I will double-check after building with the latest updates.

[2015-12-18 23:08] teichsta commented on #3563
ftr: the according PR is #3566

[2015-12-18 23:12] #3513 closed

[2015-12-18 23:12] #3412 closed

[2015-12-19 11:08] TheNetStriker commented on #3523
I have an update regarding the event problem. I've started OpenHAB this monday and it seams as every event from monday to friday was triggered despite the error I've posted 4 days ago, but the event saturday was not triggered. In the log I  only found those entries:

    2015-12-19 10:58:01.288 [DEBUG] [.i.c.internal.CalDavLoaderImpl:805 ]- return event list for CalDavQuery [calendarIds=[command],

[2015-12-19 11:47] steve-bate commented on #3558
@masoud-omidvar What's the relationship between this and the previous issue? Can the previous issue be closed?

[2015-12-19 11:49] steve-bate commented on #3558
@diverseg, should this issue be tagged as a bug or an enhancement?

[2015-12-19 11:51] steve-bate commented on #3540
@jshprentz, is this the init.d script included with the apt package?

[2015-12-19 12:01] masoud-omidvar commented on #3558
yes, I think this issue should be tagged as a bug.

The other issue (as you have already tagged as 'enhancement') is independent of this item. It would be so fine and helpful, if you can add this enhancement in the next supporting release.

[2015-12-19 13:22] querdenker2k commented on #3523
There wasn't an error in the post 4 days ago (?)
There is currently still an error inside (already fixed on my pc).
I will give you a new version, if i found a resolution for the current quartz bug/problem.

[2015-12-19 13:31] TheNetStriker commented on #3523
I mean this error:

    2015-12-15 01:00:04.921 [ERROR] [.i.c.internal.CalDavLoaderImpl:341 ]- cannot create jobs for event: 8lm634sa-eq3b-lq9m-t02r-8ib30uyhpyyo(Heizung Abend@15.12.2015/18:00-16.12.2015/01:00)

This is the only error I found in the log. The rest are debug logs.

[2015-12-19 16:54] querdenker2k commented on #3523
Are you using the same configuration?

[2015-12-19 16:55] TheNetStriker commented on #3523
Yes, I've changed nothing.

[2015-12-19 17:10] jshprentz commented on #3540
@steve-bate Yes, the init.d script is included with apt package openhab-runtime.

[2015-12-19 18:28] udo1toni opened #3567 "Last succesful Build on Cloudbees"
was at 12-13-2015.

I wonder if there should be an extra category at openHAB Community to report such issues.

[2015-12-19 18:30] cdjackson commented on #3567
There is a thread on this…

https://community.openhab.org/t/cloudbees-has-stopped-building/2091/13 <https://community.openhab.org/t/cloudbees-has-stopped-building/2091/13>

[2015-12-19 18:32] tankman316 commented on #2900
I'm having the same issue. I setup a brand new install of 1.7 and everything worked. I tried the latest 1.8 snapshot and none of the dimmers work. I can't make the slider do anything in the UI and I'm not sure how to check if anything is firing on the backend.

[2015-12-19 18:42] mhett commented on #3513
@idserda I still have troubles with the connection to the receiver. Sometimes it is working, sometimes not. Can you see something in this log?

2015-12-19 19:37:27.892 [DEBUG] [.denon.internal.DenonActivator] - Denon binding has been started.
2015-12-19 19:37:27.910 [DEBUG] [.i.DenonGenericBindingProvider] - denon:avr1200 item DenonPower bound to property PW
2015-12-19 19:37:27.913 [DEBUG] [.i.Den

[2015-12-19 18:47] idserda commented on #3513
Are you using the latest nightly build of the binding? The code was merged last night, maybe there's no build yet.

[2015-12-19 18:51] mhett commented on #3513
Oh you are too fast for me. I just updated my previous comment. ;-)
I have tried with the latest build from cloudbees (# 1096 (19.12.2015 03:31:30). I think the changes are in there.

[2015-12-19 18:57] mhett commented on #3513
I am afraid the changes are not in there. There is no green "lamp" at build # 1096.

[2015-12-19 21:44] teichsta commented on #3540
great work @jshprentz thanks!

Could you send your proposed change as PR?

I recently noticed that (especially when using this script with openHAB2) permissions doesn't seem to work out so good. I am not able to narrow that down more specifically since there is no logging (at all) which could help debugging.

Could you (as obviously more experienced bash-specialist) have a look at this script in g

[2015-12-19 21:45] teichsta commented on #3540
aaah, you did already (#3547)

[2015-12-19 23:03] theoweiss commented on #3540
Yes, he did. I hopefully can test it tomorrow.

[2015-12-20 11:25] kaikreuzer commented on #2900
As it still hasn't been ported to ESH and it does not seem to work in OH1, I would actually suggest to revert this change as time is two short for the 1.8 release.

[2015-12-20 11:28] kaikreuzer commented on #3567
There is actually no need to report it as @teichsta has setup an automatic monitoring and is directly notified about build problems.

[2015-12-20 11:28] #3567 closed

[2015-12-20 16:19] julesbike opened #3570 "BTicino binding enhancement how do I submit?"
I've downloaded the BTicino binding and made a couple of changes to enable CEN 25 control.  I used eclipse.  What do I need to do next for others to test this?

[2015-12-20 16:28] watou commented on #3570
Here is a short description.  First save your
[code]
I will close this issue for now.  Comment here again if that's not enough to go on.

[2015-12-20 16:28] #3570 closed

[2015-12-20 16:31] watou commented on #3570
Oh, to have others test your new JAR:
[code]

[2015-12-20 16:52] julesbike commented on #3570
thanks where would you suggest I share it?  is there somewhere within the openhab so people will find it?

[2015-12-20 16:59] watou commented on #3570
Not that I'm aware of.  I usually use Dropbox, but any file sharing service should do.

[2015-12-20 17:40] udo1toni commented on #2900
Slider works in Classic UI (at least for me, just using the nightly). I have no Buttons but a Slider to set Dimming value (very nice and needs no increase/decrease command, because the value is set absolutely)

[2015-12-20 18:45] SirTomme commented on #2515
Appreciated.
A warning in the logs that I forgot do explicitly define my group in the items file would have saved me a lot of time.

[2015-12-20 19:05] julesbike commented on #3570
thx

[2015-12-20 20:26] querdenker2k commented on #3523
Can you create me a testaccount on your baikal server. With my openHAB installation its currently working fine. So i will test it on a baikal server.

[2015-12-20 20:40] TheNetStriker commented on #3523
I'am using a Davical server and it's currently not public, but I could make it public to test. How can I send you the user and password?

[2015-12-20 20:55] querdenker2k commented on #3523
Ah ok, you can send it via email to querdenker2k@gmx.de.

[2015-12-20 21:51] TheNetStriker commented on #3523
I've just sent you the login details via email.

[2015-12-21 02:43] brettyj opened #3571 "Hue Blink Lights"
Hi Folks,

I've done some work with the Hue API in .NET, and I remember there being a command that you can send which tells the lights to do a quick blink. Is this possible with the OpenHAB binding? I want to blink the lights if a doorbell is pressed.

Thanks

[2015-12-21 08:40] kaikreuzer commented on #3571
This is currently implemented for openHAB 2, see https://github.com/eclipse/smarthome/pull/754.

[2015-12-21 08:40] #3571 closed

[2015-12-21 11:37] mrx23dot opened #3572 "~7sec response on first colorpicker wheel click"
When I first open web interface after a long time, and click on colorpicker wheel,
the "received update" rule is only called after ~7seconds, on 2nd and further click it is instantaneous.

ITEM:
Color   home_bedroom_MoodLClr "MoodLamp" <slider>  (home_bedroom)

RULE:
rule "MoodLClr"
  when
    Item home_bedroom_MoodLClr received update
  then  ...
end

ENV:
OpenHab: 1.8.0-SNAPSHOT, stock web inter

[2015-12-21 11:43] GeneralLuzi opened #3573 "LGTV: Update to 2014/2015 - channel switching"
Hello,

in the attachment you can see the channel list xml files downloaded by openhab and via browser

[lgtv-xml.zip](https://github.com/openhab/openhab/files/68393/lgtv-xml.zip)

Comparing the files there are some differences in the xml-structure, which lead to arrayoutofbound exceptions while changing the chanel number:

12:35:42.027 [DEBUG] [b.lgtv.internal.LgtvConnection:379  ] - warning - un

[2015-12-21 12:33] mrx23dot opened #3574 "Stock web interface is incompatible with desktop/android browsers"
Env:
OpenHab: 1.8.0-SNAPSHOT, stock web interface
HW: RPi 1

On Win7 + Opera 12 browser I observerd the following:

1, BACK and HOME buttons are not displayed. (on newer opera it is shown)
2, only first click works on Switch item, on 2nd and further clicks only the GUI switch is updated, but nothing is sent out, even if I reload the page (using on/off command with mqtt) (on Chrome it works perfect

[2015-12-21 12:38] watou commented on #3573
@martinfluchgmxnet, would you have a look at this issue?

[2015-12-21 13:24] mrx23dot opened #3575 "Sitemap 'default' could not be found after every reboot"
On the very first web page load after restarting Hab I always get:

HTTP ERROR 500
Problem accessing /openhab.app. Reason:
    Sitemap 'default' could not be found
see attachment.

then after ~3min + refreshing everything is fine.
this happens when hosting Hab on Windows and also on RPI.
Even when I wait for long time after reset, I always start with this error page.

Wouldn't be possible to auto

[2015-12-21 13:25] mrx23dot commented on #3575
OpenHab: 1.8.0-SNAPSHOT, stock web interface
sorrycouldn't attach screenshot.

[2015-12-21 14:11] querdenker2k commented on #3523
I found some complication. The Davical server does not change the file modification date if an event was changed, just the flag inside the ICS file is changed. So i have some implementation effort and a lot of testing. And a new config property is needed.

Nevertheless the Quartz problem is still open.

[2015-12-21 15:53] querdenker2k commented on #3523
There is a problem in the underlaying framework i'am using for calculating recuring events. If you have a recure rule and you move one event to another time, the event will be executed twice. The one which would occur normally and the moved one.
Could this be the problem for the Saturday event?
Or can you just maybe send my or post here the Saturday event?
Maybe this problem is already fixed in my

[2015-12-21 16:43] TheNetStriker commented on #3523
I've changed nothing in the events in the past weeks. The only change I did was about a month ago where I've deleted some single events in a week. I've looked again in the log and it seams that on friday after the event end on 01:00 it didn't find any more events to schedule. I found the same problem today in the log. (The event this morning was not triggered) Here is the log from today:

    2015

[2015-12-21 17:04] querdenker2k commented on #3523
Good question. You are loading events for one day in the future and reload them every minute. Why is an event 5 days later not loaded...
Didn't you have events from 21.12. 01:00 to 22.12. 01:00?

You can try this binding.
http://speedy.sh/VNGWW/org.openhab.io.caldav-1.8.0-SNAPSHOT.jar
And please add this property to the configuration: caldavio:davical:lastModifiedFileTimeStampValid=false

[2015-12-21 18:24] TheNetStriker commented on #3523
I've just installed the new plugin. Now also the current event (from 18:00 to 01:00) was not triggered.

[2015-12-21 18:34] Guycomesoutofthejungle opened #3577 "Fritz AHA Binding Fritz!DECT200 Number temperature Item"
Hi community,

I am diving in openhab, seems great and is new and awesome for me.
I try to set up a simple example to find out, how well the system is working with my setup.

So my issue.

I connect a DECT200 to openhab. The Switch and the Power display is working well.
Only the Temperature show no numbers (the °C isn´t displayed too).

My Configuration:
//*.sitemap:

sitemap default label="Hauptm

[2015-12-21 18:35] dakky opened #3578 "MySQL & RestoreOnStartup fails"
The state of the items is not restored after restarting openhab.
Maybe some kind of timing issue? Debug log states:
[code]

The DB is connected AFTER setting the states. touching the mysql.persist does not help. Only after sending new values, they are fixed.

OpenHab 1.7.1 - .deb packages in rasbian jessie

[2015-12-21 18:41] querdenker2k commented on #3523
Can you send me the logfile (maybe the complete one?)
Sorry you have to delete the etc/caldav folder as well, because of the new last-modified flag.

[2015-12-21 19:05] TheNetStriker commented on #3523
Deleting the files and restarting didn't help. Here are the logs:

    2015-12-21 19:59:38.861 [DEBUG] [o.i.c.internal.CalDavActivator:34  ]- CalDav Calendar IO has been started.
    2015-12-21 19:59:39.175 [DEBUG] [.i.c.internal.CalDavLoaderImpl:176 ]- overriding default timezone Europe/Berlin with Europe/Berlin
    2015-12-21 19:59:39.177 [DEBUG] [.i.c.internal.CalDavLoaderImpl:183 ]- found time

[2015-12-21 19:14] querdenker2k commented on #3523
What you see is currently not a problem, just a timing mistake. The openHAB runtime already starts caldav-command binding, but the caldav-io binding does not already loads the events. After a few seconds the reloading of the events must start. The returning eventlist for just a few milliseconds is normal. Just wait a few seconds and some log messages like this should occur.
[code]

[2015-12-21 19:33] theoweiss commented on #3540
Thanks @jshprentz for tracking this down!
Just for the sake fo completeness:
/etc/init.d/openhab status works as expected as long as no other /usr/bin/java process is running.
As soon as another java process is running "/etc/init.d/openhab status" reports "openhab is running"
in any case, even if openhab is not running ;-(.

status_of_proc first checks for /var/run/java.pid and if this pid file (h

[2015-12-21 19:33] #3540 closed

[2015-12-21 19:37] SwissKid opened #3579 "Insteonplm: Feature Request: Set ramp rate for device"
For InteonPLM, when I send a command to it it updates immediately. However, in many cases I want to dim or brighten to that setting, not immediately switch.

First feature I'd like is being able to put the ramp rate in the insteonplm="" line.

Second feature would be having the ability to trigger it within a rule special. The "user story" I'm thinking of using this is:

    As a person, I'd like t

[2015-12-21 21:56] TheNetStriker commented on #3523
The new plugin seams to do nothing. After those first log entries there are no additional entries. Not event the ones every minute. What could be the problem?

[2015-12-21 22:06] querdenker2k commented on #3523
What is your quartz thread count set to? Can you set it to 10 or higher.
Have you add the two items? Would be useful for error detection.

[2015-12-21 22:09] TheNetStriker commented on #3523
I've not added the items yet. How can I set the thread count?

[2015-12-21 22:18] querdenker2k commented on #3523
Quartz.properties inside the etc folder

[2015-12-21 22:34] TheNetStriker commented on #3523
I've checked the folder but found no files. I've also checked the folder rights and openhab should be able to write into the folder, any ideas?

[2015-12-22 07:40] querdenker2k commented on #3523
In openhab-root/etc/ should be a file named quartz.properties. As well there should be a folder named caldav/ where all your calendars you are using (probably one) are placed inside. In the folder should be a few *.ics files.

[2015-12-22 08:56] devUBi opened #3582 "openHAB on raspberry starting problems"
I have some problems starting my openHAB on a raspberry PI. System is starting without any exceptions/errors etc. but mostly after startup UI is updated only once and no more change after that. UI is no more responsive. F.e. changing a switch has no effect and normally after a few minutes UI is no more available and even no events are logged/processed any more, so a restart is required. Normally i

[2015-12-22 08:57] PolishBen opened #3583 "Snapshot binding for CCTV"
Hi All

This is a ticket to track the changes I plan to introduce for the snapshot CCTV binding as discussed here: https://community.openhab.org/t/binding-to-integrate-with-imagery-generated-by-motion-detection-cctv/2985/4

I need to get community feedback on the code and check it runs on OH2 before I can do a pull-request.

My fork with work in progress is here: https://github.com/PolishBen/openh

[2015-12-22 09:13] MrMerlino commented on #2863
Uppp!
do you think there is the possibility to fix this problem?

[2015-12-22 10:10] watou commented on #3582
If you could post your experiences at https://community.openhab.org, more people could help diagnose the issue.  Over at the community site, please post this information as well as how you installed openHAB, how you start it, which model Raspberry Pi and OS version you're using, whether you use external or network disks, anything that might be unique to your setup.  Also consider installing the la

[2015-12-22 10:22] watou commented on #3583
Could you share a JAR file and wiki page, and it's OK to submit a pull request for review only.  Thanks very much, Ben!

[2015-12-22 10:31] #3582 closed

[2015-12-22 11:08] amarpulli544 opened #3584 "[openHAB1] Couldn't build the eclipse rcp and rap ide"
I getting the error ,while compiling  the openHAB1 in the eclipse.
Error name:
The project was not built since its build path is incomplete. Cannot find the class file for org.eclipse.jetty.http.HttpBuffers. Fix the build path then try building this project	org.openhab.io.myopenhab.
System Environment:
Operating System:   Windows 7(32 bit)
Java Version:   JDK 1.8

[2015-12-22 11:10] PolishBen commented on #3583
sure no problem - will do.  Will also work on sharing the sourecode on my fork too.

[2015-12-22 12:46] TheNetStriker commented on #3523
On my system the folder is in "/etc/openhab/jetty/etc/caldav" but that folder is empty. I've now found the quartz.properties in /etc/openhab/quartz.properties and set the thread count to 10, but that didn't change anything. The caldav folder is still empty and no events are loaded. Are there maybe any other new settings?

[2015-12-22 13:00] PolishBen commented on #3583
wiki page: https://github.com/openhab/openhab/wiki/Snapshot-Binding

I just need to add info about logging/debugging.

[2015-12-22 13:21] querdenker2k commented on #3523
Ah have you installed with a debian package?
There is a caldav folder but no folders inside?
Can you please check rights and if it is not working create a folder named "command"

[2015-12-22 13:45] TheNetStriker commented on #3523
Yes I'am using ubuntu and installed openhab with apt-get. Here are the rights inside the etc folder:

    root@arm:/etc/openhab/jetty/etc# ls -l
    total 44
    drwxrwxr-x 3 openhab openhab  4096 Dec 22 14:36 caldav
    drwxrwxr-x 2 openhab openhab  4096 Nov  5 14:09 habmin
    -rwxr--r-- 1 root    root     9716 Nov  6 14:36 jetty.xml
    -r--r----- 1 openhab openhab  2250 Jul 31 23:43 keystore

[2015-12-22 13:59] PolishBen commented on #3583
OK so I did the wiki page and here's the binding as a jar:

[org.openhab.binding.snapshot-1.8.0-SNAPSHOT.jar.zip](https://github.com/openhab/openhab/files/69742/org.openhab.binding.snapshot-1.8.0-SNAPSHOT.jar.zip)

Will continue to work on a pull request.

[2015-12-22 15:13] PolishBen commented on #3583
I pushed the code to https://github.com/PolishBen/openhab and would be grateful for any comments/suggestion/feedback.

[2015-12-22 18:51] 27maximilian opened #3586 "z-wave product database: please add nodon soft remote"
Could the Nodon Soft Remote please be added to the product database.

Based on the Nodon Octan Remote configuration and [Pepper1](http://www.pepper1.net/zwavedb/device/773) I already modified the products.xml and created a device configuration xml.

[code]
[soft_remote.xml.zip](https://github.com/openhab/openhab/files/70070/soft_remote.xml.zip)

[2015-12-22 18:58] cdjackson commented on #3586
Thanks. I appreciate you making the files - I've added it to the repo so it should be available tomorrow in the nightly build (assuming it's building at the moment).

[2015-12-22 19:50] ssalonen commented on #3558
I'm not sure I follow.. I think it is arbitrary how to encode 32bit values into 16bit registers in modbus since the standard does not define any interpretation over registers. I can verify that the the current logic of big-endian registers (high 16bits in big endian order followed by low 16bits in big endian format) is something seen in the wild: my Siemens S7 PLC uses this convention for 32bit fl

[2015-12-22 19:56] ssalonen commented on #3558
I just noted the original discussion in  #3537. Did I understand correctly that different endianness combinations (comment from @diverseg) shoud apply here?

[2015-12-22 19:58] ssalonen commented on #3537
So if I understand correctly, would this issue be resolved if a configurable retry-timeout is introduced for each slave?

[2015-12-22 20:08] masoud-omidvar commented on #3537
yes, dear Sami. It will be will be helpful.

[2015-12-22 20:17] masoud-omidvar commented on #3558
Dear Sami,
If you write a simple unit test for extractStateFromRegisters method, you will get the point for big endian. I do think that most Modbus slaves use this endianness.

[2015-12-22 20:30] ssalonen commented on #3546
You are right that error messages are not quite self-explanatory. I have actually worked on improved error messages in [my branch](https://github.com/ssalonen/openhab/tree/modbus-connection-fixes-error-messages/bundles/binding/org.openhab.binding.modbus) -- it's must-have to have better error messages even during developmnet. In my branch you can see the exact error code as WARN level (as referenc

[2015-12-22 20:43] teichsta commented on #3104
@lewie could you please summarise if and what is still open here?

[2015-12-22 20:58] ssalonen commented on #3558
Hi @masoud-omidvar,

Good to have conversations on the binding! I've been thinking similar issues as well.

Actually I have already made an integration test (jamod modbus server (modbus slave), connected using openhab modbus binding) similar to this topic.

In my test I [encode 64 bit integer `123456` (high bytes first)](https://github.com/ssalonen/openhab/blob/modbus-binding-tests/bundles/binding

[2015-12-22 21:01] ssalonen commented on #2043
Community forums now [engaged in the discussion](https://community.openhab.org/t/connection-pooling-in-modbus-binding/5246/2).

I think a clean approach would be to pool connections, see more details in the forums.

[2015-12-22 21:10] ssalonen commented on #652
Is this issue obsolete? Looking at [@vores8 commit](https://github.com/openhab/openhab/commit/75e8df0b77dd4dfecb324dd69ea53b4e1fc96158), I don't see anything similar in current implementation. In fact, only reference to `UnDefType.UNDEF` is in `ModbusGenericBindingProvider.translateBoolean2State`, and that seems to be safe.

[2015-12-22 21:16] ssalonen commented on #428
The function codes 2, 1, 5, and 15 are operating on individual bits but the they refer to different memory areas on the slaves (see [adressing section](https://en.wikipedia.org/wiki/Modbus#Coil.2C_discrete_input.2C_input_register.2C_holding_register_numbers_and_addresses) in wikipedia). Input registers and holding registers are different.

I agree with [Joel.J.L...@googlemail.com](https://code.goo

[2015-12-22 22:05] masoud-omidvar commented on #3558
When I store 123456 at address 400101 in my Modbus slave, it will store it as:
|400101 -> E240
|400102 -> 0001
That means, the higher significant word is stored at higher address!
So, when you read them to the register and put them in ByteBuffer they are as |E2|40|00|01| which is not a correct Big Endian arrangement. But, we expect to have |00|01|E2|40|

[2015-12-22 22:06] masoud-omidvar commented on #3558
When I store 123456 at address 400101 in my Modbus slave, it will store it as:
|400101 -> E240
|400102 -> 0001
That means, the higher significant word is stored at higher address!
So, when you read them to the register and put them in ByteBuffer they are as |E2|40|00|01| which is not a correct Big Endian arrangement. But, we expect to have |00|01|E2|40|

[2015-12-23 08:08] NCO3 commented on #3583
Thanks, @PolishBen
Could you please also share a sitemap example entry?

[2015-12-23 08:22] PolishBen commented on #3583
Done

[2015-12-23 08:26] ssalonen commented on #3558
Yes, thanks for clarifying this more. I sometimes get confused with the exact terms but this explanation made it very clear!

From the user perspective, I would like to see alternatives to to valuetypes "int32" and "float32". We could introduce the following: int32abcd, int32badc, int32cdab, int32dcba. Naturally it should be well explained in the wiki to be usable...

What do you think?

[2015-12-23 08:40] ssalonen commented on #428
Correction to my previous statement: there is "Mask Write Register" (function code 22) which would fit bill exactly. Unfortunately I think it might one of the rare functions, and thus support for it might be limited.

And I actually realized that the topic is related writing of non-16bit values (holding register or input register) in general. Currently, we support reading individual bits from regi

[2015-12-23 10:02] masoud-omidvar commented on #3558
Approach (A)
Based on Modbus specification word must be stored as big-endian. So, we can omit byte-swap combinations (badc & dcba) and stick to word-swap cases (Using less types is more convenient). So we could have the following types:
int32abcd, int32cdab, float32abcd, float32cdab

Approach (B)
we can use the current types and introduce a new boolean property as MSWF  (Most Significant Word Firs

[2015-12-23 10:05] querdenker2k commented on #3523
you have to change
```caldavio:davical:lastModifiedFileTimeStampValid=false```
to
```caldavio:command:lastModifiedFileTimeStampValid=false```

How many seconds/minutes after the openHAB start is the logfile?

[2015-12-23 10:08] 27maximilian commented on #3586
Thanks for the quick implementation.

I tested the new nightly build this morning and it works fine.

[2015-12-23 10:15] #3586 closed

[2015-12-23 11:17] TheNetStriker commented on #3523
I've changed the lastModifiedFileTimeStampValid config and added the two items and now it seams to work. The "type:DATE" item says the next trigger is tonight at 18:00. What exactly is the switch item "type:VALUE" good for?

[2015-12-23 11:41] scottnzuk commented on #1564
Apologies If jumping the gun but looks like this is still an issue for some time.

If yes, what is the best alternative, Im new to openHAB, been researching for days and come to conclusion Zwave is best way forward as a protocol and also raspberry Pi ( I have 6 of them) but not used together.

Then I seen Pine64, sounds great!!! but its some time away.

https://github.com/openhab/openhab/wiki/Z-Wa

[2015-12-23 11:44] querdenker2k commented on #3523
I've installed openhab via apt-get and the folders cannot be created, nor the cached ics files. I have to check this, but i think i cannot change something, if the rights does not match...
With these two items you can see when the next event occurs for a given item and to what value it will be changed (should be described in the wiki). The value item must be a valid item type.

[2015-12-23 11:45] NCO3 commented on #3583
Thanks.
Yes, it's trivial ;-)
What I meant was an example how to implement the snapshot view into the sitemap.
like:
Webview url="/weather?locationId=home&layout=example&iconset=colorful" height=7

Sorry, if this is trivial again... ;-)

[2015-12-23 11:57] berndpfrommer commented on #2569
I believe this issue can be closed now.

[2015-12-23 12:11] avdleeuw commented on #1564
Scott,

I'm currently using a BananaPi (RPi clone) to run OpenHab in both a 'production' environment and a test environment.

While I thought I suffered from the duplicated messages in the past, I've not seen any issues with that since reporting it. Since the RPi platform isn't the fastest, you have to take into account that starting Openhab may take a few minutes, depending on the number of bindi

[2015-12-23 12:13] PolishBen commented on #3583
doh! OK sorry yes I see what you mean.  Yes just do Webview url="/snapshot".  I will check my sitemap file when I get home tonight and update the wiki with an example.

[2015-12-23 12:36] pehon opened #3591 "Add zwave device to database: Everspring HAC01"
Hello!

Please add this z-wave device to the database:

Everspring [ID:1,Type:10]

NODE 19: Node advancer: SET_ASSOCIATION - Unknown device: 60:10:1

http://my-domotique.com/store/index.php?controller=attachment&id_attachment=58
http://www.pepper1.net/zwavedb/device/493

Thanks,
Peter

[2015-12-23 13:15] cdjackson commented on #1564
I would just void the RPi - the RPi2 I think is ok, although I can't personally vouch for this, but there are plenty of other options available (BananaPi, ODroid...). There's nothing that can be done (I believe) in openhab to resolve this so this issue is only left open for visibility (along with the warning in the wiki).

[2015-12-23 14:02] dvanherbergen commented on #1874
@steve-bate This issue can be closed with tag "won't fix" or something similar. Thanks.

[2015-12-23 14:08] scottnzuk commented on #1564
Thanks for fast replies.

The page says ARM based architectures?

I was put off ODroid and Banana Pi but if sure they are working then ill buy one of them and USB Zwave

[2015-12-23 14:30] avdleeuw commented on #1564
Is the Banana Pi still 'better' than the RPi?

I haven't been tracking this anymore, lately... but I do know the RPi2 (as Chris mentions) is definitely more powerful than the Banana Pi I'm currently using. And prob. at the same cost.

[2015-12-23 16:56] cdjackson commented on #1564
I have an Odroid XU3 and I don’t recall it having problems although I’ve not used it with zwave for quite a while.

I think the statement about ARM architectures was maybe a bit worse case as we don’t really know what the problem is. I don’t think it exists on any other board - sometime you’ll see people say they have the problem on other boards, but when I look at the logs, it’s not the same thin

[2015-12-23 18:02] watou opened #3592 "[astro] NullPointerException"
[code]

This looks like the `itemName` key was not in the `jobDataMap` [in this code](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.astro/src/main/java/org/openhab/binding/astro/internal/job/ItemJob.java#L25).  @gerrieg, could you look at this?
##

[2015-12-23 18:35] gerrieg commented on #3592
Currently i have no idea how this can happen. Can you please post your season items?

It seems to be a event job if the season changes, but there must be a itemName: [code] (https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.astro/src/main/java/org/openhab/binding/astro/internal/bus/PlanetPublisher.java#L140)

[2015-12-23 23:12] sja commented on #2900
@kaikreuzer I started the PR for the slider to ESH https://github.com/eclipse/smarthome/pull/778

[2015-12-23 23:15] kaikreuzer commented on #2900
Thanks! Does "started" mean that you will soon provide another follow-up PR?

[2015-12-23 23:17] sja commented on #2900
No, "started" means, started the process of review & merge. :-) Do you expect any other changes?

About this Issue: If we have a normal slider now, we won't have those timing problems anymore, because we always send absolute values, right?

[2015-12-23 23:22] kaikreuzer commented on #2900
Well, you are mentioning "so ClassicUI needs some more sync from OH1", so it seems there is work left to be done. Remember that the ClassicUI will disappear from this repo after the 1.8 release, so any code changes should by then be ported to ESH or they will be lost.

You are right, the original issue only applies to the old button solution - if this is replaced, the problems cannot appear anymor

[2015-12-23 23:47] watou commented on #3592
Here are all the items with astro bindings in my openHAB server:
[code]

[2015-12-24 06:26] NCO3 commented on #3583
Thanks! I Appreciate your help.
Your implementation is much more straight forward than my workaround. ;-)

[2015-12-24 07:46] querdenker2k commented on #3523
@hakan42 @kaikreuzer  Is etc/ still the right place to store data for a binding? Why isn't the openhab user owner of this directory so bindings can create files/folders inside?

[2015-12-24 08:15] querdenker2k commented on #736
Does somebody know if this error occurs with openhab 2 as well? If not i will update.

[2015-12-24 08:35] NCO3 commented on #736
I would be interested in this issue on OH2 as well. If it's solved, this would be a good reason to start migrating :-)

[2015-12-24 09:39] PolishBen commented on #3583
I updated the wiki page with a full example for the sitemap.  Let me know how you get on.

[2015-12-24 11:10] hakan42 commented on #3523
Etc for OH1 and userdata/caldav for OH2. Please have a look at the twitter action where I implemented a way to store data which works for both OH1 and OH2.

I will check the debian packages to see what directory you are trying to write into, but this will be after Christmas at the earliest...

[2015-12-24 11:21] amarnathreddy44 opened #3594 "OpenHAB Designer Application will "Hang(Struck)" in the System."
Hi,
step:1 Whenever  run the openHAB Designer Appication in the system.The given below screenshot along with the step1
![new1](https://cloud.githubusercontent.com/assets/16384828/11994721/86c768ee-aa69-11e5-866b-16408fb2cda9.jpg)

step:2 RAM and CPU process before pasting the url link.the given below screen shot along with the step2
![picture1](https://cloud.githubusercontent.com/assets/16384828/1

[2015-12-24 11:22] sja commented on #2900
Yes, there were some refactorings which will be lost. Won't be dramatic, but cool to keep that.
So: If the time has come to remove Classic UI from here, don't see this here as blocker. I can access ti from git history if needed.

[2015-12-24 13:25] dvbit opened #3595 "Everspring sm103 recognized as hsm02"
Hello
I have an issue with this device as per title.

This is it http://products.z-wavealliance.org/products/924

[2015-12-24 15:12] AlexCPU commented on #3058
Hi @Speederc,
I've had a bit of a play with this, and the receiving of CHIME messages seems to work successfully (I'm testing with a ByronSX compatible system).
My items file contains:
Number DoorbellButton {rfxcom="<53:ChimeSound"}
I have set MySQL persistence up to log every update from this sensor and therefore I can see a log entry every time the doorbell is pushed.  The ChimeSound represents

[2015-12-24 16:30] cdjackson commented on #3595
Please provide the product type/id that is reported in HABmin or in the logs.

[2015-12-25 00:05] kaikreuzer commented on #2900
Well, I think the chances that nobody will remember to do so are pretty high. So we will end up with older / more buggy code in ESH, while throwing away the better version of it. And the time to remove the Classic UI is there already - the 1.8 release is out very soon so it is time to act here.

[2015-12-25 01:04] z00tv commented on #2900
As an outsider - classic UI is the best this project has  - all other options except the apps are poor - sorry, UI development is not this projects strong suit.

[2015-12-25 10:56] sja commented on #2900
Ok, the next free time will be spent to get some love here. It should be between 25. and 31.12.

Von meinem Telefon gesendet

[2015-12-25 12:48] mstuebner commented on #2256
Hi, all written here sounds logical, but in that case the documentation is just wrong:

"...where the parts in [] are optional. If no port is configured a simple ping is issued."
(https://github.com/openhab/openhab/wiki/Network-Health-Binding)

I quickly checked this using Wireshark and found that even without a port number destination port=7 is set. So doc is wrong.

[2015-12-25 13:02] steve-bate commented on #2256
Port 7 is the Echo service. The Java networking code will automatically try to use that service if ICMP is not available for some reason (e.g., permissions). Please see the previously referenced community forum discussion for more details. I've just added similar information to the wiki.

[2015-12-25 14:39] teichsta commented on #2945
i've added eclipse/smarthome#782 to fix this issue …

[2015-12-25 14:59] teichsta commented on #1613
hmm … even the latest [orbit build](http://download.eclipse.org/tools/orbit/downloads/drops/R20151118145958/) does only provide logback 1.0.7 whereas the logback fixes comes with 1.0.12 and 1.1.3. Since ESH relies on the orbit builds, too, why is ESH not affected?

@shb256 can you confirm this issue is still present with the latest JDK update?

[2015-12-25 15:05] teichsta commented on #1288
thanks @watou for this reference! Since a workaround seem to be available (removing the quotes for minValue, maxValue und step attributes) i wouldn't consider this issue to be critical anymore. We should also move this issue to the iOS issue tracker.

[2015-12-25 15:09] teichsta commented on #1288
ftr: this issue will be further worked on in openhab/openhab.ios#66

[2015-12-25 15:09] #1288 closed

[2015-12-25 15:11] teichsta commented on #3104
@lewie any chance to have a look at this one in the coming days?

[2015-12-25 21:21] watou opened #3596 "[weather-binding] add today's precipitation"
Please see [this discussion](https://community.openhab.org/t/wunderground-forecast-rain-total/5343).  Could you have a look at this, @gerrieg?  Many thanks.

[2015-12-26 08:38] binladin commented on #3595
Yes,  type and product id of SM103 (Type ID - 0002, product ID 0001) listed in HSM02  section od product,xml:
		<Product>
				<Reference>
					<Type>0202</Type>
					<Id>0001</Id>
				</Reference>
				<Reference>
				<Type>0002</Type>
				<Id>0001</Id>
				</Reference>
				<Reference>
					<Type>0002</Type>
					<Id>0002</Id>
				</Reference>
				<Model>HSM02</Model>
				<Label lang="en">Door/Wind

[2015-12-26 09:14] binladin commented on #3595
I've changed product.xml in my local org.openhab.binding.zwave-1.7.1.jar and repacked it (with winrar), and my SM103 working fine. In product.xml i added section:
[code]

[2015-12-26 09:37] binladin opened #3597 "Add zwave device to database: ZWave.me FT"
Please add to database ZWave.me floor thermostat, manufacturer id = 115, device type id = 24, devise id = 1. Existing FT's with same device type and device id's and several difference in firmware (version 1.1, 1.2, 1.3 and 1.4):
v1.1 - http://pepper1.net/zwavedb/device/176
v1.2 - http://pepper1.net/zwavedb/device/499
v1.3 - http://pepper1.net/zwavedb/device/645
v1.4 - http://pepper1.net/zwavedb/de

[2015-12-26 09:38] cdjackson commented on #3595
Thanks - can yo create a PR please?

[2015-12-26 09:39] cdjackson commented on #3597
It would be appreciated if you can generate the database files and create a PR - this will be a lot quicker than waiting for me to do it.

Thanks.
Chris

[2015-12-26 09:45] binladin commented on #3597
if you tell me how, I do it.
PR  - it Pull Request ?
And I have an additional question: how to take into account differences in the versions of firmware ?

[2015-12-26 09:58] cdjackson commented on #3597
Yes PR is pull request. You need to use git to create a branch - it's best to look on the web for a tutorial than for me to try and explain.

I don't mind doing this given you've created the file already if your not comfortable doing the git part - just let me know which way you'd prefer.

For versions, take a look in the products Xml file around the Fibaro devices as a number of them use multi ve

[2015-12-26 10:02] binladin commented on #3597
I will try to deal with git.

[2015-12-26 10:25] zacofany commented on #3583
Hi PolishBen,
I've tried your binding and I have 3 things:

1.
I'm using satel binding. After some time of using your snapshot, satel stops work with this bunch of messages and I think it's connected somehow to your binding:

2015-12-26 10:47:54.258 [INFO ] [o.o.b.s.i.protocol.Ethm1Module] - Connecting to ETHM-1 module at 192.168.1.191:7094
2015-12-26 10:47:54.261 [ERROR] [o.o.b.s.i.protocol.Ethm1

[2015-12-26 10:31] cdjackson commented on #3597
Cool - thanks. I can recommend SourceTree as a good GUI for Windows/Mac, or Github has it’s own software (but it’s a bit limited!).

[2015-12-26 17:02] lewie commented on #3104
Hello @teichsta and all, Merry Christmas :-)

tested in 1.8 SNAPSHOT:

**DEFAULT RULES:**
Both, Location and Call Items are working with style
item.postUpdate(state)
item.sendCommand(state)

Get Errors for both Location and Call Items with style
postUpdate("item", state)
sendCommand("item", state)

Errors:
[code]
Used Rules:
[code]

**JSR223 RULES:**
Get Errors with call Item:
seems to  be a class

[2015-12-26 19:11] mbs38 commented on #3546
Classic timeout (the Modbus device does not respond within the set time limit) is certainly worth to be a warn level error. Otherwise a Modbus device could disappear unnoticed - that's not good.
However, if the user is trying to do things the given Modbus device does not support it would probably be a lot more user friendly to throw a warn level error as well. Something that points into the direct

[2015-12-26 19:13] teichsta commented on #3104
thanks for this update @lewie … so still something left to do unfortunately!

[2015-12-26 19:51] teichsta commented on #3451
done and merged!

[2015-12-26 21:17] kaikreuzer commented on #2900
:+1:

[2015-12-26 21:42] steve-bate commented on #3579
Have you tried doing this with a Dimmer item and rules?

[2015-12-26 21:48] steve-bate commented on #3575
It works fine for me on Raspberry Pi.

[2015-12-26 22:33] theoweiss commented on #3451
@teichsta thanks for the review.

[2015-12-26 23:05] mrx23dot commented on #3575
How long does it take to boot up from reset for you?

[2015-12-26 23:19] steve-bate commented on #3575
I haven't timed it precisely, but about a minute or less to restart openHAB.

[2015-12-27 09:47] watou commented on #3596
Closing this issue with merge of #3598 .

[2015-12-27 09:47] #3596 closed

[2015-12-27 10:25] gerrieg commented on #3592
The only thing i can imagine is that you had a reload of the items file and that you previously had a astro event binding (Switch item) in your items. Can that be?

[2015-12-27 10:53] watou commented on #3592
Oddly, no.  I have only had those two `DateTime` items defined.

[2015-12-27 11:25] mrx23dot commented on #3575
okay, this issue can be closed.

On Sun, Dec 27, 2015 at 12:19 AM, Steve Bate <notifications@github.com>
wrote:

[2015-12-27 11:30] #3575 closed

[2015-12-27 11:50] mhett commented on #3513
I have now tried with build 1104 from cloudbees. Works great. Many thanks.

[2015-12-27 15:26] sim0nx opened #3600 "REST API return label with item"
Hi,

When requesting an item from the REST API, it only return the following attributes:
type
name
state
link

Please also include the label set in the items configuration file.

[2015-12-27 16:18] kaikreuzer commented on #1613
Simply because ESH is a framework, not a solution. ESH-based solutions can use any slf4j compliant logging framework and are not constrained to logback.

[2015-12-27 18:28] slaboure opened #3601 "setpermission.sh missing some directories"
For an apt-get installation to work, setpermission.sh must be modified to also "chown" /var/log/openhab (for logs) and /usr/share/openhab (for Dropbox timestamp files for example). This is not being done on 1.7.1

[2015-12-27 18:37] slaboure opened #3602 "OpenHAB sends 0-bytes files to Dropbox following a change on another device"
Setup:
- 1.7.1 on Odroid XU4, Ubuntu 15.04
- Dropbox setup in BIDIRECTIONAL
- synchronization occuring every minute
  dropbox:uploadInterval=0 0/1 \* \* \* ?
  dropbox:downloadInterval=5 0/1 \* \* \* ?
  dropbox:syncmode=BIDIRECTIONAL

Use Case:
- modifying one of the config file (bla.items, etc.) on my computer
- change gets sync'ed back to Dropbox
- OpenHAB initiates a sync, so downloads the new

[2015-12-27 18:45] teichsta commented on #3600
Hi @sim0nx, thanks for feature request. Please note, that the OH1 core framework is frozen and has been taken over by the ESH project. Please have a look at the current REST interface there and discuss this feature first [in the forum](https://community.openhab.org).

[2015-12-27 18:45] #3600 closed

[2015-12-27 18:47] teichsta commented on #3602
thanks for letting us know @slaboure!

[2015-12-27 18:48] teichsta commented on #3601
could you have a look please @theoweiss?

[2015-12-27 19:36] AlanGreene commented on #3517
I stumbled across the same behavior when trying to achieve something similar to https://github.com/openhab/openhab/issues/2235. The frame heading is displayed as in @tbail's screenshot:

    itemLabel <span style="">itemValue</span>

The wiki at https://github.com/openhab/openhab/wiki/Explanation-of-Sitemaps#element-frame mentions the "item" attribute but does not document its purpose or the expec

[2015-12-27 23:38] ldemeyer commented on #2900
Since a week now I started learning OpenHAB. I ran into a problem that is related to this post I think. This issue is also affecting me when using the android app. I made a rollershutter item and on the webpage, I got the 2 up-down arrows (round ones) and that was fine  but on the android app I got a slider. The up/down on the webpage sent out the UP and DOWN commands, BUT the app sent the % slide

[2015-12-28 03:47] dougmeredith commented on #1742
I just tried the demo with a fresh install of 1.7.1, and the issue still seems to be there.

2015-12-27 23:44:12.622 [ERROR] [m.r.internal.engine.RuleEngine] - Error during the execution of startup rule 'Initialize light states': Could not invoke method: org.openhab.model.script.actions.BusEvent.postUpdate(org.openhab.core.items.Item,java.lang.Number) on instance: null
2015-12-27 23:44:12.705 [ERR

[2015-12-28 10:13] idserda commented on #2301
This issue can be closed since this has been implemented a long time ago :smiley:

[2015-12-28 10:58] watou commented on #2301
Thanks @idserda.

[2015-12-28 10:58] #2301 closed

[2015-12-28 14:51] idserda commented on #3531
I've submitted a pull request to fix this.

[2015-12-28 15:53] boxerfahrer opened #3607 "Novelan / Luxtronic Port has changed"
Alpha Innotec recently release firmware version 1.77 to improve the defroster behaviour of the heatpump and to support a newer version of the java runtime. Unfortunately, they also changed the port number to connect to the heatpump from 8888 to 8889.

Is there a chance to pull the port number out of the novelan plugin code and put it as a configuration item into the openhab config file? That would

[2015-12-28 16:26] theoweiss commented on #3601
Ok, I will check that.

[2015-12-28 17:11] watou commented on #3607
Hi Stefan, could you replace your current novelanheatpump bunding jar with [this one](https://dl.dropboxusercontent.com/u/4286376/novelanheatpump-port-config/org.openhab.binding.novelanheatpump-1.8.0-SNAPSHOT.jar), and add the following to your openhab.cfg:
[code]
If this change fixes the issue and there seem to be no negative side effects in your installation, I will submit a pull request with th

[2015-12-28 19:03] robertoinberlin opened #3611 "users.cfg does not work correctly"
I hope I am not wrong on this, however:
* System: openhab 1.7.1, running on my laptop and on Raspberry Pi (both on Ubuntu)
* adding following line to users.cfg:
   <code> user=pwd,test_user,role</code>
* login via web app and android fails with <code>test_user/pwd</code>, however it will work if I login with credentials: <code>user/pwd</code>.
Seems that "user" is somewhere hard-coded...?

[2015-12-28 19:07] watou commented on #3611
[Afaik from the wiki](https://github.com/openhab/openhab/wiki/Security#authentication), the syntax is
[code]
If that's not helpful, please continue with a topic at https://community.openhab.org, as there will be other members who can offer ideas.  Thank you!

[2015-12-28 20:10] dominicdesu opened #3613 "Error in log when resetting power consumption of zwave METER device"
As discussed in #3603:
Trying to reset the total power consumption shows an error in the log file, even though it actually works.

Item:
[code]

Log file extract:
[code]

Please see [here](https://gist.github.com/dominicdesu/1073fe1bef9fd8635a91) for the complete log.

[2015-12-28 21:16] dvbit commented on #3595
Thanks Binladin/Chris!

[2015-12-28 21:22] SwissKid commented on #3579
Can i specify a specific ramp rate for the dimmer item anywhere? I don't see anywhere to specify anything except a max brightness.... I'd need to be able to do something like

    Dimmer d1 "dimmer 1" {insteonplm="xx.xx.xx:F00.00.11#dimmer,ramprate=20"}

And that's not possible with current configs from what I can tell.
Currently, it's using the "on" command (though i feel as if it's using "fast o

[2015-12-28 21:35] steve-bate commented on #3579
Maybe @berndpfrommer can comment, but I don't think that's currently possible directly with the binding although it would be an interesting feature (I have some of those bulbs too).

[2015-12-28 23:05] boxerfahrer commented on #3607
Hi John,

I confirm that this works perfectly with firmware version 1.77 on Alpha Innotec Luxtronic. You saved my day :-) Thanks a lot for the quick reply and solution

BR Stefan

[2015-12-28 23:05] #3607 closed

[2015-12-28 23:12] berndpfrommer commented on #3579
Should not be too hard to implement. This document is pretty good:

http://www.madreporite.com/insteon/ramprate.htm

I suggest to introduce a new feature, and map it to a switch. It really is a separate command, so tying it into the "dimmer" feature is probably not a good idea. How about this syntax:

Switch rampRateSwitch "dimmer 1 ramp" {insteonplm="xx.xx.xx:F00.00.11#ramponoff,ramptime=20,rampl

[2015-12-29 06:59] hmerk commented on #3538
@teichsta this issue can be closed as the according pr was merged.

Best
Hans-Jörg

[2015-12-29 07:03] watou commented on #3538
Closed by #3544

[2015-12-29 07:03] #3538 closed

[2015-12-29 08:12] staehler opened #3618 "Force remote URL"
When logged in in a WLAN with similar adress range than the own intranet, habdroid tries to use the local URL, which will not work.
Please make it possible to force the use of the external URL.
Thanks and regards,
Michael

[2015-12-29 09:36] watou commented on #3618
Could you open this in https://github.com/openhab/openhab.android/issues and close the one here?  Thank you!

[2015-12-29 09:56] HolgerHees commented on #2586
Hello,

I have exactly the same issues with openhab 1.7.1

It happens for me If I run openhab with Java 8 (1.8.0_65)

If I go back to Java 7 (1.7.0_10) everthing works fine.

The only difference is that it happens not only on system startup. It happens the whole time.

Every time when I trigger the rule I can loop over all items and print the item name. The log statement works for me too. But If I